Repository solana-labs/solana, pull requests merged in 2018-09, with the labels that each got.

#1050 Simple JSON-RPC API Documentation
  doc/json-rpc.md
Labels: noCI

#968 Trace recycle() calls
  src/banking_stage.rs
  src/bin/bench-streamer.rs
  src/broadcast_stage.rs
  src/crdt.rs
  src/erasure.rs
  src/packet.rs
  src/replicate_stage.rs
  src/request_stage.rs
  src/retransmit_stage.rs
  src/streamer.rs
  src/window.rs
Labels: work in progress

#1139 Add Leslie Lamport quote to README
  README.md
Labels: noCI

#1143 ci: Keep cargo-target-cache size under 6GB-ish
  .buildkite/hooks/pre-command
Labels: automerge

#1146 bench-tps: Fix --num-nodes argument parsing
  src/bin/bench-tps.rs
Labels: automerge

#1155 remote-sanity.sh: /var/snap is not writable by most users
  net/remote/remote-sanity.sh
Labels: automerge

#1156 net/remote/remote-startup.sh: Install libssl1.1 for solanalabs/rust docker image compat
  net/remote/remote-startup.sh
Labels: automerge

#1163 Fix OOM reporting
  multinode-demo/common.sh
  scripts/oom-monitor.sh
  scripts/snap-config-to-env.sh
  snap/snapcraft.yaml
Labels: automerge

#1167 Use a common solana user on all testnet instances
  net/common.sh
  net/gce.sh
  net/net.sh
  net/remote/remote-client.sh
  net/scripts/create-solana-user.sh
  net/scripts/disable-background-upgrades.sh
  net/scripts/gcloud.sh
  net/ssh.sh
Labels: automerge

#1175 Add sleep to prevent spinning thread in JsonRpcService
  src/rpc.rs
Labels: automerge

#1183 remove -x
  multinode-demo/client.sh
Labels: automerge

#1201 Add docker install script
  net/gce.sh
  net/scripts/install-docker.sh
Labels: automerge

#1213 Rewrote service trait join() method to allow custom join values
  src/banking_stage.rs
  src/bin/bench-tps.rs
  src/blob_fetch_stage.rs
  src/broadcast_stage.rs
  src/fetch_stage.rs
  src/fullnode.rs
  src/ncp.rs
  src/record_stage.rs
  src/replicate_stage.rs
  src/request_stage.rs
  src/retransmit_stage.rs
  src/rpc.rs
  src/rpu.rs
  src/service.rs
  src/sigverify_stage.rs
  src/tpu.rs
  src/tvu.rs
  src/vote_stage.rs
  src/write_stage.rs
Labels: work in progress

#1234 solana-keygen: Mark --outfile parameter as required
  src/bin/keygen.rs
Labels: automerge

#1242 Change process_command return type and improve test
  src/bin/wallet.rs
  src/wallet.rs
Labels: automerge

#1245 system contract tests
  src/system_contract.rs
  src/transaction.rs
Labels: automerge

#1258 Clarify RFC 006
  rfcs/rfc-006-budget-contract-language.md
Labels: noCI

#1272 Remove Tvu functionality in Fullnode because it's unused for now
  src/fullnode.rs
  src/write_stage.rs
Labels: automerge

#1280 budget_contract: Avoid crashing on bad account userdata
  src/budget_contract.rs
  src/system_contract.rs
  src/transaction.rs
Labels: automerge

#1288 rpc: Rename getAccount to getAccountInfo
  doc/json-rpc.md
  src/rpc.rs
Labels: automerge

#1331 remove dead code
  src/ledger.rs
Labels: automerge

#1334 groom write_stage
  src/write_stage.rs
Labels: automerge

#1357 PoH Recorder to synchronize PoH, bank's last_id queue, and ledger entries
  benches/bank.rs
  benches/banking_stage.rs
  src/banking_stage.rs
  src/fullnode.rs
  src/lib.rs
  src/poh_recorder.rs
  src/poh_service.rs
  src/tpu.rs
Labels: automerge

#1369 rpc.rs: Add trace! when an error is mapped to GenericFailure
  src/rpc.rs
Labels: automerge

#1374 ttt: Improve game setup experience: X now shares game key and accepts O
  src/tictactoe_program.rs
Labels: automerge

#1391 move program tests to integration
  Cargo.toml
  src/dynamic_program.rs
  src/system_program.rs
  tests/programs.rs
Labels: automerge

#1402 Update for new solana-jsonrpc
  ci/test-stable.sh
  src/rpc.rs
Labels: automerge

#1401 v0.9 version of #1384
  src/bank.rs
  src/lib.rs
  src/tictactoe_dashboard_program.rs
  src/tictactoe_program.rs
Labels: automerge
