Repository solana-labs/solana, pull requests merged in 2018-12, with the labels that each got.

#1989 Update to llvm 0.0.4
  sdk/bpf/scripts/install.sh
Labels: automerge

#2007 Move markdown book theme to its default directory
  book/book.toml
  book/theme/book.js
  book/theme/css/chrome.css
  book/theme/css/general.css
  book/theme/css/print.css
  book/theme/css/variables.css
  book/theme/favicon.png
  book/theme/highlight.css
  book/theme/highlight.js
  book/theme/index.hbs
Labels: automerge

#2014 bpf.mk: Remove stray tabs
  sdk/bpf/bpf.mk
Labels: automerge

#2006 Rewrite programming model with developer focus
  book/src/programs.md
  book/src/terminology.md
Labels: automerge

#1900 Rocks db erasure decoding
  src/db_ledger.rs
  src/db_window.rs
  src/erasure.rs
  src/packet.rs
  src/window.rs
Labels: work in progress

#2018 Reorg programming model to be more top-down
  book/src/programs.md
Labels: automerge

#2031 Remove non-common functions from multinode-demo/common.sh
  multinode-demo/common.sh
  multinode-demo/validator.sh
Labels: automerge

#2047 Update versions in install-libssl-compatibility.sh
  net/scripts/install-libssl-compatability.sh
Labels: automerge

#2088 ci/localnet-sanity.sh: Add sleep to work around drone startup delay
  ci/localnet-sanity.sh
Labels: automerge

#2092 Disable leader rotation for testnet-automation until it's ready
  ci/testnet-automation.sh
Labels: automerge

#2125 Cherrypick recent changes to gossip RFC
  book/src/gossip.md
  rfcs/0012-gossip.md
Labels: automerge

#2131 No longer reserve terms from the terminology chapter
  book/src/entry-tree.md
  book/src/leader-rotation.md
  book/src/ledger-replication.md
  book/src/terminology.md
Labels: automerge

#2061 Add fork selection RFC
  book/src/SUMMARY.md
  book/src/fork-selection.md
  tests/fork-selection.rs
Labels: noCI

#2173 Move src/logger.rs into logger/ crate to unify logging across the workspace
  Cargo.lock
  Cargo.toml
  bench-streamer/Cargo.toml
  bench-tps/Cargo.toml
  bench-tps/src/main.rs
  ci/publish-crate.sh
  drone/Cargo.toml
  drone/src/bin/drone.rs
  drone/src/drone.rs
  fullnode-config/Cargo.toml
  fullnode-config/src/main.rs
  fullnode/Cargo.toml
  fullnode/src/main.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  logger/Cargo.toml
  logger/src/lib.rs
  programs/native/bpf_loader/Cargo.toml
  programs/native/bpf_loader/src/lib.rs
  programs/native/budget/Cargo.toml
  programs/native/budget/src/lib.rs
  programs/native/erc20/Cargo.toml
  programs/native/erc20/src/lib.rs
  programs/native/lua_loader/Cargo.toml
  programs/native/lua_loader/src/lib.rs
  programs/native/storage/Cargo.toml
  programs/native/storage/src/lib.rs
  programs/native/system/Cargo.toml
  programs/native/system/src/lib.rs
  programs/native/vote/Cargo.toml
  programs/native/vote/src/lib.rs
  replicator/Cargo.toml
  replicator/src/main.rs
  src/chacha_cuda.rs
  src/cluster_info.rs
  src/compute_leader_finality_service.rs
  src/crds_gossip.rs
  src/crds_gossip_push.rs
  src/erasure.rs
  src/ledger.rs
  src/lib.rs
  src/netutil.rs
  src/replay_stage.rs
  src/replicator.rs
  src/sigverify.rs
  src/storage_stage.rs
  src/thin_client.rs
  src/tvu.rs
  src/window_service.rs
  tests/data_replicator.rs
  tests/fork-selection.rs
  tests/multinode.rs
  tests/programs.rs
  wallet/Cargo.toml
  wallet/src/main.rs
Labels: automerge

#2171 wallet airdrop: Fetch a new last_id to prevent DuplicateSignature errors during AccountInUse retries
  wallet/src/wallet.rs
Labels: automerge

#2205 Switch noop program from println to solana_logger
  Cargo.lock
  programs/native/noop/Cargo.toml
  programs/native/noop/src/lib.rs
Labels: automerge

#2206 storage program: Correct crate-type to match other native programs
  programs/native/storage/Cargo.toml
Labels: automerge

#2221 Document how to create a new Azure CI machine
  ci/README.md
Labels: automerge

#2223 Build/install native programs within cargo-install-all.sh
  ci/publish-solana-tar.sh
  net/net.sh
  scripts/cargo-install-all.sh
  scripts/install-native-programs.sh
  sdk/docker-solana/build.sh
  snap/snapcraft.yaml
Labels: automerge

#2224 Run s3cmd in a container to avoid additional CI system dependencies
  ci/publish-bpf-sdk.sh
  ci/publish-solana-tar.sh
Labels: automerge

#2225 Move wallet airdrop retries into fullnode start script
  ci/localnet-sanity.sh
  multinode-demo/fullnode.sh
Labels: automerge

#2228 ci docs: Add more Azure details
  ci/README.md
Labels: automerge

#2231 Copy editing introduction
  book/src/introduction.md
Labels: automerge

#2244 db_ledger.rs: Fix compile error
  src/db_ledger.rs
Labels: automerge

#2275 Revert "Validators make a transaction to advertise their storage last_id"
  programs/native/storage/src/lib.rs
  sdk/src/storage_program.rs
  src/bank.rs
  src/chacha.rs
  src/chacha_cuda.rs
  src/replicator.rs
  src/rpc.rs
  src/storage_stage.rs
  src/tvu.rs
  tests/replicator.rs
Labels: automerge
