Repository solana-labs/solana, pull requests merged in 2018-11, with the labels that each got.

#1684 v0.10: Fix up bpf numeric types
  programs/bpf/c/sdk/inc/sol_bpf.h
  programs/bpf/c/src/noop.c
Labels: automerge

#1653 Add process for making architectural changes
  CONTRIBUTING.md
  rfcs/0001-smart-contracts-engine.md
  rfcs/0002-consensus.md
  rfcs/0003-storage.md
  rfcs/0004-leader-rotation.md
  rfcs/0005-branches-tags-and-channels.md
  rfcs/0006-budget-contract-language.md
Labels: noCI

#1696 Fix |cargo test|
  src/cluster_info.rs
Labels: automerge

#1697 Update number of genesis entries
  src/bin/ledger-tool.rs
Labels: automerge

#1705 ignore multinode demo logs
  .gitignore
Labels: automerge

#1722 Remove bpf tictactoe
  build.rs
  programs/bpf/c/src/tictactoe.c
  programs/bpf/c/src/tictactoe.h
  programs/bpf/c/src/tictactoe_dashboard.c
  tests/programs.rs
Labels: automerge

#1731 Elf relocations (#1724)
  programs/bpf/c/sdk/bpf.mk
  programs/bpf/c/sdk/inc/solana_sdk.h
  programs/bpf/c/src/move_funds.c
  programs/bpf/c/src/noop.c
  programs/native/bpf_loader/Cargo.toml
  programs/native/bpf_loader/src/lib.rs
  tests/programs.rs
Labels: automerge

#1755 Upgrade Rust stable to 1.30.1
  ci/buildkite.yml
  ci/docker-rust/Dockerfile
Labels: automerge

#1774 Don't call instructions transactions
  src/bank.rs
  src/native_loader.rs
Labels: automerge

#1776 Cleanup TVU diagram
  art/tvu.bob
  src/img/tvu.svg
Labels: automerge

#1772 Refactor execute_instruction() for extraction from bank
  src/bank.rs
Labels: automerge

#1788 net: Clean ~/solana during network start to avoid tripping over leftover files
  net/net.sh
Labels: automerge

#1790 Upgrade EC2 image to 18.04 with CUDA 9.2 and 10
  net/gce.sh
Labels: automerge

#1793 Switch to perf-libs v0.10.6
  fetch-perf-libs.sh
Labels: automerge

#1816 Publish BPF SDK to a channel-specific URL to ease downstream pickup
  ci/publish-bpf-sdk.sh
Labels: automerge

#1822 net: Setup CUDA env for local builds
  net/net.sh
  net/remote/remote-client.sh
  net/remote/remote-sanity.sh
Labels: automerge

#1825 Supply --rpc explicitly
  ci/docker-solana/entrypoint.sh
  multinode-demo/leader.sh
Labels: automerge

#1828 Fix build
  src/bin/fullnode.rs
Labels: automerge

#1852 Temporarily disable clippy
  ci/test-stable.sh
Labels: automerge

#1856 multinode-demo: Enable debug builds by default for better backtraces
  multinode-demo/common.sh
  net/net.sh
Labels: automerge

#1862 Various book cleanup
  art/fullnode.bob
  art/runtime.bob
  art/sdk-tools.bob
  src/SUMMARY.md
  src/img/fullnode.svg
  src/img/runtime.svg
  src/img/sdk-tools.svg
  src/programs.md
  src/runtime.md
  src/terminology.md
Labels: automerge

#1743 Migrate storage RFC to book
  src/SUMMARY.md
  src/porep.md
  src/storage.md
Labels: work in progress

#1863 Route program_id to program entrypoint
  programs/bpf/c/sdk/inc/solana_sdk.h
  programs/bpf/c/src/noop++.cc
  programs/bpf/c/src/noop.c
  programs/native/bpf_loader/src/lib.rs
  programs/native/erc20/src/lib.rs
  programs/native/erc20/src/token_program.rs
  programs/native/lua_loader/src/lib.rs
  programs/native/noop/src/lib.rs
  sdk/src/native_program.rs
  src/bank.rs
  src/native_loader.rs
Labels: automerge

#1883 Reorg the markdown book to cater to app devs
  src/SUMMARY.md
  src/avalanche.md
  src/cluster.md
  src/ledger.md
  src/storage.md
Labels: automerge

#1908 Uppercase acronyms
  art/fullnode.bob
  art/tpu.bob
  art/tvu.bob
  src/SUMMARY.md
  src/img/fullnode.svg
  src/img/tpu.svg
  src/img/tvu.svg
Labels: automerge

#1922 Fix snap build
  ci/snap.sh
  ci/test-bench.sh
  ci/test-large-network.sh
  ci/test-stable-perf.sh
  ci/version-check-with-upgrade.sh
Labels: automerge

#1929 bpf-sdk: Tokens are unsigned
  programs/bpf/c/sdk/inc/solana_sdk.h
Labels: automerge

#1933 bpf-sdk: Rename SolKeyedAccounts to SolKeyedAccount
  programs/bpf/c/sdk/README.md
  programs/bpf/c/sdk/inc/solana_sdk.h
  programs/bpf/c/src/move_funds.c
  programs/bpf/c/src/noop++.cc
  programs/bpf/c/src/noop.c
Labels: automerge

#1946 add entry-tree-cache and gossip rfc
  rfcs/0011-entry-tree-cache.md
  rfcs/0012-gossip.md
Labels: noCI, work in progress
