Repository solana-labs/solana, pull requests merged in 2019-03, with the labels that each got.

#3020 Bump rust-bpf-sysroot to pull in liballoc
  sdk/bpf/scripts/install.sh
Labels: automerge

#2974 Smoke test for latest rust example
  ci/test-stable.sh
  programs/bpf/rust/noop/.gitignore
  programs/bpf/rust/noop/Cargo.toml
  programs/bpf/rust/noop/Xargo.toml
  programs/bpf/rust/noop/build.sh
  programs/bpf/rust/noop/clean.sh
  programs/bpf/rust/noop/dump.sh
  programs/bpf/rust/noop/makefile
  programs/bpf/rust/noop/src/lib.rs
  programs/bpf/rust/noop/src/solana_sdk.rs
  programs/native/bpf_loader/build.rs
Labels: work in progress

#3029 Rename erc20 crate to token-program
  Cargo.lock
  Cargo.toml
  programs/native/token/Cargo.toml
  programs/native/token/src/lib.rs
  programs/native/token/src/token_program.rs
  runtime/src/bank.rs
Labels: automerge

#3034 Move secure vote signing out of proposals
  book/src/SUMMARY.md
  book/src/vote-signer.md
  book/src/vote-signing-to-implement.md
  book/src/vote-signing.md
Labels: noCI

#3041 Fnbool_to_FnOptionT
  runtime/src/bank.rs
Labels: automerge

#3042 Create vote account and fund it in local cluster test harness
  src/local_cluster.rs
Labels: automerge

#2975 Replay slots from blocktree in new forks
  src/bank_forks.rs
  src/banking_stage.rs
  src/blocktree.rs
  src/fullnode.rs
  src/poh_recorder.rs
  src/replay_stage.rs
  src/tvu.rs
  tests/replicator.rs
Labels: automerge

#3044 Brush up data-plane-fanout to read less like a proposal
  book/src/cluster.md
  book/src/data-plane-fanout.md
Labels: noCI

#3048 Fix stakes not being setup correctly in tests
  core/src/fullnode.rs
  core/src/leader_schedule_utils.rs
  core/src/local_cluster.rs
  core/src/staking_utils.rs
  runtime/src/bank.rs
  sdk/src/genesis_block.rs
Labels: automerge

#3066 Purge MAX_RECENT_TICK_HASHES
  benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/blocktree_processor.rs
  runtime/benches/bank.rs
  runtime/src/hash_queue.rs
  sdk/src/timing.rs
Labels: automerge

#3069 Remove pub from program ids
  programs/native/budget_api/src/lib.rs
  programs/native/rewards_api/src/lib.rs
  programs/native/vote_api/src/lib.rs
  sdk/src/bpf_loader.rs
  sdk/src/native_loader.rs
  sdk/src/storage_program.rs
  sdk/src/system_program.rs
Labels: automerge

#3067 Delete duplicate file
  programs/native/budget_api/src/budget_program.rs
Labels: automerge

#3077 Simplify Budget's serialize
  programs/budget/src/budget_state.rs
Labels: automerge

#3083 Add PohRecorder reset tests
  core/src/poh_recorder.rs
Labels: automerge

#3091 Defeature bpf_loader; bpf_{c,rust} features now confined to programs/bpf
  Cargo.lock
  ci/test-bench.sh
  ci/test-stable.sh
  programs/bpf/Cargo.toml
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/build.rs
  programs/bpf_loader/Cargo.toml
Labels: automerge

#3141 remove dead code
  core/src/leader_schedule_utils.rs
  runtime/src/bank.rs
Labels: automerge

#3142 Remove bench-tps, upload-perf, and bench-streamer from code coverage report
  scripts/coverage.sh
Labels: automerge

#3147 vote-signer: Clean up exit signal handling
  core/src/local_vote_signer_service.rs
  vote-signer/src/bin/main.rs
  vote-signer/src/rpc.rs
Labels: automerge

#3151 s/id/hash in block events
  core/src/blockstream.rs
Labels: automerge

#3158 Create UDP socket once per process_loop for forwarding transactions
  core/src/banking_stage.rs
Labels: automerge

#3159 Fix sorting order of stakes in confirmation time calculations
  runtime/src/bank.rs
Labels: automerge

#3161 Fix hostname part of queries in dashboard
  metrics/testnet-monitor.json
Labels: automerge

#3168 Add staking commands to wallet
  Cargo.lock
  wallet/Cargo.toml
  wallet/src/main.rs
  wallet/src/wallet.rs
Labels: automerge

#3174 Add staking commands to Wallet command unit tests
  wallet/src/main.rs
  wallet/src/wallet.rs
Labels: automerge

#3175 Use generics for add/remove subscriptions
  core/src/rpc_subscriptions.rs
Labels: automerge

#3186 Nits
  wallet/src/main.rs
  wallet/src/wallet.rs
Labels: automerge

#3200 s/account/program in program subscription info msgs
  core/src/rpc_pubsub.rs
Labels: noCI

#3223 Provide drone's host address while setting up staking account
  multinode-demo/common.sh
Labels: automerge

#3226 Update current leader information in metrics and dashboard
  core/src/replay_stage.rs
  metrics/testnet-monitor.json
Labels: automerge

#3228 Provide drone's host address while setting up staking account
  multinode-demo/common.sh
Labels: automerge

#3229 Update current leader information in metrics and dashboard
  core/src/replay_stage.rs
  metrics/testnet-monitor.json
Labels: automerge

#3235 Filter vote accounts with no delegate from being selected in Rotation
  core/src/staking_utils.rs
  core/src/voting_keypair.rs
Labels: automerge

#3249 remove Option<> wrapper for accounts
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge

#3250 Fix test_bank_storage
  programs/storage/tests/storage.rs
Labels: automerge

#3260 Replay Stage start_leader() can use wrong parent fork() (#3238)
  core/src/banking_stage.rs
  core/src/fullnode.rs
  core/src/leader_schedule_utils.rs
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  core/src/replay_stage.rs
  tests/tvu.rs
Labels: automerge

#3269 Don't vote for empty leader transmissions
  core/src/poh_recorder.rs
  core/src/replay_stage.rs
  runtime/src/bank.rs
Labels: automerge

#3273 Switch version file from .txt to .yaml; add target tuple to version.yml
  ci/publish-tarball.sh
  net/net.sh
Labels: automerge

#3295 Fix flag to disable leader-rotation (#3243)
  ci/localnet-sanity.sh
  fullnode/src/main.rs
  multinode-demo/bootstrap-leader.sh
  multinode-demo/common.sh
  multinode-demo/fullnode.sh
  net/remote/remote-node.sh
  scripts/wallet-sanity.sh
Labels: automerge

#3296 v0.12: Rename userdata to data (#3282)
  book/src/jsonrpc-api.md
  book/src/reliable-vote-transmission.md
  book/src/runtime.md
  client/src/thin_client.rs
  core/src/crds_value.rs
  core/src/leader_confirmation_service.rs
  core/src/local_cluster.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/sigverify.rs
  core/src/staking_utils.rs
  core/src/storage_stage.rs
  drone/src/drone.rs
  programs/bpf/rust/noop/src/solana_sdk.rs
  programs/bpf_loader/src/lib.rs
  programs/budget/src/budget_program.rs
  programs/budget_api/src/budget_state.rs
  programs/budget_api/src/budget_transaction.rs
  programs/rewards/src/lib.rs
  programs/rewards/tests/rewards.rs
  programs/storage/src/lib.rs
  programs/storage/tests/storage.rs
  programs/token/src/token_program.rs
  programs/vote/src/lib.rs
  programs/vote/tests/vote.rs
  programs/vote_api/src/vote_state.rs
  programs/vote_api/src/vote_transaction.rs
  runtime/src/accounts.rs
  runtime/src/append_vec.rs
  runtime/src/bank.rs
  runtime/src/native_loader.rs
  runtime/src/runtime.rs
  runtime/src/system_program.rs
  sdk/src/account.rs
  sdk/src/native_loader.rs
  sdk/src/native_program.rs
  sdk/src/transaction.rs
  sdk/src/transaction_builder.rs
  tests/thin_client.rs
  wallet/src/wallet.rs
  wallet/tests/deploy.rs
Labels: automerge

#3301 Block until instances are confirmed to be deleted
  net/gce.sh
Labels: automerge

#3328 Reduce log level for periodic debug messages
  core/src/poh_recorder.rs
  core/src/replay_stage.rs
Labels: automerge

#3329 [v0.12] Reduce log level for periodic debug messages
  core/src/poh_recorder.rs
  core/src/replay_stage.rs
Labels: automerge

#3331 Fix leader rotation counter
  core/src/replay_stage.rs
Labels: automerge

#3356 Fix broken build
  install/Cargo.toml
  wallet/Cargo.toml
Labels: automerge

#3357 Descendant spelling
  core/src/bank_forks.rs
  core/src/locktower.rs
  core/src/replay_stage.rs
Labels: automerge

#3363 Remove dangling thin_client
  core/src/thin_client.rs
Labels: automerge

#3370 Fix potential crash in banking stage
  core/src/banking_stage.rs
Labels: automerge

#3375 v0.12: Avoid panic on duplicate account indices
  runtime/src/runtime.rs
  sdk/src/native_program.rs
Labels: automerge

#3376 Drop 'unchecked' from get_subset_mut()
  runtime/src/runtime.rs
Labels: automerge

#3378 Fix is_locked_out logic
  core/src/locktower.rs
  core/src/replay_stage.rs
Labels: automerge

#3381 Allow empty ancestors when calculating reward.
  core/src/locktower.rs
Labels: automerge

#3225 Sign Gossip Vote Messages
  core/src/cluster_info.rs
  core/src/contact_info.rs
  core/src/crds_value.rs
Labels: automerge

#3392 ci/publish-tarball.sh: Include TARGET in release URL to make room for future targets
  ci/publish-tarball.sh
  net/net.sh
Labels: automerge

#3390 Repurpose is_rooted as indicated root chain
  core/src/blocktree.rs
  core/src/replicator.rs
Labels: automerge

#3397 Cleanup wallet pubkey parsing
  wallet/src/main.rs
  wallet/src/wallet.rs
Labels: automerge

#3410 Downgrade 'No next leader found' to warning
  core/src/replay_stage.rs
Labels: automerge

#3412 Cleanup SystemTransaction
  sdk/src/system_instruction.rs
  sdk/src/system_transaction.rs
Labels: automerge

#3417 solana-install: Add curl-able install script
  install/solana-install-init.sh
Labels: automerge

#3432 net/: Use same gossip port for all testnet nodes
  multinode-demo/fullnode.sh
  net/remote/remote-node.sh
Labels: automerge

#3433 v0.12: Add --poll-for-new-genesis-block flag
  multinode-demo/fullnode.sh
Labels: automerge

#3435 Reduce remaining program crates to boilerplate crates
  Cargo.lock
  programs/budget_api/src/budget_processor.rs
  programs/storage_api/Cargo.toml
  programs/storage_api/src/lib.rs
  programs/storage_api/src/storage_processor.rs
  programs/storage_program/Cargo.toml
  programs/storage_program/src/lib.rs
  programs/storage_program/tests/storage.rs
  programs/token_api/Cargo.toml
  programs/token_api/src/lib.rs
  programs/token_api/src/token_processor.rs
  programs/token_api/src/token_state.rs
  programs/token_program/Cargo.toml
  programs/token_program/src/lib.rs
  programs/vote_api/Cargo.toml
  programs/vote_api/src/lib.rs
  programs/vote_api/src/vote_processor.rs
  programs/vote_program/Cargo.toml
  programs/vote_program/src/lib.rs
  programs/vote_program/tests/vote.rs
Labels: automerge

#3441 v0.12: Retry more for a new blockhash
  wallet/src/wallet.rs
Labels: automerge

#3449 Lower airdrop debug message with raw bytes
  drone/src/drone.rs
Labels: automerge

#3457 Revert force-pushed changes
  core/src/cluster_tests.rs
  core/src/fullnode.rs
  core/src/lib.rs
  core/src/local_cluster.rs
  tests/local_cluster.rs
Labels: automerge

#3464 Using wrong keypair in test
  core/src/local_cluster.rs
Labels: automerge

#3466 Move Instruction into its own module
  core/src/banking_stage.rs
  core/src/sigverify.rs
  programs/bpf_loader/src/lib.rs
  programs/budget_api/src/budget_instruction.rs
  programs/budget_api/src/budget_processor.rs
  programs/budget_api/src/budget_state.rs
  programs/config_api/src/config_instruction.rs
  programs/config_api/src/config_processor.rs
  programs/exchange_api/src/exchange_instruction.rs
  programs/exchange_api/src/exchange_processor.rs
  programs/failure_program/src/lib.rs
  programs/failure_program/tests/failure.rs
  programs/noop_program/src/lib.rs
  programs/storage_api/src/storage_processor.rs
  programs/token_api/src/token_processor.rs
  programs/vote_api/src/vote_instruction.rs
  programs/vote_api/src/vote_processor.rs
  programs/vote_api/src/vote_state.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank_client.rs
  runtime/src/loader_utils.rs
  runtime/src/native_loader.rs
  runtime/src/runtime.rs
  runtime/src/system_program.rs
  sdk/src/instruction.rs
  sdk/src/lib.rs
  sdk/src/loader_instruction.rs
  sdk/src/native_program.rs
  sdk/src/script.rs
  sdk/src/system_instruction.rs
  sdk/src/transaction.rs
Labels: automerge

#3448 Reorg Storage program to look more like the others
  core/src/replicator.rs
  core/src/storage_stage.rs
  programs/storage_api/src/lib.rs
  programs/storage_api/src/storage_instruction.rs
  programs/storage_api/src/storage_processor.rs
  programs/storage_api/src/storage_transaction.rs
Labels: automerge

#3483 Locktower counters
  core/src/locktower.rs
Labels: automerge

#3485 keep track of locktower slots and stakes
  core/src/locktower.rs
Labels: automerge

#3484 Boot VoteTransaction
  core/src/entry.rs
  core/src/fullnode.rs
  core/src/leader_confirmation_service.rs
  core/src/local_cluster.rs
  core/src/replay_stage.rs
  core/src/voting_keypair.rs
  programs/vote_api/src/lib.rs
  programs/vote_api/src/vote_transaction.rs
  tests/thin_client.rs
  wallet/src/wallet.rs
Labels: automerge

#3488 Added stats for locktower in testnet dashboard
  metrics/testnet-monitor.json
Labels: automerge

#3490 Move stragglers into the book
  book/art/passive-staking-callflow.msc
  book/src/SUMMARY.md
  book/src/credit-only-credit-debit-accounts.md
  book/src/installer.md
  book/src/testnet-participation.md
Labels: automerge

#3492 Remove rewards crate from publishing script
  ci/publish-crate.sh
Labels: automerge

#3491 Cleanup program code
  programs/budget_api/src/budget_instruction.rs
  programs/exchange_api/src/exchange_instruction.rs
  programs/token_api/src/token_state.rs
  programs/vote_api/src/vote_instruction.rs
  sdk/src/system_instruction.rs
Labels: automerge

#3493 0.12.2
  Cargo.lock
  Cargo.toml
  bench-streamer/Cargo.toml
  bench-tps/Cargo.toml
  client/Cargo.toml
  core/Cargo.toml
  drone/Cargo.toml
  fullnode/Cargo.toml
  genesis/Cargo.toml
  keygen/Cargo.toml
  ledger-tool/Cargo.toml
  logger/Cargo.toml
  metrics/Cargo.toml
  netutil/Cargo.toml
  programs/bpf/Cargo.toml
  programs/bpf/rust/noop/Cargo.toml
  programs/bpf_loader/Cargo.toml
  programs/budget/Cargo.toml
  programs/budget_api/Cargo.toml
  programs/failure/Cargo.toml
  programs/noop/Cargo.toml
  programs/rewards/Cargo.toml
  programs/rewards_api/Cargo.toml
  programs/storage/Cargo.toml
  programs/storage_api/Cargo.toml
  programs/token/Cargo.toml
  programs/token_api/Cargo.toml
  programs/vote/Cargo.toml
  programs/vote_api/Cargo.toml
  replicator/Cargo.toml
  runtime/Cargo.toml
  sdk/Cargo.toml
  upload-perf/Cargo.toml
  vote-signer/Cargo.toml
  wallet/Cargo.toml
Labels: automerge

#3497 Fix metrics link.
  book/src/testnet-participation.md
Labels: automerge

#3499 Mark book's javascript library as binary
  book/.gitattributes
Labels: automerge

#3500 Move new_move_many to SystemInstruction
  bench-tps/src/bench.rs
  runtime/src/bank.rs
  sdk/src/instruction.rs
  sdk/src/system_instruction.rs
  sdk/src/system_transaction.rs
Labels: automerge

#3504 [v0.12] Record the current nodes locktower votes from the bank (#3502)
  core/src/locktower.rs
Labels: automerge

#3505 Observed locktower stats
  core/src/locktower.rs
Labels: automerge

#3511 [v0.12] also check the delegate_id
  core/src/locktower.rs
Labels: automerge

#3513 Update metrics link in testnet-participation.md
  book/src/testnet-participation.md
Labels: automerge

#3514 Add provisions to specify a database server in testnet manager buildkite
  ci/testnet-manager.sh
Labels: automerge

#3515 [V0.12] Provisions to direct metrics output from a specific testnet to cloud influxdb
  ci/testnet-manager.sh
Labels: automerge

#3517 Remove a mostly unused Transaction constructor
  runtime/src/bank.rs
  sdk/src/transaction.rs
Labels: automerge

#3521 Remove Transaction::new_signed
  drone/src/drone.rs
  drone/tests/local-drone.rs
  sdk/src/transaction.rs
Labels: automerge

#3529 Fix locktower delegate
  core/src/locktower.rs
  core/src/replay_stage.rs
Labels: automerge

#3544 enable leader rotation in beta testnet
  ci/testnet-manager.sh
Labels: automerge

#3548 Fix EC2 scripts for blockstream startup
  net/scripts/ec2-provider.sh
Labels: automerge

#3550 [v0.12] Fix EC2 scripts for blockstream startup
  net/scripts/ec2-provider.sh
Labels: automerge

#3551 Fixup wallet-sanity to match new balance string
  scripts/wallet-sanity.sh
Labels: automerge

#3556 Just test features in core
  ci/test-stable.sh
Labels: automerge

#3565 Send metrics data to the correct/configured database host
  scripts/metrics-write-datapoint.sh
Labels: automerge

#3567 [v0.12] Send metrics data to the correct/configured database host
  scripts/metrics-write-datapoint.sh
Labels: automerge
