Repository solana-labs/solana, pull requests merged in 2019-06, with the labels that each got.

#4513 Enable non-zero fees for all testnets
  multinode-demo/fullnode.sh
  net/gce.sh
  net/remote/remote-node.sh
  net/ssh.sh
  scripts/cargo-install-all.sh
Labels: automerge

#4521 Revert "Enable non-zero fees for all testnets (#4513)"
  net/remote/remote-node.sh
Labels: automerge

#4528 Move validation submissions into its own fn
  core/src/storage_stage.rs
Labels: automerge

#4531 solana-install now compiles for Windows
  core/build.rs
  install/src/command.rs
  netutil/src/lib.rs
Labels: automerge

#4550 v0.15: Wait for crate to be locatable on crates.io after uploading (#4526)
  ci/publish-crate.sh
Labels: automerge

#4551 Sanity check that runs on the blockstreamer node now checks that node instead of the bootstrap leader
  net/net.sh
  net/remote/remote-sanity.sh
Labels: automerge

#4557 v0.15: Avoid sudo in tune-system.sh unless requested by the user (#4556)
  net/remote/remote-node.sh
  scripts/tune-system.sh
Labels: automerge

#4572 ci: Give coverage build more time
  ci/buildkite.yml
Labels: automerge

#4579 Clean up .configured flag handling to work with an external identity keypair
  book/src/testnet-participation.md
  multinode-demo/fullnode.sh
Labels: automerge

#4590 Ignore bench_banking_stage_multi_accounts until it can be fixed
  core/benches/banking_stage.rs
Labels: automerge

#4589 v0.15: Limit short_vec length to u16, usize is overkill for our usage
  Cargo.lock
  core/src/replicator.rs
  sdk/Cargo.toml
  sdk/src/short_vec.rs
Labels: automerge

#4594 Builtins
  programs/bpf/rust/alloc/Xargo.toml
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/iter/Xargo.toml
  programs/bpf/rust/noop/Xargo.toml
  sdk/bpf/rust-utils/build.sh
  sdk/bpf/rust-utils/src/lib.rs
  sdk/bpf/scripts/install.sh
Labels: automerge

#4542 Enable iter test
  Cargo.lock
  ci/test-stable.sh
  programs/bpf/Cargo.toml
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  sdk/bpf/scripts/install.sh
Labels: automerge

#4599 solana-keygen no longer blindly overwrites a keypair, or assumes "new"
  book/src/installer.md
  book/src/testnet-participation.md
  ci/localnet-sanity.sh
  keygen/src/keygen.rs
  multinode-demo/fullnode.sh
  multinode-demo/setup.sh
  net/remote/remote-client.sh
  net/remote/remote-sanity.sh
  run.sh
  scripts/wallet-sanity.sh
Labels: automerge

#4612 solana-install: Avoid weird paths on Windows
  install/src/command.rs
Labels: automerge

#4624 .iter fixed, drop enumerate where not needed
  programs/bpf/rust/alloc/src/lib.rs
  sdk/bpf/rust-utils/src/entrypoint.rs
Labels: automerge

#4626 Build/clean all
  programs/bpf/rust/build.sh
  programs/bpf/rust/clean.sh
  programs/bpf/rust/dump.sh
Labels: automerge

#4628 Revert "Fix roots never being purged (#4134)"
  runtime/src/accounts_index.rs
Labels: automerge

#4646 Cleanup rust-utils
  sdk/bpf/rust-utils/src/allocator.rs
  sdk/bpf/rust-utils/src/lib.rs
  sdk/bpf/rust-utils/src/panic.rs
Labels: automerge

#4647 Add dependent crate test
  programs/bpf/build.rs
  programs/bpf/rust/dep_crate/.gitignore
  programs/bpf/rust/dep_crate/Cargo.toml
  programs/bpf/rust/dep_crate/Xargo.toml
  programs/bpf/rust/dep_crate/src/lib.rs
  programs/bpf/tests/programs.rs
Labels: automerge

#4654 Fixes for storage program and rework storage stage
  core/src/replay_stage.rs
  core/src/replicator.rs
  core/src/rpc.rs
  core/src/storage_stage.rs
  core/src/tvu.rs
  programs/storage_api/src/lib.rs
  programs/storage_api/src/storage_contract.rs
  programs/storage_api/src/storage_instruction.rs
  programs/storage_api/src/storage_processor.rs
  programs/storage_program/tests/storage_processor.rs
  wallet/src/wallet.rs
Labels: automerge

#4659 chore: bump blockexplorer version for testnet to include object expiration
  net/remote/remote-node.sh
Labels: automerge

#4705 fee_calculator: Set {min,max}_lamports_per_signature correctly when fees don't adjust
  sdk/src/fee_calculator.rs
Labels: automerge

#4706 Refetch perf-libs when the release version is changed
  fetch-perf-libs.sh
Labels: automerge

#4709 Add "download from replicator" utility
  core/src/cluster_info.rs
  core/src/repair_service.rs
  core/src/replicator.rs
  core/src/window_service.rs
  core/tests/replicator.rs
Labels: automerge

#4714 ci: Add CI_REPO_SLUG
  ci/env.sh
  ci/upload-github-release-asset.sh
Labels: automerge

#4766 Add 128bit Rust BPF test
  programs/bpf/build.rs
  programs/bpf/rust/128bit/.gitignore
  programs/bpf/rust/128bit/Cargo.toml
  programs/bpf/rust/128bit/Xargo.toml
  programs/bpf/rust/128bit/src/lib.rs
  programs/bpf/rust/128bit_dep/.gitignore
  programs/bpf/rust/128bit_dep/Cargo.toml
  programs/bpf/rust/128bit_dep/Xargo.toml
  programs/bpf/rust/128bit_dep/src/lib.rs
  programs/bpf/tests/programs.rs
Labels: automerge

#4749 Add Merkle Tree implementation
  Cargo.lock
  Cargo.toml
  merkle-tree/.gitignore
  merkle-tree/Cargo.toml
  merkle-tree/src/lib.rs
  merkle-tree/src/merkle_tree.rs
Labels: automerge

#4770 Update replicator ports and silence socket timeout on windows
  core/src/packet.rs
  core/src/replicator.rs
Labels: automerge

#4778 serde the full FeeCalculator
  core/src/rpc.rs
  sdk/src/fee_calculator.rs
Labels: automerge

#4780 Program instruction to withdraw un-staked lamports from stake account
  programs/stake_api/src/stake_instruction.rs
  programs/stake_api/src/stake_state.rs
  wallet/src/wallet.rs
Labels: v0.16

#4781 Add instructions and processor for stake deactivation
  programs/stake_api/src/stake_instruction.rs
  programs/stake_api/src/stake_state.rs
  wallet/src/wallet.rs
Labels: automerge, v0.16

#4786 ci: Prevent Travis/Appveyor from trying to build mergify branches
  .appveyor.yml
  .travis.yml
Labels: v0.16

#4788 ci: set automerge label on mergify backport PRs
  .mergify.yml
Labels: v0.16

#4779 Add storage reward pools
  Cargo.lock
  core/src/replicator.rs
  genesis/src/main.rs
  multinode-demo/setup.sh
  programs/storage_api/Cargo.toml
  programs/storage_api/src/lib.rs
  programs/storage_api/src/rewards_pools.rs
  programs/storage_api/src/storage_contract.rs
  programs/storage_api/src/storage_instruction.rs
  programs/storage_api/src/storage_processor.rs
  programs/storage_program/tests/storage_processor.rs
  replicator/src/main.rs
  runtime/src/genesis_utils.rs
  runtime/src/message_processor.rs
  wallet/src/wallet.rs
Labels: v0.16

#4792 run.sh: Remove --storage-mining-pool-lamports
  run.sh
Labels: v0.16

#4794 Ignore flaky test_two_unbalanced_stakes
  core/tests/local_cluster.rs
Labels: automerge, v0.16

#4797 Set proper count value for account stores
  core/src/bank_forks.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/append_vec.rs
  runtime/src/bank.rs
Labels: v0.16

#4815 Tar snapshots sparsely
  multinode-demo/fullnode.sh
Labels: v0.16

#4830 Airdrop more token in wallet sanity due to fee
  scripts/wallet-sanity.sh
Labels: automerge, v0.16

#4831 Setup reward pools in genesis
  genesis/src/main.rs
Labels: automerge, v0.16

#4835 Minor refactor of duplicated reward claim logic
  programs/storage_api/src/storage_contract.rs
Labels: automerge

#4836 Fix possible subtract with overflow if mining pool is not setup
  programs/storage_api/src/storage_contract.rs
Labels: automerge

#4845 rsync of ledger/ and state.tgz now works on both macOS and Linux
  multinode-demo/fullnode.sh
Labels: automerge, v0.16

#4847 Save snapshots followed by accounts to avoid stale account data
  multinode-demo/fullnode.sh
Labels: v0.16

#4861 Make book build a little less annoying
  book/build.sh
  book/makefile
Labels: automerge

#4200 Add a design for "Receipts" aka simple payment and state verification
  book/art/spv-bank-merkle.bob
  book/art/spv-block-merkle.bob
  book/src/SUMMARY.md
  book/src/simple-payment-and-state-verification.md
Labels: automerge

#4869 Ensure validator process is killed when fullnode.sh is killed
  install/src/command.rs
  multinode-demo/fullnode.sh
Labels: automerge, v0.16

#4870 Lower warn to info, fetch from validator root instead of root + 1
  core/src/cluster_info_repair_listener.rs
Labels: v0.16

#4872 install: Don't prompt the user to update their PATH if --no-modify-path was supplied
  install/src/command.rs
Labels: v0.16

#4874 install: Disable Enter prompt when stdin is not a tty
  Cargo.lock
  install/Cargo.toml
  install/src/main-install-init.rs
Labels: v0.16

#4876 Add RPC api to return program accounts
  book/src/jsonrpc-api.md
  core/src/rpc.rs
Labels: automerge
