Repository solana-labs/solana, pull requests merged in 2019-08, with the labels that each got.

#5372 Teach solana-install about release channels
  install/src/command.rs
  install/src/config.rs
  install/src/lib.rs
Labels: v0.17

#5376 Add testnet prefix to the metrics queries without it
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: noCI

#5387 Clarify that host_id is a tag in metrics influx queries
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: noCI

#5388 Add tag suffix to remaining metrics host_id queries
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: noCI

#5390 Update mean tx/s to use the correct counter
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: noCI

#5389 Change default location of `solana.h` to `OUT_DIR`
  sdk-c/README.md
  sdk-c/build.rs
Labels: automerge, v0.17

#5385 ci: Don't rebuild/retest release tags
  .buildkite/pipeline-upload.sh
  ci/buildkite-release.yml
  ci/buildkite-secondary.yml
  ci/buildkite.yml
Labels: v0.17

#5397 localnet-sanity.sh: Give a unique port range for each validator node
  ci/localnet-sanity.sh
  multinode-demo/bootstrap-leader.sh
Labels: automerge

#5404 Help prevent duplicate validator-info accounts
  validator-info/src/validator_info.rs
Labels: v0.17

#5409 Change bank to not create default
  runtime/src/bank.rs
Labels: v0.17

#5416 wallet: show-stake-account now works for reward pool accounts
  book/src/jsonrpc-api.md
  wallet/src/wallet.rs
Labels: automerge

#5335 Refactor status cache and remove complex serialize/deserialize
  core/src/bank_forks.rs
  core/src/snapshot_utils.rs
  runtime/Cargo.toml
  runtime/benches/status_cache.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/status_cache.rs
Labels: automerge

#5452 Add config get/set functionality to wallet
  Cargo.lock
  wallet/Cargo.toml
  wallet/src/config.rs
  wallet/src/lib.rs
  wallet/src/main.rs
Labels: automerge

#5293 Expand testnet validator section in book
  book/src/SUMMARY.md
  book/src/running-replicator.md
  book/src/running-validator.md
  book/src/testnet-participation.md
  book/src/validator-faq.md
  book/src/validator-hardware.md
  book/src/validator-info.md
  book/src/validator-monitor.md
  book/src/validator-software.md
  book/src/validator-stake.md
  book/src/validator-start.md
  book/src/validator-testnet.md
  book/src/validator-troubleshoot.md
Labels: noCI

#5466 Increase the amount of lamports a validator starts with
  multinode-demo/setup.sh
  multinode-demo/validator.sh
Labels: automerge, v0.17

#5469 Bump solana_libra packages to v0.0.0
  Cargo.lock
  programs/librapay_api/Cargo.toml
  programs/move_loader_api/Cargo.toml
Labels: automerge

#5479 Remove deprecated solana-wallet arg
  wallet/src/wallet.rs
Labels: automerge

#5478 ledger-tool: Add print-slot subcommand
  install/src/lib.rs
  ledger-tool/src/main.rs
Labels: automerge

#5490 Delete terminated GCP instances
  net/gce.sh
  net/scripts/gce-provider.sh
Labels: automerge, v0.17

#5528 Update the book to reflect new wallet and rpc functionality
  book/src/validator-monitor.md
  book/src/validator-start.md
  book/src/validator-testnet.md
Labels: noCI

#5536 Reduce log level for known issue
  core/src/cluster_info.rs
Labels: automerge

#5537 Set default wallet/validator-info url to localhost
  book/src/validator-start.md
  validator-info/src/validator_info.rs
  wallet/src/wallet.rs
Labels: automerge

#5544 wallet: Permit keypair for deactivate-stake vote pubkey too
  wallet/src/wallet.rs
Labels: automerge

#5567 Add is_keypair argument validator to wallet
  wallet/src/wallet.rs
Labels: automerge

#5581 Update performance metrics page in the book
  book/src/performance-metrics.md
Labels: noCI

#5588 net: init-metrics.sh no longer supports -c flag
  net/README.md
  net/init-metrics.sh
Labels: automerge

#5592 Add info logging around snapshot tarball generation
  core/src/snapshot_package.rs
  core/src/snapshot_utils.rs
Labels: automerge

#5595 README: Bump min rustc
  README.md
Labels: automerge

#5603 Add test program for BPF memory corruption bug
  programs/bpf/build.rs
  programs/bpf/rust/stack_bug/.gitignore
  programs/bpf/rust/stack_bug/Cargo.toml
  programs/bpf/rust/stack_bug/Xargo.toml
  programs/bpf/rust/stack_bug/src/lib.rs
  programs/bpf/rust/stack_bug_dep/.gitignore
  programs/bpf/rust/stack_bug_dep/Cargo.toml
  programs/bpf/rust/stack_bug_dep/Xargo.toml
  programs/bpf/rust/stack_bug_dep/src/lib.rs
  programs/bpf/tests/programs.rs
Labels: noCI

#5517 Add datacenter node setup scripts
  net/datacenter-node-install/README.md
  net/datacenter-node-install/disable-networkd-wait.sh
  net/datacenter-node-install/disable-nouveau.sh
  net/datacenter-node-install/set-hostname.sh
  net/datacenter-node-install/setup-cuda.sh
  net/datacenter-node-install/setup-dc-node-1.sh
  net/datacenter-node-install/setup-dc-node-2.sh
  net/datacenter-node-install/setup-grub.sh
  net/datacenter-node-install/setup-ssh.sh
  net/datacenter-node-install/setup-sudoers.sh
  net/datacenter-node-install/setup-validator.sh
  net/datacenter-node-install/utils.sh
Labels: automerge

#5627 net: net.sh - Enable deploying testnets on debug binaries
  net/net.sh
  scripts/cargo-install-all.sh
Labels: automerge

#5644 test_snapshots_restart_validity now passes
  core/src/validator.rs
  local_cluster/tests/local_cluster.rs
Labels: automerge

#5744 validator: Add a more helpful error on genesis block mismatch
  core/src/validator.rs
Labels: automerge

#5745 Add various missing cli validators
  cli/src/wallet.rs
  gossip/src/main.rs
  replicator/src/main.rs
  utils/netutil/src/lib.rs
  validator-info/src/validator_info.rs
  validator/src/main.rs
Labels: automerge

#5748 Add trent's workstation pubkey to authorized keys script
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#5751 cli: Mark global arguments as such
  cli/src/main.rs
  cli/src/wallet.rs
Labels: automerge

#5752 Make the world flat again; remove utils/ subdirectory
  Cargo.toml
  bench-exchange/Cargo.toml
  bench-streamer/Cargo.toml
  bench-tps/Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  core/Cargo.toml
  fixed-buf/.gitignore
  fixed-buf/Cargo.toml
  fixed-buf/src/lib.rs
  gossip/Cargo.toml
  netutil/.gitignore
  netutil/Cargo.toml
  netutil/src/bin/ip_address.rs
  netutil/src/bin/ip_address_server.rs
  netutil/src/ip_echo_server.rs
  netutil/src/lib.rs
  replicator/Cargo.toml
  validator/Cargo.toml
Labels: automerge

#5755 Validator/replicator metrics host id is no longer set by bash
  Cargo.lock
  metrics/src/lib.rs
  metrics/src/metrics.rs
  multinode-demo/bootstrap-leader.sh
  multinode-demo/validator.sh
  replicator/Cargo.toml
  replicator/src/main.rs
  validator/src/main.rs
Labels: automerge

#5756 validator: Entrypoint RPC service discovery now blocks until the entrypoint is actually found
  core/src/gossip_service.rs
  gossip/src/main.rs
  validator/src/main.rs
Labels: automerge
