Repository solana-labs/solana, pull requests merged in 2019-11, with the labels that each got.

#6671 Send repairman shreds to the repair socket
  core/src/cluster_info.rs
  core/src/cluster_info_repair_listener.rs
  core/src/contact_info.rs
Labels: v0.20

#6659 Get Azure provider working again
  net/scripts/azure-provider.sh
Labels: v0.20

#6691 Fix swapped repair and forwards addrs
  core/src/cluster_info.rs
Labels: automerge, v0.20

#6690 Better output layout for iftop logs
  log-analyzer/src/main.rs
Labels: automerge

#6693 Use Slot and Epoch type aliases instead of raw u64
  client/src/rpc_request.rs
  core/benches/blocktree.rs
  core/src/archiver.rs
  core/src/banking_stage.rs
  core/src/blockstream.rs
  core/src/broadcast_stage/broadcast_utils.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/chacha.rs
  core/src/cluster_info.rs
  core/src/confidence.rs
  core/src/consensus.rs
  core/src/packet.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_subscriptions.rs
  core/src/storage_stage.rs
  core/src/window_service.rs
  core/tests/bank_forks.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks.rs
  ledger/src/blocktree.rs
  ledger/src/blocktree_db.rs
  ledger/src/blocktree_meta.rs
  ledger/src/erasure.rs
  ledger/src/leader_schedule_cache.rs
  ledger/src/leader_schedule_utils.rs
  ledger/src/rooted_slot_iterator.rs
  ledger/src/shred.rs
  ledger/src/snapshot_utils.rs
  ledger/src/staking_utils.rs
  local_cluster/src/cluster_tests.rs
  programs/stake_api/src/stake_state.rs
  programs/storage_api/src/storage_contract.rs
  programs/vote_api/src/vote_state.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/client.rs
  sdk/src/epoch_schedule.rs
  sdk/src/packet.rs
Labels: automerge

#6703 cli: pay subcommand now accepts a keypair file for convenience
  cli/src/cli.rs
Labels: v0.20

#6705 validator: Fail gracefully if AVX support is missing
  core/src/validator.rs
Labels: v0.20

#6363 GCE: Add instances self-destruct
  ci/testnet-deploy.sh
  net/gce.sh
  net/scripts/gce-provider.sh
  net/scripts/gce-self-destruct.sh
Labels: automerge

#6722 Lower verify-batch-size to debug
  core/src/replay_stage.rs
Labels: automerge, v0.20

#6718 Pull perf into a separate module.
  Cargo.lock
  Cargo.toml
  bench-streamer/src/main.rs
  core/Cargo.toml
  core/benches/sigverify.rs
  core/src/archiver.rs
  core/src/banking_stage.rs
  core/src/blob.rs
  core/src/chacha_cuda.rs
  core/src/cluster_info.rs
  core/src/cluster_info_repair_listener.rs
  core/src/crds_gossip_push.rs
  core/src/fetch_stage.rs
  core/src/lib.rs
  core/src/packet.rs
  core/src/recvmmsg.rs
  core/src/retransmit_stage.rs
  core/src/shred_fetch_stage.rs
  core/src/sigverify.rs
  core/src/sigverify_shreds.rs
  core/src/sigverify_stage.rs
  core/src/storage_stage.rs
  core/src/streamer.rs
  core/src/validator.rs
  core/tests/storage_stage.rs
  ledger/Cargo.toml
  ledger/src/entry.rs
  ledger/src/lib.rs
  ledger/src/packet.rs
  perf/Cargo.toml
  perf/src/cuda_runtime.rs
  perf/src/lib.rs
  perf/src/perf_libs.rs
  perf/src/recycler.rs
  validator/Cargo.toml
  validator/src/main.rs
Labels: automerge

#6734 Include the affected slot in blocktree error metrics
  ledger/src/blocktree.rs
Labels: v0.20

#6728 Add threshold to repairman for same slot
  core/src/cluster_info_repair_listener.rs
Labels: v0.20

#6746 Integrated use of netem with testnet scripts
  net/net.sh
  net/remote/remote-node.sh
  scripts/netem.sh
Labels: automerge

#6748 Fix substitution of private IP with public IP in iftop logs
  scripts/iftop-postprocess.sh
Labels: automerge

#6756 ledger-tool/: Include full validator voting history in fork-graph
  core/src/replay_stage.rs
  ledger-tool/src/main.rs
  ledger/src/blocktree.rs
Labels: v0.20

#6758 validator: Enable JSON RPC request/response logging by default
  core/src/rpc_service.rs
  validator/src/main.rs
Labels: v0.20

#6760 Make last shred for an interrupted slot signed + typed
  core/src/broadcast_stage/standard_broadcast_run.rs
  ledger/src/blocktree.rs
  ledger/src/shred.rs
Labels: v0.20

#6635 Refactor sigverify to stage for signing shreds on the GPU
  Cargo.lock
  core/Cargo.toml
  core/benches/banking_stage.rs
  core/benches/retransmit_stage.rs
  core/benches/shredder.rs
  core/benches/sigverify_stage.rs
  core/src/cluster_info.rs
  core/src/crds_value.rs
  core/src/lib.rs
  core/src/packet.rs
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  core/src/recvmmsg.rs
  core/src/shred_fetch_stage.rs
  core/src/sigverify.rs
  core/src/sigverify_shreds.rs
  ledger/Cargo.toml
  ledger/src/lib.rs
  ledger/src/sigverify_shreds.rs
  perf/Cargo.toml
  perf/benches/sigverify.rs
  perf/src/lib.rs
  perf/src/packet.rs
  perf/src/sigverify.rs
  perf/src/test_tx.rs
Labels: automerge

#6768 Validators now log to a file by default (use `-o -`/`--log -` for stderr)
  Cargo.lock
  multinode-demo/bootstrap-leader.sh
  multinode-demo/validator.sh
  validator/Cargo.toml
  validator/src/main.rs
Labels: automerge, v0.20

#6770 Fewer recyclers.
  core/src/sigverify_shreds.rs
  ledger/src/sigverify_shreds.rs
Labels: automerge

#6764 Update snapshot verification proposal
  book/src/proposals/snapshot-verification.md
Labels: automerge

#6774 validator: Fix windows build
  validator/src/main.rs
Labels: v0.20

#6783 Add net/ support for reusable identity keypairs
  ci/testnet-deploy.sh
  multinode-demo/setup.sh
  net/remote/remote-node.sh
Labels: v0.20

#6711 Book: Add blockhash to terminology
  book/src/api-reference/blockstreamer.md
  book/src/implemented-proposals/leader-validator-transition.md
  book/src/terminology.md
Labels: automerge

#6789 Upgrade Repair be more intelligent and agressive
  core/src/cluster_info.rs
  core/src/repair_service.rs
  ledger/src/blocktree.rs
  ledger/src/blocktree_meta.rs
  ledger/src/shred.rs
Labels: v0.20

#6781 Tool to reconfigure netem on testnet
  net/net.sh
  net/remote/remote-node.sh
Labels: automerge

#6788 Add docs for FEC rate calculation
  book/src/cluster/turbine-block-propagation.md
Labels: automerge

#6796 Avoid : in default log filename
  validator/src/main.rs
Labels: v0.20

#6800 Increase FEC ratio to 32:32
  ledger/src/shred.rs
Labels: automerge, v0.20

#6802 Revert "Add inflation to epoch phases (#6787)"
  genesis/src/main.rs
  genesis_programs/src/lib.rs
  local_cluster/src/local_cluster.rs
  runtime/src/bank.rs
  sdk/src/inflation.rs
Labels: automerge

#6803 Fix iftop not being stopped correctly
  net/net.sh
Labels: automerge

#6806 Revert "Revert "Add inflation to epoch phases (#6787)" (#6802)"
  genesis/src/main.rs
  genesis_programs/src/lib.rs
  local_cluster/src/local_cluster.rs
  runtime/src/bank.rs
  sdk/src/inflation.rs
Labels: automerge

#6794 Clean up net/log symlinks
  net/.gitignore
  net/common.sh
Labels: noCI

#6805 Replay should respect order of register_ticks with respect to blockhashes
  ledger/src/blocktree_processor.rs
  runtime/src/bank.rs
Labels: v0.20

#6817 run.sh logs validators to stderr
  run.sh
Labels: v0.20

#6808 Add new fork log message for when the node is leader for consistency
  core/src/replay_stage.rs
Labels: v0.20

#6828 TODO already covered by issue
  runtime/src/native_loader.rs
Labels: noCI

#6827 Remove todo from account
  sdk/src/account.rs
Labels: noCI

#6831 Don't insert coding shreds into blocktree on leader
  core/src/broadcast_stage/broadcast_fake_blobs_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
Labels: v0.20

#6834 netutil/: Add more tests
  netutil/src/lib.rs
Labels: automerge

#6842 [V0.20] Cherry pick from master branch
  core/src/broadcast_stage/broadcast_fake_blobs_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
Labels: automerge

#6799 Fix freeze and register_tick race
  runtime/src/bank.rs
  runtime/tests/bank.rs
Labels: v0.20

#6847 ci: Move move tests into its own job
  ci/buildkite.yml
  ci/test-move.sh
  ci/test-stable.sh
Labels: v0.20

#6801 Update readonly accounts docs
  book/src/implemented-proposals/credit-only-credit-debit-accounts.md
  book/src/implemented-proposals/readonly-accounts.md
Labels: noCI

#6819 Include channel and commit info in the version of pre-release builds
  core/src/lib.rs
  core/src/rpc.rs
  core/src/version.rs
  core/tests/client.rs
  validator/src/main.rs
Labels: v0.20

#6868 Tune repair to be less aggressive
  core/src/repair_service.rs
Labels: v0.20

#6873 Remove debug datapoint that isn't being plotted
  core/src/repair_service.rs
Labels: v0.20

#6882 Install xargo if a new version is available
  sdk/bpf/scripts/install.sh
Labels: automerge

#6877 Fix caching data shreds as coding shreds
  ledger/src/blocktree.rs
Labels: v0.20

#6902 Make creating new snapshot.tar.bz2 truly-atomic
  core/src/snapshot_packager_service.rs
Labels: v0.20

#6912 ledger-tool: Automatically run dot to generate PDFs or PNGs
  ledger-tool/src/main.rs
Labels: v0.20

#6917 Remove unused dependencies
  Cargo.lock
  programs/storage_api/Cargo.toml
  sdk/Cargo.toml
Labels: automerge

#6916 Cleanup ledger macros
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/benches/blocktree.rs
  core/src/banking_stage.rs
  core/src/blockstream_service.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/chacha.rs
  core/src/chacha_cuda.rs
  core/src/cluster_info.rs
  core/src/cluster_info_repair_listener.rs
  core/src/ledger_cleanup_service.rs
  core/src/lib.rs
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/window_service.rs
  core/tests/storage_stage.rs
  ledger-tool/tests/basic.rs
  ledger/src/blocktree.rs
  ledger/src/blocktree_processor.rs
  ledger/src/leader_schedule_cache.rs
  ledger/src/rooted_slot_iterator.rs
  ledger/tests/blocktree.rs
  local-cluster/src/lib.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/archiver.rs
Labels: automerge

#6913 feat: default 8gb hard memory limit for redis
  net/scripts/install-redis.sh
Labels: v0.20

#6926 Silence cargo install error in bpf script
  sdk/bpf/scripts/install.sh
Labels: automerge

#6930 Log blocktree and snapshot open times
  ledger/src/blocktree.rs
  ledger/src/snapshot_utils.rs
Labels: automerge

#6941 bank.rs: Remove unneeded prepare_batch() frozen bank assert
  runtime/src/bank.rs
Labels: automerge

#6938 Script to run net-shaper on remote nodes
  net-shaper/src/main.rs
  scripts/cargo-install-all.sh
  scripts/net-shaper.sh
Labels: problem description doesn't describe a problem

#6884 Fix roots overrunning broadcast
  core/benches/blocktree.rs
  core/src/archiver.rs
  core/src/broadcast_stage/broadcast_fake_blobs_run.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/cluster_info.rs
  core/src/cluster_info_repair_listener.rs
  core/src/ledger_cleanup_service.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/window_service.rs
  ledger/src/blocktree.rs
  ledger/src/leader_schedule_cache.rs
  ledger/tests/blocktree.rs
Labels: v0.20

#6939 Upgrade to rust 1.39.0
  README.md
  ci/docker-rust-nightly/Dockerfile
  ci/docker-rust/Dockerfile
  ci/rust-version.sh
  core/src/cluster_info.rs
  genesis/src/main.rs
  ledger-tool/src/main.rs
  ledger/src/leader_schedule_cache.rs
  runtime/src/accounts.rs
  runtime/src/storage_utils.rs
  sdk-c/src/lib.rs
  sdk/src/entrypoint.rs
  sdk/src/instruction_processor_utils.rs
Labels: v0.20

#6961 Rename getBlock to getConfirmedBlock; remove getBlocksSince
  core/src/rpc.rs
Labels: automerge

#6964 Remove unused sha2 dep
  core/Cargo.toml
Labels: automerge

#6906 Fix rules for fork selection
  core/src/consensus.rs
  core/src/lib.rs
  core/src/partition_cfg.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
Labels: automerge, v0.20

#6987 Fix shellcheck docker
  ci/shellcheck.sh
Labels: automerge

#6986 RecyclerCache for shred_sigverify
  core/src/sigverify_shreds.rs
  ledger/src/sigverify_shreds.rs
  perf/src/lib.rs
  perf/src/recycler_cache.rs
Labels: automerge

#6983 Fix rules for fork selection (#6906)
  core/src/consensus.rs
  core/src/lib.rs
  core/src/partition_cfg.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  local_cluster/src/cluster_tests.rs
  local_cluster/src/tests/local_cluster.rs
Labels: automerge

#6985 Fix System Stats script
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
  scripts/system-stats.sh
Labels: automerge

#6994 Use correct faucet arg in run.sh
  run.sh
Labels: automerge

#6997 Fix dev mode arg in run.sh
  run.sh
Labels: noCI

#7000 Add error logging to dead slots
  core/src/replay_stage.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: v0.20

#7008 Log for threshold failure
  core/src/replay_stage.rs
Labels: v0.20

#6992 Allow creating an vote program ix where the withdrawer is also the "to" account
  programs/stake_api/src/stake_instruction.rs
  programs/vote_api/src/vote_instruction.rs
  sdk/src/instruction.rs
Labels: automerge

#7023 Add a version field to shreds
  core/benches/blocktree.rs
  core/benches/shredder.rs
  core/src/blockstream_service.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_fake_shreds_run.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/chacha.rs
  core/src/chacha_cuda.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/sigverify_shreds.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/window_service.rs
  ledger/src/blocktree.rs
  ledger/src/blocktree_processor.rs
  ledger/src/shred.rs
  ledger/src/sigverify_shreds.rs
  ledger/tests/blocktree.rs
Labels: v0.20

#7017 don't allow assignment to sysvar program
  runtime/src/system_instruction_processor.rs
Labels: automerge

#7026 Fix progress map losing banks and recomputing stats
  core/src/replay_stage.rs
Labels: v0.20

#7027 Make banks that fail threshold check still eligible for PoH reset
  core/src/replay_stage.rs
Labels: v0.20

#7049 genesis: --bootstrap-storage-pubkey is now optional
  genesis/src/main.rs
Labels: automerge

#7050 Use camelCase
  sdk/src/instruction.rs
Labels: automerge

#7054 Fix gce.sh info
  net/gce.sh
Labels: automerge

#7057 Fix unpin argument
  perf/src/cuda_runtime.rs
  perf/src/packet.rs
Labels: automerge

#7045 Update config.rs
  programs/stake/src/config.rs
Labels: automerge

#7005 Use epoch as the gossip purge timeout for staked nodes.
  Cargo.lock
  core/Cargo.toml
  core/src/banking_stage.rs
  core/src/cluster_info.rs
  core/src/crds.rs
  core/src/crds_gossip.rs
  core/src/crds_gossip_pull.rs
  core/src/fetch_stage.rs
  core/src/lib.rs
  core/src/replay_stage.rs
  core/src/streamer.rs
  core/src/thread_mem_usage.rs
  core/tests/crds_gossip.rs
  local-cluster/tests/local_cluster.rs
  perf/src/packet.rs
  perf/src/recycler.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/clock.rs
Labels: automerge

#7064 Fix `solana-keygen new --force ...`
  sdk/src/signature.rs
Labels: automerge

#6725 Book: Add proposal for durable transaction nonces
  book/src/SUMMARY.md
  book/src/proposals/durable-tx-nonces.md
Labels: automerge

#7069 Copy all programs when starting a network
  scripts/cargo-install-all.sh
  scripts/cargo-install-custom-programs.sh
Labels: automerge

#7070 net: Remove ability to deploy custom programs
  net/net.sh
  scripts/cargo-install-custom-programs.sh
Labels: automerge

#7073 Add another test for bank state hashes
  runtime/src/bank.rs
Labels: automerge

#7078 keygen: Truncate new keypair files
  sdk/src/signature.rs
Labels: automerge

#7089 Avoid jemalloc in windows build
  core/Cargo.toml
  core/src/cluster_info.rs
  core/src/lib.rs
  core/src/replay_stage.rs
  core/src/thread_mem_usage.rs
Labels: automerge

#7093 validator.sh: Remove unused --poll-for-new-genesis-config feature
  multinode-demo/validator.sh
Labels: automerge

#7105 Move Date oracle to Config program
  Cargo.lock
  programs/config/Cargo.toml
  programs/config/src/date_instruction.rs
  programs/config/src/lib.rs
  programs/vest/src/lib.rs
  programs/vest/src/vest_processor.rs
Labels: automerge

#7120 Add getConfirmedBlock test to rpc
  client/src/rpc_request.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
Labels: automerge

#7104 Add offline signing support to CLI
  clap-utils/src/input_parsers.rs
  clap-utils/src/input_validators.rs
  cli/src/cli.rs
  cli/src/display.rs
  cli/src/stake.rs
  cli/tests/pay.rs
  sdk/src/instruction.rs
  sdk/src/transaction.rs
Labels: v0.21

#7136 keygen: Support not writing keypairs to disk
  keygen/src/keygen.rs
Labels: v0.21

#7130 Add getBlockTime rpc api
  book/src/api-reference/jsonrpc-api.md
  cli/src/cli.rs
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  genesis/src/main.rs
  ledger/src/blocktree.rs
  runtime/src/bank.rs
  sdk/src/clock.rs
  sdk/src/poh_config.rs
  sdk/src/timing.rs
Labels: v0.21

#7152 Change from using fixed number of ticks in delay calculation
  ledger/src/blocktree.rs
  sdk/src/clock.rs
Labels: automerge

#7147 Add Paper Wallet documentation to the book
  book/src/SUMMARY.md
  book/src/paper-wallet/README.md
  book/src/paper-wallet/keypair.md
  book/src/paper-wallet/usage.md
Labels: automerge, v0.21
