Repository solana-labs/solana, pull requests merged in 2019-12, with the labels that each got.

#7158 Improve error handling when the user mixes up gossip (8001) and RPC (8899) ports
  client/src/rpc_client_request.rs
  net-utils/src/ip_echo_server.rs
  net-utils/src/lib.rs
Labels: automerge

#7191 Update usages of u64 in Bank to Slot
  runtime/src/bank.rs
Labels: automerge

#7192 Reduce default target lamport per signature fee by 10x
  sdk/src/fee_calculator.rs
Labels: v0.21

#7196 Correctly parse ip echo server response and fix broken test
  net-utils/src/lib.rs
Labels: v0.21

#7202 Fix typo
  net-utils/src/lib.rs
Labels: v0.21

#7207 Prevent passphrase mistakes with confirmation prompt
  clap-utils/src/keypair.rs
  keygen/src/keygen.rs
Labels: v0.21

#7214 net-utils: Ensure IpEchoServerMessage is not fragmented
  net-utils/src/ip_echo_server.rs
  net-utils/src/lib.rs
Labels: automerge, v0.21

#7217 enforce proper range for rent burn_percent
  clap-utils/src/input_validators.rs
  genesis/src/main.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
  sdk/src/rent.rs
Labels: v0.21

#7226 enforce proper range for tx fee burn_percent
  sdk/src/fee_calculator.rs
Labels: automerge, v0.21

#7133 Print slot meta when printing a slot
  ledger-tool/src/main.rs
  ledger-tool/tests/basic.rs
Labels: automerge

#7230 Protect sys-tuner socket access at create
  Cargo.lock
  sys-tuner/Cargo.toml
  sys-tuner/src/main.rs
Labels: automerge

#7232 sys-tuner to check uid of the proc entry
  sys-tuner/src/main.rs
Labels: automerge

#7236 Remove duplicate word
  book/src/paper-wallet/keypair.md
Labels: noCI

#7223 Update paper wallet documentation
  book/src/paper-wallet/README.md
  book/src/paper-wallet/installation.md
  book/src/paper-wallet/keypair.md
Labels: v0.21

#7219 Use procedural macro to generate static public keys
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/rust/sysval/src/lib.rs
  programs/bpf_loader/src/lib.rs
  programs/move_loader/src/lib.rs
  sdk/Cargo.toml
  sdk/macro/Cargo.toml
  sdk/macro/src/lib.rs
  sdk/src/bpf_loader.rs
  sdk/src/instruction_processor_utils.rs
  sdk/src/lib.rs
  sdk/src/move_loader.rs
  sdk/src/pubkey.rs
Labels: automerge, v0.21

#7242 Add Paper Wallet Installation page to sidebar
  book/src/SUMMARY.md
Labels: noCI

#7241 Use procedural macro to generate static public keys (bp #7219)
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/rust/sysval/src/lib.rs
  programs/bpf_loader/src/lib.rs
  programs/move_loader/src/lib.rs
  sdk/Cargo.toml
  sdk/macro/Cargo.toml
  sdk/macro/src/lib.rs
  sdk/src/bpf_loader.rs
  sdk/src/instruction_processor_utils.rs
  sdk/src/lib.rs
  sdk/src/move_loader.rs
  sdk/src/pubkey.rs
Labels: automerge

#7243 Add Paper Wallet Installation page to sidebar (#7242)
  book/src/SUMMARY.md
Labels: noCI

#7245 Remove extra installation options for paper wallet
  book/src/paper-wallet/installation.md
Labels: v0.21

#7210 Allow generation of longer seed phrases with keygen
  keygen/src/keygen.rs
Labels: v0.21

#7235 genesis validators
  genesis/src/genesis_accounts.rs
  genesis/src/lib.rs
  genesis/src/main.rs
  genesis/src/stakes.rs
  genesis/src/validators.rs
  programs/stake/src/stake_state.rs
  programs/vote/src/vote_state.rs
Labels: v0.21

#7239 commission as percent
  book/src/api-reference/cli.md
  book/src/api-reference/jsonrpc-api.md
  cli/src/cluster_query.rs
  cli/src/vote.rs
  multinode-demo/validator.sh
  programs/stake/src/stake_state.rs
  programs/stake_tests/tests/stake_instruction.rs
  programs/vote/src/vote_state.rs
Labels: v0.21

#7261 Use wrappable code snippet for paper wallet installation
  book/src/paper-wallet/installation.md
Labels: v0.21

#7234 Don't hardcode username in sys-tuner
  Cargo.lock
  net/remote/remote-node.sh
  sys-tuner/Cargo.toml
  sys-tuner/src/main.rs
Labels: automerge

#7260 Sanitize whitespace in seed phrase input
  clap-utils/src/keypair.rs
Labels: v0.21

#7268 Fix typo, grammar, and formatting in Paper Wallet documentation
  book/src/paper-wallet/installation.md
  book/src/paper-wallet/keypair.md
Labels: v0.21

#7282 genesis: Import validators
  genesis/src/genesis_accounts.rs
Labels: v0.21

#7164 Pay rent to validators
  runtime/src/bank.rs
  sdk/src/rent.rs
Labels: automerge

#7294 Canonicalize paths before symlink-ing when generating snapshots
  core/src/snapshot_packager_service.rs
  validator/src/main.rs
Labels: v0.21

#7281 Only serialize rooted append vecs
  core/tests/bank_forks.rs
  ledger/src/snapshot_utils.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: v0.21

#7306 Add ChorusOne ValidatorInfo
  genesis/src/genesis_accounts.rs
Labels: v0.21

#7310 Add RockX ValidatorInfo
  genesis/src/genesis_accounts.rs
Labels: v0.21

#7317 Add docs for using a paper wallet with solana cli (#7311)
  book/src/paper-wallet/README.md
  book/src/paper-wallet/usage.md
Labels: automerge

#7316 cli: Confirm recovered pubkeys
  clap-utils/src/input_parsers.rs
  clap-utils/src/keypair.rs
  keygen/src/keygen.rs
Labels: v0.21

#7324 Add pools
  genesis/src/genesis_accounts.rs
Labels: v0.21

#7322 Add verify of keypair (#7301)
  keygen/src/keygen.rs
Labels: automerge

#7330 v0.21: Add spare validator accounts
  genesis/src/genesis_accounts.rs
Labels: automerge

#7283 Increase signature confirmation timeout to fix wallet sanity
  ci/localnet-sanity.sh
Labels: v0.21

#7334 Split up ReplayStageConfig to make it derive Default
  core/src/replay_stage.rs
  core/src/tvu.rs
Labels: automerge

#7336 Fix typo
  genesis/src/genesis_accounts.rs
Labels: v0.21

#7338 Add more pool tokens
  genesis/src/genesis_accounts.rs
Labels: automerge, v0.21

#7339 getVoteAccounts RPC API no longer returns "idle" vote accounts
  core/src/rpc.rs
Labels: v0.21

#7344 getVoteAccounts RPC API no longer returns "idle" vote accounts, take II
  core/src/rpc.rs
Labels: v0.21

#7346 genesis: Add Stake Capital ValidatorInfo
  genesis/src/genesis_accounts.rs
Labels: automerge, v0.21

#7355 Add Forbole ValidatorInfo
  genesis/src/genesis_accounts.rs
Labels: automerge, v0.21

#7350 Account for all tokens at genesis
  Cargo.lock
  Cargo.toml
  genesis/src/genesis_accounts.rs
  scripts/Cargo.toml
  scripts/src/csv_to_validator_infos.rs
Labels: v0.21

#7359 cli: Adjust show-validators column alignment
  cli/src/cluster_query.rs
Labels: automerge, v0.21

#7362 genesis: Add argument to configure the authorized pubkey for the bootstrap leader's stake
  genesis/src/main.rs
Labels: automerge, v0.21

#7361 500M SOL
  genesis/src/genesis_accounts.rs
  genesis/src/main.rs
  programs/bpf/Cargo.lock
Labels: v0.21

#7366 no lockups for community
  genesis/src/genesis_accounts.rs
Labels: v0.21

#7319 Fix Erasure Index
  ledger/src/blocktree.rs
  ledger/src/blocktree_meta.rs
Labels: v0.21

#7370 Properly set parallelism
  ledger/src/blocktree_db.rs
Labels: v0.21

#7369 Remove redundant check
  ledger/src/blocktree.rs
Labels: v0.21

#7380 Remove println in solana balance command
  cli/src/cli.rs
Labels: automerge

#7378 Address post-merge review for #7353
  runtime/src/nonce_utils.rs
  sdk/src/nonce_instruction.rs
  sdk/src/nonce_state.rs
Labels: automerge

#7386 blocktree_processor: Continue processing the ledger on InvalidTickCount errors
  ledger/src/blocktree_processor.rs
Labels: v0.21

#7388 Fix broken link in paper wallet docs
  book/src/paper-wallet/usage.md
Labels: automerge

#7383 Restore status check to bubble up TransactionError
  Cargo.lock
  client/Cargo.toml
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
Labels: automerge

#7391 cli: Improve get-epoch-info output for longer epoch durations
  Cargo.lock
  cli/Cargo.toml
  cli/src/cluster_query.rs
Labels: v0.21

#7385 Fix offline stakes payer
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/stake.rs
  cli/src/storage.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
  cli/tests/stake.rs
Labels: v0.21

#7329 Add CLI commands for nonces
  clap-utils/src/input_parsers.rs
  clap-utils/src/input_validators.rs
  cli/src/cli.rs
  cli/src/lib.rs
  cli/src/nonce.rs
  cli/tests/nonce.rs
Labels: automerge

#7402 cli: Better space out show-stake-history columns
  cli/src/stake.rs
Labels: v0.21

#7393 Fix sigverify metrics
  core/src/sigverify_stage.rs
  core/src/streamer.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: v0.21

#7409 add pubkey for colo
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#7429 Automatically call `.recycle` in Drop
  ledger/src/sigverify_shreds.rs
  perf/src/cuda_runtime.rs
  perf/src/packet.rs
  perf/src/recycler.rs
  perf/src/sigverify.rs
Labels: automerge

#7430 Add special handling for snapshot root slot in get_confirmed_block
  Cargo.lock
  client/src/rpc_request.rs
  ledger/Cargo.toml
  ledger/src/blocktree.rs
Labels: v0.21

#7441 Add uptime column to show-validators
  cli/src/cluster_query.rs
  cli/src/vote.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  programs/vote/src/vote_state.rs
Labels: automerge, v0.21

#7456 Cleanup the sign shreds interface
  ledger/Cargo.toml
  ledger/benches/sigverify_shreds.rs
  ledger/src/shred.rs
  ledger/src/sigverify_shreds.rs
Labels: automerge

#7447 cli: Clarify show-vote-account/uptime output: "node id" really means "validator identity"
  cli/src/vote.rs
Labels: v0.21

#7460 Publish solana-docker releases
  ci/publish-tarball.sh
  sdk/docker-solana/build.sh
Labels: v0.21

#7459 Remove dbg!() from cli
  cli/src/vote.rs
Labels: automerge

#7463 Perform erasure recovery when repaired data shreds are received
  ledger/src/blocktree.rs
Labels: automerge

#7461 cli: Add vote-update-validator subcommand
  cli/src/cli.rs
  cli/src/vote.rs
  programs/vote/src/vote_instruction.rs
Labels: v0.21

#7399 Fix Blocktree Config
  ledger/src/blocktree_db.rs
Labels: v0.21

#7467 watchtower: Add Slack/Discord sanity failure notification
  Cargo.lock
  programs/vote/src/vote_instruction.rs
  watchtower/Cargo.toml
  watchtower/README.md
  watchtower/src/main.rs
  watchtower/src/notifier.rs
Labels: automerge

#7480 Fix sigverify benches
  ledger/benches/sigverify_shreds.rs
Labels: automerge

#7482 getVoteAccounts RPC API now excludes listing inactive unstaked accounts as delinquent
  core/src/rpc.rs
Labels: v0.21

#7500 watchtower: Add validator-identity argument to support monitoring a specific validator only…
  watchtower/README.md
  watchtower/src/main.rs
Labels: v0.21

#7503 watchtower: Add Telegram notification support
  watchtower/README.md
  watchtower/src/notifier.rs
Labels: v0.21

#7527 Sync nonce test to 3513f4e
  cli/tests/nonce.rs
Labels: automerge

#7540 Colo - Node install scripts missing latest user requests
  net/datacenter-node-install/setup-cuda.sh
  net/datacenter-node-install/setup-dc-node-1.sh
Labels: automerge

#7544 Update testnet testcases to point at new buildkite agent queues
  system-test/performance-testcases/aws-cpu-only-perf-10-node.yml
  system-test/performance-testcases/aws-cpu-only-perf-5-node.yml
  system-test/performance-testcases/azure-cpu-only-perf-5-node.yml
  system-test/performance-testcases/gce-cpu-only-perf-10-node.yml
  system-test/performance-testcases/gce-cpu-only-perf-5-node.yml
  system-test/performance-testcases/gce-gpu-perf-10-node.yml
  system-test/performance-testcases/gce-gpu-perf-100-node.yml
  system-test/performance-testcases/gce-gpu-perf-25-node.yml
  system-test/performance-testcases/gce-gpu-perf-5-node.yml
  system-test/performance-testcases/gce-gpu-perf-50-node.yml
  system-test/stability-testcases/gce-stability-5-node.yml
  system-test/testnet-automation.sh
Labels: automerge

#7542 GetLeaderSchedule RPC API can now return a schedule for arbitrary epoches
  book/src/api-reference/jsonrpc-api.md
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
Labels: v0.21

#7543 Extend getConfirmedBlock rpc to return account pre- and post-balances
  client/src/rpc_request.rs
  core/src/banking_stage.rs
  core/src/transaction_status_service.rs
  ledger/src/blocktree.rs
  ledger/src/blocktree_processor.rs
  runtime/src/bank.rs
Labels: automerge

#7551 Speed up getLeaderSchedule RPC call by reducing pubkey duplication
  book/src/api-reference/jsonrpc-api.md
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
Labels: v0.21

#7550 Add getConfirmedBlocks rpc method
  book/src/api-reference/jsonrpc-api.md
  core/src/rpc.rs
Labels: automerge, v0.21

#7537 Improve bench-tps stability
  bench-tps/src/bench.rs
  bench-tps/src/cli.rs
  bench-tps/src/main.rs
  bench-tps/tests/bench_tps.rs
Labels: v0.21

#7548 cli: Add show-block-production command
  book/src/api-reference/jsonrpc-api.md
  cli/src/cli.rs
  cli/src/cluster_query.rs
  sdk/src/commitment_config.rs
Labels: v0.21

#7564 Speed up show-block-production command
  cli/src/cluster_query.rs
Labels: v0.21

#7563 Tune bench-tps blockhash poller and stop panicking
  bench-tps/src/bench.rs
Labels: automerge, v0.21

#7573 Dashboard: Move y-axis items with different units either side
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: automerge

#7581 Fix broken internal-nodes-stake-lamports arg in scripts
  net/remote/remote-node.sh
Labels: noCI

#7586 Update testnet descriptions
  book/src/running-validator/validator-testnet.md
Labels: automerge

#7604 Extend Stable CI job timeout to 60 minutes
  ci/buildkite.yml
Labels: v0.22

#7599 cli: show-block-production: Rename "missed" to "skipped" as not all skipped slots are missed slots
  cli/src/cluster_query.rs
Labels: v0.22

#7585 Fix key in genesis
  genesis/src/genesis_accounts.rs
Labels: v0.22

#7609 v0.21: Expose stake delegations from bank for winner tool (#7354)
  runtime/src/bank.rs
  runtime/src/stakes.rs
Labels: automerge

#7610 blocktree_processor: Groom log messages
  ledger/src/blocktree_processor.rs
Labels: v0.21, v0.22

#7619 Move cleanup to a script so it doesn't kill itself (#7603)
  net/net.sh
  net/remote/cleanup.sh
Labels: automerge

#7169 Dont process entries in case of failed CPU verification
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  ledger/src/entry.rs
  local-cluster/src/cluster_tests.rs
Labels: automerge

#7626 install: Account for rent
  install/src/command.rs
  programs/config/src/config_processor.rs
Labels: automerge, v0.22

#7624 Support nonced transactions in the CLI
  cli/src/cli.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/tests/pay.rs
  cli/tests/stake.rs
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  sdk/src/system_transaction.rs
  sdk/src/transaction.rs
Labels: v0.22

#7584 Limit maximum number of shreds in a slot to 32K
  core/src/replay_stage.rs
  core/src/shred_fetch_stage.rs
  core/src/sigverify_shreds.rs
  core/src/window_service.rs
  ledger/src/blocktree.rs
  ledger/src/blocktree_db.rs
  ledger/src/shred.rs
  ledger/src/sigverify_shreds.rs
Labels: stale

#7595 Book: Document CLI durable nonce account management
  book/src/SUMMARY.md
  book/src/api-reference/cli.md
  book/src/offline-signing/README.md
  book/src/offline-signing/durable-nonce.md
Labels: v0.22

#7641 Make sol-to-lamport const name more clear
  bench-tps/src/cli.rs
  faucet/src/faucet.rs
  genesis/src/genesis_accounts.rs
  genesis/src/validators.rs
  sdk/src/native_token.rs
Labels: automerge

#7646 {genesis,cli}/: Add input validation for --creation-time/--lockup-date args
  Cargo.lock
  clap-utils/src/input_parsers.rs
  clap-utils/src/input_validators.rs
  cli/src/stake.rs
  genesis/Cargo.toml
  genesis/src/main.rs
Labels: automerge, v0.22

#7648 Book: Sync CLI API doc for show-block-production
  book/src/api-reference/cli.md
Labels: automerge
