Repository solana-labs/solana, pull requests merged in 2019-10, with the labels that each got.

#6190 Expose current stake accounts of banks
  runtime/src/bank.rs
  runtime/src/stakes.rs
Labels: automerge

#6192 Add native_token module to sdk
  cli/src/input_parsers.rs
  cli/src/lib.rs
  cli/src/wallet.rs
  sdk/src/lib.rs
  sdk/src/native_token.rs
Labels: v0.19

#6199 Rename bank height to block_height and expose method
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
  runtime/src/bank.rs
Labels: v0.19

#6205 Add buildkite-agent key for colo access
  net/scripts/solana-user-authorized_keys.sh
Labels: v0.19

#6201 Bench-tps: flush tx queue when too old
  bench-tps/src/bench.rs
Labels: v0.19

#6211 Fix windows build by working around reed-solomon-erasure MSVC build issue
  Cargo.lock
  core/Cargo.toml
Labels: v0.19

#6235 install: Add default-run key for dev convenience
  install/Cargo.toml
Labels: automerge

#6225 Bench tps: improve fund_keys
  bench-tps/src/bench.rs
  bench-tps/src/cli.rs
  bench-tps/src/main.rs
Labels: automerge, v0.19

#6242 Cli refactor: vote and storage program functionalities
  cli/src/lib.rs
  cli/src/storage.rs
  cli/src/vote.rs
  cli/src/wallet.rs
  core/src/replicator.rs
  core/src/storage_stage.rs
  local_cluster/src/local_cluster.rs
  programs/storage_api/src/storage_contract.rs
  programs/storage_api/src/storage_instruction.rs
  programs/storage_api/src/storage_processor.rs
  programs/storage_program/tests/storage_processor.rs
  runtime/src/storage_utils.rs
Labels: automerge

#5987 Add Vest program
  Cargo.lock
  Cargo.toml
  programs/vest_api/Cargo.toml
  programs/vest_api/src/date_instruction.rs
  programs/vest_api/src/lib.rs
  programs/vest_api/src/vest_instruction.rs
  programs/vest_api/src/vest_processor.rs
  programs/vest_api/src/vest_schedule.rs
  programs/vest_api/src/vest_state.rs
Labels: automerge

#6239 Rename solana-runtime to sealevel
  Cargo.lock
  Cargo.toml
  runtime/Cargo.toml
  runtime/lib.rs
  runtime/src/lib.rs
  sealevel/.gitignore
  sealevel/Cargo.toml
  sealevel/benches/accounts.rs
  sealevel/benches/accounts_index.rs
  sealevel/benches/append_vec.rs
  sealevel/benches/bank.rs
  sealevel/benches/bloom.rs
  sealevel/benches/message_processor.rs
  sealevel/benches/status_cache.rs
  sealevel/benches/transaction_utils.rs
  sealevel/src/accounts.rs
  sealevel/src/accounts_db.rs
  sealevel/src/accounts_index.rs
  sealevel/src/append_vec.rs
  sealevel/src/bank.rs
  sealevel/src/bank_client.rs
  sealevel/src/blockhash_queue.rs
  sealevel/src/bloom.rs
  sealevel/src/epoch_schedule.rs
  sealevel/src/genesis_utils.rs
  sealevel/src/lib.rs
  sealevel/src/loader_utils.rs
  sealevel/src/message_processor.rs
  sealevel/src/native_loader.rs
  sealevel/src/rent_collector.rs
  sealevel/src/serde_utils.rs
  sealevel/src/stakes.rs
  sealevel/src/status_cache.rs
  sealevel/src/storage_utils.rs
  sealevel/src/system_instruction_processor.rs
  sealevel/src/transaction_batch.rs
  sealevel/src/transaction_utils.rs
  sealevel/tests/noop.rs
Labels: automerge

#6252 Reorder parameters
  programs/vest_api/src/date_instruction.rs
  programs/vest_api/src/vest_instruction.rs
  programs/vest_api/src/vest_processor.rs
  programs/vest_api/src/vest_state.rs
Labels: automerge

#6253 Fix vest_api output filename
  programs/vest_api/Cargo.toml
Labels: automerge

#6264 Colo: Prefer public IPs
  net/scripts/colo-provider.sh
  net/scripts/colo-utils.sh
Labels: automerge

#6266 Colo: Factor out inlined scripts to own files
  net/scripts/colo-node-onacquire-sh
  net/scripts/colo-node-onfree-sh
  net/scripts/colo-utils.sh
Labels: automerge

#6270 Broadcast/Shredding Metrics
  core/src/broadcast_stage/broadcast_utils.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/shred.rs
Labels: automerge

#6285 Fix blocktree processor entry callback test
  core/src/blocktree_processor.rs
Labels: noCI

#6293 Add jstarry to authorized keys
  net/scripts/solana-user-authorized_keys.sh
Labels: noCI

#6297 Colo: Prefer public IPs, part 2
  net/scripts/colo-provider.sh
Labels: automerge

#6298 Remove remnants of the cuda feature flag
  core/src/banking_stage.rs
  core/src/cuda_runtime.rs
  sdk/src/clock.rs
Labels: automerge

#6302 Plug potential panic in Vest
  programs/vest_api/src/vest_processor.rs
Labels: automerge

#6311 BPF call trace script
  sdk/bpf/scripts/bpf-trace.py
Labels: automerge

#6318 gce.sh: Rename -f flag to better reflect usage
  ci/testnet-manager.sh
  net/gce.sh
Labels: automerge

#6314 Stake program: reorder withdraw keys to allow to == authorized withdrawer
  programs/stake_api/src/stake_instruction.rs
  programs/stake_api/src/stake_state.rs
Labels: automerge

#6322 smaller fix for system_instruction_processor's blind indexing
  runtime/src/system_instruction_processor.rs
Labels: automerge

#6317 Fix system program blind derefs
  runtime/src/system_instruction_processor.rs
  sdk/src/system_instruction.rs
Labels: automerge

#6321 gce.sh: Be strict about fullnode count w/o --allow-boot-failures
  net/gce.sh
Labels: automerge

#6329 Better Vest code coverage
  programs/vest_api/src/vest_instruction.rs
  programs/vest_api/src/vest_processor.rs
Labels: automerge

#6326 net.sh: Add support for selecting validator GPU mode
  multinode-demo/bootstrap-leader.sh
  multinode-demo/validator.sh
  net/net.sh
  net/remote/remote-node.sh
Labels: automerge

#6343 gce.sh: Unwind allocation upon failure
  net/gce.sh
Labels: automerge

#6349 Fetch stage batching of forwarded txs
  core/src/fetch_stage.rs
Labels: automerge

#6350 Add getBlockConfidence rpc endpoint
  book/src/api-reference/jsonrpc-api.md
  core/src/confidence.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/validator.rs
Labels: automerge

#6356 Revert "collect rent from the accounts"
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/rent_collector.rs
Labels: automerge

#6359 Add methods to get appropriate bank_fork from ForkConfidenceCache based on confirmation depth and stake percentage
  core/src/confidence.rs
Labels: automerge

#6354 multiple deactivation
  programs/stake_api/src/stake_instruction.rs
  programs/stake_api/src/stake_state.rs
Labels: automerge

#6378 Cleanup shred header structures
  core/benches/shredder.rs
  core/src/blocktree.rs
  core/src/cluster_info.rs
  core/src/shred.rs
Labels: automerge

#6385 Enforce move loader program account size
  programs/move_loader_api/src/processor.rs
Labels: automerge

#6394 Delete ref annotations
  runtime/src/bank.rs
Labels: automerge

#6399 Fix flaky test_recv_mmsg_batch_size
  core/src/recvmmsg.rs
Labels: automerge

#6388 Fix unaligned read of short_vec pubkey_size in sigverify
  core/src/sigverify.rs
Labels: automerge

#6345 Magically improve coverage
  ci/test-coverage.sh
  scripts/coverage.sh
Labels: automerge

#6414 Remove unused code in entry
  core/src/entry.rs
Labels: automerge

#6357 Colo: Put NVMe disks to use
  ci/localnet-sanity.sh
  multinode-demo/clear-config.sh
  multinode-demo/common.sh
  net/common.sh
  net/remote/remote-node.sh
  net/scripts/colo-node-onfree-sh
  net/scripts/colo-utils.sh
Labels: automerge

#6422 Reduce kernel networking buffer for rmem and wmem
  net/datacenter-node-install/setup-procfs-knobs.sh
  net/scripts/network-config.sh
  scripts/tune-system.sh
Labels: automerge

#6421 Compute max blockhash age accounting for slot duration
  sdk/src/clock.rs
Labels: CI, automerge

#6423 Don't use BlocktreeError from Shredder
  core/src/shred.rs
Labels: automerge

#6424 rayon-threadlimit: Remove unused set_thread_count()
  rayon-threadlimit/src/lib.rs
Labels: automerge

#6428 Update shred tests to use specific error codes
  core/src/shred.rs
Labels: automerge

#6435 net: Remove validator sanity check
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  ci/testnet-sanity.sh
  net/net.sh
  net/remote/remote-sanity.sh
Labels: automerge

#6236 Reject TXs when there is a mismatch
  core/src/sigverify.rs
  sdk/src/message.rs
  sdk/src/transaction.rs
Labels: automerge

#6443 Don't stringify errors in snapshot_utils
  core/src/snapshot_utils.rs
Labels: automerge

#6444 Adjust crate-features to prevent rebuilds
  Cargo.lock
  crate-features/Cargo.toml
Labels: automerge

#6447 Split snapshot_package module
  core/src/bank_forks.rs
  core/src/lib.rs
  core/src/snapshot_package.rs
  core/src/snapshot_packager_service.rs
  core/src/snapshot_utils.rs
  core/src/tvu.rs
  core/src/validator.rs
Labels: automerge

#6445 Bump Trent's keys...
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#6442 Use serde-bytes to serialize u8 efficiently
  Cargo.lock
  programs/move_loader_api/Cargo.toml
  programs/move_loader_api/src/account_state.rs
  programs/move_loader_api/src/processor.rs
  sdk/Cargo.toml
  sdk/src/account.rs
  sdk/src/loader_instruction.rs
Labels: automerge

#6455 Change to 0x7f which is a valid short_vec len
  core/src/sigverify.rs
Labels: automerge

#6454 Check that transaction fee-payer is a debitable account
  cli/src/stake.rs
  cli/src/vote.rs
  core/src/sigverify.rs
Labels: automerge

#6467 cli/: Beautify show-account output
  cli/src/cli.rs
Labels: automerge

#6468 Skip ledger verification on restart to avoid timing out net/
  ci/testnet-manager.sh
Labels: automerge

#6469 Remove dead code in Rocks wrapper
  ledger/src/blocktree/db.rs
Labels: automerge

#6473 Colo verbosity
  net/scripts/colo-utils.sh
Labels: automerge

#6475 Exclude net/log in rsync script
  net/net.sh
Labels: automerge

#6480 Print machine hostname in log
  net/remote/remote-node.sh
Labels: automerge

#6481 net.sh: Ensure external disk link is setup before cleaning config dir
  net/common.sh
Labels: automerge

#6487 archiver.rs -> multinode-demo/archiver.sh
  multinode-demo/archiver-x.sh
  multinode-demo/archiver.sh
Labels: automerge

#6483 cli: Beautify `solana validator-info get` output
  cli/src/validator_info.rs
Labels: automerge

#6476 Rename remaining uses of fullnode to validator
  book/src/getting-started/README.md
  book/src/terminology.md
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  net/common.sh
  net/gce.sh
  net/net.sh
  net/remote/remote-deploy-update.sh
  net/remote/remote-node.sh
  net/remote/remote-sanity.sh
  net/scripts/colo-utils.sh
  net/ssh.sh
Labels: automerge

#6501 Increase archiver polling timeout
  core/src/archiver.rs
Labels: automerge

#6513 Ensure solana commands are added to idle clients
  net/net.sh
Labels: noCI

#6531 Add mint keypair to validators for convenience
  net/remote/remote-node.sh
Labels: noCI

#6535 Add getEpochSchedule to rpc docs
  book/src/api-reference/jsonrpc-api.md
Labels: noCI

#6536 Add mint keypair to solana clients for convenience
  net/remote/remote-client.sh
Labels: noCI

#6565 Copy mint keypair to the correct location for idle clients
  net/remote/remote-client.sh
Labels: noCI

#6566 Increase node start stagger
  net/net.sh
  net/remote/remote-node.sh
Labels: v0.20

#6539 optimize verify_instruction data change
  runtime/benches/is_zeroed.rs
  runtime/benches/message_processor.rs
  runtime/src/message_processor.rs
Labels: v0.20

#6571 Bootstrap leader's stake is now authorized to the bootstrap leader's identity key
  genesis/src/main.rs
Labels: v0.20

#6550 Fix race in `blocktree.insert_shreds`
  ledger/src/blocktree.rs
  ledger/tests/blocktree.rs
Labels: v0.20

#6527 Blocktree metrics
  core/src/window_service.rs
  ledger/src/blocktree.rs
Labels: v0.20

#6579 net: Invoke on-reboot from cloud startup script to avoid racing with cron
  net/gce.sh
  net/remote/remote-node.sh
Labels: automerge, v0.20

#6590 Demote blocktree metrics log level
  ledger/src/blocktree.rs
Labels: automerge, v0.20

#6587 Run localnet in development mode
  run.sh
Labels: v0.20

#6599 Remove unstable default-run directive
  install/Cargo.toml
Labels: automerge, v0.20

#6523 Update libra to new fork
  Cargo.lock
  local_cluster/src/tests/bench_tps.rs
  programs/librapay_api/Cargo.toml
  programs/librapay_api/src/lib.rs
  programs/librapay_api/src/librapay_instruction.rs
  programs/librapay_api/src/librapay_transaction.rs
  programs/move_loader_api/Cargo.toml
  programs/move_loader_api/src/account_state.rs
  programs/move_loader_api/src/data_store.rs
  programs/move_loader_api/src/error_mappers.rs
  programs/move_loader_api/src/processor.rs
Labels: v0.20

#6607 Fixup running-validator docs
  book/src/running-archiver.md
  book/src/running-validator/validator-info.md
  book/src/running-validator/validator-monitor.md
  book/src/running-validator/validator-software.md
  book/src/running-validator/validator-stake.md
  book/src/running-validator/validator-start.md
  book/src/running-validator/validator-testnet.md
Labels: noCI, v0.20

#6528 Test expanding all CF's
  ledger/src/blocktree_db.rs
Labels: v0.20

#6606 Fix Weighted Best calculation
  core/src/weighted_shuffle.rs
Labels: automerge, v0.20

#6614 Refactor Weighted Shuffle
  core/src/cluster_info.rs
  core/src/crds_gossip_push.rs
  core/src/retransmit_stage.rs
  core/src/weighted_shuffle.rs
Labels: automerge, v0.20

#6616 Ignore flaky move test
  local_cluster/src/tests/bench_tps.rs
Labels: automerge

#6615 Re-enable tests
  ci/test-stable.sh
Labels: automerge, v0.20

#6622 Bump jsonrpc-http-server from 14.0.1 to 14.0.3 (#6597)
  Cargo.lock
  client/Cargo.toml
  core/Cargo.toml
  vote-signer/Cargo.toml
Labels: automerge

#6623 Reduce verify-batch-size log
  core/src/replay_stage.rs
  core/tests/cluster_info.rs
Labels: v0.20

#6624 bench-tps: Add --no-multi-client flag
  bench-tps/src/cli.rs
  bench-tps/src/main.rs
Labels: v0.20

#6629 Remove lingering references to base-2 SOLs
  book/src/introduction.md
  programs/vote_api/src/vote_instruction.rs
  sdk/src/native_token.rs
  sdk/src/rent_calculator.rs
Labels: automerge

#6634 net: Install ag on nodes
  net/gce.sh
  net/scripts/install-ag.sh
Labels: automerge, v0.20

#6636 Rework get_index_meta
  ledger/src/blocktree.rs
Labels: v0.20

#6644 Fix PohRecorder Metrics
  core/src/poh_recorder.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: v0.20

#6641 net: Add ~/.cargo/bin to PATH on nodes
  net/scripts/create-solana-user.sh
Labels: v0.20

#6643 Fix Bench-Tps Metrics
  bench-tps/src/bench.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: v0.20

#6640 Fix code comment
  runtime/src/message_processor.rs
Labels: automerge

#6649 Fix check in should_insert_data_shred
  ledger/src/blocktree.rs
Labels: v0.20

#6642 Rework get_slot_meta
  ledger/src/blocktree.rs
Labels: v0.20

#6664 Add assertion when filling blocktree slot with ticks
  ledger/src/blocktree_processor.rs
Labels: automerge
