Repository solana-labs/solana, pull requests merged in 2019-05, with the labels that each got.

#4096 earlyoom: Stop using unsupported -k option
  net/scripts/install-earlyoom.sh
  scripts/oom-monitor.sh
Labels: automerge

#4107 Fix net.sh for running on macos
  net/net.sh
Labels: automerge

#4122 install cargo audit
  ci/docker-rust/Dockerfile
Labels: noCI

#4128 install mdbook and svgbob_cli
  ci/docker-rust/Dockerfile
Labels: noCI

#4131 push latest, too
  ci/docker-rust/build.sh
Labels: noCI

#4135 Revert "Change forwarded metrics to be in line with fetch stage metri…
  core/src/banking_stage.rs
Labels: automerge

#4155 Fix improper tick sleeping time in test
  core/tests/local_cluster.rs
Labels: automerge

#3035 Add a validator node proposal
  book/art/validator.bob
  book/src/SUMMARY.md
  book/src/validator.md
Labels: automerge

#4215 Change remote node's ssh config to allow more login retries
  net/scripts/network-config.sh
Labels: automerge

#4223 Add BankForks to RepairService
  core/src/repair_service.rs
  core/src/window_service.rs
Labels: automerge

#4224 multinode-demo/: Consolidate default arg parsing
  multinode-demo/common.sh
  multinode-demo/fullnode.sh
  multinode-demo/setup.sh
Labels: automerge

#4232 make gen_keypair_file() take &str
  keygen/src/keygen.rs
  sdk/src/signature.rs
  wallet/src/main.rs
Labels: automerge

#4228 The fullnode identity keypair can now be provided via --identity
  book/src/testnet-participation.md
  multinode-demo/extra-fullnode-args.sh
  multinode-demo/fullnode.sh
Labels: automerge

#4234 Move airdrop retries fully out of bash
  multinode-demo/fullnode.sh
  wallet/src/wallet.rs
Labels: automerge

#4236 add derive Debug to Keypair
  sdk/src/signature.rs
Labels: automerge

#4221 Add replicator support to multinode demo
  core/src/gossip_service.rs
  core/src/replicator.rs
  multinode-demo/common.sh
  multinode-demo/fullnode.sh
  multinode-demo/replicator.sh
  replicator/src/main.rs
Labels: automerge

#4241 API for getting first and last slots in epoch
  runtime/src/bank.rs
Labels: automerge

#4256 v0.14: net/ improvements
  net/gce.sh
  net/scripts/ec2-provider.sh
Labels: automerge

#4257 net/ improvements
  net/gce.sh
  net/scripts/ec2-provider.sh
Labels: automerge

#4263 v0.14: multinode-demo/fullnode.sh: --poll-for-new-genesis-block now restarts the node correctly each time
  multinode-demo/fullnode.sh
Labels: automerge

#4264 Use solana-ed25519-dalek v0.2.0
  Cargo.lock
  core/Cargo.toml
  sdk/Cargo.toml
  sdk/src/signature.rs
Labels: automerge

#4278 Fix compilation issue in replicator.rs
  core/src/replicator.rs
Labels: automerge

#4299 {net,ci}/ Remove disable leader rotation option
  ci/iterations-localnet.sh
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  net/common.sh
  net/gce.sh
  net/net.sh
  net/remote/remote-node.sh
  net/remote/remote-sanity.sh
Labels: automerge

#4300 Reduce log level for frequent log message and frequency for metrics
  runtime/src/bank.rs
Labels: automerge

#4303 Change slot_meta_iterator() to return an iterator not a cursor
  core/src/blocktree.rs
  core/src/repair_service.rs
Labels: automerge

#4315 add impl FromStr for Signature
  sdk/src/signature.rs
Labels: automerge

#4322 Sync run.sh with fd3f2cb
  run.sh
Labels: automerge

#4319 Rework Storage Program to accept multiple proofs per segment
  core/src/fullnode.rs
  core/src/storage_stage.rs
  programs/storage_api/src/storage_contract.rs
  programs/storage_api/src/storage_processor.rs
Labels: automerge

#4328 net/: Switch to instances with AVX-512 if possible for better interop with dev machines
  ci/testnet-deploy.sh
  net/gce.sh
  net/scripts/gce-provider.sh
Labels: automerge

#4339 test_process_store_ok() now pays with a system account
  programs/config_api/src/config_processor.rs
Labels: automerge

#4343 Add datapoint metrics to dashboard
  metrics/src/metrics.rs
  metrics/testnet-monitor.json
Labels: automerge

#4345 Fix a couple replicator nits
  core/src/replicator.rs
  core/src/storage_stage.rs
Labels: automerge

#4346 Remove fee arg from system_transaction::*
  bench-tps/src/bench.rs
  client/src/rpc_client.rs
  core/benches/banking_stage.rs
  core/benches/ledger.rs
  core/benches/sigverify_stage.rs
  core/src/banking_stage.rs
  core/src/blockstream.rs
  core/src/blockstream_service.rs
  core/src/blocktree_processor.rs
  core/src/chacha.rs
  core/src/cluster_tests.rs
  core/src/entry.rs
  core/src/local_cluster.rs
  core/src/packet.rs
  core/src/replicator.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/test_tx.rs
  core/tests/rpc.rs
  core/tests/tvu.rs
  drone/src/drone_mock.rs
  runtime/src/bank.rs
  runtime/src/locked_accounts_results.rs
  sdk/src/system_transaction.rs
  wallet/src/wallet.rs
Labels: automerge

#4351 Improve PoH unit test asserts
  core/src/poh.rs
Labels: automerge

#4354 Fix sending root slots instead of current slot
  core/src/replay_stage.rs
Labels: automerge

#4360 Add mining pool wallet commands
  core/src/local_cluster.rs
  core/src/staking_utils.rs
  programs/stake_api/src/stake_instruction.rs
  programs/stake_api/src/stake_state.rs
  wallet/src/wallet.rs
Labels: automerge

#4366 Add storage space constant
  core/src/replicator.rs
  core/src/storage_stage.rs
  genesis/src/main.rs
  programs/storage_api/src/storage_contract.rs
  programs/storage_api/src/storage_instruction.rs
  programs/storage_api/src/storage_processor.rs
Labels: automerge

#4371 Rename Broker to Swapper
  bench-exchange/README.md
Labels: noCI

#4378 fix spelling
  sdk/src/account_utils.rs
Labels: automerge

#4392 Remove ls which is innacurate since we never clean up the logs
  net/net.sh
Labels: automerge

#4394 Add CPU affinity for PoH service thread
  Cargo.lock
  core/Cargo.toml
  core/src/poh_service.rs
Labels: automerge

#4395 Don't filter transactions if we are buffering it locally
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
Labels: automerge

#4404 Change EpochSlots to use BtreeSet
  core/src/cluster_info.rs
  core/src/cluster_info_repair_listener.rs
  core/src/crds_value.rs
  core/src/repair_service.rs
Labels: automerge

#4412 Reduce bench-tps 100ms sleep to 1ms.
  bench-tps/src/bench.rs
Labels: automerge

#4423 Pay for storage transactions with a system account
  programs/storage_api/src/storage_processor.rs
  runtime/src/accounts.rs
Labels: automerge

#4198 Restrict transaction fee payers to system accounts
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/transaction.rs
Labels: automerge

#4429 Add argument to net/net to specify number of nodes
  net/net.sh
Labels: work in progress

#4425 remove copying of forwarded packets
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
Labels: automerge

#4428 Plumb ClusterInfoRepairListener
  core/src/cluster_info_repair_listener.rs
  core/src/leader_schedule_cache.rs
  core/src/local_cluster.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/window_service.rs
  core/tests/local_cluster.rs
Labels: automerge

#4435 Fix should_update check to update EpochSlots in gossip
  core/src/repair_service.rs
Labels: automerge

#4439 Ignore flaky test_repairman_catchup
  core/tests/local_cluster.rs
Labels: automerge

#4444 Cherry-pick #4442
  core/src/blocktree_processor.rs
Labels: automerge

#4462 Lock down blockexplorer version
  net/remote/remote-node.sh
Labels: noCI

#4461 v0.15: Drop influxcloud
  ci/testnet-manager.sh
  net/init-metrics.sh
Labels: noCI

#4460 Drop influxcloud
  ci/testnet-manager.sh
  net/init-metrics.sh
Labels: automerge

#4487 Shutdown all services before bailing replicator init
  core/src/replicator.rs
Labels: automerge

#4508 Enable fees in ci/localnet-sanity.sh
  ci/localnet-sanity.sh
  multinode-demo/fullnode.sh
  scripts/wallet-sanity.sh
Labels: automerge

#4507 Make run.sh compatible with multinode-demo/validator.sh
  run.sh
Labels: automerge
