Repository solana-labs/solana, pull requests merged in 2019-07, with the labels that each got.

#4884 Rework fullnode.sh to recover better from genesis block resets
  multinode-demo/common.sh
  multinode-demo/fullnode.sh
Labels: v0.16

#4890 install: Try to gracefully terminal child process before using SIGKILL
  Cargo.lock
  install/Cargo.toml
  install/src/command.rs
  install/src/lib.rs
  install/src/stop_process.rs
Labels: v0.16

#4893 update book with stake stuff
  book/src/stake-delegation-and-rewards.md
Labels: noCI

#4894 Always send pull responses to the origin addr
  core/src/cluster_info.rs
  gossip/src/main.rs
Labels: v0.16

#4896 install: run command now kills child process on SIGTERM to cleanly exit
  Cargo.lock
  install/Cargo.toml
  install/src/command.rs
Labels: automerge, v0.16

#4899 v0.16: install: run command now kills child process on SIGTERM to cleanly exit (#4896)
  Cargo.lock
  install/Cargo.toml
  install/src/command.rs
Labels: automerge

#4902 install run: Add .exe extension before checking for a program file on windows
  install/src/command.rs
Labels: v0.16

#4912 Add RPC api to return program accounts (#4876)
  book/src/jsonrpc-api.md
  core/src/rpc.rs
Labels: automerge

#4887 change vote commission to u8 (from u32)
  core/src/rpc.rs
  multinode-demo/fullnode.sh
  programs/stake_api/src/stake_state.rs
  programs/stake_tests/tests/stake_instruction.rs
  programs/vote_api/src/vote_instruction.rs
  programs/vote_api/src/vote_state.rs
  wallet/src/wallet.rs
Labels: automerge, v0.16

#4930 install: more little window fixes
  Cargo.lock
  install/Cargo.toml
  install/src/command.rs
Labels: v0.16

#4959 bank_forks test stability
  core/src/bank_forks.rs
Labels: automerge

#4971 Add pubkey
  net/scripts/add-solana-user-authorized_keys.sh
Labels: v0.16

#4762 Add testnet-tds support to testnet manager
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  net/net.sh
Labels: v0.16

#4993 Fix always passing in remote filename, even if no accounts file
  net/net.sh
Labels: v0.16

#4985 net/ plumbing to manage LetsEncrypt TLS certificates
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  net/common.sh
  net/gce.sh
  net/net.sh
  net/remote/remote-node.sh
  net/scripts/ec2-security-group-config.json
  net/scripts/install-certbot.sh
Labels: automerge, v0.16

#4997 net/: Fund solana-install deployments from the mint keypair to avoid airdrops
  net/remote/remote-deploy-update.sh
  scripts/solana-install-deploy.sh
  scripts/solana-install-update-manifest-keypair.sh
Labels: v0.16

#4992 Move SLOTS_PER_SEGMENT to genesis
  client/src/rpc_request.rs
  core/src/chacha.rs
  core/src/chacha_cuda.rs
  core/src/replicator.rs
  core/src/rpc.rs
  core/src/storage_stage.rs
  core/src/validator.rs
  core/tests/replicator.rs
  programs/stake_api/src/stake_instruction.rs
  programs/storage_api/src/lib.rs
  programs/storage_api/src/storage_contract.rs
  programs/storage_api/src/storage_instruction.rs
  programs/storage_api/src/storage_processor.rs
  programs/storage_program/tests/storage_processor.rs
  programs/vote_api/src/vote_instruction.rs
  runtime/src/bank.rs
  sdk/src/genesis_block.rs
  sdk/src/syscall/current.rs
  sdk/src/timing.rs
Labels: automerge

#5001 Improve signature checks in config_api
  programs/config_api/src/config_instruction.rs
  programs/config_api/src/config_processor.rs
Labels: automerge

#5008 Rename tds-testnet to tds
  ci/testnet-manager.sh
Labels: v0.16

#5021 Pass SOLANA_METRICS_CONFIG along to oom-monitor.sh
  net/remote/remote-node.sh
Labels: v0.16

#5033 add node_pubkey to vote warning
  programs/vote_api/src/vote_state.rs
Labels: v0.16

#5037 Make Merkle Tree instantiation a little less painful
  core/src/entry.rs
  merkle-tree/src/merkle_tree.rs
Labels: automerge

#5028 Fix credit only commit_credits race
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: v0.16

#5048 Restore ledger-tool print and json commands
  core/src/blocktree.rs
  ledger-tool/src/main.rs
  ledger-tool/tests/basic.rs
Labels: v0.16

#5050 validator.sh: Add --no-snapshot to disable booting a validator from a snapshot
  multinode-demo/fullnode.sh
Labels: automerge

#5031 Enable GPUs and secondary disks for TdS net, pull external account file
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  multinode-demo/common.sh
  net/gce.sh
Labels: v0.16

#5054 apt-get update before instaling certbot
  net/scripts/install-certbot.sh
Labels: v0.16

#5057 Add a version field to blobs
  core/src/chacha.rs
  core/src/erasure.rs
  core/src/packet.rs
Labels: v0.16

#5041 Facility to generate a blocktree prune list using ledger tool
  Cargo.lock
  core/src/blocktree_processor.rs
  core/src/local_cluster.rs
  core/src/validator.rs
  core/tests/tvu.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  validator/src/main.rs
Labels: automerge

#5085 Add epoch voting history to show-vote-account (#5080)
  Cargo.lock
  wallet/Cargo.toml
  wallet/src/wallet.rs
Labels: automerge

#5086 install: Correctly decode update manifest
  install/src/command.rs
Labels: automerge, v0.16

#5076 Purge remaining uses of term Locktower
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
  programs/vote_api/src/vote_state.rs
Labels: automerge

#5077 Plumb --no-snapshot in from CI
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  net/net.sh
  net/remote/remote-node.sh
Labels: v0.16

#5098 Pull testnet vars up to buildkite env
  ci/testnet-manager.sh
Labels: v0.16

#5100 Add node zone and count to ENV
  ci/testnet-manager.sh
Labels: v0.16

#5090 Keybase pubkey file instructions and verification for validators
  Cargo.lock
  book/src/testnet-participation.md
  validator-info/Cargo.toml
  validator-info/src/validator_info.rs
Labels: v0.16

#5104 Update expected keybase-pubkey location
  book/src/testnet-participation.md
  validator-info/src/validator_info.rs
Labels: automerge

#5106 Boot remote native loads, take 2
  programs/failure_program/tests/failure.rs
  runtime/benches/bank.rs
  runtime/src/native_loader.rs
  runtime/tests/noop.rs
Labels: v0.16

#5110 fix transaction_count
  core/src/banking_stage.rs
  runtime/src/bank.rs
Labels: v0.16

#5121 Improve validator-info CLI
  book/src/testnet-participation.md
  client/src/rpc_client.rs
  validator-info/src/validator_info.rs
Labels: v0.16

#4922 Add cross-program invocation proposal
  book/src/SUMMARY.md
  book/src/cross-program-invocation.md
Labels: automerge

#5135 clear-config.sh now works with a secondary disk
  multinode-demo/clear-config.sh
  multinode-demo/common.sh
Labels: v0.16

#5136 Check harder on crates.io for recently published crates
  ci/publish-crate.sh
Labels: v0.16

#5145 Cherry-pick: Fix bench-tps funding math; make generate_keypairs() and fund_keys() …
  bench-tps/src/bench.rs
  bench-tps/src/main.rs
Labels: automerge

#5151 Add weighted shuffle support for values upto u64::MAX
  core/src/weighted_shuffle.rs
Labels: automerge, v0.16

#5128 Add ability to prune ledger
  Cargo.lock
  core/src/blocktree.rs
  core/src/blocktree/db.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
Labels: v0.16

#5146 net/: startnode/stopnode now works for blockstreamer/replicator nodes
  multinode-demo/fullnode.sh
  net/net.sh
  net/remote/remote-node.sh
Labels: v0.16

#5165 Keybase: s/id/username
  book/src/testnet-participation.md
  validator-info/src/validator_info.rs
Labels: v0.16

#5176 Fix misleading variable name
  core/src/replay_stage.rs
Labels: automerge

#5185 Just a few typo fixes on the book
  .gitignore
  book/src/gossip.md
  book/src/stake-delegation-and-rewards.md
Labels: v0.16

#5179 validator.sh: Ensure validator process is kill when stdout/stderr are redirected
  multinode-demo/fullnode.sh
Labels: v0.16

#5180 publish-crate.sh: Select stable rust version
  ci/publish-crate.sh
Labels: v0.16

#5189 Add getEpochInfo() and getLeaderSchedule() RPC methods
  book/src/jsonrpc-api.md
  core/src/leader_schedule.rs
  core/src/leader_schedule_utils.rs
  core/src/rpc.rs
Labels: v0.16

#5197 Update RpcEpochInfo field order to match RPC output
  core/src/rpc.rs
Labels: v0.16

#5192 Plumb node funding from genesis
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  multinode-demo/fullnode.sh
  net/net.sh
  net/remote/remote-node.sh
Labels: v0.16

#5209 add root to terminology
  book/src/terminology.md
Labels: v0.16

#5150 Embed Move
  Cargo.toml
  ci/buildkite.yml
  ci/docker-rust/Dockerfile
  ci/test-move-demo.sh
  programs/move_loader_api/.gitignore
  programs/move_loader_api/Cargo.toml
  programs/move_loader_api/src/data_store.rs
  programs/move_loader_api/src/genesis.blob
  programs/move_loader_api/src/lib.rs
  programs/move_loader_program/.gitignore
  programs/move_loader_program/Cargo.lock
  programs/move_loader_program/Cargo.toml
  programs/move_loader_program/rust-toolchain
  programs/move_loader_program/src/lib.rs
Labels: automerge

#5222 Log the repairee pubkey when unable to serve them
  core/src/cluster_info_repair_listener.rs
Labels: automerge, v0.16

#5225 Bump solana_libra to v0.0.0.1 and move to rust stable
  ci/buildkite.yml
  ci/test-move-demo.sh
  programs/move_loader_api/Cargo.toml
  programs/move_loader_api/src/lib.rs
  programs/move_loader_program/Cargo.lock
  programs/move_loader_program/rust-toolchain
Labels: automerge

#5228 Do not attempt to create solana user multiple times
  net/scripts/create-solana-user.sh
Labels: v0.16

#5227 Surface validator pubkey in metrics
  metrics/src/metrics.rs
  multinode-demo/fullnode.sh
  net/remote/remote-node.sh
Labels: v0.16

#5112 Add manual publish for book and create book-beta
  RELEASE.md
  ci/publish-book.sh
Labels: v0.16

#5237 Call book/build.sh from docker
  ci/publish-book.sh
Labels: v0.16

#5182 net/ Add --no-deploy option to allow restarting nodes without a sofware update
  net/net.sh
  net/remote/remote-client.sh
  net/remote/remote-node.sh
  net/remote/remote-sanity.sh
Labels: v0.16

#5235 validator.sh: Add --reset-ledger option
  multinode-demo/fullnode.sh
Labels: v0.16

#5241 validator.sh: Introduce --config-dir to avoid shipping clear-config.sh
  book/src/testnet-participation.md
  ci/publish-tarball.sh
  multinode-demo/common.sh
  multinode-demo/fullnode.sh
  multinode-demo/setup.sh
Labels: v0.16

#5249 v0.16: Add support to install a specific Solana version directly from the Github releases
  Cargo.lock
  book/src/testnet-participation.md
  install/Cargo.toml
  install/src/command.rs
  install/src/config.rs
  install/src/lib.rs
Labels: automerge

#5254 Sort bench-tps keypairs
  bench-tps/src/main.rs
Labels: automerge, v0.16

#5253 Add logs to indicate when the leader changes
  core/src/replay_stage.rs
Labels: v0.16

#5264 Upgrade libra
  programs/move_loader_api/Cargo.lock
  programs/move_loader_api/Cargo.toml
Labels: automerge

#5265 Adjust log levels
  programs/move_loader_api/src/processor.rs
Labels: automerge

#5267 Remove more unwraps
  programs/move_loader_api/src/account_state.rs
  programs/move_loader_api/src/data_store.rs
  programs/move_loader_api/src/processor.rs
Labels: automerge

#5269 Post warning if window service isn't receiving any data
  core/src/window_service.rs
Labels: automerge, v0.16

#5274 Remove usage of api.testnet.solana.com
  README.md
  book/src/installer.md
  install/src/defaults.rs
  validator-info/src/validator_info.rs
Labels: v0.16

#5277 Fix poh recorder not flushing virtual ticks immediately
  core/src/poh_recorder.rs
  runtime/src/bank.rs
Labels: v0.16

#5287 Delete vestigal --vote-account argument
  multinode-demo/fullnode.sh
  run.sh
  validator/src/main.rs
Labels: automerge

#5290 validator/: Clean up argument parsing
  validator/src/main.rs
Labels: automerge

#5295 validator/: --storage-keypair argument should not be required
  validator/src/main.rs
Labels: automerge

#5298 Upgrade to all the latest packages our existing Cargo.toml will allow
  Cargo.lock
Labels: automerge

#5297 Move verify to finalize
  programs/move_loader_api/Cargo.toml
  programs/move_loader_api/src/account_state.rs
  programs/move_loader_api/src/data_store.rs
  programs/move_loader_api/src/processor.rs
Labels: automerge

#5306 Pull all libra crates from crates.io
  Cargo.lock
  programs/librapay_api/Cargo.toml
  programs/move_loader_api/Cargo.toml
Labels: v0.17

#5308 Move credit-only and Move proposals to implemented
  book/src/SUMMARY.md
Labels: automerge, v0.17

#5250 Add move mode to bench-tps
  Cargo.lock
  bench-tps/Cargo.toml
  bench-tps/src/bench.rs
  bench-tps/src/main.rs
  core/Cargo.toml
  core/src/lib.rs
  core/src/local_cluster.rs
Labels: work in progress

#5318 ci: Move coverage back to the default queue
  ci/buildkite.yml
Labels: v0.17

#5347 Ignore flaky local cluster
  Cargo.lock
  core/tests/local_cluster.rs
  runtime/benches/bank.rs
Labels: v0.17

#5336 Kill rsync
  .gitignore
  Cargo.lock
  book/src/testnet-participation.md
  ci/localnet-sanity.sh
  core/Cargo.toml
  core/src/rpc_service.rs
  core/src/validator.rs
  multinode-demo/bootstrap-leader.sh
  multinode-demo/clear-config.sh
  multinode-demo/common.sh
  multinode-demo/fullnode.sh
  multinode-demo/replicator.sh
  multinode-demo/setup.sh
  multinode-demo/validator.sh
  net/gce.sh
  net/remote/remote-deploy-update.sh
  net/remote/remote-node.sh
  net/remote/remote-sanity.sh
  net/scripts/ec2-security-group-config.json
  net/scripts/install-rsync.sh
  run.sh
Labels: automerge

#5358 v0.17: Ignore flaky test_replicator_startup_2_nodes
  core/tests/replicator.rs
Labels: automerge

#5366 Move tds to edge
  ci/testnet-manager.sh
Labels: automerge
