Repository solana-labs/solana, pull requests merged in 2019-09, with the labels that each got.

#5766 Add keypair print to solana-cli
  cli/src/main.rs
  cli/src/wallet.rs
Labels: automerge

#5715 Partner node setup tweaks
  net/datacenter-node-install/README.md
  net/datacenter-node-install/setup-cuda.sh
  net/datacenter-node-install/setup-dc-node-1.sh
  net/datacenter-node-install/setup-limits.sh
  net/datacenter-node-install/setup-partner-node.sh
  net/datacenter-node-install/setup-procfs-knobs.sh
Labels: automerge

#5160 Propose design for rent
  book/src/SUMMARY.md
  book/src/rent.md
Labels: noCI

#5798 Ignore test_snapshots_blocktree_floor
  local_cluster/tests/local_cluster.rs
Labels: automerge

#5810 multinode-demo/validator.sh: Sync CLI options with solana-validator
  multinode-demo/validator.sh
Labels: automerge

#5812 multinode-demo/validator.sh: Correct `new_genesis_block()` logic
  multinode-demo/validator.sh
Labels: automerge

#5743 Add support for BPF program custom errors
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/c/src/bench_alu/bench_alu.c
  programs/bpf/c/src/bench_alu/test_bench_alu.c
  programs/bpf/c/src/bpf_to_bpf/entrypoint.c
  programs/bpf/c/src/move_funds/move_funds.c
  programs/bpf/c/src/multiple_static/multiple_static.c
  programs/bpf/c/src/noop++/noop++.cc
  programs/bpf/c/src/noop/noop.c
  programs/bpf/c/src/panic/panic.c
  programs/bpf/c/src/relative_call/relative_call.c
  programs/bpf/c/src/struct_pass/struct_pass.c
  programs/bpf/c/src/struct_ret/struct_ret.c
  programs/bpf/rust/128bit/src/lib.rs
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/dep_crate/src/lib.rs
  programs/bpf/rust/external_spend/src/lib.rs
  programs/bpf/rust/iter/src/lib.rs
  programs/bpf/rust/many_args/src/lib.rs
  programs/bpf/rust/noop/src/lib.rs
  programs/bpf/rust/panic/src/lib.rs
  programs/bpf/rust/param_passing/src/lib.rs
  programs/bpf/rust/tick_height/src/lib.rs
  programs/bpf_loader_api/src/lib.rs
  sdk/bpf/c/inc/solana_sdk.h
  sdk/src/entrypoint.rs
  sdk/src/instruction.rs
Labels: v0.18

#5846 More types
  programs/vote_api/src/vote_state.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/sysvar/slot_hashes.rs
Labels: automerge

#5849 Rework solana-validator-cuda to automatically prepare the perf-libs env
  book/src/validator-monitor.md
  book/src/validator-start.md
  book/src/validator-testnet.md
  ci/publish-tarball.sh
  fetch-perf-libs.sh
Labels: automerge

#5853 net/net.sh: Add flag to skip build
  net/net.sh
Labels: automerge

#5866 Interpret Solana-CLI amount requests in SOL by default
  book/src/cli.md
  book/src/running-replicator.md
  book/src/validator-monitor.md
  book/src/validator-stake.md
  book/src/validator-start.md
  cli/src/lib.rs
  cli/src/wallet.rs
  cli/tests/deploy.rs
  cli/tests/pay.rs
  cli/tests/request_airdrop.rs
  multinode-demo/delegate-stake.sh
  multinode-demo/replicator.sh
  multinode-demo/validator.sh
  scripts/solana-install-deploy.sh
  scripts/wallet-sanity.sh
Labels: automerge

#5904 Add solana-crate-features workaround to avoid cargo feature thrashing
  Cargo.lock
  crate-features/.gitignore
  crate-features/0001-Print-package-features.patch
  crate-features/Cargo.toml
  crate-features/README.md
  crate-features/src/lib.rs
  multinode-demo/common.sh
  net/net.sh
  scripts/cargo-install-all.sh
  sdk/Cargo.toml
Labels: automerge

#5927 Enable --limit-ledger-size on testnets
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  multinode-demo/bootstrap-leader.sh
  multinode-demo/validator.sh
  net/gce.sh
  net/net.sh
  validator/src/main.rs
Labels: automerge

#5947 Exit cleanly with error message when the user supplies a bad cluster entrypoint
  validator/src/main.rs
Labels: automerge

#5944 Add solana-cli uptime subcommand
  cli/src/input_parsers.rs
  cli/src/lib.rs
  cli/src/vote.rs
  cli/src/wallet.rs
Labels: automerge

#5946 Rewrite wallet sanity test to use the ping command
  scripts/wallet-sanity.sh
Labels: automerge

#5982 net/gce.sh: Sync cloud_CreateInstances docs and usage
  net/gce.sh
  net/scripts/azure-provider.sh
  net/scripts/ec2-provider.sh
  net/scripts/gce-provider.sh
Labels: automerge

#5854 Add script for managing colo resourse ala gce.sh
  net/colo.sh
  net/gce.sh
  net/scripts/add-datacenter-solana-user-authorized_keys.sh
  net/scripts/azure-provider.sh
  net/scripts/colo-provider.sh
  net/scripts/colo-utils.sh
  net/scripts/colo_nodes
  net/scripts/ec2-provider.sh
  net/scripts/gce-provider.sh
Labels: automerge

#5997 Pull in Rust-BPF v0.1.6
  programs/bpf/Cargo.lock
  sdk/bpf/scripts/install.sh
Labels: automerge

#6010 client: Add more descriptive error on a stuck blockhash
  client/src/rpc_client.rs
Labels: automerge

#6022 net: Add Trent's work laptop pubkey
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#6024 Dump tar stdout/err on failure for better debug
  core/src/snapshot_package.rs
Labels: v0.19

#6026 Upgrade to ReedSolomon 4.0 release
  Cargo.lock
  core/Cargo.toml
  core/src/erasure.rs
  core/src/shred.rs
Labels: v0.19

#6025 Fix really old banks triggering log spam
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: v0.19

#6030 [v0.19] Upgrade to ReedSolomon 4.0 release (#6026)
  Cargo.lock
  core/Cargo.toml
  core/src/erasure.rs
  core/src/shred.rs
Labels: automerge

#6035 Fix ReedSolomon 4.0 windows build
  core/Cargo.toml
Labels: v0.19

#6038 Fix vote metrics
  programs/vote_api/src/vote_instruction.rs
Labels: automerge, v0.19

#6037 Skip considering banks older than the latest vote slot
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: automerge, v0.19

#6042 snapshot_utils: Avoid hardlinking as that confuses tar
  core/src/snapshot_utils.rs
Labels: v0.19

#6049 Fix BPF program static linking (#5992)
  runtime/src/accounts.rs
  runtime/src/message_processor.rs
Labels: automerge

#6051 Remove dead code from cluster_info
  core/src/cluster_info.rs
Labels: v0.19

#6053 genesis: Support primordial accounts with no data
  genesis/src/main.rs
Labels: v0.19

#6052 Window service is filtering out coding shreds
  core/src/blocktree.rs
  core/src/window_service.rs
Labels: v0.19

#6061 Update stale code references for vote program in book
  book/src/cluster/stake-delegation-and-rewards.md
Labels: noCI

#6041 Revert back to reqwest, using rustls feature
  Cargo.lock
  cli/Cargo.toml
  cli/src/validator_info.rs
  client/Cargo.toml
  client/src/client_error.rs
  client/src/rpc_client_request.rs
  core/Cargo.toml
  core/tests/rpc.rs
  crate-features/Cargo.toml
  install/Cargo.toml
  install/src/command.rs
  local_cluster/src/tests/local_cluster.rs
  metrics/Cargo.toml
  metrics/src/metrics.rs
  programs/btc_spv_bin/Cargo.toml
  programs/btc_spv_bin/src/block.rs
  programs/btc_spv_bin/src/blockheade.rs
  validator/Cargo.toml
  validator/src/lib.rs
Labels: v0.19

#6062 Additional tests for should_retransmit_and_persist
  core/src/shred.rs
  core/src/window_service.rs
Labels: automerge, v0.19

#6058 Fix using temp file for archive
  core/src/snapshot_package.rs
Labels: v0.19

#6069 bench-tps: Avoid accidential tx_count mismatches when using an accounts file
  bench-tps/src/main.rs
Labels: v0.19

#6067 Fix CI Jobs
  ci/test-stable.sh
Labels: v0.19

#6074 Fix staker / voter credit redemption
  programs/stake_api/src/stake_state.rs
Labels: v0.19

#6075 Remove kvstore/
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/blocktree.rs
  core/src/blocktree/kvs.rs
  kvstore/.gitignore
  kvstore/Cargo.toml
  kvstore/benches/basic.rs
  kvstore/src/compactor.rs
  kvstore/src/error.rs
  kvstore/src/io_utils.rs
  kvstore/src/lib.rs
  kvstore/src/mapper.rs
  kvstore/src/mapper/disk.rs
  kvstore/src/mapper/memory.rs
  kvstore/src/readtx.rs
  kvstore/src/sstable.rs
  kvstore/src/storage.rs
  kvstore/src/writebatch.rs
  kvstore/src/writelog.rs
  kvstore/tests/basic.rs
Labels: automerge

#6079 Add erasure recovery stats to dashboard
  core/src/blocktree.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: automerge, v0.19

#6091 Remove brace expansion in arg list
  ci/testnet-manager.sh
Labels: v0.19

#6081 Move status cache serialization to the Snapshot Packager service
  Cargo.lock
  core/src/bank_forks.rs
  core/src/blocktree_processor.rs
  core/src/snapshot_package.rs
  core/src/snapshot_utils.rs
  runtime/Cargo.toml
  runtime/src/bank.rs
  runtime/src/status_cache.rs
Labels: v0.19

#6102 Change formula used in erasure statistics graph
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: automerge, v0.19

#6105 Fix Bench-tps being too strict
  bench-tps/src/main.rs
Labels: automerge, v0.19

#6047 Remove some AccountStorage Serialization
  core/src/snapshot_package.rs
  core/src/snapshot_utils.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
Labels: v0.19

#6110 Remove serializing all ForkHashes
  runtime/src/accounts_db.rs
Labels: v0.19

#6114 Enable SOL or lamports for create-vote-account, show-{stake,vote}-account commands
  cli/src/vote.rs
  cli/src/wallet.rs
Labels: automerge, v0.19

#6117 colo-utils: Disable StrictHostKeyChecking for SSH calls
  net/scripts/colo-utils.sh
Labels: automerge

#6126 v0.19: Remove CUDA feature (#6094)
  Cargo.lock
  Cargo.toml
  book/src/running-validator/validator-software.md
  book/src/running-validator/validator-start.md
  ci/publish-tarball.sh
  ci/test-checks.sh
  ci/test-stable.sh
  ci/testnet-automation.sh
  core/Cargo.toml
  core/build.rs
  core/src/chacha_cuda.rs
  core/src/cuda_runtime.rs
  core/src/entry.rs
  core/src/lib.rs
  core/src/perf_libs.rs
  core/src/sigverify.rs
  core/src/sigverify_stage.rs
  core/src/storage_stage.rs
  core/src/validator.rs
  fetch-perf-libs.sh
  local_cluster/Cargo.toml
  multinode-demo/common.sh
  net/README.md
  net/net.sh
  net/remote/remote-client.sh
  net/remote/remote-node.sh
  net/remote/remote-sanity.sh
  scripts/cargo-install-all.sh
  scripts/coverage.sh
  validator-cuda/.gitignore
  validator-cuda/Cargo.toml
  validator-cuda/src/main.rs
  validator/src/lib.rs
Labels: automerge

#6134 Remove libstd statics to eliminate .bss
  sdk/bpf/scripts/install.sh
Labels: automerge

#6135 Prevent subtract overflow panic when slot < max lockout history
  core/src/rpc.rs
Labels: v0.19

#6132 Avoid storing epoch 0 credits if no credits where earned in epoch 0
  programs/vote_api/src/vote_state.rs
Labels: v0.19

#6143 get_new_blockhash() now retries longer (5s instead of 2s)
  client/src/rpc_client.rs
Labels: v0.19

#6146 doc: update validator-info publish arguments
  book/src/running-validator/validator-info.md
Labels: v0.19

#6151 Add ability to manually create a db
  net/init-metrics.sh
Labels: v0.19

#6152 Validator-info doc update
  book/src/running-validator/validator-info.md
Labels: v0.19

#6158 cli: Cleanly error when trying to delegate-stake an existing stake account
  cli/src/wallet.rs
Labels: v0.19

#6171 Don't try signing coding shred if fec rate is 0
  core/src/shred.rs
Labels: automerge, v0.19

#6161 cli: Add get-epoch-info command
  cli/src/wallet.rs
  client/src/lib.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
Labels: automerge, v0.19

#6162 install: Clear download progress bar to avoid flicker during archive extraction
  install/src/command.rs
Labels: v0.19

#6174 Add --expected-genesis-blockhash validator argument
  ci/localnet-sanity.sh
  cli/src/wallet.rs
  core/src/validator.rs
  multinode-demo/validator.sh
  validator/src/lib.rs
Labels: automerge

#6187 Fixup create-stake-account command
  multinode-demo/delegate-stake.sh
Labels: automerge
