Repository solana-labs/solana, pull requests merged in 2020-12, with the labels that each got.

#13874 Bump to rbpf v0.1.34
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
Labels: automerge, v1.3

#13875 Disable snapshot compression for run.sh to reduce system load
  run.sh
Labels: automerge

#13876 solana-tokens: enable confirmation of many transactions
  tokens/src/commands.rs
  tokens/src/spl_token.rs
Labels: automerge, v1.4

#13877 Fully clean up temporary snapshot staging directories
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: v1.4

#13871 Add msg! macro for program logging, deprecate info! macro
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/call_depth/src/lib.rs
  programs/bpf/rust/custom_heap/src/lib.rs
  programs/bpf/rust/deprecated_loader/src/lib.rs
  programs/bpf/rust/dup_accounts/src/lib.rs
  programs/bpf/rust/error_handling/src/lib.rs
  programs/bpf/rust/instruction_introspection/src/lib.rs
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/rust/iter/src/lib.rs
  programs/bpf/rust/many_args/src/lib.rs
  programs/bpf/rust/many_args_dep/src/lib.rs
  programs/bpf/rust/panic/src/lib.rs
  programs/bpf/rust/param_passing/src/lib.rs
  programs/bpf/rust/rand/src/lib.rs
  programs/bpf/rust/ristretto/src/lib.rs
  programs/bpf/rust/sanity/src/lib.rs
  programs/bpf/rust/sha256/src/lib.rs
  programs/bpf/rust/spoof1/src/lib.rs
  programs/bpf/rust/sysval/src/lib.rs
  sdk/program/src/log.rs
  sdk/program/src/program_error.rs
Labels: v1.4

#13887 Add logging in check_blockstore_max_root
  core/src/rpc.rs
Labels: automerge, v1.4

#13889 Use msg! in program entrypoint
  sdk/program/src/entrypoint.rs
Labels: automerge, v1.4

#13880 Reduce `ledger/snapshot/` disk usage
  core/tests/snapshots.rs
  runtime/src/snapshot_utils.rs
Labels: v1.4

#13896 Lock serum-dex to older version to avoid build failures
  scripts/build-downstream-projects.sh
Labels: automerge, v1.4

#13879 solana-tokens: optimize PickleDb dumps
  Cargo.lock
  tokens/Cargo.toml
  tokens/src/arg_parser.rs
  tokens/src/commands.rs
  tokens/src/db.rs
  tokens/src/main.rs
Labels: v1.4

#13882 Remove rpc_banks from validator
  cli-config/src/config.rs
  core/src/cluster_info.rs
  core/src/contact_info.rs
  core/src/serve_repair.rs
  core/src/test_validator.rs
  core/src/validator.rs
  local-cluster/src/local_cluster.rs
  validator/src/main.rs
Labels: automerge, v1.4

#13899 Add specific page for rpc endpoints
  docs/sidebars.js
  docs/src/cluster/rpc-endpoints.md
Labels: v1.4

#13904 Ledger tool cap basic columns
  ledger-tool/src/main.rs
Labels: automerge, v1.4

#13914 Translate data length and owner as writable
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/ro_modify/Cargo.toml
  programs/bpf/rust/ro_modify/Xargo.toml
  programs/bpf/rust/ro_modify/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
Labels: v1.3, v1.4

#13921 Cleanup memory translation APIs
  programs/bpf_loader/src/syscalls.rs
Labels: automerge

#13920 docs: Add a ramdisk section to the validator start guide
  docs/src/running-validator/validator-start.md
Labels: v1.4

#13923 Cli: output stake account credits-observed for verbose/json
  cli-output/src/cli_output.rs
  cli/src/main.rs
  cli/src/stake.rs
Labels: automerge

#13924 Cap number of program address seeds
  programs/bpf_loader/src/syscalls.rs
  sdk/program/src/pubkey.rs
Labels: automerge

#13925 Cap number of program address seeds
  programs/bpf_loader/src/syscalls.rs
  sdk/program/src/pubkey.rs
Labels: automerge

#13928 BankServer::send_transaction_with_context() now performs signature verification
  banks-server/src/banks_server.rs
Labels: v1.4

#13931 Invoke with empty account slice
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
Labels: v1.3, v1.4

#13946 Blockstore exact purge cleanup
  ledger/src/blockstore/blockstore_purge.rs
Labels: automerge, v1.4

#13949 docs: Refresh testnet restart instructions
  docs/src/running-validator/restart-cluster.md
Labels: v1.4

#13953 Remove associated functions on AccountsDb, replace with methods
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
Labels: v1.4

#13956 Translate data length as mutable
  programs/bpf_loader/src/syscalls.rs
Labels: automerge

#13964 Report highest_confirmed_root and _slot in commitment metric
  core/src/commitment_service.rs
Labels: automerge, v1.3, v1.4

#13966 Don't use stale executor cache
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/invoke_and_error/Cargo.toml
  programs/bpf/rust/invoke_and_error/Xargo.toml
  programs/bpf/rust/invoke_and_error/src/lib.rs
  programs/bpf/rust/invoke_and_ok/Cargo.toml
  programs/bpf/rust/invoke_and_ok/Xargo.toml
  programs/bpf/rust/invoke_and_ok/src/lib.rs
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
Labels: automerge, v1.4

#13970 ledger-tool: Add --remove-account option to create-snapshot command
  ledger-tool/src/main.rs
Labels: automerge, v1.4

#13973 removes recursive read-locks on gossip
  core/src/cluster_info.rs
Labels: v1.4

#13980 solana ping: add --blockhash and --print-timestamp
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: v1.4

#13983 Don't show confusing message for blacklist expires
  validator/src/main.rs
Labels: automerge, v1.3, v1.4

#13989 genesis, ledger-tool: --inflation/--vote-commission-percentaage
  genesis/src/main.rs
  ledger-tool/src/main.rs
Labels: automerge, v1.4

#13990 core/validator: Wrap std::process:exit(1) for easier testing
  core/src/validator.rs
Labels: automerge

#13993 v1.3: rpc getConfirmedBlock backports
  core/src/rpc.rs
Labels: automerge

#13996 Fix logsSubscribe
  core/src/rpc_pubsub.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.4

#13977 Cannot change owner if account is executable
  docs/src/developing/programming-model/runtime.md
  runtime/src/message_processor.rs
Labels: v1.4

#13997 Rent account passed to loader can be read-only
  sdk/program/src/loader_instruction.rs
Labels: automerge

#13978 Remove unneeded BankWeight fork choice
  core/src/bank_weight_fork_choice.rs
  core/src/consensus.rs
  core/src/lib.rs
  core/src/replay_stage.rs
Labels: v1.4

#14002 Bump criterion to v2.3.3
  sdk/bpf/scripts/install.sh
Labels: automerge, v1.4

#13994 validator: Add --rpc-max-multiple-accounts to override the getMultipleAccounts JSON RPC maximum
  core/src/rpc.rs
  validator/src/main.rs
Labels: v1.4

#14009 Docs: Correct the system.conf NOFILE variable name
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.4

#14008 Add tests for store_account_and_update_capitalization
  runtime/src/bank.rs
Labels: v1.4

#14021 Cap CPI signers
  programs/bpf/build.rs
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
Labels: v1.4

#14024 Increase snapshot file size limits
  runtime/src/hardened_unpack.rs
Labels: v1.3, v1.4

#13992 Better dupe detection
  core/benches/shredder.rs
  core/src/replay_stage.rs
  core/src/shred_fetch_stage.rs
  ledger/src/block_error.rs
  ledger/src/blockstore.rs
  ledger/src/shred.rs
Labels: v1.4

#14037 adds the instance token to crds-labels for node-instance crds-values
  core/src/cluster_info.rs
  core/src/crds_value.rs
Labels: v1.3, v1.4

#14043 Lower priority for hashing threads.
  runtime/src/accounts_db.rs
Labels: v1.4

#14046 Fix priv escalation test
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  sdk/program/src/instruction.rs
Labels: automerge, v1.4

#14048 Add get_minimum_balance_for_rent_excemption to Client
  client/src/thin_client.rs
  runtime/src/bank_client.rs
  sdk/src/client.rs
Labels: v1.4

#14047 Add message helpers to get program info
  sdk/program/src/message.rs
Labels: v1.4

#14014 Remove "Timezone For Log Messages" section
  docs/src/running-validator/validator-monitor.md
Labels: v1.4

#14042 Tiny add_native_program bug fixes with cleanups
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/src/native_loader.rs
Labels: v1.4

#14055 Clean invoke in prep for native invoke
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
Labels: automerge, v1.4

#14063 Wrong rpc inflation rate
  core/src/rpc.rs
  runtime/src/bank.rs
Labels: automerge, v1.4

#14065 Add more comments in Stakes::store for its subtlety
  runtime/src/stakes.rs
Labels: v1.4

#14071 Increase another snapshot limit: UNPACKED_COUNT
  runtime/src/hardened_unpack.rs
Labels: automerge, v1.4

#14062 Filter out stake and vote accounts with incorrect owners
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.4

#14011 Add subscription cap
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.4

#14079 cli: stake-account command no longer errors when time goes backwards over an epoch
  cli-output/src/cli_output.rs
  cli/src/stake.rs
Labels: automerge, v1.4

#13911 Move slot cleanup to AccountsBackgroundService
  banking-bench/src/main.rs
  core/src/commitment_service.rs
  core/src/consensus.rs
  core/src/optimistically_confirmed_bank_tracker.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/tvu.rs
  core/tests/snapshots.rs
  runtime/src/accounts_background_service.rs
  runtime/src/bank.rs
  runtime/src/bank_forks.rs
Labels: automerge

#14095 Rework TestValidator API to be more like ProgramTest
  Cargo.lock
  core/src/test_validator.rs
  faucet/src/faucet.rs
  program-test/src/lib.rs
  validator/Cargo.toml
  validator/src/bin/solana-test-validator.rs
Labels: automerge

#13884 Simple cap by including sysvars and native programs
  accounts-bench/src/main.rs
  ledger-tool/src/main.rs
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
  sdk/src/genesis_config.rs
Labels: v1.4

#14112 Terminology fixes
  docs/src/terminology.md
Labels: v1.4

#14119 Remove regular expressions, speeds up untar
  runtime/src/hardened_unpack.rs
Labels: v1.4

#14083 Cleanup ledger builtins
  ledger/src/builtins.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.5

#14101 Fix race between setting tick height and calculating accounts hash
  core/src/replay_stage.rs
  runtime/src/bank.rs
Labels: v1.4, v1.5

#14094 Partial shred deserialize cleanup and shred type differentiation
  core/src/lib.rs
  core/src/packet_hasher.rs
  core/src/retransmit_stage.rs
  core/src/shred_fetch_stage.rs
  ledger/src/shred.rs
Labels: v1.4, v1.5

#14141 Switch `solana deploy` commitment default from "max" to "singleGossip"
  cli/src/cli.rs
  cli/src/main.rs
Labels: v1.5

#14147 Fix up upgradeable bpf loader activation
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
  ledger/src/builtins.rs
Labels: automerge, v1.5

#14142 check for resize access violations
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
Labels: v1.4, v1.5

#14148 Remove lock files from programs/bpf/rust
  programs/bpf/rust/caller_access/Cargo.lock
  programs/bpf/rust/spoof1/Cargo.lock
  programs/bpf/rust/spoof1_system/Cargo.lock
Labels: v1.4, v1.5

#14159 Correctly show reward percent changes
  cli/src/cluster_query.rs
  cli/src/stake.rs
Labels: v1.4, v1.5

#14128 fix formatting error in docs
  docs/src/cluster/vote-signing.md
Labels: v1.5

#14145 Add blockstore skipped api
  client/src/rpc_custom_error.rs
  core/src/rpc.rs
  ledger/src/blockstore.rs
Labels: v1.4, v1.5

#14176 Fix program account rent exemption
  programs/bpf/rust/upgradeable/src/lib.rs
  programs/bpf/rust/upgraded/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
Labels: automerge, v1.5

#14186 v1.4: Add --bpf-jit stub argument for v1.5 forward compatibility
  validator/src/main.rs
Labels: automerge

#14135 chore: port web3.js to solana-test-validator
  web3.js/.gitignore
  web3.js/.travis.yml
  web3.js/.travis/before_install.sh
  web3.js/.travis/script.sh
  web3.js/README.md
  web3.js/examples/bpf-rust-noop/Cargo.toml
  web3.js/examples/bpf-rust-noop/do.sh
  web3.js/examples/bpf-rust-noop/src/lib.rs
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/test/connection.test.js
  web3.js/test/fixtures/noop-rust/build.sh
Labels: automerge

#13944 Improved Transaction Forwarding
  cli/src/cli.rs
  core/src/banking_stage.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/send_transaction_service.rs
  core/src/validator.rs
  validator/src/main.rs
Labels: v1.4, v1.5

#14189 Fix test_max_hashes
  core/src/accounts_hash_verifier.rs
Labels: v1.4, v1.5

#14193 Add CPI support for upgradeable loader
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/invoke_and_return/Cargo.toml
  programs/bpf/rust/invoke_and_return/Xargo.toml
  programs/bpf/rust/invoke_and_return/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
  sdk/src/process_instruction.rs
Labels: v1.5

#14183 Reject invalid --expected-shred-version
  validator/src/main.rs
Labels: automerge, v1.4, v1.5

#14205 getBlockTime RPC method now falls back to BigTable in all cases
  core/src/rpc.rs
Labels: automerge, v1.4, v1.5

#14213 Stream RPC snapshot downloads
  Cargo.lock
  core/Cargo.toml
  core/src/rpc_service.rs
Labels: v1.4, v1.5

#14210 Fix timestamp handling on ledger warp
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.5

#14220 Restore Content-Length header for streaming snapshot download
  core/src/rpc_service.rs
Labels: v1.4, v1.5

#14219 solana-validator: Allow multiple --accounts arguments
  validator/src/main.rs
Labels: automerge, v1.4, v1.5

#14223 Do not delete ALL other snapshots before downloading a new snapshot
  download-utils/src/lib.rs
  runtime/src/snapshot_utils.rs
Labels: automerge, v1.4, v1.5

#14209 Rework upgradeable loader cli
  clap-utils/src/keypair.rs
  cli/src/cli.rs
  cli/src/lib.rs
  cli/src/program.rs
  cli/tests/program.rs
  client/src/mock_sender.rs
  sdk/cargo-build-bpf/src/main.rs
Labels: v1.5

#14235 v1.4 fix timestamp metrics
  runtime/src/bank.rs
Labels: automerge

#14232 Feature-gate stake-program-v3
  programs/stake/src/legacy_stake_state.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  runtime/src/builtins.rs
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#14260 Ignore long/hanging test
  runtime/src/accounts_db.rs
Labels: automerge

#14261 Ignore long/hanging test
  runtime/src/accounts_db.rs
Labels: automerge

#14256 validator: Multiple --entrypoint support
  core/src/cluster_info.rs
  core/src/test_validator.rs
  core/src/validator.rs
  docs/src/clusters.md
  local-cluster/src/local_cluster.rs
  net-utils/src/lib.rs
  validator/src/main.rs
Labels: v1.5

#14263 validator: Add log message for when a local snapshot is too old
  validator/src/main.rs
Labels: v1.4, v1.5

#14251 Save cloning program account data
  runtime/src/message_processor.rs
Labels: v1.5

#14252 Limit CPI from calling loader or native programs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
Labels: v1.5

#14276 Don't use caller passed executable account
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
Labels: v1.5

#14278 Prevent bpf loader impersonators
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/message_processor.rs
Labels: automerge, v1.5

#14289 Persist gossip contact info
  Cargo.lock
  core/src/cluster_info.rs
  core/src/validator.rs
  validator/Cargo.toml
  validator/src/main.rs
Labels: v1.5

#14303 run.sh: add env knob for solana-validor
  run.sh
Labels: automerge, v1.4, v1.5

#14302 Log error from AppendVec removal & a panic clean
  runtime/src/append_vec.rs
Labels: v1.4, v1.5

#14305 Remove Testnet-specific old code
  runtime/src/snapshot_utils.rs
Labels: v1.4, v1.5

#14317 Limit CPI instruction size
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
  sdk/src/process_instruction.rs
Labels: automerge, v1.5

#14308 Retry durable-nonce transactions
  core/src/rpc.rs
  core/src/send_transaction_service.rs
Labels: v1.4, v1.5

#14322 Upgrade in-tree tokio 0.2 usage to tokio 0.3
  Cargo.lock
  core/Cargo.toml
  core/src/bigtable_upload_service.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/bigtable.rs
  ledger/Cargo.toml
  ledger/src/bigtable_upload.rs
Labels: v1.5

#14292 Add poh speed test and calibration logic
  core/src/banking_stage.rs
  core/src/poh_service.rs
  core/src/validator.rs
  ledger/src/poh.rs
  validator/src/main.rs
Labels: v1.4, v1.5

#14330 Add experimental knob for tuning PoH pinned CPU core
  Cargo.lock
  core/src/banking_stage.rs
  core/src/poh_service.rs
  core/src/validator.rs
  validator/Cargo.toml
  validator/src/main.rs
Labels: v1.4, v1.5

#14336 Rewrite faucet with tokio v0.3
  Cargo.lock
  faucet/Cargo.toml
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
Labels: v1.5

#14342 Add --test arg to cargo-test-bpf
  sdk/cargo-test-bpf/src/main.rs
Labels: automerge, v1.5

#14345 Port ip-echo-server to tokio 0.3
  Cargo.lock
  core/src/validator.rs
  net-utils/Cargo.toml
  net-utils/src/ip_echo_server.rs
Labels: v1.5

#14346 Speed up UDP reachable port checks
  net-utils/src/lib.rs
Labels: v1.5

#14355 nit: clarify loader id
  programs/bpf_loader/src/lib.rs
Labels: automerge, v1.4, v1.5

#14356 Remove assert
  programs/bpf_loader/src/serialization.rs
Labels: automerge, v1.4, v1.5

#14361 Gate CPI authorized programs
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#14375 watchtower: Add --ignore-http-bad-gateway flag
  client/src/client_error.rs
  watchtower/src/main.rs
Labels: v1.4, v1.5
