Repository solana-labs/solana, pull requests merged in 2020-01, with the labels that each got.

#7656 Book - Document nonceable CLI subcommands
  book/src/api-reference/cli.md
  book/src/offline-signing/durable-nonce.md
Labels: automerge, v0.22

#7657 CLI: Fix default nonce authority resolution
  cli/src/cli.rs
  cli/src/nonce.rs
  cli/tests/nonce.rs
  cli/tests/pay.rs
  cli/tests/stake.rs
Labels: automerge

#7655 Publish bpf-sdk releases
  ci/publish-bpf-sdk.sh
  ci/publish-tarball.sh
  sdk/bpf/scripts/package.sh
Labels: v0.22

#7663 Publish bpf-sdk only in Linux build
  ci/publish-tarball.sh
Labels: v0.22

#7645 Move nonce into system program
  cli/src/cli.rs
  cli/src/nonce.rs
  genesis-programs/src/lib.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/genesis_utils.rs
  runtime/src/message_processor.rs
  runtime/src/nonce_utils.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/genesis_config.rs
  sdk/src/lib.rs
  sdk/src/nonce_instruction.rs
  sdk/src/nonce_program.rs
  sdk/src/nonce_state.rs
  sdk/src/system_instruction.rs
  sdk/src/transaction.rs
Labels: automerge, v0.22

#7673 Make validator timestamping more coincident, and increase timestamp sample range
  core/src/consensus.rs
  ledger/src/blocktree.rs
Labels: automerge, v0.22

#7675 cli: Set default create-vote-account commission to 100%
  cli/src/vote.rs
Labels: v0.22

#7678 net-utils/: Don't panic if peer_addr() fails
  net-utils/src/ip_echo_server.rs
Labels: automerge, v0.22

#7682 Cli: fund validator-info accounts with rent-exempt lamports
  cli/src/validator_info.rs
Labels: v0.22

#7681 getBlockTime: Fix RootedSlotIterator lowest root
  ledger/src/blocktree.rs
Labels: v0.22

#7688 Update getBlockTime rpc docs
  book/src/api-reference/jsonrpc-api.md
Labels: v0.22

#7691 accountds_db: Use commas to make a log message more readable
  runtime/src/accounts_db.rs
Labels: v0.22

#7701 validator: Add --wait-for-super-majority to facilitate asynchronous cluster restarts
  book/src/implemented-proposals/staking-rewards.md
  book/src/implemented-proposals/tower-bft.md
  core/src/validator.rs
  validator/src/main.rs
Labels: v0.21, v0.22

#7706 Account for stake held by the current node while waiting for the supermajority to join gossip
  core/src/validator.rs
  local-cluster/tests/local_cluster.rs
Labels: v0.22

#7716 Remove vote account from genesis validators
  genesis/src/genesis_accounts.rs
  genesis/src/validators.rs
Labels: v0.22

#7718 Correctly integrate buildkite with codecov
  ci/docker-run.sh
  ci/test-coverage.sh
Labels: v0.21, v0.22

#7725 Update http crate to fix security vulnerability
  Cargo.lock
  ci/test-checks.sh
Labels: v0.21, v0.22

#7733 Print bank hash and hash inputs.
  core/src/replay_stage.rs
  runtime/src/bank.rs
Labels: v0.22

#7735 Update http crate in bpf program workspace to fix security vulnerability
  programs/bpf/Cargo.lock
Labels: v0.21, v0.22

#7719 Clarify account creation error messages in CLI
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/storage.rs
  cli/src/vote.rs
Labels: v0.21, v0.22

#7748 nit, clearer error message
  programs/bpf/build.rs
Labels: automerge

#7747 nit, cleanup uses
  programs/bpf_loader/src/alloc.rs
  programs/bpf_loader/src/helpers.rs
  programs/bpf_loader/src/lib.rs
  programs/librapay/Cargo.lock
  programs/librapay/src/lib.rs
  programs/librapay/src/librapay_instruction.rs
  programs/librapay/src/librapay_transaction.rs
  programs/move_loader/Cargo.lock
Labels: automerge

#5399 Book: Update SPV section to reflect new account state query mechanism
  book/art/spv-bank-hash.bob
  book/art/spv-bank-merkle.bob
  book/src/proposals/simple-payment-and-state-verification.md
Labels: problem description doesn't describe a problem

#7754 Fix call to BPF build script
  programs/bpf/build.rs
Labels: automerge

#7741 Handle errors on replaying ledger properly
  ledger/src/blocktree_processor.rs
Labels: v0.22

#7758 Remove print in test
  ci/nits.sh
  ledger/src/blocktree.rs
  ledger/src/blocktree_processor.rs
Labels: automerge

#7684 Manage durable nonce stored value in runtime
  core/src/transaction_status_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/nonce_utils.rs
Labels: v0.22

#7759 Pick an RPC node at random to avoid getting stuck on a bad RPC node
  Cargo.lock
  validator/Cargo.toml
  validator/src/main.rs
Labels: v0.21, v0.22

#7756 getConfirmedBlock: add encoding optional parameter
  book/src/api-reference/jsonrpc-api.md
  client/src/rpc_request.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  ledger/src/blocktree.rs
Labels: automerge, v0.22

#7768 Install move-loader binaries
  scripts/cargo-install-all.sh
Labels: v0.22

#7694 Book: Update durable nonce proposal entry
  book/src/implemented-proposals/durable-tx-nonces.md
Labels: automerge, v0.22

#7757 Rename blocktree to blockstore
  banking-bench/src/main.rs
  book/art/validator.bob
  book/src/SUMMARY.md
  book/src/cluster/managing-forks.md
  book/src/implemented-proposals/blockstore.md
  book/src/implemented-proposals/repair-service.md
  book/src/implemented-proposals/validator-timestamp-oracle.md
  book/src/proposals/tick-verification.md
  book/src/proposals/validator-proposal.md
  book/src/validator/tvu/blockstore.md
  core/Cargo.toml
  core/benches/banking_stage.rs
  core/benches/blockstore.rs
  core/src/archiver.rs
  core/src/banking_stage.rs
  core/src/blockstream_service.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_fake_shreds_run.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/chacha.rs
  core/src/chacha_cuda.rs
  core/src/cluster_info.rs
  core/src/cluster_info_repair_listener.rs
  core/src/gossip_service.rs
  core/src/ledger_cleanup_service.rs
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/result.rs
  core/src/retransmit_stage.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/shred_fetch_stage.rs
  core/src/storage_stage.rs
  core/src/tpu.rs
  core/src/transaction_status_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/window_service.rs
  core/tests/ledger_cleanup.rs
  core/tests/storage_stage.rs
  genesis/src/main.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_meta.rs
  ledger/src/blockstore_processor.rs
  ledger/src/erasure.rs
  ledger/src/leader_schedule_cache.rs
  ledger/src/lib.rs
  ledger/src/rooted_slot_iterator.rs
  ledger/tests/blockstore.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/archiver.rs
  local-cluster/tests/local_cluster.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
Labels: automerge, v0.22

#7772 Update getConfirmedBlock example(s)
  book/src/api-reference/jsonrpc-api.md
Labels: v0.22

#7775 Nonce: Rename instructions with VerbNoun scheme
  book/src/implemented-proposals/durable-tx-nonces.md
  runtime/src/nonce_utils.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/system_instruction.rs
Labels: automerge, v0.22

#7764 Reduce grace ticks, and ignore grace ticks for missing leaders
  core/src/poh_recorder.rs
  ledger/src/lib.rs
Labels: v0.22

#7730 Unignore advisories as affected ver. is corrected
  ci/test-checks.sh
Labels: v0.21, v0.22

#7789 Book: Drop since-fixed nonce known issue
  book/src/offline-signing/durable-nonce.md
Labels: automerge, v0.22

#7780 Add hash stats information to check hashes between validators
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: automerge, v0.22

#7792 cli: Improve KeypairFileNotFound error message
  cli/src/main.rs
Labels: automerge, v0.22

#7777 Include shred version in gossip
  core/src/cluster_info.rs
  core/src/contact_info.rs
  core/src/gossip_service.rs
  core/src/validator.rs
Labels: v0.21, v0.22

#7798 Naming nits
  runtime/src/native_loader.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/sysvar/mod.rs
  sdk/src/sysvar/rent.rs
Labels: automerge

#7797 Fix cluster collapse due to no proper shifted read
  runtime/src/accounts_db.rs
Labels: v0.22

#7809 Set bootstrap leader and net/ validator vote account commission to 100%
  genesis/src/main.rs
  multinode-demo/validator.sh
Labels: v0.22

#7806 Remove tuples from JSON RPC responses
  book/src/api-reference/jsonrpc-api.md
  cli/src/cli.rs
  cli/src/cluster_query.rs
  client/src/lib.rs
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  client/src/rpc_response.rs
  client/src/thin_client.rs
  core/src/archiver.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/transaction_status_service.rs
  core/tests/rpc.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  sdk/src/account.rs
  sdk/src/epoch_schedule.rs
Labels: v0.22

#7812 Prefer CUDA_HOME environment variable
  perf/src/perf_libs.rs
Labels: v0.22

#7814 Add new genesis validators
  genesis/src/genesis_accounts.rs
  genesis/src/validators.rs
Labels: automerge, v0.22

#7819 Remove tuple from programNotification
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
Labels: automerge, v0.22

#7820 Cleanup CLI help message
  book/src/api-reference/cli.md
  clap-utils/src/keypair.rs
Labels: automerge

#7823 Remove word pair from address generator seed string (#7802)
  genesis/src/address_generator.rs
  genesis/src/stakes.rs
Labels: automerge

#7822 CLI: Plumb stake authorities throughout
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: automerge, v0.22

#7826 Fix Rpc inconsistencies
  book/src/api-reference/jsonrpc-api.md
  cli/src/cli.rs
  client/src/rpc_client.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  sdk/src/inflation.rs
Labels: v0.22

#7848 Ignore prost RUSTSEC issue
  ci/test-checks.sh
Labels: automerge, v0.22

#7846 Add logging surrounding failure in `get_slot_entries_with_shred_info()`
  ledger/src/blockstore.rs
Labels: v0.22

#7723 Improve bench-tps keypair generation
  bench-tps/src/bench.rs
  bench-tps/src/main.rs
  bench-tps/tests/bench_tps.rs
Labels: v0.22

#7855 faucet: Increase token cap
  faucet/src/faucet.rs
Labels: automerge

#7854 Enable config program at soft launch epoch 0
  genesis-programs/src/lib.rs
  local-cluster/tests/local_cluster.rs
Labels: automerge

#7724 Consolidate tx error counters and update metrics dashboard
  core/src/poh_recorder.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
  runtime/benches/bank.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/blockhash_queue.rs
Labels: automerge

#7831 CLI: Support offline and nonced stake subcommands
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: v0.22

#7868 validator: Abort if a snapshot download fails for any reason other than 404
  validator/src/main.rs
Labels: v0.22

#7869 validator: If a bad RPC node is selected try another one instead of aborting
  validator/src/main.rs
Labels: v0.22

#7877 validator: Create ledger directory if it doesn't already exist
  validator/src/main.rs
Labels: v0.22

#7881 validator: --limit-ledger-size now accepts an optional slot count value
  core/src/ledger_cleanup_service.rs
  validator/src/main.rs
Labels: v0.22

#7883 Wait for stake distribution in automation
  system-test/testnet-automation.sh
Labels: automerge

#7888 Remove redundant threadpools in sigverify
  Cargo.lock
  ledger/Cargo.toml
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
  ledger/src/entry.rs
  ledger/src/lib.rs
  ledger/src/shred.rs
  ledger/src/sigverify_shreds.rs
  perf/src/sigverify.rs
Labels: v0.22

#7894 Delete duplicate book content
  book/src/SUMMARY.md
  book/src/implemented-proposals/blockstore.md
Labels: automerge

#7895 Delete "testnet participation" redirect
  book/src/SUMMARY.md
  book/src/getting-started/testnet-participation.md
Labels: automerge

#7896 Naming nits
  programs/bpf_loader/src/lib.rs
Labels: automerge

#7897 Add rust duplicate account test program
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/dup_accounts/Cargo.toml
  programs/bpf/rust/dup_accounts/Xargo.toml
  programs/bpf/rust/dup_accounts/src/lib.rs
Labels: automerge

#7898 Revert "Generate MAX_DATA_SHREDS_PER_FEC_BLOCK coding shreds... (#7474)"
  ledger/src/blockstore.rs
  ledger/src/blockstore_meta.rs
  ledger/src/shred.rs
Labels: automerge, v0.22

#7900 Use a different error to test rpc response
  core/src/rpc.rs
Labels: automerge

#7907 Give book chapters more precise titles
  book/src/SUMMARY.md
Labels: automerge

#7908 Hoist blockstore chapter
  book/src/SUMMARY.md
  book/src/validator/blockstore.md
  book/src/validator/tvu.md
Labels: automerge

#7911 Integrate transaction chapter into programming model chapter
  book/makefile
  book/src/SUMMARY.md
  book/src/programs/README.md
  book/src/transaction.md
Labels: automerge

#7921 run.sh: don't put accounts in a weird location, use the defaults
  run.sh
Labels: automerge, v0.22

#7922 CLI: Cleanup authority arg usage inconsistencies
  book/src/api-reference/cli.md
  cli/src/cli.rs
  cli/src/nonce.rs
  cli/src/stake.rs
Labels: automerge, v0.22

#7927 Reject CI on failed mergify.io backports
  ci/test-checks.sh
Labels: automerge, v0.22

#7925 Verb-noun-ify Nonce API
  cli/src/nonce.rs
  runtime/src/bank.rs
  runtime/src/nonce_utils.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/nonce_state.rs
  sdk/src/system_instruction.rs
  sdk/src/transaction.rs
Labels: v0.22

#7930 New Anatomy of a Transaction
  book/src/SUMMARY.md
  book/src/api-reference/instruction-api.md
  book/src/api-reference/transaction-api.md
  book/src/transaction.md
Labels: automerge

#7932 Test account doesn't need RefCell
  runtime/src/bank.rs
  runtime/src/storage_utils.rs
Labels: automerge

#7918 Avoid unsorted recent_blockhashes for determinism
  sdk/src/sysvar/recent_blockhashes.rs
Labels: v0.22

#7937 Uninteresting cleanup
  core/src/validator.rs
Labels: v0.22

#7940 bank: Remove dead code
  runtime/src/bank.rs
Labels: automerge

#7944 Ensure all GCE nightly tests use dedicated instances
  system-test/partition-testcases/gce-5-node-3-partition.yml
  system-test/performance-testcases/gce-cpu-only-perf-10-node.yml
  system-test/performance-testcases/gce-cpu-only-perf-5-node.yml
Labels: automerge

#7946 Fix cli call to stakes
  multinode-demo/delegate-stake.sh
Labels: automerge

#7953 Add note to book about drone throughput limitations
  book/src/programs/drones.md
Labels: automerge

#7954 Add column for slot range of epoch to epoch-info
  cli/src/cluster_query.rs
Labels: automerge

#7955 Increase --wait-for-supermajority to wait for 75% online stake
  core/src/validator.rs
Labels: v0.22

#7959 Update tiny_bip39
  Cargo.lock
  clap-utils/Cargo.toml
  clap-utils/src/keypair.rs
Labels: automerge

#7929 Report last tower distance and add partition testcase
  system-test/partition-testcases/colo-partition-once-then-stabilize.yml
  system-test/partition-testcases/gce-partition-once-then-stabilize.yml
  system-test/testnet-automation.sh
Labels: automerge

#7801 Add ability to hard fork at any slot
  core/src/validator.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore_processor.rs
  net/init-metrics.sh
  runtime/src/bank.rs
  runtime/src/hard_forks.rs
  runtime/src/lib.rs
  validator/src/main.rs
Labels: automerge, v0.22

#7979 CLI: Cleanup offline args
  cli/src/cli.rs
  cli/src/lib.rs
  cli/src/nonce.rs
  cli/src/offline.rs
  cli/src/stake.rs
Labels: automerge, v0.23

#7982 CLI: Require --blockhash with --sign-only and --signer
  cli/src/cli.rs
  cli/src/offline.rs
  cli/src/stake.rs
Labels: v0.23

#7985 Specify where VM images are coming from across GCE projects
  net/scripts/gce-provider.sh
Labels: automerge, v0.23

#7956 Reduce epoch duration from 2 weeks to 2 days
  ledger/src/leader_schedule_cache.rs
  runtime/src/bank.rs
  sdk/src/clock.rs
Labels: v0.23

#7948 Consensus fix, don't consider threshold check if..
  core/src/consensus.rs
  core/src/lib.rs
  core/src/partition_cfg.rs
  core/src/retransmit_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/tests/local_cluster.rs
Labels: v0.23

#7989 Fix compute_shred_version()
  core/src/validator.rs
  ledger/src/snapshot_utils.rs
Labels: automerge, v0.23

#7993 Add lock to synchronize slot-based Blocktree operations and LedgerCleanupService
  core/src/blockstream_service.rs
  core/src/ledger_cleanup_service.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
Labels: v0.23

#7998 Update and fix transaction error documentation
  sdk/src/transaction.rs
Labels: v0.23

#8005 CLI: Fix tests. sign_only=true requires a blockhash
  cli/tests/pay.rs
  cli/tests/stake.rs
Labels: v0.23

#8008 Solana keygen grind improvements
  keygen/src/keygen.rs
Labels: automerge

#7997 Add set_lockup() to stake
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
Labels: v0.23

#8013 Log solana-validator args on startup to aid debugging
  validator/src/main.rs
Labels: v0.22, v0.23

#7995 Remove support for stake redelegation
  book/src/cluster/stake-delegation-and-rewards.md
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  sdk/src/lib.rs
  sdk/src/stake_history.rs
  sdk/src/sysvar/stake_history.rs
Labels: v0.23

#8027 Add shred version filters to Crds Accessors
  archiver-lib/src/archiver.rs
  core/src/cluster_info.rs
  core/src/gossip_service.rs
Labels: v0.22, v0.23

#8032 Ignore slow local_cluster archiver tests
  local-cluster/tests/archiver.rs
Labels: automerge, v0.22, v0.23

#7981 CLI: Disallow blockhash/fee-calc lookups when offline
  cli/src/cli.rs
  cli/src/offline.rs
  cli/src/stake.rs
  cli/tests/pay.rs
  cli/tests/stake.rs
Labels: v0.23

#8033 Add different shred test to test_tvu_peers_and_stakes
  core/src/cluster_info.rs
Labels: v0.22, v0.23

#8041 Minor --expected-shred fix, clean up shred-related gossip log messages
  archiver-lib/src/archiver.rs
  core/src/cluster_info.rs
  validator/src/main.rs
Labels: automerge, v0.23

#8053 Fix getting stale validator ContactInfo after restart in LocalCluster
  local-cluster/src/cluster.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
Labels: v0.22, v0.23

#8055 Remove support for 0.22.3 snapshots
  ledger/src/snapshot_utils.rs
  runtime/src/bank.rs
Labels: v0.23

#8059 Don't exit early if add. validators not found during gce.sh config
  net/gce.sh
Labels: v0.23

#8050 Remove asteroids and pacman from QA/dev testnet availability
  net/scripts/colo_nodes
Labels: automerge, v0.23

#8062 Update key
  genesis/src/genesis_accounts.rs
Labels: automerge, v0.23

#8069 Filter repairman peers based on shred_version
  core/src/cluster_info_repair_listener.rs
Labels: v0.22, v0.23

#8071 CLI: Fix stake-account auth withdrawer output
  cli/src/stake.rs
Labels: automerge, v0.23
