Repository solana-labs/solana, pull requests merged in 2020-10, with the labels that each got.

#12600 Add nonced-tx check to RpcClient
  client/src/rpc_client.rs
Labels: automerge, v1.3

#12112 Avoid overflow when computing rent distribution
  runtime/src/bank.rs
  runtime/src/feature_set.rs
  runtime/src/snapshot_utils.rs
Labels: v1.3

#12608 Add CI env to travis config
  .travis.yml
Labels: automerge, v1.2, v1.3

#12616 Expose validator cli arguments for pubsub buffer tuning
  core/src/rpc_pubsub_service.rs
  core/src/validator.rs
  core/tests/client.rs
  validator/src/main.rs
Labels: v1.3

#12626 Document `getConfirmedBlock` postBalance field
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.3

#12599 Add GetConfirmedBlocksWithLimit RPC method
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.3

#12624 cli: Improve `block` command output
  cli/src/cluster_query.rs
Labels: v1.3

#12623 cli: Add inflation subcommand
  cli/src/cli.rs
  cli/src/feature.rs
  cli/src/inflation.rs
  cli/src/lib.rs
Labels: v1.3

#12245 Add --no-port-check to validator
  validator/src/main.rs
Labels: v1.2, v1.3

#12615 limits number of threads in core/tests/crds_gossip.rs
  core/tests/crds_gossip.rs
Labels: v1.3

#12643 `solana catchup` now retries if the initial RPC connection fails
  cli/src/cluster_query.rs
Labels: v1.3

#12621 Improve solana deploy
  cli/src/cli.rs
  client/src/mock_sender.rs
  client/src/rpc_client.rs
Labels: v1.3

#12644 Check CPI program is executable
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
Labels: v1.3

#12647 Update docs to show support for Nano X
  docs/src/staking.md
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/hardware-wallets.md
  docs/src/wallet-guide/hardware-wallets/ledger.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/solflare.md
Labels: v1.3

#12642 Fix zero-len slice translations
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
Labels: v1.3

#12650 `solana stakes` now employs server-side filtering if only one vote account is provided
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
Labels: v1.3

#12636 Show commit in `--version` and ledger-tool's log
  core/tests/client.rs
  ledger-tool/src/main.rs
  run.sh
  version/src/lib.rs
Labels: v1.3

#12675 Add systemd and log rotation section to validator start docs
  docs/src/running-validator/validator-start.md
Labels: v1.3

#12677 net-scripts: Sync SSH keys
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#12655 Add new wallets to docs, clean up existing structure
  docs/sidebars.js
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/hardware-wallets.md
  docs/src/wallet-guide/hardware-wallets/ledger.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/trust-wallet.md
  docs/src/wallet-guide/web-wallets.md
Labels: automerge, v1.3

#12691 Faucet request limiter can overflow
  faucet/src/faucet.rs
Labels: automerge, v1.3

#12693 Add env variable for rayon thread counts
  rayon-threadlimit/src/lib.rs
Labels: v1.3

#12683 RPC: Transaction deser can be quite slow
  Cargo.lock
  client/Cargo.toml
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/Cargo.toml
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  transaction-status/src/lib.rs
Labels: v1.3

#12696 Remove skip-no-mangle entirely
  account-decoder/Cargo.toml
  core/Cargo.toml
  sdk/src/entrypoint.rs
  sdk/src/entrypoint_deprecated.rs
  transaction-status/Cargo.toml
Labels: v1.3

#12710 clap-utils: Allow fine-tuning offline args
  clap-utils/src/offline.rs
  cli/src/cli.rs
  cli/src/stake.rs
  client/src/blockhash_query.rs
Labels: automerge, v1.3

#12711 cli: Display vote/stake account epoch rewards
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
  cli/src/stake.rs
  cli/src/vote.rs
Labels: v1.3

#12721 Revert "Restore --expected-shred-version argument for mainnet-beta"
  docs/src/clusters.md
Labels: automerge, v1.3, v1.4

#12678 Store program logs in blockstore / bigtable (TransactionWithStatusMeta)
  core/src/banking_stage.rs
  core/src/transaction_status_service.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
  runtime/src/log_collector.rs
  storage-bigtable/proto/solana.bigtable.confirmed_block.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/convert.rs
  storage-bigtable/src/lib.rs
  transaction-status/src/lib.rs
Labels: v1.3, v1.4

#12738 Fixup wallet docs, manual cherrypick for backport
  docs/sidebars.js
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/hardware-wallets.md
  docs/src/wallet-guide/hardware-wallets/ledger.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/trust-wallet.md
  docs/src/wallet-guide/web-wallets.md
Labels: automerge

#12736 cli/src/stake.rs: Minor variable name cleanup
  cli/src/cluster_query.rs
  cli/src/stake.rs
Labels: v1.3, v1.4

#12740 Add new internal accounts
  core/src/non_circulating_supply.rs
Labels: automerge, v1.3, v1.4

#12743 Add inflation_kill_switch feature
  runtime/src/bank.rs
  runtime/src/feature_set.rs
Labels: v1.3, v1.4

#12663 Only fetch snapshot if it's newer than local
  validator/src/main.rs
Labels: v1.3, v1.4

#12697 Fix fee mismatch on snapshot deserialize
  core/tests/snapshots.rs
  explorer/wasm/src/stake_account.rs
  runtime/src/bank.rs
  runtime/src/blockhash_queue.rs
  runtime/src/epoch_stakes.rs
  runtime/src/serde_snapshot/tests.rs
  sdk/src/fee_calculator.rs
  sdk/src/hard_forks.rs
  sdk/src/stake_history.rs
Labels: v1.3, v1.4

#12760 cluster docs: Advise setting `--wal-recovery-mode`, and using `--private-rpc` for mainnet-beta
  docs/src/clusters.md
Labels: automerge, v1.4

#12742 Bump max invoke depth to 4
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/feature_set.rs
  runtime/src/message_processor.rs
  runtime/src/process_instruction.rs
Labels: v1.3, v1.4

#12759 Fix various ledger-tool error due to no builtins
  Cargo.lock
  core/Cargo.toml
  core/src/lib.rs
  core/src/validator.rs
  ledger/Cargo.toml
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
  ledger/src/builtins.rs
  ledger/src/lib.rs
Labels: v1.4

#12728 Add adjustable stack size and call depth
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/call_depth/Cargo.toml
  programs/bpf/rust/call_depth/Xargo.toml
  programs/bpf/rust/call_depth/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/lib.rs
  runtime/src/feature_set.rs
  runtime/src/process_instruction.rs
Labels: v1.3, v1.4

#12765 Add convenience script for working in stability branches
  cargo
Labels: v1.3, v1.4

#12737 Correct Bank timestamp drift every slot
  ledger/src/blockstore.rs
  runtime/src/bank.rs
  runtime/src/feature_set.rs
  sdk/src/lib.rs
  sdk/src/stake_weighted_timestamp.rs
Labels: automerge, v1.4

#12774 document program address collisions
  sdk/src/pubkey.rs
Labels: automerge, v1.3, v1.4

#12780 Cli: Fix field typo
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.3, v1.4

#12791 bank: Don't bother paying 0 rent
  runtime/src/bank.rs
Labels: automerge, v1.3, v1.4

#12741 Check ELF file for errors before deploy
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
Labels: v1.3, v1.4

#12796 client: simulate_transaction_with_config() now passes full config to server
  client/src/rpc_client.rs
  stake-o-matic/src/main.rs
Labels: v1.3, v1.4

#12804 Move no-0-rent rent dist. behavior under feature
  runtime/src/bank.rs
Labels: automerge, v1.3, v1.4

#12813 RpcClient: Encode TXs as base64 by default
  client/src/mock_sender.rs
  client/src/rpc_client.rs
Labels: automerge, v1.3, v1.4

#12814 fix native_loader behavior for invalid accounts
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/native_loader.rs
Labels: v1.3, v1.4

#12821 docs: Use latest stable channel release if there's no beta release
  docs/set-solana-release-tag.sh
Labels: automerge, v1.3, v1.4

#12820 CI: Fix crate publication
  ci/order-crates-for-publishing.py
Labels: automerge, v1.3, v1.4

#12828 get_vote_accounts: access HashMap directly instead of turning it into an iterator
  core/src/rpc.rs
Labels: automerge, v1.4

#12815 Add docs on vote account key rotation
  docs/src/running-validator/vote-accounts.md
Labels: automerge, v1.3, v1.4

#12833 Add transaction log messages to |solana confirm -v| output
  cli-output/src/display.rs
Labels: automerge, v1.3, v1.4

#12841 Add nop feature set for upcoming ported rent fixes
  runtime/src/feature_set.rs
Labels: automerge, v1.3, v1.4

#12840 terminology update, nonce to bump seed
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/tests/programs.rs
  sdk/src/pubkey.rs
Labels: v1.3, v1.4

#12859 Add log_messages to proto file
  storage-bigtable/proto/solana.bigtable.confirmed_block.rs
  storage-bigtable/src/confirmed_block.proto
Labels: automerge, v1.3, v1.4

#12864 Update programming-faq.md
  docs/src/apps/programming-faq.md
Labels: v1.4

#12713 Add separate push queue to reduce push lock contention
  core/src/accounts_hash_verifier.rs
  core/src/cluster_info.rs
  core/src/cluster_slots_service.rs
  core/src/crds_gossip.rs
  core/src/rpc_service.rs
  core/tests/crds_gossip.rs
Labels: v1.4

#12861 Expose program error constants
  sdk/src/program_error.rs
Labels: v1.3, v1.4

#12868 RPC: Add metrics for TX encoding
  core/src/rpc.rs
Labels: v1.3, v1.4

#12887 Release: Include SPL Token in release tarballs
  scripts/cargo-install-all.sh
Labels: automerge, v1.3, v1.4

#12858 Respect RefCell when calling invoke
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  sdk/src/program.rs
Labels: automerge, v1.3, v1.4

#12857 Change developer CTA, remove sidebar issue
  docs/src/pages/index.js
Labels: v1.4

#12893 docs: Rework JSON RPC curl examples to be more readable
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.4

#12900 cli: Surface 'Program account allocation failed' error details
  cli/src/cli.rs
Labels: automerge, v1.3, v1.4

#12875 Better tower logs for SwitchForkDecision and etc
  core/src/consensus.rs
  core/src/replay_stage.rs
  core/src/validator.rs
Labels: v1.4

#12909 Release: Use pinned cargo version to install spl-token-cli
  scripts/cargo-install-all.sh
Labels: automerge, v1.3, v1.4

#12912 cli: Drop 'Pubkey' in 'solana validators' header
  cli-output/src/cli_output.rs
Labels: automerge, v1.4

#12918 Docs: Clarify validator disk requirements
  docs/src/running-validator/validator-reqs.md
Labels: automerge, v1.3, v1.4

#12914 Bump spl-memo and spl-token versions
  Cargo.lock
  account-decoder/Cargo.toml
  core/Cargo.toml
  transaction-status/Cargo.toml
Labels: automerge

#12917 Bump spl-memo and spl-token versions
  Cargo.lock
  account-decoder/Cargo.toml
  core/Cargo.toml
  transaction-status/Cargo.toml
Labels: automerge

#12922 Support arbitrary toolchains with cargo wrapper script
  cargo
Labels: automerge, v1.3, v1.4

#12923 Update get-block method in get_confirmed_transaction
  storage-bigtable/src/lib.rs
Labels: v1.3, v1.4

#12931 Report compute budget usage
  programs/bpf_loader/src/lib.rs
Labels: v1.3, v1.4

#12940 Another some tower logging improvements
  core/src/consensus.rs
Labels: automerge, v1.4

#12952 Check payer balance for program account rent as needed
  cli/src/checks.rs
  cli/src/cli.rs
Labels: automerge, v1.3, v1.4

#12944 keygen: add more mnemonic language support
  clap-utils/src/keypair.rs
  keygen/src/keygen.rs
Labels: v1.3, v1.4

#12953 Mention monitoring and updating for exchanges
  docs/src/integrations/exchange.md
  docs/src/running-validator/validator-reqs.md
Labels: v1.4

#12964 Minor doc typo
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.4

#12968 cli: Improve vote-account "Recent Timestamp" output
  cli-output/src/cli_output.rs
Labels: automerge, v1.3, v1.4

#12350 Follow up to persistent tower with tests and API cleaning
  Cargo.lock
  core/src/bank_weight_fork_choice.rs
  core/src/consensus.rs
  local-cluster/Cargo.toml
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
  sdk/src/signature.rs
Labels: v1.4

#12980 Adds public key for alexander@solana.com
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#12981 Revert "CLI: Put `deploy` ephemeral keypair behind a flag (#12941)"
  cli/src/cli.rs
  cli/tests/deploy.rs
Labels: automerge

#12982 Revert "CLI: Put `deploy` ephemeral keypair behind a flag (#12942)"
  cli/src/cli.rs
  cli/tests/deploy.rs
Labels: automerge

#12995 Ignore more paths in increment-cargo-version.sh
  scripts/increment-cargo-version.sh
Labels: automerge, v1.3, v1.4

#12985 sdk: add "everything" feature
  ci/test-checks.sh
  sdk/Cargo.toml
  sdk/src/abi_example.rs
  sdk/src/hash.rs
  sdk/src/lib.rs
  sdk/src/nonce/account.rs
  sdk/src/program_error.rs
  sdk/src/pubkey.rs
Labels: v1.4

#12994 validator: Activate RPC before halting on slot
  core/src/validator.rs
Labels: automerge, v1.3, v1.4

#12998 Parse bpf loader instructions
  transaction-status/src/lib.rs
  transaction-status/src/parse_bpf_loader.rs
  transaction-status/src/parse_instruction.rs
Labels: v1.3, v1.4

#13017 Support Debug for Bank
  core/tests/snapshots.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/bank.rs
  runtime/src/feature_set.rs
  runtime/src/message_processor.rs
  runtime/src/process_instruction.rs
Labels: v1.4

#13020 doc: Add more info for --limit-ledger-size
  docs/src/integrations/exchange.md
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.4

#13024 ci: Remove unsupported metrics tarball from release artifacts
  ci/publish-tarball.sh
  metrics/create-metrics-tarball.sh
Labels: automerge, v1.3, v1.4

#13026 Test for invalid secp256k1 offsets
  sdk/src/secp256k1.rs
Labels: v1.3, v1.4

#13027 Force unset CARGO to use correct version of cargo
  sdk/bpf/rust/build.sh
Labels: v1.3, v1.4

#13008 Remove frozen ABI modules from solana-sdk
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/build.rs
  core/src/lib.rs
  frozen-abi/Cargo.toml
  frozen-abi/build.rs
  frozen-abi/macro/Cargo.toml
  frozen-abi/macro/build.rs
  frozen-abi/macro/src/lib.rs
  frozen-abi/src/abi_digester.rs
  frozen-abi/src/abi_example.rs
  frozen-abi/src/hash.rs
  frozen-abi/src/lib.rs
  programs/bpf/Cargo.lock
  programs/stake/Cargo.toml
  programs/stake/build.rs
  programs/stake/src/lib.rs
  programs/vote/Cargo.toml
  programs/vote/build.rs
  programs/vote/src/lib.rs
  runtime/Cargo.toml
  runtime/build.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/lib.rs
  runtime/src/message_processor.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/future.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/serde_snapshot/utils.rs
  sdk/Cargo.toml
  sdk/build.rs
  sdk/src/lib.rs
  test-abi.sh
  version/Cargo.toml
  version/build.rs
  version/src/lib.rs
Labels: v1.4

#13028 ci: Include sdk/bpf in the main release tarball
  ci/publish-tarball.sh
Labels: v1.4

#13025 Add --eval flag to `solana-install info`
  install/src/command.rs
  install/src/lib.rs
Labels: automerge, v1.4

#13006 Various clean-ups before assert adjustment
  core/src/consensus.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/validator.rs
Labels: v1.4

#13035 Parse stake and system instructions
  docs/src/apps/jsonrpc-api.md
  sdk/src/system_instruction.rs
  transaction-status/src/lib.rs
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_stake.rs
  transaction-status/src/parse_system.rs
  transaction-status/src/parse_token.rs
Labels: v1.3, v1.4

#12967 genesis: Avoid panic when --bootstrap-validator-stake-lamports is set to a value larger than 500m SOL
  genesis/src/genesis_accounts.rs
Labels: automerge

#13049 cli: Skip 'Stake by Feature Set' output when showing status of a single feature
  cli/src/feature.rs
Labels: automerge, v1.3, v1.4

#13046 CLI: Print address ephemeral keypair seed phrase to stderr on deploy failure
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
Labels: v1.3, v1.4

#13047 RPC: Don't send base64 TXs to old clusters
  Cargo.lock
  client/Cargo.toml
  client/src/mock_sender.rs
  client/src/rpc_client.rs
Labels: automerge, v1.3, v1.4

#12842 Port various rent fixes to runtime feature
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/feature_set.rs
  runtime/src/rent_collector.rs
Labels: v1.3, v1.4

#13069 update program address docs
  docs/src/implemented-proposals/program-derived-addresses.md
Labels: automerge

#13065 Add ledger-tool dead-slots and improve purge a lot
  Cargo.lock
  core/src/validator.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
Labels: automerge, v1.4

#13070 Add ledger-tool dead-slots and improve purge a lot (manual bp: #13065)
  Cargo.lock
  core/src/validator.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
Labels: automerge

#13072 RPC: Don't send base64 TXs to old clusters
  Cargo.lock
  client/Cargo.toml
  client/src/mock_sender.rs
  client/src/rpc_client.rs
Labels: automerge

#13053 Allow nodes to advertise a different rpc address over gossip
  cli/src/cluster_query.rs
  core/src/cluster_info.rs
  core/src/validator.rs
  validator/src/main.rs
Labels: automerge, v1.3, v1.4

#13092 v1.3: Add Pubkey::new_unique()/Hash::new_unique()
  sdk/src/hash.rs
  sdk/src/pubkey.rs
Labels: automerge

#13091 Add deploy err if program-account balance is too high
  cli/src/cli.rs
  cli/tests/deploy.rs
Labels: v1.3, v1.4

#13093 cargo-build-bpf: Add --bpf-out-dir argument to control where the final build products land
  programs/bpf/build.rs
  programs/bpf/tests/programs.rs
  sdk/bpf/scripts/dump.sh
  sdk/bpf/scripts/strip.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.4

#13100 Remove spammy invalid rpc log
  core/src/cluster_info.rs
Labels: automerge, v1.3, v1.4

#13089 cleanup accounts shrink debug message
  runtime/src/accounts_db.rs
Labels: v1.3, v1.4

#13090 Cli: deploy programs via TPU
  cli/src/cli.rs
  cli/src/lib.rs
  cli/src/send_tpu.rs
  client/src/mock_sender.rs
Labels: v1.3, v1.4

#13115 Move bpf sdk packaging from publish-tarball to cargo-install-all
  ci/publish-tarball.sh
  scripts/cargo-install-all.sh
Labels: automerge, v1.4

#13118 Shorten magic install URL
  ci/publish-tarball.sh
  docs/src/cli/install-solana-cli-tools.md
  install/solana-install-init.sh
Labels: automerge, v1.3, v1.4

#13080 add precompile verification to simulate_transaction
  core/src/rpc.rs
Labels: v1.3, v1.4

#13130 sdk: Rename "everything" feature to "full"
  sdk/Cargo.toml
  sdk/src/client.rs
  sdk/src/genesis_config.rs
  sdk/src/hard_forks.rs
  sdk/src/hash.rs
  sdk/src/pubkey.rs
  sdk/src/secp256k1.rs
  sdk/src/shred_version.rs
  sdk/src/signature.rs
  sdk/src/signers.rs
  sdk/src/system_transaction.rs
  sdk/src/transaction.rs
  sdk/src/transport.rs
Labels: automerge, v1.4

#13135 Allow existence of vote on root in saved tower
  core/src/consensus.rs
Labels: v1.4

#13141 Hide noisy specialization warnings for frozen abi
  scripts/coverage.sh
Labels: automerge, v1.3, v1.4

#13158 Use bank timestamp to populate Blockstore::blocktime_cf when correction active
  core/src/cache_block_time_service.rs
  core/src/rpc.rs
  ledger/src/blockstore.rs
Labels: automerge, v1.4

#13155 update call depth docs
  docs/src/apps/programming-faq.md
Labels: v1.3, v1.4

#13163 Docs: Testnet has a faucet now
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.4

#13164 CLI: Surface deploy transaction errors
  cli/src/cli.rs
Labels: automerge, v1.3, v1.4

#13167 Add Bank::get_signature_status_with_blockhash()
  banks-server/src/banks_server.rs
  runtime/src/bank.rs
Labels: automerge, v1.4

#13176 macos portable rust-bpf
  sdk/bpf/scripts/install.sh
Labels: automerge

#13177 fix .gitignore
  sdk/bpf/.gitignore
Labels: automerge

#13159 Move KeyedAccount out of solana-program. Native programs are not supported by solana-program
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls.rs
  programs/budget/src/budget_processor.rs
  programs/config/src/config_processor.rs
  programs/exchange/src/exchange_processor.rs
  programs/failure/src/lib.rs
  programs/noop/src/lib.rs
  programs/ownable/src/ownable_processor.rs
  programs/secp256k1/src/lib.rs
  programs/stake/src/config.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  programs/vest/src/vest_processor.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state/mod.rs
  runtime/benches/bank.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/native_loader.rs
  runtime/src/process_instruction.rs
  runtime/src/system_instruction_processor.rs
  sdk/program/src/account.rs
  sdk/program/src/account_utils.rs
  sdk/program/src/nonce/mod.rs
  sdk/program/src/nonce/utils.rs
  sdk/program/src/sysvar/mod.rs
  sdk/program/src/sysvar/rent.rs
  sdk/src/builtins.rs
  sdk/src/entrypoint_native.rs
  sdk/src/keyed_account.rs
  sdk/src/lib.rs
  sdk/src/nonce_keyed_account.rs
Labels: v1.4

#13180 Add SSH key for buildkite-agent on achille
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#13175 check sysvar id for AccountInfo
  sdk/program/src/sysvar/mod.rs
Labels: v1.4

#13184 Docs: Clarify where new buildkite agent SSH keys need added
  ci/README.md
Labels: automerge

#13189 Fix pr crossing for sysvar keyed-accounts
  sdk/program/src/sysvar/mod.rs
  sdk/src/keyed_account.rs
Labels: v1.4

#13188 ignore .so files
  programs/bpf/rust/.gitignore
Labels: v1.4

#13199 Account for forward delay in transaction simulation
  runtime/src/bank.rs
Labels: automerge, v1.3, v1.4

#13202 Parse vote instructions
  transaction-status/src/lib.rs
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_vote.rs
Labels: v1.3, v1.4

#13207 Fix heaviest subtree log
  core/src/heaviest_subtree_fork_choice.rs
Labels: v1.3, v1.4

#13214 Use zstd for create-snapshot
  ledger-tool/src/main.rs
Labels: automerge, v1.3, v1.4

#13114 more portable install.sh
  sdk/bpf/scripts/install.sh
Labels: v1.3, v1.4

#13215 Use pico inflation for ledger-tool capitalization --enable-inflation
  ledger-tool/src/main.rs
  runtime/src/bank.rs
  sdk/src/inflation.rs
Labels: v1.3, v1.4

#13232 Improve final report of ledger-tool capitalization
  ledger-tool/src/main.rs
  runtime/src/bank.rs
Labels: automerge, v1.3, v1.4

#13238 CI: Gate user config dir removal hammer
  ci/test-stable.sh
Labels: automerge

#13237 Add doc page on sysvar accounts
  docs/sidebars.js
  docs/src/apps/sysvars.md
Labels: v1.4

#13248 Update links from sdk to program
  docs/src/apps/sysvars.md
Labels: automerge, v1.4

#13256 Update FeatureSet::active to include slot-activated
  runtime/src/bank.rs
  runtime/src/feature_set.rs
Labels: automerge, v1.4

#13198 move Account to solana-sdk
  account-decoder/src/parse_sysvar.rs
  cli/src/cluster_query.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  core/src/rpc.rs
  core/src/transaction_status_service.rs
  ledger/src/staking_utils.rs
  programs/bpf/benches/bpf_loader.rs
  programs/stake/src/stake_instruction.rs
  programs/vote/src/vote_instruction.rs
  ramp-tps/src/stake.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/system_instruction_processor.rs
  runtime/tests/stake.rs
  sdk/benches/slot_hashes.rs
  sdk/benches/slot_history.rs
  sdk/program/src/account_info.rs
  sdk/program/src/lib.rs
  sdk/program/src/nonce/mod.rs
  sdk/program/src/sysvar/epoch_schedule.rs
  sdk/program/src/sysvar/fees.rs
  sdk/program/src/sysvar/mod.rs
  sdk/program/src/sysvar/recent_blockhashes.rs
  sdk/program/src/sysvar/rent.rs
  sdk/program/src/sysvar/rewards.rs
  sdk/program/src/sysvar/slot_hashes.rs
  sdk/program/src/sysvar/stake_history.rs
  sdk/src/account.rs
  sdk/src/account_utils.rs
  sdk/src/genesis_config.rs
  sdk/src/keyed_account.rs
  sdk/src/lib.rs
  sdk/src/nonce_account.rs
  sdk/src/nonce_keyed_account.rs
  sdk/src/recent_blockhashes_account.rs
Labels: v1.4

#13203 Refactors common BPF test code into a shared module
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bpf_test_utils.rs
  runtime/src/lib.rs
Labels: v1.4

#13275 ledger-tool cap: no eager rent collection for less noise
  ledger-tool/src/main.rs
Labels: automerge, v1.3, v1.4

#13285 fix: fallback to connection commitment when confirming transactions
  web3.js/src/connection.js
  web3.js/test/bpf-loader.test.js
  web3.js/test/connection.test.js
Labels: automerge

#13289 clarify comment
  sdk/program/src/program_pack.rs
Labels: automerge, v1.3, v1.4

#13302 Update AccountInfo comments
  sdk/program/src/account_info.rs
Labels: automerge, v1.3, v1.4
