Repository solana-labs/solana, pull requests merged in 2020-07, with the labels that each got.

#10864 Rename new_banks_from_blockstore => new_banks_from_ledger
  core/src/consensus.rs
  core/src/validator.rs
Labels: automerge

#10863 Add utility functions
  core/src/heaviest_subtree_fork_choice.rs
  runtime/src/bank_utils.rs
  runtime/src/lib.rs
Labels: automerge, v1.2

#10871 ledger-tool: `genesis` subcommand now displays ticks per slot
  sdk/src/genesis_config.rs
Labels: automerge

#10845 Instructions for validator logging
  docs/src/running-validator/validator-start.md
Labels: v1.2

#10874 Update struct prefixes to Ui
  cli/src/cli.rs
  cli/src/display.rs
  client/src/rpc_client.rs
  core/src/rpc.rs
  ledger/src/blockstore.rs
  stake-monitor/src/lib.rs
  transaction-status/src/lib.rs
  watchtower/src/main.rs
Labels: automerge

#10875 Prevent stub inclusion when building shared objects
  programs/bpf/rust/128bit/src/lib.rs
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/dep_crate/src/lib.rs
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/lib.rs
  programs/bpf/rust/iter/src/lib.rs
  programs/bpf/rust/many_args/src/lib.rs
  programs/bpf/rust/many_args_dep/src/lib.rs
  programs/bpf/rust/noop/src/lib.rs
  programs/bpf/rust/param_passing/src/lib.rs
  programs/bpf/rust/param_passing_dep/src/lib.rs
  sdk/src/program_stubs.rs
Labels: automerge, v1.2

#10882 getInflationRate RPC endpoint now only supports the current epoch and works
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.2

#10899 Add June intake validators to SOM
  stake-o-matic/src/validator_list.rs
Labels: automerge

#10877 Add weighted repair traversal
  core/src/lib.rs
  core/src/repair_service.rs
  core/src/repair_weighted_traversal.rs
  ledger/src/blockstore.rs
Labels: v1.2

#10888 Rpc: add filter to getProgramAccounts
  client/src/lib.rs
  client/src/rpc_config.rs
  client/src/rpc_filter.rs
  core/src/rpc.rs
  core/tests/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge

#10911 Steal dumoulin from colo for TdS
  net/scripts/colo_nodes
  system-test/partition-testcases/colo-3-partition.yml
  system-test/partition-testcases/colo-partition-long-sanity-test.yml
  system-test/partition-testcases/colo-partition-no-superminority-test.yml
  system-test/partition-testcases/colo-partition-once-then-stabilize.yml
  system-test/performance-testcases/colo-cpu-only-perf-4-val-1-client.yml
  system-test/performance-testcases/colo-gpu-perf-4-val-1-client.yml
  system-test/performance-testcases/colo-gpu-perf-high-txcount-4-val-1-client.yml
  system-test/sanity-testcases/colo-partition-sanity-test.yml
Labels: automerge

#10912 Add breakdown of erasure blobs
  ledger/src/blockstore.rs
Labels: v1.2

#10913 Repair timing metrics
  core/src/repair_service.rs
Labels: v1.2

#10918 Skip and warn for hard-forks which are less than the start slot
  ledger/src/blockstore_processor.rs
Labels: v1.2

#10925 Document lockout_intervals and tiny niceties
  core/src/consensus.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/progress_map.rs
Labels: automerge

#10924 Fix parsing
  ledger-tool/src/main.rs
Labels: v1.2

#10902 Rpc: Add getStakeActivation endpoint
  client/src/rpc_config.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2

#10838 Add db recovery methods
  core/src/tvu.rs
  core/src/validator.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  validator/src/main.rs
Labels: automerge

#10932 v1.2: Rpc: add filter to getProgramAccounts (#10888)
  client/src/lib.rs
  client/src/rpc_config.rs
  client/src/rpc_filter.rs
  core/src/rpc.rs
  core/tests/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge

#10935 Add a default commitment-level
  sdk/src/commitment_config.rs
Labels: automerge

#10903 Add RepairWeight to track votes seen in gossip for weighted repair
  core/src/heaviest_subtree_fork_choice.rs
  core/src/lib.rs
  core/src/repair_service.rs
  core/src/repair_weight.rs
  core/src/serve_repair.rs
  ledger/src/blockstore.rs
Labels: v1.2

#10929 Clean accounts path on validator startup
  core/src/validator.rs
Labels: v1.2

#10947 Rename largest_confirmed_root to highest_confirmed_root
  core/src/commitment_service.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/validator.rs
  runtime/src/bank_forks.rs
  runtime/src/commitment.rs
Labels: automerge

#10954 update testnet docs
  docs/src/clusters.md
Labels: automerge, v1.2

#10956 chore: fix test flakiness and add mock helper
  web3.js/test/connection.test.js
  web3.js/test/mockrpc/confirm-transaction.js
  web3.js/test/nonce.test.js
Labels: automerge

#10959 Drop bank from BlockCommitmentCache
  core/src/commitment_service.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  runtime/src/commitment.rs
Labels: automerge

#10972 Move SendTransactionService to solana_runtime
  core/src/lib.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  runtime/src/lib.rs
  runtime/src/send_transaction_service.rs
Labels: automerge

#10973 Fix nonce fee_calculator overwrite
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/nonce_utils.rs
Labels: automerge, v1.1, v1.2

#10974 Fix Travis PR detection environment
  ci/env.sh
Labels: automerge

#10977 Add MB validators to SOM
  stake-o-matic/src/validator_list.rs
Labels: automerge

#10890 Fix skipped slot detection for eager rent collect
  runtime/src/bank.rs
Labels: v1.2

#10735 Switch to using weighted repair in RepairService
  core/src/cluster_info_vote_listener.rs
  core/src/repair_service.rs
  core/src/repair_weight.rs
  core/src/retransmit_stage.rs
  core/src/rpc_pubsub.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/verified_vote_packets.rs
  core/src/window_service.rs
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
Labels: automerge, v1.2

#10984 Add block time placeholder to getConfirmedBlock
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.1, v1.2

#10927 getConfirmedBlocks now has an upper limit on slot range
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.1, v1.2

#10991 Add UiTransactionEncoding::Raw
  transaction-status/src/lib.rs
Labels: v1.2

#10992 Fix warnings
  programs/bpf_loader/src/lib.rs
  runtime/src/message_processor.rs
Labels: automerge

#10999 Simplify use of SendTransactionService
  core/src/rpc.rs
  core/src/rpc_service.rs
  runtime/src/send_transaction_service.rs
Labels: automerge

#11005 fix: ignore unknown fields in more RPC responses
  web3.js/src/connection.js
Labels: automerge

#11003 Set explicit spl-memo version
  account-decoder/Cargo.toml
  transaction-status/Cargo.toml
Labels: automerge

#11004 Backport windows build fixes
  Cargo.lock
  account-decoder/Cargo.toml
  sdk/src/program_stubs.rs
  transaction-status/Cargo.toml
Labels: automerge

#10983 Fix compilation failure on windows
  ci/publish-tarball.sh
Labels: automerge

#11007 Check for deleting accounts key, make sure list is empty again
  runtime/src/accounts_db.rs
Labels: v1.2

#11021 Ensure to digest non-empty snapshot_storages and add asserts
  runtime/src/bank.rs
  runtime/src/serde_snapshot/tests.rs
  sdk/src/abi_digester.rs
Labels: automerge

#11009 Add dropped vote metrics
  programs/vote/src/vote_state/mod.rs
Labels: v1.2

#11023 Add `vote-update-commission` subcommand
  cli/src/cli.rs
  cli/src/vote.rs
Labels: automerge

#11024 Fix Travis PR detection environment (#10974)
  ci/env.sh
Labels: automerge

#11036 Fix recent blockhashes delay
  runtime/src/bank.rs
Labels: automerge, v1.1, v1.2

#11035 Remove docs step from buildkite flow
  ci/buildkite-secondary.yml
  ci/publish-docs.sh
Labels: automerge, v1.2

#11046 Add TreeDiff trait to reuse tree diff functions
  core/src/heaviest_subtree_fork_choice.rs
  core/src/lib.rs
  core/src/repair_weight.rs
  core/src/repair_weighted_traversal.rs
  core/src/tree_diff.rs
Labels: automerge, v1.2

#11045 CLI: Fix vote blind indexing
  cli/src/cli.rs
  cli/src/vote.rs
  cli/tests/stake.rs
  cli/tests/vote.rs
Labels: v1.1, v1.2

#11043 Clean up docs publishing flow
  .travis.yml
  docs/.gitignore
  docs/README.md
  docs/build.sh
  docs/publish-docs.sh
  docs/set-vercel-project-name.sh
  docs/vercel.json
Labels: v1.2

#11068 Add TdS 6 validators to testnet auto-staker
  stake-o-matic/src/validator_list.rs
Labels: automerge

#11069 Revert dashboard changes
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
Labels: automerge

#11070 Expose TransactionStatusService to the other blockstore_processor path
  core/src/validator.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
Labels: v1.2

#11072 Temporalily disable inflation to fix it later
  genesis-programs/src/lib.rs
Labels: v1.2

#11067 accounts_clean: Convert stack dependency calculation with iterative
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
Labels: v1.2

#11071 Make accounts file clean faster
  core/src/validator.rs
Labels: v1.2

#11079 Gate nonce-overwrite change
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/nonce_utils.rs
Labels: automerge

#11084 Change transparent .svg to opaque .png
  docs/.gitignore
  docs/convert-ascii-to-svg.sh
  docs/src/cluster/stake-delegation-and-rewards.md
Labels: automerge, v1.2

#11081 Gate nonce-overwrite change
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/nonce_utils.rs
Labels: automerge, v1.1

#11089 Skip affected file check on tagged release
  .travis/affects.sh
Labels: automerge, v1.2

#11102 v1.1: validator: Add --expected-bank-hash stub for v1.2 command-line compatibility
  validator/src/main.rs
Labels: automerge

#11087 Turn off gossip before downloading snapshot.
  validator/src/main.rs
Labels: v1.2

#11082 Add Bank support for "upgrade epochs" where all non-vote transactions will be rejected
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/transaction.rs
Labels: v1.1, v1.2

#11113 Fix 404 broken links
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/src/implemented-proposals/ed_overview/ed_mvp.md
  docs/src/implemented-proposals/ed_overview/ed_overview.md
  docs/src/implemented-proposals/implemented-proposals.md
  docs/src/implemented-proposals/staking-rewards.md
  docs/src/pages/index.js
  docs/src/proposals/accepted-design-proposals.md
  docs/src/proposals/accepted_design_proposals.md
  docs/src/wallet-guide/cli.md
Labels: automerge, v1.2

#11111 Rename CacheSlotInfo to CommitmentSlots
  core/src/commitment_service.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  runtime/src/commitment.rs
Labels: automerge

#11117 Remove tictactoe, add Break and Hello World to docs
  docs/.gitignore
  docs/sidebars.js
  docs/src/apps/break.md
  docs/src/apps/hello-world.md
  docs/src/apps/tictactoe.md
Labels: automerge, v1.2

#11120 [web3] fix: broken SlotInfo type def
  web3.js/module.d.ts
  web3.js/module.flow.js
Labels: automerge

#11123 Upgrade to Rust 1.45.0
  ci/docker-rust-nightly/Dockerfile
  ci/docker-rust/Dockerfile
  ci/rust-version.sh
Labels: v1.2

#11107 Add --warp-epoch and --force-inflation to ledger-tool cap.
  ledger-tool/src/main.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/native_token.rs
Labels: v1.2

#11133 Insubstantial grammar fix
  docs/src/apps.md
Labels: automerge, v1.2

#11137 Use BlockCommitmentCache for RPC slots, take 2
  core/src/rpc.rs
  runtime/src/commitment.rs
Labels: automerge

#11139 RemoteWallet: Improve DerivationPathComponent FromStr readability
  remote-wallet/src/remote_wallet.rs
Labels: automerge

#10914 fix rewards points
  programs/stake/src/stake_state.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/bank.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/stakes.rs
Labels: v1.2

#11141 Freeze warped bank to show freeze logs
  ledger-tool/src/main.rs
Labels: v1.2

#11149 Use OrderedIterator in TransactionStatusService
  core/src/banking_stage.rs
  core/src/transaction_status_service.rs
  ledger/src/blockstore_processor.rs
  runtime/src/transaction_batch.rs
Labels: automerge, v1.1, v1.2

#11144 Program feature-flag entrypoint
  sdk/src/entrypoint.rs
Labels: v1.2

#11143 Re-enable inflation again for testnet
  genesis-programs/src/lib.rs
Labels: v1.2

#11159 Enable RecentBlockhashes one tick delay fix on testnet (bp #11158)
  runtime/src/bank.rs
Labels: automerge

#11166 Use OrderedIterator in collect_balances
  core/src/banking_stage.rs
  runtime/src/bank.rs
Labels: automerge

#11065 Add encoding and filters parameters to rpc Subscriptions
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2

#11176 Skip entrypoint in programs
  sdk/Cargo.toml
  sdk/src/entrypoint.rs
Labels: automerge

#11188 Return root when bank not found
  core/src/rpc.rs
Labels: automerge

#11189 Remove move more
  net/net.sh
  sdk/docker-solana/build.sh
Labels: automerge

#11192 Test cleanup
  core/src/replay_stage.rs
Labels: automerge, v1.2

#11199 Push back (testnet) activation epochs redux
  genesis-programs/src/lib.rs
  runtime/src/bank.rs
Labels: automerge

#11200 Add package-lock.json to docs
  docs/.gitignore
  docs/package-lock.json
Labels: automerge, v1.2

#11136 Add token account decoding
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/lib.rs
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  transaction-status/Cargo.toml
Labels: v1.2

#11207 Remove unmaintained btc programs
  Cargo.lock
  Cargo.toml
  programs/btc_spv/Cargo.toml
  programs/btc_spv/README.md
  programs/btc_spv/src/header_store.rs
  programs/btc_spv/src/lib.rs
  programs/btc_spv/src/spv_instruction.rs
  programs/btc_spv/src/spv_processor.rs
  programs/btc_spv/src/spv_state.rs
  programs/btc_spv/src/testblock.in
  programs/btc_spv/src/utils.rs
  programs/btc_spv_bin/Cargo.toml
  programs/btc_spv_bin/src/block.rs
  programs/btc_spv_bin/src/blockheade.rs
Labels: automerge

#11208 Windows binaries are now built with the MSVC instead of the GNU toolchain
  ci/publish-tarball.sh
  docs/src/cli/install-solana-cli-tools.md
Labels: v1.2

#11213 Fix markup for heading
  docs/src/cli/install-solana-cli-tools.md
Labels: automerge

#11215 Remove accidental MB activation for RecentBlockhashes consistency fix
  runtime/src/bank.rs
Labels: automerge, v1.2

#11135 Add Docusaurus search
  docs/docusaurus.config.js
  docs/src/theme/SearchBar/index.js
  docs/src/theme/SearchBar/styles.css
Labels: v1.2

#11174 Land program addresses on the curve
  Cargo.lock
  programs/bpf/Cargo.lock
  sdk/Cargo.toml
  sdk/benches/pubkey.rs
  sdk/src/pubkey.rs
Labels: v1.2

#11205 Designate mainnet-beta epoch 61 as an upgrade epoch
  runtime/src/bank.rs
Labels: v1.1, v1.2

#11209 Track votes from gossip for optimistic confirmation
  core/src/cluster_info_vote_listener.rs
  core/src/consensus.rs
  core/src/lib.rs
  core/src/optimistic_confirmation_verifier.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/rpc_pubsub.rs
  core/src/tpu.rs
  core/src/vote_stake_tracker.rs
  core/tests/ledger_cleanup.rs
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
  programs/vote/src/vote_transaction.rs
Labels: automerge

#11235 Fix race condition between shrinking and cleaning
  runtime/src/accounts_db.rs
Labels: security, v1.2

#11234 Fix race condition between shrinking and cleaning (for 1.1)
  core/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: security

#11255 Fill out missing RPC request received debug logging
  core/src/rpc.rs
Labels: automerge

#11256 Fill out missing RPC request received debug logging
  core/src/rpc.rs
Labels: automerge

#11257 Rerere-enable RecentBlockhashes fix on testnet (epoch 76)
  runtime/src/bank.rs
Labels: automerge

#11258 Rerere-enable RecentBlockhashes fix on testnet (epoch 76)
  runtime/src/bank.rs
Labels: automerge

#11231 Add SPL Token-specific rpc endpoints
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  client/src/rpc_config.rs
  core/Cargo.toml
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  transaction-status/Cargo.toml
  transaction-status/src/parse_instruction.rs
Labels: v1.2

#11276 Add top level link to Clusters page
  docs/docusaurus.config.js
Labels: automerge, v1.2

#11283 Fill out missing RPC request received debug logging
  core/src/rpc.rs
Labels: automerge

#11284 Fix wallet links
  docs/src/wallet-guide.md
Labels: automerge, v1.2

#11294 Move simulate_transaction from rpc to bank
  core/src/rpc.rs
  runtime/src/bank.rs
Labels: automerge

#11297 Avoid spl-sdk dependency, which inhibits crate publishing
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_token.rs
  core/Cargo.toml
  core/src/rpc.rs
Labels: automerge

#11298 v1.2: Avoid spl-sdk dependency, which inhibits crate publishing
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_token.rs
  core/Cargo.toml
  core/src/rpc.rs
Labels: automerge

#11278 Add Vote Account Management Doc
  docs/sidebars.js
  docs/src/cli/.usage.md.header
  docs/src/running-validator/validator-start.md
  docs/src/running-validator/vote-accounts.md
Labels: automerge, v1.2

#11296 Build Rust programs with `--no-default-features --features program` to match solana-sdk
  sdk/bpf/rust/build.sh
Labels: v1.2

#11301 Update perf libs to 0.19.1
  fetch-perf-libs.sh
Labels: v1.2

#11281 Decode token instructions
  Cargo.lock
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  transaction-status/Cargo.toml
  transaction-status/src/lib.rs
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_token.rs
Labels: automerge, v1.2

#11302 Withdraw authority no longer implies a custodian
  cli/src/stake.rs
  core/src/non_circulating_supply.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  stake-monitor/src/lib.rs
Labels: v1.2

#11299 Test off curve pubkey
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/signature.rs
Labels: automerge, v1.2

#11312 Enable new fork choice on mainnet, 400,000 slots into epoch 61
  core/src/replay_stage.rs
Labels: automerge, v1.2

#11315 Add token rpc endpoints to rpc-client
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
Labels: automerge, v1.2
