Repository solana-labs/solana, pull requests merged in 2020-04, with the labels that each got.

#9198 max_ledger_slots -> max_ledger_shreds
  core/src/ledger_cleanup_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/ledger_cleanup.rs
  local-cluster/tests/local_cluster.rs
  validator/src/main.rs
Labels: automerge

#9202 Improve BPF Loader reporting
  programs/bpf_loader/src/lib.rs
Labels: automerge

#9195 Fix rpc_client panic on deprecated getSignatureStatus format
  client/src/rpc_client.rs
Labels: automerge, v1.0, v1.1

#9199 Fix solana-stake-accounts rebase/move
  stake-accounts/src/main.rs
Labels: automerge, v1.1

#9204 Nit: fmt
  programs/bpf/benches/bpf_loader.rs
Labels: automerge

#9211 Clean up solana-stake-accounts
  stake-accounts/src/arg_parser.rs
  stake-accounts/src/args.rs
  stake-accounts/src/main.rs
Labels: v1.1

#9197 Fix error with account hash list getting too big for gossip
  core/src/accounts_hash_verifier.rs
Labels: v1.0, v1.1

#9194 sys-tuner: Tune udp buffers and vmmap immediately
  sys-tuner/src/main.rs
Labels: v1.0, v1.1

#9056 Fix for repair dos
  core/src/serve_repair.rs
Labels: v1.0, v1.1

#9229 Add a support page for wallet docs
  docs/src/SUMMARY.md
  docs/src/paper-wallet/paper-wallet-usage.md
  docs/src/remote-wallet/ledger.md
  docs/src/wallet/ledger-live.md
  docs/src/wallet/support.md
  docs/src/wallet/trust-wallet.md
Labels: automerge, v1.0, v1.1

#9230 Add fee-payer option to docs
  docs/src/cli/delegate-stake.md
  docs/src/cli/manage-stake-accounts.md
  docs/src/cli/transfer-tokens.md
Labels: automerge, v1.0, v1.1

#9227 More custom error rename
  cli/src/cli.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/signature.rs
Labels: automerge

#9228 Undo getSignatureStatus breaking change, add getSignatureStatuses
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge

#9232 Undo getSignatureStatus breaking change, add getSignatureStatuses
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge

#9231 Undo getSignatureStatus breaking change, add getSignatureStatuses
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge

#9240 Do not trigger tests if only docs were modified
  ci/buildkite-tests.yml
  ci/buildkite.yml
  ci/maybe-trigger-tests.sh
Labels: v1.1

#9245 Undo breaking rpc removal of getSignatureConfirmation
  core/src/rpc.rs
Labels: v1.1

#9251 Place CrdsData::AccountsHashes in same enum ordinal position as the v1.0 version
  core/src/crds_value.rs
Labels: automerge, v1.1

#9252 Backport: confirmations fix
  core/src/commitment.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_subscriptions.rs
  core/src/storage_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/client.rs
  core/tests/storage_stage.rs
  docs/src/apps/jsonrpc-api.md
  runtime/src/bank/mod.rs
  runtime/src/bank_client.rs
  runtime/src/status_cache.rs
Labels: automerge

#9249 cli: Add epoch subcommand
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.0, v1.1

#9258 Add ledger live screenshots and remove duplicate instructions
  docs/src/.gitbook/assets/ledger-live-enable-developer-mode.png
  docs/src/.gitbook/assets/ledger-live-install-solana-app.png
  docs/src/remote-wallet/ledger.md
  docs/src/wallet/ledger-live.md
Labels: automerge, v1.0, v1.1

#9261 Add instructions for Trust Wallet Beta for Android
  docs/src/.gitbook/assets/find-beta-apps.png
  docs/src/.gitbook/assets/install-official-trust-wallet.png
  docs/src/.gitbook/assets/join-beta-trust-wallet.png
  docs/src/.gitbook/assets/update-trust-wallet-to-beta.png
  docs/src/wallet/trust-wallet.md
Labels: automerge, v1.0, v1.1

#9262 Tame overeager wallet manager
  clap-utils/src/keypair.rs
  cli/src/main.rs
  keygen/src/keygen.rs
Labels: v1.1

#9273 Nit: ProgramError cleanup
  sdk/src/program_error.rs
Labels: automerge

#9274 Streamer test is linux only, remove warnings on not-linux
  streamer/tests/recvmmsg.rs
Labels: automerge

#9260 cli: Add --follow option to catchup command to allow for easy ongoing monitoring between two nodes
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: v1.1

#9279 Cherry-pick #9271
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: automerge

#9285 Minor doc fixup
  docs/src/wallet/ledger-live.md
Labels: automerge

#9280 cli: `vote-authorize-voter` no longer fails if the current authorized voter is not the fee payer
  cli/src/vote.rs
Labels: v1.1

#9291 Add log before opening database
  ledger/src/blockstore.rs
Labels: v1.1

#9296 RPC: add `err` field to TransactionStatus, alongside the now deprecated `status` field
  client/src/mock_rpc_client_request.rs
  client/src/rpc_response.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/tests/rpc.rs
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
  stake-monitor/src/lib.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.1

#9281 Rework TransactionStatus index in blockstore
  core/src/transaction_status_service.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_meta.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.1

#9298 Deprecate `confirmTransaction`, `getSignatureStatus`, and `getSignatureConfirmation`
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.0, v1.1

#9307 v1.0: RPC: add `err` field to TransactionStatus, alongside the now deprecated `status` field (#9296)…
  client/src/mock_rpc_client_request.rs
  client/src/rpc_response.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/tests/rpc.rs
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
  stake-monitor/src/lib.rs
  transaction-status/src/lib.rs
Labels: automerge

#9311 Remove write lock
  core/benches/cluster_info.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_fake_shreds_run.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/cluster_info.rs
Labels: v1.1

#9219 Introduce background stale AppendVec shrink mechanism
  core/src/accounts_background_service.rs
  core/src/lib.rs
  core/src/tvu.rs
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
  runtime/src/bank.rs
Labels: v1.1

#9314 Update getSignatureStatuses to return historical statuses
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.0, v1.1

#9324 Reinstate commitment param to support old clients
  core/src/rpc.rs
Labels: automerge, v1.0

#9328 Update choose cluster docs
  docs/src/SUMMARY.md
  docs/src/cli/choose-a-cluster.md
  docs/src/cli/install-solana-cli-tools.md
Labels: automerge, v1.1

#9329 v1.0: Reinstate commitment param to support old clients
  core/src/rpc.rs
Labels: automerge

#9335 Add instructions for multiple trust wallet addresses
  docs/src/wallet/trust-wallet.md
Labels: automerge, v1.1

#9337 Make TestValidator mint_lamports configurable
  cli/tests/nonce.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  core/src/validator.rs
Labels: automerge, v1.1

#9327 Optimize broadcast cluster_info critical section
  core/benches/cluster_info.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/cluster_info.rs
  streamer/src/sendmmsg.rs
Labels: v1.1

#9341 RpcClient: include signature check in send_transaction, bump send retries in get_num_blocks_since_signature_confirmation
  cli/src/cli.rs
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
Labels: v1.1

#9349 Fix docs
  docs/src/paper-wallet/paper-wallet-usage.md
Labels: automerge, v1.1

#9345 stake-monitor: Add support for monitoring system account balances
  stake-monitor/src/lib.rs
  stake-monitor/src/main.rs
Labels: automerge, v1.0, v1.1

#9351 sdk/bpf/scripts/install.sh: Cache downloads to speed up CI
  sdk/bpf/scripts/install.sh
Labels: v1.0, v1.1

#9360 Cache solana-perf.tgz to speed up CI
  fetch-perf-libs.sh
Labels: automerge, v1.0, v1.1

#9359 stake-monitor: Add 1 SOL grace, to allow for a complaint system account to fund a reasonable number of transactions.
  stake-monitor/README.md
  stake-monitor/src/lib.rs
Labels: automerge, v1.0, v1.1

#9370 Improve ledger-tool/accounts for easier debuging
  ledger-tool/src/main.rs
Labels: automerge, v1.0, v1.1

#9367 Add blockstore address-to-signature index
  core/src/transaction_status_service.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_meta.rs
Labels: automerge, v1.0, v1.1

#9342 Add Metrics/Dashboards tracking block production
  core/src/consensus.rs
  core/src/progress_map.rs
  core/src/replay_stage.rs
  ledger/src/bank_forks.rs
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
  runtime/src/epoch_stakes.rs
Labels: v1.1

#9384 Moar vm.max_map_count
  sys-tuner/src/main.rs
Labels: v1.1

#9382 Fix lowest_cleanup_slot check in Blockstore
  ledger/src/blockstore.rs
Labels: automerge

#9388 Cli: Add no-wait arg to transfer subcommand
  cli/src/cli.rs
  cli/tests/nonce.rs
  cli/tests/transfer.rs
Labels: automerge, v1.0, v1.1

#9381 Rpc: Add getConfirmedTransaction
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
  transaction-status/src/lib.rs
Labels: v1.0, v1.1

#9386 Fix partition setup
  net-shaper/src/main.rs
  net/remote/cleanup.sh
  scripts/net-shaper.sh
Labels: automerge, v1.1

#9396 Remove Trust Wallet Beta install instructions
  docs/src/.gitbook/assets/find-beta-apps.png
  docs/src/.gitbook/assets/install-official-trust-wallet.png
  docs/src/.gitbook/assets/join-beta-trust-wallet.png
  docs/src/.gitbook/assets/update-trust-wallet-to-beta.png
  docs/src/wallet/trust-wallet.md
Labels: automerge, v1.0, v1.1

#9404 get_slot_entries (): Remove dead code
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/window_service.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  local-cluster/src/cluster_tests.rs
Labels: automerge, v1.1

#9410 Allow lower shred count
  core/src/ledger_cleanup_service.rs
  validator/src/main.rs
Labels: v1.1

#9414 doc: Use consistent vote account filename
  docs/src/running-validator/validator-monitor.md
  docs/src/running-validator/validator-stake.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/delegating-stake.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/install-the-solana-software.md
Labels: automerge, v1.1

#9413 Reduce rpc test code
  cli/src/lib.rs
  cli/src/nonce.rs
  cli/src/test_utils.rs
  cli/tests/nonce.rs
  cli/tests/pay.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  core/tests/rpc.rs
Labels: automerge

#9408 ledger-tool: Add --allow-dead-slots argument to `slot`/`print`/`json` commands
  core/src/broadcast_stage.rs
  ledger-tool/src/main.rs
  ledger-tool/tests/basic.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
Labels: automerge

#9407 Rpc: Add getConfirmedSignaturesForAddress
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_meta.rs
Labels: automerge, v1.0, v1.1

#9429 ReceiveUpdates spams the log, adjust the threshold higher
  core/src/cluster_info.rs
Labels: v1.1

#9435 Simplify vote simulation
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: v1.1

#9437 Safer cargo command
  sdk/bpf/scripts/install.sh
Labels: v1.1

#9434 Don't subject authorizing a new stake authority to lockup
  programs/stake/src/stake_state.rs
Labels: v1.0, v1.1

#9444 Remove ForkStats.slot
  core/src/progress_map.rs
  core/src/replay_stage.rs
Labels: v1.1

#9447 Calculate account refs fix
  runtime/src/accounts_db.rs
Labels: v1.1

#9452 ledger-tool: accounts subcommand now prints account balances in SOL
  ledger-tool/src/main.rs
Labels: v1.1

#9457 Fix flaky new_archiver_external_ip_test
  core/src/cluster_info.rs
Labels: automerge, v1.1

#9459 cli: Sort the output of by active stake
  cli/src/cluster_query.rs
Labels: automerge, v1.1

#9466 Remove rpc-test agent filter
  ci/buildkite-tests.yml
Labels: v1.0, v1.1

#9464 validator: Improve address in use error message for RPC pubsub
  validator/src/main.rs
Labels: v1.1

#9470 Reorder CI jobs to allow for more concurrent PRs
  ci/buildkite-secondary.yml
  ci/buildkite-tests.yml
Labels: v1.0, v1.1

#9436 vote: Rename UpdateNode to UpdateValidatorIdentity
  cli/src/vote.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state/mod.rs
Labels: v1.1

#9476 Unfold coverage test failures
  scripts/coverage.sh
Labels: v1.0, v1.1

#9477 cli: Assume json_rpc_url can be upgrade to a websocket if no port is supplied
  cli-config/src/config.rs
Labels: v1.0, v1.1

#9484 Print signature as part of progress spinner
  client/src/rpc_client.rs
Labels: automerge, v1.1

#9423 Use same max_age regardless of leader/not-leader
  ledger/src/blockstore_processor.rs
  runtime/src/bank.rs
Labels: automerge, security, v1.1

#9478 Cli: enable json output
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
  cli/src/display.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
Labels: automerge, v1.1

#9493 Fix race in multi_bind_in_range
  net-utils/src/lib.rs
Labels: v1.0, v1.1

#9499 RPC: Add health check URI
  core/src/rpc_service.rs
  core/src/validator.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.0, v1.1

#9461 Fix broadcast metrics
  Cargo.lock
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_fake_shreds_run.rs
  core/src/broadcast_stage/broadcast_metrics.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/crds_gossip_pull.rs
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
Labels: v1.1

#9512 docs/build-cli-usage.sh: Use $rust_stable
  docs/build-cli-usage.sh
Labels: v1.0, v1.1

#9521 validator: Default to RUST_BACKTRACE=1 for more informative validator logs
  validator/src/main.rs
Labels: v1.0, v1.1

#9520 Passing -v/--verbose to `solana confirm` now displays the full transaction
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/display.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  transaction-status/src/lib.rs
Labels: v1.1

#9529 Don't unwrap on session new
  ledger/src/shred.rs
Labels: v1.0, v1.1

#9533 Write wallet key to explicit file
  scripts/wallet-sanity.sh
Labels: v1.0, v1.1

#9366 Dont insert shred payload into rocksdb
  core/src/crds_gossip_pull.rs
  core/src/ledger_cleanup_service.rs
  core/src/poh_recorder.rs
  core/src/repair_service.rs
  core/src/snapshot_packager_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/bank_forks.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_meta.rs
  ledger/src/hardened_unpack.rs
  local-cluster/tests/local_cluster.rs
Labels: automerge

#9545 Simplify EpochSlots update
  core/src/repair_service.rs
Labels: v1.1

#9537 Make rpc tests serial
  core/src/rpc_pubsub.rs
Labels: v1.0, v1.1

#9555 Consider config in check_for_usb (cli, keygen)
  cli/src/main.rs
  keygen/src/keygen.rs
Labels: v1.1

#9556 Make rpc_subscriptions.rs tests serial
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.0, v1.1

#9551 Increase the number of JSON RPC service threads
  core/src/rpc_service.rs
Labels: automerge, v1.1

#9549 cli: confirm --verbose now displays failed transactions
  cli/src/cli.rs
Labels: v1.1

#9569 Reduce metrics log output
  metrics/src/metrics.rs
Labels: v1.1

#9571 Fix hanging local cluster test: test_validator_exit_2
  local-cluster/tests/local_cluster.rs
Labels: v1.1

#9565 Untar is called for shred archives that do not exist.
  ledger/src/blockstore.rs
Labels: automerge

#9573 validator: Consider the activated stake of this node to be online again
  core/src/validator.rs
  local-cluster/tests/local_cluster.rs
Labels: automerge, v1.1

#9567 Tame wallet manager better
  clap-utils/src/input_parsers.rs
  clap-utils/src/keypair.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/storage.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
  keygen/src/keygen.rs
  stake-accounts/src/args.rs
Labels: automerge, v1.1

#9550 Gossip pull response budget
  core/src/cluster_info.rs
Labels: v1.1

#9583 v1.0: Budget for gossip traffic (#9550)
  core/src/cluster_info.rs
Labels: automerge

#9576 Log proper slot on propagation failure
  core/src/replay_stage.rs
Labels: v1.1

#9588 Error for invalid shred header on deserialize
  ledger/src/shred.rs
Labels: v1.0, v1.1

#9592 Calculate distance between u64 without overflow
  core/src/broadcast_stage.rs
Labels: v1.0, v1.1

#9595 Get slot on bitvec needs a guard
  core/src/epoch_slots.rs
Labels: v1.1

#9604 cli: Add decode-transaction
  cli/src/cli.rs
Labels: v1.1

#9605 Handle outdated and current ledger-solana-apps
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
Labels: v1.1

#9615 Bump libloading to v0.6.1
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/native_loader.rs
Labels: automerge

#9614 cli: Add transaction-history
  cli/src/cli.rs
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  ledger-tool/src/main.rs
Labels: automerge, v1.1

#9618 Wait for supermajority of cluster to have rooted a transaction to consider it finalized
  core/src/commitment.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.0, v1.1

#9622 Cleanup move
  programs/librapay/src/lib.rs
  programs/librapay/src/librapay_transaction.rs
Labels: automerge

#9629 Document potential null responses in RPC API docs
  docs/src/apps/jsonrpc-api.md
Labels: v1.1

#9630 RPC: Allow single slot address history queries
  core/src/rpc.rs
Labels: v1.1

#9594 Push down cluster_info lock
  archiver-lib/src/archiver.rs
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/benches/cluster_info.rs
  core/benches/retransmit_stage.rs
  core/src/accounts_hash_verifier.rs
  core/src/banking_stage.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_fake_shreds_run.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/cluster_info.rs
  core/src/cluster_info_vote_listener.rs
  core/src/cluster_slots.rs
  core/src/gossip_service.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/serve_repair.rs
  core/src/snapshot_packager_service.rs
  core/src/storage_stage.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/window_service.rs
  core/tests/bank_forks.rs
  core/tests/cluster_info.rs
  core/tests/gossip.rs
  local-cluster/tests/archiver.rs
  validator/src/main.rs
Labels: v1.1

#9632 Cleanup CLI public key description
  cli/src/lib.rs
Labels: automerge, v1.0, v1.1

#9644 Relax setting withdraw authority during lockup
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
Labels: automerge, v1.0, v1.1

#9648 Handle no hit correctly...
  ci/dependabot-updater.sh
Labels: automerge

#9651 Don't attempt to rebase or move empty accounts
  stake-accounts/src/main.rs
  stake-accounts/src/stake_accounts.rs
Labels: automerge

#9653 Align ci/publish-docs and ci/test-checks doc builds
  ci/publish-docs.sh
  docs/build.sh
  docs/src/clusters.md
  docs/src/running-validator/validator-start.md
Labels: automerge

#9609 Add single region TPS report testcases
  system-test/performance-testcases/gce-gpu-perf-10-node-single-region.yml
  system-test/performance-testcases/gce-gpu-perf-25-node-single-region.yml
  system-test/performance-testcases/gce-gpu-perf-5-node-single-region.yml
  system-test/performance-testcases/gce-gpu-perf-50-node-single-region.yml
  system-test/performance-testcases/tps-report-single-region.yml
  system-test/performance-testcases/tps-report.yml
Labels: automerge, v1.1

#9657 Extend snapshot interval in multinode demo
  multinode-demo/bootstrap-validator.sh
  net/remote/remote-node.sh
Labels: automerge, v1.0, v1.1

#9656 Add getLowestNonpurgedBlock rpc; use blockstore api in getConfirmedBlocks
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
Labels: automerge, v1.0, v1.1

#9662 Add custodian option to withdraw-stake command
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: automerge

#9667 Clean up wallet URL paths
  .gitbook.yaml
  docs/src/SUMMARY.md
  docs/src/cli/README.md
  docs/src/cli/conventions.md
  docs/src/cli/transfer-tokens.md
  docs/src/clusters.md
  docs/src/hardware-wallets/README.md
  docs/src/hardware-wallets/ledger.md
  docs/src/paper-wallet/paper-wallet-usage.md
  docs/src/wallet-guide/README.md
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/cli.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/support.md
  docs/src/wallet-guide/trust-wallet.md
Labels: automerge, v1.0, v1.1

#9670 Delete dead code
  keygen/src/keygen.rs
Labels: automerge

#9676 Clean up wallet doc URLs and validator/TdS docs
  .gitbook.yaml
  docs/src/SUMMARY.md
  docs/src/cli/README.md
  docs/src/cli/choose-a-cluster.md
  docs/src/cli/conventions.md
  docs/src/cli/transfer-tokens.md
  docs/src/cluster/bench-tps.md
  docs/src/clusters.md
  docs/src/hardware-wallets/README.md
  docs/src/hardware-wallets/ledger.md
  docs/src/paper-wallet/paper-wallet-usage.md
  docs/src/running-validator/README.md
  docs/src/running-validator/validator-stake.md
  docs/src/running-validator/validator-start.md
  docs/src/tour-de-sol/participation/README.md
  docs/src/tour-de-sol/participation/dry-run-6.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/README.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/confirm-the-solana-network-is-running.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/connect-to-the-solana-network.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/connecting-your-validator.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/delegating-stake.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/install-the-solana-software.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/monitoring-your-validator.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/publishing-information-about-your-validator.md
  docs/src/tour-de-sol/participation/validator-public-key-registration.md
  docs/src/tour-de-sol/participation/validator-technical-requirements.md
  docs/src/tour-de-sol/submitting-bugs.md
  docs/src/tour-de-sol/useful-links.md
  docs/src/wallet-guide/README.md
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/cli.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/support.md
  docs/src/wallet-guide/trust-wallet.md
Labels: automerge

#9679 solana-install info: Remove stray 'v'
  install/src/command.rs
Labels: v1.0, v1.1

#9685 Sync all Cargo.locks with num_cpus:1.12.0
  programs/bpf/Cargo.lock
  programs/librapay/Cargo.lock
Labels: automerge

#9668 Update to rocksdb 0.14 and set max wal size
  Cargo.lock
  ledger/Cargo.toml
  ledger/src/blockstore_db.rs
Labels: v1.1

#9652 solana-dos can now DoS gossip nodes
  core/src/gossip_service.rs
  dos/src/main.rs
  gossip/src/main.rs
  system-test/stability-testcases/gossip-dos-test.sh
  system-test/stability-testcases/gossip-dos-test.yml
Labels: automerge

#9690 Exit cleanly on panic! so the process don't limp along in a half-dead state
  metrics/src/metrics.rs
Labels: v1.0, v1.1

#9694 Fix vote listener passing bad transactions
  core/src/cluster_info_vote_listener.rs
Labels: v1.0, v1.1

#9697 Support ad-hoc genesis args in run.sh
  run.sh
Labels: automerge

#9703 Fix comment in serve_repair
  core/src/serve_repair.rs
Labels: automerge

#9713 validator: Add support for log rotation, sending SIGUSR1 will cause the log file to be re-opened
  validator/Cargo.toml
  validator/src/main.rs
Labels: v1.0, v1.1

#9678 Cache banks in BankForks until optional largest_confirmed_root
  banking-bench/src/main.rs
  core/src/consensus.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/tests/bank_forks.rs
  ledger/src/bank_forks.rs
Labels: automerge

#9718 Cargo check all targets
  Cargo.lock
  ci/test-checks.sh
  scripts/cargo-for-all-lock-files.sh
Labels: automerge

#9721 Filter program ids to store
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge, v1.1

#9727 Strictly match against package names
  ci/dependabot-updater.sh
Labels: automerge

#9728 Fix broken doc link to anatomy of transaction
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.0, v1.1

#9706 Input values are not sanitized after they are deserialized, making it far too easy for Leo to earn SOL
  core/src/cluster_info.rs
  core/src/contact_info.rs
  core/src/crds_gossip_pull.rs
  core/src/crds_value.rs
  core/src/epoch_slots.rs
  runtime/src/bank.rs
  runtime/src/bloom.rs
  sdk/src/lib.rs
  sdk/src/message.rs
  sdk/src/pubkey.rs
  sdk/src/sanitize.rs
  sdk/src/signature.rs
  sdk/src/transaction.rs
Labels: v1.0, v1.1

#9743 Docs: Fix linkcheck errors
  docs/src/implemented-proposals/ed_overview/ed_storage_rent_economics.md
  docs/src/implemented-proposals/ed_overview/ed_validation_client_economics/ed_vce_state_validation_protocol_based_rewards.md
  docs/src/proposals/block-confirmation.md
Labels: automerge

#9740 Clean up `use` to keep rust 1.43.0 from complaining
  archiver-lib/src/result.rs
  core/src/crds_gossip_pull.rs
  core/src/poh_service.rs
  install/src/main-install-init.rs
  keygen/src/keygen.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore_db.rs
  ledger/src/snapshot_utils.rs
  net-utils/src/ip_echo_server.rs
  programs/btc_spv/src/spv_processor.rs
  programs/btc_spv_bin/src/block.rs
  programs/btc_spv_bin/src/blockheade.rs
  sdk/src/signers.rs
  transaction-status/src/lib.rs
  upload-perf/src/upload-perf.rs
Labels: v1.0, v1.1

#9747 LowestSlots (old EpochSlots) has extra values that should be dropped
  core/src/crds_value.rs
  sdk/src/sanitize.rs
Labels: v1.1

#9755 fix test compilation from add_static_program change
  runtime/src/bank.rs
Labels: automerge

#9757 ci/docker-run.sh: Set HOME correctly
  ci/docker-run.sh
Labels: automerge, v1.0, v1.1

#9758 Relax dependabot-updater preciseness
  ci/dependabot-updater.sh
Labels: automerge
