Repository solana-labs/solana, pull requests merged in 2020-08, with the labels that each got.

#11322 Add getTokenLargestAccounts endpoint
  client/src/rpc_response.rs
  core/src/rpc.rs
Labels: v1.2

#11351 Make accounts explicit in unrecognized jsonParsed instructions
  transaction-status/src/lib.rs
  transaction-status/src/parse_accounts.rs
Labels: automerge, v1.2

#11354 Remove legacy_system_instruction_processor0
  runtime/src/bank.rs
  runtime/src/builtin_programs.rs
  runtime/src/legacy_system_instruction_processor0.rs
  runtime/src/lib.rs
Labels: automerge

#11356 Remove support for 1.1.0 version snapshots
  core/tests/bank_forks.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/legacy.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: automerge

#11361 Fix token rpc-client methods
  client/src/rpc_client.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2

#11364 RpcClient: get_token_accounts_by_owner now returns UiTokenAccounts
  client/src/rpc_client.rs
Labels: automerge, v1.2

#11370 Return token amounts as floats
  account-decoder/src/parse_token.rs
  client/src/rpc_client.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.2

#11363 Update instruction encoding format
  transaction-status/src/lib.rs
  transaction-status/src/parse_accounts.rs
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_token.rs
Labels: v1.2

#11372 Rework parsed account format
  account-decoder/src/lib.rs
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_nonce.rs
  account-decoder/src/parse_token.rs
  account-decoder/src/parse_vote.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2

#11386 explorer: Remove mainnet-beta update notice
  explorer/src/components/MessageBanner.tsx
Labels: automerge

#11388 Mergify backports: add v1.4, drop v1.1
  .mergify.yml
Labels: automerge

#11390 Fall back to root if highest_confirmed_slot bank does not exist
  core/src/rpc.rs
Labels: automerge

#11323 Force program address off the curve
  programs/bpf/Cargo.lock
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  sdk/Cargo.toml
  sdk/bpf/c/inc/solana_sdk.h
  sdk/src/instruction.rs
  sdk/src/program.rs
  sdk/src/program_error.rs
  sdk/src/pubkey.rs
Labels: v1.2, v1.3

#11399 Mark token-specific rpcs and jsonParsed encoding as unstable
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#11355 fix: land program addresses off-curve
  web3.js/module.flow.js
  web3.js/src/publickey.js
  web3.js/test/publickey.test.js
Labels: v1.2, v1.3

#11404 Enable cross program support in mainnet-beta epoch 63
  genesis-programs/src/lib.rs
Labels: automerge, v1.2, v1.3

#11411 Realloc not supported
  programs/bpf_loader/src/syscalls.rs
Labels: automerge, v1.2, v1.3

#11424 Realloc not supported
  programs/bpf_loader/src/syscalls.rs
Labels: automerge

#11368 Link fix
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/src/history.md
  docs/src/pages/index.js
Labels: automerge, v1.3

#11427 Remove circular dep between InstructionError and SystemError
  core/src/banking_stage.rs
  ledger/src/blockstore_processor.rs
  runtime/src/bank.rs
  sdk/src/instruction.rs
Labels: automerge

#11423 Fix blockstore empty panic
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
Labels: automerge, v1.2, v1.3

#11426 Don't search all slots for signatures for addresses with low/no activity
  ledger/src/blockstore.rs
Labels: automerge, v1.2, v1.3

#11433 Accounts hash calculation metrics
  runtime/src/accounts_db.rs
Labels: v1.2

#11435 Disable web3.js and explorer CI on stability branches
  .travis.yml
Labels: automerge, v1.2, v1.3

#11407 Token Accounts: return ui_amount, decimals with decoded account
  account-decoder/src/lib.rs
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  cli/src/cli.rs
  cli/src/offline/blockhash_query.rs
  client/src/rpc_client.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#11434 Send votes from banking stage
  Cargo.lock
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/cluster_info_vote_listener.rs
  core/src/replay_stage.rs
  core/src/tpu.rs
  core/src/transaction_status_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/benches/transaction_utils.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank_utils.rs
  runtime/src/lib.rs
  runtime/src/stakes.rs
  runtime/src/transaction_utils.rs
  runtime/src/vote_sender_types.rs
Labels: v1.3

#11455 Fix cbindgen compatibility
  sdk/src/abi_digester.rs
Labels: v1.3

#11475 Return delegated amount as UiTokenAmount
  account-decoder/src/parse_token.rs
Labels: automerge, v1.2, v1.3

#11478 explorer: Display transaction even if getBlockTime returns an error
  explorer/src/providers/transactions/index.tsx
Labels: automerge

#11474 Add Binary64 option for account data
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/lib.rs
  cli/src/offline/blockhash_query.rs
  client/src/rpc_client.rs
  core/src/rpc.rs
  core/tests/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#11463 Decode native-program and sysvar accounts
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/lib.rs
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_config.rs
  account-decoder/src/parse_nonce.rs
  account-decoder/src/parse_stake.rs
  account-decoder/src/parse_sysvar.rs
  account-decoder/src/parse_vote.rs
  account-decoder/src/validator_info.rs
  cli/src/cli.rs
  cli/src/offline/blockhash_query.rs
  cli/src/validator_info.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.2, v1.3

#11493 cli: account subcommand now requests binary64
  account-decoder/src/lib.rs
  cli/src/cli.rs
Labels: automerge, v1.2, v1.3

#11497 Blockstore address signatures: handle slots that cross primary indexes, and refactor get_confirmed_signatures_for_address2
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
Labels: v1.2, v1.3

#11506 Return account data size with parsed accounts
  account-decoder/src/parse_account_data.rs
Labels: automerge, v1.2, v1.3

#11512 Fix parsing of spl-token Mint
  core/src/rpc.rs
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.2, v1.3

#11515 Add config param to specify offset/length for single and program account info
  Cargo.lock
  account-decoder/src/lib.rs
  cli/src/cli.rs
  cli/src/offline/blockhash_query.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/Cargo.toml
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/tests/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.2, v1.3

#11520 Fix solana CLI deploy
  cli/src/cli.rs
Labels: automerge, v1.2, v1.3

#11533 Fix simulateTransaction JSON-RPC docs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#10468 Fix bad rent in Bank::deposit as if since epoch 0
  docs/src/implemented-proposals/rent.md
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/rent_collector.rs
  sdk/src/genesis_config.rs
Labels: v1.2, v1.3

#11519 Adapt RpcClient to recent token method changes
  account-decoder/src/parse_token.rs
  client/src/rpc_client.rs
Labels: v1.2, v1.3

#11523 Move cluster slots update to separate thread
  core/src/cluster_slots_service.rs
  core/src/lib.rs
  core/src/repair_service.rs
  core/src/retransmit_stage.rs
Labels: v1.2, v1.3

#11555 Log table and purged values size
  core/src/cluster_info.rs
  core/src/crds_gossip_pull.rs
Labels: automerge, v1.2, v1.3

#11560 Add getTokenLargestAccounts to docs
  docs/src/apps/jsonrpc-api.md
Labels: automerge

#11573 Fix typo: epoch => slot...
  docs/src/implemented-proposals/rent.md
Labels: automerge, v1.2, v1.3

#11572 Fix repair_service assertion failure
  core/src/repair_weight.rs
Labels: v1.2, v1.3

#11594 Return blockstore signatures-for-address despite bigtable error
  core/src/rpc.rs
Labels: v1.2, v1.3

#11600 Add CommitmentSlots::new_from_slot()
  banks-server/src/banks_server.rs
  core/src/rpc.rs
  core/src/rpc_subscriptions.rs
  runtime/src/commitment.rs
Labels: automerge

#11596 Ensure highest_confirmed_root only grows
  core/src/commitment_service.rs
Labels: v1.2, v1.3

#11615 RPC: getConfirmedSignaturesForAddress2 only returns confirmed signatures
  ledger/src/blockstore.rs
Labels: v1.2, v1.3

#11619 Restore CLI usage page to docs
  docs/sidebars.js
Labels: v1.3

#11624 short_vec::decode_len() returns wrong size for aliased values
  perf/src/sigverify.rs
  sdk/src/short_vec.rs
Labels: automerge, v1.2, v1.3

#11622 Bigtable: Use index to filter address-signatures correctly
  storage-bigtable/src/lib.rs
Labels: automerge, v1.2, v1.3

#11644 Rpc: Add until parameter for getConfirmedSignaturesForAddress2
  cli/src/cli.rs
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/src/rpc.rs
  ledger-tool/src/bigtable.rs
  ledger/src/blockstore.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
Labels: v1.2, v1.3

#11349 Re-do rent collection check on rent-exempt account
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/tests/bank_forks.rs
  docs/src/implemented-proposals/rent.md
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoked/src/lib.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/rent_collector.rs
Labels: security, v1.2, v1.3

#11666 Update devnet docs
  docs/src/clusters.md
Labels: automerge

#11665 Faucet: Add per-request cap
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
Labels: v1.2, v1.3

#11670 Add comment about encrypted API tokens for buildkite
  .buildkite/env/secrets.ejson
Labels: automerge

#11683 Comment that docs Algolia key is safe to publish
  docs/docusaurus.config.js
Labels: automerge

#11688 Fully enable cross program support in mainnet-beta
  runtime/src/bank.rs
Labels: v1.2, v1.3

#11694 Bigtable: get_bincode_cell get index
  storage-bigtable/src/bigtable.rs
Labels: automerge, v1.2, v1.3

#11326 Remove ::solana_sdk hack
  sdk/src/entrypoint_native.rs
Labels: automerge

#11620 Filter push/pulls from spies
  core/src/cluster_info.rs
  core/src/crds_gossip_pull.rs
  core/src/crds_gossip_push.rs
Labels: v1.3

#11704 Remove old signatureSubscribe info
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.2, v1.3

#11702 ledger-tool: The end_slot argument to purge is now optional
  ledger-tool/src/main.rs
Labels: v1.3

#11701 v1.2: ledger-tool: The end_slot argument to purge is now optional
  ledger-tool/src/main.rs
Labels: automerge

#11679 Skip grace blocks if previous leader was on different fork
  core/src/poh_recorder.rs
Labels: automerge, v1.3

#11715 Vote timestamp may equal previous timestamp
  programs/vote/src/vote_state/mod.rs
Labels: automerge, v1.2, v1.3

#11723 Cleanup test utilities
  core/src/commitment_service.rs
  core/src/repair_weight.rs
  core/src/repair_weighted_traversal.rs
  core/src/rpc.rs
  core/src/validator.rs
  core/tests/gossip.rs
  ledger/src/blockstore.rs
  local-cluster/src/local_cluster.rs
  runtime/src/genesis_utils.rs
Labels: automerge

#11726 Bump spl-token to clean up magic number
  Cargo.lock
  account-decoder/Cargo.toml
  core/Cargo.toml
  core/src/rpc.rs
  transaction-status/Cargo.toml
Labels: v1.2, v1.3

#11733 validator: Do not delete any ledger when `--limit-ledger-size` is not provided
  validator/src/main.rs
Labels: automerge, v1.2, v1.3

#11742 Fix link
  CONTRIBUTING.md
Labels: automerge

#11743 Rpc: Return error if block does not exist
  core/src/rpc.rs
  core/src/rpc_error.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#11751 Bump MacOS nofile recommendation message
  ledger/src/blockstore.rs
Labels: automerge

#11727 Squash supermajority root on blockstore replay at startup
  ledger/src/blockstore_processor.rs
Labels: v1.3

#11766 Cleanup test utilities
  core/src/commitment_service.rs
  core/src/repair_weight.rs
  core/src/repair_weighted_traversal.rs
  core/src/rpc.rs
  core/src/validator.rs
  core/tests/gossip.rs
  ledger/src/blockstore.rs
  local-cluster/src/local_cluster.rs
  runtime/src/genesis_utils.rs
Labels: automerge

#11752 Add option for repairing only from trusted validators
  core/src/repair_service.rs
  core/src/retransmit_stage.rs
  core/src/serve_repair.rs
  core/src/tvu.rs
  core/src/validator.rs
  validator/src/main.rs
Labels: v1.2, v1.3

#11745 sdk: Make PubKey::create_program_address available in program unit tests
  programs/bpf/rust/128bit/Cargo.toml
  programs/bpf/rust/128bit_dep/Cargo.toml
  programs/bpf/rust/alloc/Cargo.toml
  programs/bpf/rust/dep_crate/Cargo.toml
  programs/bpf/rust/dup_accounts/Cargo.toml
  programs/bpf/rust/error_handling/Cargo.toml
  programs/bpf/rust/external_spend/Cargo.toml
  programs/bpf/rust/invoke/Cargo.toml
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/Cargo.toml
  programs/bpf/rust/iter/Cargo.toml
  programs/bpf/rust/many_args/Cargo.toml
  programs/bpf/rust/many_args_dep/Cargo.toml
  programs/bpf/rust/noop/Cargo.toml
  programs/bpf/rust/panic/Cargo.toml
  programs/bpf/rust/param_passing/Cargo.toml
  programs/bpf/rust/param_passing_dep/Cargo.toml
  programs/bpf/rust/sysval/Cargo.toml
  sdk/src/pubkey.rs
Labels: v1.2, v1.3

#11826 Update comment
  runtime/src/bank.rs
Labels: v1.3

#11821 Document how to validate account pubkey
  docs/src/integrations/exchange.md
Labels: v1.2, v1.3

#11844 Rpc: Filter accounts with invalid mints from get_parsed_token_accounts
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#11856 Timestamp first vote
  core/src/consensus.rs
Labels: automerge

#11857 ci: cargo-target-cache is now channel specific
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  ci/channel-info.sh
Labels: v1.2, v1.3

#11864 Bump compute budget
  programs/bpf/benches/bpf_loader.rs
  programs/bpf_loader/src/bpf_verifier.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/src/entrypoint_native.rs
Labels: automerge, v1.3

#11861 Add new TdS stage 7 validators
  stake-o-matic/src/validator_list.rs
Labels: automerge

#11843 Add SolFlare guide to docs
  docs/sidebars.js
  docs/src/wallet-guide.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/solflare.md
  docs/src/wallet-guide/web-wallets.md
Labels: v1.3

#11845 Make ledger-tool accounts print rent_epoch and slot
  ledger-tool/src/main.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: v1.3

#11872 Revert "cli: Add (hidden) --use-deprecated-loader flag to `solana dep…
  cli/src/cli.rs
  cli/tests/deploy.rs
Labels: automerge

#11871 Revert "Make BPF Loader static (bp #11516) (#11865)"
  Cargo.lock
  core/Cargo.toml
  core/src/lib.rs
  core/src/validator.rs
  genesis-programs/src/lib.rs
  genesis/src/main.rs
  ledger/src/blockstore_processor.rs
  local-cluster/src/local_cluster.rs
  programs/bpf/Cargo.lock
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/deprecated.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/bank.rs
  runtime/src/builtins.rs
  runtime/src/lib.rs
  runtime/src/message_processor.rs
  sdk/src/builtins.rs
  sdk/src/entrypoint_native.rs
  sdk/src/lib.rs
Labels: automerge

#11876 Revert "Align host addresses (#11384) (#11836)"
  core/src/validator.rs
  genesis-programs/src/lib.rs
  local-cluster/tests/local_cluster.rs
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf_loader/src/deprecated.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls.rs
  programs/bpf_loader/test_elfs/noop.so
  programs/bpf_loader/test_elfs/noop_aligned.so
  sdk/bpf/c/inc/solana_sdk.h
  sdk/src/bpf_loader.rs
  sdk/src/bpf_loader_deprecated.rs
  sdk/src/entrypoint.rs
  sdk/src/entrypoint_native.rs
  sdk/src/lib.rs
Labels: automerge

#11873 Small cleaning around consensus/bank_forks
  core/src/consensus.rs
Labels: v1.3

#11891 Add SolFlare as stake-supporting wallet
  docs/src/staking.md
Labels: automerge, v1.3

#11894 Take v0.19.3 of perf libs which improves sigverify perf 2x and CL PoH verify
  fetch-perf-libs.sh
Labels: v1.3

#11884 Update spl-token to v2.0
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  core/Cargo.toml
  core/src/rpc.rs
  core/src/rpc_subscriptions.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_token.rs
Labels: v1.2, v1.3

#11898 Update to rayon 1.4.0
  Cargo.lock
  accounts-bench/Cargo.toml
  banking-bench/Cargo.toml
  bench-exchange/Cargo.toml
  bench-tps/Cargo.toml
  client/Cargo.toml
  core/Cargo.toml
  dos/Cargo.toml
  ledger/Cargo.toml
  perf/Cargo.toml
  poh-bench/Cargo.toml
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
Labels: v1.3

#11900 Update to token pack/unpack changes
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_token.rs
  core/Cargo.toml
  core/src/rpc.rs
  transaction-status/Cargo.toml
Labels: v1.3

#11901 Update to token pack/unpack changes
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_token.rs
  core/Cargo.toml
  core/src/rpc.rs
  transaction-status/Cargo.toml
Labels: automerge

#11907 Fix get_parsed_token_accounts
  core/src/rpc.rs
Labels: v1.2, v1.3

#11913 ledger-tool: Add bank-hash subcommand
  ledger-tool/src/main.rs
Labels: automerge, v1.3

#11917 Bump RPC banks up 1 port to avoid web3.js wss port conflict
  validator/src/main.rs
Labels: automerge, v1.3

#11920 doc: Use DNS for devnet/testnet entrypoints
  docs/src/clusters.md
Labels: automerge, v1.3

#11921 Cli: Fix use-deprecated-loader arg
  cli/src/cli.rs
Labels: automerge, v1.3

#11916 genesis-programs: Simplify get_programs(), specify a real Preview activation epoch for new BPFLoader
  genesis-programs/src/lib.rs
  runtime/src/bank.rs
Labels: automerge, v1.3

#11945 Increase message_processor logging to error level
  validator/src/main.rs
Labels: v1.2, v1.3

#11941 docs: add missing backslash to solana-validator command
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.2, v1.3

#11949 Remove log
  core/src/heaviest_subtree_fork_choice.rs
Labels: automerge, v1.2, v1.3
