Repository solana-labs/solana, pull requests merged in 2020-02, with the labels that each got.

#8076 CLI: De-replicode SigningAuthority instantiation
  cli/src/cli.rs
  cli/src/nonce.rs
  cli/src/stake.rs
Labels: automerge, v0.23

#8078 Add new colo test cases using reduced node count
  system-test/partition-testcases/colo-partition-once-then-stabilize.yml
  system-test/performance-testcases/colo-cpu-only-perf-4-val-1-client.yml
  system-test/performance-testcases/colo-gpu-perf-4-val-1-client.yml
  system-test/performance-testcases/colo-gpu-perf-high-txcount-4-val-1-client.yml
Labels: automerge, v0.23

#8074 Use solana-cli config keypair in solana-keygen
  Cargo.lock
  Cargo.toml
  cli-config/Cargo.toml
  cli-config/src/config.rs
  cli-config/src/lib.rs
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/main.rs
  keygen/Cargo.toml
  keygen/src/keygen.rs
Labels: v0.23

#8082 Reduce rpc client pre-flight requests by setting max-age header
  core/src/rpc_service.rs
Labels: automerge

#8088 cli: Add split-stake command
  cli/src/cli.rs
  cli/src/stake.rs
Labels: v0.23

#8093 Fix consensus threshold when new root is created
  core/src/consensus.rs
Labels: v0.22, v0.23

#8094 cli: Delete uptime command, report total credits in `solana validators` instead
  book/src/cli/usage.md
  book/src/running-validator/validator-stake.md
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/vote.rs
Labels: v0.23

#8107 CLI: Expose sign-only reply parsing helper
  cli/src/offline.rs
  cli/tests/pay.rs
  cli/tests/stake.rs
Labels: automerge, v0.23

#8117 Fix spelling of verification in accounts_db
  runtime/src/accounts_db.rs
Labels: automerge

#8119 CLI cosmetic: make config get and verbose prints consistent
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/storage.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
Labels: v0.23

#8132 Better surface bank hash verification failures
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
Labels: v0.23

#8146 Ignore flaky test_exchange_local_cluster
  bench-exchange/tests/bench_exchange.rs
Labels: automerge, v0.23

#8149 Add libudev-dev to docker image to build remote-wallet
  Cargo.lock
  ci/docker-rust/Dockerfile
Labels: automerge, v0.23

#8153 De-replicode Tower constructors
  core/src/consensus.rs
Labels: automerge, v0.23

#8009 CLI: Support offline fee payers
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
  core/src/validator.rs
  ledger/src/genesis_utils.rs
  runtime/src/genesis_utils.rs
Labels: v0.23

#8163 Surface shred version more in tools
  core/src/validator.rs
  genesis/src/main.rs
  ledger-tool/src/main.rs
  ledger/src/lib.rs
  ledger/src/shred_version.rs
Labels: automerge, v0.23

#8068 Ledger hardware wallet integration
  Cargo.lock
  Cargo.toml
  clap-utils/Cargo.toml
  clap-utils/src/input_parsers.rs
  clap-utils/src/input_validators.rs
  clap-utils/src/keypair.rs
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/main.rs
  keygen/Cargo.toml
  keygen/src/keygen.rs
  remote-wallet/Cargo.toml
  remote-wallet/src/bin/ledger-udev.rs
  remote-wallet/src/ledger.rs
  remote-wallet/src/lib.rs
  remote-wallet/src/remote_wallet.rs
Labels: v0.23

#8108 CLI: Implement transfer command
  cli/src/cli.rs
  cli/tests/transfer.rs
Labels: v0.23

#8167 v0.23: Lock snapshot version to 0.23.2
  ledger/src/snapshot_utils.rs
Labels: automerge

#8150 Filter old CrdsValues received via Pull Responses in Gossip
  core/src/cluster_info.rs
  core/src/crds_gossip.rs
  core/src/crds_gossip_pull.rs
  core/src/crds_gossip_push.rs
  core/tests/crds_gossip.rs
Labels: v0.23

#8166 validator: Check for AVX512 at runtime to avoid invalid opcode trap on older CPUs
  core/build.rs
  core/src/validator.rs
Labels: automerge, v0.23

#8180 add step "apt-get update", add package "libudev-dev"
  README.md
Labels: automerge

#8186 Just define BnakSlotDelta type alias
  core/src/snapshot_packager_service.rs
  core/tests/bank_forks.rs
  ledger/src/snapshot_package.rs
  ledger/src/snapshot_utils.rs
  runtime/src/bank.rs
Labels: automerge

#8140 Minor logging improvements
  ledger/src/snapshot_utils.rs
  runtime/src/bank.rs
Labels: v0.23

#8187 Fix recv_from allocating unnecessary memory
  core/src/packet.rs
  core/src/retransmit_stage.rs
  core/src/streamer.rs
  perf/src/cuda_runtime.rs
Labels: v0.22, v0.23

#8193 Remove repairman as its spamming cluster with unwanted repairs
  core/src/cluster_info_repair_listener.rs
  core/src/lib.rs
  core/src/repair_service.rs
  local-cluster/tests/local_cluster.rs
Labels: v0.23

#8052 CLI: Harden offline signing and tests
  cli/src/stake.rs
  cli/tests/stake.rs
  core/src/validator.rs
Labels: v0.23

#8198 CLI: `transfer` fix checks pubkeys
  cli/src/cli.rs
  cli/tests/transfer.rs
Labels: automerge, v0.23

#8199 Fix nightly clippy warnings
  core/src/local_vote_signer_service.rs
  ledger/src/sigverify_shreds.rs
Labels: automerge

#8201 CLI: Add fee-payer param to stake-split subcommand
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: automerge, v0.23

#8200 install: Channel installs no longer re-download the same release.
  install/src/command.rs
Labels: v0.23

#8194 Fixup sign_transaction; pass derivation_path by reference
  Cargo.lock
  cli/src/cli.rs
  keygen/src/keygen.rs
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
Labels: v0.23

#8216 Factor repair from gossip (#8044)
  archiver-lib/src/archiver.rs
  core/src/cluster_info.rs
  core/src/contact_info.rs
  core/src/gossip_service.rs
  core/src/lib.rs
  core/src/repair_service.rs
  core/src/serve_repair.rs
  core/src/serve_repair_service.rs
  core/src/validator.rs
  core/tests/gossip.rs
  local-cluster/tests/archiver.rs
  metrics/scripts/grafana-provisioning/dashboards/testnet-monitor.json
  validator/src/main.rs
Labels: v0.23

#8221 Add method to sign raw data, enabling easier device app testing
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
Labels: v0.23

#8128 Report validator rewards in getConfirmedBlock JSON RPC
  book/src/apps/jsonrpc-api.md
  client/src/rpc_response.rs
  core/src/lib.rs
  core/src/replay_stage.rs
  core/src/rewards_recorder_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
Labels: v0.23

#8208 Fix RPC pub sub unsubscribe
  core/src/rpc_subscriptions.rs
Labels: automerge, v0.23

#8227 The getConfirmedBlock RPC API is now disabled by default
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/local_cluster.rs
  net/remote/remote-node.sh
  run.sh
  validator/src/main.rs
Labels: v0.23

#8204 CLI: Don't hide errors when fees are disabled
  cli/src/cli.rs
  cli/tests/transfer.rs
  client/src/mock_rpc_client_request.rs
Labels: automerge, v0.23

#8218 Fix accounts_db store counts in purging accounts logic
  runtime/src/accounts_db.rs
Labels: v0.23

#8235 Quash 'repair listener error: Err(RecvTimeoutError(Timeout))' log spam
  core/src/serve_repair.rs
Labels: v0.23

#8239 Avoid assigning the serve repair port to the storage port
  core/src/cluster_info.rs
Labels: automerge, v0.23

#8237 Nodes with a tvu and storage port are no longer double counted
  core/src/gossip_service.rs
Labels: automerge

#8245 Expel ContactInfo::new()
  core/src/cluster_info.rs
  core/src/contact_info.rs
  core/src/serve_repair.rs
Labels: automerge

#8249 Simplify remote wallet
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/message.rs
  sdk/src/transaction.rs
Labels: automerge, v0.23

#8148 Remove needless last_root for better reclaims
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: security

#8248 Add CliCommand::StakeSetLockup
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: automerge, v0.23

#8257 CLI: Offline-ify remaining stake ops
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: automerge, v0.23

#8258 ci/testnet-manager.sh: Remove references to old unused testnets
  ci/testnet-manager.sh
Labels: automerge

#8263 Retry to curl to codecov.io unfortunately
  ci/docker-run.sh
  ci/test-coverage.sh
Labels: automerge

#8261 Retain signature subscriptions that haven't been notified
  core/src/rpc_subscriptions.rs
Labels: v0.23

#8255 get_confirmed_block: expect() less
  ledger/src/blockstore.rs
Labels: v0.23

#8267 Enable remote-wallet signing in solana-keygen
  clap-utils/src/keypair.rs
  cli/src/cli.rs
  keygen/src/keygen.rs
  remote-wallet/src/ledger.rs
  remote-wallet/src/lib.rs
  remote-wallet/src/remote_keypair.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/signature.rs
Labels: v0.23

#8269 Presigner KeypairUtil implementer
  sdk/src/signature.rs
Labels: automerge, v0.23

#8274 Make generate_remote_keypair more generic for potential other remote-…
  keygen/src/keygen.rs
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_keypair.rs
Labels: v0.23

#8272 Datapoints overwhelm the metrics queue and blow up ram usage.
  core/src/banking_stage.rs
  core/src/cluster_info.rs
  core/src/replay_stage.rs
  core/src/validator.rs
  ledger/src/blockstore_meta.rs
  ledger/src/blockstore_processor.rs
  metrics/src/datapoint.rs
Labels: automerge, v0.22, v0.23

#8287 Remove failure's use of GenericError
  programs/failure/src/lib.rs
  programs/failure/tests/failure.rs
Labels: automerge

#8289 Remove Move Loader's use of GenericError
  Cargo.lock
  programs/move_loader/Cargo.lock
  programs/move_loader/Cargo.toml
  programs/move_loader/src/data_store.rs
  programs/move_loader/src/error_mappers.rs
  programs/move_loader/src/processor.rs
Labels: automerge

#8290 Remove Exchange program's use of GenericError
  Cargo.lock
  programs/exchange/Cargo.toml
  programs/exchange/src/exchange_processor.rs
Labels: automerge

#8293 ledger-tool: Add print-accounts command
  Cargo.lock
  core/src/rpc.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: v0.23

#8297 install: support vX.Y.Z in addition to X.Y.Z
  Cargo.lock
  clap-utils/Cargo.toml
  clap-utils/src/input_validators.rs
  install/Cargo.toml
  install/src/lib.rs
Labels: automerge

#8294 Add storage rewards pools in development mode only
  genesis/src/main.rs
  sdk/src/genesis_config.rs
Labels: v0.23

#8301 Cli: Remove units from various subcommands
  book/src/cli/.usage.md.header
  book/src/cli/usage.md
  book/src/offline-signing/README.md
  book/src/offline-signing/durable-nonce.md
  book/src/paper-wallet/usage.md
  book/src/running-archiver.md
  book/src/running-validator/validator-stake.md
  clap-utils/src/input_parsers.rs
  cli/src/cli.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/tests/deploy.rs
  cli/tests/request_airdrop.rs
  multinode-demo/delegate-stake.sh
  multinode-demo/validator.sh
  scripts/solana-install-deploy.sh
Labels: v0.23

#8291 CLI: Add optional airdrop recipient
  book/src/cli/usage.md
  cli/src/cli.rs
  cli/tests/deploy.rs
  cli/tests/request_airdrop.rs
Labels: v0.23

#8312 Remove needless uses
  sdk/src/signature.rs
Labels: automerge

#8313 Remove AccountInfo's (De)Serialize
  runtime/src/accounts_db.rs
Labels: automerge

#8315 Factor out creating genesis with vote accounts into a utility function
  core/src/consensus.rs
  core/src/replay_stage.rs
  runtime/src/genesis_utils.rs
Labels: automerge, v0.22, v0.23

#8319 genesis: Add --fee-burn-percentage
  genesis/src/main.rs
Labels: v0.23

#8329 rename testnet.solana.com to devnet.solana.com
  README.md
  RELEASE.md
  book/src/building-from-source.md
  book/src/implemented-proposals/installer.md
  book/src/paper-wallet/usage.md
  book/src/running-archiver.md
  book/src/running-validator/README.md
  book/src/running-validator/validator-monitor.md
  book/src/running-validator/validator-start.md
  book/src/running-validator/validator-testnet.md
  ci/testnet-manager.sh
  install/src/defaults.rs
  scripts/solana-install-deploy.sh
Labels: v0.23

#8330 Remove SLP validators from genesis
  genesis/src/genesis_accounts.rs
  genesis/src/lib.rs
  genesis/src/validators.rs
Labels: automerge, v0.23

#8331 Add Preview operating mode, rename SoftLaunch operating mode to Stable
  genesis-programs/src/lib.rs
  genesis/src/main.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
  sdk/src/genesis_config.rs
Labels: automerge, v0.23

#8355 Do not compress small incomplete slot list
  core/src/cluster_info.rs
  core/src/crds_value.rs
Labels: automerge, v0.23

#8358 Add snapshot hashes to gossip
  core/src/cluster_info.rs
  core/src/crds_value.rs
  core/src/snapshot_packager_service.rs
  core/src/tvu.rs
  core/tests/bank_forks.rs
  ledger/src/snapshot_package.rs
  ledger/src/snapshot_utils.rs
Labels: v0.23

#8342 Support transaction signing by heterogenous lists of keypairs
  archiver-lib/src/archiver.rs
  bench-exchange/src/bench.rs
  client/src/rpc_client.rs
  client/src/thin_client.rs
  ledger/src/staking_utils.rs
  programs/ownable/src/ownable_processor.rs
  programs/vest/src/vest_processor.rs
  runtime/src/accounts.rs
  runtime/src/bank_client.rs
  runtime/tests/stake.rs
  runtime/tests/storage.rs
  sdk-c/src/lib.rs
  sdk/src/client.rs
  sdk/src/lib.rs
  sdk/src/signers.rs
  sdk/src/transaction.rs
Labels: automerge, v0.23

#8357 Book: Add instructions for verifying a paper wallet keypair
  book/src/paper-wallet/usage.md
Labels: v0.23

#8361 Search for the validator with the highest snapshot
  core/src/cluster_info.rs
  validator/src/main.rs
Labels: v0.23

#8350 Add non-bz2 snapshot for faster creation for dev.
  ledger/src/snapshot_utils.rs
Labels: v0.23

#8369 OperatingMode: Flip Stable and Preview enum values
  sdk/src/genesis_config.rs
Labels: v0.23

#8370 Enable BPF in TdS epoch 17
  genesis-programs/src/lib.rs
Labels: automerge

#8364 If the node was loaded from a snapshot, advertise it in gossip
  core/src/validator.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
Labels: automerge, v0.23

#8367 Add handling for fallible signers
  cli/src/cli.rs
  client/src/client_error.rs
  client/src/rpc_client.rs
  remote-wallet/src/remote_keypair.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/message.rs
  sdk/src/signature.rs
  sdk/src/signers.rs
  sdk/src/transaction.rs
Labels: automerge, v0.23

#8339 Correct missing entry handling to avoid bad warns
  core/src/snapshot_packager_service.rs
  core/tests/bank_forks.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks.rs
  ledger/src/snapshot_package.rs
  ledger/src/snapshot_utils.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: v0.23

#8363 Update unlocks
  genesis/src/genesis_accounts.rs
Labels: v0.23

#8381 Promote some datapoints to `info` to fix dashboard
  bench-tps/src/bench.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/cluster_info.rs
  core/src/consensus.rs
  core/src/replay_stage.rs
  core/src/serve_repair.rs
  programs/vote/src/lib.rs
  programs/vote/src/vote_instruction.rs
  runtime/src/bank.rs
Labels: automerge, v0.23

#8388 4x DEFAULT_MAX_LEDGER_SLOTS to give nodes 3 hours of slots to repair from
  core/src/ledger_cleanup_service.rs
Labels: automerge, v0.23

#8387 genesis: Add --enable-warmup-epochs flag
  genesis/src/main.rs
  multinode-demo/setup.sh
Labels: v0.23

#8390 Add --trusted-validator support for snapshot hash validation
  core/src/snapshot_packager_service.rs
  core/src/validator.rs
  core/tests/bank_forks.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks.rs
  local-cluster/tests/local_cluster.rs
  multinode-demo/validator.sh
  validator/src/main.rs
Labels: v0.23

#8401 Reinstate offline `create-stake-account` w/ seed and test
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: automerge

#8398 CLI: collect and deduplicate signers
  clap-utils/src/input_parsers.rs
  clap-utils/src/input_validators.rs
  clap-utils/src/keypair.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/storage.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
  cli/tests/deploy.rs
  cli/tests/nonce.rs
  cli/tests/pay.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  keygen/src/keygen.rs
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_keypair.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/signature.rs
Labels: v1.0

#8419 Fix SDK dependencies
  programs/bpf/Cargo.lock
  sdk/Cargo.toml
Labels: v1.0

#8303 Fix authorized voter ahead of time
  cli/src/vote.rs
  core/src/validator.rs
  programs/vote/src/authorized_voters.rs
  programs/vote/src/lib.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state.rs
  sdk/src/epoch_schedule.rs
  validator/src/main.rs
Labels: automerge

#8421 Make solana root key accessible on Ledger
  clap-utils/src/input_parsers.rs
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
Labels: v1.0

#8430 validator: Add --no-check-vote-account argument
  validator/src/main.rs
Labels: automerge, v0.23, v1.0

#8433 nit: Remove unnecessary new_banks_from_blockstore() argument
  core/src/validator.rs
Labels: automerge

#8439 Promote dangerous cond. from just warning to panic
  runtime/src/accounts_db.rs
Labels: v0.23, v1.0

#8455 Combine replay stage memory reporting
  core/src/replay_stage.rs
Labels: automerge

#8453 Ledger key path rework
  Cargo.lock
  clap-utils/src/input_parsers.rs
  clap-utils/src/input_validators.rs
  clap-utils/src/keypair.rs
  remote-wallet/Cargo.toml
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
Labels: automerge, v1.0

#8348 Upgrade VoteState
  core/src/commitment.rs
  core/src/consensus.rs
  core/src/replay_stage.rs
  programs/stake/src/stake_state.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state/mod.rs
  programs/vote/src/vote_state/vote_state_0_23_5.rs
  programs/vote/src/vote_state/vote_state_versions.rs
  runtime/src/bank.rs
  runtime/src/stakes.rs
  runtime/tests/stake.rs
Labels: automerge

#8456 Allow withdrawer to change the authorized stake key
  programs/stake/src/stake_state.rs
Labels: v0.23, v1.0

#8353 Use runtime executor to send pubsub notifications
  Cargo.lock
  cli/tests/deploy.rs
  cli/tests/nonce.rs
  cli/tests/pay.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  core/Cargo.toml
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/validator.rs
  core/tests/client.rs
  core/tests/rpc.rs
Labels: automerge, v1.0

#8472 Ledger hardware wallet docs
  docs/src/SUMMARY.md
  docs/src/remote-wallet/README.md
  docs/src/remote-wallet/ledger.md
  remote-wallet/src/ledger.rs
Labels: v1.0

#8473 Add curie pubkey to authorized keys
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#8468 Limit leader schedule search space
  core/src/poh_recorder.rs
  core/src/replay_stage.rs
  core/src/validator.rs
  ledger/src/leader_schedule_cache.rs
Labels: v0.23, v1.0

#8460 Update voting simulation
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: v0.23, v1.0

#8478 Add flag to `solana address` to confirm key on remote wallet
  clap-utils/src/keypair.rs
  cli/src/cli.rs
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_keypair.rs
  remote-wallet/src/remote_wallet.rs
Labels: v1.0

#8479 Ledger hardware wallet docs (#8472)
  docs/src/SUMMARY.md
  docs/src/remote-wallet/README.md
  docs/src/remote-wallet/ledger.md
  remote-wallet/src/ledger.rs
Labels: automerge

#8354 Choose more appropriate options for pubsub websocket server
  core/src/rpc_pubsub_service.rs
Labels: v1.0

#8493 Remove loop in ReplayStage
  core/src/replay_stage.rs
Labels: v0.23, v1.0

#8502 Fix cluster economics figures and spelling in docs
  docs/src/.gitbook/assets/economic_design_infl_230719.png
  docs/src/.gitbook/assets/porep_reward.png
  docs/src/implemented-proposals/ed_overview/README.md
  docs/src/implemented-proposals/ed_overview/ed_economic_sustainability.md
  docs/src/implemented-proposals/ed_overview/ed_mvp.md
  docs/src/implemented-proposals/ed_overview/ed_storage_rent_economics.md
  docs/src/implemented-proposals/ed_overview/ed_validation_client_economics/ed_vce_replication_validation_transaction_fees.md
  docs/src/implemented-proposals/ed_overview/ed_validation_client_economics/ed_vce_state_validation_protocol_based_rewards.md
  docs/src/implemented-proposals/ed_overview/ed_validation_client_economics/ed_vce_state_validation_transaction_fees.md
Labels: v1.0

#8506 Ledger messaging cleanup
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/signature.rs
Labels: v0.23, v1.0

#8514 Remove granularity from genesis
  genesis/src/genesis_accounts.rs
  genesis/src/stakes.rs
Labels: v0.23, v1.0

#8516 Import Tour de SOL docs
  docs/src/.gitbook/assets/ramp-tps-rounds.png
  docs/src/.gitbook/assets/solana-tour-de-sol-participation-terms-20190723.pdf
  docs/src/SUMMARY.md
  docs/src/tour-de-sol/README.md
  docs/src/tour-de-sol/participation/README.md
  docs/src/tour-de-sol/participation/dry-run-6.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/README.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/confirm-the-solana-network-is-running.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/connect-to-the-solana-network.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/connecting-your-validator.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/delegating-stake.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/install-the-solana-software.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/monitoring-your-validator.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/publishing-information-about-your-validator.md
  docs/src/tour-de-sol/participation/steps-to-create-a-validator/validator-public-key-registration.md
  docs/src/tour-de-sol/participation/validator-technical-requirements.md
  docs/src/tour-de-sol/registration/README.md
  docs/src/tour-de-sol/registration/confidentiality.md
  docs/src/tour-de-sol/registration/how-to-register.md
  docs/src/tour-de-sol/registration/rewards.md
  docs/src/tour-de-sol/registration/terms-of-participation.md
  docs/src/tour-de-sol/registration/validator-registration-and-rewards-faq.md
  docs/src/tour-de-sol/submitting-bugs.md
  docs/src/tour-de-sol/useful-links.md
Labels: v1.0

#8512 Reorder InstructionError to remain compatible with v0.23
  sdk/src/instruction.rs
Labels: v1.0

#8513 Use legitimate solana message in keygen verify
  keygen/src/keygen.rs
Labels: v0.23, v1.0

#8525 Ensure the validator's identity pubkey is not provided as a --trusted-validator
  validator/src/main.rs
Labels: automerge, v0.23, v1.0

#8528 Upgrade to Rust 1.41.1
  ci/docker-rust-nightly/Dockerfile
  ci/docker-rust/Dockerfile
  ci/rust-version.sh
  perf/src/packet.rs
  runtime/src/bank.rs
  sdk/src/timing.rs
Labels: v0.23, v1.0

#8533 Fix skipping own leader slots
  core/src/poh_recorder.rs
Labels: automerge, v0.23, v1.0
