Repository solana-labs/solana, pull requests merged in 2020-05, with the labels that each got.

#9815 Add incinerator sysvar
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/rent_collector.rs
  sdk/macro/src/lib.rs
  sdk/src/incinerator.rs
  sdk/src/lib.rs
Labels: v1.0, v1.1

#9831 Cli: enable multiple stake lockup fields to be set at once
  cli/src/stake.rs
Labels: automerge

#9826 v1.1 backport custom error rename
  cli/src/cli.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  programs/bpf/rust/error_handling/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/budget/src/budget_processor.rs
  programs/failure/src/lib.rs
  programs/failure/tests/failure.rs
  programs/librapay/Cargo.lock
  programs/librapay/src/librapay_transaction.rs
  programs/move_loader/src/error_mappers.rs
  programs/move_loader/src/processor.rs
  programs/stake/src/stake_instruction.rs
  programs/storage/src/storage_contract.rs
  programs/vest/src/vest_instruction.rs
  programs/vote/src/vote_instruction.rs
  remote-wallet/src/remote_wallet.rs
  runtime/src/bank.rs
  sdk/src/instruction.rs
  sdk/src/program_error.rs
  sdk/src/signature.rs
  sdk/src/system_instruction.rs
Labels: v1.0

#9841 Reenable move
  Cargo.lock
  bench-tps/Cargo.toml
  ci/test-stable.sh
  programs/librapay/Cargo.lock
  programs/librapay/Cargo.toml
  programs/move_loader/Cargo.lock
  programs/move_loader/Cargo.toml
Labels: automerge

#9844 Reenable move lock files
  scripts/cargo-for-all-lock-files.sh
Labels: automerge

#9840 Fix accounts indexing
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/tests/stake.rs
  sdk/src/message.rs
  sdk/src/transaction.rs
Labels: v1.1

#9845 Watchtower can now emit a notifiation on all non-vote transactions
  Cargo.lock
  cli/src/display.rs
  watchtower/Cargo.toml
  watchtower/src/main.rs
  watchtower/src/notifier.rs
Labels: v1.1

#9859 cli: Add clap.rs default for --commitment
  clap-utils/src/commitment.rs
  cli/src/cluster_query.rs
  cli/src/vote.rs
Labels: v1.0, v1.1

#9850 Wait for at least one confirmation when uploading program data
  cli/src/cli.rs
  client/src/rpc_client.rs
Labels: automerge

#9867 Avoid panic in solana catchup caused by float->duration underflow
  cli/src/cluster_query.rs
Labels: v1.0, v1.1

#9869 Rpc: add getLargestAccounts endpoint
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge, v1.0, v1.1

#9873 Rpc: Filter blockstore data by cluster-confirmed root
  core/src/rpc.rs
Labels: automerge, v1.0, v1.1

#9878 Cli: add cluster-date subcommand, and make block-time slot optional
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: v1.1

#9805 Repair alternate versions of dead slots
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/cluster_slots.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/serve_repair.rs
  core/src/tvu.rs
  ledger/src/bank_forks.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_meta.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/genesis_utils.rs
  runtime/src/status_cache.rs
Labels: v1.1

#9868 Gossip no longer pushes/pulls from nodes with a different shred version
  core/src/cluster_info.rs
  core/src/crds_gossip.rs
  core/src/crds_gossip_pull.rs
  core/src/crds_gossip_push.rs
Labels: v1.0, v1.1

#9892 cli: Display transaction fee in SOL
  cli/src/display.rs
Labels: automerge, v1.0, v1.1

#9896 Fix reset slot not in BankForks
  core/src/replay_stage.rs
Labels: v1.1

#9904 Cli: Update OutputFormat method to return a String to restore consistency
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
Labels: v1.1

#9908 Revert
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/cluster_slots.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/serve_repair.rs
  core/src/tvu.rs
  ledger/src/bank_forks.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_meta.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/genesis_utils.rs
  runtime/src/status_cache.rs
Labels: automerge

#9911 v1.1: Add using OutputFormat enum to --sign-only transactions (#9650)
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/offline/mod.rs
  cli/src/stake.rs
  cli/src/storage.rs
  cli/src/vote.rs
  cli/tests/nonce.rs
  cli/tests/pay.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
Labels: automerge

#9888 Refactor RPC subscriptions account handling
  core/src/commitment.rs
  core/src/replay_stage.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_subscriptions.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/client.rs
  core/tests/rpc.rs
  runtime/src/bank.rs
Labels: v1.1

#9918 v1.1: Include account.owner into account hash
  runtime/src/accounts_db.rs
Labels: automerge

#9917 Include account.owner into account hash
  runtime/src/accounts_db.rs
Labels: automerge

#9920 v1.0: Include account.owner into account hash
  runtime/src/accounts_db.rs
Labels: automerge

#9922 BSD compat for 9493de4
  ledger/src/snapshot_utils.rs
Labels: automerge

#9933 Add metrics for logging time taken in ReplayStage loop
  core/src/replay_stage.rs
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
Labels: automerge, v1.1

#9942 v1.1: Maintain sysvar balances for consistent market cap.
  ledger-tool/src/main.rs
  runtime/src/bank.rs
Labels: automerge

#9941 Clean up --output help
  cli/src/main.rs
Labels: automerge

#9931 Pull in hardened BPF virtual machine
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/allocator_bump.rs
  programs/bpf_loader/src/bpf_verifier.rs
  programs/bpf_loader/src/lib.rs
Labels: v1.1

#9953 Rpc: Add getCirculatingSupply endpoint, redux
  client/src/rpc_response.rs
  core/src/lib.rs
  core/src/non_circulating_supply.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  runtime/src/bank.rs
  sdk/macro/src/lib.rs
  sdk/src/lib.rs
Labels: v1.0, v1.1

#9959 Reduce stability testcase throughput to 40k TPS
  system-test/sanity-testcases/colo-cpu-only-quick-sanity-test.yml
  system-test/sanity-testcases/colo-partition-sanity-test.yml
  system-test/stability-testcases/colo-long-duration-cpu-only-perf.yml
  system-test/stability-testcases/colo-long-duration-gpu-perf.yml
  system-test/stability-testcases/gce-perf-stability-5-node-single-region.yml
Labels: automerge

#9952 Remove RpcClient code duplication
  archiver-lib/src/archiver.rs
  client/src/client_error.rs
  client/src/generic_rpc_client_request.rs
  client/src/mock_rpc_client_request.rs
  client/src/rpc_client.rs
  client/src/rpc_client_request.rs
  client/src/rpc_request.rs
Labels: v1.1

#9956 Cli: Add solana supply command; hide total-supply
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
Labels: v1.1

#9967 More logging around ErasureMeta warnings
  ledger/src/blockstore.rs
Labels: automerge, v1.1

#9965 Retransmit and shred fetch metrics
  core/src/retransmit_stage.rs
  core/src/shred_fetch_stage.rs
Labels: v1.1

#9960 solana-keygen: Write non-error output to stdout
  keygen/src/keygen.rs
Labels: automerge, v1.1

#9976 Bump solana-rbpf to v0.1.28
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
Labels: v1.1

#9975 Add retransmit packets_by_slot metrics
  core/src/retransmit_stage.rs
  ledger/src/blockstore.rs
Labels: v1.1

#9982 Check slot cleaned up for RPC blockstore/slot queries
  core/src/lib.rs
  core/src/rpc.rs
  core/src/rpc_error.rs
Labels: automerge, v1.0, v1.1

#9987 Backport CLI install instruction tweak
  docs/src/cli/install-solana-cli-tools.md
Labels: automerge

#9985 Fix up a couple cli commands that fail when a node is in the `--wait-for-supermajority` state
  clap-utils/src/commitment.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.1

#9986 v1.1: Advertise node version in gossip
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/cluster_info.rs
  core/src/crds_value.rs
  core/src/rpc.rs
  core/tests/client.rs
  version/.gitignore
  version/Cargo.toml
  version/src/lib.rs
Labels: automerge

#9993 v1.1: getClusterNodes RPC API now includes the node software version
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.0

#9994 version: Fix crash when CI_COMMIT=HEAD
  version/src/lib.rs
Labels: automerge, v1.0, v1.1

#10000 docs: Update testnet shred version
  docs/src/clusters.md
Labels: automerge, v1.0, v1.1

#9999 validator: Use CommitmentConfig::root() when checking accounts, CommitmentConfig::max() may not be available yet
  validator/src/main.rs
Labels: automerge, v1.0

#10009 Enable rocksdb disk metrics
  core/src/ledger_cleanup_service.rs
Labels: v1.1

#10007 Rpc: optionally filter getLargestAccounts by circulating/nonCirculating
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
  client/src/lib.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  core/tests/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.0, v1.1

#10031 Fix unstable test after eager rent collection
  runtime/src/bank.rs
Labels: automerge

#10033 AVX2 runtime check
  core/src/validator.rs
Labels: automerge, v1.0, v1.1

#10038 Remove inline from all BPF C functions
  sdk/bpf/c/inc/solana_sdk.h
Labels: v1.1

#10040 `solana-gossip spy` can now specify a shred version
  core/src/cluster_info.rs
  core/src/gossip_service.rs
  dos/src/main.rs
  gossip/src/main.rs
  validator/src/main.rs
Labels: v1.0, v1.1

#10047 Clean up Ledger instructions
  docs/src/hardware-wallets/README.md
  docs/src/hardware-wallets/ledger.md
Labels: v1.0, v1.1

#10052 Fix decode-transaction about string
  cli/src/cli.rs
Labels: v1.1

#10057 Minor fixes to solana-tokens
  tokens/src/arg_parser.rs
  tokens/src/commands.rs
Labels: automerge

#10056 Add Ledger error codes
  Cargo.lock
  remote-wallet/Cargo.toml
  remote-wallet/src/ledger.rs
  remote-wallet/src/ledger_error.rs
  remote-wallet/src/lib.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/signature.rs
Labels: automerge, v1.1

#10061 validator: Forge a confirmed root before halting for RPC inspection
  core/src/commitment.rs
  core/src/validator.rs
Labels: v1.0, v1.1

#10070 Add docs section to upgrade Solana App on Ledger Live
  docs/src/.gitbook/assets/ledger-live-latest-version-installed.png
  docs/src/.gitbook/assets/ledger-live-update-available-v0.2.2.png
  docs/src/wallet-guide/ledger-live.md
Labels: automerge, v1.0, v1.1

#10064 Abort if the open fd limit cannot be increased
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
Labels: automerge, v1.0, v1.1

#10050 Panic if no fee-payer found via Message::new()
  cli/src/checks.rs
  ledger/src/entry.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/nonce_utils.rs
  sdk/src/fee_calculator.rs
  sdk/src/message.rs
  sdk/src/transaction.rs
  tokens/src/commands.rs
  tokens/src/db.rs
Labels: automerge

#10075 v1.0 Increase the number of JSON RPC service threads
  core/src/rpc_service.rs
Labels: automerge

#10096 Use serde provided serialization for atomics
  runtime/src/bank.rs
  runtime/src/lib.rs
  runtime/src/serde_utils.rs
Labels: automerge

#10077 Trigger RPC notifications after block commitment cache update
  core/src/commitment.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/validator.rs
  docs/src/apps/jsonrpc-api.md
  sdk/src/commitment_config.rs
Labels: v1.1

#10100 Update accounts whitelist
  core/src/non_circulating_supply.rs
Labels: v1.0, v1.1

#10105 Add unique_signers() to SDK
  Cargo.lock
  sdk/src/signature.rs
  stake-accounts/Cargo.toml
  stake-accounts/src/main.rs
  tokens/Cargo.toml
  tokens/src/commands.rs
Labels: automerge

#10078 fix clock bankhash mismatch
  runtime/src/bank.rs
Labels: automerge

#10106 Add SimulateTransaction RPC endpoint
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.0, v1.1

#10114 Add CommitmentConfig::single() support to the cli
  clap-utils/src/commitment.rs
  clap-utils/src/input_parsers.rs
Labels: automerge

#10121 Rename getCirculatingSuppy to getSupply in JSON API doc
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.0, v1.1

#10095 Fix erasure
  core/src/shred_fetch_stage.rs
  ledger/src/shred.rs
  ledger/tests/shred.rs
Labels: v1.1

#10128 Remove folds
  bench-exchange/src/bench.rs
  cli/src/cluster_query.rs
  core/src/non_circulating_supply.rs
  ledger-tool/src/main.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/hard_forks.rs
  watchtower/src/main.rs
Labels: automerge

#10130 Remove obsolete testnet management scripts
  ci/iterations-localnet.sh
  ci/testnet-deploy.sh
  ci/testnet-manager.sh
  ci/testnet-sanity.sh
  net/README.md
Labels: automerge

#10132 move builtin programs out of bank
  bench-exchange/tests/bench_exchange.rs
  programs/budget/src/budget_processor.rs
  programs/exchange/src/exchange_processor.rs
  programs/ownable/src/ownable_processor.rs
  programs/vest/src/vest_processor.rs
  runtime/benches/bank.rs
  runtime/src/bank.rs
  runtime/src/builtin_programs.rs
  runtime/src/lib.rs
  runtime/src/message_processor.rs
Labels: automerge

#10134 Ignore test_tvu_exit
  core/src/tvu.rs
Labels: automerge, v1.1

#10120 Fix another unstable test after eager rent
  runtime/src/bank.rs
Labels: v1.1

#10146 Fixup subscription docs
  docs/src/apps/jsonrpc-api.md
Labels: v1.1

#10145 cli: transaction-history now searches over the entire history by default
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.1

#10152 multinode-demo: Fetch rpc-url from the gossip entrypoint
  multinode-demo/validator.sh
Labels: automerge

#10044 Add stake-o-matic
  Cargo.lock
  Cargo.toml
  client/src/rpc_client_request.rs
  core/src/rpc.rs
  scripts/cargo-install-all.sh
  stake-o-matic/.gitignore
  stake-o-matic/Cargo.toml
  stake-o-matic/README.md
  stake-o-matic/src/main.rs
  stake-o-matic/src/whitelist.rs
Labels: automerge

#10157 Allow RpcClient users to inject custom "senders"
  cli/src/cli.rs
  client/src/http_sender.rs
  client/src/lib.rs
  client/src/mock_sender.rs
  client/src/rpc_client.rs
  client/src/rpc_sender.rs
Labels: automerge

#10102 Add v0 REST APIs for circulating and total supply
  core/src/non_circulating_supply.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
Labels: v1.0, v1.1

#10158 s-o-m: Avoid sending duplicate stake delegation transactions for the same epoch
  stake-o-matic/src/main.rs
Labels: automerge

#10170 REST API now returns supply in SOL rather than lamports
  core/src/rpc_service.rs
Labels: automerge, v1.0, v1.1

#10171 Fixup deserialize_bs58_transaction
  core/src/rpc.rs
  core/tests/rpc.rs
Labels: automerge, v1.0, v1.1

#10182 Clean up RPCClient retry handling: only retry on 429, after a little sleep
  client/src/http_sender.rs
  client/src/mock_sender.rs
  client/src/rpc_client.rs
  client/src/rpc_sender.rs
Labels: v1.1

#10183 Update whitelist.rs
  stake-o-matic/src/whitelist.rs
Labels: automerge

#10147 Add SingleGossip commitment level to use for subscriptions
  core/src/rpc.rs
  core/src/rpc_subscriptions.rs
  sdk/src/commitment_config.rs
Labels: automerge

#10186 Add another non-circulating account
  core/src/non_circulating_supply.rs
Labels: automerge, v1.0, v1.1

#10188 Backport: Add circ/non-circ filter to getLargestAccounts
  client/src/lib.rs
  client/src/rpc_config.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
Labels: automerge

#10181 verify_reachable_ports: Retry a couple times before declaring a UDP port unreachable
  net-utils/src/lib.rs
  validator/src/main.rs
Labels: v1.1

#10137 Trigger notifications on supermajority votes confirmation
  core/src/cluster_info_vote_listener.rs
Labels: automerge

#10154 Optimize banking processing of AccountInUse
  Cargo.lock
  banking-bench/Cargo.toml
  banking-bench/src/main.rs
  core/src/banking_stage.rs
Labels: v1.1

#10192 No longer allow create-account to add funds to an existing account
  programs/stake/src/stake_instruction.rs
  runtime/src/system_instruction_processor.rs
  runtime/tests/stake.rs
Labels: automerge

#10200 Fix grammar and rendering in optimistic slashing doc
  docs/src/proposals/optimistic-confirmation-and-slashing.md
Labels: automerge

#10202 Update whitelist.rs
  stake-o-matic/src/whitelist.rs
Labels: automerge

#10208 som: Sort notifications for easier scanning on Discord
  stake-o-matic/src/main.rs
Labels: automerge

#10211 v1.1: Test ledger-tool commands in run-sanity.sh
  ci/run-sanity.sh
Labels: automerge, v1.0

#10212 Fix ledger-tool create-snapshot and add sanity test
  ci/run-sanity.sh
  ledger-tool/src/main.rs
Labels: automerge

#10199 LedgerCleanupService no longer causes an OOM and actually purges
  core/src/ledger_cleanup_service.rs
  core/tests/ledger_cleanup.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/tests/blockstore.rs
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
Labels: v1.0, v1.1

#10214 Re-enable move in docker-solana
  sdk/docker-solana/build.sh
Labels: v1.2

#10222 v1.2: Include account.owner into account hash (#9918)
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: automerge

#10223 v1.1: Reduce UNLOCK_NONCE_SLOT to ensure it is active on all three clusters
  ledger/src/shred.rs
Labels: automerge

#10230 v1.1: Adjust include_owner_in_hash to match mainet-beta v1.0 activation
  runtime/src/accounts_db.rs
Labels: automerge

#10215 Cluster info metrics
  core/src/cluster_info.rs
  core/src/crds_gossip.rs
  core/src/crds_gossip_pull.rs
  core/tests/crds_gossip.rs
Labels: v1.1

#10233 Use thiserror's display for TransactionError
  sdk/src/transaction.rs
Labels: automerge

#10234 Update cross-program and program address proposals
  docs/src/SUMMARY.md
  docs/src/implemented-proposals/cross-program-invocation.md
  docs/src/implemented-proposals/program-derived-addresses.md
  docs/src/proposals/cross-program-invocation.md
  docs/src/proposals/program-keys-and-signatures.md
Labels: v1.2

#10238 Remove storage rpc docs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2

#10232 Prevent privilege escalation
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/instruction.h
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/instruction.rs
  programs/bpf/rust/invoked/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
  sdk/src/entrypoint_native.rs
  sdk/src/instruction.rs
Labels: automerge, v1.2

#10243 Adjust owner hashing activation slot
  runtime/src/accounts_db.rs
Labels: automerge

#10239 Add mechanism to get blockhash's last valid slot
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  client/src/rpc_response.rs
  client/src/thin_client.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  runtime/src/bank.rs
  runtime/src/blockhash_queue.rs
Labels: automerge, v1.2

#10244 Lower owner hashing activation slot for devnet
  runtime/src/accounts_db.rs
Labels: automerge

#10250 TPS numbers reported by automation bot are lower than true value
  system-test/testnet-automation.sh
Labels: automerge, v1.2

#10254 Cli: expose last-valid-slot in solana fees
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.2

#10257 run-sanity.sh: Wait for one slot to be produced
  ci/run-sanity.sh
Labels: automerge, v1.1, v1.2

#10261 Program address nits
  sdk/src/pubkey.rs
Labels: automerge, v1.2

#10263 V1.1 single gossip commitment
  core/src/cluster_info_vote_listener.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/tpu.rs
  core/src/validator.rs
  docs/src/apps/jsonrpc-api.md
  sdk/src/commitment_config.rs
Labels: automerge

#10054 Add exchange integration docs
  docs/src/SUMMARY.md
  docs/src/apps/rent.md
  docs/src/integrations/README.md
  docs/src/integrations/exchange.md
Labels: v1.2

#10266 validator: Add more logging while unpacking snapshots
  ledger/src/hardened_unpack.rs
  ledger/src/snapshot_utils.rs
  runtime/src/accounts_db.rs
  runtime/src/serde_snapshot.rs
Labels: v1.1, v1.2

#10268 Stalebot: Exempt 'blocked' label
  .github/stale.yml
Labels: automerge

#10271 Update Cargo.lock files
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/librapay/Cargo.lock
  programs/move_loader/Cargo.lock
Labels: automerge

#10260 CLI: Improve stake (de)activation display
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
  cli/src/stake.rs
  programs/stake/src/stake_state.rs
Labels: v1.1, v1.2

#10274 Cleanup programming model doc
  docs/art/sdk-tools.bob
  docs/src/apps/README.md
Labels: v1.2

#10281 ledger-tool: Purge next slots to avoid a blockstore_processor panic on restart
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
Labels: v1.2

#10284 ci/run-sanity.sh: Use correct --url
  ci/run-sanity.sh
Labels: automerge, v1.1, v1.2

#10282 Include GenesisConfig inflation in Display
  sdk/src/genesis_config.rs
Labels: automerge, v1.1, v1.2

#10291 validator: Verify TPU and serve repair ports are reachable
  validator/src/main.rs
Labels: v1.2

#10295 Feign RPC health while in a `--wait-for-supermajority` holding pattern
  core/src/rpc_service.rs
  core/src/validator.rs
Labels: v1.1, v1.2

#10296 Add commitment parameter to getFeeCalculatorForBlockhash (#10255)
  client/src/rpc_client.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: automerge, v1.1

#10299 Fix repair dos
  core/src/serve_repair.rs
Labels: v1.2

#10298 verify_reachable_ports: Handle errors without expect()
  net-utils/src/lib.rs
Labels: automerge, v1.1, v1.2

#10172 cleanup clippy tests
  core/src/cluster_info.rs
  core/src/cluster_info_vote_listener.rs
  core/src/commitment.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  ledger/src/blockstore.rs
  ledger/tests/shred.rs
  sdk/src/signature.rs
  sdk/src/slot_history.rs
Labels: automerge

#10310 Cover tests for clippy
  ci/test-checks.sh
Labels: automerge

#10316 Log leader in blockstore check
  ledger/src/blockstore.rs
Labels: automerge

#10317 Update whitelist.rs
  stake-o-matic/src/whitelist.rs
Labels: automerge

#10318 v1.1: Add mechanism to get blockhash's last valid slot (#10239)
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  client/src/rpc_response.rs
  client/src/thin_client.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  runtime/src/bank.rs
  runtime/src/blockhash_queue.rs
Labels: automerge

#10309 Improve Rpc inflation tooling
  Cargo.lock
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  client/src/rpc_request.rs
  client/src/rpc_response.rs
  core/Cargo.toml
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  genesis-programs/src/lib.rs
  runtime/src/bank.rs
  sdk/src/inflation.rs
Labels: automerge, v1.1, v1.2

#10319 gce.sh: Make help text example command non-executable
  net/gce.sh
Labels: automerge

#10324 validator: Added --health-check-slot-distance
  core/src/rpc.rs
  core/src/rpc_service.rs
  validator/src/main.rs
Labels: v1.1, v1.2

#10327 Backport of #9161 to v1.1 branch
  Cargo.lock
  core/src/validator.rs
  genesis/Cargo.toml
  genesis/src/main.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/hardened_unpack.rs
  multinode-demo/setup.sh
  multinode-demo/validator.sh
  net/remote/remote-node.sh
  validator/src/main.rs
Labels: automerge

#10328 Don't resolve mainnet-beta in the test suite
  cli/src/cli.rs
Labels: automerge, v1.2

#10325 Remove WithSigner
  core/src/rpc.rs
  ledger/src/blockstore.rs
  programs/stake/src/stake_instruction.rs
  programs/vote/src/vote_instruction.rs
  sdk/src/instruction.rs
  sdk/src/message.rs
  sdk/src/system_instruction.rs
Labels: automerge

#10337 Permit paying oneself
  cli/src/cli.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/system_instruction_processor.rs
Labels: v1.1, v1.2
