Repository solana-labs/solana, pull requests merged in 2020-09, with the labels that each got.

#11926 Add tests for the Debug and activation Vecs
  genesis-programs/src/lib.rs
  runtime/src/bank.rs
  runtime/src/builtins.rs
  runtime/src/message_processor.rs
Labels: v1.3

#11966 Ensure that the spl-token 2 native mint account is owned by the spl-token 2 program
  core/src/non_circulating_supply.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  runtime/src/bank.rs
Labels: automerge, v1.2, v1.3

#11981 Docs.rs version replacement
  docs/set-solana-release-tag.sh
  docs/src/apps/builtins.md
Labels: v1.3

#11990 Use conventional special self notation
  runtime/src/bank.rs
Labels: automerge

#11989 Revert Cargo.toml
  accounts-bench/Cargo.toml
Labels: automerge

#11969 Switch account hashing to blake3
  Cargo.lock
  accounts-bench/src/main.rs
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/tests.rs
  sdk/src/hash.rs
Labels: v1.2, v1.3

#11999 Bigtable method to return a single row of data
  storage-bigtable/src/bigtable.rs
Labels: v1.2, v1.3

#12000 Add missing testnet pubkeys and remove duplicates
  stake-o-matic/src/validator_list.rs
Labels: automerge

#11977 Clarify comments and names in inflation code
  runtime/src/bank.rs
  sdk/src/inflation.rs
Labels: v1.3

#12007 Move forward token2 native mint testnet epoch
  runtime/src/bank.rs
Labels: automerge, v1.3

#12014 Fix forwarding calculation
  core/src/banking_stage.rs
Labels: v1.2, v1.3

#12020 Update token amounts in parsed instructions to retain full precision
  transaction-status/src/parse_token.rs
Labels: v1.2, v1.3

#12005 Rpc: add getMultipleAccounts endpoint
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#11998 builds crds filters without looping over filters
  core/src/crds_gossip_pull.rs
Labels: v1.3

#12025 Don't query modern Ledger wallet app version with deprecated payload size
  remote-wallet/src/ledger.rs
Labels: automerge, v1.2, v1.3

#12033 Mark a withdraw authority as non-circulating
  core/src/non_circulating_supply.rs
Labels: automerge, v1.2, v1.3

#12032 Revert signature-notification format change
  cli/src/cluster_query.rs
  client/src/pubsub_client.rs
  client/src/rpc_response.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/tests/client.rs
  core/tests/rpc.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.3

#12041 fix solana-install syntax
  docs/src/implemented-proposals/installer.md
Labels: v1.3

#12042 Update devnet activation epoch for token2 native mint
  core/src/rpc.rs
  runtime/src/bank.rs
Labels: automerge

#12029 adds new CrdsFilterSet type for Vec<CrdsFilter>
  core/src/crds_gossip_pull.rs
Labels: v1.3

#12050 Bump getMultipleAccounts input limit
  client/src/rpc_request.rs
Labels: automerge, v1.2, v1.3

#12054 Add unlock epochs for blake3
  runtime/src/accounts_db.rs
Labels: v1.2, v1.3

#12012 Forward transactions to the expected leader instead of your own TPU port
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/send_transaction_service.rs
  core/src/validator.rs
Labels: automerge

#12058 Bigtable bug fixes
  storage-bigtable/src/lib.rs
Labels: v1.3

#12063 cli: Add --show-transactions flag to transaction-history command
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: v1.2, v1.3

#12072 Fix bad predicate with malformed gossip votes
  core/src/cluster_info_vote_listener.rs
Labels: v1.3

#12077 Fix signature subscription panic
  core/src/rpc_subscriptions.rs
Labels: v1.3

#12092 Fix signature subscription panic (#12077)
  core/src/rpc_subscriptions.rs
Labels: automerge

#12100 Fix RPC transaction method options serialization
  client/src/rpc_config.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
Labels: v1.2, v1.3

#12004 Forward transactions to the expected leader instead of your own TPU port
  Cargo.lock
  banks-server/Cargo.toml
  banks-server/src/banks_server.rs
  banks-server/src/lib.rs
  banks-server/src/send_transaction_service.rs
  core/src/lib.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/send_transaction_service.rs
  core/src/validator.rs
  runtime/src/lib.rs
Labels: automerge, v1.3

#12113 RPC: getMinimumBalanceForRentExemption now only responds to valid account lengths
  core/src/rpc.rs
Labels: automerge, v1.2, v1.3

#12111 Reduce cap by rent's leftover as temporary measure
  runtime/src/bank.rs
  runtime/src/snapshot_utils.rs
Labels: v1.3

#12121 Activate new bpf loader on devnet
  genesis-programs/src/lib.rs
Labels: v1.3

#12123 net.sh: Support multiple validators with active stake from the start
  multinode-demo/bootstrap-validator.sh
  multinode-demo/validator.sh
  net/net.sh
  net/remote/remote-node.sh
Labels: automerge

#12097 uses rust intrinsics to convert hashes to u64
  core/Cargo.toml
  core/benches/crds_gossip_pull.rs
  core/src/crds_gossip_pull.rs
Labels: v1.3

#12137 README: fix dead link
  README.md
Labels: CI

#12139 Program subscriptions now properly check results len and token program id
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.2, v1.3

#12143 Add integration test for StakeInstruction::AuthorizeWithSeed
  web3.js/test/stake-program.test.js
Labels: automerge

#12144 net.sh: Don't force --warp-slot w/o --wait-for-supermajority
  net/remote/remote-node.sh
Labels: automerge

#12146 ledger-tool: Speed up `bigtable transaction-history` command
  core/src/rpc.rs
  ledger-tool/src/bigtable.rs
  storage-bigtable/src/lib.rs
Labels: automerge

#12150 genesis: Half-support new --cluster-type on v1.2
  genesis/src/main.rs
Labels: automerge

#12154 Calc size ahead of time to alloc once
  programs/bpf/benches/bpf_loader.rs
  programs/bpf_loader/src/serialization.rs
Labels: v1.3

#12171 Docs: update commitment options
  docs/src/apps/jsonrpc-api.md
Labels: v1.3

#12168 `solana-validator --rpc-bind-address` argument now works as expected
  core/src/validator.rs
  local-cluster/src/local_cluster.rs
  multinode-demo/bootstrap-validator.sh
  validator/src/main.rs
Labels: v1.3

#12177 Fix propagation on startup from snapshot
  core/src/progress_map.rs
  core/src/replay_stage.rs
Labels: v1.3

#11927 Check bank capitalization
  Cargo.lock
  accounts-bench/Cargo.toml
  accounts-bench/src/main.rs
  core/src/non_circulating_supply.rs
  core/src/rpc.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore_processor.rs
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/genesis_config.rs
Labels: v1.3

#12176 Gate pointer alignment enforcement
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
Labels: automerge, v1.3

#12185 validator: Default snapshot compression is now included in --help output
  validator/src/main.rs
Labels: automerge

#12173 Update commitment options
  docs/src/apps/jsonrpc-api.md
  sdk/src/commitment_config.rs
Labels: automerge, v1.3

#12190 Add Solana nodes to stake-o-matic
  stake-o-matic/src/validator_list.rs
Labels: automerge

#12192 CI: Don't overwrite pre-existing $CHANNEL
  ci/channel-info.sh
Labels: automerge

#12195 Nit, short name
  runtime/src/bank.rs
Labels: automerge

#12196 Make noop a real noop
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/c/src/noop/noop.c
  programs/bpf/c/src/sanity/sanity.c
  programs/bpf/rust/noop/src/lib.rs
  programs/bpf/rust/sanity/Cargo.toml
  programs/bpf/rust/sanity/Xargo.toml
  programs/bpf/rust/sanity/src/lib.rs
Labels: automerge

#12199 patches default impl for crds filter
  core/src/crds_gossip_pull.rs
Labels: v1.3

#12201 stake-o-matic: Correctly identify the Solana boot nodes
  stake-o-matic/src/validator_list.rs
Labels: automerge

#12212 net.sh: $extraPrimordialStakes is never empty
  net/net.sh
Labels: automerge

#12214 Faucet: Improve error handling
  faucet/src/faucet.rs
Labels: v1.3

#12135 Cache re-usable work performed by the loader
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/src/entrypoint_native.rs
Labels: v1.3

#12219 Enable eager-rent-collect-across-gapped-epochs bugfix
  runtime/src/bank.rs
Labels: v1.3

#12224 Enable stricter check on rent-exempt accounts on testnet
  runtime/src/rent_collector.rs
Labels: automerge, v1.3

#12223 Enable retirement of rent collect in Bank::deposit() on testnet
  runtime/src/bank.rs
Labels: automerge, v1.3

#12239 Really skip private rpc port reachable checks
  validator/src/main.rs
Labels: automerge, v1.2, v1.3

#12242 Drop the recommendation that `--expected-shred-version` be set by validators
  docs/src/clusters.md
  docs/src/integrations/exchange.md
  docs/src/running-validator/restart-cluster.md
Labels: v1.2, v1.3

#12254 Add memory allocation support for C programs
  programs/bpf/c/src/alloc/alloc.c
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/tests/programs.rs
  sdk/bpf/c/inc/solana_sdk.h
Labels: automerge, v1.3

#12252 `solana validator-info get/set` no longer crash on invalid account data
  cli/src/validator_info.rs
Labels: v1.2, v1.3

#12253 Improve solana-tokens UX
  cli-config/src/config.rs
  tokens/README.md
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
  tokens/src/db.rs
Labels: automerge, v1.3

#12264 CLI: Use Base58 encoding rather than deprecated Binary for TX decode
  cli/src/cli.rs
Labels: automerge, v1.3

#12259 solana-tokens: Add capability to perform the same transfer to a batch of recipients
  tokens/README.md
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
  tokens/tests/commands.rs
Labels: v1.3

#12277 docs: Fix 'Description will go into a meta tag in head' meta tag
  docs/src/pages/index.js
Labels: automerge, v1.3

#12278 v1.2: Backports of solana tokens improvements, including transfer to many arg
  Cargo.lock
  tokens/Cargo.toml
  tokens/README.md
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
  tokens/src/db.rs
  tokens/src/main.rs
  tokens/src/thin_client.rs
  tokens/tests/commands.rs
Labels: automerge

#12230 Fix off-by-one max payload checks
  bench-streamer/src/main.rs
  core/src/rpc.rs
  faucet/src/faucet.rs
  perf/src/sigverify.rs
Labels: v1.2, v1.3

#12282 RPC: Limit request payload size to 50kB
  core/src/rpc.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_service.rs
Labels: automerge, v1.2, v1.3

#12283 Rework snapshot download logic to be more forgiving when ` --expected-shred-version` is not provided
  validator/src/main.rs
Labels: automerge, v1.2, v1.3

#12293 Fix panic in BanksServer
  banks-server/src/banks_server.rs
Labels: v1.3

#12290 Remove client resends
  client/src/rpc_client.rs
Labels: v1.3

#12297 Restore --expected-shred-version argument for mainnet-beta
  docs/src/clusters.md
Labels: v1.2, v1.3

#12187 shards crds values based on their hash prefix
  core/Cargo.toml
  core/benches/crds_shards.rs
  core/src/crds.rs
  core/src/crds_gossip_pull.rs
  core/src/crds_shards.rs
  core/src/lib.rs
Labels: v1.3

#12294 Add Pack and COption to sdk
  ci/nits.sh
  sdk/src/lib.rs
  sdk/src/program_option.rs
  sdk/src/program_pack.rs
Labels: v1.3

#12319 Ledger replay supermajority squash doesn't handle duplicate roots
  ledger/src/blockstore_processor.rs
Labels: v1.3

#12333 SendTransactionServices now exit their thread on channel drop instead of by a flag
  banks-server/src/banks_server.rs
  banks-server/src/send_transaction_service.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/send_transaction_service.rs
Labels: automerge, v1.3

#12338 Docs: Unbreak 'Listening for Deposits' section
  docs/src/integrations/exchange.md
Labels: v1.3

#12303 Docs: Add SPL Token exchange integration
  docs/src/integrations/exchange.md
Labels: automerge, v1.3

#12336 Add blocktime column to blockstore
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
Labels: automerge, v1.2

#12344 cli: Improve error message when .config/solana/id.json is not found
  clap-utils/src/keypair.rs
Labels: v1.3

#12347 Docs: Add SPL Token exchange integration (bp #12303)
  docs/src/integrations/exchange.md
Labels: automerge

#12346 Add get_token_account methods
  client/src/rpc_client.rs
Labels: automerge, v1.3

#12354 v1.3: validator: Use validator_config for RPC address instead of cluster_info for port verification checks
  validator/src/main.rs
Labels: automerge

#12355 validator: Use validator_config for RPC address instead of cluster_info for port verification checks
  validator/src/main.rs
Labels: automerge

#12357 validator: Bind to correct RPC addresses
  validator/src/main.rs
Labels: automerge, v1.3

#12361 Bump rust-bpf to v0.2.4
  sdk/bpf/scripts/install.sh
Labels: automerge

#12370 CLI: Drop unused runtime dep
  Cargo.lock
  cli/Cargo.toml
Labels: automerge, v1.2, v1.3

#12385 cli: Simplify cli node version output, display semver only by default
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
  client/src/rpc_response.rs
Labels: automerge, v1.3

#12251 Add blockstore column to store performance sampling data
  core/src/lib.rs
  core/src/rpc.rs
  core/src/sample_performance_service.rs
  core/src/validator.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_meta.rs
Labels: v1.3

#12395 Bump spl-token
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_token.rs
  core/Cargo.toml
  core/src/rpc.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_token.rs
Labels: automerge, v1.2, v1.3

#12380 Fix solana-tokens check_payer_balances for distribute-stake
  tokens/.gitignore
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
Labels: automerge, v1.3

#12405 validator: Add --require-tower stub arg
  validator/src/main.rs
Labels: automerge

#12406 validator: Add --require-tower stub arg
  validator/src/main.rs
Labels: automerge

#12424 Document getConfirmedSignaturesForAddress2 `until` param
  docs/src/apps/jsonrpc-api.md
Labels: v1.3

#12421 RpcClient::get_multiple_accounts() now works
  client/src/rpc_client.rs
Labels: v1.2, v1.3

#12408 Move dropping AppendVecs outside lock
  runtime/src/accounts_db.rs
Labels: v1.2, v1.3

#12435 Docs: Set realistic stake warm-up expectations for validators
  docs/src/running-validator/validator-stake.md
Labels: automerge, v1.3

#12404 Remove transaction encoding from storage layer
  client/src/rpc_client.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  ledger-tool/src/bigtable.rs
  ledger/src/bigtable_upload.rs
  ledger/src/blockstore.rs
  stake-monitor/src/lib.rs
  storage-bigtable/src/lib.rs
  transaction-status/src/lib.rs
  watchtower/src/main.rs
Labels: v1.2, v1.3

#12446 Fix typos
  RELEASE.md
  ci/publish-crate.sh
Labels: automerge

#12311 Record and store invoked instructions in transaction meta
  core/src/banking_stage.rs
  core/src/transaction_status_service.rs
  docs/src/apps/jsonrpc-api.md
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/instruction_recorder.rs
  runtime/src/lib.rs
  runtime/src/message_processor.rs
  sdk/src/entrypoint_native.rs
  sdk/src/message.rs
  storage-bigtable/src/lib.rs
  transaction-status/src/lib.rs
Labels: v1.3

#12447 Use publish=false for benches
  accounts-bench/Cargo.toml
  banking-bench/Cargo.toml
  bench-streamer/Cargo.toml
  bench-tps/Cargo.toml
  dos/Cargo.toml
Labels: v1.3

#12422 adds an atomic variant of the bloom filter
  runtime/benches/bloom.rs
  runtime/src/bloom.rs
  sdk/src/hash.rs
Labels: v1.3

#12457 genesis-programs/: Remove legacy inflation activation code
  genesis-programs/src/lib.rs
  genesis/src/main.rs
  local-cluster/src/local_cluster.rs
Labels: automerge, v1.3

#12434 introduce RpcPerfSample and modify getPerformanceSamples output
  client/src/rpc_response.rs
  core/src/rpc.rs
Labels: v1.3

#12469 Add `Signers` impl for `Vec<Box<dyn Signer>>`
  sdk/src/signers.rs
Labels: automerge, v1.3

#12477 Cleanup names, fix line dependent test
  programs/bpf_loader/src/syscalls.rs
  sdk/bpf/c/inc/solana_sdk.h
Labels: v1.3

#12476 Add ComputeBudget tuner
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/c/src/sanity++/sanity++.cc
  programs/bpf/c/src/tuner/tuner.c
  programs/bpf/tests/programs.rs
Labels: v1.3

#12478 Drain the entire compute budget
  programs/bpf/benches/bpf_loader.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
Labels: automerge, v1.3

#12493 Bump jsonrpc crates to 15.0.0 (bp #12491)
  Cargo.lock
  ci/test-checks.sh
  client/Cargo.toml
  core/Cargo.toml
  vote-signer/Cargo.toml
Labels: automerge

#12496 Improve 'Failed to create snapshot archive' warning message
  runtime/src/snapshot_utils.rs
Labels: automerge, v1.2, v1.3

#12495 Bump jsonrpc crates to 15.0.0 (bp #12491)
  Cargo.lock
  ci/test-checks.sh
  client/Cargo.toml
  core/Cargo.toml
  vote-signer/Cargo.toml
Labels: automerge

#12454 Port fix_recent_blockhashes_sysvar_delay to FeatureSet
  runtime/src/bank.rs
  runtime/src/feature_set.rs
Labels: v1.3

#12401 Nit: bpf test cleanup
  programs/bpf/tests/programs.rs
Labels: v1.3

#12505 Add epoch rewards metric datapoint
  runtime/src/bank.rs
Labels: automerge, v1.3

#12510 bank: Remove continues from compute_active_feature_set()
  runtime/src/bank.rs
Labels: automerge

#12502 Add copy-on-write executor cache
  runtime/src/bank.rs
Labels: automerge, v1.3

#12486 Add precompile verification to preflight
  core/src/rpc.rs
  core/src/rpc_error.rs
Labels: v1.3

#12506 Add pico-inflation feature
  programs/bpf/rust/sysval/src/lib.rs
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
  runtime/src/feature_set.rs
  runtime/src/serde_snapshot/tests.rs
  sdk/src/genesis_config.rs
  sdk/src/inflation.rs
  sdk/src/sysvar/rewards.rs
Labels: automerge, v1.3

#12456 Add feature to resolve the spl-token v2 multisig bug
  runtime/src/bank.rs
  runtime/src/feature_set.rs
Labels: automerge, v1.3

#12524 runtime/src/feature.rs: Add a couple feature tests
  runtime/src/feature.rs
Labels: v1.3

#12532 Enable commitment arg on solana deploy
  clap-utils/src/commitment.rs
  cli/src/cli.rs
Labels: v1.3

#12514 Rpc -> proper optimistic confirmation
  core/src/cluster_info_vote_listener.rs
  core/src/lib.rs
  core/src/optimistically_confirmed_bank_tracker.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_service.rs
  core/src/rpc_subscriptions.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/client.rs
  runtime/src/commitment.rs
Labels: v1.3

#12531 cli-output: Add a path to handling `--verbose` and `--quiet` display
  cli-output/src/cli_output.rs
  cli-output/src/lib.rs
Labels: automerge

#12541 cli-output: Add a path to handling `--verbose` and `--quiet` display …
  cli-output/src/cli_output.rs
  cli-output/src/lib.rs
Labels: automerge

#12542 clap-utils: Allow nonce/offline args to be global (bp #12538)
  clap-utils/src/nonce.rs
  clap-utils/src/offline.rs
  cli/src/cli.rs
  cli/src/stake.rs
  client/src/blockhash_query.rs
Labels: automerge

#12539 cli: feature subcommand: display active stake by feature id when feature activation is not available
  cli/src/feature.rs
Labels: automerge, v1.3

#12545 Add programming faq
  docs/src/apps/programming-faq.md
Labels: automerge

#12548 Increase rpc pubsub max payload to unblock large account notifications
  core/src/rpc_pubsub_service.rs
Labels: v1.2, v1.3

#12553 v1.3: Switch get_program_accounts to use base64
  client/src/rpc_client.rs
Labels: automerge

#12552 rpc_client: Switch get_program_accounts to use base64
  client/src/rpc_client.rs
Labels: v1.2

#12554 Enable json output from solana feature status
  cli/src/feature.rs
Labels: automerge, v1.3

#12559 v1.3: Enable json output from solana feature status (#12554)
  cli/src/feature.rs
Labels: automerge

#12536 Pipe FeatureSet though InvokeContext
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/bpf_verifier.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/feature_set.rs
  runtime/src/message_processor.rs
  runtime/src/process_instruction.rs
Labels: automerge

#12560 Query BigTable for block time if does not exist in blockstore
  core/src/rpc.rs
Labels: automerge, v1.3

#12564 bank: Include active stake in 'epoch_rewards' datapoint
  runtime/src/bank.rs
Labels: v1.3

#12570 Fix banks RPC port
  banks-client/src/lib.rs
  cli-config/src/config.rs
Labels: automerge, v1.3

#12566 Add rand dependency test
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/rand/Cargo.toml
  programs/bpf/rust/rand/Xargo.toml
  programs/bpf/rust/rand/src/lib.rs
  programs/bpf/tests/programs.rs
Labels: automerge

#12575 Tune the sys-tuner documentation
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.3

#12578 bank: epoch_rewards datapoint now includes the correct rewards epoch (previous epoch)
  runtime/src/bank.rs
Labels: v1.3

#12580 Omit workspace Cargo.toml when incrementing version
  scripts/increment-cargo-version.sh
Labels: automerge

#12586 Add programming-faq to sidebar
  docs/sidebars.js
Labels: automerge

#12572 Tighten docs publishing flow
  .travis.yml
  .travis/channel_restriction.sh
  docs/set-solana-release-tag.sh
Labels: v1.2, v1.3

#12579 Modernize python scripts
  ci/order-crates-for-publishing.py
  system-test/testnet-automation-json-parser.py
Labels: v1.3

#12587 Fix TransactionStatusMeta breakage in blockstore
  sdk/src/deserialize_utils.rs
  sdk/src/lib.rs
  transaction-status/src/lib.rs
Labels: v1.3

#12526 Use protobufs to store confirmed blocks in BigTable
  storage-bigtable/build-proto/src/main.rs
  storage-bigtable/proto/solana.bigtable.confirmed_block.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/confirmed_block.proto
  storage-bigtable/src/convert.rs
  storage-bigtable/src/lib.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.3

#12598 Include post balance information for rewards
  core/src/rewards_recorder_service.rs
  runtime/src/bank.rs
  storage-bigtable/proto/solana.bigtable.confirmed_block.rs
  storage-bigtable/src/confirmed_block.proto
  storage-bigtable/src/convert.rs
  storage-bigtable/src/lib.rs
  transaction-status/src/lib.rs
Labels: v1.3
