Repository solana-labs/solana, pull requests merged in 2020-06, with the labels that each got.

#10344 Reduce stable jobs
  ci/test-stable.sh
Labels: v1.1, v1.2

#10345 More cluster stats and add epoch stakes cache in retransmit stage
  core/src/cluster_info.rs
  core/src/retransmit_stage.rs
Labels: v1.2

#10352 Restore archiver/storage design document
  docs/src/SUMMARY.md
  docs/src/proposals/ledger-replication-to-implement.md
Labels: v1.2

#10359 Add docs for the builtin programs
  docs/src/SUMMARY.md
  docs/src/apps/builtins/README.md
Labels: v1.2

#10370 Revert "Reduce UNLOCK_NONCE_SLOT to ensure it is active on all three clusters (#10223)"
  ledger/src/shred.rs
Labels: automerge

#10358 Purge TransactionStatus and AddressSignatures exactly from ledger-tool
  core/src/ledger_cleanup_service.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
Labels: v1.2

#10378 Testnet automation: Fix slot query
  system-test/automation_utils.sh
Labels: automerge

#10209 Support opening an in-use rocksdb as secondary
  Cargo.lock
  genesis/src/main.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_processor.rs
Labels: automerge, v1.1, v1.2

#10380 Add --max-genesis-archive-unpacked-size to capitalization
  ledger-tool/src/main.rs
Labels: automerge

#10384 Don't share same snapshot dir for secondary access
  ledger-tool/src/main.rs
Labels: automerge, v1.1, v1.2

#10373 Cache tvu peers for broadcast
  core/benches/cluster_info.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_metrics.rs
  core/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
Labels: v1.2

#10383 Add built-in programs to InvokeContext
  programs/bpf/benches/bpf_loader.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/builtin_programs.rs
  runtime/src/message_processor.rs
  sdk/src/entrypoint_native.rs
Labels: automerge, v1.2

#10394 v1.1: Enable rolling update of "Permit paying oneself" / "No longer allow create-account to add funds to an existing account"
  runtime/src/bank.rs
  runtime/src/builtin_programs.rs
  runtime/src/legacy_system_instruction_processor0.rs
  runtime/src/lib.rs
Labels: automerge

#10403 Don't reuse executable accounts between instructions
  runtime/src/bank.rs
  runtime/src/message_processor.rs
Labels: automerge, v1.2

#10406 Deactivate legacy_system_instruction_processor0 at epoch 58/38 (preview/stable)
  runtime/src/builtin_programs.rs
Labels: automerge, v1.1, v1.2

#10391 Avoid AccountInUse errors when simulating transactions
  core/src/rpc.rs
  runtime/src/bank.rs
  runtime/src/transaction_batch.rs
Labels: automerge, v1.1, v1.2

#10415 v1.1: ledger_cleanup_service: compact at a slower rate than purging
  core/src/ledger_cleanup_service.rs
  ledger/src/blockstore.rs
Labels: automerge

#10414 ledger_cleanup_service: compact at a slower rate than purging
  core/src/ledger_cleanup_service.rs
  core/tests/ledger_cleanup.rs
  ledger/src/blockstore/blockstore_purge.rs
Labels: v1.2

#10418 Enable more fine-grained control in local cluster partition tests
  local-cluster/src/cluster_tests.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.2

#10424 docs: Fix missing closing code block ```
  docs/src/implemented-proposals/cross-program-invocation.md
Labels: automerge

#10421 Add pull request count metrics
  core/src/cluster_info.rs
Labels: v1.2

#10428 Lower perf counter level from warn
  core/src/poh_recorder.rs
  ledger/src/entry.rs
Labels: v1.2

#10433 Add Certus One as a trusted validator for testnet
  docs/src/clusters.md
Labels: automerge, v1.1, v1.2

#10432 RPC simulateTransaction endpoint now returns program log output
  client/src/rpc_client.rs
  client/src/rpc_response.rs
  core/src/banking_stage.rs
  core/src/rpc.rs
  docs/src/apps/jsonrpc-api.md
  programs/bpf/benches/bpf_loader.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/lib.rs
  runtime/src/log_collector.rs
  runtime/src/message_processor.rs
  sdk/src/entrypoint_native.rs
Labels: v1.1, v1.2

#10435 Remove duplicate gossip metrics and name worker threads
  core/src/cluster_info.rs
Labels: v1.2

#10417 Remove lock around JsonRpcRequestProcessor
  core/src/cluster_info.rs
  core/src/rpc.rs
  core/src/rpc_health.rs
  core/src/rpc_service.rs
Labels: automerge, v1.1, v1.2

#10452 docs: Add Algo|Stake as a recommended trusted testnet validator
  docs/src/clusters.md
Labels: automerge, v1.2

#10456 Add F3LudCbGqu4DMqjduLq5WE2g3USYcjmVK3WR8KeNBhWz
  stake-o-matic/src/whitelist.rs
Labels: automerge

#10463 Use cutting-edge (=nightly) clippy for all targets
  ci/test-checks.sh
Labels: automerge

#10462 som: Add --quality-block-producer-percentage
  stake-o-matic/src/main.rs
  stake-o-matic/src/validator_list.rs
Labels: automerge

#10467 Add --warp-slot argument to |solana-ledger-tool create-snapshot|
  ledger-tool/src/main.rs
  multinode-demo/bootstrap-validator.sh
  runtime/src/bank.rs
Labels: v1.1, v1.2

#10472 RPC/cli: Clean up delinquency slot distance computation
  cli/src/stake.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  sdk/src/clock.rs
Labels: v1.2

#10478 Expose last-valid-slot to BankClient and ThinClient users
  bench-exchange/src/bench.rs
  bench-tps/src/bench.rs
  client/src/thin_client.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/bank_client.rs
  sdk/src/client.rs
  tokens/src/commands.rs
  tokens/src/thin_client.rs
Labels: automerge, v1.2

#10348 Update docs for eager rent collection
  docs/src/apps/README.md
  docs/src/apps/rent.md
  docs/src/implemented-proposals/ed_overview/ed_storage_rent_economics.md
  docs/src/implemented-proposals/rent.md
Labels: v1.2

#10496 Fix broken image link
  docs/src/proposals/simple-payment-and-state-verification.md
Labels: automerge

#10482 Detect expired blockhashes in solana-tokens
  tokens/src/commands.rs
  tokens/src/db.rs
  tokens/src/thin_client.rs
Labels: v1.2

#10504 ClusterInfo cleanup
  core/src/cluster_info.rs
  core/src/crds_gossip_push.rs
Labels: automerge

#10503 Add StakeInstruction::Merge
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  stake-monitor/src/lib.rs
Labels: automerge, v1.1, v1.2

#10508 Add stage 5 TdS Validators to list
  stake-o-matic/src/validator_list.rs
Labels: automerge

#10510 cli: Add `merge-stake` subcommmand
  cli/src/cli.rs
  cli/src/stake.rs
Labels: v1.2

#10441 Adopt heaviest subtree fork choice rule
  core/src/bank_weight_fork_choice.rs
  core/src/consensus.rs
  core/src/fork_choice.rs
  core/src/heaviest_subtree_fork_choice/fork_choice.rs
  core/src/heaviest_subtree_fork_choice/mod.rs
  core/src/lib.rs
  core/src/replay_stage.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/bank.rs
  runtime/src/epoch_stakes.rs
Labels: v1.2

#10522 Enable jsonrpc client
  core/src/rpc.rs
Labels: v1.2

#10524 Update non-circulating pubkeys
  core/src/non_circulating_supply.rs
Labels: automerge, v1.1, v1.2

#10516 Add Trust Wallet security info
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/cli.md
Labels: automerge, v1.1, v1.2

#10530 Adhere to naming conventions
  runtime/src/bank.rs
Labels: automerge

#10099 Optimize stale slot shrinking for previously cleaned roots
  core/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
Labels: security, v1.2

#10537 Remove redundant BankForks parameter
  banking-bench/src/main.rs
  core/benches/retransmit_stage.rs
  core/src/cluster_info_vote_listener.rs
  core/src/consensus.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_service.rs
  core/src/rpc_subscriptions.rs
  core/src/sigverify_shreds.rs
  core/src/tvu.rs
  core/tests/bank_forks.rs
  core/tests/client.rs
  ledger/src/bank_forks.rs
Labels: v1.2

#10542 Add FdGYQ... to non-circulation withdrawer authority list
  core/src/non_circulating_supply.rs
Labels: automerge, v1.1, v1.2

#10541 Split commitment module
  core/src/cluster_info_vote_listener.rs
  core/src/commitment.rs
  core/src/commitment_service.rs
  core/src/consensus.rs
  core/src/lib.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.2

#10552 commitlint now works in web3.js/
  .travis.yml
  .travis/commitlint.sh
Labels: automerge

#10554 Remove trailing whitespace
  docs/src/introduction.md
Labels: automerge

#10509 Fix fannout gossip bench
  core/src/banking_stage.rs
  core/src/cluster_info.rs
  core/src/crds.rs
  core/src/crds_gossip.rs
  core/src/crds_gossip_error.rs
  core/src/crds_gossip_pull.rs
  core/src/crds_gossip_push.rs
  core/src/replay_stage.rs
  core/tests/gossip.rs
Labels: v1.1, v1.2

#10560 Check the whole range of commits in the topic branch
  ci/test-sanity.sh
Labels: v1.1, v1.2

#10566 Use git diff instead of git show for --check
  ci/test-sanity.sh
Labels: v1.1, v1.2

#10568 Use git diff instead of git show for --check (#10566)
  ci/test-sanity.sh
Labels: automerge

#10571 Fix perf-libs version detection
  fetch-perf-libs.sh
Labels: automerge, v1.1, v1.2

#10385 Fix udp port check retry and check all udp ports
  net-utils/src/ip_echo_server.rs
  net-utils/src/lib.rs
  validator/src/main.rs
Labels: v1.1, v1.2

#10601 Minor RELEASE doc updates
  RELEASE.md
Labels: automerge

#10602 |solana withdraw-from-vote-account| now supports ALL, and refuses to deallocate the vote account
  cli/src/cli.rs
  cli/src/vote.rs
  cli/tests/vote.rs
Labels: automerge, v1.2

#10611 Plumb --wait-for-supermajority through scripts
  multinode-demo/bootstrap-validator.sh
  multinode-demo/validator.sh
  net/net.sh
Labels: automerge, v1.1, v1.2

#10607 Fix race in remove_unrooted_slot
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: v1.2

#10615 Enable fork choice and switch votes, devnet => now, testnet => epoch 63
  core/src/replay_stage.rs
Labels: automerge, v1.2

#10612 Allow pre-existing stake accounts in multinode-demo/delegate-stake.sh
  multinode-demo/delegate-stake.sh
Labels: v1.1, v1.2

#10639 Plumb `--warp-slot` through net scripts
  net/net.sh
  net/remote/remote-node.sh
  system-test/testnet-automation.sh
Labels: automerge, v1.1, v1.2

#10641 Fix link in TdS registration docs page
  docs/src/tour-de-sol/registration/how-to-register.md
Labels: automerge, v1.2

#10644 Add address to non-circulating supply
  core/src/non_circulating_supply.rs
Labels: v1.1, v1.2

#10646 som: Still destake delinquents on poor block production
  stake-o-matic/src/main.rs
Labels: automerge

#10637 Move BankForks to solana_runtime
  Cargo.lock
  banking-bench/src/main.rs
  core/benches/retransmit_stage.rs
  core/src/accounts_background_service.rs
  core/src/accounts_hash_verifier.rs
  core/src/bank_weight_fork_choice.rs
  core/src/cluster_info.rs
  core/src/cluster_info_vote_listener.rs
  core/src/cluster_slots.rs
  core/src/consensus.rs
  core/src/fork_choice.rs
  core/src/gossip_service.rs
  core/src/heaviest_subtree_fork_choice/fork_choice.rs
  core/src/heaviest_subtree_fork_choice/mod.rs
  core/src/progress_map.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/result.rs
  core/src/retransmit_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_service.rs
  core/src/rpc_subscriptions.rs
  core/src/send_transaction_service.rs
  core/src/shred_fetch_stage.rs
  core/src/sigverify_shreds.rs
  core/src/snapshot_packager_service.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/window_service.rs
  core/tests/bank_forks.rs
  core/tests/client.rs
  core/tests/gossip.rs
  download-utils/Cargo.toml
  download-utils/src/lib.rs
  genesis/Cargo.toml
  genesis/src/main.rs
  ledger-tool/src/main.rs
  ledger/Cargo.toml
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_processor.rs
  ledger/src/lib.rs
  local-cluster/tests/local_cluster.rs
  programs/bpf/Cargo.lock
  programs/librapay/Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank_forks.rs
  runtime/src/hardened_unpack.rs
  runtime/src/lib.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: automerge

#10654 Wait until bank is frozen before sending RPC notifications
  core/src/replay_stage.rs
  core/src/rpc_subscriptions.rs
Labels: v1.1, v1.2

#10638 Move SDK types to more appropriate files
  cli/src/cli.rs
  programs/bpf/rust/error_handling/src/lib.rs
  programs/bpf_loader/src/lib.rs
  programs/budget/src/budget_instruction.rs
  programs/budget/src/budget_processor.rs
  programs/config/src/config_processor.rs
  programs/exchange/src/exchange_processor.rs
  programs/move_loader/src/processor.rs
  programs/ownable/src/ownable_instruction.rs
  programs/ownable/src/ownable_processor.rs
  programs/stake/src/stake_instruction.rs
  programs/vest/src/vest_instruction.rs
  programs/vest/src/vest_processor.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/legacy_system_instruction_processor0.rs
  runtime/src/native_loader.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/account.rs
  sdk/src/account_info.rs
  sdk/src/decode_error.rs
  sdk/src/lib.rs
  sdk/src/program_error.rs
  sdk/src/program_utils.rs
  sdk/src/pubkey.rs
  sdk/src/system_instruction.rs
Labels: v1.2

#10666 Ignore Break program in the slack watchtower.
  watchtower/src/main.rs
Labels: automerge, v1.1, v1.2

#10652 cli: Add version information to `solana gossip` and `solana validators`
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.2

#10673 v1.2: Add docs to declare_id macro
  sdk/macro/src/lib.rs
Labels: automerge

#10676 Fix typo
  RELEASE.md
Labels: automerge

#10675 Fix typos
  core/src/broadcast_stage/broadcast_metrics.rs
  core/src/consensus.rs
  core/src/contact_info.rs
  core/src/crds.rs
  core/src/progress_map.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/snapshot_packager_service.rs
  core/src/validator.rs
  core/tests/bank_forks.rs
  core/tests/fork-selection.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
  ledger/src/entry.rs
  ledger/src/rooted_slot_iterator.rs
  ledger/src/shred.rs
  ledger/tests/shred.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
  merkle-tree/src/merkle_tree.rs
  remote-wallet/src/remote_wallet.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
  runtime/src/bank_forks.rs
  runtime/src/legacy_system_instruction_processor0.rs
  runtime/src/message_processor.rs
  sdk/src/abi_digester.rs
  sdk/src/slot_history.rs
Labels: automerge

#10672 Merge heaviest bank modules
  core/src/bank_weight_fork_choice.rs
  core/src/fork_choice.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/heaviest_subtree_fork_choice/fork_choice.rs
Labels: automerge, v1.2

#10667 Clean up solana-tokens
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
  tokens/src/main.rs
  tokens/src/thin_client.rs
Labels: automerge

#10681 Update testnet shred version
  docs/src/clusters.md
Labels: automerge, v1.1, v1.2

#10598 fix: improve send and confirm options ergonomics
  web3.js/module.d.ts
  web3.js/module.flow.js
  web3.js/src/connection.js
Labels: javascript

#10684 Update testnet shred version
  docs/src/clusters.md
Labels: v1.1, v1.2

#10692 Do not run buildkite tests if gitbook config modified
  ci/buildkite-pipeline.sh
Labels: automerge, v1.2

#10697 ci/test-checks.sh: Only force up-to-date lock files on edge
  ci/docker-run.sh
  ci/env.sh
  ci/test-checks.sh
  ci/test-sanity.sh
Labels: automerge, v1.1

#10679 cli: Permit users to assign labels to account addresses
  Cargo.lock
  cli-config/src/config.rs
  cli/src/cli.rs
  cli/src/cli_output.rs
  cli/src/cluster_query.rs
  cli/src/display.rs
  cli/src/main.rs
  stake-o-matic/Cargo.toml
  stake-o-matic/src/main.rs
  watchtower/src/main.rs
Labels: automerge

#10664 Reduce responder error prints
  streamer/src/streamer.rs
Labels: v1.2

#10708 Don't bother `api.github.com` on pull requests to avoid getting rate limited
  docs/set-solana-release-tag.sh
Labels: automerge, v1.1, v1.2

#10536 Add CLI options and runtime support for selection of output snapshot version
  core/src/accounts_hash_verifier.rs
  core/src/rpc_service.rs
  core/src/snapshot_packager_service.rs
  core/tests/bank_forks.rs
  ledger-tool/src/main.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/bank_forks.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: v1.2

#10704 Pull program stubs into SDK
  programs/bpf/Cargo.lock
  programs/bpf/rust/128bit/Cargo.toml
  programs/bpf/rust/128bit/src/lib.rs
  programs/bpf/rust/128bit_dep/Cargo.toml
  programs/bpf/rust/alloc/Cargo.toml
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/dep_crate/Cargo.toml
  programs/bpf/rust/dep_crate/src/lib.rs
  programs/bpf/rust/dup_accounts/Cargo.toml
  programs/bpf/rust/error_handling/Cargo.toml
  programs/bpf/rust/external_spend/Cargo.toml
  programs/bpf/rust/invoke/Cargo.toml
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/Cargo.toml
  programs/bpf/rust/invoked/src/lib.rs
  programs/bpf/rust/iter/Cargo.toml
  programs/bpf/rust/iter/src/lib.rs
  programs/bpf/rust/many_args/Cargo.toml
  programs/bpf/rust/many_args/src/lib.rs
  programs/bpf/rust/many_args_dep/Cargo.toml
  programs/bpf/rust/many_args_dep/src/lib.rs
  programs/bpf/rust/noop/Cargo.toml
  programs/bpf/rust/noop/src/lib.rs
  programs/bpf/rust/panic/Cargo.toml
  programs/bpf/rust/param_passing/Cargo.toml
  programs/bpf/rust/param_passing/src/lib.rs
  programs/bpf/rust/param_passing_dep/Cargo.toml
  programs/bpf/rust/param_passing_dep/src/lib.rs
  programs/bpf/rust/sysval/Cargo.toml
  sdk/bpf/rust/test/.gitignore
  sdk/bpf/rust/test/Cargo.toml
  sdk/src/lib.rs
  sdk/src/program_stubs.rs
Labels: v1.2

#10597 fix: avoid double spend in sendAndConfirmTransaction
  web3.js/src/connection.js
  web3.js/src/timing.js
  web3.js/src/transaction.js
  web3.js/src/util/send-and-confirm-raw-transaction.js
  web3.js/src/util/send-and-confirm-transaction.js
Labels: javascript

#10724 Fix buildkite step typo
  ci/buildkite-pipeline.sh
Labels: automerge, v1.2

#10717 Add repair breakdown by slot and index
  core/src/repair_service.rs
  core/src/serve_repair.rs
  ledger/src/blockstore.rs
Labels: v1.2

#10721 Tidy up following #10536
  core/tests/bank_forks.rs
Labels: v1.2

#10730 ledger-tool: Ignore SIGUSR1
  Cargo.lock
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
Labels: automerge, v1.1, v1.2

#10725 Remote Wallet: Stricter derivation path component parsing
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
Labels: automerge, v1.1, v1.2

#10720 Remove slots after --wait-for-supermajority slot
  core/src/validator.rs
  ledger/src/blockstore/blockstore_purge.rs
Labels: v1.2

#10741 Weight repair slots based on vote stake
  core/src/cluster_info_vote_listener.rs
  core/src/repair_service.rs
  core/src/retransmit_stage.rs
  core/src/tvu.rs
  core/src/window_service.rs
Labels: v1.2

#10749 Add utility functions for testing
  Cargo.lock
  ledger/Cargo.toml
  ledger/src/ancestor_iterator.rs
  ledger/src/blockstore.rs
Labels: v1.2

#10751 Rework backup and clear function
  core/src/validator.rs
  ledger/src/blockstore/blockstore_purge.rs
Labels: automerge, v1.2

#10755 Fix plumtree link
  docs/src/validator/gossip.md
Labels: automerge, v1.2

#10757 Make curl verbose when uploading assets to github
  ci/upload-github-release-asset.sh
Labels: automerge, v1.1, v1.2

#10762 Allow hard fork at the last present root slot
  ledger/src/blockstore_processor.rs
Labels: v1.2

#10782 Fixup stake doc wording
  docs/src/staking/README.md
Labels: automerge, v1.2

#10776 Remove fee-payer guesswork from Message and Transaction
  bench-exchange/src/bench.rs
  bench-tps/src/bench.rs
  cli/src/checks.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
  client/src/thin_client.rs
  core/benches/banking_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  faucet/src/faucet.rs
  faucet/tests/local-faucet.rs
  install/src/command.rs
  keygen/src/keygen.rs
  ledger/src/blockstore.rs
  ledger/src/entry.rs
  local-cluster/src/local_cluster.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  programs/budget/src/budget_processor.rs
  programs/exchange/src/exchange_processor.rs
  programs/librapay/src/lib.rs
  programs/librapay/src/librapay_transaction.rs
  programs/ownable/src/ownable_processor.rs
  programs/vest/src/vest_processor.rs
  ramp-tps/src/voters.rs
  runtime/benches/bank.rs
  runtime/src/bank.rs
  runtime/src/bank_client.rs
  runtime/src/legacy_system_instruction_processor0.rs
  runtime/src/loader_utils.rs
  runtime/src/message_processor.rs
  runtime/src/nonce_utils.rs
  runtime/src/system_instruction_processor.rs
  runtime/tests/stake.rs
  sdk/src/fee_calculator.rs
  sdk/src/message.rs
  sdk/src/system_transaction.rs
  sdk/src/transaction.rs
  stake-accounts/src/stake_accounts.rs
  stake-monitor/src/lib.rs
  stake-o-matic/src/main.rs
  tokens/src/commands.rs
  tokens/src/thin_client.rs
Labels: v1.2

#10790 Use `cargo tree` to bump release branch lock files
  RELEASE.md
Labels: automerge, v1.1, v1.2

#10793 Rename Client methods to match proposed BanksClient
  bench-tps/src/bench.rs
  client/src/thin_client.rs
  docs/src/implemented-proposals/cross-program-invocation.md
  docs/src/implemented-proposals/program-derived-addresses.md
  programs/bpf/tests/programs.rs
  programs/budget/src/budget_processor.rs
  programs/exchange/src/exchange_processor.rs
  programs/failure/tests/failure.rs
  programs/librapay/src/lib.rs
  programs/ownable/src/ownable_processor.rs
  programs/vest/src/vest_processor.rs
  runtime/benches/bank.rs
  runtime/src/bank_client.rs
  runtime/src/legacy_system_instruction_processor0.rs
  runtime/src/loader_utils.rs
  runtime/src/system_instruction_processor.rs
  runtime/tests/noop.rs
  runtime/tests/stake.rs
  sdk/src/client.rs
  stake-accounts/src/main.rs
  stake-accounts/src/stake_accounts.rs
  tokens/src/commands.rs
  tokens/src/thin_client.rs
Labels: automerge, v1.2

#10796 Fix race in ci/run-sanity.sh
  ci/run-sanity.sh
Labels: automerge, v1.1, v1.2

#10798 Add non-circulating withdraw authority
  core/src/non_circulating_supply.rs
Labels: automerge, v1.2

#10206 Dont skip eager rent collect across gapped epochs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
Labels: v1.2

#10812 Clean up rpc module
  core/src/rpc.rs
  core/src/rpc_service.rs
Labels: v1.2

#10813 Add ancestor iterator
  ledger/src/ancestor_iterator.rs
  ledger/src/lib.rs
Labels: automerge, v1.2

#10816 Move BankCommitmentCache to solana_runtime
  core/src/cluster_info_vote_listener.rs
  core/src/commitment_service.rs
  core/src/consensus.rs
  core/src/lib.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_service.rs
  core/src/rpc_subscriptions.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/client.rs
  runtime/src/commitment.rs
  runtime/src/lib.rs
Labels: v1.2

#10819 net.sh: Refactor node initialization wait
  net/net.sh
  net/remote/remote-node-wait-init.sh
  net/remote/remote-node.sh
  system-test/testnet-automation.sh
Labels: automerge

#10820 Add logging to HeaviestForkChoice
  core/src/heaviest_subtree_fork_choice.rs
Labels: automerge

#10822 Add logging to HeaviestForkChoice
  core/src/heaviest_subtree_fork_choice.rs
Labels: automerge

#10828 More replay stage timing metrics
  core/src/replay_stage.rs
Labels: v1.2

#10834 Fix the docs build
  docs/build.sh
  docs/src/apps/rent.md
Labels: automerge

#10830 Remove ledger purge batching
  core/src/ledger_cleanup_service.rs
  core/src/validator.rs
  core/tests/ledger_cleanup.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/tests/blockstore.rs
Labels: v1.2

#10835 Reduce logging lines
  core/src/cluster_info.rs
  core/src/repair_service.rs
  core/src/retransmit_stage.rs
Labels: v1.2

#10839 Fix fork detection
  core/src/replay_stage.rs
Labels: v1.2

#10840 Add ability to parse logs for frozen/full slot information in ledger-tool
  Cargo.lock
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
Labels: v1.2

#10850 Remove outdated todo comment
  runtime/src/bank.rs
Labels: automerge, v1.2

#10858 Update expected shred version for testnet.
  docs/src/clusters.md
Labels: v1.2
