Repository solana-labs/solana, pull requests merged in 2020-11, with the labels that each got.

#13333 Adapt to feature::create_account
  runtime/src/bank.rs
Labels: automerge

#13334 Fix typos
  docs/src/implemented-proposals/bank-timestamp-correction.md
Labels: automerge, v1.4

#13332 v1.3: check sysvar id for AccountInfo (#13175)
  sdk/src/sysvar/mod.rs
Labels: automerge

#13325 Small code cleanup and typo fixes
  programs/stake/src/stake_state.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/bank.rs
Labels: v1.3, v1.4

#13355 Include Rent in ProgramTest::start() output
  program-test/src/lib.rs
Labels: automerge, v1.4

#13360 Update sol_log_compute_units
  sdk/program/src/log.rs
Labels: v1.4

#13368 docs: Mainnet-beta totally has smart contract enabled
  docs/src/clusters.md
Labels: automerge, v1.4

#13373 more informative feature error message
  cli/src/feature.rs
Labels: automerge

#13372 Surface transaction logs in rpc client
  cli/src/stake.rs
  client/src/http_sender.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
Labels: v1.4

#13377 RpcClient: Refine transaction log count message
  client/src/rpc_request.rs
Labels: automerge, v1.4

#13388 Comment Stakes::clone_with_epoch
  runtime/src/stakes.rs
Labels: automerge, v1.3, v1.4

#13392 Update SPL Token exchange documentation to include associated-token-account workflow
  docs/src/integrations/exchange.md
Labels: v1.4

#13399 stack overflow docs
  docs/src/developing/deployed-programs/overview.md
Labels: automerge

#13396 Bump spl-token and spl-memo crate versions
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_token.rs
  core/Cargo.toml
  core/src/rpc.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_token.rs
Labels: automerge, v1.4

#13401 cargo-build-bpf: Final program ELF is now placed in ./target/deploy/ instead of .
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.4

#13402 Improve invoke_signed() docs
  sdk/program/src/program.rs
Labels: automerge, v1.4

#13050 CI: Use branch-versioned cargo throughout
  ci/publish-crate.sh
  ci/test-bench.sh
  ci/test-checks.sh
  ci/test-stable.sh
  docs/build-cli-usage.sh
  install/install-help.sh
  scripts/cargo-for-all-lock-files.sh
  scripts/cargo-install-all.sh
  scripts/coverage.sh
  storage-bigtable/build-proto/build.sh
Labels: automerge, v1.4

#13380 Fix duplicate records of inner instructions
  local-cluster/tests/local_cluster.rs
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
Labels: v1.3, v1.4

#13403 Allow feature builtins to overwrite existing builtins
  ledger/src/builtins.rs
  programs/failure/tests/failure.rs
  runtime/benches/bank.rs
  runtime/src/bank.rs
  runtime/src/builtins.rs
  runtime/tests/noop.rs
Labels: automerge, v1.3, v1.4

#13387 docs: Clarify the commitment levels based on questions
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.3, v1.4

#13424 adds the missing slash in cargo path
  scripts/cargo-install-all.sh
Labels: automerge

#13429 Add builtin mem tests
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/mem/Cargo.toml
  programs/bpf/rust/mem/Xargo.toml
  programs/bpf/rust/mem/src/lib.rs
  programs/bpf/tests/programs.rs
Labels: v1.3, v1.4

#13394 Feature-gate stake program
  programs/stake/src/legacy_stake_processor.rs
  programs/stake/src/legacy_stake_state.rs
  programs/stake/src/lib.rs
  runtime/src/builtins.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.3, v1.4

#13444 cargo-test-bpf now sets the "test-bpf" feature for crate tests
  program-test/src/lib.rs
  sdk/cargo-test-bpf/src/main.rs
Labels: v1.4

#13358 Fix stake redelegate
  programs/stake/src/stake_state.rs
Labels: automerge, v1.3, v1.4

#13448 cargo-build-bpf/cargo-test-bpf now support --workspace/--all
  sdk/cargo-build-bpf/src/main.rs
  sdk/cargo-test-bpf/src/main.rs
Labels: v1.4

#13357 Fix stake split rent-exempt adjustment
  programs/stake/src/stake_state.rs
  sdk/program/src/rent.rs
Labels: automerge, v1.3, v1.4

#13446 CLI: Make clear that nonce account 'Nonce' field is a blockhash
  cli-output/src/cli_output.rs
Labels: automerge, v1.4

#13457 Don't abort for missing epoch rewards; intead display warn
  cli/src/stake.rs
  cli/src/vote.rs
Labels: automerge

#13460 Clean up Delegation::stake_and_activating
  programs/stake/src/stake_state.rs
Labels: v1.3, v1.4

#13481 update doc redirects
  docs/publish-docs.sh
Labels: automerge

#13480 update cpi docs
  docs/src/developing/programming-model/cpi.md
Labels: automerge

#13477 Fix Bank accounts hash mismatch related to Clock::unix_timestamp
  docs/src/implemented-proposals/bank-timestamp-correction.md
  runtime/src/bank.rs
  runtime/src/bank_forks.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.4

#13484 align cluster and sim logging as hex
  sdk/program/src/program_stubs.rs
Labels: automerge, v1.4

#13483 Docs update rpc getaccountinfo
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.4

#13485 v1.4: Fix Bank accounts hash mismatch related to Clock::unix_timestamp (#13477)
  docs/src/implemented-proposals/bank-timestamp-correction.md
  runtime/src/bank.rs
  runtime/src/bank_forks.rs
  sdk/src/feature_set.rs
Labels: automerge

#13440 Send RPC notification when account is deleted
  core/src/rpc_subscriptions.rs
Labels: v1.3, v1.4

#13491 Fix signature access
  core/src/completed_data_sets_service.rs
Labels: v1.3, v1.4

#13490 Bump SPL Token version fetched for localnet
  fetch-spl.sh
Labels: v1.3, v1.4

#13504 Make readme testnet section less ambiguous
  README.md
Labels: v1.3, v1.4

#13498 watchtower: Fix all clear duration message
  watchtower/src/main.rs
Labels: v1.3, v1.4

#13511 add missing c logging stubs
  sdk/bpf/c/inc/solana_sdk.h
Labels: automerge

#13514 Add printf declaration
  sdk/bpf/c/inc/stdio.h
Labels: automerge

#13513 Fix parsing CreateAccountWithSeed instructions
  runtime/src/system_instruction_processor.rs
  sdk/program/src/system_instruction.rs
  transaction-status/src/parse_system.rs
Labels: automerge, v1.3, v1.4

#13294 Refactor store/update index function
  runtime/src/accounts_db.rs
Labels: v1.4

#13521 Add stubs and heap region definitions
  sdk/bpf/c/inc/solana_sdk.h
Labels: automerge, v1.4

#13524 program-test: Use a non-zero fee_calculator for a more realistic test environment
  program-test/src/lib.rs
Labels: v1.4

#13529 Validator: Periodically log what we're waiting for during `--wait-for-supermajority`
  core/src/validator.rs
Labels: automerge, v1.3, v1.4

#13501 Fix slow/stuck unstaking due to toggling in epoch
  cli/src/cluster_query.rs
  cli/src/stake.rs
  core/src/rpc.rs
  ledger/src/staking_utils.rs
  programs/stake/src/legacy_stake_state.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
  runtime/src/stakes.rs
  runtime/tests/stake.rs
Labels: v1.3, v1.4

#13536 Discard pre hard fork persisted tower if hard-forking
  core/src/consensus.rs
  core/src/validator.rs
  local-cluster/src/cluster.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.4

#13554 fix bpf lddw check
  programs/bpf_loader/src/bpf_verifier.rs
  programs/bpf_loader/src/lib.rs
Labels: v1.3, v1.4

#13561 cargo-build-bpf/cargo-test-bpf: Add --offline flag
  sdk/cargo-build-bpf/src/main.rs
  sdk/cargo-test-bpf/src/main.rs
Labels: v1.4

#13565 validator: --gossip-host may now be specified with --entrypoint
  gossip/src/main.rs
  validator/src/main.rs
Labels: automerge, v1.3, v1.4

#13568 ip-echo-server: Don't use framed decoder, it can't be read-limited
  Cargo.lock
  net-utils/Cargo.toml
  net-utils/src/ip_echo_server.rs
Labels: automerge, v1.3, v1.4

#13555 Fix potential undefined behavior
  Cargo.lock
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/accounts_index.rs
Labels: v1.4

#13576 Small cleaning update_epoch_stakes
  runtime/src/bank.rs
Labels: automerge, v1.3, v1.4

#13572 Fix overflow in entry tick verification
  ledger/src/entry.rs
Labels: security, v1.3, v1.4

#13584 Send pubsub subscription metrics to metrics server
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.3, v1.4

#13588 Release: Omit spl-token CLI binary (v1.4)
  scripts/cargo-install-all.sh
Labels: automerge

#13590 Revert "Release: Omit spl-token CLI binary"
  scripts/cargo-install-all.sh
Labels: automerge

#13556 Tune program logging
  core/src/rpc.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  run.sh
  runtime/src/builtins.rs
  runtime/src/message_processor.rs
  sdk/src/process_instruction.rs
  web3.js/bin/localnet.sh
Labels: v1.3

#13596 Add counter metrics to rpc-subscriptions
  core/src/rpc_subscriptions.rs
Labels: v1.3, v1.4

#13595 Disable the PubSub vote subscription by default
  core/src/rpc_pubsub.rs
  core/src/rpc_pubsub_service.rs
  core/src/rpc_subscriptions.rs
  core/src/validator.rs
  docs/src/developing/clients/jsonrpc-api.md
  validator/src/main.rs
Labels: v1.3, v1.4

#13602 ledger-tool cap: delegation owner and stake v2 flag
  ledger-tool/src/main.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
Labels: automerge, v1.3, v1.4

#13342 Build more of the SPL repo in CI
  scripts/build-downstream-projects.sh
Labels: v1.4

#13615 Reject faked stake/vote accounts in stake mgmt.
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
Labels: v1.3, v1.4

#13617 Remove program cap from CLI checks
  cli/src/cli.rs
Labels: automerge, v1.4

#13624 fix arithmetic overflow in slice translation
  programs/bpf_loader/src/syscalls.rs
Labels: automerge, v1.4

#13626 Fix assertion failure
  ledger/src/blockstore.rs
  ledger/src/shred.rs
Labels: v1.3, v1.4

#13627 Improve TestValidator instantiation
  Cargo.lock
  cli/tests/nonce.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  core/src/test_validator.rs
  core/tests/client.rs
  tokens/Cargo.toml
  tokens/tests/commands.rs
Labels: v1.3, v1.4

#13629 Quiet notification logs when no subscriptions
  core/src/rpc_subscriptions.rs
Labels: automerge, v1.3, v1.4

#13633 Add back BPF error logging
  programs/bpf_loader/src/lib.rs
Labels: automerge, v1.4

#13638 Add RpcClient::new_with_commitment()
  client/src/rpc_client.rs
Labels: v1.4

#13645 helloworld no longer supports program feature
  scripts/build-downstream-projects.sh
Labels: automerge, v1.4

#13649 Remove stake split overflow opportunities
  programs/stake/src/stake_state.rs
Labels: v1.3, v1.4

#13646 Update Initialized split rent-exempt value
  programs/stake/src/stake_state.rs
Labels: automerge, v1.3, v1.4

#13656 Improve monitoring of timestamp correction and bounding
  account-decoder/src/parse_sysvar.rs
  runtime/src/bank.rs
Labels: automerge

#13623 Revert solana-tokens to RpcClient
  Cargo.lock
  tokens/Cargo.toml
  tokens/src/commands.rs
  tokens/src/db.rs
  tokens/src/main.rs
  tokens/tests/commands.rs
Labels: automerge

#13659 solana-tokens: Add real --version
  Cargo.lock
  tokens/Cargo.toml
  tokens/src/arg_parser.rs
Labels: v1.4

#13661 Update development docs
  .cache/fontconfig/1be5b779-5cf1-4223-b6b5-d509e9259bd8-le64.cache-7
  .cache/fontconfig/CACHEDIR.TAG
  .cache/fontconfig/a2e672f1-2f0f-4797-bd42-ecdf2c7a9450-le64.cache-7
  .cache/fontconfig/d815be62-fc1c-449d-8ebc-cb8467881143-le64.cache-7
  .cache/fontconfig/e3b01451-4923-444a-ae7e-6eaf41e9c6cd-le64.cache-7
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/publish-docs.sh
  docs/sidebars.js
  docs/src/apps.md
  docs/src/apps/break.md
  docs/src/apps/builtins.md
  docs/src/apps/drones.md
  docs/src/apps/hello-world.md
  docs/src/apps/programming-faq.md
  docs/src/apps/rent.md
  docs/src/apps/webwallet.md
  docs/src/cli/transfer-tokens.md
  docs/src/clusters.md
  docs/src/developing/backwards-compatibility.md
  docs/src/developing/builtins/programs.md
  docs/src/developing/builtins/sysvars.md
  docs/src/developing/clients/javascript-api.md
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/developing/deployed-programs/debugging.md
  docs/src/developing/deployed-programs/deploying.md
  docs/src/developing/deployed-programs/developing-c.md
  docs/src/developing/deployed-programs/developing-rust.md
  docs/src/developing/deployed-programs/examples.md
  docs/src/developing/deployed-programs/faq.md
  docs/src/developing/deployed-programs/overview.md
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/programming-model/calling-between-programs.md
  docs/src/developing/programming-model/overview.md
  docs/src/developing/programming-model/runtime.md
  docs/src/developing/programming-model/transactions.md
  docs/src/implemented-proposals/cross-program-invocation.md
  docs/src/implemented-proposals/program-derived-addresses.md
  docs/src/implemented-proposals/rpc-transaction-history.md
  docs/src/implemented-proposals/secp256k1_instruction.md
  docs/src/integrations/exchange.md
  docs/src/offline-signing/durable-nonce.md
  docs/src/pages/index.js
  docs/src/running-validator/validator-stake.md
  docs/src/running-validator/validator-start.md
  docs/src/terminology.md
  docs/src/transaction.md
  docs/src/wallet-guide/solflare.md
Labels: automerge

#13666 docs: Recommend --no-port-check to improve validator restart time
  docs/src/running-validator/validator-start.md
Labels: v1.4

#13668 Disable publishing of cargo-build-bpf/cargo-test-bpf to crates.io
  sdk/cargo-build-bpf/Cargo.toml
  sdk/cargo-test-bpf/Cargo.toml
Labels: automerge, v1.4

#13672 Expand CPI returning error test
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/processor.rs
Labels: automerge

#13675 Fix doc proposal sidebar layout
  docs/sidebars.js
Labels: automerge, v1.4

#13681 Add SPL Feature Proposal program to run.sh
  fetch-spl.sh
Labels: automerge, v1.4

#13682 RPC: Demote missing block error to warning
  core/src/rpc.rs
Labels: automerge, v1.3, v1.4

#13569 Check for overflow in rent partition calculation
  runtime/src/bank.rs
Labels: v1.3, v1.4

#13701 fix rust example section link
  docs/src/developing/deployed-programs/developing-rust.md
Labels: automerge, v1.4

#13461 Rewrite stake accounts for clear migration
  ledger-tool/src/main.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.4

#13704 Allow GNUSparse for genesis.bin
  runtime/src/hardened_unpack.rs
Labels: automerge, v1.3, v1.4

#13709 fix doc redirects
  docs/publish-docs.sh
Labels: automerge, v1.4

#13699 Document RpcClient::get_account() gotcha
  client/src/rpc_client.rs
Labels: automerge, v1.4

#13654 Fix fragile tests in prep of stake rewrite pr
  core/src/test_validator.rs
  ledger/src/genesis_utils.rs
  ledger/src/leader_schedule_cache.rs
  ledger/src/leader_schedule_utils.rs
  ledger/src/staking_utils.rs
  runtime/src/bank.rs
  runtime/src/genesis_utils.rs
Labels: v1.4

#13728 Add ability to setup additional accounts in local cluster
  bench-exchange/tests/bench_exchange.rs
  bench-tps/tests/bench_tps.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
  stake-monitor/src/lib.rs
Labels: v1.4

#13730 docs: --vote-account doesn't support ASK but --authorized-voter does
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.4

#13711 Snapshot archives are now cleaned up when `--snapshot-compression none` is used
  runtime/src/snapshot_utils.rs
Labels: v1.4

#13671 Add new inflation feature-ids
  runtime/src/bank.rs
  sdk/src/feature_set.rs
  sdk/src/inflation.rs
Labels: v1.4

#13734 Demote bank-process_transactions-error counters to info!
  runtime/src/bank.rs
Labels: v1.4

#13628 Prevent scans on unrooted slots from seeing partial clean
  Cargo.lock
  client/src/thin_client.rs
  local-cluster/Cargo.toml
  local-cluster/tests/local_cluster.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
Labels: v1.4

#13737 Allow configurable contact debug
  core/src/cluster_info.rs
  core/src/validator.rs
  validator/src/main.rs
Labels: v1.4

#13680 stake: Don't pay out rewards for epochs where inflation was not enabled
  programs/stake/src/stake_state.rs
Labels: automerge, v1.3, v1.4

#13746 ledger-tool cap: output credits_observed
  ledger-tool/src/main.rs
  programs/stake/src/stake_state.rs
Labels: automerge, v1.3, v1.4

#13735 Guard against bsd sed
  docs/set-solana-release-tag.sh
Labels: automerge, v1.4

#13754 Cap split stake at source stake when splitting entire balance
  programs/stake/src/stake_state.rs
Labels: v1.3, v1.4

#13767 Fail stake Initialize if account data is the wrong size
  programs/stake/src/stake_state.rs
Labels: automerge, v1.4

#13771 Truncate logs immediately upon collection. Also reduce limit from 100k to 10k
  runtime/src/bank.rs
  runtime/src/log_collector.rs
Labels: v1.4

#13775 Prevent splitting when either source or split stake will equal zero
  programs/stake/src/stake_state.rs
Labels: automerge, v1.4

#13776 Check SlotNotRooted if confirmed block not found in blockstore or BigTable
  core/src/rpc.rs
Labels: automerge

#13778 v1.4: Check SlotNotRooted if confirmed block not found in blockstore or BigTable
  core/src/rpc.rs
Labels: automerge

#13773 rpc_subscriptions: Clean up default commitment handling for subscriptions
  client/src/pubsub_client.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  docs/src/developing/clients/jsonrpc-api.md
  local-cluster/tests/local_cluster.rs
Labels: v1.4

#13786 Restore bank feature used to deprecate Rewards sysvar
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.4

#13787 Specify downstream commit
  scripts/build-downstream-projects.sh
Labels: automerge

#13793 Revert "Check out specific downstream commit (#13787)"
  scripts/build-downstream-projects.sh
Labels: automerge, v1.4

#13791 Add "base64+zstd" encoding for RPC account data
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/lib.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.4

#13605 Add stake calculation tests with inflation/slashing
  programs/stake/src/stake_state.rs
Labels: v1.3, v1.4

#13749 Add `solana logs` command
  clap-utils/src/input_parsers.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  client/src/pubsub_client.rs
  client/src/rpc_config.rs
  client/src/rpc_response.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  docs/src/developing/clients/jsonrpc-api.md
  runtime/src/bank.rs
Labels: v1.4

#13811 program-test: Add commonly-used SPL programs as a convenience to the user
  program-test/src/lib.rs
  program-test/src/programs/spl_associated-token-account-1.0.1.so
  program-test/src/programs/spl_memo-1.0.0.so
  program-test/src/programs/spl_token-2.0.6.so
Labels: automerge, v1.4

#13814 Separate blockstore checks for not (yet) rooted and cleaned up
  core/src/rpc.rs
Labels: automerge, v1.4

#13815 Use u64 behind the scenes for solana-tokens
  tokens/README.md
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
  tokens/src/db.rs
  tokens/src/spl_token.rs
  tokens/src/token_display.rs
Labels: automerge, v1.4

#13816 TestValidator public interface cleanup
  cli/tests/deploy.rs
  cli/tests/nonce.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  core/src/test_validator.rs
  core/tests/client.rs
  core/tests/rpc.rs
  ledger/src/leader_schedule_cache.rs
  ledger/src/leader_schedule_utils.rs
  runtime/src/genesis_utils.rs
  tokens/src/commands.rs
  tokens/tests/commands.rs
Labels: v1.4

#13820 More TestValidator cleanup
  cli/tests/deploy.rs
  cli/tests/nonce.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  client/src/rpc_client.rs
  core/src/test_validator.rs
  core/tests/client.rs
  core/tests/rpc.rs
  runtime/src/genesis_utils.rs
  tokens/src/commands.rs
  tokens/tests/commands.rs
Labels: automerge

#13822 hidapi 1.2.4 is broken, lock version to 1.2.3
  remote-wallet/Cargo.toml
Labels: automerge, v1.4

#13830 Revert "hidapi 1.2.4 is broken, lock version to 1.2.3"
  remote-wallet/Cargo.toml
Labels: automerge, v1.4

#13827 Prevent cleanup of zero lamport accounts past max_root
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.4

#13832 Add gce single region cpu-only
  system-test/performance-testcases/gce-cpu-only-perf-5-node-single-region.yml
Labels: automerge

#13837 Enhance ledger-tool for multi-epoch rewards
  ledger-tool/src/main.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
Labels: automerge, v1.3, v1.4

#13842 solana-validator: Add --maximum-local-snapshot-age argument
  validator/src/main.rs
Labels: automerge

#13843 v1.4: solana-validator: Add --maximum-local-snapshot-age argument
  validator/src/main.rs
Labels: automerge

#13844 Record instructions after account translation
  programs/bpf_loader/src/syscalls.rs
Labels: v1.4

#13848 Add extra checks to verify_and_update
  runtime/src/message_processor.rs
Labels: automerge, v1.3, v1.4

#13853 add zsh trouble shooting note to ledger docs
  docs/src/wallet-guide/hardware-wallets/ledger.md
Labels: v1.4

#13836 Don't reset credits_observed due to stale voters
  programs/stake/src/stake_state.rs
Labels: v1.4

#13859 Add `flatten` to logs_subscribe commitment
  client/src/rpc_config.rs
Labels: v1.4

#13863 Revert solana-tokens to RpcClient (#13623)
  Cargo.lock
  tokens/Cargo.toml
  tokens/src/commands.rs
  tokens/src/db.rs
  tokens/src/main.rs
  tokens/src/spl_token.rs
  tokens/tests/commands.rs
Labels: automerge

#13867 Cleanup bpf test's Cargo.toml files
  programs/bpf/Cargo.lock
  programs/bpf/rust/128bit/Cargo.toml
  programs/bpf/rust/alloc/Cargo.toml
  programs/bpf/rust/call_depth/Cargo.toml
  programs/bpf/rust/custom_heap/Cargo.toml
  programs/bpf/rust/dep_crate/Cargo.toml
  programs/bpf/rust/deprecated_loader/Cargo.toml
  programs/bpf/rust/dup_accounts/Cargo.toml
  programs/bpf/rust/error_handling/Cargo.toml
  programs/bpf/rust/external_spend/Cargo.toml
  programs/bpf/rust/instruction_introspection/Cargo.toml
  programs/bpf/rust/invoke/Cargo.toml
  programs/bpf/rust/invoked/Cargo.toml
  programs/bpf/rust/iter/Cargo.toml
  programs/bpf/rust/many_args/Cargo.toml
  programs/bpf/rust/mem/Cargo.toml
  programs/bpf/rust/noop/Cargo.toml
  programs/bpf/rust/panic/Cargo.toml
  programs/bpf/rust/param_passing/Cargo.toml
  programs/bpf/rust/rand/Cargo.toml
  programs/bpf/rust/ristretto/Cargo.toml
  programs/bpf/rust/sanity/Cargo.toml
  programs/bpf/rust/sha256/Cargo.toml
  programs/bpf/rust/sysval/Cargo.toml
Labels: automerge

#13870 Re-fix arithmetic overflow and add better test
  programs/bpf_loader/src/syscalls.rs
Labels: automerge

#13869 Strengthen EpochSlots sanitization
  core/src/epoch_slots.rs
Labels: v1.3, v1.4
