Repository solana-labs/solana, pull requests merged in 2021-01, with the labels that each got.

#14378 Only initialize BigTable upload service when requested
  core/src/rpc_service.rs
Labels: v1.4, v1.5

#14212 Mint index
  core/src/rpc.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
  runtime/benches/accounts.rs
  runtime/benches/accounts_index.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/inline_spl_token_v2_0.rs
  runtime/src/lib.rs
  runtime/src/secondary_index.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
  sdk/program/src/pubkey.rs
  sdk/src/pubkey.rs
  validator/src/main.rs
Labels: v1.4, v1.5

#14388 cli: Use singleGossip for program deployment
  cli/src/cli.rs
  cli/src/main.rs
  cli/src/program.rs
Labels: v1.5

#14391 cli: Tune vote-account/stake-account rewards output
  cli-output/src/cli_output.rs
Labels: v1.4, v1.5

#14387 docs: Update tmpfs partition guidance to include swap
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.5

#14401 cli: Use max commitment when fetching epoch info for block production
  cli/src/cluster_query.rs
Labels: automerge, v1.4, v1.5

#14411 docs: Use "msg!" instead of "info!"
  docs/src/developing/deployed-programs/developing-rust.md
Labels: v1.4, v1.5

#14417 Upgradeable programs needs program account's program id
  programs/bpf/rust/upgradeable/src/lib.rs
  programs/bpf/rust/upgraded/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/bank.rs
  sdk/src/process_instruction.rs
Labels: automerge, v1.4, v1.5

#14313 Improve solana catchup
  cli/src/cli.rs
  cli/src/cluster_query.rs
  sdk/src/rpc_port.rs
Labels: v1.4, v1.5

#14425 Fix pre-merge old name typo in the docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.4, v1.5

#14418 Add validator --account-index docs
  docs/src/running-validator/validator-start.md
Labels: v1.5

#14409 Introduce rpc url monikers for cli
  clap-utils/src/input_validators.rs
  cli/src/cli.rs
  cli/src/main.rs
Labels: v1.4, v1.5

#14429 Lower recycle store count
  runtime/src/accounts_db.rs
Labels: v1.5

#14443 Gate cpi program account passing
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.5

#14435 Save 7G mem on mainnet fixing AccIndex overalloc.
  runtime/src/accounts_index.rs
Labels: v1.4, v1.5

#14448 Fix downstream build
  scripts/build-downstream-projects.sh
Labels: v1.4, v1.5

#14444 Enable program-id account index for supply calculations
  core/src/non_circulating_supply.rs
  core/src/rpc.rs
Labels: automerge, v1.4, v1.5

#14447 Add fixed tick rate adjustment
  core/src/poh_service.rs
Labels: v1.4, v1.5

#14460 Add UTC timing, tweak copy
  explorer/src/components/UnlockAlert.tsx
Labels: automerge

#14464 Add fixed tick rate adjustment (#14447)
  core/src/poh_service.rs
Labels: automerge

#14449 Enable program upgrades via CPI
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/program/src/bpf_loader_upgradeable.rs
Labels: v1.5

#14478 docs: Validator tuning improvements
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.4, v1.5

#14482 Add buffer authority to upgradeable loader
  cli/src/cli.rs
  cli/src/program.rs
  cli/tests/program.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/bank.rs
  runtime/src/loader_utils.rs
  sdk/program/src/bpf_loader_upgradeable.rs
  sdk/program/src/instruction.rs
  sdk/program/src/loader_upgradeable_instruction.rs
Labels: v1.5

#14486 Report correct program id
  programs/bpf_loader/src/lib.rs
Labels: v1.4, v1.5

#14491 Add cli command to query upgradeable account authorities
  cli/src/program.rs
  cli/tests/program.rs
Labels: v1.5

#14501 Don't use caller passed executable account (#14276)
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
Labels: automerge

#14500 Bail on all CPI errors
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/instruction.h
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/instruction.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.4, v1.5

#14504 chore: fix flaky web3 stake-program test
  web3.js/test/stake-program.test.js
Labels: automerge

#14508 ledger: Humanize the 'ledger processed...' time
  Cargo.lock
  ledger/Cargo.toml
  ledger/src/blockstore_processor.rs
Labels: v1.4, v1.5

#14518 Cli: Implement OutputFormat for some missing subcommands
  cli-output/src/cli_output.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/inflation.rs
Labels: automerge, v1.4, v1.5

#14516 Avoid tmp snapshot backlog in SnapshotPackagerService under high load
  core/src/accounts_hash_verifier.rs
  core/src/snapshot_packager_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  runtime/src/snapshot_utils.rs
Labels: v1.4, v1.5

#14528 snapshot_utils: Restore snapshot hard linking
  runtime/src/snapshot_utils.rs
Labels: v1.4, v1.5

#14515 Add rocksdb high priority background threads
  ledger/src/blockstore_db.rs
Labels: v1.5

#14535 Check native account owner
  runtime/src/message_processor.rs
  runtime/src/native_loader.rs
Labels: automerge, v1.4, v1.5

#14532 v1.4: Update timestamp max allowable drift to 50% of PoH
  core/src/rpc.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
  sdk/src/stake_weighted_timestamp.rs
Labels: automerge

#14531 Update timestamp max allowable drift to 50% of PoH
  core/src/rpc.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
  sdk/src/stake_weighted_timestamp.rs
Labels: automerge, v1.5

#14530 Use standard tmp-snapshot- file prefix for the "new_state" archive for better cleanup/consistency
  runtime/src/snapshot_utils.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.4, v1.5

#13140 Cache account stores, flush from AccountsBackgroundService
  accounts-bench/src/main.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
  run.sh
  runtime/benches/accounts.rs
  runtime/benches/accounts_index.rs
  runtime/benches/append_vec.rs
  runtime/src/accounts.rs
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_cache.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/append_vec.rs
  runtime/src/bank.rs
  runtime/src/lib.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
  runtime/src/system_instruction_processor.rs
  runtime/tests/accounts.rs
  validator/src/main.rs
Labels: v1.5

#14526 Bump RBPF version to v0.2.3
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
Labels: dependencies, security, v1.5

#14557 Don't stop to find newer cluster-confirmed roots
  ledger/src/blockstore_processor.rs
Labels: automerge, v1.4, v1.5

#14558 adds pubkey for behzad@solana.com
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#14547 Use leader_forward_count for tx retries too
  core/src/send_transaction_service.rs
Labels: v1.5

#14553 validator: Add --rpc-threads argument
  Cargo.lock
  core/Cargo.toml
  core/src/rpc.rs
  core/src/rpc_service.rs
  validator/Cargo.toml
  validator/src/main.rs
Labels: v1.4, v1.5

#14565 patches bug in turbine's neighbors computation
  core/src/retransmit_stage.rs
Labels: v1.5

#14574 Load executable accounts from invoke context
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
  sdk/src/feature_set.rs
Labels: v1.5

#14529 docs: Add stake programming documentation
  docs/sidebars.js
  docs/src/staking/stake-programming.md
Labels: v1.4, v1.5

#14561 Add load/execute/store timings
  core/src/banking_stage.rs
  core/src/progress_map.rs
  ledger/src/blockstore_processor.rs
  program-test/src/lib.rs
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
Labels: v1.4, v1.5

#14594 Fix program-test's CPI support
  program-test/src/lib.rs
Labels: automerge, v1.5

#14598 Improve solana-test-validator output
  core/src/test_validator.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.5

#14599 Use highest-confirmed-root for max check
  banks-server/src/banks_server.rs
Labels: automerge, v1.4, v1.5

#14601 Fix up stake-o-matic BigTable fetching
  stake-o-matic/src/main.rs
Labels: automerge

#14430 Use optimistic confirmation in getSignatureStatuses, and various downstream client methods
  banks-interface/src/lib.rs
  banks-server/src/banks_server.rs
  cli/src/program.rs
  client/src/mock_sender.rs
  client/src/rpc_client.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  storage-bigtable/src/lib.rs
  tokens/src/commands.rs
  tokens/src/db.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.4, v1.5

#14622 Update-executable flag in pre-accounts
  runtime/src/message_processor.rs
Labels: v1.5

#14624 Add `getHealth` RPC method
  client/src/http_sender.rs
  client/src/rpc_client.rs
  client/src/rpc_custom_error.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  core/src/rpc_health.rs
  core/src/rpc_service.rs
  docs/src/developing/clients/jsonrpc-api.md
  validator/src/bin/solana-test-validator.rs
Labels: v1.5

#14627 Add `getSnapshotSlot` RPC method
  client/src/rpc_client.rs
  client/src/rpc_custom_error.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  docs/src/developing/clients/jsonrpc-api.md
  validator/src/bin/solana-test-validator.rs
Labels: automerge, v1.5

#14635 watchtower: Add --minimum-validator-identity-balance
  watchtower/src/main.rs
Labels: automerge, v1.5

#14628 Fix the occasional stuck RPC request
  core/src/rpc_service.rs
Labels: v1.4, v1.5

#14595 More generic accounts purge functions
  core/src/repair_service.rs
  core/src/repair_weight.rs
  core/src/repair_weighted_traversal.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/contains.rs
  runtime/src/lib.rs
  runtime/src/secondary_index.rs
Labels: v1.4, v1.5

#14651 Make Bigtable::get_confirmed_blocks inclusive of requested start_slot and end_slot
  core/src/rpc.rs
Labels: v1.4, v1.5

#14641 Rename RpcNodeUnhealthy error to NodeUnhealthy, generalize `getHealth` RPC error object for the future
  client/src/http_sender.rs
  client/src/rpc_custom_error.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  validator/src/bin/solana-test-validator.rs
Labels: v1.5

#14631 feature gates turbine retransmit peers patch
  core/src/retransmit_stage.rs
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#14660 Improve docs around bigtable read limit
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
Labels: automerge, v1.4, v1.5

#14657 Configure Bigtable's timeout, enabling by default
  core/src/rpc.rs
  core/src/rpc_service.rs
  ledger-tool/src/bigtable.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
  validator/src/main.rs
Labels: automerge, v1.4, v1.5

#14674 stake-o-matic: Add retries for getConfirmBlocks RPC operations for robustness
  stake-o-matic/src/main.rs
Labels: automerge

#14673 Cli: default to single gossip
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/program.rs
  cli/src/stake.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
  cli/tests/nonce.rs
  cli/tests/program.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  client/src/rpc_client.rs
  validator/src/main.rs
Labels: v1.4, v1.5

#14653 Prevent the invoke and upgrade of programs in the same tx batch
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/loader_utils.rs
  sdk/program/src/bpf_loader_upgradeable.rs
  sdk/program/src/loader_upgradeable_instruction.rs
  sdk/src/feature_set.rs
  transaction-status/src/lib.rs
Labels: v1.4, v1.5

#14677 Bail on small deploy buffers
  programs/bpf_loader/src/lib.rs
  sdk/program/src/loader_upgradeable_instruction.rs
Labels: automerge, v1.4, v1.5

#14544 Parallel cache scan
  Cargo.lock
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
Labels: automerge

#14684 Cli: promote commitment to a global arg + config.yml
  clap-utils/src/commitment.rs
  clap-utils/src/input_parsers.rs
  clap-utils/src/lib.rs
  cli-config/src/config.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/main.rs
  cli/src/program.rs
  cli/src/stake.rs
  cli/src/vote.rs
  sdk/src/commitment_config.rs
Labels: v1.4, v1.5

#14701 Cli block, block-time: Default to highest finalized block if no slot provided
  cli/src/cluster_query.rs
Labels: v1.4, v1.5

#14709 Cli: Return actual confirmation-status from solana confirm
  cli/src/cli.rs
  transaction-status/src/lib.rs
Labels: v1.4, v1.5

#14718 fix(web3): align doc comments with class field names
  web3.js/src/system-program.js
Labels: automerge, v1.4, v1.5

#14717 Nonce address doesn't sign AdvanceNonceAccount
  sdk/program/src/system_instruction.rs
Labels: automerge, v1.4, v1.5

#14702 Add generalized voting process to enable full inflation
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#14723 docs: exchange: Minor doc clarification
  docs/src/integrations/exchange.md
Labels: v1.5

#14726 Add signer/writable de/escalation tests
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/instruction.h
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/instruction.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/tests/programs.rs
Labels: automerge, v1.4, v1.5

#14750 Update bigtable confirm to use confirmation_status
  ledger-tool/src/bigtable.rs
Labels: automerge, v1.4, v1.5

#14745 Add ic_msg()/ic_logger_msg() macros
  programs/bpf_loader/src/lib.rs
  sdk/src/process_instruction.rs
Labels: automerge, v1.5

#14749 fixes test_filter_current flakiness
  core/src/crds_value.rs
Labels: automerge

#14762 Rpc: Add custom error for BigTable data not found
  client/src/rpc_custom_error.rs
  core/src/rpc.rs
  storage-bigtable/src/lib.rs
Labels: automerge, v1.4, v1.5

#14780 solana feature activate: Add ability to force feature activation without code modification
  cli/src/feature.rs
Labels: automerge, v1.5

#14755 test-validator: Add ability to clone accounts from an RPC endpoint
  clap-utils/src/input_validators.rs
  core/src/test_validator.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.5

#14626 Track account writable deescalation
  program-test/src/lib.rs
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/instruction.h
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/instruction.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/benches/message_processor.rs
  runtime/src/message_processor.rs
  scripts/build-downstream-projects.sh
  sdk/src/feature_set.rs
  sdk/src/process_instruction.rs
Labels: v1.5

#14788 Revert disabling script
  scripts/build-downstream-projects.sh
  sdk/src/feature_set.rs
Labels: automerge

#14789 CLI: Reinstate logging, disabled by default
  cli/src/main.rs
Labels: automerge, v1.4, v1.5

#14785 Add solana-test-validator --warp-slot argument
  ci/nits.sh
  core/src/snapshot_packager_service.rs
  core/src/test_validator.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  download-utils/src/lib.rs
  ledger-tool/src/main.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/bank_forks.rs
  runtime/src/snapshot_utils.rs
  sdk/program/src/epoch_schedule.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.5

#14775 Make exchange listening-for-deposits language stronger
  docs/src/integrations/exchange.md
Labels: automerge, v1.5

#14770 Improve documentation of sendTransaction
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/terminology.md
Labels: automerge, v1.5

#14596 Clean accounts cache before flush
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_cache.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
Labels: automerge, v1.5

#14792 Speed up generate_index
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/append_vec.rs
Labels: v1.5

#14808 Remove zero_lamport_pubkeys reference
  runtime/src/accounts_index.rs
Labels: automerge

#14810 Upgrade to Rust v1.49.0
  ci/docker-rust-nightly/Dockerfile
  ci/docker-rust/Dockerfile
  ci/rust-version.sh
  clap-utils/src/input_parsers.rs
  client/src/client_error.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  core/src/cluster_info_vote_listener.rs
  core/src/commitment_service.rs
  core/src/crds_gossip_pull.rs
  core/src/crds_value.rs
  core/src/poh_service.rs
  core/src/retransmit_stage.rs
  core/src/rpc.rs
  core/src/tpu.rs
  frozen-abi/macro/src/lib.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore_db.rs
  metrics/src/counter.rs
  metrics/src/metrics.rs
  perf/src/cuda_runtime.rs
  perf/src/recycler.rs
  runtime/src/accounts_db.rs
  runtime/src/bloom.rs
  runtime/src/log_collector.rs
  runtime/src/native_loader.rs
  runtime/src/serde_snapshot/future.rs
  runtime/src/snapshot_utils.rs
  scripts/coverage.sh
  sdk/cargo-build-bpf/src/main.rs
  sdk/cargo-test-bpf/src/main.rs
  sdk/program/src/program_option.rs
  sdk/program/src/program_pack.rs
  sdk/src/signature.rs
  storage-bigtable/src/access_token.rs
  storage-proto/src/convert.rs
Labels: v1.5

#14806 Reduce ~2 GBs mem by avoiding another overalloc.
  perf/src/packet.rs
Labels: automerge, v1.4, v1.5

#14822 Clean up VerifiedVotePackets
  core/src/cluster_info_vote_listener.rs
  core/src/verified_vote_packets.rs
Labels: automerge, v1.5

#14773 Refactors tuple of TransactionLoadResult into a struct.
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge

#14838 Rotate feature key: use loaded executable accounts
  sdk/src/feature_set.rs
Labels: automerge, v1.4, v1.5

#14798 Add security best practice sections
  docs/README.md
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/programming-model/transactions.md
Labels: v1.5

#14840 Update find_program_address docs
  sdk/program/src/pubkey.rs
Labels: v1.4, v1.5

#14839 Remove legacy_stake program
  programs/stake/src/legacy_stake_processor.rs
  programs/stake/src/legacy_stake_state.rs
  programs/stake/src/lib.rs
  runtime/src/builtins.rs
Labels: v1.5

#14846 Add more upgradeable tests
  programs/bpf/tests/programs.rs
Labels: automerge, v1.5

#14797 Deprecate commitment variants
  banks-client/src/lib.rs
  banks-server/src/banks_server.rs
  bench-exchange/src/bench.rs
  bench-tps/src/bench.rs
  cli-config/src/config.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/main.rs
  cli/src/test_utils.rs
  cli/tests/nonce.rs
  cli/tests/program.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  client/src/perf_utils.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  core/src/test_validator.rs
  core/src/validator.rs
  core/tests/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/proposals/simple-payment-and-state-verification.md
  local-cluster/src/cluster_tests.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/commitment.rs
  sdk/src/commitment_config.rs
  stake-monitor/src/lib.rs
  stake-o-matic/src/main.rs
  tokens/src/commands.rs
  transaction-status/src/lib.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: automerge, v1.5

#14856 cli now supports a custodian for stake authorize operations
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
  core/src/rpc_pubsub.rs
  programs/stake/src/stake_instruction.rs
  stake-accounts/src/stake_accounts.rs
  tokens/src/commands.rs
  transaction-status/src/parse_stake.rs
Labels: v1.4, v1.5

#14857 Add StakeInstruction::Merge logging
  client/src/rpc_client.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
Labels: v1.5

#14854 Enable accounts caching by default
  run.sh
  validator/src/main.rs
Labels: v1.5

#14865 Bumps RBPF to v0.2.4
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
Labels: automerge, bug

#14867 Bump rbpf to v0.2.4
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
Labels: automerge

#14866 install: Add version envvar to `info --eval` output
  install/src/command.rs
Labels: v1.4, v1.5

#14852 Snapshots missing slots from accounts cache clean optimization
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
Labels: v1.5

#14763 Aggregate purge and shrink metrics
  runtime/src/accounts_cache.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.5

#14890 Add syscall feature activation test
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
Labels: v1.5

#14893 nit: message doesn't represent
  programs/bpf/rust/invoked/src/processor.rs
Labels: v1.4, v1.5

#14875 Richer runtime failure logging
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
Labels: v1.4, v1.5

#14907 Manually camelCase solana program json
  cli/src/cli.rs
  cli/src/program.rs
  cli/tests/program.rs
Labels: v1.4

#14912 Surface faucet start failures to the user of solana-test-validator
  bench-exchange/tests/bench_exchange.rs
  bench-tps/tests/bench_tps.rs
  cli/tests/nonce.rs
  cli/tests/program.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  faucet/src/faucet.rs
  faucet/tests/local-faucet.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/lib.rs
  validator/src/main.rs
Labels: automerge, v1.5

#14821 Remove potentially too costly Packets::default()
  core/src/banking_stage.rs
  core/src/cluster_info_vote_listener.rs
  perf/benches/sigverify.rs
  perf/src/packet.rs
  streamer/src/packet.rs
Labels: v1.5

#14914 Do not download and execute binaries via HTTP
  net/net.sh
  scripts/solana-install-deploy.sh
  web3.js/bin/bpf-sdk-install.sh
Labels: automerge

#14916 Add feature for pending SPL Token self-transfer fix
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.4, v1.5

#14920 docs: Fix mangled `getConfirmedTransaction` parameter list
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.5

#14902 cli: Improve reliability of program deploys
  cli/src/program.rs
Labels: v1.4, v1.5

#14908 program-test: Expose bank task to fix fuzzing
  program-test/src/lib.rs
  program-test/tests/fuzz.rs
Labels: v1.5

#14892 Increase vm map limit recommendation to 700k
  docs/src/running-validator/validator-start.md
  sys-tuner/src/main.rs
Labels: v1.5

#14930 Fix cli usage build
  .gitignore
  docs/.gitignore
  docs/build-cli-usage.sh
Labels: automerge, v1.5

#14905 Use already-generated key set to populate dirty keys for clean
  runtime/src/accounts_db.rs
Labels: v1.5

#14923 Buffer authority must match upgrade authority for deploys and upgrades
  cli/src/program.rs
  cli/tests/program.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/loader_utils.rs
  sdk/program/src/bpf_loader_upgradeable.rs
  sdk/program/src/loader_upgradeable_instruction.rs
  sdk/src/feature_set.rs
Labels: v1.5

#14934 Prevent bricked install when ^C is pressed during archive extraction
  install/src/command.rs
Labels: v1.5

#14936 Manually camelCase solana program json (#14907)
  cli/src/cli.rs
  cli/src/program.rs
  cli/tests/program.rs
Labels: automerge

#14941 solana-install: garbage collect old releases
  install/src/command.rs
  install/src/config.rs
  install/src/lib.rs
Labels: automerge, v1.5

#14944 Nam request for Inflation Candidate nomination
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#14950 stake-o-matic: Log each validator's identity/vote/baseline/bonus address for easier issue triage
  stake-o-matic/src/main.rs
Labels: automerge

#14953 Use helper for count() in accountsDB
  runtime/src/accounts_db.rs
Labels: v1.5
