Repository solana-labs/solana, pull requests merged in 2021-09, with the labels that each got.

#19538 v1.7: Fix tests that make assumptions about tx fee rate
  runtime/src/bank.rs
Labels: v1.6

#19553 Simplify process_blockstore tests
  ledger/src/blockstore_processor.rs
Labels: automerge

#19555 Add executor using the program's id during deploy
  programs/bpf_loader/src/lib.rs
Labels: v1.7

#19563 add debugging to test
  Cargo.lock
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: automerge

#19573 docs: update spl token exchange integration
  docs/src/integrations/exchange.md
  docs/src/terminology.md
Labels: v1.7

#19584 add IsCached trait bounds to AccountsIndex
  runtime/src/accounts_index.rs
Labels: automerge

#19585 cleanup of allocate_accounts_index
  runtime/src/accounts_index.rs
Labels: automerge

#19583 refactor AccountEntry addref/unref
  runtime/src/accounts_index.rs
Labels: automerge

#19586 remove file that accidentally got added
  runtime/src/hybrid_btree_map.rs
Labels: automerge

#19588 rename var
  runtime/src/accounts_db.rs
Labels: automerge

#19515 Populate memo in blockstore signatures-for-address
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  rpc/src/transaction_status_service.rs
  transaction-status/src/extract_memos.rs
Labels: v1.6, v1.7

#19612 Add maximum_incremental_snapshot_archives_to_retain to SnapshotConfig
  core/src/accounts_hash_verifier.rs
  core/src/test_validator.rs
  core/tests/snapshots.rs
  ledger-tool/src/main.rs
  local-cluster/tests/local_cluster.rs
  replica-node/src/replica_node.rs
  replica-node/tests/local_replica.rs
  rpc/src/rpc_service.rs
  runtime/src/snapshot_config.rs
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: automerge

#19309 stake: Advance `credits_observed` on activation epoch
  program-test/tests/warp.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.7

#19616 Pass SnapshotConfig to SnapshotPackagerService
  core/src/snapshot_packager_service.rs
  core/src/validator.rs
  core/tests/snapshots.rs
Labels: automerge

#19437 Mango v3 integration
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/account/TokenHistoryCard.tsx
  explorer/src/components/instruction/MangoDetails.tsx
  explorer/src/components/instruction/mango/AddOracleDetailsCard.tsx
  explorer/src/components/instruction/mango/AddPerpMarketDetailsCard.tsx
  explorer/src/components/instruction/mango/AddSpotMarketDetailsCard.tsx
  explorer/src/components/instruction/mango/CancelPerpOrderDetailsCard.tsx
  explorer/src/components/instruction/mango/CancelSpotOrderDetailsCard.tsx
  explorer/src/components/instruction/mango/ChangePerpMarketParamsDetailsCard.tsx
  explorer/src/components/instruction/mango/ConsumeEventsDetailsCard.tsx
  explorer/src/components/instruction/mango/GenericMngoAccountDetailsCard.tsx
  explorer/src/components/instruction/mango/GenericPerpMngoDetailsCard.tsx
  explorer/src/components/instruction/mango/GenericSpotMngoDetailsCard.tsx
  explorer/src/components/instruction/mango/PlacePerpOrderDetailsCard.tsx
  explorer/src/components/instruction/mango/PlaceSpotOrderDetailsCard.tsx
  explorer/src/components/instruction/mango/types.ts
  explorer/src/components/transaction/InstructionsSection.tsx
  explorer/src/utils/tx.ts
Labels: community

#19614 Add RpcClient::get_multiple_accounts_with_config()
  client/src/rpc_client.rs
Labels: automerge, v1.7

#19617 add lowest_pubkey_from_bin
  runtime/src/pubkey_bins.rs
Labels: automerge

#19593 Demote write locks on transaction program ids
  cli-output/src/display.rs
  core/src/banking_stage.rs
  core/src/cost_model.rs
  core/src/cost_tracker.rs
  ledger-tool/src/main.rs
  program-runtime/src/instruction_processor.rs
  program-test/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  rpc/src/transaction_status_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/benches/serialize_instructions.rs
  sdk/program/src/message/legacy.rs
  sdk/program/src/message/mapped.rs
  sdk/program/src/message/sanitized.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/sanitized.rs
  transaction-status/src/parse_accounts.rs
Labels: automerge, v1.6, v1.7

#19634 Bump dependency versions in replica-node
  Cargo.lock
  replica-node/Cargo.toml
  rpc/Cargo.toml
Labels: automerge

#19638 Update to new Telegram link at docs
  docs/src/wallet-guide/support.md
Labels: automerge, v1.7, community

#19641 docs: fix typo
  docs/src/developing/programming-model/runtime.md
Labels: automerge, community

#19646 docs: fix typo
  docs/src/developing/programming-model/calling-between-programs.md
Labels: community

#19643 Update num-bigint to 0.3.3
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: automerge

#19649 fix(web3): export of errors
  web3.js/src/index.ts
Labels: automerge, community

#19648 Update web-wallets.md
  docs/src/wallet-guide/web-wallets.md
Labels: v1.7, community

#19651 Recover from interrupted bpf sdk installs
  sdk/cargo-build-bpf/src/main.rs
Labels: v1.7

#19668 Bump mango client used by explorer, previous version was breaking explorer builds
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/account/TokenHistoryCard.tsx
Labels: community

#19630 Add more program labels to explorer
  explorer/src/utils/tx.ts
Labels: automerge

#19654 Speed up program deploys by writing larger chunks
  cli/src/program.rs
Labels: v1.7

#19600 Make startup aware of Incremental Snapshots
  core/src/retransmit_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#19595 Remove native id check in pda creation
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/program/src/pubkey.rs
  sdk/src/feature_set.rs
Labels: v1.7

#19682 Add fn to check when to take snapshots
  core/tests/snapshots.rs
  ledger/src/blockstore_processor.rs
  runtime/src/accounts_background_service.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#19703 Grammar nits
  docs/src/economics_overview.md
  docs/src/inflation/inflation_schedule.md
  docs/src/inflation/terminology.md
  docs/src/staking.md
Labels: v1.7

#19687 AccountsIndexConfig -> AccountsDbConfig
  core/src/validator.rs
  core/tests/snapshots.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore_processor.rs
  local-cluster/src/validator_configs.rs
  replica-node/src/replica_node.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: automerge

#19699 Check seed length before trying to cal program address
  Cargo.lock
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/syscalls.rs
  sdk/program/src/pubkey.rs
  sdk/src/feature_set.rs
Labels: v1.7

#19655 fixup! test-validator: start logging asap
  validator/src/bin/solana-test-validator.rs
Labels: v1.7

#19718 TpuClient now uses the processed slot to seed its leader schedule cache
  client/src/tpu_client.rs
Labels: automerge

#19629 Return error if Transaction contains writable executable or ProgramData accounts
  programs/bpf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/transaction/mod.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: v1.6, v1.7

#19731 Adding Orca program IDs
  explorer/src/utils/tx.ts
Labels: automerge, community

#19740 Revert "fixup! test-validator: start logging asap"
  validator/src/bin/solana-test-validator.rs
Labels: automerge

#19733 Add RpcClient::get_transport_stats()
  client/src/http_sender.rs
  client/src/mock_sender.rs
  client/src/rpc_client.rs
  client/src/rpc_sender.rs
Labels: v1.7

#19752 Reduce wait for supermajority threshold back to 80%
  core/src/validator.rs
Labels: v1.6, v1.7

#19769 refactor generate_index zero lamports
  runtime/src/accounts_index.rs
Labels: automerge

#19775 push use of AccountMapEntry one level deeper
  runtime/src/accounts_index.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#19790 docs: be less specific about zen3 skus
  docs/src/running-validator/validator-reqs.md
Labels: automerge, v1.7

#19778 InMemAccountsIndex iter returns vec<owned>
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#19749 Add `--destake-vote-account <VOTE_ADDRESS>...` argument to `create-snapshot` command
  docs/src/running-validator/restart-cluster.md
  ledger-tool/src/main.rs
Labels: v1.7

#19808 explorer: Display writable badge instead of readonly badge
  explorer/src/components/instruction/RawDetails.tsx
  explorer/src/pages/TransactionDetailsPage.tsx
Labels: automerge

#19809 fix mislabeled SUNNY program on explorer
  explorer/src/utils/tx.ts
Labels: automerge, community

#19812 add Mercurial to Solana Explorer.
  explorer/src/utils/tx.ts
Labels: automerge, community

#19804 consolidate another use of remove_if_slot_list_empty
  runtime/src/accounts_index.rs
Labels: automerge

#19797 accounts index stats
  runtime/src/accounts_index.rs
  runtime/src/accounts_index_storage.rs
  runtime/src/bucket_map_holder.rs
  runtime/src/bucket_map_holder_stats.rs
  runtime/src/in_mem_accounts_index.rs
  runtime/src/lib.rs
Labels: automerge

#19457 Web3 docs updated with quickstart guide
  docs/src/developing/clients/javascript-api.md
Labels: community

#19827 Silence vercel github comments
  vercel.json
Labels: automerge

#19756 Add `solana-close-vote-account` to CLI
  cli/src/cli.rs
  cli/src/vote.rs
  cli/tests/vote.rs
  docs/src/running-validator/vote-accounts.md
Labels: v1.7, community

#19750 Fix native invoke writable privileges
  program-runtime/src/instruction_processor.rs
  runtime/src/message_processor.rs
  scripts/build-downstream-projects.sh
  sdk/src/feature_set.rs
Labels: v1.7

#19893 Log supermajority achieved status
  core/src/validator.rs
Labels: automerge, v1.6, v1.7, community

#19890 AcctIdx: use stats() accessor
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#19895 Use f64 for stake math in get_stake_percent_in_gossip
  core/src/validator.rs
Labels: v1.7

#19900 Report consumed_buffered_packets_count stat to metrics
  core/src/banking_stage.rs
Labels: automerge, v1.7

#19870 Add Lido for Solana program address label to explorer
  explorer/src/utils/tx.ts
Labels: community

#19904 AcctIdx: Put InMemAcctIndex behind arc
  runtime/src/accounts_index.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#19906 AcctIdx: pass bins to BucketMapHolder
  runtime/src/accounts_index.rs
  runtime/src/accounts_index_storage.rs
  runtime/src/bucket_map_holder.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#19853 Cli: check current authorities before attempting to change them
  cli/src/cli.rs
  cli/src/stake.rs
  cli/src/vote.rs
Labels: v1.7

#19902 Add banking metrics for buffered and dropped packets
  core/src/banking_stage.rs
Labels: v1.6, v1.7

#19929 nit: misspelling
  runtime/src/bank.rs
Labels: automerge

#19941 rpc: performance fix for getProgramAccounts
  rpc/src/rpc.rs
Labels: automerge, v1.6, v1.7, community

#19947 AccountsIndexStorage holds InMemAccountsIndex[]
  runtime/src/accounts_index.rs
  runtime/src/accounts_index_storage.rs
  runtime/src/bucket_map_holder.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#19944 Fix tpu service fanout
  client/src/tpu_client.rs
Labels: v1.7

#19931 Add `delete` subcommand to `ledger-tool bigtable`
  ledger-tool/src/bigtable.rs
  ledger/src/bigtable_delete.rs
  ledger/src/lib.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
Labels: automerge, v1.6, v1.7

#19958 stake: Add BorshDeserialize trait to structs
  sdk/program/src/stake/state.rs
Labels: v1.7

#19977 Fix typos in terminology.md
  docs/src/terminology.md
Labels: v1.7, community

#19968 AcctIdx: initialize acct idx by config
  runtime/src/accounts_index.rs
  runtime/src/accounts_index_storage.rs
Labels: automerge

#19969 AcctIdx: prepare to spin up multiple bg threads
  runtime/src/accounts_index_storage.rs
Labels: automerge

#18943 Optimize RPC pubsub for multiple clients with the same subscription
  Cargo.lock
  account-decoder/src/lib.rs
  client/src/rpc_filter.rs
  core/Cargo.toml
  core/src/cluster_info_vote_listener.rs
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/client.rs
  core/tests/rpc.rs
  metrics/src/lib.rs
  replica-node/src/replica_node.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/optimistically_confirmed_bank_tracker.rs
  rpc/src/rpc.rs
  rpc/src/rpc_pubsub.rs
  rpc/src/rpc_pubsub_service.rs
  rpc/src/rpc_subscription_tracker.rs
  rpc/src/rpc_subscriptions.rs
  sdk/src/commitment_config.rs
  validator/src/main.rs
Labels: v1.6, v1.7, community

#19978 Fix broken links in terminology.md
  docs/src/terminology.md
Labels: v1.7, community

#19983 AcctIdx: configurable flush threads
  runtime/src/accounts_index.rs
  runtime/src/accounts_index_storage.rs
Labels: automerge

#19955 AcctIdx: hold_range_in_memory
  runtime/src/accounts.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/bucket_map_holder_stats.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#19645 Reduce payer balance needed to deploy programs
  programs/bpf_loader/src/lib.rs
Labels: v1.7

#19990 client: Add retry logic on Pubsub 429 error during connect
  client/src/pubsub_client.rs
Labels: v1.7

#19999 Update feature switch for reduced required deploy balance
  programs/bpf_loader/src/lib.rs
  sdk/src/feature_set.rs
Labels: v1.7

#20036 bucketmap items_in_range does not return Option
  bucket_map/src/bucket_map.rs
Labels: automerge

#20037 Make bigtable delete-slots actually usable
  ledger-tool/src/bigtable.rs
Labels: automerge, v1.6, v1.7

#19854 feat: getBlocks API is added
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community

#20051 Minor ProgramTest improvements
  program-test/src/lib.rs
Labels: automerge, v1.7

#20044 Fix memo handling and "blocks" key formatting
  storage-bigtable/src/lib.rs
Labels: v1.6, v1.7

#20049 Add new logos to README files and docs
  README.md
  docs/static/img/logo-horizontal-dark.svg
  docs/static/img/logo-horizontal.svg
  explorer/README.md
  explorer/src/img/logos-solana/dark-explorer-logo.svg
  explorer/src/img/logos-solana/light-explorer-logo.svg
  sdk/README.md
  sdk/program/README.md
Labels: v1.6, v1.7

#20068 Remove unnecessary cfgs in bucket map
  bucket_map/src/bucket_storage.rs
  bucket_map/src/lib.rs
Labels: automerge

#20097 Fix typo in docs/cli/deploy-a-program
  docs/src/cli/deploy-a-program.md
Labels: v1.7, community

#20082 allow vote to have up to 2 signatures
  perf/src/sigverify.rs
Labels: automerge

#19970 Added web3 reference guide
  docs/sidebars.js
  docs/src/developing/clients/javascript-reference.md
Labels: v1.7, community

#20085 AcctIdx: move background() to bucket holder
  runtime/src/accounts_index_storage.rs
  runtime/src/bucket_map_holder.rs
  runtime/src/bucket_map_holder_stats.rs
Labels: automerge

#20090 AcctIdx: consolidate lock_and_update_slot_list
  runtime/src/accounts_index.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#20099 windows: Make solana-test-validator work
  core/benches/banking_stage.rs
  install/src/command.rs
  logger/src/lib.rs
  net-utils/src/lib.rs
  scripts/cargo-install-all.sh
  sys-tuner/src/main.rs
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/lib.rs
  validator/src/main.rs
Labels: v1.7

#20076 AcctIdx: remove old items from cache
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#20127 AcctIdx: log how much time bg threads spend waiting
  runtime/src/bucket_map_holder.rs
  runtime/src/bucket_map_holder_stats.rs
Labels: automerge

#20122 AcctIdx: generation per thread starts at a random bucket
  runtime/src/accounts_index.rs
Labels: automerge

#20145 Update TransactionError links to docs.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.7

#20112 Update Step swap program name
  explorer/src/utils/tx.ts
Labels: automerge, community

#20150 bucket_map: rename num_cells() to capacity()
  bucket_map/src/bucket.rs
  bucket_map/src/bucket_storage.rs
Labels: automerge

#20156 Fix automerge checks
  .mergify.yml
Labels: automerge

#20155 Update serum program labels
  explorer/src/utils/tx.ts
Labels: automerge

#20149 uses tikv_jemallocator::Jemalloc as the global allocator
  Cargo.lock
  validator/Cargo.toml
  validator/src/main.rs
Labels: v1.7

#20162 Fix Terminology.md public key section links
  docs/src/terminology.md
Labels: automerge, community

#20182 Resolve zeroize_derive audit warning by bumping version
  Cargo.lock
  ci/do-audit.sh
  programs/bpf/Cargo.lock
Labels: automerge, v1.6, v1.7

#20197 Improve grammar in terminology/ledger
  docs/src/terminology.md
Labels: v1.7, community

#20198 Fix blatant md formatting at the very top
  docs/src/terminology.md
Labels: v1.7, community

#20199 Terminology: link BPF
  docs/src/terminology.md
Labels: v1.7, community

#20201 gossip.md: simplify Markdown
  docs/src/validator/gossip.md
Labels: v1.7, community

#20214 explorer: Make account owner program label clearer
  explorer/src/components/account/UnknownAccountCard.tsx
  explorer/src/components/common/Account.tsx
  explorer/src/components/instruction/system/AllocateDetailsCard.tsx
  explorer/src/components/instruction/system/AllocateWithSeedDetailsCard.tsx
  explorer/src/components/instruction/system/AssignDetailsCard.tsx
  explorer/src/components/instruction/system/AssignWithSeedDetailsCard.tsx
  explorer/src/components/instruction/system/CreateDetailsCard.tsx
  explorer/src/components/instruction/system/CreateWithSeedDetailsCard.tsx
Labels: automerge

#20218 Fix typo
  docs/src/wallet-guide/hardware-wallets/ledger.md
Labels: v1.7, community

#20223 Rpc: remove not required clone
  client/src/http_sender.rs
Labels: v1.7, community

#20236 Fix grammar in conventions.md
  docs/src/cli/conventions.md
Labels: v1.7, community

#20228 Wallet guide: fix grammar
  docs/src/wallet-guide.md
Labels: v1.7, community

#20247 Rpc: use rust convenient methods
  client/src/rpc_client.rs
Labels: v1.7, community

#19771 Add more docs for RpcClient
  client/src/mock_sender.rs
  client/src/rpc_client.rs
Labels: v1.7, community

#20270 stake-accounts.md: fix grammar, link Solana Explorer
  docs/src/staking/stake-accounts.md
Labels: automerge, v1.7, community

#20263 v1.6: Restore ability for programs to upgrade themselves
  cli-output/src/display.rs
  core/src/transaction_status_service.rs
  program-test/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/benches/serialize_instructions.rs
  sdk/program/src/message.rs
  sdk/src/feature_set.rs
  transaction-status/src/parse_accounts.rs
Labels: automerge

#20233 Paper wallet: fix URI scheme and grammar
  docs/src/wallet-guide/paper-wallet.md
Labels: v1.7, community

#20268 AcctIdx: refactor get to use more refs
  runtime/src/accounts_index.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#20272 chore: bump time from 0.3.2 to 0.3.3
  Cargo.lock
  rbpf-cli/Cargo.toml
Labels: automerge

#20264 AcctIdx: add age_interval_ms() to remove constant use
  runtime/src/bucket_map_holder.rs
Labels: automerge

#20265 Restore ability for programs to upgrade themselves
  programs/bpf/tests/programs.rs
  runtime/src/accounts.rs
  sdk/program/src/message/legacy.rs
  sdk/program/src/message/mapped.rs
  sdk/program/src/message/sanitized.rs
  sdk/src/feature_set.rs
Labels: v1.7

#20275 Add metric measuring number of successfully inserted push messages
  gossip/src/cluster_info.rs
  gossip/src/cluster_info_metrics.rs
  gossip/src/crds_gossip.rs
  gossip/tests/crds_gossip.rs
Labels: v1.7

#19930 Dont call precompiled programs
  Cargo.lock
  Cargo.toml
  program-runtime/src/instruction_processor.rs
  program-test/src/lib.rs
  programs/bpf/Cargo.lock
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  programs/ed25519/Cargo.toml
  programs/ed25519/src/lib.rs
  programs/failure/tests/failure.rs
  programs/ownable/src/ownable_processor.rs
  programs/secp256k1/Cargo.toml
  programs/secp256k1/src/lib.rs
  runtime/Cargo.toml
  runtime/benches/bank.rs
  runtime/src/bank.rs
  runtime/src/builtins.rs
  runtime/src/message_processor.rs
  runtime/tests/noop.rs
  sdk/src/ed25519_instruction.rs
  sdk/src/feature_set.rs
  sdk/src/precompiles.rs
  sdk/src/secp256k1_instruction.rs
Labels: automerge

#20302 AcctIdx: fix logic on should_remove_from_mem
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#20309 explorer: Display block timestamp
  explorer/src/components/block/BlockOverviewCard.tsx
  explorer/src/utils/date.ts
Labels: automerge

#20310 fix: use stable endpoints for getBlocks
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge

#20181 cli: Don't top up program deploy buffer balance if it already exists
  cli/src/program.rs
Labels: v1.7

#20320 explorer: Bump @solana/web3.js from 1.29.1 to 1.29.2
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#20053 feat(explorer): load and display transaction details when commitment is confirmed
  explorer/src/pages/TransactionDetailsPage.tsx
  explorer/src/providers/transactions/parsed.tsx
Labels: automerge

#20322 explorer: Display confirmed block's child slot
  explorer/src/components/block/BlockOverviewCard.tsx
  explorer/src/providers/block.tsx
Labels: automerge

#20317 adds unprefixed_malloc_on_supported_platforms to jemalloc
  validator/Cargo.toml
Labels: v1.7

#20324 AcctIdx: us stats were showing ms
  runtime/src/bucket_map_holder_stats.rs
Labels: automerge

#20328 AcctIdx: bucket perf improvements
  bucket_map/src/bucket.rs
  bucket_map/src/bucket_map.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#20332 Remove MappedMessage files
  sdk/program/src/message/mapped.rs
  sdk/program/src/message/sanitized.rs
Labels: automerge

#20313 add unchecked invokes
  sdk/program/src/program.rs
Labels: v1.7

#20319 AcctIdx: randomly evict items from in mem
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#20269 terminology.md: remove CBC block and unneeded filename
  docs/src/terminology.md
Labels: v1.7, community

#20351 Properly enable unprefixed_malloc_on_supported_platforms in tikv-jemallocator
  validator/Cargo.toml
Labels: v1.7, community
