Repository solana-labs/solana, pull requests merged in 2021-03, with the labels that each got.

#15581 blockstore_processor: sort forks in "ledger processed..." log message
  ledger/src/blockstore_processor.rs
Labels: v1.5

#15596 hotfix: explorer temporarily disable vote instruction card
  explorer/src/components/instruction/vote/VoteDetailsCard.tsx
  explorer/src/components/instruction/vote/types.ts
  explorer/src/components/transaction/InstructionsSection.tsx
Labels: automerge

#15578 Fix blockstore processor error severity
  core/src/replay_stage.rs
  ledger/src/block_error.rs
  ledger/src/blockstore_processor.rs
Labels: v1.5

#15598 cli: dump non-upgradeable programs
  cli/src/program.rs
Labels: v1.5

#15613 Enable BPF program instruction traces
  Cargo.lock
  program-test/src/lib.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/lib.rs
Labels: v1.5

#15620 configure rust-bpf toolchain for each tree
  sdk/bpf/scripts/install.sh
Labels: CI, v1.5

#15603 cli: don't overallocate upgradeable buffer accounts
  cli/src/program.rs
  cli/tests/program.rs
  programs/bpf_loader/src/lib.rs
Labels: CI, v1.5

#15618 fix indentation format problem
  runtime/src/accounts_db.rs
Labels: CI

#15641 Remove Hackathon banner
  docs/src/pages/index.js
Labels: v1.5

#15635 improve cli insufficient funds error messages
  cli/src/checks.rs
  cli/src/cli.rs
  cli/src/spend_utils.rs
Labels: CI, v1.5

#15647 Remove ValidatorConfig derive Clone, and fix local-cluster tests
  accounts-cluster-bench/src/main.rs
  bench-exchange/tests/bench_exchange.rs
  bench-tps/tests/bench_tps.rs
  core/src/validator.rs
  local-cluster/src/lib.rs
  local-cluster/src/local_cluster.rs
  local-cluster/src/validator_configs.rs
  local-cluster/tests/local_cluster.rs
Labels: automerge

#15644 Add error reporting to system program
  runtime/src/system_instruction_processor.rs
  sdk/src/nonce_keyed_account.rs
Labels: v1.5

#15616 Deprecate UiTokenAmount::ui_amount
  account-decoder/src/lib.rs
  account-decoder/src/parse_token.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  storage-proto/proto/solana.storage.confirmed_block.rs
  storage-proto/src/confirmed_block.proto
  storage-proto/src/convert.rs
  tokens/src/commands.rs
  tokens/src/spl_token.rs
  tokens/src/token_display.rs
  transaction-status/src/parse_token.rs
Labels: v1.5

#15653 Remove unnecessary packet meta abi lock
  sdk/src/packet.rs
Labels: v1.5

#15679 Explorer: introduce four new Serum instructions and program ID
  explorer/src/components/instruction/bpf-upgradeable-loader/BpfUpgradeableLoaderDetailsCard.tsx
  explorer/src/components/instruction/bpf-upgradeable-loader/types.ts
  explorer/src/components/instruction/serum/types.ts
  explorer/src/components/transaction/InstructionsSection.tsx
Labels: automerge

#15676 refactor: Use UINT64_MAX to replace hardcoded number
  programs/bpf/c/src/alloc/alloc.c
Labels: automerge

#15634 Forward and hold packets
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/fetch_stage.rs
  perf/src/packet.rs
  streamer/src/packet.rs
Labels: v1.5

#15652 Only report metrics every second
  core/src/banking_stage.rs
Labels: v1.5

#15649 Docs: Update validator hardware recommendations
  docs/src/running-validator/validator-reqs.md
Labels: automerge, v1.5

#15696 docs: address post-merge review of #15649
  docs/src/running-validator/validator-reqs.md
Labels: automerge, v1.5

#15695 Deprecate Instruction::new
  docs/src/developing/programming-model/transactions.md
  docs/src/proposals/program-instruction-macro.md
  keygen/src/keygen.rs
  program-test/tests/cpi.rs
  program-test/tests/fuzz.rs
  program-test/tests/warp.rs
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/rust/caller_access/src/lib.rs
  programs/bpf/rust/spoof1/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  programs/budget/src/budget_instruction.rs
  programs/config/src/config_instruction.rs
  programs/exchange/src/exchange_instruction.rs
  programs/ownable/src/ownable_instruction.rs
  programs/stake/src/stake_instruction.rs
  programs/vest/src/vest_instruction.rs
  programs/vote/src/vote_instruction.rs
  runtime/src/bank.rs
  runtime/src/loader_utils.rs
  runtime/src/message_processor.rs
  runtime/src/system_instruction_processor.rs
  sdk/benches/serialize_instructions.rs
  sdk/program/src/bpf_loader_upgradeable.rs
  sdk/program/src/instruction.rs
  sdk/program/src/loader_instruction.rs
  sdk/program/src/log.rs
  sdk/program/src/message.rs
  sdk/program/src/system_instruction.rs
  sdk/src/log.rs
  sdk/src/transaction.rs
Labels: automerge

#15707 cli: add program show for non-upgradeable programs
  cli-output/src/cli_output.rs
  cli/src/program.rs
  docs/src/cli/deploy-a-program.md
Labels: automerge, v1.5

#15708 Add BPf loader finalize test via inner instruction
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/build.rs
  programs/bpf/rust/finalize/Cargo.toml
  programs/bpf/rust/finalize/Xargo.toml
  programs/bpf/rust/finalize/src/lib.rs
  programs/bpf/tests/programs.rs
Labels: automerge

#15706 hardened_unpack: Permit the snapshots/status_cache file to be sparse
  runtime/src/hardened_unpack.rs
Labels: v1.5

#15712 Use OrderedIterator to produce TransactionLogInfo
  runtime/src/bank.rs
Labels: v1.5

#15721 Fix typos
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/rent_collector.rs
  runtime/src/secondary_index.rs
  runtime/src/status_cache.rs
  runtime/src/system_instruction_processor.rs
Labels: automerge

#15727 Update deploy-a-program.md
  docs/src/cli/deploy-a-program.md
Labels: v1.5

#15715 Local-cluster test: add timeout to prevent infinite loop
  local-cluster/tests/local_cluster.rs
Labels: v1.5

#15733 Convert blockstore TransactionStatus column family to protobufs
  Cargo.lock
  core/src/transaction_status_service.rs
  ledger/Cargo.toml
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
  storage-proto/src/convert.rs
  storage-proto/src/lib.rs
Labels: v1.5

#15725 Add 'unknown' health check state
  core/src/rpc.rs
  core/src/rpc_health.rs
  core/src/rpc_service.rs
  docs/src/developing/clients/jsonrpc-api.md
  validator/src/dashboard.rs
Labels: automerge

#15740 validator: Remove unused id field
  core/src/validator.rs
Labels: automerge

#15742 Explorer: support uiAmountString api updates
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/account/OwnedTokensCard.tsx
  explorer/src/components/account/TokenAccountSection.tsx
  explorer/src/components/transaction/TokenBalancesCard.tsx
  explorer/src/validators/accounts/token.ts
Labels: automerge

#15743 Explorer: update TokenLargestAccounts to use uiAmountString.
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/account/TokenLargestAccountsCard.tsx
Labels: automerge

#15752 stake-o-matic Show cluster average skip rate
  stake-o-matic/src/main.rs
Labels: automerge

#15751 Slow down `solana-validator monitor` refresh interval when talking to a real node
  validator/src/bin/solana-test-validator.rs
  validator/src/dashboard.rs
  validator/src/main.rs
Labels: automerge

#15754 Remove old feature: cumulative_rent_related_fixes
  ledger-tool/src/main.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/rent_collector.rs
  sdk/src/feature_set.rs
Labels: v1.5

#15694 Report datapoint on number of retransmit shreds
  core/src/retransmit_stage.rs
Labels: v1.5

#15732 Add tracer key for tracing transaction path through the network
  core/src/cluster_info_vote_listener.rs
  core/src/sigverify.rs
  core/src/sigverify_shreds.rs
  core/src/sigverify_stage.rs
  perf/benches/sigverify.rs
  perf/src/cuda_runtime.rs
  perf/src/sigverify.rs
  sdk/src/packet.rs
Labels: v1.5

#15774 Explorer: vote timestamp is nullable hotfix
  explorer/src/components/instruction/vote/types.ts
Labels: automerge

#15778 account.data -> data()
  account-decoder/src/lib.rs
  account-decoder/src/parse_config.rs
  core/src/rpc.rs
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
  ledger-tool/src/main.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls.rs
  programs/budget/src/budget_processor.rs
  programs/config/src/config_processor.rs
  programs/exchange/src/exchange_processor.rs
  programs/ownable/src/ownable_processor.rs
  programs/stake/src/config.rs
  programs/stake/src/stake_state.rs
  programs/vest/src/vest_processor.rs
  programs/vest/src/vest_state.rs
  runtime/benches/append_vec.rs
  runtime/src/accounts_cache.rs
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/native_loader.rs
  runtime/src/rent_collector.rs
  runtime/src/stakes.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/keyed_account.rs
  transaction-status/src/token_balances.rs
Labels: automerge

#15775 Improve load_largest_accounts and add Bank test
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge, v1.5

#15785 Improve load_largest_accounts more
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
Labels: v1.5

#15798 validator: Add --force and --monitor options to `exit` subcommand
  ci/localnet-sanity.sh
  ci/run-sanity.sh
  validator/src/main.rs
Labels: automerge

#15726 sdk: add macro for unchecked div with const denominator
  sdk/program/src/lib.rs
Labels: automerge, v1.5

#15608 add catchup average speed and remaining time
  cli/src/cluster_query.rs
Labels: v1.5

#15808 Default --ledger arg to "ledger" for `solana-validator` and `solana-ledger-tool`
  ledger-tool/src/bigtable.rs
  ledger-tool/src/main.rs
  validator/src/main.rs
Labels: v1.5

#15806 cli: improve deploy error reporting
  cli/src/program.rs
Labels: v1.5

#15811 sec: Create private repo as part of new advisory step
  SECURITY.md
Labels: automerge

#15763 Remove old feature: simple_capitalization
  accounts-bench/src/main.rs
  core/src/non_circulating_supply.rs
  ledger-tool/src/main.rs
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
  sdk/src/feature_set.rs
  sdk/src/genesis_config.rs
Labels: v1.5

#15812 Add trait for saturating arithmetic
  sdk/src/arithmetic.rs
  sdk/src/lib.rs
  sdk/src/poh_config.rs
  sdk/src/stake_weighted_timestamp.rs
Labels: automerge

#15734 Add more slot update notifications
  client/src/rpc_response.rs
  core/src/cluster_slots_service.rs
  core/src/lib.rs
  core/src/optimistically_confirmed_bank_tracker.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/rpc_completed_slots_service.rs
  core/src/rpc_subscriptions.rs
  core/src/sigverify_shreds.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/rpc.rs
  ledger/src/blockstore.rs
  ledger/src/shred.rs
  runtime/src/bank.rs
Labels: v1.5

#15816 Disallow integer aritmetic in cli-config
  cli-config/src/config.rs
  cli-config/src/lib.rs
Labels: v1.5

#15827 Rpc: support extended config for getConfirmedBlock
  client/src/rpc_config.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.5

#15838 solana-validator monitor: Fix delinquent stake display
  validator/src/main.rs
Labels: automerge, v1.6

#15842 explorer: Add label for serum dex v1
  explorer/src/utils/tx.ts
Labels: automerge

#15860 explorer: use uiAmountString in token balances component
  explorer/src/components/transaction/TokenBalancesCard.tsx
Labels: automerge

#15873 Fix real_number_string_trimmed zero-decimal behavior
  account-decoder/src/parse_token.rs
Labels: automerge, v1.5, v1.6

#15878 Update cargo lock files on version bump
  scripts/increment-cargo-version.sh
Labels: automerge

#15879 v1.5: Update cargo lock files on version bump
  scripts/increment-cargo-version.sh
Labels: automerge

#15875 Display actual account length
  sdk/src/account.rs
Labels: v1.5, v1.6

#15731 Wallclock BankingStage Throttle
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  runtime/src/bank.rs
  sdk/program/src/clock.rs
Labels: v1.5, v1.6

#15880 increment_cargo_version.sh tune ups
  scripts/increment-cargo-version.sh
Labels: automerge, v1.5, v1.6

#15888 program-test: Export tokio for program-test clients
  program-test/src/lib.rs
Labels: v1.5, v1.6

#15885 sdk: Improve Instruction::new deprecation warning
  sdk/program/src/instruction.rs
Labels: v1.6

#15897 Add `Instruction::new_with_bincode`
  sdk/program/src/instruction.rs
Labels: automerge

#15874 Charge compute budget for bytes passed via cpi
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
  sdk/src/process_instruction.rs
Labels: v1.5, v1.6

#15804 Show flags for accounts in tx by solana confirm
  cli-output/src/display.rs
  cli/src/cli.rs
  sdk/program/src/message.rs
Labels: v1.6

#15908 nit: fix spelling
  sdk/src/feature_set.rs
Labels: automerge, v1.5, v1.6

#15907 Add cargo-bpf-test --no-run flag, matching cargo-test
  sdk/cargo-test-bpf/src/main.rs
Labels: automerge, v1.6

#15893 Cli: better estimate of epoch time elapsed/remaining
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
Labels: automerge, v1.5, v1.6

#15919 docs: Encourage use of the default --ledger location
  docs/src/clusters.md
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.6

#15900 fix: compute pre/post token balances on all accounts if token program present
  transaction-status/src/token_balances.rs
Labels: automerge, v1.5, v1.6

#15833 explorer: display wormhole bridge details
  explorer/src/components/account/TokenAccountSection.tsx
Labels: automerge

#15926 Bump tokio to 1.1 in ledger crate
  Cargo.lock
  ledger/Cargo.toml
  ledger/src/bigtable_upload.rs
Labels: automerge, v1.6

#15834 CLI: Support dumping the TX message in sign-only mode
  Cargo.lock
  clap-utils/src/keypair.rs
  clap-utils/src/offline.rs
  cli-output/Cargo.toml
  cli-output/src/cli_output.rs
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/nonce.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  programs/bpf/Cargo.lock
Labels: v1.5, v1.6

#15934 `solana-install init` can now select a pre-release from Github
  install/src/command.rs
Labels: automerge, v1.6

#15931 add metrics for tick producer and poh_recorder
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  measure/src/measure.rs
Labels: v1.6

#15939 Download snapshot files with a `tmp-` prefix so they'll automatically be cleaned up if interrupted
  download-utils/src/lib.rs
Labels: v1.5, v1.6

#15957 test-validator: Notice the user when the --mint, --bpf-program, or --clone arguments are ignored
  core/src/test_validator.rs
  validator/src/bin/solana-test-validator.rs
Labels: automerge, v1.6

#15961 Allow unbounded wallclock processing time in tests
  core/src/banking_stage.rs
  runtime/src/bank.rs
Labels: v1.5, v1.6

#15962 Sdk: remove integer arithmetic
  sdk/src/secp256k1_instruction.rs
  sdk/src/timing.rs
Labels: automerge

#15887 Close buffer accounts
  cli-output/src/cli_output.rs
  cli/src/program.rs
  cli/tests/program.rs
  docs/src/cli/deploy-a-program.md
  programs/bpf_loader/src/lib.rs
  sdk/program/src/bpf_loader_upgradeable.rs
  sdk/program/src/loader_upgradeable_instruction.rs
  sdk/src/feature_set.rs
  transaction-status/src/parse_bpf_loader.rs
Labels: v1.5, v1.6

#15969 solana-test-validator: Avoid a panic when --slots-per-epoch is less than MINIMUM_SLOTS_PER_EPOCH
  validator/src/bin/solana-test-validator.rs
Labels: automerge, v1.6

#15974 remote-wallet: Expose Ledger app settings
  remote-wallet/src/ledger.rs
Labels: automerge, v1.5, v1.6

#15976 solana epoch-info: avoid a panic when validator doesn't have performance samples
  cli/src/cluster_query.rs
Labels: v1.5, v1.6

#15988 remove old Account<->AccountInfo code
  sdk/src/account.rs
Labels: automerge, v1.6

#15970 rpc: Add config options limiting getConfirmedBlock response data
  cli/src/stake.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  transaction-status/src/lib.rs
Labels: automerge, v1.5, v1.6

#15990 cli cleanup
  cli-output/src/cli_output.rs
  cli/src/program.rs
Labels: automerge, v1.5, v1.6

#15992 Update to reqwest 0.11.2
  Cargo.lock
  cli/Cargo.toml
  client/Cargo.toml
  core/Cargo.toml
  crate-features/Cargo.toml
  download-utils/Cargo.toml
  install/Cargo.toml
  metrics/Cargo.toml
  notifier/Cargo.toml
  programs/bpf/Cargo.lock
  ramp-tps/Cargo.toml
  stake-o-matic/Cargo.toml
Labels: v1.6

#15946 feat: add support for signature received notifications
  web3.js/src/connection.ts
Labels: automerge

#15942 Sanitize instruction index when loading instruction from sysvar
  sdk/program/src/message.rs
Labels: v1.5, v1.6

#16007 docs: SIGUSR1 killing wrapper shell scripts
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.5, v1.6

#16002 program-test: Fix warp and staking issue
  program-test/src/lib.rs
  program-test/tests/warp.rs
Labels: v1.6

#16038 Rpc: make getStakeActivation response consistent for undelegated accounts
  core/src/rpc.rs
Labels: v1.6

#16063 revert test to use Account for serialization
  runtime/src/vote_account.rs
Labels: automerge

#16051 Handle blockstore insert dup checks
  ledger/src/blockstore.rs
Labels: v1.5, v1.6

#15929 eliminate lock on record
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  core/src/send_transaction_service.rs
  core/src/validator.rs
Labels: v1.6

#16057 Add GetSlotLeaders RPC method
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/validator.rs
  docs/src/developing/clients/jsonrpc-api.md
  ledger/src/leader_schedule_cache.rs
  ledger/src/leader_schedule_utils.rs
Labels: automerge

#16081 use certbot from apt not snap
  net/scripts/install-certbot.sh
Labels: automerge

#16068 Bump bpf-tools to version v1.3
  programs/bpf/tests/programs.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#16093 explorer: token registry avoids custom slug
  explorer/package-lock.json
  explorer/src/providers/mints/token-registry.tsx
Labels: automerge

#16100 Add Exodus as Solana Mobile app option
  docs/src/wallet-guide/apps.md
Labels: automerge, v1.6

#16103 Support getBlockTime for unfinalized blocks
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.5, v1.6

#16111 program: Correct clamp in Message::signer_keys()
  sdk/program/src/message.rs
Labels: v1.5, v1.6

#16106 clap-utils: Allow `NullSigner`s outside sign-only mode
  clap-utils/src/keypair.rs
Labels: automerge, v1.5, v1.6

#16049 Simplify account.rent_epoch handling for sysvar rent
  account-decoder/src/parse_sysvar.rs
  programs/bpf_loader/src/lib.rs
  programs/stake/src/stake_instruction.rs
  programs/vote/src/vote_instruction.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/system_instruction_processor.rs
  sdk/benches/slot_hashes.rs
  sdk/benches/slot_history.rs
  sdk/program/src/clock.rs
  sdk/src/account.rs
  sdk/src/keyed_account.rs
  sdk/src/native_loader.rs
  sdk/src/recent_blockhashes_account.rs
Labels: v1.5, v1.6

#9698 Setup ReplayStage confirmation scaffolding for duplicate slots
  core/src/bank_weight_fork_choice.rs
  core/src/cluster_info_vote_listener.rs
  core/src/cluster_slot_state_verifier.rs
  core/src/consensus.rs
  core/src/fork_choice.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/lib.rs
  core/src/poh_recorder.rs
  core/src/progress_map.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/vote_stake_tracker.rs
  core/src/window_service.rs
Labels: v1.6

#16124 chore: modify https test and add run-all dep
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/test/connection.test.ts
Labels: automerge

#16132 Explorer: make new stats card look okay on mobile
  explorer/src/pages/ClusterStatsPage.tsx
Labels: automerge

#16130 cargo-build-bpf: Show bpf-tools download progress
  sdk/cargo-build-bpf/src/main.rs
Labels: v1.6

#16123 Add timeout for local cluster partition tests
  Cargo.lock
  core/src/optimistic_confirmation_verifier.rs
  local-cluster/Cargo.toml
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
  programs/bpf/tests/programs.rs
Labels: v1.5, v1.6

#16138 Explorer: reduce heroku slug size
  explorer/.slug-post-clean
Labels: automerge

#16131 Fix test_replay_commitment_cache
  core/src/replay_stage.rs
Labels: automerge

#16140 Explorer: add color to price change and updated at time
  explorer/.slugignore
  explorer/src/pages/ClusterStatsPage.tsx
  explorer/src/scss/_solana.scss
  explorer/src/utils/date.ts
Labels: automerge

#16112 Shortu16 refactor 1.6
  perf/src/sigverify.rs
  sdk/program/src/short_vec.rs
Labels: automerge

#15607 Skip leader slots until a vote lands
  core/src/consensus.rs
  core/src/replay_stage.rs
  core/src/test_validator.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  multinode-demo/bootstrap-validator.sh
  run.sh
  validator/src/main.rs
Labels: v1.6

#16151 Explorer: account for custom endpoint possible conditions in stakehistory
  explorer/src/pages/ClusterStatsPage.tsx
Labels: automerge

#16139 Throttle PoH ticks by cumulative slot time
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  ledger/src/poh.rs
Labels: automerge

#16152 Bump bpf-tools to version v1.4
  programs/bpf/rust/mem/src/lib.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.6

#16098 sdk: Add try_from_slice_unchecked for Borsh
  sdk/program/src/borsh.rs
Labels: v1.6

#16142 Rpc: enable getConfirmedBlock and getConfirmedTransaction to return confirmed (not yet finalized) data
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/stake.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/transaction_status_service.rs
  core/src/validator.rs
  docs/src/developing/clients/jsonrpc-api.md
  ledger/src/bigtable_upload.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_processor.rs
  sdk/src/commitment_config.rs
  transaction-status/src/lib.rs
Labels: v1.5, v1.6

#16156 Move skipping leader slot print and vote check
  core/src/replay_stage.rs
Labels: v1.6

#16165 Add RpcClient::get_stake_activation()
  client/src/rpc_client.rs
  client/src/rpc_request.rs
Labels: v1.6

#16168 client/: Switch to a single `use`
  client/src/blockhash_query.rs
  client/src/client_error.rs
  client/src/http_sender.rs
  client/src/mock_sender.rs
  client/src/nonce_utils.rs
  client/src/perf_utils.rs
  client/src/pubsub_client.rs
  client/src/rpc_cache.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  client/src/rpc_custom_error.rs
  client/src/rpc_request.rs
  client/src/rpc_response.rs
  client/src/thin_client.rs
Labels: v1.6

#16171 sdk: Use u32::MAX from std to unbreak BPF builds
  sdk/program/src/short_vec.rs
Labels: automerge, v1.6

#16108 Implement mnemonic support for solana-keygen grind (solana-labs#9325)
  docs/src/running-validator/validator-start.md
  keygen/src/keygen.rs
Labels: v1.6

#16170 Fix handling of invoked ix accounts in program-test
  program-test/src/lib.rs
Labels: v1.5, v1.6

#16174 Status cache improvements
  runtime/benches/status_cache.rs
  runtime/src/bank.rs
  runtime/src/status_cache.rs
Labels: v1.6

#16181 Print the rust version when building bpf programs
  sdk/bpf/scripts/install.sh
Labels: v1.5, v1.6

#16194 client: Derive PartialEq for StakeActivationState
  client/src/rpc_response.rs
Labels: automerge, v1.6

#16161 Rpc: enable getConfirmedBlocks and getConfirmedBlocksWithLimit to return confirmed (not yet finalized) data
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.5, v1.6

#16199 Add handling to close accounts to many-accounts bench
  accounts-cluster-bench/.gitignore
  accounts-cluster-bench/src/main.rs
Labels: v1.6

#16202 Allow incomplete_features lint in frozen-abi et. al
  frozen-abi/src/lib.rs
  sdk/program/src/lib.rs
  sdk/src/lib.rs
Labels: automerge, v1.5, v1.6

#16203 Print the rust version when building bpf programs (#16181)
  sdk/bpf/scripts/install.sh
Labels: automerge

#16223 explorer: Bump web3 to v1.2.3
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#16212 Add channel version check
  ci/channel-info.sh
  ci/test-sanity.sh
Labels: v1.6

#16232 Align ProcessInstruction error handling
  program-test/src/lib.rs
Labels: v1.6

#16239 docs: Reduce airdrop examples to 1 SOL
  docs/src/cli/.usage.md.header
  docs/src/cli/transfer-tokens.md
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/integrations/exchange.md
  docs/src/offline-signing/durable-nonce.md
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.5, v1.6

#16242 Add get_max_retransmit_slot/get_max_shred_insert_slot to RpcClient
  client/src/rpc_client.rs
  client/src/rpc_request.rs
Labels: automerge, v1.6

#16244 Validator monitor now displays the max retransmit slot
  validator/src/dashboard.rs
Labels: v1.6

#16249 security policy: Add out-of-scope section
  SECURITY.md
Labels: v1.5, v1.6

#16248 Minor cleanup for accounts-cluster-bench
  accounts-cluster-bench/src/main.rs
Labels: automerge, v1.6

#16256 Fix BPF ELF layout
  sdk/bpf/rust/bpf.ld
  sdk/bpf/scripts/dump.sh
Labels: automerge, v1.6

#16267 chore: update doc comments
  web3.js/src/connection.ts
  web3.js/src/instruction.ts
  web3.js/src/message.ts
  web3.js/src/secp256k1-program.ts
  web3.js/src/stake-program.ts
  web3.js/src/system-program.ts
  web3.js/src/transaction.ts
  web3.js/src/validator-info.ts
Labels: automerge

#16279 Update overview.md
  docs/src/developing/programming-model/overview.md
Labels: v1.6

#16282 Use more performant copy
  programs/bpf_loader/src/syscalls.rs
Labels: v1.6
