Repository solana-labs/solana, pull requests merged in 2021-08, with the labels that each got.

#19004 Updating Phantom description, removing invite code
  docs/src/wallet-guide/web-wallets.md
Labels: community

#18981 Feature disable fees sysvar
  program-test/tests/sysvar.rs
  programs/bpf/rust/sysvar/src/lib.rs
  programs/bpf/rust/sysvar/tests/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  sdk/program/src/program_stubs.rs
  sdk/src/feature_set.rs
Labels: automerge

#19007 v1.7: Fix broken test validator
  validator/src/bin/solana-test-validator.rs
Labels: community

#19015 Fix master CI stable-bpf, remove unused import
  programs/bpf/rust/sysvar/tests/lib.rs
Labels: automerge

#19016 Exit stable-bpf CI runs before localnet-sanity
  ci/test-stable.sh
Labels: automerge, v1.7

#19023 Bump bpf-tools to v1.14
  programs/bpf/tests/programs.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#18997 move package_snapshots to AccountsPackagePre ctors
  core/tests/snapshots.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
Labels: community

#19047 bump recommended maps/nofiles
  ci/setup-new-buildkite-agent/setup-buildkite.sh
  ci/setup-new-buildkite-agent/setup-limits.sh
  docs/src/running-validator/validator-start.md
  sdk/docker-solana/README.md
  sys-tuner/src/main.rs
Labels: v1.7

#19041 Handle 0-lamport account in index generation
  runtime/src/accounts_index.rs
Labels: automerge

#19021 Add more API documentation for Rust RpcClient
  client/src/mock_sender.rs
  client/src/rpc_client.rs
  sdk/src/transaction.rs
Labels: v1.7, community

#19111 Fix typo
  docs/src/developing/on-chain-programs/developing-rust.md
Labels: community

#19125 Add incinerator to explorer search results
  explorer/src/components/SearchBar.tsx
  explorer/src/utils/tx.ts
Labels: automerge

#19110 Fix deserialization of RPC errors in HttpSender
  client/src/http_sender.rs
  core/tests/rpc.rs
Labels: v1.7, community

#19126 Handle new security advisories
  Cargo.lock
  ci/do-audit.sh
  ledger-tool/Cargo.toml
  programs/bpf/Cargo.lock
  replica-node/Cargo.toml
Labels: automerge, v1.7

#19132 Remove pin-project-lite warning more
  programs/bpf/Cargo.lock
Labels: automerge

#19136 chore: bump time from 0.3.0 to 0.3.1
  Cargo.lock
  rbpf-cli/Cargo.toml
Labels: automerge

#19117 Bump bpf-tools to v1.15
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#19161 Updated transaction fee burn description.
  docs/src/inflation/terminology.md
Labels: v1.7, community

#18441 Improve terminology page
  docs/src/terminology.md
Labels: v1.7, community

#19163 Use last_valid_block_height in services and client apps
  banks-client/src/lib.rs
  banks-interface/src/lib.rs
  banks-server/src/banks_server.rs
  banks-server/src/send_transaction_service.rs
  cli/src/program.rs
  client/src/blockhash_query.rs
  client/src/fees.rs
  client/src/mock_sender.rs
  rpc/src/rpc.rs
  rpc/src/send_transaction_service.rs
  runtime/src/bank.rs
  runtime/src/bank_client.rs
  tokens/src/commands.rs
  tokens/src/db.rs
Labels: v1.7

#19209 Explorer: price can be unexpectedly missing even under Coingecko success
  explorer/src/components/account/TokenAccountSection.tsx
Labels: automerge

#19208 Bump tonic-build for build-proto
  storage-bigtable/build-proto/Cargo.toml
Labels: automerge

#19213 fixup! Handle cleaning of zero-lamport accounts w.r.t. Incremental Sn…
  runtime/src/snapshot_utils.rs
Labels: automerge

#19235 Add AsRef<AccountInfo> for AccountInfo
  sdk/program/src/account_info.rs
Labels: v1.7, community

#19240 Revert `TestValidatorGenesis::start()` to v1.7.8 signature; add `TestValidatorGenesis::start_with_socket_addr_space()`
  core/src/test_validator.rs
Labels: automerge, v1.7

#19232 Fix memoverlap check
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
Labels: v1.7

#19267 Expose genesis block time via rpc
  rpc/src/rpc.rs
  runtime/src/bank.rs
Labels: v1.7

#19270 RPC: add option to exclude accounts from get_supply
  client/src/rpc_config.rs
  docs/src/developing/clients/jsonrpc-api.md
  rpc/src/rpc.rs
Labels: automerge

#19276 Update block max cost limit to fix performance regession
  ledger/src/block_cost_limits.rs
Labels: automerge

#19290 Plumb accounts-db-skip-shrink through testnet scripts
  multinode-demo/bootstrap-validator.sh
  multinode-demo/validator.sh
  net/net.sh
Labels: v1.7

#19298 Enable booting testnet validators without tower required
  multinode-demo/bootstrap-validator.sh
  multinode-demo/validator.sh
  net/net.sh
Labels: v1.7

#19305 ci: pin patched solana crates version for downstream project builds
  scripts/build-downstream-projects.sh
Labels: automerge

#19321 nit: fix case
  sdk/src/feature_set.rs
Labels: v1.7

#19307 Fix null case in getMultipleAccountsInfo
  web3.js/src/connection.ts
Labels: community

#19308 stake: Remove v2 program references
  cli/src/cluster_query.rs
  cli/src/stake.rs
  ledger-tool/src/main.rs
  program-test/tests/warp.rs
  programs/stake/src/stake_state.rs
  rpc/src/rpc.rs
  runtime/src/bank.rs
  runtime/src/stakes.rs
  runtime/tests/stake.rs
  sdk/program/src/stake/state.rs
  sdk/src/feature_set.rs
Labels: v1.7

#19330 Add note about ASK keyword to paper wallet doc
  docs/src/wallet-guide/paper-wallet.md
Labels: v1.7, community

#19242 bug: `sysvar::Instructions` is not owned by `Sysvar1111111111111111111111111111111111111`
  programs/bpf/rust/sysvar/src/lib.rs
  runtime/src/accounts.rs
  sdk/src/feature_set.rs
Labels: community

#19341 Add LastFullSnapshotSlot to SnapshotConfig
  core/src/accounts_hash_verifier.rs
  core/src/test_validator.rs
  core/tests/snapshots.rs
  ledger-tool/src/main.rs
  local-cluster/tests/local_cluster.rs
  replica-node/src/replica_node.rs
  replica-node/tests/local_replica.rs
  rpc/src/rpc_service.rs
  runtime/src/snapshot_config.rs
  validator/src/main.rs
Labels: automerge

#19317 Only encode data with <128 bytes in base58
  account-decoder/src/lib.rs
  rpc/src/rpc.rs
  rpc/src/rpc_pubsub.rs
  rpc/src/rpc_subscriptions.rs
Labels: v1.7

#19344 Remove tar-rs audit ignore
  ci/do-audit.sh
Labels: v1.7

#19355 Correct JSON-RPC docs for getSlot
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.7, community

#19361 Update crossbeam-deque to 0.8.1
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: automerge, v1.6, v1.7

#19354 Dedupe SendTransactionService(s)
  Cargo.lock
  Cargo.toml
  banks-client/src/lib.rs
  banks-interface/src/lib.rs
  banks-server/Cargo.toml
  banks-server/src/banks_server.rs
  banks-server/src/lib.rs
  banks-server/src/rpc_banks_service.rs
  banks-server/src/send_transaction_service.rs
  programs/bpf/Cargo.lock
  rpc/Cargo.toml
  rpc/src/cluster_tpu_info.rs
  rpc/src/lib.rs
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
  send-transaction-service/Cargo.toml
  send-transaction-service/src/lib.rs
  send-transaction-service/src/send_transaction_service.rs
  send-transaction-service/src/tpu_info.rs
  transaction-status/Cargo.toml
Labels: automerge

#19381 Update crossbeam-deque to 0.8.1 (#19361)
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: automerge

#19383 Add backward compatibility for new RpcClient methods
  client/src/rpc_client.rs
Labels: automerge

#19382 Update crossbeam-deque to 0.8.1 (#19361)
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: automerge

#19378 Bump crossbeam-epoch
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: v1.6, v1.7

#19236 Document more RpcClient methods
  client/src/mock_sender.rs
  client/src/rpc_client.rs
Labels: v1.7, community

#19405 Preserve pre-existing vote/stake keypairs for bootstrap validator
  multinode-demo/setup.sh
  net/remote/remote-node.sh
Labels: automerge, v1.7

#19387 Add parameter to allow setting max-retries for SendTransaction rpc
  banks-server/src/banks_server.rs
  client/src/rpc_config.rs
  docs/src/developing/clients/jsonrpc-api.md
  rpc/src/rpc.rs
  send-transaction-service/src/send_transaction_service.rs
Labels: v1.6, v1.7

#19477 Fix slot-to-hours estimation
  core/src/ledger_cleanup_service.rs
Labels: v1.7

#19502 fix typo in calling-between-programs developing documentation
  docs/src/developing/programming-model/calling-between-programs.md
Labels: automerge, v1.7, community

#19499 cargo-build-bpf: allow sdk path to be set by environment variables
  sdk/cargo-build-bpf/src/main.rs
Labels: v1.7, community

#19512 Populate memo in bigtable transaction structs
  storage-bigtable/src/lib.rs
  transaction-status/src/extract_memos.rs
  transaction-status/src/lib.rs
  transaction-status/src/parse_instruction.rs
Labels: v1.7
