Repository solana-labs/solana, pull requests merged in 2021-02, with the labels that each got.

#14943 solana-validator: Add "init" subcommand
  validator/src/main.rs
Labels: v1.5

#14938 More rich runtime logging
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
Labels: v1.5

#14922 Add validator flag to opt in to cpi and logs storage
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/transaction_status_service.rs
  core/src/validator.rs
  ledger/src/blockstore_processor.rs
  multinode-demo/bootstrap-validator.sh
  multinode-demo/validator.sh
  run.sh
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: v1.5

#14974 ledger-tool: Adapt create-snapshot to avoid triggering recent internal bank sanity checks
  ledger-tool/src/main.rs
Labels: v1.4, v1.5

#14979 Parse SPL Memo v3
  Cargo.lock
  programs/bpf/Cargo.lock
  transaction-status/Cargo.toml
  transaction-status/src/parse_instruction.rs
Labels: automerge, v1.4, v1.5

#14972 Inflation Nomination for BL
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#14996 Disable AppendVec warn! for now
  runtime/src/append_vec.rs
Labels: automerge, v1.4, v1.5

#14994 Clean up some old commitment names
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.5

#15004 Add Hackathon banner
  docs/src/pages/index.js
Labels: v1.5

#15010 Allow passing buffer by keypair to cli program deploy
  cli/src/program.rs
Labels: v1.5

#15012 CLI: Surface account query errors
  cli/src/cluster_query.rs
  cli/src/nonce.rs
  cli/src/stake.rs
Labels: v1.4, v1.5

#15014 keygen: Improve messaging around BIP39 passphrase usage
  keygen/src/keygen.rs
Labels: v1.4, v1.5

#14992 Docs: Bump nofiles recommendations to match maps
  ci/setup-new-buildkite-agent/setup-buildkite.sh
  ci/setup-new-buildkite-agent/setup-limits.sh
  docs/src/running-validator/validator-start.md
  ledger/src/blockstore.rs
  sdk/docker-solana/README.md
  web3.js/bin/localnet.sh
Labels: v1.5

#15030 CLI: Move `solana validators` summary to end of output
  cli-output/src/cli_output.rs
Labels: automerge, v1.4, v1.5

#15029 cli: add command to dump the upgradeable program to a file
  cli-output/src/cli_output.rs
  cli/src/program.rs
  cli/tests/program.rs
Labels: v1.5

#14981 Cli: some moniker follow-up
  cli/src/cli.rs
  cli/src/main.rs
Labels: v1.4, v1.5

#15036 Nomination candidate for bunghi
  sdk/src/feature_set.rs
Labels: automerge, v1.4, v1.5

#15040 bump rust-bpf-sysroot to v0.14
  sdk/bpf/scripts/install.sh
Labels: automerge, v1.5

#15046 Don't squash caught errors, please
  ledger/src/blockstore.rs
Labels: automerge, v1.4, v1.5

#14984 cli: `transaction-history -v` now shows the transaction timestamp if available
  cli-output/src/cli_output.rs
  cli-output/src/display.rs
  cli/src/cluster_query.rs
Labels: v1.5

#15006 adds flag to disable duplicate instance check
  core/src/cluster_info.rs
  core/src/gossip_service.rs
  core/src/test_validator.rs
  core/src/validator.rs
  core/tests/gossip.rs
  local-cluster/src/local_cluster.rs
  validator/src/main.rs
Labels: v1.5

#15047 Nomination candidate for buburuza
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#15039 Upgradeable loader max_data_len limit
  programs/bpf_loader/src/lib.rs
  sdk/program/src/bpf_loader_upgradeable.rs
Labels: v1.4, v1.5

#15058 blockstore: Revert hard nofile limit back to 500000
  ledger/src/blockstore.rs
Labels: automerge, v1.5

#15062 Correct stakeconomy::vote::id()
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#15022 Don't reset accounts if the remove_account comes from a clean
  runtime/src/accounts_db.rs
Labels: v1.5

#15060 Fix which shared object the test uses
  programs/bpf/tests/programs.rs
Labels: v1.4, v1.5

#14957 Don't load all accounts into memory for capitalization check
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.5

#15075 Add program deployment docs
  cli-output/src/cli_output.rs
  cli/src/program.rs
  docs/sidebars.js
  docs/src/cli/.usage.md.header
  docs/src/cli/delegate-stake.md
  docs/src/cli/deploy-a-program.md
  docs/src/developing/programming-model/overview.md
Labels: v1.5

#15034 calculate hash from store instead of index
  accounts-bench/src/main.rs
  core/src/accounts_hash_verifier.rs
  core/src/snapshot_packager_service.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  download-utils/src/lib.rs
  local-cluster/tests/local_cluster.rs
  runtime/Cargo.toml
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: v1.5

#15085 fix merge conflict
  runtime/src/accounts_db.rs
Labels: v1.5

#15079 Nomination candidate for p2pvalidator
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#15083 Inflation Nomination for Diman
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#15078 Add ref count from storage to index debug
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.5

#15088 borrow storages
  runtime/src/accounts_db.rs
  runtime/src/snapshot_utils.rs
Labels: v1.5

#15099 Enable inflation candidate for RockX
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#15098 Add LowFeeValidation Nomination
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#14987 Fix pubkey refcount for shrink + clean
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.5

#15080 Generate keypair file for c program deployment
  ci/test-stable.sh
  sdk/bpf/c/bpf.mk
Labels: v1.5

#15109 deploy doc updates
  docs/sidebars.js
  docs/src/cli/deploy-a-program.md
Labels: v1.5

#15087 Move timer
  runtime/src/snapshot_utils.rs
Labels: v1.5

#15096 remove unused arg from function
  runtime/src/accounts_db.rs
Labels: v1.5

#15113 nit: cleanup feature status display
  ci/test-bench.sh
  cli/src/feature.rs
Labels: v1.5

#15105 Inflation Nomination for sotcsa
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#15081 Warn lastValidSlot with some terminology tweaks
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/integrations/exchange.md
  docs/src/terminology.md
Labels: v1.5

#15121 feature_set: Sort inflation candidates alphabetically
  sdk/src/feature_set.rs
Labels: automerge, v1.4, v1.5

#15142 Add w3m's inflation pubkeys
  sdk/src/feature_set.rs
Labels: v1.4, v1.5

#15097 sentinel value for zero lamport accounts in hash scanning
  runtime/src/accounts_db.rs
Labels: v1.5

#15116 Add cli deploy tests
  cli-output/src/cli_output.rs
  cli/src/program.rs
  cli/tests/program.rs
Labels: v1.5

#15149 use thread pool for non-index hash calculations
  core/src/accounts_hash_verifier.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  ledger-tool/src/main.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/snapshot_utils.rs
Labels: automerge, v1.5

#15104 change store account scan to not use dashmap
  runtime/src/accounts_db.rs
Labels: v1.5

#15158 Only publish release-tag docs on beta channel
  docs/build.sh
Labels: v1.4, v1.5

#15118 Add |solana-validator monitor| subcommand
  Cargo.lock
  validator/Cargo.toml
  validator/src/bin/solana-test-validator.rs
  validator/src/dashboard.rs
  validator/src/lib.rs
  validator/src/main.rs
Labels: v1.5

#14861 Require lockup authority to change withdraw authority on locked stake
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  sdk/src/feature_set.rs
Labels: v1.5

#15177 Add jit and caching args to ledger-tool
  ledger-tool/src/main.rs
Labels: automerge, v1.5

#15173 v1.4: Quash cargo audit failure
  ci/test-checks.sh
Labels: automerge

#15190 Fix ledger-tool typo
  ledger-tool/src/main.rs
Labels: automerge

#15195 Parse upgradeable loader instructions and accounts
  account-decoder/src/lib.rs
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_bpf_loader.rs
  transaction-status/src/parse_bpf_loader.rs
  transaction-status/src/parse_instruction.rs
Labels: v1.4, v1.5

#15203 Complete --rpc-pubsub-max-in-buffer-capacity/--rpc-pubsub-max-out-buffer-capacity plumbing
  core/src/rpc_pubsub_service.rs
Labels: automerge

#15189 use index version of calculating hash
  runtime/src/accounts_background_service.rs
Labels: v1.5

#15216 solana-test-validator now uses the BPF JIT by default, `--no-bpf-jit` to disable
  core/src/test_validator.rs
  validator/src/bin/solana-test-validator.rs
Labels: automerge, v1.5

#15218 v1.5: solana-test-validator now uses the BPF JIT by default, `--no-bpf-jit` to disable
  core/src/test_validator.rs
  validator/src/bin/solana-test-validator.rs
Labels: automerge

#15204 Warp timestamp and extend max-allowable-drift for accommodate slow blocks
  core/src/cache_block_time_service.rs
  docs/src/developing/clients/jsonrpc-api.md
  ledger/src/blockstore.rs
  runtime/src/bank.rs
  runtime/src/bank_forks.rs
  sdk/src/feature_set.rs
  sdk/src/stake_weighted_timestamp.rs
Labels: v1.4, v1.5

#15219 Use spl-token-mint secondary index for relevant getProgramAccounts requests
  core/src/rpc.rs
Labels: v1.4, v1.5

#15202 Specify Custom VM Type
  net/gce.sh
Labels: v1.5

#15254 Match BPF instruction reporting to dump file
  programs/bpf_loader/src/bpf_verifier.rs
Labels: automerge, v1.5

#15247 Clean up mainnet-beta inflation candidate features
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.5

#15252 Fix flaky test test_concurrent_snapshot_packaging
  core/tests/snapshots.rs
Labels: v1.5

#15280 add jwash authorized key
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#15279 Add per-byte logging cost
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.5

#15292 stake-o-matic: Log validator root slot
  stake-o-matic/src/main.rs
Labels: automerge

#15301 Upgrade to SPL Token 3.1.0 program binary
  fetch-spl.sh
  program-test/src/programs.rs
  program-test/src/programs/spl_token-2.0.6.so
  program-test/src/programs/spl_token-3.1.0.so
Labels: automerge, v1.5

#15212 Rework spl_token_v2_self_transfer_fix to avoid any SPL Token downtime
  runtime/src/bank.rs
  runtime/src/inline_spl_token_v2_0.rs
Labels: automerge, v1.4, v1.5

#15308 Stake program update (v1.5)
  programs/stake/src/stake_state.rs
Labels: automerge

#15309 Stake program update (v1.4)
  programs/stake/src/stake_state.rs
Labels: automerge

#15299 fix: default preflightCommitment to Connection.commitment when sending tx
  web3.js/src/connection.js
  web3.js/test/connection.test.js
Labels: automerge

#15313 sdk: sanitize `Hash` base58 input
  sdk/program/src/hash.rs
Labels: automerge, v1.4, v1.5

#15319 Log if unsanitary transactions are read from blockstore
  ledger/src/blockstore.rs
Labels: automerge, v1.4, v1.5

#15291 Track RecycleStore basic stats with needed refactor
  runtime/src/accounts_db.rs
Labels: v1.5

#15334 rbpf-v0.2.5
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
Labels: v1.5

#15316 stake: add lamports overflow test for withdraw
  programs/stake/src/stake_state.rs
Labels: v1.4, v1.5

#15341 Bump rand_core to 0.6.2
  Cargo.lock
  core/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf_loader/Cargo.toml
  programs/config/Cargo.toml
  sdk/Cargo.toml
  storage-bigtable/Cargo.toml
Labels: automerge

#15342 Bump rand_core to 0.6.2
  programs/bpf/Cargo.lock
  programs/config/Cargo.toml
Labels: automerge

#15349 docs: Fix typo in account docs
  docs/src/developing/programming-model/accounts.md
Labels: v1.5

#15250 assert 2 items in stores don't have same slot and version with different values
  runtime/src/accounts_db.rs
Labels: automerge

#15350 add validator flag no-accounts-db-index-hashing
  core/src/tvu.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  runtime/src/accounts_background_service.rs
  validator/src/main.rs
Labels: automerge

#15353 Move hash code
  merkle-root-bench/src/main.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_hash.rs
  runtime/src/lib.rs
Labels: automerge

#15347 cli: Speed up program deploys
  cli/src/program.rs
  cli/tests/program.rs
Labels: v1.4, v1.5

#15358 Add --force arg for bigtable upload
  core/src/bigtable_upload_service.rs
  ledger-tool/src/bigtable.rs
  ledger/src/bigtable_upload.rs
Labels: v1.4, v1.5

#15363 Clean & check stake
  programs/stake/src/stake_state.rs
Labels: automerge

#15339 docs: Remove references to "create_address_with_seed"
  docs/src/developing/programming-model/calling-between-programs.md
  programs/stake/src/stake_instruction.rs
  sdk/program/src/system_instruction.rs
Labels: v1.5

#15376 Adapt to fs_extra 1.2.0
  Cargo.lock
  core/Cargo.toml
  ledger/Cargo.toml
  local-cluster/Cargo.toml
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/serde_snapshot.rs
Labels: v1.5

#15382 Return blockstore error if previous_blockhash cannot be determined
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  ledger/src/bigtable_upload.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
Labels: automerge, v1.5

#15383 Add lamports overflow test for nonce withdraw
  sdk/src/nonce_keyed_account.rs
Labels: automerge, v1.5

#15290 sdk: Add Borsh support for types and utilities
  Cargo.lock
  banks-client/Cargo.toml
  banks-client/src/lib.rs
  program-test/src/lib.rs
  programs/bpf/Cargo.lock
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
  sdk/program/Cargo.toml
  sdk/program/src/borsh.rs
  sdk/program/src/hash.rs
  sdk/program/src/instruction.rs
  sdk/program/src/lib.rs
  sdk/program/src/program_error.rs
  sdk/program/src/pubkey.rs
  storage-proto/proto/solana.storage.transaction_by_addr.rs
  storage-proto/src/convert.rs
Labels: v1.5

#15421 Cli: send program deploy txs to up to 2 leaders
  cli/src/program.rs
  cli/src/send_tpu.rs
Labels: v1.5

#15423 explorer: add error message to copy component
  explorer/src/components/common/Address.tsx
  explorer/src/components/common/Copyable.tsx
  explorer/src/components/common/Signature.tsx
  explorer/src/components/common/Slot.tsx
  explorer/src/components/instruction/system/AllocateWithSeedDetailsCard.tsx
  explorer/src/components/instruction/system/AssignWithSeedDetailsCard.tsx
  explorer/src/components/instruction/system/CreateWithSeedDetailsCard.tsx
  explorer/src/components/instruction/system/TransferWithSeedDetailsCard.tsx
  explorer/src/scss/_solana.scss
Labels: automerge

#15425 Load memo v2 into genesis for test validator
  explorer/src/utils/tx.ts
  fetch-spl.sh
  program-test/src/programs.rs
  program-test/src/programs/spl_memo-3.0.0.so
Labels: v1.5

#15429 Bump SPL token version to v3.1.0
  Cargo.lock
  account-decoder/Cargo.toml
  core/Cargo.toml
  programs/bpf/Cargo.lock
  tokens/Cargo.toml
  transaction-status/Cargo.toml
  transaction-status/src/parse_token.rs
Labels: automerge, v1.5

#15427 cargo-build-bpf: Remove unix path separators
  sdk/cargo-build-bpf/src/main.rs
Labels: v1.5

#15438 explorer: prevent large slot number input stemming from hex strings
  explorer/src/pages/BlockDetailsPage.tsx
Labels: automerge

#15442 explorer: block query should be strictly integers
  explorer/src/pages/BlockDetailsPage.tsx
Labels: automerge

#15418 cli: improve deploy resume interface
  cli/src/program.rs
  docs/src/cli/deploy-a-program.md
Labels: v1.5

#15451 watchtower: Prevent u64 overflow when calculating current stake percentage
  watchtower/src/main.rs
Labels: v1.5

#15456 RPC: Improve snapshot path sanitization
  Cargo.lock
  core/Cargo.toml
  core/src/rpc_service.rs
Labels: v1.5

#15458 Print original error from accounts dir remove
  core/src/validator.rs
Labels: v1.5

#15467 Fix solana feature status stake % overflow
  cli/src/feature.rs
Labels: v1.5

#15471 Update uiAmount type in docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.5

#15478 Transition config program over to ic_msg() logging
  programs/config/src/config_processor.rs
Labels: v1.5

#15493 Remove limit on program size related to feature cleanup
  programs/bpf_loader/src/bpf_verifier.rs
Labels: automerge

#15492 Count if optimistically confirmed slot is already rooted
  core/src/optimistically_confirmed_bank_tracker.rs
Labels: automerge, v1.5

#15499 explorer: detect if localstorage is available
  explorer/src/components/ClusterModal.tsx
  explorer/src/providers/cluster.tsx
  explorer/src/utils/index.tsx
Labels: automerge

#15505 explorer: add fetch polyfill and clean up / message change
  explorer/package-lock.json
  explorer/package.json
  explorer/src/pages/AccountDetailsPage.tsx
  explorer/src/providers/accounts/flagged-accounts.tsx
Labels: automerge

#15501 gracefully handle vote account without authorized voter
  runtime/src/bank.rs
  runtime/src/epoch_stakes.rs
Labels: v1.5

#15506 Fix received notifications for gossip signature subscriptions
  core/src/rpc_pubsub.rs
  core/src/rpc_subscriptions.rs
Labels: v1.5

#15503 Check vote account initialization
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/bank.rs
  runtime/src/stakes.rs
  sdk/src/feature_set.rs
Labels: v1.5

#15516 RPC: Speed up getLeaderSchedule
  core/src/rpc.rs
Labels: v1.5

#15521 explorer: introduce vote instruction card
  explorer/src/components/instruction/vote/VoteDetailsCard.tsx
  explorer/src/components/instruction/vote/types.ts
  explorer/src/components/transaction/InstructionsSection.tsx
  explorer/src/components/transaction/ProgramLogSection.tsx
  explorer/src/pages/TransactionDetailsPage.tsx
Labels: automerge

#15523 explorer: add program to vote and memo instruction card
  explorer/src/components/instruction/MemoDetailsCard.tsx
  explorer/src/components/instruction/vote/VoteDetailsCard.tsx
Labels: automerge

#15524 Implement OutputFormat for block in Cli and ledger-tool bigtable
  cli-output/src/cli_output.rs
  cli-output/src/display.rs
  cli/src/cluster_query.rs
  ledger-tool/src/bigtable.rs
  ledger-tool/src/main.rs
Labels: v1.5

#15525 Ubuntu 20.04 instead of 18.04
  net/net.sh
  net/scripts/gce-provider.sh
Labels: automerge, v1.5

#15513 Introduce ttl eviction for RecycleStore
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: v1.5

#15535 Revert "v1.5: Make UiTokenAmount::ui_amount a String (#15447)"
  account-decoder/src/lib.rs
  account-decoder/src/parse_token.rs
  cli-output/src/cli_output.rs
  core/src/rpc.rs
  scripts/build-downstream-projects.sh
  storage-proto/proto/solana.storage.confirmed_block.rs
  storage-proto/src/confirmed_block.proto
  storage-proto/src/convert.rs
  tokens/src/commands.rs
  tokens/src/spl_token.rs
  transaction-status/src/parse_token.rs
Labels: automerge

#15528 Implement OutputFormat for confirm in Cli and ledger-tool bigtable
  cli-output/src/cli_output.rs
  cli-output/src/display.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  ledger-tool/src/bigtable.rs
  ledger-tool/src/main.rs
  programs/bpf/tests/programs.rs
Labels: v1.5

#15542 Revert "Make UiTokenAmount::ui_amount a String"
  account-decoder/src/lib.rs
  account-decoder/src/parse_token.rs
  cli-output/src/cli_output.rs
  core/src/rpc.rs
  scripts/build-downstream-projects.sh
  storage-proto/proto/solana.storage.confirmed_block.rs
  storage-proto/src/confirmed_block.proto
  storage-proto/src/convert.rs
  tokens/src/commands.rs
  tokens/src/spl_token.rs
  transaction-status/src/parse_token.rs
Labels: automerge

#15541 net: Log branch and commit for locally built testnet
  net/net.sh
Labels: v1.5

#15532 Fix root scan in ledger tool
  ledger-tool/src/main.rs
Labels: v1.5

#15552 fix: explorer vote card has incorrect timestamp conversion
  explorer/src/components/instruction/vote/VoteDetailsCard.tsx
Labels: automerge

#15562 feat: standardize timestamps throughout explorer
  explorer/src/components/account/SysvarAccountSection.tsx
  explorer/src/components/account/VoteAccountSection.tsx
  explorer/src/components/instruction/stake/InitializeDetailsCard.tsx
  explorer/src/components/instruction/vote/VoteDetailsCard.tsx
  explorer/src/pages/TransactionDetailsPage.tsx
Labels: automerge

#15495 check program owners
  programs/config/src/config_processor.rs
  programs/stake/src/stake_instruction.rs
  programs/vest/src/vest_processor.rs
  programs/vote/src/vote_instruction.rs
  runtime/src/bank.rs
  sdk/program/src/instruction.rs
  sdk/src/feature_set.rs
  storage-proto/proto/solana.storage.transaction_by_addr.rs
  storage-proto/src/convert.rs
  storage-proto/src/transaction_by_addr.proto
Labels: automerge, v1.5

#15567 ledger-tool: Trivialize creating a snapshot at the current root
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
Labels: v1.5

#15534 Fix finalize_dead_slot_removal() of cached slots decrementing refcount
  runtime/src/accounts_db.rs
Labels: v1.5

#15555 CLI: Support querying FeeCalculator for a specific blockhash
  cli-output/src/cli_output.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: v1.5
