Repository solana-labs/solana, pull requests merged in 2021-04, with the labels that each got.

#16288 Rpc: fix getConfirmedTransaction slot
  core/src/rpc.rs
  ledger/src/blockstore.rs
Labels: v1.5, v1.6

#16281 Rpc: enable getConfirmedSignaturesForAddress2 to return confirmed (not yet finalized) data
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  ledger/src/blockstore.rs
Labels: automerge, v1.5, v1.6

#16283 nit: fix variable names
  cli/src/cli.rs
  cli/src/program.rs
Labels: v1.6

#16318 Parse SPL associated-token-account instructions
  Cargo.lock
  programs/bpf/Cargo.lock
  transaction-status/Cargo.toml
  transaction-status/src/lib.rs
  transaction-status/src/parse_associated_token.rs
  transaction-status/src/parse_instruction.rs
Labels: automerge, v1.5, v1.6

#16327 Cleanup use
  Cargo.lock
  program-test/Cargo.toml
  program-test/src/lib.rs
  program-test/src/programs.rs
  program-test/tests/cpi.rs
  program-test/tests/fuzz.rs
  program-test/tests/warp.rs
  programs/bpf_loader/src/lib.rs
Labels: v1.6

#16330 Add cluster state verifier logging
  core/src/cluster_slot_state_verifier.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/replay_stage.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
Labels: v1.6

#16333 validator: wait-for-restart-window now indicates how far away the next restart window is
  validator/src/main.rs
Labels: v1.6

#16340 Wait for 90 percent of stake before starting
  core/src/validator.rs
Labels: v1.5, v1.6

#16331 Bump bpf-tools to version v1.5
  programs/bpf/tests/programs.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.6

#16349 Remove unprocessed transactions from log notifications
  runtime/src/bank.rs
Labels: v1.5, v1.6

#16351 `solana-validator wait-for-restart-window` works again for unstaked nodes
  validator/src/main.rs
Labels: automerge, v1.6

#16357 Fixup AncestorIterator method
  ledger/src/blockstore.rs
Labels: automerge, v1.5, v1.6

#16362 Only get Blockstore::last_root once
  ledger/src/blockstore.rs
Labels: automerge, v1.5

#16364 solana-test-validator: Reduce test-validator ledger size
  core/src/ledger_cleanup_service.rs
  core/src/test_validator.rs
Labels: v1.6

#16377 Adjust tokio version to just "1"
  banks-client/Cargo.toml
  banks-interface/Cargo.toml
  banks-server/Cargo.toml
  core/Cargo.toml
  faucet/Cargo.toml
  ledger-tool/Cargo.toml
  ledger/Cargo.toml
  net-utils/Cargo.toml
  program-test/Cargo.toml
Labels: automerge, v1.6

#16291 issue #10831: added --with-memo option to all cli commands that submit
  Cargo.lock
  clap-utils/src/lib.rs
  clap-utils/src/memo.rs
  cli-output/Cargo.toml
  cli-output/src/display.rs
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/lib.rs
  cli/src/memo.rs
  cli/src/nonce.rs
  cli/src/stake.rs
  cli/src/vote.rs
  cli/tests/nonce.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  docs/src/developing/programming-model/transactions.md
  programs/bpf/Cargo.lock
  transaction-status/Cargo.toml
Labels: automerge, v1.5, v1.6

#16388 validator: Use a const for wait for supermajority threshold
  core/src/validator.rs
Labels: v1.5, v1.6

#16385 RpcClient no longer panics in a tokio multi-threaded runtime
  Cargo.lock
  client/Cargo.toml
  client/src/http_sender.rs
  client/src/rpc_client.rs
  programs/bpf/Cargo.lock
Labels: v1.6

#16389 Cluster info shred spies
  core/src/cluster_info.rs
Labels: automerge, v1.5, v1.6

#16384 Use spl-memo v3.0.1
  Cargo.lock
  programs/bpf/Cargo.lock
  transaction-status/Cargo.toml
  transaction-status/src/parse_instruction.rs
Labels: automerge, v1.6

#16396 Remove wallclock throttle from BankingStage tests
  core/src/banking_stage.rs
  core/src/poh_service.rs
Labels: v1.5, v1.6

#16381 Faucet: repurpose cap and slice args to apply to single IPs
  Cargo.lock
  cli/src/cli.rs
  cli/tests/nonce.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  client/Cargo.toml
  client/src/client_error.rs
  faucet/Cargo.toml
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
  faucet/src/faucet_mock.rs
  programs/bpf/Cargo.lock
Labels: automerge, v1.6

#16278 Rpc: introduce get_inflation_reward rpc call
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  client/src/rpc_request.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.5, v1.6

#16411 docs: Add validator SOL reqs
  docs/src/running-validator/validator-reqs.md
Labels: automerge, v1.6

#16360 Speed up net.sh builds
  cargo
  ci/do-audit.sh
  ci/test-checks.sh
  net/net.sh
  scripts/cargo-install-all.sh
Labels: v1.5, v1.6

#16418 docs: Validator SOL reqs followup
  docs/src/running-validator/validator-reqs.md
Labels: v1.6

#16417 CLI: Fix `rent` panic
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: v1.5, v1.6

#16428 CI: Let `cargo-install-all.sh` resolve stable
  ci/publish-tarball.sh
Labels: automerge, v1.5, v1.6

#16408 Cli: use get_inflation_rewards and limit epochs queried
  clap-utils/src/input_validators.rs
  cli-output/src/cli_output.rs
  cli/src/cli.rs
  cli/src/inflation.rs
  cli/src/stake.rs
  cli/src/vote.rs
  client/src/rpc_config.rs
  core/src/rpc.rs
Labels: v1.5, v1.6

#16402 [easy, cleanup] Simplify some pattern-matches
  accounts-cluster-bench/src/main.rs
  cli/src/program.rs
  client/src/nonce_utils.rs
  core/src/cluster_slots.rs
  core/src/crds.rs
  core/src/duplicate_shred.rs
  core/src/rpc.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/leader_schedule_cache.rs
  net-utils/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/accounts_hash.rs
  runtime/src/message_processor.rs
  sdk/program/src/instruction.rs
  storage-bigtable/src/bigtable.rs
  storage-proto/src/convert.rs
  tokens/src/arg_parser.rs
Labels: v1.5, v1.6

#16460 Rpc: populate block-time for confirmed transactions
  core/src/rpc.rs
Labels: automerge, v1.5, v1.6

#16421 Track gossip vote updates per hash for replay stage
  core/src/cluster_info_vote_listener.rs
  core/src/consensus.rs
  core/src/replay_stage.rs
  core/src/rpc_pubsub.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
Labels: v1.6

#16469 Fix account copy step in program test message processor
  program-test/src/lib.rs
Labels: automerge, v1.5, v1.6

#16401 docker: Expose all ports in Dockerfile, add back localnet.sh
  docs/src/running-validator/validator-reqs.md
  sdk/docker-solana/Dockerfile
Labels: v1.6

#16478 validator: Fix up App formatting
  validator/src/main.rs
Labels: v1.6

#16266 Allow fork choice to support multiple versions of a slot
  core/src/cluster_slot_state_verifier.rs
  core/src/consensus.rs
  core/src/fork_choice.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/progress_map.rs
  core/src/repair_weight.rs
  core/src/repair_weighted_traversal.rs
  core/src/replay_stage.rs
  core/src/tree_diff.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/bank.rs
  runtime/src/bank_forks.rs
Labels: v1.6

#16487 Faucet: Add address_cache and exclude loopback from ip limit
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
Labels: automerge

#16491 v1.6: Add address_cache and exclude loopback from ip limit
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
Labels: automerge

#16492 validator: Add authorized-voter add/remove-all commands
  core/src/replay_stage.rs
  core/src/test_validator.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/local_cluster.rs
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: v1.6

#16422 Return sysvars via syscalls
  Cargo.lock
  program-test/Cargo.toml
  program-test/src/lib.rs
  program-test/tests/sysvar.rs
  programs/bpf/Cargo.lock
  programs/bpf/rust/sysvar/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/program/src/clock.rs
  sdk/program/src/program_stubs.rs
  sdk/program/src/sysvar/clock.rs
  sdk/program/src/sysvar/epoch_schedule.rs
  sdk/program/src/sysvar/fees.rs
  sdk/program/src/sysvar/mod.rs
  sdk/program/src/sysvar/rent.rs
  sdk/src/feature_set.rs
  sdk/src/process_instruction.rs
Labels: v1.6

#16499 validator: canonicalize authorized voter filepath
  validator/src/main.rs
Labels: v1.6

#16495 Add llvm feature option to compile for Solana BPF target
  programs/bpf/tests/programs.rs
  sdk/bpf/c/bpf.mk
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#16506 Remove blake3 from bpf program dependencies
  core/Cargo.toml
  runtime/Cargo.toml
  sdk/program/Cargo.toml
  sdk/program/src/message.rs
Labels: automerge, v1.6

#16516 Deprecate RpcClient methods, RpcRequest variants
  cli/src/cluster_query.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
Labels: v1.5, v1.6

#16515 bump solana_rbpf from 0.2.5 to 0.2.7
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/syscalls.rs
Labels: v1.5, v1.6

#16526 Bump scripts to current commitment variants
  ci/run-sanity.sh
  scripts/wallet-sanity.sh
Labels: automerge, v1.6

#16535 fix cross-merge
  programs/bpf_loader/src/syscalls.rs
Labels: automerge

#16537 solana-test-validator: Add --faucet-port option
  validator/src/bin/solana-test-validator.rs
Labels: v1.6

#16539 Correct gossip hostname
  docs/src/running-validator/validator-start.md
Labels: v1.6

#16503 Fix channel panic in tests
  core/src/banking_stage.rs
  core/src/poh_recorder.rs
  core/src/poh_service.rs
  core/src/send_transaction_service.rs
  core/src/validator.rs
Labels: v1.6

#16530 Fix sanity test flakiness by prebuilding binaries
  ci/localnet-sanity.sh
  frozen-abi/src/lib.rs
  multinode-demo/common.sh
Labels: v1.5, v1.6

#16553 dl-utils: use `wide_msg` everywhere for truncation on narrow terminals
  download-utils/src/lib.rs
  install/src/command.rs
Labels: automerge, v1.5, v1.6

#16558 fix transaction spelling
  docs/src/running-validator/validator-reqs.md
Labels: v1.6

#16561 docs: freshen and clarify rent-exempt dev description
  docs/src/developing/programming-model/accounts.md
Labels: automerge, v1.6

#16557 Cli: move airdrop to rpc requests
  cli/src/cli.rs
  cli/tests/nonce.rs
  cli/tests/program.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  client/src/mock_sender.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/src/rpc.rs
  core/src/test_validator.rs
  core/tests/client.rs
  core/tests/rpc.rs
  tokens/src/commands.rs
  tokens/tests/commands.rs
Labels: automerge, v1.5, v1.6

#16565 v1.5: faucet backports
  Cargo.lock
  cli/src/cli.rs
  cli/tests/nonce.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  client/Cargo.toml
  client/src/client_error.rs
  faucet/Cargo.toml
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
  faucet/src/faucet_mock.rs
  programs/bpf/Cargo.lock
Labels: automerge

#16572 docs: Fix typo in program deploy instructions
  docs/src/cli/deploy-a-program.md
Labels: automerge, v1.5, v1.6

#16577 Rotate CODECOV_TOKEN
  .buildkite/env/secrets.ejson
Labels: automerge, v1.5, v1.6

#16584 Don't parse uninitialized system/nonce accounts
  account-decoder/src/parse_nonce.rs
Labels: v1.5, v1.6

#16534 web3.js: deprecate getTotalSupply and getConfirmedSignaturesForAddress
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge

#16591 Fix instruction validation for parsed memo instructions
  explorer/src/components/account/history/TokenInstructionsCard.tsx
  explorer/src/utils/instruction.ts
Labels: automerge

#16598 Feature-gate hash-based duplicate transaction check
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.5, v1.6

#16603 Move derivation path into sdk
  remote-wallet/src/ledger.rs
  remote-wallet/src/ledger_error.rs
  remote-wallet/src/remote_keypair.rs
  remote-wallet/src/remote_wallet.rs
  sdk/src/derivation_path.rs
  sdk/src/lib.rs
Labels: automerge, v1.5, v1.6

#16616 Documentation typo for langauge
  docs/src/proposals/embedding-move.md
Labels: v1.6

#16611 replay_stage: Remove unnecessary clone
  core/src/replay_stage.rs
Labels: v1.6

#16635 `solana validators` now shows current epoch credits instead of lifetime credits
  cli-output/src/cli_output.rs
Labels: v1.6

#16642 cargo-install-all.sh: on Mac OS X, use greadlink instead of readlink
  scripts/cargo-install-all.sh
Labels: automerge

#16644 `solana validators`: Restore the meaning of "credits" in the JSON output
  cli-output/src/cli_output.rs
Labels: v1.6

#16609 Wrap derivation_path::DerivationPath
  Cargo.lock
  programs/bpf/Cargo.lock
  remote-wallet/src/ledger.rs
  remote-wallet/src/remote_wallet.rs
  sdk/Cargo.toml
  sdk/src/derivation_path.rs
Labels: automerge, v1.5, v1.6

#16652 Remove unwrap
  runtime/src/bank.rs
  sdk/program/src/instruction.rs
  sdk/src/transaction.rs
  storage-proto/proto/solana.storage.transaction_by_addr.rs
  storage-proto/src/convert.rs
Labels: v1.6

#16661 Pin SPL downstream build to 589da55
  scripts/build-downstream-projects.sh
Labels: automerge

#16622 replay_stage: send votes to next leader's TPU instead of our TPU
  core/src/banking_stage.rs
  core/src/cluster_info.rs
  core/src/replay_stage.rs
Labels: v1.6

#16659 RPC: use finalized as default pubsub commitment level
  core/src/rpc_subscriptions.rs
  core/tests/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.5, v1.6

#16670 CLI: Limit `stake-history` output by default
  cli/src/cli.rs
  cli/src/stake.rs
Labels: automerge, v1.5, v1.6

#16590 Enforce host aligned memory for program regions
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/allocator_bump.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
Labels: v1.6

#16662 getVoteAccounts: Limit the length of the `epoch_credits` array
  core/src/rpc.rs
Labels: v1.6

#16696 Add port and gossip options to solana-test-validator
  core/src/cluster_info.rs
  core/src/test_validator.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/lib.rs
  validator/src/main.rs
Labels: automerge, v1.6

#16714 CLI: Make `pay` subcommand a proper alias of `transfer`
  cli/src/cli.rs
Labels: automerge, v1.5, v1.6

#16560 Ingest votes from gossip into fork choice
  core/src/bank_weight_fork_choice.rs
  core/src/cluster_slot_state_verifier.rs
  core/src/consensus.rs
  core/src/fork_choice.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/latest_validator_votes_for_frozen_banks.rs
  core/src/lib.rs
  core/src/replay_stage.rs
  core/src/unfrozen_gossip_verified_vote_hashes.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.6

#16719 verify_pubkey() now takes a ref
  core/src/rpc.rs
Labels: v1.6

#16710 Make metrics tests independent of RUST_LOG environment variable
  metrics/src/counter.rs
Labels: v1.6

#16723 `getLeaderSchedule` now supports filtered results based on validator identity
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  validator/src/main.rs
Labels: v1.6

#16728 Clean up "APR" language around inflation rewards
  cli-output/src/cli_output.rs
  docs/src/developing/clients/jsonrpc-api.md
  sdk/src/genesis_config.rs
Labels: v1.6

#16729 Update secp instruction link in docs
  docs/src/developing/runtime-facilities/programs.md
Labels: v1.6

#16740 explorer: downgrade nodejs version in travis
  .travis.yml
  explorer/.travis.yml
Labels: automerge

#16739 program-test: Add large bootstrap stake for realistic warmups
  Cargo.lock
  program-test/Cargo.toml
  program-test/src/lib.rs
  program-test/tests/warp.rs
Labels: v1.6

#16727 Remove unactivated ristretto syscall
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/ristretto/Cargo.toml
  programs/bpf/rust/ristretto/src/lib.rs
  programs/bpf/rust/ristretto/src/ristretto.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
Labels: v1.5, v1.6

#16749 Rpc: Rework `getLeaderSchedule` options
  client/src/rpc_config.rs
  core/src/rpc.rs
Labels: automerge, v1.6

#16743 Readonlyaccounts
  ledger-tool/src/main.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/rent_collector.rs
  runtime/src/stakes.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/keyed_account.rs
  sdk/src/nonce_keyed_account.rs
Labels: automerge

#16736 Add TPU client for sending txs to the current leader tpu port
  cli/src/cli.rs
  cli/src/lib.rs
  cli/src/program.rs
  cli/src/send_tpu.rs
  client/src/lib.rs
  client/src/mock_sender.rs
  client/src/pubsub_client.rs
  client/src/tpu_client.rs
  core/src/rpc.rs
  core/tests/rpc.rs
Labels: v1.6

#16636 log roots range metric
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: automerge

#16776 Restore text wrapping
  docs/src/developing/on-chain-programs/developing-rust.md
Labels: automerge

#16777 refactor complicated len calculation
  runtime/src/accounts_db.rs
Labels: automerge

#16767 runtime: checked math for Bank::withdraw
  runtime/src/bank.rs
Labels: automerge, v1.5, v1.6

#16750 WritableAccount.add/subtract_lamports
  programs/budget/src/budget_processor.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/program/src/lamports.rs
  sdk/program/src/lib.rs
  sdk/src/account.rs
Labels: automerge

#16781 borsh.rs: get_packed_len() now correctly handles u32/i32 types
  sdk/program/src/borsh.rs
Labels: v1.6

#16782 owner -> owner()
  core/src/non_circulating_supply.rs
  core/src/rpc.rs
  core/src/rpc_subscriptions.rs
  ledger-tool/src/main.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  programs/budget/src/budget_processor.rs
  runtime/src/accounts.rs
  runtime/src/system_instruction_processor.rs
Labels: automerge

#16793 Ignore racy test_load_account_and_purge_race_without_retry
  runtime/src/accounts_db.rs
Labels: automerge

#16789 Show last vote/root behind distance in `solana validators` output
  cli-output/src/cli_output.rs
Labels: automerge, v1.6

#16802 docs: getInflationReward rpc output fields should be in lower camel case
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.5, v1.6

#16783 owner -> owner()
  programs/config/src/config_processor.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/rent_collector.rs
  runtime/src/stakes.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/keyed_account.rs
  sdk/src/nonce_account.rs
Labels: automerge

#16826 cli: Add ALL support to withdraw-stake subcommand
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: v1.6

#16840 Update bpf loader info on native-programs docs
  docs/src/developing/runtime-facilities/programs.md
Labels: automerge, v1.6

#16846 rpc_client: `solana leader-schedule -um` works again
  client/src/rpc_client.rs
Labels: v1.6

#16856 net: Fix limit-ledger-size syntax
  net/net.sh
Labels: automerge, v1.6

#16834 cli: block-production subcommand now uses SlotHistory sysvar when possible
  cli/src/cluster_query.rs
Labels: v1.6

#16855 Add getVoteAccounts RPC method parameter to restrict results to a single vote account
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.6

#16852 RpcClient: Compress account data by default
  client/src/rpc_client.rs
Labels: automerge, v1.6

#16850 Retain alloc'd and updated data in cpi
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/instruction.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/src/feature_set.rs
Labels: v1.6

#16889 Enable multiple payers in accounts-cluster-bench
  accounts-cluster-bench/src/main.rs
Labels: automerge, v1.6

#16891 Add allowed-IP list to faucet
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
Labels: automerge, v1.6

#16883 moves cluster-info metrics to a separate module
  core/src/cluster_info.rs
  core/src/cluster_info_metrics.rs
  core/src/lib.rs
Labels: automerge

#16862 web3: export `is_on_curve()`
  web3.js/src/publickey.ts
  web3.js/test/publickey.test.ts
Labels: automerge

#16881 Tests:AccountSharedData.set_executable()
  programs/bpf_loader/src/lib.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
Labels: automerge

#16735 Retry latest vote if expired
  core/src/banking_stage.rs
  core/src/cluster_info.rs
  core/src/consensus.rs
  core/src/progress_map.rs
  core/src/replay_stage.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.6

#16924 Fixup rpc-endpoints
  docs/src/cluster/rpc-endpoints.md
Labels: automerge, v1.6

#16921 set_lamports()
  programs/stake/src/config.rs
  runtime/src/message_processor.rs
Labels: automerge

#16900 SDK: Factor out pubkey on-curve test to a helper
  sdk/program/src/pubkey.rs
Labels: v1.5, v1.6

#16899 cli: Add skip rate to `solana validators`
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: v1.6

#16933 Refactor SignerSource to expose DerivationPath to other kinds of signers
  Cargo.lock
  clap-utils/Cargo.toml
  clap-utils/src/fee_payer.rs
  clap-utils/src/input_parsers.rs
  clap-utils/src/input_validators.rs
  clap-utils/src/keypair.rs
  clap-utils/src/memo.rs
  clap-utils/src/nonce.rs
  clap-utils/src/offline.rs
  programs/bpf/Cargo.lock
  remote-wallet/src/locator.rs
  remote-wallet/src/remote_keypair.rs
  remote-wallet/src/remote_wallet.rs
  sdk/Cargo.toml
  sdk/src/derivation_path.rs
Labels: v1.5, v1.6

#16918 checked_sub_lamports
  programs/budget/src/budget_processor.rs
Labels: automerge

#16936 Distinguish max replayed and max gossip vote in LatestValidatorVotesForFrozenBanks
  core/src/consensus.rs
  core/src/latest_validator_votes_for_frozen_banks.rs
  core/src/replay_stage.rs
  core/src/unfrozen_gossip_verified_vote_hashes.rs
Labels: v1.6

#16961 docs: fix copy-pasta breaking typo in `getRecentBlockhash` example
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.6

#16976 tests: .lamports -> .lamports()
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  sdk/src/nonce_keyed_account.rs
Labels: automerge
