Repository solana-labs/solana, pull requests merged in 2021-10, with the labels that each got.

#20360 Include rustls-tls feature for tungstenite
  Cargo.lock
  client/Cargo.toml
  programs/bpf/Cargo.lock
Labels: automerge

#20358 Deploy error is buffer is too small
  cli/src/program.rs
  cli/tests/fixtures/build.sh
  cli/tests/fixtures/noop.so
  cli/tests/fixtures/noop_large.so
  cli/tests/program.rs
Labels: automerge, v1.7

#19936 Adds Quarry Protocol programs to the Solana Explorer
  explorer/src/utils/tx.ts
Labels: automerge, community

#20367 Ignore delinquent stake on exit
  validator/src/main.rs
Labels: automerge, v1.7, community

#19934 fix syntax error in bash_profile
  install/src/command.rs
Labels: stale, v1.6, v1.7, community

#20387 Update README.md - fix typo and one grammar fix
  README.md
Labels: community

#20388 Update README.md - fix two typos
  docs/README.md
Labels: community

#20143 Follow up to blockstore test cleanup (#19656)
  ledger/src/blockstore_processor.rs
Labels: stale

#20392 Add struct and convenience methods to track stake activation status
  cli/src/stake.rs
  program-test/tests/warp.rs
  programs/stake/src/stake_state.rs
  rpc/src/rpc.rs
  runtime/src/stakes.rs
  sdk/program/src/stake/state.rs
  sdk/program/src/stake_history.rs
Labels: v1.7

#20417 Staking docs: link to overview
  docs/src/cli/delegate-stake.md
Labels: v1.7, community

#20418 validator: Default --rpc-bind-address to 127.0.0.1 when --private-rpc is provided and --bind-address is not
  validator/src/main.rs
Labels: v1.6, v1.7

#20399 Remove nodejs install
  net/gce.sh
Labels: v1.7

#20009 Adding NFT support to the Explorer
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/account/MetaplexNFTHeader.tsx
  explorer/src/components/account/TokenAccountSection.tsx
  explorer/src/components/common/InfoTooltip.tsx
  explorer/src/metaplex/Art/Art.tsx
  explorer/src/metaplex/Art/useArt.ts
  explorer/src/metaplex/classes.ts
  explorer/src/metaplex/ids.ts
  explorer/src/metaplex/types.ts
  explorer/src/metaplex/utils.ts
  explorer/src/pages/AccountDetailsPage.tsx
  explorer/src/providers/accounts/index.tsx
  explorer/src/providers/accounts/utils/metadataHelpers.ts
  explorer/src/scss/_solana.scss
Labels: community

#20443 AcctIdx: cleanup
  bucket_map/src/bucket.rs
  bucket_map/src/bucket_map.rs
Labels: automerge

#20445 AcctIdx: metric for bucket grow time
  runtime/src/bucket_map_holder_stats.rs
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#20454 AcctIdx: grow data buckets to default size on creation
  bucket_map/src/bucket.rs
  bucket_map/src/bucket_storage.rs
Labels: automerge

#20420 Restore windows release binaries
  .travis.yml
Labels: v1.7

#20432 Optimize stakes cache and rewards at epoch boundaries
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
  runtime/src/stakes.rs
  runtime/src/vote_account.rs
  sdk/src/feature_set.rs
  validator/src/main.rs
Labels: v1.7

#20451 Add transaction count and thread id to stats
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/cost_tracker.rs
  core/src/cost_tracker_stats.rs
  core/src/lib.rs
  ledger-tool/src/main.rs
Labels: v1.7

#20472 Optimize stakes cache and rewards at epoch boundaries (backport #20432)
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
  runtime/src/stakes.rs
  runtime/src/vote_account.rs
  sdk/src/feature_set.rs
  validator/src/main.rs
Labels: automerge

#20465 Fix dos data-type for non-gossip mode
  dos/src/main.rs
Labels: v1.7

#21076 Document next_account_info(s)
  sdk/program/src/account_info.rs
Labels: community, v1.8

#21077 Retain trusted peer snapshot hashes bugfix
  validator/src/bootstrap.rs
Labels: bug
