Repository solana-labs/solana, pull requests merged in 2021-12, with the labels that each got.

#21532 Explorer: Add Metaplex Metadata Name to token addresses
  explorer/src/components/account/OwnedTokensCard.tsx
  explorer/src/components/common/Address.tsx
Labels: community

#21539 Fix typo in system_instruction.rs
  sdk/program/src/system_instruction.rs
Labels: community

#21524 Add missing InstructionError::IllegalOwner conversion
  Cargo.lock
  storage-proto/Cargo.toml
  storage-proto/build.rs
  storage-proto/src/convert.rs
Labels: v1.8

#21502 cli: always print feature version info with status query
  cli/src/feature.rs
Labels: v1.8

#21556 Avoid using unavailable RTLD_NODELETE flag on Android targets
  program-runtime/src/native_loader.rs
Labels: community

#21555 Avoid using unavailable udp_socket optimizations on iOS targets
  net-utils/src/lib.rs
Labels: community

#21558 Don't check x86 features on non-x86 architectures
  perf/src/lib.rs
Labels: community

#21557 Avoid usize overflow for MAXIMUM_APPEND_VEC_FILE_SIZE on 32-bit platforms
  runtime/src/append_vec.rs
Labels: community

#21569 Remove unnecessary Option
  runtime/src/stakes.rs
Labels: automerge

#21575 Ledger-tool: only require ledger dir when necessary
  ledger-tool/src/bigtable.rs
  ledger-tool/src/ledger_path.rs
  ledger-tool/src/main.rs
Labels: v1.8

#21577 Support building solana-program on 32-bit architectures that do not have 64-bit atomics.
  Cargo.lock
  programs/bpf/Cargo.lock
  sdk/program/Cargo.toml
  sdk/program/src/atomic_u64.rs
  sdk/program/src/blake3.rs
  sdk/program/src/hash.rs
  sdk/program/src/keccak.rs
  sdk/program/src/lib.rs
  sdk/program/src/pubkey.rs
Labels: automerge, community

#21568 Remove deprecated slow epoch boundary methods
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  programs/stake/src/stake_state.rs
  runtime/src/bank.rs
  runtime/src/stakes.rs
  validator/src/main.rs
Labels: automerge, v1.8

#21594 Unvendor OpenSSL for Windows to avoid CI troubles with perl.exe
  storage-bigtable/Cargo.toml
Labels: automerge, v1.8

#21596 solana-test-validator no longer limits the size of the genesis archive
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.8

#21583 Add reduce only to mango instruction parsing
  explorer/src/components/instruction/mango/PlacePerpOrderDetailsCard.tsx
  explorer/src/components/instruction/mango/types.ts
Labels: automerge, community

#21567 Remove dependency on `hex`
  Cargo.lock
  programs/bpf/Cargo.lock
  sdk/Cargo.toml
  sdk/program/Cargo.toml
  sdk/program/src/account_info.rs
  sdk/program/src/debug_account_data.rs
  sdk/program/src/lib.rs
  sdk/src/account.rs
Labels: community

#21601 fix distance calculation in get_closest_completion
  core/src/repair_generic_traversal.rs
Labels: v1.9

#21612 Bump RpcClient node versions
  client/src/rpc_client.rs
Labels: automerge, v1.9

#21622 Fix spelling of 'Borsh'
  docs/src/developing/clients/javascript-reference.md
Labels: community, v1.9

#21528 Rework docs for Pubkey::find_program_address and friends
  Cargo.lock
  sdk/program/Cargo.toml
  sdk/program/src/pubkey.rs
Labels: automerge, community, v1.9

#21635 Move transaction error code into new module
  runtime/src/bank.rs
  sdk/src/transaction/error.rs
  sdk/src/transaction/mod.rs
Labels: v1.9

#21639 Reject vote withdraws that create non-rent-exempt accounts
  program-runtime/src/invoke_context.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state/mod.rs
  sdk/src/feature_set.rs
Labels: v1.8, v1.9

#21617 Fixup flaky tests
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.8, v1.9

#21579 Add offline and fee-payer utilities to CLI vote module
  cli/src/cli.rs
  cli/src/vote.rs
  cli/tests/stake.rs
  cli/tests/vote.rs
  docs/src/offline-signing.md
Labels: v1.8, v1.9

#21641 Remove activated feature for filtering invalid stakes from rewards
  runtime/src/bank.rs
Labels: v1.8, v1.9

#21640 Ensure that StakeDelegations and StakeHistory serde
  runtime/src/stake_delegations.rs
  runtime/src/stake_history.rs
Labels: v1.9

#21656 Add option to reclaim accounts-cluster-bench accounts/lamports
  Cargo.lock
  accounts-cluster-bench/Cargo.toml
  accounts-cluster-bench/src/main.rs
Labels: v1.9

#21615 docs: Fix SOL staked formula
  docs/src/implemented-proposals/ed_overview/ed_validation_client_economics/ed_vce_state_validation_protocol_based_rewards.md
Labels: community, v1.9

#21540 Docs: Solflare web/app updates
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/web-wallets.md
Labels: community, v1.9

#21669 Ensure we have keys to activate solidity features
  sdk/src/feature_set.rs
Labels: automerge, v1.8, v1.9

#21672 Bumps solana_rbpf to v0.2.17
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  rbpf-cli/Cargo.toml
Labels: v1.8

#21680 Avoid entropy sources when constructing a solana_program::message::Message.
  sdk/program/src/message/legacy.rs
Labels: community, v1.9

#21700 SDK: Add stdlib.h include to pull in `abort()`
  sdk/bpf/c/inc/sol/assert.h
Labels: v1.8, v1.9

#21707 simulateTransaction now returns the correct error code if accounts are provided as input
  rpc/src/rpc.rs
Labels: v1.8, v1.9

#21654 Add more reporting for invalid stake cache members and prune them
  Cargo.lock
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank.rs
  runtime/src/stakes.rs
  sdk/src/feature_set.rs
Labels: v1.8, v1.9

#21744 Fixed minor issues with the cluster overview docs which had confused some new users
  docs/src/cluster/overview.md
Labels: community, v1.9

#21750 Expand docs for Pubkey::create_program_address
  sdk/program/src/pubkey.rs
Labels: automerge, community, v1.9

#21691 program-runtime: add LogCollector::new_ref_with_limit()
  program-runtime/src/log_collector.rs
Labels: community

#21755 Nits in message-processor
  runtime/src/bank.rs
  runtime/src/message_processor.rs
Labels: v1.8, v1.9

#21738 Add StakesCache struct to abstract away locking
  runtime/src/bank.rs
  runtime/src/serde_snapshot/future.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/stakes.rs
Labels: v1.8, v1.9

#21634 Migrate from address maps to address lookup tables
  accountsdb-plugin-postgres/scripts/create_schema.sql
  accountsdb-plugin-postgres/scripts/drop_schema.sql
  accountsdb-plugin-postgres/src/postgres_client/postgres_client_transaction.rs
  sdk/program/src/message/mod.rs
  sdk/program/src/message/sanitized.rs
  sdk/program/src/message/v0.rs
  sdk/program/src/message/versions/mod.rs
  sdk/program/src/message/versions/v0/loaded.rs
  sdk/program/src/message/versions/v0/mod.rs
  sdk/src/transaction/sanitized.rs
  transaction-status/src/extract_memos.rs
Labels: v1.9

#21763 Move type alias and use it more broadly
  program-runtime/src/invoke_context.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
Labels: v1.9

#21607 Update to Rust 1.57.0
  ci/docker-rust-nightly/Dockerfile
  ci/docker-rust/Dockerfile
  ci/rust-version.sh
Labels: v1.9

#21616 Add address lookup table program
  Cargo.lock
  Cargo.toml
  program-test/src/lib.rs
  programs/address-lookup-table-tests/Cargo.toml
  programs/address-lookup-table-tests/tests/close_lookup_table_ix.rs
  programs/address-lookup-table-tests/tests/common.rs
  programs/address-lookup-table-tests/tests/create_lookup_table_ix.rs
  programs/address-lookup-table-tests/tests/extend_lookup_table_ix.rs
  programs/address-lookup-table-tests/tests/freeze_lookup_table_ix.rs
  programs/address-lookup-table/Cargo.toml
  programs/address-lookup-table/build.rs
  programs/address-lookup-table/src/instruction.rs
  programs/address-lookup-table/src/lib.rs
  programs/address-lookup-table/src/processor.rs
  programs/address-lookup-table/src/state.rs
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank.rs
  runtime/src/builtins.rs
  sdk/program/src/slot_hashes.rs
  sdk/src/account.rs
Labels: v1.9

#21794 Rename Packets to PacketBatch
  banking-bench/src/main.rs
  bench-streamer/src/main.rs
  core/benches/banking_stage.rs
  core/benches/sigverify_stage.rs
  core/src/ancestor_hashes_service.rs
  core/src/banking_stage.rs
  core/src/cluster_info_vote_listener.rs
  core/src/fetch_stage.rs
  core/src/retransmit_stage.rs
  core/src/serve_repair.rs
  core/src/shred_fetch_stage.rs
  core/src/sigverify.rs
  core/src/sigverify_shreds.rs
  core/src/sigverify_stage.rs
  core/src/verified_vote_packets.rs
  core/src/window_service.rs
  entry/src/entry.rs
  gossip/src/cluster_info.rs
  ledger/benches/sigverify_shreds.rs
  ledger/src/sigverify_shreds.rs
  perf/benches/recycler.rs
  perf/benches/sigverify.rs
  perf/src/packet.rs
  perf/src/recycler.rs
  perf/src/sigverify.rs
  streamer/src/packet.rs
  streamer/src/streamer.rs
Labels: v1.8, v1.9

#21752 Remove the 5 integer msg! form
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/call_depth/src/lib.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/rust/iter/src/lib.rs
  programs/bpf/rust/many_args_dep/src/lib.rs
  programs/bpf/rust/param_passing/src/lib.rs
  sdk/program/src/log.rs
  sdk/src/log.rs
Labels: v1.9

#21810 cli: Order displayed feature list by status
  cli/src/feature.rs
Labels: v1.8, v1.9

#21854 Cli: Restore withdraw-from-vote-account ALL behavior
  cli/src/spend_utils.rs
  cli/src/vote.rs
Labels: v1.9

#21858 Fixup RPC docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.9

#21840 Add solana-cli-config link to rust-api.md
  docs/src/developing/clients/rust-api.md
Labels: community, v1.9

#21878 Add missing word "that"
  docs/src/terminology.md
Labels: community, v1.9

#21747 Remove activated feature that checks tx signature len
  rpc/src/rpc.rs
  runtime/src/bank.rs
  sdk/src/transaction/mod.rs
  sdk/src/transaction/sanitized.rs
  sdk/src/transaction/versioned.rs
Labels: v1.9

#21732 Remove activated feature for removing inactive delegations from stakes cache
  runtime/src/bank.rs
  runtime/src/stakes.rs
Labels: v1.8, v1.9

#21880 Bump rbpf to v0.2.19
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/lib.rs
  rbpf-cli/Cargo.toml
  rbpf-cli/src/main.rs
  sdk/src/feature_set.rs
Labels: v1.9

#21890 chore: fix typo in shred.rs
  ledger/src/shred.rs
Labels: community

#21898 Typo
  docs/src/developing/programming-model/runtime.md
Labels: automerge, community

#21871 Fix subtraction overflow
  core/src/ancestor_hashes_service.rs
Labels: v1.9

#21817 Document solana_program::instruction
  sdk/program/Cargo.toml
  sdk/program/src/instruction.rs
Labels: automerge, community, v1.9

#21903 Futures 0.3.18 has been yanked, back off to .17
  ledger/Cargo.toml
Labels: automerge, v1.9

#21911 Update openssl-src package to resolve cargo audit complaint
  Cargo.lock
Labels: v1.9

#21905 Add json support for feature sets; also print output after feature list
  cli/src/feature.rs
Labels: automerge, v1.9

#21896 Add helper crate to generate syscalls.txt
  Cargo.lock
  Cargo.toml
  cargo-build-bpf
  programs/bpf/Cargo.lock
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/gen-syscall-list/Cargo.toml
  programs/bpf_loader/gen-syscall-list/build.rs
  programs/bpf_loader/gen-syscall-list/src/main.rs
  scripts/cargo-install-all.sh
Labels: v1.9

#21902 v1.9: Add helper crate to generate syscalls.txt
  Cargo.lock
  Cargo.toml
  cargo-build-bpf
  programs/bpf/Cargo.lock
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/gen-syscall-list/Cargo.toml
  programs/bpf_loader/gen-syscall-list/build.rs
  programs/bpf_loader/gen-syscall-list/src/main.rs
  scripts/cargo-install-all.sh
Labels: automerge

#21904 Add option `accountsdb-plugin-config` to test-validator
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
Labels: community, v1.9

#21915 Restore solana_validator::test_validator export
  validator/src/bin/solana-test-validator.rs
  validator/src/lib.rs
Labels: v1.9

#21924 Add option `no-accounts-db-caching` to test-validator
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
Labels: community, v1.9

#21944 Fixes the calculation of the compute_meter_consumption
  program-runtime/src/invoke_context.rs
  runtime/src/message_processor.rs
Labels: v1.9

#21955 Update getSignaturesForAddress and getConfirmedSignaturesForAddress2 RPC call description
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, community

#21949 Clean up demote program write lock feature
  cli-output/src/display.rs
  core/src/banking_stage.rs
  core/src/qos_service.rs
  ledger-tool/src/main.rs
  program-runtime/src/invoke_context.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  rpc/src/transaction_status_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/cost_model.rs
  sdk/benches/serialize_instructions.rs
  sdk/program/src/message/legacy.rs
  sdk/program/src/message/sanitized.rs
  sdk/program/src/message/versions/v0/loaded.rs
  sdk/program/src/sysvar/instructions.rs
  sdk/src/transaction/mod.rs
  sdk/src/transaction/sanitized.rs
  transaction-status/src/parse_accounts.rs
Labels: v1.9

#21925 Check file size of `snapshot_version` when unarchiving snapshot
  runtime/src/snapshot_utils.rs
Labels: community, v1.8, v1.9

#21985 Small mango-v3 instruction decoding improvement in explorer
  explorer/src/components/instruction/mango/types.ts
Labels: automerge, community

#21984 Update to reed-solomon-erasure 5.0.1, to get simd-accel on M1 macs
  Cargo.lock
  ledger/Cargo.toml
Labels: v1.9

#21787 RPC Block Subscription
  Cargo.lock
  client-test/Cargo.toml
  client-test/tests/client.rs
  client/src/pubsub_client.rs
  client/src/rpc_config.rs
  client/src/rpc_response.rs
  core/src/cluster_info_vote_listener.rs
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  replica-node/src/replica_node.rs
  rpc/src/optimistically_confirmed_bank_tracker.rs
  rpc/src/rpc.rs
  rpc/src/rpc_pubsub.rs
  rpc/src/rpc_pubsub_service.rs
  rpc/src/rpc_subscription_tracker.rs
  rpc/src/rpc_subscriptions.rs
  runtime/src/bank.rs
  transaction-status/src/lib.rs
  validator/src/main.rs
Labels: community, v1.9

#21919 Ensure AncestorHashesSerice selects an open port
  core/src/repair_service.rs
  core/src/retransmit_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  core/src/window_service.rs
  gossip/src/cluster_info.rs
Labels: v1.9

#21996 new net-stats require a new table
  core/src/system_monitor_service.rs
Labels: v1.8, v1.9

#22002 chore: add blockSubscribe api docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: community, v1.9

#22009 fix typo in keygen.rs
  keygen/src/keygen.rs
Labels: community, v1.9

#22026 Update program close docs
  docs/src/cli/deploy-a-program.md
Labels: v1.9

#22013 Fix weird formatting of bullets in "Staking Rewards" docs
  docs/src/implemented-proposals/staking-rewards.md
Labels: community, v1.9

#22004 chore: add PublicKey toJSON
  web3.js/src/publickey.ts
  web3.js/test/publickey.test.ts
Labels: community

#22033 Fix the sidebar entry for plugins documentation
  docs/src/developing/plugins/accountsdb_plugin.md
Labels: v1.9

#22046 fix grammar in README.md
  README.md
Labels: automerge, community

#22035 Fix #21986
  docs/src/developing/programming-model/calling-between-programs.md
  program-runtime/src/invoke_context.rs
  programs/bpf/rust/instruction_introspection/src/lib.rs
  programs/bpf/tests/programs.rs
  sdk/program/src/program.rs
Labels: v1.9

#21907 skip reporting all-zero stats
  core/src/banking_stage.rs
Labels: v1.9

#22055 v1.9: bump tarpc from 0.26.2 to 0.27.2 and add BanksClientError
  Cargo.lock
  banks-client/Cargo.toml
  banks-client/src/error.rs
  banks-client/src/lib.rs
  banks-interface/Cargo.toml
  banks-server/Cargo.toml
  banks-server/src/banks_server.rs
  programs/bpf/Cargo.lock
Labels: automerge

#22053 Increment execution timings on errors as well
  programs/bpf_loader/src/lib.rs
Labels: v1.8, v1.9

#21708 Leader QoS service metrics
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/qos_service.rs
Labels: automerge

#22074 Update jsonrpc-api.md to document 'owner' property
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, community, v1.9

#22061 Display bpf-tools version in cargo-build-bpf version string
  ci/test-stable.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#22085 Remove "msg <Recent Blockhash>" spam from deploying
  cli/src/checks.rs
Labels: community, v1.9

#22089 validator: add contact-info query to admin port
  Cargo.lock
  core/src/test_validator.rs
  core/src/validator.rs
  validator/Cargo.toml
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: automerge

#22087 validator: add contact-info query to admin port
  Cargo.lock
  validator/Cargo.toml
  validator/src/admin_rpc_service.rs
  validator/src/main.rs
Labels: automerge, v1.9

#22069 Add test to enforce that program id account info for CPI is optional
  docs/src/developing/programming-model/calling-between-programs.md
  programs/bpf/rust/instruction_introspection/src/lib.rs
  programs/bpf/rust/invoke_and_return/src/lib.rs
  programs/bpf/rust/upgradeable/src/lib.rs
  programs/bpf/rust/upgraded/src/lib.rs
  programs/bpf/tests/programs.rs
  sdk/program/src/program.rs
Labels: v1.9

#22113 Add PubsubClient::vote_subscribe
  client/src/pubsub_client.rs
Labels: community, v1.9

#22116 docs: fix typo
  docs/src/developing/runtime-facilities/programs.md
Labels: community, v1.9

#21706 Feature: TransactionContext, InstructionContext and BorrowedAccount
  cli/src/program.rs
  program-runtime/src/invoke_context.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls.rs
  programs/stake/src/stake_state.rs
  rbpf-cli/src/main.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  runtime/src/nonce_keyed_account.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/lib.rs
  sdk/src/transaction_context.rs
Labels: work in progress

#22144 Use load_accounts_data_len() instead of Atomic .load()
  runtime/src/bank.rs
Labels: automerge

#22084 Add (preflight) simulation to BanksClient
  banks-client/src/error.rs
  banks-client/src/lib.rs
  banks-interface/src/lib.rs
  banks-server/src/banks_server.rs
  runtime/src/bank.rs
  sdk/src/transaction/sanitized.rs
Labels: automerge, v1.9

#22133 Fix program log filtering
  program-runtime/src/log_collector.rs
Labels: v1.9

#22148 Prevent log spam by updating channel error type
  core/src/cluster_info_vote_listener.rs
Labels: v1.9

#22059 Count compute units even when transaction errors
  core/src/banking_stage.rs
  core/src/cost_update_service.rs
  core/src/qos_service.rs
  ledger/src/blockstore_processor.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/timings.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/cost_model.rs
  runtime/src/message_processor.rs
  runtime/src/transaction_batch.rs
Labels: v1.8, v1.9

#20276 cargo-build-bpf: Add Windows support
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: v1.9

#22115 get_signatures_for_address does not correctly account for result sets that span local and Bigtable sources
  ledger/src/blockstore.rs
  rpc/src/rpc.rs
Labels: community, v1.8, v1.9

#22078 Don't forward packets received from TPU forwards port
  core/src/banking_stage.rs
  core/src/commitment_service.rs
  core/src/fetch_stage.rs
  core/src/shred_fetch_stage.rs
  core/src/vote_simulator.rs
  perf/src/data_budget.rs
  program-test/src/lib.rs
  rpc/src/cluster_tpu_info.rs
  rpc/src/rpc.rs
  runtime/src/bank.rs
  runtime/src/bank_forks.rs
  runtime/src/genesis_utils.rs
  sdk/src/packet.rs
Labels: v1.8, v1.9

#22112 web3.js: Add Sysvar PubKeys
  web3.js/src/sysvar.ts
Labels: community

#22183 explorer: Bump @solana/spl-token-registry to 0.2.1143
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#22134 fix: Installer overall timeout to None
  install/src/command.rs
Labels: community, v1.8, v1.9

#22196 chore: fix typo in AccountInfo docs
  web3.js/src/connection.ts
Labels: community

#22189 chore: update transaction error links in docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: community, v1.9

#22182 Count compute units even when transaction errors
  core/src/cost_update_service.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/timings.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/cost_model.rs
  runtime/src/message_processor.rs
Labels: v1.8, v1.9

#22164 Bumps solana_rbpf to version v0.2.20
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  rbpf-cli/Cargo.toml
Labels: v1.9

#22200 Exit get_signatures_for_address on first BigTable error
  rpc/src/rpc.rs
Labels: v1.8, v1.9

#21995 re-calibrate limit based on mainnet data
  runtime/src/block_cost_limits.rs
Labels: v1.8, v1.9
