Repository solana-labs/solana, pull requests merged in 2021-11, with the labels that each got.

#20543 Parallel notifications in RPC PubSub
  Cargo.lock
  rpc/Cargo.toml
  rpc/src/rpc_pubsub_service.rs
  rpc/src/rpc_subscription_tracker.rs
  rpc/src/rpc_subscriptions.rs
  validator/src/main.rs
Labels: community, v1.8

#21115 v1.8: Fix serum-dex downstream build
  scripts/build-downstream-projects.sh
Labels: automerge

#21116 docs: Update language around immutable programs
  docs/src/developing/on-chain-programs/deploying.md
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/programming-model/calling-between-programs.md
Labels: v1.8

#21120 fix(explorer): do not display NFTs without an edition
  explorer/src/providers/accounts/index.tsx
Labels: automerge

#21123 Fixup rpc_filter deprecated since
  client/src/rpc_filter.rs
Labels: v1.8

#21125 Change module name to represent correct branch
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
Labels: automerge

#21121 Update deprecated variant in RpcClient doctests
  client/src/rpc_client.rs
Labels: v1.8

#21132 [Explorer] Reverted a change to require that Metaplex NFTs have a `MasterEdition` and added a decimal check
  explorer/src/components/account/TokenAccountSection.tsx
  explorer/src/pages/AccountDetailsPage.tsx
  explorer/src/providers/accounts/index.tsx
  explorer/src/providers/accounts/utils/isMetaplexNFT.ts
Labels: automerge, community

#21138 Add cargo-build-bpf logic to recover from failed package downloads
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.8

#21013 Add sanity test to verify floating point std math lib works for BPF
  programs/bpf/rust/sanity/src/lib.rs
  programs/bpf/tests/programs.rs
Labels: automerge

#21112 Simplify replay vote tracking by using packet metadata
  core/src/banking_stage.rs
  ledger-tool/src/main.rs
  rpc/src/rpc.rs
  runtime/src/bank.rs
  runtime/src/bank_utils.rs
  runtime/src/stakes.rs
  sdk/src/transaction/sanitized.rs
Labels: v1.7, v1.8

#21145 [Explorer] Added a Supply check to confirm if a SPL Token is a Metaplex NFT or not
  explorer/src/components/account/TokenAccountSection.tsx
  explorer/src/pages/AccountDetailsPage.tsx
  explorer/src/providers/accounts/utils/isMetaplexNFT.ts
Labels: automerge, community

#21154 Typo in web3 README (production bundle was labeled as un-minified)
  web3.js/README.md
Labels: community

#21086 Absolute path for web3 examples
  web3.js/README.md
Labels: community

#21143 Make cargo-build-bpf clean up after failed installation of bpf-tools
  programs/bpf/tests/programs.rs
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.8

#21152 Fix typo in bankless-leader.md
  docs/src/proposals/bankless-leader.md
Labels: community, v1.8

#21177 Fix rent debits test
  runtime/src/bank.rs
Labels: automerge

#21144 Add `set_root` bank drop logging
  runtime/src/bank_forks.rs
Labels: v1.7, v1.8

#21192 report pubsub stats every 2s
  rpc/src/rpc_subscriptions.rs
Labels: v1.8

#21215 Disable JIT compiler on unsupported platforms
  ledger/src/builtins.rs
  validator/src/bin/solana-test-validator.rs
Labels: community, v1.8

#20895 complete_partial_program_init: remove redundant conditional
  cli/src/program.rs
Labels: community

#21244 Refactor vote state to remove double negative
  programs/vote/src/vote_state/mod.rs
  runtime/src/stakes.rs
Labels: v1.7, v1.8

#21197 Rename "trusted" to "known" in `validators/`
  core/src/accounts_hash_verifier.rs
  core/src/serve_repair.rs
  core/src/tvu.rs
  core/src/validator.rs
  gossip/src/crds.rs
  local-cluster/src/validator_configs.rs
  local-cluster/tests/local_cluster.rs
  rpc/src/rpc.rs
  rpc/src/rpc_health.rs
  rpc/src/rpc_service.rs
  validator/src/bootstrap.rs
  validator/src/main.rs
Labels: community, v1.8

#21258 report mem stats
  Cargo.lock
  core/Cargo.toml
  core/src/system_monitor_service.rs
  runtime/src/bucket_map_holder_stats.rs
  sdk/src/timing.rs
Labels: automerge

#21257 Update various terms to "known"
  replica-node/src/replica_util.rs
  validator/src/bootstrap.rs
  validator/src/main.rs
Labels: v1.8

#21259 Bump timeout on test_rpc_subscriptions
  rpc-test/tests/rpc.rs
Labels: automerge, v1.8

#21256 Bump bpf-tools to v1.19
  programs/bpf/tests/programs.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.8

#21276 explorer: Display more decimals for small token prices
  explorer/src/components/account/TokenAccountSection.tsx
Labels: automerge

#21277 explorer: hide rank when it is null
  explorer/src/components/account/TokenAccountSection.tsx
Labels: automerge

#21213 Accept only decimal digits in file names inside snapshot
  runtime/src/hardened_unpack.rs
Labels: automerge, community, v1.8

#20762 docs: Replaces "is_rooted" with "is_connected"
  docs/src/validator/blockstore.md
Labels: community, v1.8

#21245 add new macro: `pubkey!`
  sdk/macro/src/lib.rs
  sdk/program/src/lib.rs
  sdk/src/lib.rs
Labels: community, v1.8

#21286 More set_root metrics
  core/src/replay_stage.rs
  runtime/src/bank_forks.rs
Labels: v1.8

#21292 Explorer: switch token list to Solana strategy
  explorer/package-lock.json
  explorer/package.json
  explorer/src/providers/mints/token-registry.tsx
Labels: automerge

#21294 explorer: fix stake account activating state
  explorer/src/components/account/StakeAccountSection.tsx
Labels: automerge

#21297 Fix feature gate of #18981
  programs/bpf_loader/src/syscalls.rs
Labels: bug

#21296 add --no-os-network-stats-reporting option
  core/src/system_monitor_service.rs
  core/src/validator.rs
  ledger-tool/src/main.rs
  local-cluster/src/validator_configs.rs
  validator/src/main.rs
Labels: v1.8

#21260 Nonce accounts must be writeable
  rpc/src/rpc.rs
  runtime/src/bank.rs
  runtime/src/nonce_keyed_account.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/mod.rs
  sdk/src/transaction/sanitized.rs
Labels: automerge

#21316 Fixup jsonrpc processed commitment docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.8

#21328 Charge for sol_log_data translates
  programs/bpf_loader/src/syscalls.rs
Labels: v1.8

#21345 mergify: don't request reviews for community pr's if already reviewed
  .mergify.yml
Labels: automerge

#21343 Refactor: Fix typo in stake_state.rs
  programs/stake/src/stake_state.rs
Labels: community

#21349 Spit log data charge into two
  programs/bpf_loader/src/syscalls.rs
Labels: v1.8

#21344 Fix authority in bpf_loader_upgradeable::close_any
  sdk/program/src/bpf_loader_upgradeable.rs
Labels: community, v1.8

#21355 Bump bpf-tools to v1.20
  programs/bpf/c/src/stdlib/stdlib.c
  programs/bpf/tests/programs.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.8

#21354 spl-token: New program feature flag
  account-decoder/Cargo.toml
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  accounts-cluster-bench/Cargo.toml
  accounts-cluster-bench/src/main.rs
  rpc/Cargo.toml
  rpc/src/parsed_token_accounts.rs
  rpc/src/rpc.rs
  rpc/src/rpc_subscriptions.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/inline_spl_token.rs
  runtime/src/lib.rs
  sdk/src/feature_set.rs
  tokens/Cargo.toml
  tokens/src/commands.rs
  tokens/src/spl_token.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_associated_token.rs
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_token.rs
  transaction-status/src/token_balances.rs
Labels: v1.8

#21227 Add crate docs for solana-cli-config
  Cargo.lock
  cli-config/Cargo.toml
  cli-config/src/config.rs
  cli-config/src/lib.rs
Labels: community

#21394 Add BigTable query logs and counter
  Cargo.lock
  storage-bigtable/Cargo.toml
  storage-bigtable/src/lib.rs
Labels: v1.8

#21361 Bump bpf-tools to v1.20
  sdk/bpf/c/bpf.mk
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#21406 Refactor accounts.rs to improve `lock accounts with results` code path.
  core/src/banking_stage.rs
  core/src/qos_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/cost_model.rs
Labels: automerge

#21401 Use max_complete_transaction_status_slot in BigTableUploadService
  ledger/src/bigtable_upload_service.rs
  rpc/src/rpc_service.rs
Labels: v1.8

#21373 feat: improve compatibility with native ESM in Node and the browser
  web3.js/src/account.ts
  web3.js/src/keypair.ts
  web3.js/src/secp256k1-program.ts
Labels: automerge, community

#21416 ci: fix up pr subscribers review request automation
  .mergify.yml
Labels: noCI

#21415 Add set_account to solana-program-test
  program-test/src/lib.rs
Labels: community, v1.8

#21383 Adjust "solana rent" sub command to clarify automatic inclusion of account overhead
  cli/src/cluster_query.rs
Labels: community

#21417 install: Check all releases
  install/src/command.rs
Labels: v1.8

#21420 Fix transaction log collector indexing
  runtime/src/bank.rs
Labels: automerge, v1.8

#21422 Fix grammatical error in docs
  docs/src/developing/on-chain-programs/overview.md
Labels: community, v1.8

#21386 Use underscore for hacky rust-analyzer script
  scripts/sed-i-all-rs-files-for-rust-analyzer.sh
Labels: community, v1.8

#21444 Fix typo in program_option.rs
  sdk/program/src/program_option.rs
Labels: community

#21456 explorer: update browserlist db
  explorer/package-lock.json
Labels: automerge

#21461 explorer: bump web3 to v1.31.0
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#21095 Explorer Metaplex NFTs: Adding External URL Button
  explorer/src/components/account/MetaplexNFTHeader.tsx
  explorer/src/components/account/TokenAccountSection.tsx
  explorer/src/components/common/NFTArt.tsx
  explorer/src/providers/accounts/index.tsx
Labels: automerge, community

#21470 fix: refine stacktrace attribution of errors thrown from middleware
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community

#21454 Update restart-cluster.md
  docs/src/running-validator/restart-cluster.md
Labels: community

#21465 fix checks in process_vote_authorize
  cli/src/vote.rs
Labels: community, v1.8

#21499 explorer: fix modal backdrop z-index
  explorer/src/components/ClusterModal.tsx
  explorer/src/scss/_solana.scss
Labels: automerge

#21501 Quash M1 build warning
  ledger/src/builtins.rs
Labels: v1.8

#21091 fix(web3.js): VoteAccount.fromAccountData() throws range error
  docs/src/developing/clients/javascript-reference.md
  web3.js/src/vote-account.ts
Labels: community
