Repository solana-labs/solana, pull requests merged in 2021-05, with the labels that each got.

#16938 Docs/staking with exodus wallet
  docs/src/staking.md
Labels: automerge

#16989 feat: add getSlotLeaders method
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge

#16987 Improve readability of vote lockout processing
  core/src/consensus.rs
  programs/vote/src/vote_state/mod.rs
Labels: automerge

#16991 Corrected typo in calling between programs document
  docs/src/developing/programming-model/calling-between-programs.md
Labels: v1.6

#16994 Remove errant backslash
  docs/src/cluster/rpc-endpoints.md
Labels: automerge, v1.6

#16997 Docs cleanup
  docs/.eslintignore
  docs/.prettierignore
  docs/README.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/cli/deploy-a-program.md
  docs/src/cluster/bench-tps.md
  docs/src/cluster/vote-signing.md
  docs/src/clusters.md
  docs/src/developing/backwards-compatibility.md
  docs/src/developing/on-chain-programs/debugging.md
  docs/src/developing/on-chain-programs/deploying.md
  docs/src/developing/on-chain-programs/developing-c.md
  docs/src/developing/on-chain-programs/developing-rust.md
  docs/src/developing/on-chain-programs/examples.md
  docs/src/developing/on-chain-programs/faq.md
  docs/src/developing/on-chain-programs/overview.md
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/programming-model/calling-between-programs.md
  docs/src/developing/programming-model/runtime.md
  docs/src/developing/programming-model/transactions.md
  docs/src/developing/runtime-facilities/programs.md
  docs/src/developing/runtime-facilities/sysvars.md
  docs/src/implemented-proposals/ed_overview/ed_validation_client_economics/ed_vce_overview.md
  docs/src/implemented-proposals/ed_overview/ed_validation_client_economics/ed_vce_state_validation_protocol_based_rewards.md
  docs/src/implemented-proposals/implemented-proposals.md
  docs/src/implemented-proposals/instruction_introspection.md
  docs/src/implemented-proposals/rpc-transaction-history.md
  docs/src/inflation/adjusted_staking_yield.md
  docs/src/inflation/inflation_schedule.md
  docs/src/inflation/terminology.md
  docs/src/integrations/exchange.md
  docs/src/proposals/program-instruction-macro.md
  docs/src/proposals/rip-curl.md
  docs/src/proposals/simple-payment-and-state-verification.md
  docs/src/running-validator/restart-cluster.md
  docs/src/running-validator/validator-reqs.md
  docs/src/running-validator/validator-start.md
  docs/src/running-validator/vote-accounts.md
  docs/src/staking.md
  docs/src/staking/stake-accounts.md
  docs/src/staking/stake-programming.md
  docs/src/tour-de-sol/registration/rewards.md
  docs/src/tour-de-sol/useful-links.md
  docs/src/transaction_fees.md
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/hardware-wallets/ledger.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/solflare.md
  docs/src/wallet-guide/web-wallets.md
Labels: automerge

#16998 Update sysvars.md
  docs/src/developing/runtime-facilities/sysvars.md
Labels: v1.6

#16985 AccountSharedData.lamports private
  sdk/src/account.rs
Labels: automerge

#17006 More docs for bank.rs
  runtime/src/bank.rs
Labels: automerge

#17010 Add hackathon banner
  docs/src/pages/index.js
Labels: automerge

#17014 Add keys
  core/src/non_circulating_supply.rs
Labels: v1.6

#16942 Implement Bip32 for seed-phrase/passphrase signing
  Cargo.lock
  clap-utils/src/input_parsers.rs
  clap-utils/src/keypair.rs
  docs/src/cli/conventions.md
  docs/src/running-validator/validator-start.md
  docs/src/wallet-guide/paper-wallet.md
  keygen/src/keygen.rs
  programs/bpf/Cargo.lock
  sdk/Cargo.toml
  sdk/src/derivation_path.rs
  sdk/src/signature.rs
Labels: v1.6

#17016 Remove ramp-tps
  Cargo.lock
  Cargo.toml
  ramp-tps/Cargo.toml
  ramp-tps/src/main.rs
  ramp-tps/src/results.rs
  ramp-tps/src/stake.rs
  ramp-tps/src/tps.rs
  ramp-tps/src/utils.rs
  ramp-tps/src/voters.rs
Labels: automerge

#17020 Update web3.js import sample
  web3.js/README.md
Labels: v1.6

#16973 Integrate gossip votes into switching threshold
  core/src/cluster_info.rs
  core/src/consensus.rs
  core/src/latest_validator_votes_for_frozen_banks.rs
  core/src/replay_stage.rs
  ledger/src/blockstore.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.6

#17023 test-validator: Plumb --limit-ledger-size
  core/src/test_validator.rs
  validator/src/bin/solana-test-validator.rs
Labels: automerge, v1.6

#17024 Fixup cli stake rewards % estimate
  cli/src/stake.rs
Labels: automerge, v1.5, v1.6

#17026 Document that Transaction::sign might panic
  sdk/src/transaction.rs
Labels: v1.6

#17057 Don't recognize temp snapshots as possible snapshots to open
  runtime/src/snapshot_utils.rs
Labels: v1.6

#17040 insert accounts in parallel when building initial index
  runtime/src/accounts_db.rs
Labels: automerge

#17047 validator: Add --tower argument to specify where tower files are persisted
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  validator/src/main.rs
Labels: v1.6

#17063 Add Brooks's pubkey to authorized keys
  net/scripts/solana-user-authorized_keys.sh
Labels: automerge

#17064 RpcClient now respects the retry-after server response header when getting rate limited
  client/src/http_sender.rs
Labels: v1.6

#17067 explorer: update package-lock.json to v2
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#17071 CLI: Print gossip nodes with `cli-output` crate
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.6

#17069 Dump rent_collector/inflation with ledger-tool cap
  ledger-tool/src/main.rs
  runtime/src/bank.rs
Labels: v1.6

#17045 Add ledger-tool for restoring roots to the Roots CF
  ledger-tool/src/main.rs
Labels: v1.6

#17098 feat: add Keypair class and deprecate Account
  web3.js/package.json
  web3.js/src/account.ts
  web3.js/src/bpf-loader.ts
  web3.js/src/connection.ts
  web3.js/src/index.ts
  web3.js/src/keypair.ts
  web3.js/src/loader.ts
  web3.js/src/transaction.ts
  web3.js/src/util/send-and-confirm-transaction.ts
  web3.js/test/bpf-loader.test.ts
  web3.js/test/connection.test.ts
  web3.js/test/keypair.test.ts
  web3.js/test/mocks/rpc-http.ts
  web3.js/test/nonce.test.ts
  web3.js/test/publickey.test.ts
  web3.js/test/secp256k1-program.test.ts
  web3.js/test/stake-program.test.ts
  web3.js/test/system-program.test.ts
  web3.js/test/transaction-payer.test.ts
  web3.js/test/transaction.test.ts
Labels: automerge

#17086 `solana-validator exit` now uses `process::exit()` to ensure prompt termination
  validator/src/admin_rpc_service.rs
Labels: v1.6

#17112 getBlockProduction RPC method now correctly reports block production
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.6

#17120 explorer: Fix bonfida dependency
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/instruction/bonfida-bot/types.ts
Labels: automerge

#17124 Fix syscalls in the C SDK failing at runtime when compiled as C++
  sdk/bpf/c/inc/solana_sdk.h
Labels: automerge, v1.6

#17128 Add a make target to run the readelf utility on a compiled program
  sdk/bpf/c/bpf.mk
Labels: v1.6

#17108 type AccountSecondaryIndexes = HashSet
  accounts-bench/src/main.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  ledger/src/blockstore_processor.rs
  runtime/benches/accounts.rs
  runtime/benches/accounts_index.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#17109 Move block-time caching earlier
  core/src/cache_block_time_service.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/validator.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
Labels: v1.6

#16498 Add Keccak256 syscall and sdk support
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/c/src/sha/sha.c
  programs/bpf/c/src/sha256/sha256.c
  programs/bpf/rust/sha/Cargo.toml
  programs/bpf/rust/sha/src/lib.rs
  programs/bpf/rust/sha256/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/syscalls.rs
  sdk/bpf/c/inc/solana_sdk.h
  sdk/program/Cargo.toml
  sdk/program/src/keccak.rs
  sdk/program/src/lib.rs
  sdk/src/feature_set.rs
Labels: v1.6

#17161 Update web-wallet.md to add phantom with fixed link
  docs/src/wallet-guide/web-wallets.md
Labels: automerge, v1.6

#17176 Bump bpf-tools version to 1.7
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#17110 include/exclude keys on account secondary index
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  validator/src/main.rs
Labels: automerge, v1.6

#17180 Add bip32 support to solana-keygen recover
  clap-utils/src/input_validators.rs
  clap-utils/src/keypair.rs
  keygen/src/keygen.rs
  sdk/src/signer/mod.rs
Labels: automerge, v1.6

#17188 Update devnet and testnet endpoints
  docs/src/cluster/rpc-endpoints.md
Labels: automerge, v1.6

#17198 docs: add hackathon banner consistently with master
  docs/src/pages/index.js
Labels: automerge

#17193 Return error for excluded secondary-index keys
  client/src/rpc_custom_error.rs
  core/src/rpc.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  validator/src/main.rs
Labels: automerge, v1.6

#17220 fix-endpoints
  docs/src/clusters.md
Labels: automerge, v1.6

#17212 docs: remove missing link
  docs/src/running-validator/validator-reqs.md
Labels: v1.6

#17226 test-validator: Hint at airdrop when wallet is unavailable
  validator/src/bin/solana-test-validator.rs
Labels: v1.6

#17231 Fix deprecated trait object without an explicit dyn warning
  programs/bpf/tests/programs.rs
Labels: automerge

#17242 Add NEW labels for RPC methods introduced in v1.7
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.6

#17217 Fix a bug in input deserialization in the C SDK
  sdk/bpf/c/inc/solana_sdk.h
Labels: v1.6

#17256 Explorer: bump web3.js to 1.11.0
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#17254 Remove duplicate std::net reference in docs
  docs/src/developing/on-chain-programs/developing-rust.md
Labels: v1.6

#17278 fixed getProgramAccounts fields list
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.6

#17281 Add two more testnet entrypoints
  docs/src/clusters.md
Labels: v1.6

#17277 Update keypair configuration output
  docs/src/running-validator/validator-start.md
Labels: v1.6

#17244 Add --no-wait option to CLI's stake-authorize command
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: automerge

#17283 Minor test cleanup and comments
  runtime/src/bank.rs
  runtime/src/rent_collector.rs
Labels: v1.6

#17287 Clear release cache for stable-perf CI jobs
  .buildkite/hooks/pre-command
Labels: v1.6

#17294 Add C Serialization Tests for #17217
  programs/bpf/c/src/ser/ser.c
  programs/bpf/tests/programs.rs
Labels: v1.6

#17293 StoredMetaWriteVersion
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
  runtime/src/serde_snapshot.rs
Labels: automerge

#17299 Add Contextual Search
  docs/docusaurus.config.js
Labels: automerge, v1.6

#17253 Bump bpf-tools version to 1.8
  programs/bpf/tests/programs.rs
  sdk/bpf/c/bpf.ld
  sdk/bpf/env.sh
  sdk/bpf/rust/bpf.ld
  sdk/bpf/rust/build.sh
  sdk/bpf/rust/clean.sh
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#17310 fix test
  programs/bpf/c/src/ser/ser.c
Labels: v1.6

#17312 get_program_accounts_with_config() now correctly defaults to RpcClient's commitment level
  client/src/rpc_client.rs
Labels: automerge, v1.6

#17322 Validator progress bars are now rendered when stdout is not a terminal
  validator/src/dashboard.rs
  validator/src/lib.rs
Labels: automerge, v1.6

#17324 Optimize aligned memory used by the runtime
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/benches/serialization.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls.rs
Labels: v1.6

#17328 don't log shrink metrics on first call
  runtime/src/accounts_db.rs
Labels: automerge

#17342 Bump bpf-tools version to 1.9
  programs/bpf/tests/programs.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
  sdk/program/src/hash.rs
  sdk/program/src/keccak.rs
  sdk/program/src/pubkey.rs
Labels: automerge

#17347 docs: Update transaction expiration time
  docs/src/offline-signing.md
Labels: automerge, v1.5, v1.6

#17346 restore Serum in CI downstream job
  scripts/build-downstream-projects.sh
Labels: automerge

#17353 Add stake_program_v4 feature
  sdk/src/feature_set.rs
Labels: automerge, v1.6

#17360 InvokeContext: Add get_sysvar() helper to sdk
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
  sdk/src/process_instruction.rs
Labels: automerge, v1.6

#17366 Prevent withrawing Initialized stake account to rent-exempt reserve
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
Labels: automerge, v1.6

#17343 clap-utils: Fix signer resolution on Windows
  clap-utils/src/keypair.rs
Labels: automerge, v1.6

#17344 programs/stake: cancel deactivate
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
Labels: automerge, v1.6

#17367 Update getrandom bpf dependency
  docs/src/developing/on-chain-programs/developing-rust.md
Labels: v1.6

#17361 SetLockup now requires the authorized withdrawer when the lockup is not in force
  cli/tests/stake.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
Labels: v1.6

#17382 Remove const qualifier from syscall out-parameters
  sdk/bpf/c/inc/solana_sdk.h
Labels: v1.6

#17391 account-decoder: don't use strings to convert between Pubkey types
  account-decoder/src/parse_token.rs
  transaction-status/src/parse_associated_token.rs
  transaction-status/src/parse_instruction.rs
Labels: automerge, v1.6

#17399 rpc: add context toggle to getProgramAccounts
  cli/src/cluster_query.rs
  cli/src/program.rs
  client/src/rpc_client.rs
  client/src/rpc_config.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.6

#17437 validator: Avoid ip_echo_server unwrap
  core/src/validator.rs
Labels: v1.6

#17442 v1.6: Ensure cluster-confirmed roots are set on boot
  core/src/rpc.rs
  core/src/validator.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
  validator/src/main.rs
Labels: automerge

#17404 Bump solana_rbpf to version 0.2.11
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/tests/programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/lib.rs
Labels: automerge

#17477 docs: budget program is gone, link to SPL Token multisig
  docs/src/offline-signing.md
Labels: automerge, v1.6

#17476 docs: Add inner instruction and cross-program invocation to terminology
  docs/src/terminology.md
Labels: v1.6

#17475 Fix missing builtins in C programs linking with compiler_builtins
  programs/bpf/c/src/float/float.c
  programs/bpf/tests/programs.rs
  sdk/bpf/c/bpf.mk
Labels: automerge

#17483 chore: fix formatting
  web3.js/test/connection.test.ts
Labels: automerge

#17487 explorer: Update web3 to 1.14.0
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#17488 docs: Add RPC node HW recommendations
  docs/src/running-validator/validator-reqs.md
Labels: v1.6

#17493 Update sysvar docs
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/runtime-facilities/sysvars.md
  docs/src/terminology.md
Labels: v1.6

#17486 Improve missing default signer error messaging
  clap-utils/src/keypair.rs
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/program.rs
  cli/src/stake.rs
  cli/src/vote.rs
Labels: v1.6

#17501 Add missing fields from getClusterNodes documentation
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.6

#17503 Add a hacky shell for fun code reading
  scripts/sed-i-all-rs-files-for-rust-analyzer.sh
Labels: v1.6

#17516 Explorer: use specialized explorer endpoints
  explorer/package-lock.json
  explorer/src/components/ClusterModal.tsx
  explorer/src/providers/cluster.tsx
Labels: automerge

#17515 docs: Add `find_program_address` and example
  docs/src/developing/programming-model/calling-between-programs.md
Labels: automerge, v1.6

#17494 Add custom error for tx-history queries when node does not support
  client/src/rpc_custom_error.rs
  core/src/rpc.rs
Labels: v1.6

#17499 simulateTransaction RPC method can now return accounts modified by the simulation
  account-decoder/src/lib.rs
  cli/src/cli.rs
  client/src/blockhash_query.rs
  client/src/rpc_config.rs
  client/src/rpc_response.rs
  core/src/rpc.rs
  docs/src/developing/clients/jsonrpc-api.md
  rpc/src/parsed_token_accounts.rs
  rpc/src/rpc_subscriptions.rs
  runtime/src/bank.rs
  runtime/src/transaction_batch.rs
Labels: v1.6

#17530 Fix typo in docs
  docs/src/developing/on-chain-programs/overview.md
Labels: v1.6

#17528 Plumb transaction-level rewards (aka "rent debits") into the `getTransaction` RPC method
  cli-output/src/display.rs
  core/src/banking_stage.rs
  core/src/transaction_status_service.rs
  docs/src/developing/clients/jsonrpc-api.md
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
  programs/bpf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
  storage-proto/proto/solana.storage.confirmed_block.rs
  storage-proto/src/confirmed_block.proto
  storage-proto/src/convert.rs
  storage-proto/src/lib.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.6

#17523 Add block height to ConfirmedBlock structs
  cli-output/src/cli_output.rs
  core/src/bigtable_upload_service.rs
  core/src/cache_block_meta_service.rs
  core/src/lib.rs
  core/src/replay_stage.rs
  core/src/rpc.rs
  core/src/tvu.rs
  core/src/validator.rs
  docs/src/developing/clients/jsonrpc-api.md
  ledger/src/bank_forks_utils.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_processor.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
  storage-proto/proto/solana.storage.confirmed_block.rs
  storage-proto/proto/solana.storage.transaction_by_addr.rs
  storage-proto/src/confirmed_block.proto
  storage-proto/src/convert.rs
  storage-proto/src/transaction_by_addr.proto
  transaction-status/src/lib.rs
Labels: v1.6

#17529 Remove redundant copy from RocksDB get_cf() wrapper
  ledger/src/blockstore_db.rs
Labels: v1.7

#17545 Allow configuring testnet slots-per-epoch
  net/net.sh
Labels: v1.7

#17570 test-validator: add an arg to control faucet genesis balance
  validator/src/bin/solana-test-validator.rs
Labels: v1.6, v1.7

#17525 RollingBitField: bug fixes and add tests
  runtime/src/accounts_index.rs
Labels: automerge

#17569 Always bail if program modifies a ro account
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/ro_account_modify/Cargo.toml
  programs/bpf/rust/ro_account_modify/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/message_processor.rs
  sdk/src/feature_set.rs
Labels: v1.7

#17585 Unify BPF verifiers
  Cargo.lock
  cli/Cargo.toml
  cli/src/program.rs
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/bpf_verifier.rs
  programs/bpf_loader/src/lib.rs
  rbpf-cli/Cargo.toml
Labels: CI

#17583 Disable read-only optimization features
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  sdk/src/feature_set.rs
Labels: automerge

#17590 Add BPF rustc option to reduce the optimizations to safer level
  programs/bpf/tests/programs.rs
  sdk/bpf/env.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.7

#17605 stake_program: Make `stake_instruction::initialize` public
  programs/stake/src/stake_instruction.rs
Labels: v1.6, v1.7

#17615 Make the sys-tuner oneliner actually copy-pastable
  docs/src/running-validator/validator-start.md
Labels: automerge, v1.7
