Repository solana-labs/solana, pull requests merged in 2021-06, with the labels that each got.

#17634 Purge expired BlockHeight data from blockstore
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
Labels: automerge, v1.6, v1.7

#17550 Add create-stake command to solana-tokens CLI
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
Labels: automerge, v1.7

#17652 Cli: Decode known program custom errors returned from simulation
  cli/src/cli.rs
Labels: v1.7

#17655 Fix test instruction count
  programs/bpf/tests/programs.rs
Labels: v1.7

#17661 Fix getBlock API reference
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.7

#17659 Fix CPI recursion depth
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/c/src/invoked/invoked.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/rust/invoked/src/processor.rs
  programs/bpf/tests/programs.rs
  runtime/src/message_processor.rs
  sdk/src/process_instruction.rs
Labels: v1.7

#17269 Support out of band dumping of unrooted slots in AccountsDb
  core/src/repair_service.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: automerge

#17563 support bin divisions up to 65536
  runtime/src/accounts_db.rs
  runtime/src/lib.rs
  runtime/src/pubkey_bins.rs
Labels: v1.7

#17686 simplify test construction
  runtime/src/accounts_db.rs
Labels: v1.7

#17691 remove slot lookup
  runtime/src/accounts_db.rs
Labels: v1.7

#17638 use slots returned from get_snapshot_storages to sort
  runtime/src/accounts_db.rs
  runtime/src/snapshot_utils.rs
  runtime/src/sorted_storages.rs
Labels: v1.7

#17168 Switch EpochSlots to be frozen slots, not completed slots
  core/src/cluster_slots_service.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  core/src/retransmit_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  ledger/src/blockstore.rs
Labels: automerge

#16231 Add missing ProgramError to InstructionError mappings
  programs/bpf_loader/src/lib.rs
  sdk/program/src/instruction.rs
  sdk/program/src/program_error.rs
  sdk/src/feature_set.rs
Labels: automerge, v1.7

#17717 Improve program deployment error message
  cli/src/program.rs
Labels: automerge, v1.7

#17728 Rename ValidatorExit and move to sdk
  core/src/rpc.rs
  core/src/rpc_service.rs
  core/src/test_validator.rs
  core/src/validator.rs
  gossip/src/cluster_info.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/src/validator_configs.rs
  sdk/src/exit.rs
  sdk/src/lib.rs
  validator/src/admin_rpc_service.rs
  validator/src/dashboard.rs
Labels: automerge, v1.7

#17727 add info for vm.max_map_count incorrectly set.
  runtime/src/append_vec.rs
Labels: automerge, v1.7

#17698 Create solana-poh and move remaining rpc modules to solana-rpc
  Cargo.lock
  Cargo.toml
  banking-bench/Cargo.toml
  banking-bench/src/main.rs
  ci/test-bench.sh
  core/Cargo.toml
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_utils.rs
  core/src/cluster_info_vote_listener.rs
  core/src/fetch_stage.rs
  core/src/lib.rs
  core/src/replay_stage.rs
  core/src/test_validator.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  ledger/src/bigtable_upload_service.rs
  ledger/src/lib.rs
  local-cluster/Cargo.toml
  local-cluster/src/cluster_tests.rs
  poh/.gitignore
  poh/Cargo.toml
  poh/benches/poh.rs
  poh/benches/poh_verify.rs
  poh/src/lib.rs
  poh/src/poh_recorder.rs
  poh/src/poh_service.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/rpc.rs
  rpc/src/rpc_health.rs
  rpc/src/rpc_service.rs
  rpc/src/send_transaction_service.rs
  rpc/src/transaction_status_service.rs
  stake-monitor/Cargo.toml
  stake-monitor/src/lib.rs
  validator/Cargo.toml
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: v1.7

#17746 add data point for cap mismatch
  runtime/src/bank.rs
Labels: v1.7

#17721 add hash_time_pre_us metric to disambiguate
  runtime/src/accounts_hash.rs
Labels: v1.7

#17726 system-program: Remove zero lamport check on transfers
  programs/stake/src/stake_instruction.rs
  runtime/src/system_instruction_processor.rs
  runtime/tests/stake.rs
  sdk/src/feature_set.rs
  tokens/src/commands.rs
  transaction-status/src/parse_stake.rs
Labels: v1.6, v1.7

#17754 Document ProgramTest::new and fix ProgramTest::add_program
  program-test/src/lib.rs
Labels: v1.6, v1.7

#17771 explorer: Update package-lock.json to v2
  explorer/package-lock.json
Labels: automerge

#17685 rework hash calculation to not keep slot and write version
  runtime/src/accounts_db.rs
  runtime/src/accounts_hash.rs
Labels: v1.7

#17772 Fix handling of stale links to bpf-tools in cargo-build-bpf
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#17797 Bump jsonrpc crates
  Cargo.lock
  core/Cargo.toml
  rpc/.gitignore
  rpc/Cargo.toml
  rpc/src/rpc_pubsub.rs
  validator/Cargo.toml
Labels: automerge, v1.7

#17799 v1.6: Bump jsonrpc crates
  Cargo.lock
  core/Cargo.toml
  core/src/rpc_pubsub.rs
  validator/Cargo.toml
Labels: automerge

#17816 Remove budget program
  Cargo.lock
  Cargo.toml
  genesis/Cargo.toml
  genesis/src/main.rs
  ledger/Cargo.toml
  ledger/src/entry.rs
  perf/Cargo.toml
  perf/src/test_tx.rs
  programs/budget/Cargo.toml
  programs/budget/src/budget_expr.rs
  programs/budget/src/budget_instruction.rs
  programs/budget/src/budget_processor.rs
  programs/budget/src/budget_state.rs
  programs/budget/src/lib.rs
Labels: automerge, v1.7

#17801 update dependence version for gag to latest support windows
  Cargo.lock
  banking-bench/src/main.rs
  local-cluster/Cargo.toml
  validator/src/lib.rs
Labels: v1.7

#17806 add min to roots_tracker
  runtime/src/accounts_index.rs
Labels: v1.7

#17836 Update a dangling devnet endpoint doc
  docs/src/cluster/bench-tps.md
Labels: automerge, v1.6, v1.7

#17837 chore: update commented devnet urls
  web3.js/test/url.ts
Labels: automerge

#17840 replay_stage.rs: Wrap long lines
  core/src/progress_map.rs
  core/src/replay_stage.rs
Labels: v1.7

#17811 Pass iterator for SortedStorages::new_with_slots
  runtime/src/accounts_db.rs
  runtime/src/sorted_storages.rs
Labels: v1.7

#17845 Print commands output in cargo-build-bpf if verbose option is set
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#13995 Add local cluster tests that broadcast duplicate slots
  core/src/broadcast_stage.rs
  core/src/broadcast_stage/broadcast_duplicates_run.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/blockhash_queue.rs
  runtime/src/lib.rs
Labels: v1.7

#17865 Remove O2 option for compiling BPF programs
  programs/bpf/tests/programs.rs
  sdk/bpf/env.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#17867 programs/config: Disallow duplicate signers
  programs/config/src/config_processor.rs
  sdk/src/feature_set.rs
Labels: automerge

#17874 Adjust assert_instruction_count expected insn count value
  programs/bpf/tests/programs.rs
Labels: automerge

#17864 Warn about InstructionError meta
  sdk/program/src/instruction.rs
Labels: v1.7

#17850 Check for undefined symbols in .so and warn about run-time errors
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.7

#17866 Account for duplicate before a bank is frozen or replayed
  core/src/cluster_slot_state_verifier.rs
  core/src/consensus.rs
  core/src/progress_map.rs
  core/src/replay_stage.rs
Labels: v1.6, v1.7

#17779 Port unconfirmed duplicate tracking logic from ProgressMap to ForkChoice
  core/src/cluster_slot_state_verifier.rs
  core/src/consensus.rs
  core/src/heaviest_subtree_fork_choice.rs
  core/src/progress_map.rs
  core/src/replay_stage.rs
Labels: v1.7

#17803 Don't store votes unless we are leader soon
  core/src/cluster_info_vote_listener.rs
  core/src/verified_vote_packets.rs
Labels: v1.7

#17896 Don't require non-existent param for `solana-keygen new`
  keygen/src/keygen.rs
Labels: automerge, v1.7

#17910 Fix file permissions
  programs/bpf/c/src/sha/sha.c
  programs/bpf/rust/sha/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  sdk/bpf/c/inc/solana_sdk.h
  sdk/program/Cargo.toml
  sdk/program/src/lib.rs
  sdk/src/feature_set.rs
Labels: automerge

#17881 minor fixes to punctuation and typos
  docs/src/developing/programming-model/accounts.md
  docs/src/staking.md
Labels: community, v1.7

#17852 use trait to simplify and consolidate cumulative code
  runtime/src/accounts_hash.rs
Labels: v1.7

#17443 calculate_capitalization uses hash calculation
  accounts-bench/src/main.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore_processor.rs
  runtime/src/accounts.rs
  runtime/src/accounts_cache.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/bank.rs
  runtime/src/snapshot_utils.rs
  runtime/src/sorted_storages.rs
Labels: v1.7

#17832 Don't use pinned memory for gossip and repair responses
  bench-streamer/src/main.rs
  core/src/fetch_stage.rs
  core/src/serve_repair.rs
  core/src/serve_repair_service.rs
  core/src/shred_fetch_stage.rs
  gossip/src/cluster_info.rs
  gossip/src/gossip_service.rs
  perf/src/cuda_runtime.rs
  perf/src/packet.rs
  streamer/src/streamer.rs
Labels: v1.7

#17757 Fix accounts index panic in purge_exact
  runtime/src/accounts_index.rs
Labels: v1.7

#17920 Fix typo in docs
  docs/src/developing/programming-model/calling-between-programs.md
Labels: community

#17937 add metrics to handle_snapshot_requests
  core/tests/snapshots.rs
  runtime/src/accounts_background_service.rs
Labels: v1.7

#17941 refactor so hash verify can be done by more callers
  runtime/src/accounts_db.rs
Labels: v1.7

#17942 name arguments to help with confusion
  runtime/src/accounts_db.rs
Labels: v1.7

#17471 Handle removing slots during account scans
  client/src/rpc_custom_error.rs
  core/src/repair_service.rs
  core/src/replay_stage.rs
  ledger-tool/src/main.rs
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/ancestors.rs
  runtime/src/bank.rs
  runtime/src/non_circulating_supply.rs
  sdk/program/src/clock.rs
Labels: v1.7

#17952 Update init-metrics.sh
  net/init-metrics.sh
Labels: automerge

#17951 Bump spl-token to v3.1.1
  Cargo.lock
  account-decoder/Cargo.toml
  accounts-cluster-bench/Cargo.toml
  programs/bpf/Cargo.lock
  rpc/Cargo.toml
  tokens/Cargo.toml
  transaction-status/Cargo.toml
Labels: v1.6, v1.7

#17906 Refactor stake program into solana_program
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_config.rs
  account-decoder/src/parse_stake.rs
  cli-output/Cargo.toml
  cli-output/src/cli_output.rs
  cli-output/src/display.rs
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/stake.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  core/Cargo.toml
  docs/src/developing/runtime-facilities/programs.md
  genesis/src/main.rs
  genesis/src/stakes.rs
  ledger-tool/src/main.rs
  ledger/Cargo.toml
  ledger/src/staking_utils.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
  perf/Cargo.toml
  perf/src/test_tx.rs
  program-test/Cargo.toml
  program-test/tests/warp.rs
  programs/bpf/Cargo.lock
  programs/bpf/tests/programs.rs
  programs/config/src/lib.rs
  programs/stake/src/config.rs
  programs/stake/src/lib.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  rpc/Cargo.toml
  rpc/src/rpc.rs
  rpc/src/rpc_pubsub.rs
  rpc/src/rpc_subscriptions.rs
  runtime/src/bank.rs
  runtime/src/builtins.rs
  runtime/src/genesis_utils.rs
  runtime/src/non_circulating_supply.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/stakes.rs
  runtime/tests/stake.rs
  sdk/program/src/lib.rs
  sdk/program/src/stake/config.rs
  sdk/program/src/stake/instruction.rs
  sdk/program/src/stake/mod.rs
  sdk/program/src/stake/state.rs
  stake-accounts/src/main.rs
  stake-accounts/src/stake_accounts.rs
  stake-monitor/Cargo.toml
  stake-monitor/src/lib.rs
  tokens/Cargo.toml
  tokens/src/commands.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_stake.rs
Labels: v1.7

#17990 Properly handle block_height in Bigtable bincode deserialization
  storage-bigtable/src/lib.rs
Labels: v1.7

#17992 v1.6: Properly handle block_height in Bigtable bincode deserialization
  storage-bigtable/src/lib.rs
Labels: automerge

#17988 refactor rebuild_bank_from_snapshots
  runtime/src/snapshot_utils.rs
Labels: v1.7

#17982 refactor generate_index process_storage_slot
  runtime/src/accounts_db.rs
Labels: v1.7

#17980 break out generate index reporting
  runtime/src/accounts_db.rs
Labels: v1.7

#18005 metrics: Don't unwrap client instantiation errors
  metrics/src/metrics.rs
Labels: automerge, v1.6, v1.7

#18016 Remove "synthetic" from sysvar definition
  docs/src/terminology.md
Labels: automerge

#18012 validator: run poh speed test earlier in start up
  core/src/validator.rs
Labels: automerge, v1.6, v1.7

#17993 accounts-cluster-bench, close all accounts in a sliding window
  accounts-cluster-bench/src/main.rs
Labels: v1.7

#18014 Clean up remove_all_authorized_voters()
  validator/src/admin_rpc_service.rs
Labels: v1.7

#18034 validator: expose max active pubsub subscriptions to CLI
  rpc/src/rpc_pubsub.rs
  rpc/src/rpc_pubsub_service.rs
  validator/src/main.rs
Labels: automerge, v1.6, v1.7

#17981 remove unused code
  runtime/src/accounts_db.rs
Labels: v1.7

#17983 generate_index timings
  runtime/src/accounts_db.rs
Labels: v1.7

#18021 introduce LockMapType for accounts_index
  runtime/src/accounts_index.rs
Labels: v1.7

#18052 chore: bump trees from 0.2.1 to 0.4.2
  Cargo.lock
  core/Cargo.toml
  core/src/consensus.rs
  core/src/heaviest_subtree_fork_choice.rs
  ledger/Cargo.toml
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
Labels: automerge

#18055 stake_program: Fix build issues downstream due to stake state shuffle
  programs/stake/src/stake_state.rs
Labels: v1.7

#18047 fix loader instruction checker
  sdk/program/src/bpf_loader_upgradeable.rs
Labels: v1.6, v1.7

#18071 Add additional subscription metrics
  rpc/src/rpc_pubsub.rs
Labels: automerge, v1.6, v1.7

#18077 Drop Error suffix from enum values to avoid the enum_variant_names clippy lint
  core/src/broadcast_stage.rs
  core/src/cluster_info_vote_listener.rs
  core/src/fetch_stage.rs
  core/src/result.rs
  core/src/retransmit_stage.rs
  core/src/serve_repair.rs
  core/src/sigverify_stage.rs
  core/src/verified_vote_packets.rs
  core/src/window_service.rs
  storage-bigtable/proto/google.bigtable.v2.rs
  storage-bigtable/src/bigtable.rs
  streamer/src/streamer.rs
Labels: automerge, v1.7

#18078 More nightly clippy fixes
  programs/bpf/rust/caller_access/src/lib.rs
  programs/bpf/rust/dup_accounts/src/lib.rs
  programs/bpf/rust/invoke_and_error/src/lib.rs
  programs/bpf/rust/invoke_and_ok/src/lib.rs
  programs/bpf/rust/invoke_and_return/src/lib.rs
Labels: v1.7

#18079 Bump bpf-tools version to 1.11
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#17987 refactor reconstruct_accountsdb_from_fields
  runtime/src/serde_snapshot.rs
Labels: v1.7

#18106 Fix build: clippy lint
  runtime/src/serde_snapshot.rs
Labels: CI

#18098 Add logging when RpcHealthStatus::Unknown
  rpc/src/rpc_health.rs
Labels: v1.7

#17802 eliminate flatten and sort in hash calculation
  runtime/src/accounts_db.rs
  runtime/src/accounts_hash.rs
Labels: v1.7

#17984 refactor generate_index_for_slot
  runtime/src/accounts_db.rs
Labels: v1.7

#18114 Move stake_weighted_timestamp module
  runtime/src/bank.rs
  runtime/src/lib.rs
  runtime/src/stake_weighted_timestamp.rs
  sdk/src/lib.rs
Labels: v1.6, v1.7

#17769 explorer: Add transaction inspector
  explorer/package-lock.json
  explorer/src/App.tsx
  explorer/src/components/Navbar.tsx
  explorer/src/components/SupplyCard.tsx
  explorer/src/components/TopAccountsCard.tsx
  explorer/src/components/account/StakeAccountSection.tsx
  explorer/src/components/account/StakeHistoryCard.tsx
  explorer/src/components/account/TokenHistoryCard.tsx
  explorer/src/components/account/UnknownAccountCard.tsx
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/components/block/BlockRewardsCard.tsx
  explorer/src/components/common/Account.tsx
  explorer/src/components/common/BalanceDelta.tsx
  explorer/src/components/instruction/InstructionCard.tsx
  explorer/src/components/instruction/stake/SplitDetailsCard.tsx
  explorer/src/components/instruction/stake/WithdrawDetailsCard.tsx
  explorer/src/components/instruction/system/CreateDetailsCard.tsx
  explorer/src/components/instruction/system/CreateWithSeedDetailsCard.tsx
  explorer/src/components/instruction/system/NonceWithdrawDetailsCard.tsx
  explorer/src/components/instruction/system/TransferDetailsCard.tsx
  explorer/src/components/instruction/system/TransferWithSeedDetailsCard.tsx
  explorer/src/components/transaction/InstructionsSection.tsx
  explorer/src/pages/TransactionDetailsPage.tsx
  explorer/src/pages/inspector/AccountsCard.tsx
  explorer/src/pages/inspector/AddressWithContext.tsx
  explorer/src/pages/inspector/InspectorPage.tsx
  explorer/src/pages/inspector/InstructionsSection.tsx
  explorer/src/pages/inspector/RawInputCard.tsx
  explorer/src/pages/inspector/SignaturesCard.tsx
  explorer/src/pages/inspector/SimulatorCard.tsx
  explorer/src/providers/accounts/index.tsx
  explorer/src/providers/transactions/index.tsx
  explorer/src/providers/transactions/parsed.tsx
  explorer/src/providers/transactions/raw.tsx
  explorer/src/scss/_solana.scss
  explorer/src/utils/index.tsx
  explorer/src/utils/url.ts
Labels: automerge

#18101 Use newly stabilized Duration methods/consts
  runtime/src/stake_weighted_timestamp.rs
  sdk/src/arithmetic.rs
  sdk/src/lib.rs
Labels: automerge

#18124 explorer: increase color contrast
  explorer/src/App.tsx
  explorer/src/scss/_solana-dark-overrides.scss
  explorer/src/scss/_solana-variables-dark.scss
Labels: automerge

#18128 Enable previously flaky optimistic detection local cluster test
  local-cluster/tests/local_cluster.rs
Labels: v1.7

#18122 Docs val net reqs
  docs/src/running-validator/validator-reqs.md
Labels: automerge, v1.7

#18132 ci: isolate release builds
  ci/buildkite-secondary.yml
Labels: automerge, v1.7

#18144 correctly calculate hash_total for hash/lamport calculation
  runtime/src/accounts_hash.rs
Labels: v1.7

#18125 Update sysvar docs
  docs/src/developing/runtime-facilities/sysvars.md
Labels: v1.7

#18110 apply 'debug_do_not_add_builtins' to feature activations
  runtime/src/bank.rs
Labels: v1.7

#18118 capture sort time in hash calculation
  runtime/src/accounts_db.rs
Labels: v1.7

#18102 Removed unused purged_slots in purge_older_root_entries
  runtime/src/accounts_index.rs
Labels: v1.7

#17302 Chore: remove dead code
  sdk/program/src/pubkey.rs
Labels: community, v1.6, v1.7

#18156 Add metrics for rpc send-transaction failures
  rpc/src/rpc.rs
Labels: v1.6, v1.7

#18165 ci: fix release build agent targeting
  ci/buildkite-secondary.yml
Labels: automerge

#18166 ci: isolate release builds
  ci/buildkite-secondary.yml
Labels: automerge

#18155 add min/max bin size metrics to hash calculation
  runtime/src/accounts_hash.rs
Labels: v1.7

#18154 Add sdk and program READMEs
  sdk/Cargo.toml
  sdk/README.md
  sdk/program/Cargo.toml
  sdk/program/README.md
Labels: automerge, v1.7

#18192 DOCS: Update leader-rotation.md
  docs/src/cluster/leader-rotation.md
Labels: automerge, community, v1.7

#18191 Update README.md
  README.md
Labels: community, v1.6, v1.7

#18135 feat: support rpc method getSignaturesByAddress
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community

#18200 rework dirty_pubkeys from insert_new_if_missing_into_primary_index
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.7

#18209 Explorer: additional serum instructions
  explorer/src/components/instruction/serum/types.ts
Labels: automerge

#18184 untar in parallel
  runtime/src/hardened_unpack.rs
  runtime/src/snapshot_utils.rs
Labels: v1.7

#18196 remove unnecessary copies from accounts index code paths
  runtime/src/accounts_index.rs
Labels: v1.7

#18211 Revert "Clean up build warning"
  core/src/validator.rs
Labels: v1.6, v1.7

#18202 metric for accounts index insertion time
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.7

#18198 replace account index bulk insert with iterator
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: v1.7

#18234 Added notes to running validator documentation to ensure that 'exec' …
  docs/src/running-validator/validator-start.md
Labels: automerge, community, v1.7

#18230 Bump borsh from 0.8.1 to 0.9.0
  Cargo.lock
  banks-client/Cargo.toml
  programs/bpf/Cargo.lock
  sdk/program/Cargo.toml
Labels: v1.6

#18229 More detailed voting timings in replay stage
  core/src/replay_stage.rs
Labels: v1.6, v1.7

#17580 Zelcore wallet support for SOL/SPLs info added
  docs/src/wallet-guide/apps.md
Labels: automerge, community, v1.7

#18248 cli: Only print Foundation inflation rate if it is greater than 0
  cli-output/src/cli_output.rs
Labels: v1.7

#18221 Don't update if already an executable
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/lib.rs
  programs/bpf/tests/programs.rs
  runtime/src/message_processor.rs
Labels: v1.6, v1.7

#18257 feat: add filters support to the connection.onProgramAccountChange method
  web3.js/src/connection.ts
Labels: community

#18240 reduce pubkey copies on insert path
  runtime/src/accounts_index.rs
Labels: v1.7

#18278 Ignore flaky optimistic-confirmation local-cluster tests
  local-cluster/tests/local_cluster.rs
Labels: automerge, v1.7

#18258 Cli epoch-info: generate epoch-completed time from block times
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: v1.6, v1.7

#18283 Docs expose Transaction v2 proposal
  docs/sidebars.js
Labels: automerge, v1.7

#18281 tx-status: Don't assume a memo instruction succeeded
  transaction-status/src/parse_instruction.rs
Labels: v1.6, v1.7

#18159 Test coverage for unrooted slots and cleaning zero lamport accounts
  runtime/src/accounts_db.rs
Labels: v1.7

#18241 Cleanup ReplayStage test replay_blockstore_components()
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: v1.7

#18307 debug logs when crds table trim failed
  gossip/src/cluster_info.rs
  gossip/src/cluster_info_metrics.rs
  gossip/src/crds.rs
Labels: v1.7

#18310 refactor untar_snapshot_in to push parallelism deeper for further refactoring
  runtime/src/snapshot_utils.rs
Labels: v1.7

#18311 Use timeout to allow RpcClient to retry initial transaction confirmation
  cli/src/cli.rs
  cli/src/main.rs
  client/src/rpc_client.rs
Labels: automerge, v1.6, v1.7

#18291 test-validator: hold rent constant with `--slots-per-epoch`
  core/src/test_validator.rs
  sdk/program/src/rent.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.6, v1.7

#18082 Add repair and recovered metrics per slot
  core/src/window_service.rs
  ledger/src/blockstore.rs
Labels: v1.7

#18304 Fail simulation if transaction contains duplicate accounts
  runtime/src/bank.rs
Labels: v1.7

#18314 Fixed an issue doing the set_roots repeatedly for the same set.
  ledger/src/blockstore.rs
Labels: v1.6, v1.7

#18335 Document slotsUpdates
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.7

#18330 `solana validators` output now includes average skip rate
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.6, v1.7
