Repository solana-labs/solana, pull requests merged in 2022-03, with the labels that each got.

#23386 docs: resolve svgbob binary
  docs/convert-ascii-to-svg.sh
Labels: v1.9

#23382 Allow sub-rent-exempt-minimum transfers to `1nc1nerator`
  runtime/src/account_rent_state.rs
  runtime/src/bank.rs
Labels: v1.9

#23403 Improve UX querying rpc for blocks at or before the snapshot from boot
  ledger/src/blockstore.rs
  rpc/src/rpc.rs
Labels: v1.9

#23419 fix(explorer): rollback ping until api is more stable
  explorer/src/pages/ClusterStatsPage.tsx
  explorer/src/providers/stats/index.tsx
Labels: automerge

#23056 Refactor: Remove `KeyedAccount`
  programs/bpf_loader/src/lib.rs
Labels: work in progress

#23327 Fix a batch limits bug in banking
  core/src/banking_stage.rs
Labels: community

#22975 Small optimization
  core/src/progress_map.rs
Labels: stale, community

#23439 Restore solana-test-validator informational output
  validator/src/lib.rs
Labels: v1.9

#23445 fix(explorer): remove purple from ping
  explorer/src/components/SolanaPingCard.tsx
Labels: automerge

#22797 Adds comments related to the public RPC endpoints
  docs/src/cluster/rpc-endpoints.md
Labels: automerge, community, v1.9

#22679 feat: add getMultipleAccountsInfoAndContext method to Connection
  web3.js/src/connection.ts
Labels: community

#23100 Add Copy/Eq derive traits to SlotStatus in accountsdb-plugin
  accountsdb-plugin-interface/src/accountsdb_plugin_interface.rs
  accountsdb-plugin-manager/src/slot_status_notifier.rs
Labels: community

#23463 fix(explorer): change title to average ping time
  explorer/src/components/SolanaPingCard.tsx
Labels: automerge

#23037 Rename `AccountsDataMeter::consume`
  program-runtime/src/accounts_data_meter.rs
  program-runtime/src/invoke_context.rs
Labels: community

#23159 fix recycler free stat report
  perf/src/recycler.rs
Labels: community

#23490 [Explorer] Adding Verified On-chain Collection Support
  explorer/src/components/account/MetaplexNFTHeader.tsx
  explorer/src/components/account/TokenAccountSection.tsx
Labels: community

#23501 rename status filename to be consistent
  core/src/snapshot_packager_service.rs
  core/tests/snapshots.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#23504 Fix broken doc links in solana-runtime
  runtime/src/block_cost_limits.rs
Labels: automerge, community, v1.9

#23513 Optional Cli parameter to add additional-fee to solana ping
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: automerge

#23518 Fix getting the golden snapshot hashes during bootstrap with Incremental Snapshots
  validator/src/bootstrap.rs
Labels: bug, v1.9

#22425 Update 'borsh' dependency to v0.7.0
  web3.js/package-lock.json
  web3.js/package.json
Labels: community

#23502 `solana-validator set-identity` no longer writes a tower file unnecessarily
  core/src/replay_stage.rs
  validator/src/admin_rpc_service.rs
Labels: v1.9

#23553 explorer: format Instructions title as singular/plural
  explorer/src/components/transaction/InstructionsSection.tsx
Labels: community

#23561 Continue making it possible to implement RpcSender
  client/src/lib.rs
  client/src/nonblocking/rpc_client.rs
Labels: community

#23498 Fix MetaplexNFTHeader for unverified collection
  explorer/src/components/account/MetaplexNFTHeader.tsx
Labels: community

#23567 Set ordering flushing_active.swap() to AcqRel
  runtime/src/in_mem_accounts_index.rs
Labels: automerge

#23503 Fix broken links in solana-client
  client/src/nonblocking/rpc_client.rs
  client/src/rpc_client.rs
  client/src/rpc_sender.rs
Labels: community

#23549 Report banking metrics even if slot begins and ends in process_buffered_packets()
  core/src/banking_stage.rs
Labels: v1.9

#23574 Fix error message typo
  sdk/program/src/pubkey.rs
Labels: automerge, community

#23508 leader-qos part 1: move buffer from banking_stage to its own module
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/lib.rs
  core/src/unprocessed_packet_batches.rs
Labels: automerge

#23584 fix: rename wasm_bindgen init function to avoid collision with Rust based frontend framework
  sdk/program/package.json
  sdk/program/src/wasm/mod.rs
  sdk/program/tests/hash.mjs
  sdk/program/tests/pubkey.mjs
  sdk/tests/keypair.mjs
  sdk/tests/transaction.mjs
Labels: community

#23551 explorer: add Pyth instruction support
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/instruction/pyth/AddMappingDetailsCard.tsx
  explorer/src/components/instruction/pyth/AddPriceDetailsCard.tsx
  explorer/src/components/instruction/pyth/AddProductDetailsCard.tsx
  explorer/src/components/instruction/pyth/AggregatePriceDetailsCard.tsx
  explorer/src/components/instruction/pyth/BasePublisherOperationCard.tsx
  explorer/src/components/instruction/pyth/InitMappingDetailsCard.tsx
  explorer/src/components/instruction/pyth/InitPriceDetailsCard.tsx
  explorer/src/components/instruction/pyth/PythDetailsCard.tsx
  explorer/src/components/instruction/pyth/SetMinPublishersDetailsCard.tsx
  explorer/src/components/instruction/pyth/UpdatePriceDetailsCard.tsx
  explorer/src/components/instruction/pyth/UpdateProductDetailsCard.tsx
  explorer/src/components/instruction/pyth/program.ts
  explorer/src/components/instruction/pyth/types.ts
  explorer/src/components/transaction/InstructionsSection.tsx
Labels: community

#23579 Feat: add getEstimatedFee to Transaction
  web3.js/src/transaction.ts
  web3.js/test/transaction.test.ts
Labels: community

#23531 Add more logs to `purge_old_snapshot_archives`
  runtime/src/snapshot_utils.rs
Labels: community

#23537 Banking Stage drops transactions that'll exceed the total account data size limit
  core/src/banking_stage.rs
  core/src/qos_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/block_cost_limits.rs
  runtime/src/cost_tracker.rs
  sdk/src/transaction/error.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: automerge, v1.9

#23634 ledger-tool: Pin histogram crate version to fix cargo publish
  ledger-tool/Cargo.toml
Labels: v1.8, v1.9

#23630 Fix typo retring -> retrying
  web3.js/src/connection.ts
Labels: community

#23485 Add space for keys in calculation for rent exempt in `process_set_validator_info`
  cli/src/validator_info.rs
Labels: community, v1.9

#23415 docs: add web3 source docs copy
  docs/src/developing/clients/javascript-api.md
  docs/src/developing/clients/javascript-reference.md
Labels: community

#23604 Rename AccountsDb plugins to Geyser plugins
  Cargo.lock
  Cargo.toml
  accountsdb-plugin-interface/README.md
  accountsdb-plugin-interface/src/lib.rs
  core/Cargo.toml
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  docs/sidebars.js
  docs/src/developing/backwards-compatibility.md
  docs/src/developing/plugins/geyser-plugins.md
  geyser-plugin-interface/Cargo.toml
  geyser-plugin-interface/README.md
  geyser-plugin-interface/src/geyser_plugin_interface.rs
  geyser-plugin-interface/src/lib.rs
  geyser-plugin-manager/Cargo.toml
  geyser-plugin-manager/src/accounts_update_notifier.rs
  geyser-plugin-manager/src/block_metadata_notifier.rs
  geyser-plugin-manager/src/block_metadata_notifier_interface.rs
  geyser-plugin-manager/src/geyser_plugin_manager.rs
  geyser-plugin-manager/src/geyser_plugin_service.rs
  geyser-plugin-manager/src/lib.rs
  geyser-plugin-manager/src/slot_status_notifier.rs
  geyser-plugin-manager/src/slot_status_observer.rs
  geyser-plugin-manager/src/transaction_notifier.rs
  local-cluster/src/validator_configs.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_db/geyser_plugin_utils.rs
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: v1.9

#23660 Add Swim Swap Program to known addresses
  explorer/src/utils/tx.ts
Labels: community

#22925 docs: update sysvar docs for load_instruction_at_checked
  docs/src/implemented-proposals/instruction_introspection.md
Labels: community, v1.9

#23680 Update InvalidRentPayingAccount variant and message
  sdk/src/transaction/error.rs
Labels: v1.9

#23701 Fix duplicate account translation in CPI
  program-runtime/src/invoke_context.rs
  programs/bpf_loader/src/syscalls.rs
Labels: automerge

#23716 Pin version for publish cargo-check
  ci/publish-crate.sh
Labels: v1.9

#23714 Add accounts_data_len to bank snapshot
  runtime/src/bank.rs
  runtime/src/serde_snapshot/newer.rs
  runtime/src/serde_snapshot/tests.rs
Labels: v1.9

#23761 validator: `--only-known-rpc` requires a `--known-validator ...`
  validator/src/main.rs
Labels: automerge, v1.9

#23363 Add crate docs for solana-program
  sdk/program/src/lib.rs
  sdk/program/src/log.rs
  sdk/program/src/sysvar/mod.rs
Labels: community

#23624 Improve correctness of Rust-side type definitions for C invoke syscall
  programs/bpf_loader/src/syscalls.rs
Labels: community

#23776 Fix stake state docs typo
  docs/src/developing/clients/javascript-reference.md
Labels: community, v1.9

#23786 Fix typo in processor.rs
  programs/bpf/rust/invoke/src/processor.rs
Labels: community

#23788 Add ability to get the latest incremental snapshot via RPC
  rpc/src/rpc_service.rs
Labels: community, v1.9, v1.10

#23618 Add get_confirmed_blocks_with_data method
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
Labels: community

#23719 Expose rpcEndpoint in Connection for web3.js
  web3.js/src/connection.ts
Labels: community

#23499 solana explorer: render program name, ix name, and account names from on chain idl for specific anchor programs
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/instruction/GenericAnchorDetails.tsx
  explorer/src/components/instruction/anchor/types.ts
  explorer/src/components/transaction/InstructionsSection.tsx
Labels: community

#23109 add type-check script to web3.js pacakge
  web3.js/.travis/script.sh
  web3.js/package.json
  web3.js/src/connection.ts
  web3.js/tsconfig.json
Labels: community

#23894 feat(explorer): solana ping set minBarHeight
  explorer/src/components/SolanaPingCard.tsx
Labels: automerge

#23880 Revert transient dependency bumps from c4ecfa5
  Cargo.lock
  programs/bpf/Cargo.lock
  storage-bigtable/build-proto/Cargo.lock
Labels: automerge

#23897 chore: Upgrade buffer-layout package in web3.js
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/yarn.lock
Labels: community

#23492 Make find_program_address client example runnable
  sdk/program/src/example_mocks.rs
  sdk/program/src/pubkey.rs
Labels: community, v1.10

#23911 Fix example mock Signer API in solana-program
  sdk/program/src/example_mocks.rs
  sdk/program/src/message/legacy.rs
Labels: community, v1.10

#23912 cli: `vote-authorize-voter` now accepts either the vote or withdraw authority
  cli/src/stake.rs
  cli/src/vote.rs
Labels: v1.10

#23921 fix: repair web3 connection tests by making fewer assumptions about the existence of particular blocks
  web3.js/test/connection.test.ts
  web3.js/yarn.lock
Labels: community

#23925 fix: thread `enforce_ulimit_nofile` config down when opening blockstore
  core/src/validator.rs
Labels: community

#23929 ci: don't allow mergify to add automerge label to merged PRs
  .mergify.yml
Labels: automerge, v1.9, v1.10

#23300 feat: adds getBlockProduction RPC call
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community

#23924 Update Version CrdsData on node identity changes
  gossip/src/cluster_info.rs
Labels: v1.9, v1.10

#23960 Document APIs related to durable transaction nonces.
  Cargo.lock
  client/Cargo.toml
  client/src/nonce_utils.rs
  sdk/program/src/example_mocks.rs
  sdk/program/src/nonce/mod.rs
  sdk/program/src/nonce/state/current.rs
  sdk/program/src/nonce/state/mod.rs
  sdk/program/src/system_instruction.rs
Labels: community

#24008 Use Rent sysvar directly for stake split instruction
  program-runtime/src/invoke_context.rs
  programs/bpf_loader/src/lib.rs
  programs/config/src/config_processor.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  programs/vote/src/vote_processor.rs
  runtime/src/system_instruction_processor.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#23995 feat: parse and display Security.txt in explorer
  explorer/src/components/account/SecurityCard.tsx
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/components/common/SecurityTXTBadge.tsx
  explorer/src/pages/AccountDetailsPage.tsx
  explorer/src/scss/_solana.scss
  explorer/src/utils/security-txt.ts
Labels: community

#24018 Make tpu_use_quic a flag only without argument
  validator/src/main.rs
Labels: v1.10
