Repository solana-labs/solana, pull requests merged in 2022-07, with the labels that each got.

#26299 Implement randomized pruning of QUIC connection from staked peers
  Cargo.lock
  core/src/staked_nodes_updater_service.rs
  programs/bpf/Cargo.lock
  streamer/Cargo.toml
  streamer/src/nonblocking/quic.rs
  streamer/src/quic.rs
  streamer/src/streamer.rs
Labels: v1.10

#26345 Update connection.ts, maxRetries no longer strips
  web3.js/src/connection.ts
Labels: community

#26347 BigtableUploadService: recheck first_available_block
  ledger/src/bigtable_upload_service.rs
Labels: v1.10

#26373 fix: `getPerformanceSamples` no longer breaks when the connection has a default commitment
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: bug, automerge, javascript

#26415 Missing privkey, add 2nd feature key
  sdk/src/feature_set.rs
  sdk/src/secp256k1_instruction.rs
Labels: v1.10

#25404 Add `get_confirmed_transactions` to `storage-bigtable`
  storage-bigtable/src/lib.rs
Labels: automerge, community

#26392 add 2nd pass at hash calc when failure seen
  core/src/accounts_hash_verifier.rs
Labels: v1.10

#25406 forward packets by prioritization in desc order
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/benches/unprocessed_packet_batches.rs
  core/src/banking_stage.rs
  core/src/forward_packet_batches_by_accounts.rs
  core/src/leader_slot_banking_stage_metrics.rs
  core/src/leader_slot_banking_stage_timing_metrics.rs
  core/src/lib.rs
  core/src/tpu.rs
  core/src/unprocessed_packet_batches.rs
  runtime/src/cost_tracker.rs
Labels: v1.10

#26440 Clean up `max_tx_account_locks` feature
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/transaction/sanitized.rs
Labels: automerge

#26445 Clean up `nonce_must_be_authorized` feature
  runtime/src/bank.rs
Labels: automerge

#26446 Clean up `nonce_must_be_advanceable` feature
  runtime/src/bank.rs
Labels: automerge

#26447 Clean up `leave_nonce_on_success` feature
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge

#26016 Parse snapshot for bank fields
  runtime/src/bank.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/newer.rs
  runtime/src/serde_snapshot/storage.rs
  runtime/src/snapshot_utils.rs
Labels: v1.10

#26479 preserves rent_epoch for rent exempt accounts
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/expected_rent_collection.rs
  runtime/src/rent_collector.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#26498 Make documentation and examples more prominent in README
  web3.js/README.md
Labels: community

#26501 cleanup feature: quick_bail_on_panic
  programs/bpf_loader/src/syscalls.rs
Labels: automerge

#26521 update `scripts/cargo-fmt.sh` to reflect changes in 9425478
  scripts/cargo-fmt.sh
Labels: automerge

#25914 Nicholasgodfreyclarke/log message bytes from cli
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  ledger/src/blockstore_processor.rs
  multinode-demo/bootstrap-validator.sh
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
  runtime/src/runtime_config.rs
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: community

#26512 Remove sender stakes from banking_stage buffer prioritization
  core/src/unprocessed_packet_batches.rs
Labels: v1.10

#26499 Support for returnData in simulate transaction
  web3.js/src/connection.ts
  web3.js/test/bpf-loader.test.ts
  web3.js/test/connection.test.ts
  web3.js/test/fixtures/noop-program/solana_bpf_rust_noop.so
  web3.js/test/fixtures/noop-program/src/lib.rs
Labels: community

#26560 clean up and optimize account hash verify
  core/src/accounts_hash_verifier.rs
  core/src/snapshot_packager_service.rs
  runtime/src/snapshot_package.rs
Labels: automerge

#26591 Refactor: add account_iter api for appendvec
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
  runtime/src/snapshot_minimizer.rs
Labels: automerge

#26604 fix: fork `URL` and `fetch` for React Native in web3.js
  web3.js/package.json
  web3.js/rollup.config.js
  web3.js/src/__forks__/react-native/fetch-impl.ts
  web3.js/src/connection.ts
  web3.js/src/util/__forks__/react-native/url-impl.ts
  web3.js/src/util/makeWebsocketUrl.ts
  web3.js/src/util/url-impl.ts
  web3.js/yarn.lock
Labels: enhancement, javascript

#26600 Prevent cargo from running a non-BPF compiler for BPF target
  ci/test-stable.sh
  sdk/cargo-build-sbf/src/main.rs
Labels: automerge

#26587 Set solana-tpu ALPN protocol ID
  client/src/nonblocking/quic_client.rs
  streamer/src/nonblocking/quic.rs
  streamer/src/quic.rs
Labels: community

#26469 Address Lookup Table Program Web3 Bindings
  web3.js/src/address-lookup-table-program.ts
  web3.js/src/index.ts
  web3.js/src/layout.ts
  web3.js/test/address-lookup-table-program.test.ts
Labels: community

#26611 Issue a warning about removing RUSTC from cargo env by build-sbf
  sdk/cargo-build-sbf/src/main.rs
Labels: automerge

#26598 Fix sol_memset to return the correct value.
  sdk/bpf/c/inc/sol/string.h
Labels: community

#26529 test-validator: use or skip ADDRESS value from account flag
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
Labels: community

#26654 Disable JIT bpf program tests on non x86 archs
  programs/bpf/tests/programs.rs
Labels: automerge

#26638 Add RPC getStakeMinimumDelegation
  client/src/mock_sender.rs
  client/src/nonblocking/rpc_client.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
  docs/src/developing/clients/jsonrpc-api.md
  programs/bpf/Cargo.lock
  rpc/Cargo.toml
  rpc/src/rpc.rs
Labels: automerge

#26662 docs: fix typo in blockstore-rocksdb-compaction.md
  docs/src/proposals/blockstore-rocksdb-compaction.md
Labels: community

#26525 sdk/bpf/c: fix sol_get_return_data signature
  sdk/bpf/c/inc/sol/return_data.h
Labels: community

#26674 Add helper fn to create shared buffer - simplify archive format matching
  runtime/src/snapshot_utils.rs
Labels: automerge

#26686 untar_snapshot_create_shared_buffer doesn't need to return a result
  runtime/src/snapshot_utils.rs
Labels: automerge

#26630 Cap the number of accounts passed to a bpf program ix
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  rbpf-cli/src/main.rs
  runtime/src/bank.rs
  sdk/program/src/entrypoint.rs
  sdk/program/src/instruction.rs
  sdk/src/feature_set.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: feature-gate

#26693 Fix merge conflict in program-test
  program-test/src/lib.rs
Labels: automerge

#26684 cleanup feature: default units per instruction
  core/src/transaction_priority_details.rs
  program-runtime/src/compute_budget.rs
  runtime/src/bank.rs
Labels: automerge

#26721 Add comment for forwarder buffer iteration behavior
  core/src/banking_stage.rs
Labels: automerge

#26704 cli: Use CliBalance for `solana stake-minimum-delegation` output
  cli/src/stake.rs
Labels: automerge

#26717 cli: Use CliBalance for `solana balance` output
  cli/src/wallet.rs
Labels: automerge

#26728 Update maxSupportedTransactionVersion docs to explain what happens if parameter isn't present
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.10

#26731 fix: add `maxSupportedTransactionVersion` config to remaining `getTransaction` calls
  web3.js/src/connection.ts
Labels: automerge, javascript

#26682 feat(web3.js): add support for get stake minimum delegation
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
  web3.js/test/stake-program.test.ts
Labels: community

#26732 fix: use `maxSupportedTransactionVersion` param when getting raw transactions in Explorer
  explorer/package-lock.json
  explorer/package.json
  explorer/src/providers/transactions/raw.tsx
Labels: automerge, javascript

#26667 `solana-ledger-tool graph` improvements
  ledger-tool/src/main.rs
Labels: v1.10

#26727 Hide vote txs that don't invoke any other programs like the comment says
  explorer/src/components/block/BlockHistoryCard.tsx
Labels: community

#26653 Loosen CPI restrictions and charge compute for ix data len
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/instructions.rs
  programs/bpf/rust/invoke/src/processor.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/bpf_loader/src/syscalls/mod.rs
  sdk/bpf/c/inc/sol/cpi.h
  sdk/program/src/lib.rs
  sdk/program/src/syscalls/definitions.rs
  sdk/program/src/syscalls/mod.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#26759 Support spl-token-2022 properly in pre-/postTokenBalances
  transaction-status/src/token_balances.rs
Labels: v1.10

#26771 Add Bank::update_accounts_data_size_delta_off_chain_for_tests()
  runtime/src/bank.rs
Labels: automerge

#26398 bigtable: set_nodelay for http connector
  storage-bigtable/src/bigtable.rs
Labels: community

#26751 fix: match wallet + dapp ordering with ft metadata on Explorer
  explorer/src/pages/AccountDetailsPage.tsx
Labels: community

#26783 Add Display implementations for various ConfidentialTransfer pod structs
  zk-token-sdk/src/zk_token_elgamal/pod.rs
Labels: v1.10

#26786 Add feature gate to use default units per instruction for fee calculation
  programs/bpf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: automerge

#25934 Only take the latest vote for each validator in gossip
  core/src/cluster_info_vote_listener.rs
  core/src/verified_vote_packets.rs
Labels: feature-gate

#26800 explorer falls back to token list when uri is blank and tokenDetails exists
  explorer/src/pages/AccountDetailsPage.tsx
Labels: community

#26807 Fix typo: contirbutor to contributor
  sdk/src/feature_set.rs
Labels: automerge

#26616 Compact vote state updates to reduce block size
  core/src/consensus.rs
  core/src/replay_stage.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_processor.rs
  runtime/src/vote_parser.rs
  sdk/src/feature_set.rs
  transaction-status/src/parse_vote.rs
Labels: feature-gate

#26817 [docs] added prettier config file
  docs/.prettierrc.json
Labels: community

#26845 Make it clear that `minContextSlot` in `sendTransaction` affects _preflight_ checks
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.10

#26833 sign repair requests
  core/src/ancestor_hashes_service.rs
  core/src/repair_service.rs
  core/src/serve_repair.rs
  core/src/shred_fetch_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  dos/src/main.rs
  gossip/src/ping_pong.rs
  ledger/src/shred/stats.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#26054 rbpf-cli: capture log
  rbpf-cli/src/main.rs
Labels: stale, community
