Repository solana-labs/solana, pull requests merged in 2022-01, with the labels that each got.

#22216 Bumps solana_rbpf to version v0.2.21
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  rbpf-cli/Cargo.toml
Labels: automerge

#22217 Bumps solana_rbpf to version v0.2.21 (backport #22216)
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  rbpf-cli/Cargo.toml
Labels: automerge

#22218 Bumps solana_rbpf to version v0.2.21 (backport #22216)
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
Labels: automerge

#22230 Refactor: cleanup solana_transaction_status crate
  cli/src/wallet.rs
  client/src/mock_sender.rs
  client/src/rpc_client.rs
  ledger-tool/src/bigtable.rs
  ledger/src/blockstore.rs
  programs/bpf/tests/programs.rs
  rpc/src/rpc.rs
  sdk/program/src/message/mod.rs
  storage-bigtable/src/lib.rs
  transaction-status/src/lib.rs
Labels: automerge

#22237 docs: Remove Xargo.toml reference
  docs/src/developing/on-chain-programs/developing-rust.md
Labels: automerge, v1.9

#22240 Fix token-balance owner type in docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.9

#22221 Prevent lookup tables from being closed during deactivation slot
  programs/address-lookup-table-tests/tests/close_lookup_table_ix.rs
  programs/address-lookup-table/src/processor.rs
  programs/address-lookup-table/src/state.rs
Labels: v1.9

#22225 Add error specific timings in per-program metrics logging
  core/src/cost_update_service.rs
  core/src/progress_map.rs
  program-runtime/src/timings.rs
Labels: v1.8, v1.9

#22253 ci/upload-ci-artifact.sh: Use experimential docker virtualization framework for arm64
  ci/upload-ci-artifact.sh
Labels: v1.9

#22117 chore: add encoding param to getMultipleAccounts
  web3.js/src/connection.ts
Labels: community

#22146 chore: add owner to token balance type
  web3.js/src/connection.ts
Labels: community

#22201 Limit number of accounts that a transaction can lock
  accountsdb-plugin-postgres/src/postgres_client/postgres_client_transaction.rs
  rpc/src/transaction_status_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/program/src/message/sanitized.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/error.rs
  sdk/src/transaction/sanitized.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: v1.9

#22262 Documentation typos
  docs/src/developing/on-chain-programs/developing-c.md
Labels: automerge, community, v1.9

#22269 docs: Updates to the address lookup table proposal
  docs/src/proposals/transactions-v2.md
Labels: automerge, v1.9

#22210 Lower vote-only-mode to 400 slots
  core/src/replay_stage.rs
Labels: v1.8, v1.9

#22279 README: Remove obsolete M1 setup information
  README.md
Labels: automerge

#22282 docs: Fix typo in proposal
  docs/src/proposals/transactions-v2.md
Labels: automerge, v1.9

#22291 Fix CONTRIBUTING wording
  CONTRIBUTING.md
Labels: automerge, community

#22281 fix(rpc): recreate dead and uncleaned subscriptions
  rpc/src/rpc_subscription_tracker.rs
Labels: community, v1.8, v1.9

#22295 Split up local cluster tests into separate CI steps
  ci/buildkite-pipeline.sh
  ci/run-local.sh
  ci/test-local-cluster-flakey.sh
  ci/test-local-cluster-slow.sh
  ci/test-stable.sh
  local-cluster/src/local_cluster.rs
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  local-cluster/tests/local_cluster_flakey.rs
  local-cluster/tests/local_cluster_slow.rs
Labels: automerge, v1.8, v1.9

#22300 perf: skip updating already cached executors if unmodified
  program-runtime/src/invoke_context.rs
  runtime/src/bank.rs
Labels: v1.8, v1.9

#22309 Only sum accounts data len from non-zero lamport accounts
  runtime/src/accounts_db.rs
Labels: automerge, v1.9

#22319 docs: Update default --dynamic-port-range values to include some room for additional ports that may be added in the future
  docs/src/clusters.md
  docs/src/running-validator/validator-start.md
Labels: v1.9

#22308 cache executors on failed transactions
  program-runtime/src/invoke_context.rs
  programs/bpf_loader/src/lib.rs
  runtime/src/bank.rs
Labels: v1.8, v1.9

#22324 Remove erroneous `dbg!()`
  program-runtime/src/invoke_context.rs
Labels: automerge

#22322 Retain executor cache counts
  runtime/src/bank.rs
Labels: v1.8, v1.9

#22350 explorer: fix missing logs error for old transactions
  explorer/src/components/transaction/ProgramLogSection.tsx
  explorer/src/pages/inspector/SimulatorCard.tsx
  explorer/src/utils/program-logs.ts
Labels: automerge

#22223 Add runtime support for address table lookups
  accountsdb-plugin-postgres/scripts/create_schema.sql
  accountsdb-plugin-postgres/src/postgres_client/postgres_client_transaction.rs
  core/src/banking_stage.rs
  ledger/src/blockstore/blockstore_purge.rs
  programs/address-lookup-table/src/state.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/program/src/message/sanitized.rs
  sdk/program/src/message/versions/mod.rs
  sdk/program/src/message/versions/v0/loaded.rs
  sdk/src/transaction/error.rs
  sdk/src/transaction/sanitized.rs
  sdk/src/transaction/versioned.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: v1.9

#22310 Cleanup ledger-tool analyze-storage command
  ledger-tool/src/main.rs
Labels: v1.9

#22261 ci/buildkite-secondary.yml: Add aarch64-apple-darwin publish tarball step
  ci/buildkite-secondary.yml
Labels: v1.8, v1.9

#22332 Executor cache metrics
  runtime/src/bank.rs
Labels: v1.8, v1.9

#21724 feat: use deterministic writeable account order
  web3.js/src/transaction.ts
  web3.js/test/transaction.test.ts
Labels: community

#22370 Remove per program timings from blockstore processor ledger replay
  ledger/src/blockstore_processor.rs
Labels: v1.8, v1.9

#22333 Executor cache count primer
  runtime/src/bank.rs
Labels: automerge, v1.8, v1.9

#22365 improve multi executor cache addition
  runtime/src/bank.rs
Labels: v1.8, v1.9

#22377 add excutor creation trace timings
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/lib.rs
Labels: automerge

#22385 Clarify docs of `minimum_balance`
  sdk/program/src/rent.rs
Labels: community, v1.9

#22392 bank: fix executor cache metrics
  runtime/src/bank.rs
Labels: automerge, v1.8, v1.9

#22394 wrap create executor timings datapoint in a module
  programs/bpf_loader/src/lib.rs
Labels: automerge, v1.8, v1.9

#22128 web3.js: add Connection.getFeeForMessage
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community

#22292 Prevent rent-paying account creation
  Cargo.lock
  accountsdb-plugin-postgres/scripts/create_schema.sql
  accountsdb-plugin-postgres/src/postgres_client/postgres_client_transaction.rs
  cli/tests/nonce.rs
  cli/tests/request_airdrop.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  cli/tests/vote.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  program-test/tests/warp.rs
  programs/bpf/Cargo.lock
  rpc-test/tests/rpc.rs
  rpc/src/rpc.rs
  runtime/Cargo.toml
  runtime/src/account_rent_state.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/bank/transaction_account_state_info.rs
  runtime/src/lib.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/error.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: v1.9

#22408 Remove unnecessary var in banking_stage bench
  core/benches/banking_stage.rs
Labels: community

#22438 Update docs vis-a-vis prohibition of RentPaying accounts
  docs/src/developing/programming-model/accounts.md
  docs/src/integrations/exchange.md
Labels: automerge, v1.9

#22448 Refactor: move sysvar cache to new module
  Cargo.lock
  program-runtime/Cargo.toml
  program-runtime/src/invoke_context.rs
  program-runtime/src/lib.rs
  program-runtime/src/sysvar_cache.rs
  programs/bpf/Cargo.lock
  programs/bpf_loader/src/syscalls.rs
  programs/stake/src/stake_instruction.rs
  programs/vote/src/vote_instruction.rs
  runtime/src/bank.rs
  runtime/src/bank/sysvar_cache.rs
  runtime/src/message_processor.rs
Labels: v1.8, v1.9

#22444 Fetch sysvars from invoke context for vote program
  programs/vote/src/vote_instruction.rs
  sdk/src/keyed_account.rs
Labels: v1.8, v1.9

#22465 downgrade individual per-program-timing to trace to reduce writes to influx
  core/src/progress_map.rs
Labels: v1.8, v1.9

#22455 Perf: Store deserialized sysvars in the sysvars cache
  program-runtime/src/invoke_context.rs
  program-runtime/src/sysvar_cache.rs
  program-test/src/lib.rs
  programs/address-lookup-table/src/processor.rs
  programs/bpf_loader/src/syscalls.rs
  programs/stake/src/stake_instruction.rs
  programs/vote/src/vote_instruction.rs
  programs/vote/src/vote_state/mod.rs
  runtime/benches/bank.rs
  runtime/src/bank.rs
  runtime/src/bank/sysvar_cache.rs
Labels: automerge, v1.8, v1.9

#22487 Inline DEFAULT_SNAPSHOT_VERSION constant string
  runtime/src/snapshot_utils.rs
Labels: automerge

#22493 Log internals of BlockstoreProcessorError
  ledger/src/blockstore_processor.rs
Labels: v1.8, v1.9

#22494 `Bank::get_fee_for_message` is now nonce aware
  runtime/src/bank.rs
  sdk/program/src/lib.rs
  sdk/program/src/message/sanitized.rs
  sdk/program/src/program_utils.rs
  sdk/src/program_utils.rs
  sdk/src/transaction/sanitized.rs
Labels: v1.9

#22501 docs: fix get fee for message docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: community

#22326 Add estimated and actual block cost units metrics
  core/src/banking_stage.rs
  core/src/qos_service.rs
Labels: automerge, v1.9

#22369 Add hidden cli option to allow validator reports replayed transaction cost metrics
  core/src/replay_stage.rs
  core/src/tvu.rs
  ledger/src/blockstore_processor.rs
  runtime/src/lib.rs
  runtime/src/transaction_cost_metrics_sender.rs
Labels: automerge, v1.8, v1.9

#22516 Bugfix/block subscribe
  client/src/pubsub_client.rs
  multinode-demo/bootstrap-validator.sh
  validator/src/main.rs
Labels: community, v1.8, v1.9

#22523 Remove unnecessary & from AsRef params
  runtime/src/status_cache.rs
Labels: automerge

#22522 vote account withdraw authority may change the authorized voter
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  sdk/src/feature_set.rs
Labels: v1.9

#22459 Add download bytecode button to explorer
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/components/common/Downloadable.tsx
  explorer/src/validators/accounts/upgradeable-program.ts
Labels: automerge, community

#22533 Refactor: move compute budget runtime logic into solana-program-runtime
  program-runtime/src/compute_budget.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/lib.rs
  program-test/src/lib.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/src/compute_budget.rs
Labels: v1.9

#22536 docs: Add more details about vote account key rotation
  docs/src/running-validator/vote-accounts.md
Labels: v1.9

#22543 Refactor: move compute budget runtime logic into solana-program-runtime
  program-runtime/src/compute_budget.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/lib.rs
  program-test/src/lib.rs
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/src/compute_budget.rs
Labels: v1.9

#22492 metrics for generate new bank forks
  core/src/replay_stage.rs
Labels: v1.8, v1.9

#22538 Use VecDeque instead of Vec in sigverify stage
  core/benches/sigverify_stage.rs
  core/src/sigverify_stage.rs
Labels: v1.8, v1.9

#22554 Track discard time of excess packets in sigverify
  core/src/sigverify_stage.rs
Labels: v1.8, v1.9

#22564 Add PacketBatch packet_indexes stat
  core/src/banking_stage.rs
Labels: automerge, community, v1.8, v1.9

#22537 Refactor: move simple vote parsing to runtime
  core/src/cluster_info_vote_listener.rs
  core/src/verified_vote_packets.rs
  gossip/src/cluster_info.rs
  gossip/src/crds_value.rs
  local-cluster/tests/local_cluster_slow.rs
  programs/vote/src/vote_state/mod.rs
  programs/vote/src/vote_transaction.rs
  rpc/src/rpc_pubsub.rs
  rpc/src/rpc_subscriptions.rs
  runtime/src/bank.rs
  runtime/src/bank_utils.rs
  runtime/src/lib.rs
  runtime/src/vote_parser.rs
  runtime/src/vote_sender_types.rs
  runtime/src/vote_transaction.rs
  sdk/src/transaction/sanitized.rs
Labels: v1.9

#22586 Refactor: move sysvar cache to new module (backport #22448)
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  programs/stake/src/stake_instruction.rs
  programs/vote/src/vote_instruction.rs
  runtime/src/bank.rs
  runtime/src/bank/sysvar_cache.rs
  runtime/src/message_processor.rs
  sdk/src/lib.rs
  sdk/src/process_instruction.rs
  sdk/src/sysvar_cache.rs
Labels: automerge

#22589 banking-stage: remove unused stats fields
  core/src/banking_stage.rs
Labels: automerge

#22591 system-monitor-service: support percentages from bigger numbers
  core/src/system_monitor_service.rs
Labels: automerge, v1.8, v1.9

#22592 Speed up packet dedup and fix benches
  bloom/src/bloom.rs
  perf/benches/dedup.rs
  perf/src/sigverify.rs
Labels: v1.8, v1.9

#22532 zk-token-sdk: define defaults for pod ElGamal/AES ciphertexts
  zk-token-sdk/src/zk_token_elgamal/pod.rs
Labels: v1.9

#22621 Fetch sysvars from invoke context for vote program (backport #22444)
  programs/vote/src/vote_instruction.rs
  sdk/src/keyed_account.rs
Labels: automerge

#22623 Update introduction.md
  docs/src/introduction.md
Labels: community, v1.9

#22624 Perf: Only check executors cache for executable bpf program ids
  runtime/src/bank.rs
Labels: v1.8, v1.9

#22491 Remove unused fields from Bank
  runtime/src/bank.rs
  runtime/src/serde_snapshot/newer.rs
Labels: v1.9

#22594 Handle already discarded packets in discard_excess_packets
  core/src/sigverify_stage.rs
Labels: v1.8, v1.9

#22639 Add zeroed default for ElGamalCiphertext
  zk-token-sdk/src/zk_token_elgamal/pod.rs
Labels: automerge

#22647 Impl get_/set_return_data syscalls for ProgramTest
  program-test/src/lib.rs
  program-test/tests/return_data.rs
  sdk/program/src/program_stubs.rs
Labels: v1.9

#22440 Document transaction module
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/example_mocks.rs
  sdk/src/lib.rs
  sdk/src/transaction/mod.rs
Labels: community, v1.9

#22616 Add timestamp zone toggle to Explorer
  explorer/src/components/common/TimestampToggle.tsx
  explorer/src/pages/ClusterStatsPage.tsx
Labels: community

#22674 Explorer: Sort block program ids in filter dropdown
  explorer/src/components/block/BlockHistoryCard.tsx
Labels: automerge

#22657 Update ping to transfer to self, with rotating amount
  cli/src/cli.rs
  cli/src/cluster_query.rs
Labels: v1.9

#22668 sigverify -- dedupe bloom filter too slow followups
  core/src/sigverify_stage.rs
  perf/benches/dedup.rs
  perf/src/sigverify.rs
Labels: automerge

#22682 docs: fix broken link for "transaction-id"
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, community, v1.9

#22605 Accountsdb: support config in Json5
  Cargo.lock
  accountsdb-plugin-manager/Cargo.toml
  accountsdb-plugin-manager/src/accountsdb_plugin_service.rs
  docs/src/developing/plugins/accountsdb_plugin.md
Labels: community

#22676 Refactor: Rename variables and helper method to `PohRecorder`
  core/src/replay_stage.rs
  poh/src/poh_recorder.rs
Labels: v1.8, v1.9

#22690 fix typo in docs
  docs/src/developing/programming-model/transactions.md
Labels: community, v1.9

#22696 fix: flag was incorrect in doc
  docs/src/running-validator/validator-start.md
Labels: community, v1.9

#22699 Fix typos
  docs/src/developing/on-chain-programs/overview.md
Labels: community, v1.9

#22702 Update expected instruction count in `programs` test
  programs/bpf/tests/programs.rs
Labels: community

#22684 Move discard check before generate offsets
  perf/src/sigverify.rs
Labels: automerge, v1.8, v1.9

#22711 Bump thread_local
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: v1.9

#22701 add 'ticks-per-slot' to 'solana-test-validator'
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
Labels: automerge, community, v1.9

#22648 spl-associated-token-account: Add feature for new program
  runtime/src/bank.rs
  runtime/src/inline_spl_associated_token_account.rs
  runtime/src/lib.rs
  sdk/src/feature_set.rs
Labels: v1.8, v1.9

#22721 v1.9: Fix stable-bpf job by referencing `Signature` directly
  sdk/src/ed25519_instruction.rs
Labels: automerge

#22715 Export BanksClientError
  banks-client/src/lib.rs
Labels: v1.9

#22739 Update vote-signing.md to remove references to anachronistic behavior
  docs/src/cluster/vote-signing.md
Labels: community, v1.9

#22729 Perf: Reduce write locks on blockhash queue
  runtime/src/bank.rs
Labels: v1.9

#22750 Set the correct root in block commitment cache initialization
  core/src/validator.rs
  local-cluster/tests/local_cluster.rs
  replica-node/src/replica_node.rs
  runtime/src/commitment.rs
Labels: v1.8, v1.9

#22730 Improve poh recorder metrics
  poh/src/poh_recorder.rs
  poh/src/poh_service.rs
Labels: v1.8, v1.9

#22762 fix: Adjust mem op base cost to avoid breaking Raydium AMM Program
  program-runtime/src/compute_budget.rs
Labels: automerge

#22601 Fix intermittent failure of test_e25519
  sdk/src/ed25519_instruction.rs
Labels: v1.8, v1.9

#22789 Restrict the Mergify copy command to core contributors
  .mergify.yml
Labels: v1.8, v1.9

#22788 Always contact release.solana.com over https
  ci/publish-tarball.sh
  install/src/command.rs
Labels: automerge, v1.8, v1.9

#22744 Add new_from_parent() timings
  poh/src/poh_recorder.rs
  poh/src/poh_service.rs
  runtime/src/bank.rs
Labels: v1.8, v1.9

#22798 Update Metaplex/js package to use new Token Standard Metadata
  explorer/package.json
Labels: community

#22830 Fixes typo in example script
  web3.js/examples/get_account_info.js
Labels: community

#22838 Small punctuation fix for variable in calling-between-programs.md
  docs/src/developing/programming-model/calling-between-programs.md
Labels: community, v1.9
