Repository solana-labs/solana, pull requests merged in 2022-10, with the labels that each got.

#28172 Allow validators to reset to the slot which matches their last voted slot
  core/src/heaviest_subtree_fork_choice.rs
  core/src/replay_stage.rs
Labels: v1.13, v1.14

#28196 Watchtower pagerduty
  notifier/src/lib.rs
  watchtower/src/main.rs
Labels: automerge, community

#28176 Consensus Logging
  core/src/cluster_slot_state_verifier.rs
  core/src/replay_stage.rs
Labels: v1.13, v1.14

#28101 Rewrite the Quick Start guide to rely exclusively on the playground (beta.solpg.io)
  docs/src/getstarted/hello-world.md
  docs/static/img/quickstarts/solana-get-started-view-logs-on-explorer.png
Labels: community, v1.14

#28213 Fix typo in Versioned Transactions
  docs/src/developing/versioned-transactions.md
Labels: automerge, community

#28217 RPC: Support versioned txs in getFeeForMessage API
  cli/src/checks.rs
  programs/address-lookup-table/src/error.rs
  rpc-client/src/nonblocking/rpc_client.rs
  rpc-client/src/rpc_client.rs
  rpc/src/rpc.rs
  runtime/src/bank/address_lookup_table.rs
  sdk/program/src/message/address_loader.rs
  sdk/program/src/message/mod.rs
  sdk/program/src/message/sanitized.rs
  sdk/src/transaction/error.rs
  sdk/src/transaction/sanitized.rs
Labels: v1.14

#28222 after replay at validator startup don't verify hash calc
  ledger-tool/src/main.rs
  ledger/src/blockstore_processor.rs
Labels: v1.14

#28215 stats for staked/unstaked repair requests
  core/src/serve_repair.rs
Labels: v1.14

#27857 sys-tuner: Do not change sysctl parameters to smaller values
  sys-tuner/src/main.rs
Labels: community

#28232 Resolve PagerDuty incident on All Clear instead of triggering new incident
  Cargo.lock
  notifier/Cargo.toml
  notifier/src/lib.rs
  watchtower/src/main.rs
Labels: community

#28238 exit early deep in bank freeze, avoiding some unnecessary work
  runtime/src/accounts_db.rs
Labels: v1.14

#28219 Move epoch accounts hash utility functions
  runtime/src/epoch_accounts_hash.rs
  runtime/src/epoch_accounts_hash/utils.rs
Labels: automerge

#28239 run initial hash calc in background, using background threads
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: v1.14

#28248 Explorer: Display block utc timestamp in account history
  explorer/src/components/account/history/TransactionHistoryCard.tsx
Labels: automerge

#28249 RPC: Improve unsupported transaction error message
  rpc-client-api/src/custom_error.rs
  rpc/src/rpc.rs
Labels: v1.13, v1.14

#28138 Better install command for Windows
  docs/src/cli/install-solana-cli-tools.md
Labels: community

#28247 Add metric to track number of slots processed in load_frozen_forks()
  ledger/src/blockstore_processor.rs
Labels: v1.14

#28267 Update restart guide to include the use of `solana-ledger-tool latest-optimistic-slots`
  docs/src/running-validator/restart-cluster.md
Labels: v1.14

#28263 Ignore errors when joining background threads for EAH tests
  core/tests/epoch_accounts_hash.rs
Labels: automerge

#28288 docs: use devnet blocks and transactions as v0 transaction examples
  docs/src/integrations/exchange.md
Labels: automerge, v1.14

#28285 report additional transaction errors to metrics
  core/src/leader_slot_banking_stage_metrics.rs
  runtime/src/bank.rs
  runtime/src/transaction_error_metrics.rs
Labels: v1.13, v1.14

#28277 add info for load race condition asserts
  runtime/src/accounts_db.rs
Labels: v1.14

#28291 formats logs in bootstrap
  validator/src/bootstrap.rs
Labels: automerge

#28315 docs: fix exchanges integration
  docs/src/integrations/exchange.md
Labels: automerge, v1.14

#28322 Refactor - Move `executor_cache` to program-runtime crate
  Cargo.lock
  program-runtime/Cargo.toml
  program-runtime/src/executor_cache.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/lib.rs
  programs/bpf/Cargo.lock
  programs/bpf_loader/src/lib.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
Labels: v1.14

#28324 Cleans up debugging code in EAH tests
  core/tests/epoch_accounts_hash.rs
Labels: automerge

#28325 Removes redundant accounts_package_type
  runtime/src/accounts_background_service.rs
Labels: automerge

#28314 RPC: Fix ATA create instruction parsing
  transaction-status/src/parse_associated_token.rs
Labels: v1.13, v1.14

#28317 Fix blockstore_processor::load_frozen_forks() halt_at_slot behavior
  ledger/src/blockstore_processor.rs
Labels: v1.14

#28283 use signed repair request variants
  core/src/ancestor_hashes_service.rs
  core/src/repair_service.rs
  core/src/serve_repair.rs
  dos/src/main.rs
  sdk/src/feature_set.rs
Labels: v1.14

#28312 Documentation fixes and improvements
  CONTRIBUTING.md
  README.md
Labels: automerge, community

#28336 Explorer: Support displaying closed program accounts
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/providers/accounts/index.tsx
Labels: automerge

#28342 Explorer: Support additional bpf upgradeable loader instructions
  explorer/src/components/instruction/bpf-upgradeable-loader/BpfUpgradeableLoaderDetailsCard.tsx
  explorer/src/components/instruction/bpf-upgradeable-loader/types.ts
Labels: automerge

#27929 remove unused deps from solana-stake-program
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/stake/Cargo.toml
Labels: community

#27948 runtime: fix typo 'transaction'
  runtime/src/bank.rs
Labels: community

#27418 More missing derives
  sdk/program/src/instruction.rs
  sdk/program/src/message/sanitized.rs
  sdk/program/src/message/versions/v0/loaded.rs
  sdk/src/ed25519_instruction.rs
  sdk/src/epoch_info.rs
  sdk/src/feature_set.rs
  sdk/src/fee.rs
  sdk/src/genesis_config.rs
  sdk/src/poh_config.rs
  sdk/src/secp256k1_instruction.rs
  sdk/src/transaction/sanitized.rs
  sdk/src/transaction_context.rs
Labels: community

#28347 Fix Grammatical mistake on Get Started documentation page
  docs/src/getstarted/hello-world.md
Labels: automerge, community

#28367 Fix blockstore_processor::load_frozen_forks() halt_at_slot behavior II
  ledger/src/blockstore_processor.rs
Labels: v1.14

#28372 docs: replace zeros comments with ones
  web3.js/src/publickey.ts
Labels: community

#28375 Explorer: Fix transaction inspector simulation
  explorer/src/pages/inspector/SimulatorCard.tsx
Labels: automerge

#28385 Explorer: Disable cluster url replacement on localhost
  explorer/src/providers/cluster.tsx
Labels: automerge

#28389 feat: add dataSlice param to account fetching config
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge

#28391 Explorer: Refactor token instruction name utility function
  explorer/src/utils/instruction.ts
Labels: automerge

#28390 Explorer: Refactor account provider data types
  explorer/src/__tests__/parseNFTokenAccounts.ts
  explorer/src/components/account/AnchorAccountCard.tsx
  explorer/src/components/account/RewardsCard.tsx
  explorer/src/components/account/StakeAccountSection.tsx
  explorer/src/components/account/TokenAccountSection.tsx
  explorer/src/components/account/UnknownAccountCard.tsx
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/components/account/address-lookup-table/AddressLookupTableAccountSection.tsx
  explorer/src/components/account/nftoken/isNFTokenAccount.ts
  explorer/src/pages/AccountDetailsPage.tsx
  explorer/src/pages/inspector/AddressWithContext.tsx
  explorer/src/providers/accounts/index.tsx
  explorer/src/providers/accounts/utils/isMetaplexNFT.ts
  explorer/src/utils/index.ts
Labels: automerge

#28414 feat: add getMultipleParsedAccounts method
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge

#28416 Explorer: Show simulation error if no logs are returned
  explorer/src/pages/inspector/SimulatorCard.tsx
Labels: automerge

#28428 fix: wrap _rpcWebSocketGeneration around when about to overflow
  web3.js/src/connection.ts
Labels: javascript

#28439 ci: run all jobs when the pipeline generator script changes
  ci/buildkite-pipeline.sh
Labels: v1.13, v1.14

#28308 add a lighter way to check whether a block exists in the Bigtable
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
Labels: automerge

#28405 remove slot# from account hash
  runtime/src/accounts.rs
  runtime/src/accounts_cache.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/snapshot_minimizer.rs
  runtime/src/storable_accounts.rs
  runtime/tests/accounts.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#28425 docs: improve transaction fee documentation
  docs/src/transaction_fees.md
Labels: automerge, community

#28432 Check for valid address in broadcast
  core/src/broadcast_stage/broadcast_duplicates_run.rs
Labels: v1.13, v1.14

#28488 ledger-tool: remove inefficient base58 encoding options
  ledger-tool/src/main.rs
Labels: v1.13, v1.14

#28517 chore: upgrade Mocha to 10.1.0
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/yarn.lock
Labels: automerge

#28516 chore: upgrade eslint in @solana/web3.js
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/yarn.lock
Labels: automerge

#27931 Split out voting and banking threads in banking stage
  Cargo.lock
  core/benches/banking_stage.rs
  core/benches/unprocessed_packet_batches.rs
  core/src/banking_stage.rs
  core/src/fetch_stage.rs
  core/src/forward_packet_batches_by_accounts.rs
  core/src/immutable_deserialized_packet.rs
  core/src/latest_unprocessed_votes.rs
  core/src/leader_slot_banking_stage_metrics.rs
  core/src/unprocessed_packet_batches.rs
  core/src/unprocessed_transaction_storage.rs
  local-cluster/tests/local_cluster_slow_1.rs
  programs/sbf/Cargo.lock
  programs/vote/src/vote_transaction.rs
  runtime/Cargo.toml
  runtime/src/bank.rs
  sdk/program/src/clock.rs
Labels: automerge

#28162 proposal: Added timely vote credits proposal.
  docs/src/proposals/timely-vote-credits.md
Labels: automerge, community

#28529 fix: incorrect error message for getFeeForMessage
  web3.js/src/connection.ts
Labels: automerge

#28534 Fix optimistic concurrency control link
  docs/src/cluster/synchronization.md
Labels: automerge

#28538 Fix typo in restart-cluster.md
  docs/src/running-validator/restart-cluster.md
Labels: community

#28543 testnet fixup: only update rent_epoch on load until feature
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/expected_rent_collection.rs
  runtime/src/lib.rs
  sdk/src/feature_set.rs
Labels: automerge

#28547 [docs] corrected use of confirmTransaction in examples
  docs/src/developing/clients/javascript-api.md
  docs/src/developing/clients/javascript-reference.md
  docs/src/integrations/retrying-transactions.md
Labels: community, v1.14

#28537 pings peers before sending push messages
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_push.rs
  gossip/tests/crds_gossip.rs
Labels: v1.14

#28578 chore: add spl-instruction-padding/program to downstream ci script
  scripts/build-downstream-projects.sh
Labels: automerge

#28546 pings peers before sending push messages (bp #28537 )
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_push.rs
  gossip/tests/crds_gossip.rs
Labels: automerge

#28570 Bump solana_rbpf to 0.2.35
  Cargo.lock
  cli/Cargo.toml
  programs/bpf_loader/Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  rbpf-cli/Cargo.toml
Labels: automerge

#28583 Minor typo fix.
  docs/src/proposals/versioned-transactions.md
Labels: community

#27889 runtime: use correct module doc comments
  runtime/src/accounts_background_service.rs
Labels: community

#28674 chore: bump tj-actions/changed-files to v34
  .github/workflows/docs.yml
Labels: automerge, v1.13, v1.14

#28621 show freeze authority for NFTs
  explorer/src/components/account/TokenAccountSection.tsx
Labels: automerge, community
