Repository solana-labs/solana, pull requests merged in 2022-05, with the labels that each got.

#24868 fix: don't fatal Explorer when there's a 'failed' type message at the top level
  explorer/src/utils/program-logs.ts
Labels: javascript

#24821 Check if quic is enabled before warming up quic connections
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/local_cluster.rs
  test-validator/src/lib.rs
  validator/src/main.rs
Labels: automerge, v1.10

#24883 ledger-tool: save new snapshots to --snapshot-archive-path
  ledger-tool/src/main.rs
Labels: community, v1.9, v1.10

#24897 Update install-solana-cli docs with Homebrew instructions
  docs/src/cli/install-solana-cli-tools.md
Labels: community, v1.10

#24851 Cleanup banking bench
  banking-bench/src/main.rs
Labels: automerge, v1.10

#24911 Optimize connection cache eviction logic
  client/src/connection_cache.rs
Labels: automerge, v1.10

#24923 zk-token-sdk: verify WithdrawWithheldTokens proof under the correct context
  programs/zk-token-proof/src/lib.rs
Labels: v1.10

#24768 SigVerify: Add total time metrics for dedup/discard/verify
  core/src/sigverify_stage.rs
Labels: community, v1.9, v1.10

#24899 default compute units per instruction
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.9, v1.10, feature-gate

#24916 Make nonblocking RpcClient examples use nonblocking RpcClient
  client/src/nonblocking/rpc_client.rs
Labels: community, v1.10

#24670 stake: Allow initialized stakes to be below the min delegation
  Cargo.lock
  programs/stake/Cargo.toml
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  rpc/src/rpc_pubsub.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#24743 Record instructions which are precompiles
  runtime/src/message_processor.rs
Labels: feature-gate

#24948 log write cache contents from purge_slots_from_cache_and_store
  runtime/src/accounts_db.rs
Labels: v1.9, v1.10

#24955 docs: clarify tx-wide default max units explainer
  docs/src/developing/programming-model/runtime.md
Labels: v1.10

#24816 send-transaction-service metrics improvement
  send-transaction-service/src/send_transaction_service.rs
Labels: v1.10

#24630 feat: Support Fungible Asset token standard
  explorer/src/providers/accounts/utils/isMetaplexNFT.ts
Labels: community

#25010 Collect stats in streamer receiver and report fetch stage metrics
  bench-streamer/src/main.rs
  core/src/ancestor_hashes_service.rs
  core/src/fetch_stage.rs
  core/src/serve_repair_service.rs
  core/src/shred_fetch_stage.rs
  gossip/src/gossip_service.rs
  streamer/src/streamer.rs
Labels: v1.9, v1.10

#23438 Proposal for transaction scheduler based on fee priority
  docs/src/proposals/fee_transaction_priority.md
Labels: stale

#25025 Rollback tokio to LTS release v1.14
  Cargo.lock
  banks-client/Cargo.toml
  banks-server/Cargo.toml
  client-test/Cargo.toml
  client/Cargo.toml
  core/Cargo.toml
  faucet/Cargo.toml
  ledger-tool/Cargo.toml
  ledger/Cargo.toml
  net-utils/Cargo.toml
  program-test/Cargo.toml
  programs/bpf/Cargo.lock
  replica-lib/Cargo.toml
  rpc-test/Cargo.toml
  rpc/Cargo.toml
  streamer/Cargo.toml
  test-validator/Cargo.toml
Labels: automerge

#25028 Rollback tokio to LTS release v1.14
  Cargo.lock
  banks-client/Cargo.toml
  banks-server/Cargo.toml
  client-test/Cargo.toml
  client/Cargo.toml
  core/Cargo.toml
  faucet/Cargo.toml
  ledger-tool/Cargo.toml
  ledger/Cargo.toml
  net-utils/Cargo.toml
  program-test/Cargo.toml
  programs/bpf/Cargo.lock
  rpc-test/Cargo.toml
  rpc/Cargo.toml
  streamer/Cargo.toml
  test-validator/Cargo.toml
Labels: automerge

#24971 FindPacketSenderStake: Improve metrics
  core/src/find_packet_sender_stake_stage.rs
  core/src/tpu.rs
Labels: community

#25035 Fail tx sanitization when ix program id uses lookup table
  core/src/banking_stage.rs
  entry/benches/entry_sigverify.rs
  entry/src/entry.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  rpc/src/rpc.rs
  rpc/src/transaction_status_service.rs
  runtime/src/bank.rs
  runtime/src/cost_tracker.rs
  sdk/program/src/message/versions/mod.rs
  sdk/program/src/message/versions/v0/mod.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/sanitized.rs
  sdk/src/transaction/versioned.rs
  transaction-status/src/lib.rs
Labels: automerge, feature-gate

#25051 Fix indentation of Message API examples
  sdk/program/src/message/legacy.rs
Labels: community, v1.10

#24603 Raise minimum stake delegation to 1 SOL
  programs/stake/src/lib.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#25074 remove double word
  docs/src/wallet-guide/file-system-wallet.md
Labels: automerge, community, v1.10

#25060 Greedy receive in banking stage
  core/src/banking_stage.rs
Labels: v1.10

#25070 Update sysvar module short docs
  sdk/program/src/lib.rs
  sdk/program/src/sysvar/mod.rs
Labels: automerge, community, v1.10

#25067 Add sanitized types for use in banking stage
  core/src/banking_stage.rs
  core/src/unprocessed_packet_batches.rs
  sdk/program/src/message/versions/mod.rs
  sdk/program/src/message/versions/sanitized.rs
  sdk/src/transaction/sanitized.rs
  sdk/src/transaction/versioned/mod.rs
  sdk/src/transaction/versioned/sanitized.rs
Labels: v1.10

#25077 check file size of accounts cache mmap before indexing
  runtime/src/cache_hash_data.rs
Labels: v1.9, v1.10

#24247 Add options to store full and/or incremental snapshots in separate locations
  core/src/accounts_hash_verifier.rs
  core/src/snapshot_packager_service.rs
  core/src/validator.rs
  core/tests/snapshots.rs
  download-utils/src/lib.rs
  ledger-tool/src/main.rs
  ledger/src/bank_forks_utils.rs
  local-cluster/src/local_cluster_snapshot_utils.rs
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
  runtime/src/accounts_background_service.rs
  runtime/src/snapshot_config.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
  test-validator/src/lib.rs
  validator/src/bootstrap.rs
  validator/src/main.rs
Labels: community

#25095 Unset needs_unlock for rebatched transactions batches
  ledger/src/blockstore_processor.rs
  runtime/src/bank.rs
  runtime/src/transaction_batch.rs
Labels: v1.10

#25042 (LedgerStore) Move metric sample counters out from LedgerColumnOptions
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_metrics.rs
  validator/src/main.rs
Labels: rust

#24986 Disallow deployment of deprecated _sol_alloc_free syscall
  cli/src/program.rs
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/c/src/alloc/alloc.c
  programs/bpf/rust/128bit/src/lib.rs
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/call_depth/src/lib.rs
  programs/bpf/rust/iter/src/lib.rs
  programs/bpf/rust/many_args/src/lib.rs
  programs/bpf/rust/membuiltins/src/lib.rs
  programs/bpf/rust/param_passing/src/lib.rs
  programs/bpf/rust/secp256k1_recover/src/lib.rs
  programs/bpf/rust/sha/src/lib.rs
  programs/bpf/rust/zk_token_elgamal/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  rbpf-cli/src/main.rs
  sdk/bpf/c/inc/sol/string.h
  sdk/src/feature_set.rs
Labels: automerge, feature-gate

#25149 Fix TPU docs typo
  docs/src/validator/tpu.md
Labels: automerge

#25151 chore(web3.js): move sinon-chai to devDependencies
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/yarn.lock
Labels: community

#25132 cli: Fix deploy program length calculation when using buffers
  cli/src/program.rs
Labels: v1.10

#25147 include exception identifier in `catch` blocks
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community

#25154 Bump sbf-tools version to 1.26
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge

#25129 docs(developing): remove duplicate entry
  docs/src/developing/on-chain-programs/developing-rust.md
Labels: community

#25146 Update test_banking_stage_entryfication to be more deterministic
  core/src/banking_stage.rs
Labels: automerge, v1.10

#25027 support 64-bit prioritization fee
  cli/src/cli.rs
  cli/src/cluster_query.rs
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  programs/bpf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/compute_budget.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/error.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: feature-gate

#25171 Use net-stats-validator metric on the dashboard
  metrics/scripts/grafana-provisioning/dashboards/cluster-monitor.json
Labels: automerge

#25172 Tune banking_stage receive loop timing
  core/src/banking_stage.rs
Labels: automerge, v1.10

#24716 Add configurable limit to number of blocks to check before Bigtable upload
  ledger-tool/src/bigtable.rs
  ledger/src/bigtable_upload.rs
  ledger/src/bigtable_upload_service.rs
  rpc/src/rpc_service.rs
Labels: automerge, v1.10

#25186 explorer: Display error details on tx page
  explorer/src/pages/TransactionDetailsPage.tsx
Labels: automerge

#25210 test: getEstimatedFee change runs only in live environment now
  web3.js/test/transaction.test.ts
Labels: javascript

#24906 Block packets in vote-only mode
  bench-streamer/src/main.rs
  core/src/ancestor_hashes_service.rs
  core/src/fetch_stage.rs
  core/src/replay_stage.rs
  core/src/serve_repair_service.rs
  core/src/shred_fetch_stage.rs
  core/src/tpu.rs
  gossip/src/gossip_service.rs
  runtime/src/bank_forks.rs
  streamer/src/streamer.rs
Labels: v1.9, v1.10

#25214 Improve hard fork message with more detail
  runtime/src/bank.rs
Labels: v1.9, v1.10

#25227 feat: thread new blockheight expiry strategy through `sendAndConfirmTransaction`
  web3.js/src/connection.ts
  web3.js/src/util/send-and-confirm-raw-transaction.ts
  web3.js/test/bpf-loader.test.ts
  web3.js/test/connection.test.ts
  web3.js/test/mocks/rpc-http.ts
  web3.js/test/stake-program.test.ts
  web3.js/test/transaction.test.ts
Labels: javascript

#25228 Revert "Serialize lamports per signature in snapshots"
  runtime/src/serde_snapshot/newer.rs
  runtime/src/serde_snapshot/tests.rs
  sdk/program/src/fee_calculator.rs
Labels: automerge

#25178 Prioritize transactions in banking stage by their compute unit price
  cli/src/cli.rs
  cli/src/cluster_query.rs
  core/benches/unprocessed_packet_batches.rs
  core/src/banking_stage.rs
  core/src/unprocessed_packet_batches.rs
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  program-runtime/src/lib.rs
  program-runtime/src/prioritization_fee.rs
  programs/bpf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/compute_budget.rs
  sdk/src/feature_set.rs
Labels: v1.10, feature-gate

#25239 docs: Remove redundant and incorrect tx priority details
  docs/src/developing/programming-model/runtime.md
Labels: automerge, v1.10

#25089 Support lz4 for snapshot archives
  Cargo.lock
  download-utils/src/lib.rs
  ledger-tool/src/main.rs
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/snapshot_utils.rs
  runtime/src/snapshot_utils/archive_format.rs
  validator/src/main.rs
Labels: v1.9, v1.10

#25043 (LedgerStore) Change perf_samples_counter from Arc<AtomicUsize> to AtomicUsize
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_metrics.rs
Labels: ledger-store

#25236 Fix BankingStage packet starvation (1.9)
  core/src/banking_stage.rs
Labels: community

#25260 Fixed typo in Docs (in #signature section, "transacton" -> "transaction")
  docs/src/terminology.md
Labels: community

#25266 ci: Remove downstream anchor projects
  ci/buildkite-pipeline-in-disk.sh
  ci/buildkite-pipeline.sh
  ci/buildkite-solana-private.sh
Labels: v1.10

#25265 Avoid multiple base58 encodes for all votes when no `voteSubscribe` is disabled
  rpc/src/rpc_subscriptions.rs
Labels: v1.10

#24534 Speedup bigtable block upload by factor of 8-10x
  Cargo.lock
  ledger/src/bigtable_upload.rs
  programs/bpf/Cargo.lock
  storage-bigtable/Cargo.toml
  storage-bigtable/src/lib.rs
Labels: community, v1.10

#25279 fix typo: BlockheightBasedTransactionConfimationStrategy, Confimation => Confirmation
  web3.js/src/connection.ts
  web3.js/src/util/send-and-confirm-raw-transaction.ts
Labels: community

#25306 Reduce admin rpc service thread count from the number of available cores to 3
  validator/src/admin_rpc_service.rs
Labels: v1.10

#25307 Reduce work performed by PubSub when not in use
  rpc/src/rpc_subscriptions.rs
  validator/src/main.rs
Labels: v1.10

#25229 Use consistent naming for compute unit limit
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/prioritization_fee.rs
  program-test/src/lib.rs
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
  runtime/src/cost_model.rs
  runtime/src/execute_cost_table.rs
  sdk/src/compute_budget.rs
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.10

#25315 Don't drop transactions which use a request heap size ix
  core/src/unprocessed_packet_batches.rs
Labels: v1.10

#25293 Fix bootstrap without known validators
  validator/src/bootstrap.rs
Labels: community, v1.9, v1.10

#25302 fix: speed up transaction signing by removing code that does nothing
  web3.js/src/transaction.ts
Labels: javascript

#25280 Add make_connection metrics
  client/src/connection_cache.rs
  client/src/quic_client.rs
  client/src/tpu_connection.rs
Labels: v1.10

#25245 Fix banking stage starvation
  core/src/banking_stage.rs
Labels: community

#25256 Move updating accounts data len from execute to commit
  rpc/src/transaction_status_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: v1.10

#25361 Bump sbf-tools to v1.27
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.10

#25104 feat: support additional compute budget ixs
  web3.js/src/compute-budget.ts
  web3.js/test/compute-budget.test.ts
Labels: automerge

#25093 (LedgerStore) Rate-limit RocksDB perf sample by a minimum time interval
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_metrics.rs
Labels: ledger-store

#25179 Disallow deployment of deprecated _sol_alloc_free syscall
  cli/src/program.rs
  programs/bpf/benches/bpf_loader.rs
  programs/bpf/c/src/alloc/alloc.c
  programs/bpf/rust/128bit/src/lib.rs
  programs/bpf/rust/alloc/src/lib.rs
  programs/bpf/rust/call_depth/src/lib.rs
  programs/bpf/rust/inner_instruction_alignment_check/src/lib.rs
  programs/bpf/rust/iter/src/lib.rs
  programs/bpf/rust/many_args/src/lib.rs
  programs/bpf/rust/membuiltins/src/lib.rs
  programs/bpf/rust/param_passing/src/lib.rs
  programs/bpf/rust/secp256k1_recover/src/lib.rs
  programs/bpf/rust/sha/src/lib.rs
  programs/bpf/rust/zk_token_elgamal/src/lib.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls.rs
  rbpf-cli/src/main.rs
  runtime/src/bank.rs
  sdk/bpf/c/inc/sol/string.h
Labels: feature-gate

#25362 framework to preserve optimistic_slot in blockstore
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_meta.rs
  ledger/src/blockstore_metrics.rs
Labels: ledger-store

#25434 Fix ledger-tool slot to output tx even when tx status is missing
  ledger-tool/src/main.rs
Labels: v1.10

#25435 Use async send for forwarding transactions
  core/src/banking_stage.rs
Labels: v1.10

#25442 explorer: update browserlist db
  explorer/package-lock.json
Labels: automerge

#25443 explorer: Bump @solana/web3.js to 1.43.1
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#25440 Fix flakey `streamer_send_test`
  streamer/src/streamer.rs
Labels: v1.9, v1.10

#25446 explorer: Add support for new compute budget ixs
  explorer/src/components/instruction/ComputeBudgetDetailsCard.tsx
  explorer/src/utils/index.tsx
Labels: automerge

#25100 (LedgerStore) Report total nanos and downsize the perf metric for RocksDB read/write
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_metrics.rs
Labels: ledger-store

#25448 docs: Run browserlist db update
  docs/package-lock.json
  docs/yarn.lock
Labels: automerge, v1.10

#25461 Update docs for validator identity change to include --no-wait-for-vote-to-start-leader
  docs/src/running-validator/vote-accounts.md
Labels: community, v1.10

#25388 sigverify: add discard before dedup
  core/src/sigverify_stage.rs
  perf/Cargo.toml
  perf/benches/discard.rs
  perf/src/discard.rs
  perf/src/lib.rs
Labels: v1.9, v1.10

#25427 stop logging misleading bank hash mismatch
  ledger/src/blockstore_processor.rs
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
Labels: v1.10

#25479 typo
  sdk/program/src/program_error.rs
Labels: automerge

#25458 findpacketsenderstake: add discard after receive
  core/src/find_packet_sender_stake_stage.rs
Labels: community, v1.10

#25494 Remove retain_mut dependency
  Cargo.lock
  core/Cargo.toml
  programs/bpf/Cargo.lock
Labels: automerge

#25311 preserve optimistic_slot in blockstore
  Cargo.lock
  core/src/cluster_info_vote_listener.rs
  core/src/optimistic_confirmation_verifier.rs
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
Labels: ledger-store

#25359 Refactor Sigverify trait to prepare for tracer metrics
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/benches/sigverify_stage.rs
  core/src/banking_stage.rs
  core/src/cluster_info_vote_listener.rs
  core/src/sigverify.rs
  core/src/sigverify_shreds.rs
  core/src/sigverify_stage.rs
  core/src/tpu.rs
  core/src/tvu.rs
  perf/benches/dedup.rs
  perf/benches/shrink.rs
  perf/src/sigverify.rs
  sdk/src/packet.rs
Labels: v1.9, v1.10

#25521 solana-tokens: add extra error line
  tokens/src/db.rs
Labels: v1.9, v1.10

#25491 Find epoch start slot for estimated time elapsed
  cli/src/cluster_query.rs
Labels: v1.10

#25495 Split up accounts data size field
  runtime/src/bank.rs
  runtime/src/bank_forks.rs
Labels: v1.10

#25519 Pull out fee payer balance check
  runtime/src/accounts.rs
Labels: community, v1.10

#25556 includes shred-type when computing turbine broadcast seed
  core/src/cluster_nodes.rs
  ledger/src/shred.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#25549 zk-token-sdk: Convert traits for elgamal ciphertexts and ristretto points
  zk-token-sdk/src/zk_token_elgamal/convert.rs
Labels: v1.10

#25230 Add invoke logging to builtin programs that don't have it yet
  program-runtime/src/invoke_context.rs
  runtime/src/builtins.rs
Labels: v1.10

#25523 Speed up bank::tests::test_max_accounts_data_size_exceeded()
  runtime/src/bank.rs
Labels: v1.10

#25573 explorer: Add fee column to block history card
  explorer/src/components/block/BlockHistoryCard.tsx
Labels: automerge

#25562 FindPacketSenderStake: Remove parallelism to improve performance
  core/src/find_packet_sender_stake_stage.rs
Labels: community, v1.10

#25553 refactor: extract compute_hash fn
  perf/src/sigverify.rs
Labels: automerge

#25555 Opt: optimize dedup hash filter reset
  perf/benches/reset.rs
  perf/src/sigverify.rs
Labels: automerge

#25371 Check fee payer before loading all accounts
  runtime/src/accounts.rs
Labels: community, v1.10

#25392 Use the new datapoint macro that supports group-by for RocksDB read/write metrics.
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_metrics.rs
Labels: ledger-store

#25605 fix: stop double counting execution timings
  runtime/src/message_processor.rs
Labels: v1.9, v1.10

#25136 Add pre shrink pass before sigverify batch
  core/src/sigverify_stage.rs
  perf/src/sigverify.rs
Labels: v1.9, v1.10

#25600 bump executor cache max entries
  runtime/src/bank.rs
Labels: v1.9, v1.10

#25614 Rename "slot_height" -> "slot" name
  runtime/src/bank.rs
Labels: automerge, v1.9, v1.10

#25642 fix: serializing transactions; sort that takes less time and memory
  web3.js/src/transaction.ts
Labels: javascript

#25579 Detect tracer key in sigverify
  core/src/sigverify.rs
  perf/src/sigverify.rs
Labels: v1.10

#25643 SigVerify: Fix num_valid_packets metric
  core/src/sigverify_stage.rs
Labels: community, v1.9, v1.10

#25633 Add lz4 to snapshot filename regex for matching files on load
  runtime/src/snapshot_utils.rs
Labels: v1.10

#25352 Add docs to solana_program::program
  sdk/program/src/program.rs
Labels: community

#25666 Add feature to increase timestamp bounding on the slow side to 1s/slot
  runtime/src/bank.rs
  runtime/src/stake_weighted_timestamp.rs
  sdk/src/feature_set.rs
Labels: v1.9, v1.10, feature-gate
