Repository solana-labs/solana, pull requests merged in 2022-09, with the labels that each got.

#27463 chore: bump shellcheck v0.8.0
  ci/shellcheck.sh
  net/gce.sh
  net/net.sh
  net/scripts/colo-node-onfree.sh
  system-test/testnet-automation.sh
Labels: automerge, v1.10, v1.11

#27513 deserialize(or eof) snapshot epoch_accounts_hash
  runtime/src/bank.rs
  runtime/src/serde_snapshot/newer.rs
Labels: v1.11

#27466 fix: add compute units to jsonrpc parser
  web3.js/src/connection.ts
Labels: javascript, community

#27553 Revert "fix: add compute units to jsonrpc parser"
  web3.js/src/connection.ts
Labels: automerge

#27527 Use batch send in bench-tps to send transactions
  bench-tps/src/bench_tps_client/tpu_client.rs
  tpu-client/src/nonblocking/tpu_client.rs
  tpu-client/src/tpu_client.rs
Labels: automerge

#27554 fix: add compute units to jsonrpc parser
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge

#27557 Fixed typo and json standards in the document
  docs/src/developing/clients/jsonrpc-api.md
Labels: community, v1.11

#27125 Fix broken macro doc links
  sdk/program/src/entrypoint.rs
  sdk/program/src/log.rs
  sdk/program/src/program.rs
Labels: automerge, community

#27561 Fixup docs formatting re: commitment configuration
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.11

#27572 fix a flacky test
  runtime/src/prioritization_fee_cache.rs
Labels: automerge

#27604 explorer: Don't show token holdings for accounts with too many tokens
  explorer/src/components/account/OwnedTokensCard.tsx
  explorer/src/providers/accounts/tokens.tsx
Labels: automerge

#27552 RPC: include resolved keys from table lookups in parsed message response
  transaction-status/src/lib.rs
  transaction-status/src/parse_accounts.rs
Labels: v1.10, v1.11

#27613 Hold `PendingAccountsPackage` lock for both checking and submitting
  runtime/src/snapshot_utils.rs
Labels: automerge

#27525 track time to coalesce entries in recv_slot_entries
  core/src/broadcast_stage/broadcast_utils.rs
  core/src/broadcast_stage/standard_broadcast_run.rs
  ledger/src/shred/stats.rs
Labels: v1.11

#27526 feat: add `TransactionMessage` class
  web3.js/src/message/legacy.ts
  web3.js/src/message/v0.ts
  web3.js/src/transaction/index.ts
  web3.js/src/transaction/message.ts
  web3.js/test/message-tests/legacy.test.ts
  web3.js/test/message-tests/v0.test.ts
  web3.js/test/transaction-tests/message.test.ts
Labels: automerge

#27627 feat: added `authorizeWithSeed` to the vote program in web3.js
  web3.js/src/layout.ts
  web3.js/src/programs/vote.ts
  web3.js/test/program-tests/vote.test.ts
Labels: javascript

#27630 fix: replace js-sha3 with `@noble/hashes/sha3`
  web3.js/package.json
  web3.js/rollup.config.js
  web3.js/src/programs/secp256k1.ts
  web3.js/test/program-tests/secp256k1.test.ts
Labels: javascript

#27636 test-validator clone with get_multiple_accounts
  test-validator/src/lib.rs
Labels: community, v1.11

#27618 Skip loadedAddresses for jsonParsed tx meta
  transaction-status/src/lib.rs
Labels: v1.10, v1.11

#21614 keygen: add the ability to use derivation path for new & grind commands
  keygen/src/keygen.rs
  sdk/src/derivation_path.rs
Labels: community

#27621 Fix solana_program::vote docs
  sdk/program/src/vote/mod.rs
Labels: community

#27626 Make Accounts Background Services aware of Epoch Accounts Hash
  core/src/accounts_hash_verifier.rs
  core/tests/snapshots.rs
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/bank_forks.rs
  runtime/src/lib.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#27655 Respect rewards parameter in getBlock transaction-level rewards
  docs/src/developing/clients/jsonrpc-api.md
  ledger-tool/src/bigtable.rs
  transaction-status/src/lib.rs
Labels: v1.10, v1.11

#27672 Update getBlock/getTransaction rpc handling of return_data
  cli-output/src/display.rs
  docs/src/developing/clients/jsonrpc-api.md
  rpc-client-api/src/response.rs
  transaction-status/src/lib.rs
Labels: automerge, v1.11

#27702 feat: add source field to parsed account key responses
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge

#27503 Add feature gate to remove support for RequestUnitsDeprecated instruction
  program-runtime/src/compute_budget.rs
  program-runtime/src/prioritization_fee.rs
  programs/bpf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/transaction_priority_details.rs
  sdk/src/compute_budget.rs
  sdk/src/feature_set.rs
Labels: automerge

#27592 [docs] quickstart guides
  docs/components/Card.jsx
  docs/layouts/CardLayout.js
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/getstarted/hello-world.md
  docs/src/getstarted/local.md
  docs/src/getstarted/rust.md
  docs/src/pages/developers.js
  docs/src/pages/getstarted.jsx
  docs/src/pages/styles.module.css
  docs/static/img/quickstarts/solana-get-started-build-and-deploy.png
  docs/static/img/quickstarts/solana-get-started-import-on-playground.png
  docs/static/img/quickstarts/solana-get-started-successful-build.png
  docs/static/img/quickstarts/solana-get-started-view-logs-on-explorer.png
Labels: automerge, community

#27716 Add --process-ledger-before-service flag to solana-validator
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  validator/src/main.rs
Labels: v1.11

#27719 chore: add a name for secondary trigger step
  ci/buildkite-pipeline-in-disk.sh
  ci/buildkite-pipeline.sh
  ci/buildkite-solana-private.sh
Labels: automerge

#27723 Update validator-start.md
  docs/src/running-validator/validator-start.md
Labels: community, v1.11

#27396 Remove KeypairInsecureClone trait and add insecure_clone() instead
  core/src/replay_stage.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster_slow_1.rs
  runtime/src/bank.rs
  runtime/src/genesis_utils.rs
  sdk/src/signer/keypair.rs
Labels: community

#27585 Fix responsive in metaplex metadata json viewer
  explorer/src/scss/_solana.scss
Labels: automerge, community

#27712 move if let destructuring out of for loop
  programs/vote/src/vote_state/mod.rs
Labels: automerge, community

#27726 Rework 'remove_dead_slots_metadata: slots' info log message
  runtime/src/accounts_db.rs
Labels: v1.11

#27735 chore: remove failing request units test
  web3.js/src/programs/compute-budget.ts
  web3.js/test/program-tests/compute-budget.test.ts
Labels: automerge

#27734 feat: add version getter to VersionedTransaction class
  web3.js/src/connection.ts
  web3.js/src/transaction/versioned.ts
Labels: automerge

#27747 chore: bump axum-core to v0.2.8
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: automerge

#27746 chore: bump axum-core to v0.2.8
  Cargo.lock
  programs/bpf/Cargo.lock
Labels: automerge

#27752 Restore aliasing rules in BPF loader.
  programs/bpf_loader/src/lib.rs
Labels: v1.14

#27765 fix: replace computed max u64 constant with literal
  web3.js/src/programs/address-lookup-table/state.ts
  web3.js/test/message-tests/compiled-keys.test.ts
  web3.js/test/message-tests/v0.test.ts
  web3.js/test/transaction-tests/message.test.ts
Labels: automerge

#27766 Explorer: Remove support for bonfida bot instructions
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/account/TokenHistoryCard.tsx
  explorer/src/components/instruction/BonfidaBotDetails.tsx
  explorer/src/components/instruction/bonfida-bot/CancelOrderDetails.tsx
  explorer/src/components/instruction/bonfida-bot/CollectFeesDetails.tsx
  explorer/src/components/instruction/bonfida-bot/CreateBotDetails.tsx
  explorer/src/components/instruction/bonfida-bot/CreateOrderDetails.tsx
  explorer/src/components/instruction/bonfida-bot/DepositDetails.tsx
  explorer/src/components/instruction/bonfida-bot/InitializeBotDetails.tsx
  explorer/src/components/instruction/bonfida-bot/RedeemDetails.tsx
  explorer/src/components/instruction/bonfida-bot/SettleFundsDetails.tsx
  explorer/src/components/instruction/bonfida-bot/types.ts
  explorer/src/components/transaction/InstructionsSection.tsx
  explorer/src/utils/instruction.ts
Labels: automerge

#27770 chore: fix flakey partialSign test
  web3.js/test/transaction.test.ts
Labels: automerge

#27676 Add serialization-control enum for RPC Options
  cli-output/src/display.rs
  rpc-client/src/mock_sender.rs
  transaction-status/src/lib.rs
  transaction-status/src/option_serializer.rs
Labels: v1.13, v1.14

#27793 don't return zero lamport accounts from 'load' with feature
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/bank/address_lookup_table.rs
  sdk/src/feature_set.rs
Labels: v1.14

#27601 Add new TransactionDetails level
  docs/src/developing/clients/jsonrpc-api.md
  transaction-status/src/lib.rs
Labels: v1.13, v1.14

#27806 Fix parsing versions in published docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge

#27242 Increase transaction account lock limit from 64 to 128
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls/cpi.rs
  runtime/src/bank.rs
  sdk/bpf/c/inc/sol/cpi.h
  sdk/bpf/c/inc/sol/inc/cpi.inc
  sdk/program/src/syscalls/mod.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/sanitized.rs
Labels: feature-gate, v1.13, v1.14

#27808 feat: add isAccountWritable and isAccountSigner to MessageV0
  web3.js/src/message/legacy.ts
  web3.js/src/message/v0.ts
  web3.js/test/message-tests/legacy.test.ts
  web3.js/test/message-tests/v0.test.ts
Labels: automerge

#27769 Explorer: Bump @solana/web3.js to v1.62.0
  explorer/.env
  explorer/package-lock.json
  explorer/package.json
  explorer/src/providers/block.tsx
  explorer/src/providers/transactions/raw.tsx
Labels: automerge

#27817 docs: fix wrong args in 'solana program set-buffer-authority'
  docs/src/cli/deploy-a-program.md
Labels: automerge

#27188 Document the pubsub client APIs.
  Cargo.lock
  docs/src/developing/clients/jsonrpc-api.md
  pubsub-client/Cargo.toml
  pubsub-client/src/nonblocking/pubsub_client.rs
  pubsub-client/src/pubsub_client.rs
  rpc-client/src/rpc_client.rs
Labels: community

#27826 ci: Add spl-token-upgrade to downstream program build
  scripts/build-downstream-projects.sh
Labels: v1.14

#27814 Increase transaction account lock limit from 64 to 128 (backport #27242)
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/sanitized.rs
Labels: feature-gate

#27846 remove vote-program dep from account-decoder
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_vote.rs
  programs/bpf/Cargo.lock
Labels: community, v1.13, v1.14

#27845 remove solana-vote-program dep from solana-transaction-status
  Cargo.lock
  programs/bpf/Cargo.lock
  transaction-status/Cargo.toml
  transaction-status/src/parse_instruction.rs
  transaction-status/src/parse_vote.rs
Labels: automerge, community, v1.13, v1.14

#27860 chore: fix typo in net.sh
  net/net.sh
Labels: community

#27888 web3.js: remove Buffer from PublicKeyInitData
  web3.js/src/publickey.ts
Labels: community

#27901 runtime: compleleted -> completed
  runtime/src/bank.rs
Labels: community

#27900 runtime: ParitalEq -> PartialEq
  runtime/src/bank.rs
Labels: community

#27897 runtime: ifno -> info
  runtime/src/expected_rent_collection.rs
Labels: community

#27895 runtime: fix typo idnex -> index
  runtime/src/expected_rent_collection.rs
Labels: community

#27893 runtime: fix typo situtation -> situation
  runtime/src/accounts_db.rs
Labels: community

#27892 runtime: fix typo recalcluate -> recalculate
  runtime/src/expected_rent_collection.rs
Labels: community

#27891 runtime: fix typo occured -> occurred
  runtime/src/expected_rent_collection.rs
Labels: community

#27890 runtime: fix typo in expected_rent_collection.rs
  runtime/src/expected_rent_collection.rs
Labels: community

#27843 bootstrap: Sleep in loop to get rpc peers
  validator/src/bootstrap.rs
Labels: automerge, v1.14

#27695 add flag to genesis cmd to dump account data in specified format
  Cargo.lock
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
Labels: community

#27851 Remove markdown file update from version increment-cargo-version.sh
  docs/src/developing/clients/jsonrpc-api.md
  scripts/increment-cargo-version.sh
Labels: v1.13, v1.14

#27946 runtime: fix 'governed' typo
  runtime/src/bank.rs
Labels: community

#27947 runtime: fix typo for 'exempt'
  runtime/src/bank.rs
Labels: community

#27954 Adjust solana program threshold for stable tests in CI
  ci/test-stable.sh
Labels: automerge

#27964 Add missing fields to JSON-RPC docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.14

#27945 web3.js: Implement addSignature in VersionedTransaction
  web3.js/src/transaction/versioned.ts
  web3.js/test/transaction.test.ts
Labels: javascript, community

#27911 Require program account to be writable in extend program data ix
  programs/bpf-loader-tests/tests/extend_program_data_ix.rs
  programs/bpf-loader-tests/tests/extend_program_ix.rs
  programs/bpf_loader/src/lib.rs
  sdk/program/src/bpf_loader_upgradeable.rs
  sdk/program/src/loader_upgradeable_instruction.rs
  sdk/src/feature_set.rs
  transaction-status/src/parse_bpf_loader.rs
Labels: feature-gate, v1.13, v1.14

#27564 docs: Add versioned tx info to exchange integration guide
  docs/src/integrations/exchange.md
Labels: v1.14

#27999 Cleanup blockstore test
  ledger/src/blockstore.rs
Labels: automerge

#28001 Nodes with 0% commission are now included in the `getBlock` RPC method `rewards` response field.
  runtime/src/bank.rs
Labels: v1.13, v1.14

#27981 Add Blockstore::highest_slot() method
  core/src/validator.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
Labels: v1.14

#27910 allow unsigned repair requests
  core/src/serve_repair.rs
  sdk/src/feature_set.rs
Labels: v1.13, v1.14

#28000 get_one_epoch_old_slot_for_hash_calc_scan to handle many old append vecs
  runtime/src/accounts_db.rs
Labels: v1.14

#28030 Remove priority from vote transactions
  core/src/immutable_deserialized_packet.rs
Labels: automerge, v1.13, v1.14

#28040 Explorer: replace usages of bn.js with BigInt
  explorer/src/__tests__/lamportsToSol.ts
  explorer/src/components/account/StakeAccountSection.tsx
  explorer/src/components/common/Epoch.tsx
  explorer/src/components/instruction/serum/types.ts
  explorer/src/utils/index.tsx
  explorer/src/validators/accounts/stake.ts
  explorer/src/validators/bignum.ts
  explorer/src/validators/number.ts
Labels: automerge

#28041 Explorer: Fix balance delta display
  explorer/src/components/common/BalanceDelta.tsx
Labels: automerge

#28042 fix: improve `MessageV0.getAccountKeys` API ergonomics
  web3.js/src/message/v0.ts
Labels: automerge

#27825 Explorer: Support displaying and inspecting versioned transactions
  explorer/package-lock.json
  explorer/package.json
  explorer/src/components/ProgramLogsCardBody.tsx
  explorer/src/components/block/BlockAccountsCard.tsx
  explorer/src/components/block/BlockHistoryCard.tsx
  explorer/src/components/block/BlockOverviewCard.tsx
  explorer/src/components/block/BlockProgramsCard.tsx
  explorer/src/components/block/BlockRewardsCard.tsx
  explorer/src/pages/TransactionDetailsPage.tsx
  explorer/src/pages/inspector/AccountsCard.tsx
  explorer/src/pages/inspector/AddressTableLookupsCard.tsx
  explorer/src/pages/inspector/AddressWithContext.tsx
  explorer/src/pages/inspector/InspectorPage.tsx
  explorer/src/pages/inspector/InstructionsSection.tsx
  explorer/src/pages/inspector/RawInputCard.tsx
  explorer/src/pages/inspector/SignaturesCard.tsx
  explorer/src/pages/inspector/SimulatorCard.tsx
  explorer/src/providers/accounts/history.tsx
  explorer/src/providers/accounts/index.tsx
  explorer/src/providers/block.tsx
  explorer/src/providers/transactions/parsed.tsx
  explorer/src/providers/transactions/raw.tsx
  explorer/src/validators/accounts/address-lookup-table.ts
Labels: automerge

#27953 count unsigned repair requests
  core/src/serve_repair.rs
Labels: v1.14

#28007 RELEASE.md cleanup
  RELEASE.md
Labels: community

#28055 Revert "chore: bump serde_yaml from 0.8.26 to 0.9.13 (#27970)"
  Cargo.lock
  bench-tps/Cargo.toml
  cli-config/Cargo.toml
  genesis/Cargo.toml
  install/Cargo.toml
  programs/bpf/Cargo.lock
  validator/Cargo.toml
Labels: automerge

#27960 metrics to distinguish why repair packets are dropped
  core/src/serve_repair.rs
Labels: v1.14

#27938 Feature: Explicitly limit `TransactionContext::instruction_trace_capacity`
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  program-runtime/src/invoke_context.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls/mod.rs
  runtime/src/bank.rs
  runtime/src/nonce_keyed_account.rs
  sdk/program/src/instruction.rs
  sdk/program/src/program_error.rs
  sdk/src/feature_set.rs
  sdk/src/transaction_context.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: feature-gate

#28072 Explorer: Split out `SolBalance` component from utils
  explorer/src/components/SupplyCard.tsx
  explorer/src/components/TopAccountsCard.tsx
  explorer/src/components/account/StakeAccountSection.tsx
  explorer/src/components/account/StakeHistoryCard.tsx
  explorer/src/components/account/UnknownAccountCard.tsx
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/components/account/address-lookup-table/AddressLookupTableAccountSection.tsx
  explorer/src/components/block/BlockHistoryCard.tsx
  explorer/src/components/block/BlockRewardsCard.tsx
  explorer/src/components/common/Account.tsx
  explorer/src/components/common/BalanceDelta.tsx
  explorer/src/components/common/SolBalance.tsx
  explorer/src/components/instruction/ComputeBudgetDetailsCard.tsx
  explorer/src/components/instruction/stake/SplitDetailsCard.tsx
  explorer/src/components/instruction/stake/WithdrawDetailsCard.tsx
  explorer/src/components/instruction/system/CreateDetailsCard.tsx
  explorer/src/components/instruction/system/CreateWithSeedDetailsCard.tsx
  explorer/src/components/instruction/system/NonceWithdrawDetailsCard.tsx
  explorer/src/components/instruction/system/TransferDetailsCard.tsx
  explorer/src/components/instruction/system/TransferWithSeedDetailsCard.tsx
  explorer/src/pages/TransactionDetailsPage.tsx
  explorer/src/pages/inspector/InspectorPage.tsx
  explorer/src/utils/index.ts
Labels: automerge

#28073 Explorer: Split off devDependencies from dependencies
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#28074 Explorer: Remove unused assets
  explorer/public/tokens/bitcoin.svg
  explorer/public/tokens/brz.png
  explorer/public/tokens/cream.svg
  explorer/public/tokens/ethereum.svg
  explorer/public/tokens/fida.svg
  explorer/public/tokens/front.svg
  explorer/public/tokens/ftt.svg
  explorer/public/tokens/kin.svg
  explorer/public/tokens/link.svg
  explorer/public/tokens/maps.svg
  explorer/public/tokens/serum-32.png
  explorer/public/tokens/serum-64.png
  explorer/public/tokens/sxp.svg
  explorer/public/tokens/usdc.svg
  explorer/public/tokens/usdt.svg
  explorer/public/tokens/xrp.svg
  explorer/public/tokens/yfi.svg
Labels: automerge

#28075 explorer: add Wormhole program IDs
  explorer/src/utils/tx.ts
Labels: community

#27955 make ping cache rate limit delay configurable
  core/src/serve_repair.rs
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip_pull.rs
  gossip/src/ping_pong.rs
  gossip/tests/crds_gossip.rs
Labels: v1.14

#28060 [docs] versioned transactions and lookup tables
  docs/layouts/CardLayout.js
  docs/sidebars.js
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/developing/lookup-tables.md
  docs/src/developing/versioned-transactions.md
Labels: community, v1.14

#28093 fix duplicate local variable
  runtime/src/in_mem_accounts_index.rs
Labels: v1.14

#28132 explorer: fix fee sign in block transactions table
  explorer/src/components/block/BlockHistoryCard.tsx
Labels: automerge

#28133 explorer: bump react-router type deps and fix type errors
  explorer/package-lock.json
  explorer/package.json
  explorer/src/App.tsx
Labels: automerge

#28136 explorer: Show token delta when token account is closed
  explorer/src/components/transaction/TokenBalancesCard.tsx
Labels: automerge

#28137 Explorer: Support parsed address lookup table responses
  explorer/src/components/account/address-lookup-table/AddressLookupTableAccountSection.tsx
  explorer/src/components/account/address-lookup-table/LookupTableEntriesCard.tsx
  explorer/src/pages/AccountDetailsPage.tsx
Labels: automerge

#28155 Explorer: add explicit dependency on tweetnacl
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#28154 Remove explorer preview workflow
  .github/workflows/explorer_preview.yml
Labels: automerge

#28160 Explorer: use explicit @solana/spl-token dependency
  explorer/package-lock.json
  explorer/package.json
Labels: automerge
