Repository solana-labs/solana, pull requests merged in 2022-02, with the labels that each got.

#22857 nit: consistent name
  program-runtime/src/invoke_context.rs
  program-test/src/lib.rs
  programs/bpf_loader/src/lib.rs
  programs/zk-token-proof/src/lib.rs
  runtime/src/builtins.rs
Labels: automerge, v1.9

#22839 Clean up before credits_auto_rewind
  programs/stake/src/stake_state.rs
Labels: v1.8, v1.9

#22822 Use internal function for encoding accounts
  rpc/src/rpc.rs
Labels: community

#22875 Cleanup use declaration
  runtime/src/serde_snapshot.rs
Labels: automerge

#22734 rpc: use minimal mode by default
  accounts-cluster-bench/src/main.rs
  bench-tps/tests/bench_tps.rs
  core/src/validator.rs
  docs/src/proposals/cluster-test-framework.md
  local-cluster/src/local_cluster.rs
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  local-cluster/tests/local_cluster_flakey.rs
  local-cluster/tests/local_cluster_slow.rs
  multinode-demo/bootstrap-validator.sh
  multinode-demo/validator.sh
  replica-node/tests/local_replica.rs
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
  test-validator/src/lib.rs
  transaction-dos/src/main.rs
  validator/src/main.rs
Labels: v1.8, v1.9

#22882 docs-ci: prebuild cli bin with output to appease TravisCI hang check
  docs/build-cli-usage.sh
Labels: automerge, v1.8, v1.9

#22888 fix typo in broadcast_duplicates_run.rs
  core/src/broadcast_stage/broadcast_duplicates_run.rs
Labels: community

#22651 Reject close of active vote accounts
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/bank.rs
  sdk/program/src/instruction.rs
  sdk/program/src/program_error.rs
  sdk/src/feature_set.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: v1.8, v1.9

#22897 test-validator-bin: reinstate full rpc method set
  core/src/validator.rs
  rpc/src/rpc.rs
  validator/src/bin/solana-test-validator.rs
Labels: automerge, v1.8, v1.9

#22802 Return actual committed transactions from process_transactions()
  core/src/banking_stage.rs
  core/src/qos_service.rs
  program-test/src/lib.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: v1.8, v1.9

#22903 Refactor: Add trait for loading addresses
  core/src/banking_stage.rs
  entry/benches/entry_sigverify.rs
  entry/src/entry.rs
  ledger-tool/src/main.rs
  rpc/src/rpc.rs
  rpc/src/transaction_status_service.rs
  runtime/src/bank.rs
  runtime/src/bank/address_lookup_table.rs
  runtime/src/cost_tracker.rs
  sdk/src/transaction/sanitized.rs
Labels: automerge, v1.9

#22893 Web3.js - enable maxRetries option to SendOptions
  web3.js/src/connection.ts
  web3.js/src/util/send-and-confirm-transaction.ts
Labels: community

#22913 Allow buffered packets be consumed if bank is active, regardless leader schedule
  core/src/banking_stage.rs
Labels: automerge

#22927 Adjust expected instruction counts in assert_instruction_count test
  programs/bpf/tests/programs.rs
Labels: automerge

#22934 fix: swallow error if socket has already been closed
  web3.js/src/connection.ts
Labels: community

#22932 feat(web3.js): support withdraw from Vote account
  web3.js/src/index.ts
  web3.js/src/layout.ts
  web3.js/src/vote-program.ts
  web3.js/test/vote-program.test.ts
Labels: community

#22954 Bumps solana_rbpf to version v0.2.23
  Cargo.lock
  cli/Cargo.toml
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf_loader/Cargo.toml
  rbpf-cli/Cargo.toml
Labels: v1.9

#22959 Implement json output for solana ping
  cli-output/src/cli_output.rs
  cli/src/cluster_query.rs
Labels: automerge, v1.8, v1.9

#22825 Add verified/unverified badge to Program Account view
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/components/common/VerifiedBadge.tsx
  explorer/src/utils/program-verification.tsx
Labels: community

#22972 Fix typo
  docs/src/cluster/overview.md
Labels: community, v1.9

#22917 Optimize batching of transactions during replay for parallel processing
  ledger/src/blockstore_processor.rs
Labels: v1.9

#22991 bench should update leader schedule cache
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/tvu.rs
  poh/src/poh_recorder.rs
Labels: automerge, v1.9

#22860 Disable features programmatically in TestValidatorGenesis
  test-validator/src/lib.rs
Labels: community

#22918 Put accounts data len updates behind feature gate
  runtime/src/bank.rs
Labels: v1.9

#23001 solana-validator monitor: Remove getMaxRetransmitSlot RPC method usage
  validator/src/dashboard.rs
Labels: v1.8, v1.9

#22814 Rename struct to imported name
  rpc/src/rpc.rs
Labels: community, v1.9

#22986 Return the accounts data len delta after processing messages
  program-runtime/src/accounts_data_meter.rs
  program-runtime/src/invoke_context.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
Labels: v1.9

#23020 Add sbf-tools version to cargo target cache name on CI agents
  .buildkite/hooks/pre-command
  ci/sbf-tools-info.sh
  sdk/cargo-build-bpf/src/main.rs
Labels: automerge, v1.8, v1.9

#23032 Explorer: Add missing deployment slot check for verifiable build badge
  explorer/src/components/account/UpgradeableLoaderAccountSection.tsx
  explorer/src/components/common/VerifiedBadge.tsx
Labels: community

#23003 Prepare RPC subsystem for multiple SPL Token program ids
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  rpc/src/parsed_token_accounts.rs
  rpc/src/rpc.rs
  rpc/src/rpc_subscriptions.rs
  transaction-status/src/parse_instruction.rs
  transaction-status/src/token_balances.rs
Labels: v1.9

#22978 feat(VoteProgram): support VoteInstruction::Authorize
  web3.js/src/vote-program.ts
  web3.js/test/vote-program.test.ts
Labels: community

#22988 Refactor: Use instruction_trace instead of instruction_context_stack
  program-runtime/src/invoke_context.rs
  programs/bpf_loader/benches/serialization.rs
  programs/bpf_loader/src/syscalls.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
  sdk/src/transaction_context.rs
Labels: work in progress

#23041 Add deactivate-feature feature to test validator cli
  docs/src/developing/test-validator.md
  validator/src/bin/solana-test-validator.rs
Labels: community

#23028 Enforce tx metadata upload with static types
  client-test/tests/client.rs
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  ledger-tool/src/bigtable.rs
  ledger/src/bigtable_upload.rs
  ledger/src/bigtable_upload_service.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_db.rs
  local-cluster/tests/local_cluster_slow.rs
  programs/bpf/tests/programs.rs
  rpc/src/rpc.rs
  rpc/src/rpc_subscriptions.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
  storage-proto/src/convert.rs
  transaction-status/src/lib.rs
Labels: v1.8, v1.9

#23073 Mention staking reward in getInflationReward doc
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, community, v1.9

#22906 Introduce slot-specific packet metrics
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/leader_slot_banking_stage_metrics.rs
  core/src/lib.rs
  core/src/qos_service.rs
  poh/src/poh_recorder.rs
Labels: v1.8, v1.9

#23072 Add --full-rpc-api to run.sh
  scripts/run.sh
Labels: v1.8, v1.9

#22873 Document message APIs
  sdk/program/src/example_mocks.rs
  sdk/program/src/lib.rs
  sdk/program/src/message/legacy.rs
  sdk/program/src/message/mod.rs
  sdk/program/src/message/sanitized.rs
  sdk/program/src/message/versions/mod.rs
  sdk/program/src/message/versions/v0/mod.rs
Labels: community, v1.9

#22081 Add fees to tx-wide caps
  cli/tests/nonce.rs
  cli/tests/stake.rs
  cli/tests/transfer.rs
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  program-runtime/src/invoke_context.rs
  programs/bpf/tests/programs.rs
  rpc/src/transaction_status_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/message_processor.rs
  sdk/src/compute_budget.rs
  sdk/src/fee.rs
  sdk/src/lib.rs
  tokens/src/commands.rs
Labels: v1.9

#23094 minor fix for handling unsupported opt in script
  net/init-metrics.sh
Labels: community

#23107 fix typo
  docs/src/developing/clients/javascript-api.md
Labels: community, v1.9

#23063 explorer: show only AccountHeader for tokens
  explorer/src/pages/AccountDetailsPage.tsx
Labels: community

#23102 Add error message for readlink -f failure
  scripts/cargo-for-all-lock-files.sh
Labels: v1.8, v1.9

#23127 Update deprecated methods in integration docs
  docs/src/integrations/exchange.md
Labels: v1.9

#22880 Add simulation detection countermeasure
  core/src/replay_stage.rs
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/simulation/Cargo.toml
  programs/bpf/rust/simulation/src/lib.rs
  programs/bpf/rust/simulation/tests/lib.rs
  programs/bpf/rust/simulation/tests/validator.rs
  rpc/src/rpc.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: v1.8, v1.9

#23132 Modify link of the document targeting the GitHub URL listed wrong comments
  docs/src/running-validator/validator-start.md
Labels: community

#23111 rbpf-cli: support json output
  rbpf-cli/src/main.rs
Labels: community

#23152 Typo fix
  docs/src/developing/on-chain-programs/developing-c.md
Labels: automerge, community, v1.9

#23129 Fix the flaky test test_restart_tower_rollback
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  local-cluster/tests/local_cluster_flakey.rs
Labels: v1.8, v1.9

#23149 `solana-validator monitor` now reports identity changes
  validator/src/dashboard.rs
  validator/src/lib.rs
Labels: v1.9

#23161 Remove references to instruction parsing in SPL Token -> Depositing section
  docs/src/integrations/exchange.md
Labels: automerge, v1.9

#23157 solana-validator: Add --skip-new-snapshot-check to exit and wait-for-restart-window subcommands
  validator/src/main.rs
Labels: v1.9

#23160 Restore wait_for_nonzero_fees to TestValidatorGenesis::start_with_mint_address
  test-validator/src/lib.rs
Labels: v1.9

#23110 rbpf-cli: only run static analysis when needed
  rbpf-cli/src/main.rs
Labels: automerge, community

#23119 `solana-validator set-identity` now supports the --require-tower flag
  core/src/validator.rs
  test-validator/src/lib.rs
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: v1.9

#23146 Allow cli users to authorize Staker signed by Withdrawer
  cli/src/stake.rs
Labels: v1.8, v1.9

#23168 Generate full snapshots 4x faster to keep incremental snapshots nice and small
  runtime/src/snapshot_utils.rs
Labels: v1.9

#23167 forward_buffered_packets return packet count in error path
  core/src/banking_stage.rs
Labels: v1.8, v1.9

#23190 Fix links in jsonrpc-api.md
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, community, v1.9

#23182 Fix ed25519 builtin program handling
  Cargo.lock
  Cargo.toml
  program-test/src/lib.rs
  programs/ed25519-tests/Cargo.toml
  programs/ed25519-tests/tests/process_transaction.rs
  runtime/src/bank.rs
  runtime/src/builtins.rs
  runtime/src/genesis_utils.rs
  sdk/src/precompiles.rs
Labels: automerge, v1.9

#23178 Fix flaky optimistic confirmation tests
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  local-cluster/tests/local_cluster_flakey.rs
  local-cluster/tests/local_cluster_slow.rs
Labels: v1.8, v1.9

#23043 accounts_index: Add SPL Token account indexing for token-2022 accounts
  Cargo.lock
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/inline_spl_token.rs
  runtime/src/inline_spl_token_2022.rs
  runtime/src/lib.rs
Labels: v1.9

#23204 remove block limit for bench tests to avoid skew test result
  banking-bench/src/main.rs
Labels: automerge

#22320 docs: fix typos
  docs/src/developing/on-chain-programs/developing-c.md
Labels: community

#22999 docs: remove wallet ads
  docs/sidebars.js
  docs/src/clusters.md
  docs/src/staking.md
  docs/src/wallet-guide.md
  docs/src/wallet-guide/apps.md
  docs/src/wallet-guide/cli.md
  docs/src/wallet-guide/hardware-wallets/ledger.md
  docs/src/wallet-guide/ledger-live.md
  docs/src/wallet-guide/solflare.md
  docs/src/wallet-guide/web-wallets.md
Labels: v1.9

#23097 Add slot-based timing metrics
  core/src/banking_stage.rs
  core/src/leader_slot_banking_stage_metrics.rs
  core/src/leader_slot_banking_stage_timing_metrics.rs
  core/src/lib.rs
  program-runtime/src/timings.rs
Labels: v1.8, v1.9

#23213 feat(stake-program): support `splitWithSeed`
  web3.js/src/stake-program.ts
  web3.js/test/stake-program.test.ts
Labels: community

#23223 Add --locked to spl-token-cli install
  scripts/cargo-install-all.sh
Labels: CI, v1.8, v1.9

#23228 Explorer: Add ed25519 sigverify precompile to search results
  explorer/src/utils/tx.ts
Labels: automerge

#23237 Precompiles owned by the native loader
  runtime/src/bank.rs
Labels: v1.9

#23238 Add rustfmt.toml and `cargo fmt`
  banks-client/src/lib.rs
  core/benches/sigverify_stage.rs
  core/src/consensus.rs
  core/src/sigverify_stage.rs
  core/src/tower1_7_14.rs
  core/src/tower_storage.rs
  core/src/tvu.rs
  dos/src/main.rs
  perf/src/sigverify.rs
  program-runtime/src/sysvar_cache.rs
  programs/address-lookup-table-tests/tests/common.rs
  programs/address-lookup-table-tests/tests/extend_lookup_table_ix.rs
  programs/address-lookup-table/src/state.rs
  rpc/src/rpc_pubsub_service.rs
  rpc/src/rpc_subscriptions.rs
  runtime/src/bank.rs
  runtime/src/sorted_storages.rs
  runtime/src/stake_history.rs
  runtime/src/vote_parser.rs
  rustfmt.toml
  sdk/program/src/example_mocks.rs
  sdk/program/src/slot_hashes.rs
  sdk/src/example_mocks.rs
  sdk/src/transaction_context.rs
  sdk/src/wasm/transaction.rs
  streamer/src/quic.rs
  zk-token-sdk/src/errors.rs
  zk-token-sdk/src/range_proof/errors.rs
  zk-token-sdk/src/sigma_proofs/equality_proof.rs
  zk-token-sdk/src/sigma_proofs/errors.rs
  zk-token-sdk/src/sigma_proofs/fee_proof.rs
  zk-token-sdk/src/sigma_proofs/validity_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
Labels: community

#23215 fix memory ordering in append_vec
  runtime/src/append_vec.rs
Labels: community

#23229 fix: simulateTransaction accounts items can be null
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community

#23261 Revert "Add simulation detection countermeasure (#22880)"
  core/src/replay_stage.rs
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/build.rs
  programs/bpf/rust/simulation/Cargo.toml
  programs/bpf/rust/simulation/src/lib.rs
  programs/bpf/rust/simulation/tests/lib.rs
  programs/bpf/rust/simulation/tests/validator.rs
  rpc/src/rpc.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge

#23256 Fix builtin handling on epoch boundaries
  runtime/src/bank.rs
  runtime/src/bank/builtin_programs.rs
  runtime/src/builtins.rs
  runtime/src/genesis_utils.rs
  sdk/src/feature_set.rs
Labels: v1.9

#23255 solana explorer: add support for parsing a newer ix in mango-v3 (time in force order type)
  explorer/package-lock.json
  explorer/src/components/instruction/MangoDetails.tsx
  explorer/src/components/instruction/mango/PlacePerpOrder2DetailsCard.tsx
  explorer/src/components/instruction/mango/types.ts
Labels: community

#23281 ci: revert cache version hack
  .buildkite/hooks/pre-command
Labels: automerge

#23085 Refactor Execute Timings to use an enum-indexed array structure
  Cargo.lock
  core/src/progress_map.rs
  ledger/src/blockstore_processor.rs
  program-runtime/Cargo.toml
  program-runtime/src/timings.rs
  programs/bpf/Cargo.lock
  runtime/src/bank.rs
Labels: community

#23206 Grammar corrections
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/programming-model/calling-between-programs.md
  docs/src/developing/programming-model/runtime.md
  docs/src/developing/programming-model/transactions.md
Labels: community

#23286 docs: clarify spl token account creation handling for exchange integrations
  docs/src/integrations/exchange.md
Labels: automerge, v1.9

#23124 Update the consumed compute units cost for hashing syscalls
  program-runtime/src/compute_budget.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls.rs
Labels: automerge, v1.8, v1.9

#23299 RPC Client: Use Tokio's RwLock instead of std
  client/src/nonblocking/rpc_client.rs
Labels: community

#23295 Hack fix for ICE as seen in CI
  runtime/src/builtins.rs
Labels: CI

#23291 Grammar corrections PR#23206 Review Fixes
  docs/src/developing/clients/jsonrpc-api.md
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/programming-model/runtime.md
  docs/src/developing/programming-model/transactions.md
Labels: community

#23319 docs: post merge review for #23286
  docs/src/integrations/exchange.md
Labels: automerge, v1.9

#23336 Update derivation path integer sign specification
  docs/src/wallet-guide/hardware-wallets.md
Labels: community, v1.9

#23321 followup safety checks for #23295
  runtime/src/builtins.rs
  sdk/src/lib.rs
Labels: v1.9

#23366 Change comments
  programs/vote/src/vote_state/mod.rs
Labels: community

#23368 Align the `solana validators` output columns for -ud,-ut, and -um
  cli-output/src/cli_output.rs
Labels: v1.9

#23317 Updating known validators in the docs for testnet
  docs/src/clusters.md
Labels: v1.9

#23381 ci: move all formerly-default-queue jobs to solana queue
  ci/buildkite-pipeline.sh
Labels: v1.8, v1.9

#23383 client: expose creating `RpcClient`s with custom `RpcSender` impls
  client/src/rpc_client.rs
  client/src/rpc_sender.rs
Labels: automerge, v1.9
