Repository solana-labs/solana, pull requests merged in 2022-12, with the labels that each got.

#29007 Adjusts docs about changing the data, size and balance of accounts.
  docs/src/developing/programming-model/accounts.md
  docs/src/developing/programming-model/runtime.md
Labels: v1.14

#29001 Change SlotMeta is_connected bool to bitflags
  ledger/src/blockstore.rs
  ledger/src/blockstore_meta.rs
Labels: v1.13, v1.14

#29017 Update filter docs, v1.11 -> v1.14
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.14

#29015 Refactor to remove requested_cu from cost_trarcker
  core/src/forward_packet_batches_by_accounts.rs
  core/src/latest_unprocessed_votes.rs
  core/src/unprocessed_transaction_storage.rs
  runtime/src/cost_tracker.rs
Labels: automerge

#29000 feat: the web3.js getBlock APIs now accept `rewards` and `transactionDetails` config
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: web3.js

#28955 remove unwraps in alt_bn128 syscall
  sdk/program/src/alt_bn128.rs
Labels: community

#29038 Fix - Turns binary `&` into logical `&&` in `translate_slice_inner()`.
  programs/bpf_loader/src/syscalls/mod.rs
Labels: v1.14

#29056 fix: prevent the first-ever signature subscription from leaking
  web3.js/src/connection.ts
Labels: web3.js

#29057 feat: you can now abort transaction confirmations in web3.js
  web3.js/package.json
  web3.js/src/connection.ts
  web3.js/src/epoch-schedule.ts
  web3.js/src/utils/send-and-confirm-transaction.ts
  web3.js/test/connection.test.ts
  web3.js/yarn.lock
Labels: web3.js

#29061 chore: remove last references to Flow types in web3.js
  web3.js/.gitignore
  web3.js/README.md
Labels: web3.js

#29051 change test validator from non upgradable bpf loader to upgradable bpf loader
  validator/src/bin/solana-test-validator.rs
Labels: community

#29090 Remove unused Option<> around ValidatorConfig's SnapshotConfig
  core/src/accounts_hash_verifier.rs
  core/src/validator.rs
  core/tests/epoch_accounts_hash.rs
  core/tests/snapshots.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  test-validator/src/lib.rs
  validator/src/bootstrap.rs
  validator/src/main.rs
Labels: automerge

#29125 feat: you can now supply your own HTTP agent to a web3.js Connection
  web3.js/package.json
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: web3.js

#29062 fix: pretty print PublicKey objects in node and in the browser
  web3.js/src/publickey.ts
  web3.js/test/connection.test.ts
Labels: web3.js

#29079 docs: add endianess for pubkey byte/buffer functions
  web3.js/src/publickey.ts
Labels: community, web3.js

#29163 apply [limit repairs to top staked... #28673] to non-MainnetBeta clusters
  core/src/serve_repair.rs
Labels: v1.14

#29226 Cfg disable JIT code on systems where it is not supported (2)
  rbpf-cli/src/main.rs
Labels: automerge

#29207 ci: add openbook_dex back to downstream project test
  scripts/build-downstream-projects.sh
Labels: automerge

#28831 Explorer: Token Decimal Fix
  explorer/src/components/account/TokenAccountSection.tsx
Labels: community, explorer

#29273 explorer: Only show supply page for custom urls
  explorer/src/pages/SupplyPage.tsx
Labels: explorer

#29149 fix typo in shred.rs
  ledger/tests/shred.rs
Labels: community

#29275 explorer: add enum parsing for anchor arguments
  explorer/src/utils/anchor.tsx
Labels: explorer

#29146 rpc: fix possible panics in optimize_filters
  rpc/src/rpc.rs
Labels: automerge, community, v1.14

#29161 add support for a repair protocol whitelist
  core/src/ancestor_hashes_service.rs
  core/src/repair_service.rs
  core/src/serve_repair.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  test-validator/src/lib.rs
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: v1.14

#29190 "solana program set-upgrade-authority" uses SetAuthorityChecked instruction by default
  cli/src/program.rs
Labels: automerge, community

#29283 Removed lamports balance and added message for reaped accounts
  explorer/src/components/account/UnknownAccountCard.tsx
Labels: community, explorer

#29298 Fixes format string
  client-test/tests/client.rs
Labels: automerge

#29308 Explorer: account does not exist
  explorer/src/components/account/UnknownAccountCard.tsx
Labels: explorer

#29301 Fixes non-binding `let` on a future (ip-echo-server)
  net-utils/src/ip_echo_server.rs
Labels: automerge

#29314 fix typo in runtime docs
  docs/src/developing/programming-model/runtime.md
Labels: community, v1.14

#29305 remove a wrapper function
  core/src/unprocessed_transaction_storage.rs
Labels: automerge

#29130 fix: reduce Connection keep-alive timeout to 1 second fewer than the Solana RPC's keep-alive timeout
  web3.js/package.json
  web3.js/src/agent-manager.ts
  web3.js/src/connection.ts
  web3.js/test/agent-manager.test.ts
  web3.js/yarn.lock
Labels: web3.js

#29251 docs: make the comments on using the new confirmTransaction clearer
  web3.js/src/connection.ts
  web3.js/src/utils/send-and-confirm-raw-transaction.ts
Labels: community, web3.js

#29313 fix: make toBytes actually return the type it's typehint claims
  web3.js/src/publickey.ts
Labels: community, web3.js

#29342 Remove println
  validator/src/admin_rpc_service.rs
Labels: automerge

#29341 exclude Vote transactions from updating min-fee-cache
  runtime/src/prioritization_fee_cache.rs
Labels: automerge

#29330 Add metrics for min/max priority fee per slot, and counters for fee/non-fee transactions
  runtime/src/prioritization_fee.rs
Labels: automerge

#29197 [docs] updating the "writing programs" section
  docs/sidebars.js
  docs/src/developing/on-chain-programs/developing-c.md
  docs/src/developing/on-chain-programs/developing-rust.md
  docs/src/developing/on-chain-programs/faq.md
  docs/src/developing/on-chain-programs/limitations.md
  docs/src/developing/on-chain-programs/overview.md
  docs/src/getstarted/rust.md
  docs/src/terminology.md
Labels: community

#29345 [docs] Updated transactions overview page
  docs/src/developing/programming-model/transactions.md
Labels: community

#28895 docs: transactions fees/confirmation and deploying programs
  docs/sidebars.js
  docs/src/cluster/fork-generation.md
  docs/src/developing/intro/transaction_fees.md
  docs/src/developing/on-chain-programs/deploying.md
  docs/src/developing/transaction_confirmation.md
  docs/src/transaction_fees.md
Labels: community

#29063 Expand solana-sdk API docs.
  sdk/program/src/entrypoint.rs
  sdk/program/src/entrypoint_deprecated.rs
  sdk/program/src/lib.rs
  sdk/src/account.rs
  sdk/src/account_utils.rs
  sdk/src/builtins.rs
  sdk/src/commitment_config.rs
  sdk/src/compute_budget.rs
  sdk/src/derivation_path.rs
  sdk/src/deserialize_utils.rs
  sdk/src/ed25519_instruction.rs
  sdk/src/entrypoint.rs
  sdk/src/entrypoint_deprecated.rs
  sdk/src/epoch_info.rs
  sdk/src/exit.rs
  sdk/src/fee.rs
  sdk/src/genesis_config.rs
  sdk/src/hard_forks.rs
  sdk/src/hash.rs
  sdk/src/lib.rs
  sdk/src/native_loader.rs
  sdk/src/nonce_account.rs
  sdk/src/offchain_message.rs
  sdk/src/packet.rs
  sdk/src/poh_config.rs
  sdk/src/precompiles.rs
  sdk/src/program_utils.rs
  sdk/src/pubkey.rs
  sdk/src/quic.rs
  sdk/src/recent_blockhashes_account.rs
  sdk/src/reward_type.rs
  sdk/src/rpc_port.rs
  sdk/src/shred_version.rs
  sdk/src/signature.rs
  sdk/src/signer/mod.rs
  sdk/src/transaction_context.rs
  sdk/src/transport.rs
Labels: automerge, community

#29362 vote: Prevent commission update in the second half of epochs
  Cargo.lock
  programs/vote/Cargo.toml
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  sdk/program/src/vote/error.rs
  sdk/src/feature_set.rs
Labels: feature-gate, v1.14

#29392 Security TXT: Add source_release and source_revision fields
  explorer/src/components/account/SecurityCard.tsx
  explorer/src/utils/security-txt.ts
Labels: community, explorer

#29378 Fix BigTable upload early return
  ledger-tool/src/bigtable.rs
  ledger/src/bigtable_upload.rs
Labels: automerge

#29379 Minor cleanup on bigtable_upload
  ledger/src/bigtable_upload.rs
Labels: automerge

#29384 Adjust ledger-tool bigtable upload starting-slot default value
  ledger-tool/src/bigtable.rs
Labels: automerge

#29249 feat: Allow for verifying the sigs of partially signed txs in web3.js
  web3.js/src/transaction/legacy.ts
  web3.js/test/transaction.test.ts
Labels: community, web3.js

#29377 Add getInflationRate RPC call to web3.js
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: community, web3.js

#29410 Add an option to reinstall sbf-tool binaries by cargo-build-sbf
  sdk/cargo-build-sbf/src/main.rs
  sdk/cargo-build-sbf/tests/crates.rs
Labels: automerge

#29411 Enable full output of cargo-build-sbf tests
  sdk/cargo-build-sbf/tests/crates.rs
Labels: automerge

#29413 test: fix get inflation rate failed at test:live
  web3.js/test/connection.test.ts
Labels: web3.js

#29414 ci: fix web3-commit-lint
  web3.js/package-lock.json
Labels: automerge, web3.js

#29393 experiments different turbine fanouts for propagating shreds
  core/src/cluster_nodes.rs
  core/src/retransmit_stage.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#29434 fix typo in rpc client
  rpc-client/src/nonblocking/rpc_client.rs
  rpc-client/src/rpc_client.rs
Labels: community

#29422 Fix: web3.js test typescript errors
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/rollup.config.js
  web3.js/rollup.config.types.js
  web3.js/test/bpf-loader.test.ts
  web3.js/test/connection-subscriptions.test.ts
  web3.js/test/connection.test.ts
  web3.js/test/mocks/rpc-http.ts
  web3.js/test/transaction.test.ts
  web3.js/test/url.ts
  web3.js/tsconfig.d.json
  web3.js/tsconfig.json
  web3.js/tsconfig.library.json
  web3.js/tsconfig.shared.json
  web3.js/tsconfig.tests.json
  web3.js/yarn.lock
Labels: community, web3.js

#29435 feat: add commission fields matching RPC spec
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: automerge, community, web3.js
