Repository solana-labs/solana, pull requests merged in 2022-08, with the labels that each got.

#26655 anchor verified build uses apr.dev
  explorer/src/utils/program-verification.tsx
Labels: community

#26748 Delete unused create_test_recent_blockhashes
  sdk/program/src/sysvar/recent_blockhashes.rs
Labels: community

#26851 accounts: Don't collect rent on newly created accounts
  runtime/src/accounts.rs
Labels: v1.10

#26902 Bump spl-token
  Cargo.lock
  account-decoder/Cargo.toml
  accounts-cluster-bench/Cargo.toml
  programs/bpf/Cargo.lock
  rpc/Cargo.toml
  tokens/Cargo.toml
  transaction-status/Cargo.toml
Labels: automerge

#26921 spl: Bump token to 3.5.0 and ata to 1.1.0
  Cargo.lock
  account-decoder/Cargo.toml
  accounts-cluster-bench/Cargo.toml
  fetch-spl.sh
  program-test/src/programs.rs
  program-test/src/programs/spl_associated_token_account-1.0.5.so
  program-test/src/programs/spl_associated_token_account-1.1.1.so
  program-test/src/programs/spl_token-3.3.0.so
  program-test/src/programs/spl_token-3.5.0.so
  programs/bpf/Cargo.lock
  rpc/Cargo.toml
  tokens/Cargo.toml
  tokens/src/spl_token.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_associated_token.rs
Labels: v1.10

#26930 Remove runtime dependency from solana-transaction-status
  Cargo.lock
  core/src/banking_stage.rs
  ledger/Cargo.toml
  ledger/src/blockstore_processor.rs
  ledger/src/lib.rs
  ledger/src/token_balances.rs
  programs/bpf/Cargo.lock
  programs/bpf/Cargo.toml
  programs/bpf/tests/programs.rs
  runtime/src/bank.rs
  sdk/src/lib.rs
  sdk/src/reward_type.rs
  transaction-status/Cargo.toml
  transaction-status/src/lib.rs
  transaction-status/src/token_balances.rs
Labels: v1.10, v1.11

#26926 add program account to bpf loader close instruction parser
  transaction-status/src/parse_bpf_loader.rs
Labels: community

#26898 Io stats v2
  core/src/system_monitor_service.rs
Labels: v1.11

#26723 Support jsonParsed address lookup table accounts
  Cargo.lock
  account-decoder/Cargo.toml
  account-decoder/src/lib.rs
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_address_lookup_table.rs
  programs/bpf/Cargo.lock
Labels: automerge

#26522 Fix sol_get_processed_sibling_instruction on 32-bit hosts
  programs/bpf_loader/src/syscalls/mod.rs
  sdk/program/src/instruction.rs
Labels: community

#26957 Unpin tokio for non-rpc crates
  banks-server/Cargo.toml
  client/Cargo.toml
  faucet/Cargo.toml
  ledger-tool/Cargo.toml
  ledger/Cargo.toml
  net-utils/Cargo.toml
  program-test/Cargo.toml
  storage-bigtable/Cargo.toml
  streamer/Cargo.toml
  test-validator/Cargo.toml
Labels: v1.10, v1.11

#26844 [docs] fixing incorrect/unknown redirects
  docs/publish-docs.sh
Labels: community

#26918 bpf-loader: make syscalls pub
  programs/bpf_loader/src/syscalls/mod.rs
Labels: automerge, community, v1.11

#26528 transaction-status, storage-proto: add compute_units_consumed
  cli-output/src/display.rs
  client/src/mock_sender.rs
  core/src/banking_stage.rs
  ledger/src/blockstore.rs
  programs/bpf/tests/programs.rs
  rpc/src/transaction_status_service.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
  storage-proto/proto/confirmed_block.proto
  storage-proto/src/convert.rs
  storage-proto/src/lib.rs
  transaction-status/src/lib.rs
Labels: automerge, community, v1.10, v1.11

#26248 Keypair: implement clone()
  core/src/replay_stage.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster_slow_1.rs
  runtime/src/genesis_utils.rs
  sdk/src/signer/keypair.rs
Labels: community

#26887 Bump sbf-tools version to v1.29
  programs/bpf/tests/programs.rs
  sdk/bpf/c/bpf.mk
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-sbf/src/main.rs
  sdk/cargo-build-sbf/tests/crates.rs
Labels: automerge

#26978 Switch to cargo-build-sbf for building tests in programs/bpf
  programs/bpf/build.rs
Labels: automerge

#26377 added arg --rpc-max-request-payload-size to validator
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
  validator/src/main.rs
Labels: community

#26986 Fix windows release builds
  .github/workflows/release-artifacts.yml
  storage-bigtable/build-proto/Cargo.toml
  storage-bigtable/build-proto/src/main.rs
  storage-proto/Cargo.toml
  storage-proto/build.rs
Labels: v1.11

#27004 [docs] updated absolute routes to local routes
  docs/src/developing/clients/javascript-api.md
  docs/src/developing/clients/javascript-reference.md
  docs/src/developing/on-chain-programs/developing-c.md
  docs/src/developing/on-chain-programs/developing-rust.md
  docs/src/developing/programming-model/transactions.md
  docs/src/integrations/retrying-transactions.md
Labels: community

#26065 Add API docs for secp256k1_instruction and secp256k1_recover
  Cargo.lock
  programs/bpf/Cargo.lock
  programs/bpf/rust/secp256k1_recover/Cargo.toml
  programs/bpf/rust/secp256k1_recover/src/lib.rs
  programs/bpf/tests/programs.rs
  sdk/Cargo.toml
  sdk/program/src/example_mocks.rs
  sdk/program/src/secp256k1_program.rs
  sdk/program/src/secp256k1_recover.rs
  sdk/src/secp256k1_instruction.rs
Labels: community, v1.11

#26995 Refactor cargo-build-sbf integration tests using assert_cmd crate
  Cargo.lock
  sdk/cargo-build-sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates.rs
Labels: automerge

#27011 Revert "Remove resolver=2 from Cargo.toml and add it to the Windows build"
  Cargo.toml
  ci/publish-tarball.sh
Labels: automerge, v1.10

#27000 Add `Signers` impls for `Arc<dyn Signer>`
  sdk/src/signer/signers.rs
Labels: community, v1.11

#26996 client: Use async TPU client in sync TPU client by sharing tokio runtime
  client/src/nonblocking/pubsub_client.rs
  client/src/nonblocking/tpu_client.rs
  client/src/pubsub_client.rs
  client/src/rpc_client.rs
  client/src/tpu_client.rs
Labels: automerge

#26909 ledger-tool: support Geyser accounts updates
  Cargo.lock
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
Labels: automerge, community

#27034 transaction-status: Correct StakeInstruction::DeactivateDelinquent instruction type name
  transaction-status/src/parse_stake.rs
Labels: v1.11

#27035 Fix VoteInstruction order
  programs/vote/src/vote_instruction.rs
Labels: v1.11

#26987 Feature: disable CPI setting `is_executable` and `rent_epoch`
  program-test/src/lib.rs
  programs/bpf/c/src/invoke/invoke.c
  programs/bpf/rust/invoke/src/instructions.rs
  programs/bpf/rust/invoke/src/processor.rs
  programs/bpf/tests/programs.rs
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/bpf_loader/src/syscalls/mod.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#27040 Implement nonblocking version of BlockhashQuery
  client/src/nonblocking/blockhash_query.rs
  client/src/nonblocking/mod.rs
  client/src/nonblocking/nonce_utils.rs
  client/src/nonce_utils.rs
Labels: v1.11

#26866 ancestor hashes socket ping/pong support
  core/src/ancestor_hashes_service.rs
  core/src/serve_repair.rs
  sdk/src/feature_set.rs
Labels: feature-gate, v1.11

#27050 Explorer: Refactor parsed transaction handling
  explorer/src/components/account/TokenHistoryCard.tsx
  explorer/src/components/account/history/TokenInstructionsCard.tsx
  explorer/src/components/account/history/TokenTransfersCard.tsx
  explorer/src/components/account/history/common.tsx
  explorer/src/components/transaction/InstructionsSection.tsx
  explorer/src/components/transaction/ProgramLogSection.tsx
  explorer/src/components/transaction/TokenBalancesCard.tsx
  explorer/src/pages/TransactionDetailsPage.tsx
  explorer/src/providers/accounts/history.tsx
  explorer/src/providers/transactions/parsed.tsx
  explorer/src/utils/instruction.ts
Labels: automerge

#27046 Fix quic client on TestValidator, alternative
  gossip/src/cluster_info.rs
  net-utils/src/lib.rs
Labels: automerge, v1.11

#27056 docs: fix typo in return-data.md
  docs/src/proposals/return-data.md
Labels: community

#27055 `solana-validator monitor` how displays slot and gossip stake % while waiting for supermajority
  core/src/validator.rs
Labels: v1.11

#27065 feat: handle `loadedAddresses` field in tx meta responses
  web3.js/src/connection.ts
Labels: automerge

#27067 chore: annotate more types as deprecated
  web3.js/src/connection.ts
  web3.js/src/fee-calculator.ts
Labels: automerge

#26588 Fix duplicate / incorrect docs in solana_sdk by removing the solana_program::* import
  sdk/src/lib.rs
Labels: community

#27070 Fix rust flags handling in cargo-build-sbf
  Cargo.lock
  sdk/cargo-build-sbf/Cargo.toml
  sdk/cargo-build-sbf/src/main.rs
  sdk/cargo-build-sbf/tests/crates.rs
Labels: automerge

#27071 Fix local cluster tests for QUIC usage
  local-cluster/src/cluster_tests.rs
Labels: v1.11

#27084 feat: support minContextSlot in getParsedAccountInfo method
  web3.js/src/connection.ts
Labels: automerge

#26870 allow staked nodes weight override
  Cargo.lock
  core/src/staked_nodes_updater_service.rs
  core/src/tpu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  programs/bpf/Cargo.lock
  test-validator/src/lib.rs
  validator/Cargo.toml
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: community

#27096 Fix local-cluster for QUIC more
  local-cluster/src/cluster_tests.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/local_cluster.rs
Labels: v1.11

#27105 Fix test_accounts_data_size_and_resize_transactions
  runtime/src/bank.rs
Labels: automerge

#26925 don't log when there is no work to do for combining ancient slots
  runtime/src/accounts_db.rs
Labels: stale

#27127 feat: add getAddressLookupTable method to Connection
  web3.js/src/account-data.ts
  web3.js/src/connection.ts
  web3.js/src/programs/address-lookup-table/index.ts
  web3.js/src/programs/address-lookup-table/state.ts
  web3.js/test/connection.test.ts
Labels: automerge

#27128 explorer: Bump @solana/web3.js to v1.53.0
  explorer/package-lock.json
  explorer/package.json
Labels: automerge

#27133 Explorer: Add details page for address lookup table accounts
  explorer/src/components/account/address-lookup-table/AddressLookupTableAccountSection.tsx
  explorer/src/components/account/address-lookup-table/LookupTableEntriesCard.tsx
  explorer/src/components/account/address-lookup-table/types.ts
  explorer/src/components/instruction/address-lookup-table/types.ts
  explorer/src/pages/AccountDetailsPage.tsx
Labels: automerge

#27134 chore: add constant for pubkey byte length
  web3.js/src/message/legacy.ts
  web3.js/src/publickey.ts
  web3.js/src/validator-info.ts
Labels: automerge

#26650 test-validator: improve multi-value arg help output
  validator/src/bin/solana-test-validator.rs
Labels: v1.11

#26849 Add more sysvar API docs
  sdk/macro/src/lib.rs
  sdk/program/src/clock.rs
  sdk/program/src/epoch_schedule.rs
  sdk/program/src/example_mocks.rs
  sdk/program/src/lib.rs
  sdk/program/src/rent.rs
  sdk/program/src/slot_hashes.rs
  sdk/program/src/slot_history.rs
  sdk/program/src/sysvar/clock.rs
  sdk/program/src/sysvar/epoch_schedule.rs
  sdk/program/src/sysvar/fees.rs
  sdk/program/src/sysvar/instructions.rs
  sdk/program/src/sysvar/mod.rs
  sdk/program/src/sysvar/recent_blockhashes.rs
  sdk/program/src/sysvar/rent.rs
  sdk/program/src/sysvar/rewards.rs
  sdk/program/src/sysvar/slot_hashes.rs
  sdk/program/src/sysvar/slot_history.rs
  sdk/program/src/sysvar/stake_history.rs
Labels: community

#26938 Add stats for readonly cache evicts
  runtime/src/accounts_db.rs
  runtime/src/read_only_accounts_cache.rs
Labels: v1.10, v1.11

#27005 [docs] Docs sidebar/navbar restructure
  CONTRIBUTING.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/developing/on-chain-programs/debugging.md
  docs/src/developing/on-chain-programs/deploying.md
  docs/src/developing/on-chain-programs/examples.md
  docs/src/implemented-proposals/implemented-proposals.md
  docs/src/pages/index.js
  docs/src/proposals.md
  docs/src/proposals/accepted-design-proposals.md
Labels: community

#26840 add getTokenLargestAccounts rpc method to rust client
  client/src/nonblocking/rpc_client.rs
  client/src/rpc_client.rs
  client/src/rpc_request.rs
Labels: community

#26586 VoteProgram.safeWithdraw function to safeguard against accidental vote account closures
  web3.js/src/programs/vote.ts
  web3.js/test/program-tests/vote.test.ts
Labels: community

#27192 snapshots: serialize version file first
  runtime/src/snapshot_utils.rs
Labels: v1.11

#26861 [docs] updated "transaction fees" page
  docs/src/developing/programming-model/runtime.md
  docs/src/terminology.md
  docs/src/transaction_fees.md
Labels: community

#27221 sdk: Fix args after "--" in build-bpf and test-bpf
  sdk/cargo-build-bpf/src/main.rs
  sdk/cargo-test-bpf/src/main.rs
Labels: automerge, v1.11

#27204 chore: only buildkite pipelines use sccache in docker-run.sh
  ci/docker-run.sh
Labels: automerge, v1.10, v1.11

#27100 clean feature: `prevent_calling_precompiles_as_programs`
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/ed25519-tests/tests/process_transaction.rs
  runtime/src/bank.rs
  runtime/src/builtins.rs
  runtime/src/genesis_utils.rs
  runtime/src/message_processor.rs
  sdk/src/feature_set.rs
  sdk/src/precompiles.rs
Labels: automerge

#27234 Verifying snapshot bank must always specify the snapshot slot
  runtime/src/bank.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#27240 correct double negation
  sdk/src/transaction/error.rs
Labels: automerge, community

#27152 slots_connected: check if the range is connected (>= ending_slot)
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
Labels: v1.11

#27118 banking stage: actually aggregate tracer packet stats
  core/src/banking_stage.rs
Labels: v1.10, v1.11

#27253 Refactor epoch reward 1
  runtime/src/bank.rs
Labels: automerge

#27264 Update `solana deploy` subcommand to warn non-upgradable
  cli/src/program.rs
Labels: community, v1.11

#27256 slots_per_epoch shouldn't be optional
  runtime/src/accounts_db.rs
Labels: v1.11

#27296 Assign custom names to the Rayon global thread pool
  core/src/validator.rs
Labels: automerge, v1.11

#27248 Relax authority signer check for lookup table creation
  cli/src/address_lookup_table.rs
  cli/tests/address_lookup_table.rs
  programs/address-lookup-table-tests/tests/create_lookup_table_ix.rs
  programs/address-lookup-table/src/instruction.rs
  programs/address-lookup-table/src/processor.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#27311 add missing derives
  client/src/rpc_response.rs
  transaction-status/src/lib.rs
Labels: automerge, community

#27219 remove unnecessary references
  runtime/src/in_mem_accounts_index.rs
Labels: v1.11

#27268 Add documentation for JSON parsing
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.11

#27314 Allow Ctrl-C when querying balances
  tokens/src/commands.rs
  tokens/src/main.rs
Labels: automerge

#27340 Update config parsing doc
  docs/src/developing/clients/jsonrpc-api.md
Labels: automerge, v1.11

#27290 Feature: `stop_sibling_instruction_search_at_parent`
  programs/bpf_loader/src/syscalls/mod.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#27326 chore: skip spl downstream project test when the used version too high
  scripts/build-downstream-projects.sh
Labels: automerge, v1.10, v1.11

#27185 Check overflow on vote tx compaction boundary
  core/src/replay_stage.rs
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/vote_parser.rs
  sdk/program/src/vote/state/mod.rs
  transaction-status/src/parse_vote.rs
Labels: v1.11

#27380 Update BigTable apis to respect a limit of zero
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
Labels: v1.10, v1.11

#27265 [docs] added commitment page
  docs/sidebars.js
  docs/src/cluster/commitments.md
  docs/src/implemented-proposals/commitment.md
  docs/src/terminology.md
Labels: community

#27323 Handle VoteStateUpdates for outdated roots bigger than slots in existing VoteState
  programs/vote/src/vote_state/mod.rs
  sdk/src/feature_set.rs
Labels: v1.10, v1.11

#27394 fix test_rpc_subscriptions
  rpc-test/tests/rpc.rs
Labels: automerge, v1.10, v1.11

#27321 coalesce entries in recv_slot_entries to target byte count
  core/src/broadcast_stage/broadcast_utils.rs
  ledger/src/shred.rs
  ledger/src/shred/shred_data.rs
Labels: v1.11

#27402 Fix quic staked chunking
  tpu-client/src/connection_cache.rs
  tpu-client/src/nonblocking/quic_client.rs
Labels: automerge, v1.11

#27403 make fatal log message sound fatal
  core/src/accounts_hash_verifier.rs
Labels: automerge, v1.10, v1.11

#26716 explorer: Add information about NFToken NFTs and Collection
  .gitignore
  explorer/package-lock.json
  explorer/package.json
  explorer/src/__tests__/parseNFTokenAccounts.ts
  explorer/src/components/account/MetaplexNFTHeader.tsx
  explorer/src/components/account/nftoken/NFTokenAccountHeader.tsx
  explorer/src/components/account/nftoken/NFTokenAccountSection.tsx
  explorer/src/components/account/nftoken/NFTokenCollectionNFTGrid.tsx
  explorer/src/components/account/nftoken/README.md
  explorer/src/components/account/nftoken/isNFTokenAccount.ts
  explorer/src/components/account/nftoken/nftoken-hooks.tsx
  explorer/src/components/account/nftoken/nftoken-types.ts
  explorer/src/components/account/nftoken/nftoken.ts
  explorer/src/components/common/NFTArt.tsx
  explorer/src/pages/AccountDetailsPage.tsx
Labels: stale, community

#27404 rpc-sts: respect app exit in tx receiver thread
  send-transaction-service/src/send_transaction_service.rs
Labels: v1.10, v1.11

#27424 Update runtime background hash verifier thread name
  runtime/src/bank.rs
Labels: v1.11

#26816 [docs] Adding content pages under "developing" section
  docs/sidebars.js
  docs/src/developing/intro/programs.md
  docs/src/developing/intro/rent.md
  docs/src/terminology.md
Labels: community

#27437 [docs] Terminology PDA - replace owner by authority
  docs/src/terminology.md
Labels: automerge, community

#27448 Fix test_bench_tps_local_cluster_solana
  bench-tps/tests/bench_tps.rs
  dos/src/main.rs
  gossip/src/cluster_info.rs
  local-cluster/tests/local_cluster.rs
  local-cluster/tests/local_cluster_slow_2.rs
Labels: v1.11

#27471 `solana-validator exit`: Wait for first incremental snapshot after a full snapshot before restarting
  validator/src/main.rs
Labels: v1.11

#27499 ci: Fix steps in run-local
  ci/run-local.sh
Labels: automerge

#27470 chore: add cargo audit at the beginning of secondary pipeline
  ci/buildkite-secondary.yml
Labels: automerge

#27436 [docs] developers home page
  docs/components/Card.jsx
  docs/docusaurus.config.js
  docs/layouts/CardLayout.js
  docs/publish-docs.sh
  docs/sidebars.js
  docs/src/cli/deploy-a-program.md
  docs/src/css/custom.css
  docs/src/pages/developers.js
  docs/src/pages/index.js
Labels: community

#27367 Make CommitmentLevel constructors const
  sdk/src/commitment_config.rs
Labels: community
