Repository solana-labs/solana, pull requests merged in 2022-11, with the labels that each got.

#28424 Add SetAuthorityChecked instruction to bpf loader
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls/cpi.rs
  sdk/program/src/bpf_loader_upgradeable.rs
  sdk/program/src/loader_upgradeable_instruction.rs
  sdk/src/feature_set.rs
  transaction-status/src/parse_bpf_loader.rs
Labels: automerge, community, feature-gate

#28553 make feature 28541 a no-op
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/expected_rent_collection.rs
  runtime/src/lib.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#28052 Add docs for system_instruction and some of its functions
  sdk/program/src/example_mocks.rs
  sdk/program/src/system_instruction.rs
  sdk/program/src/system_program.rs
Labels: community

#28714 Fix broken doc links in solana-client
  client/src/lib.rs
Labels: community

#28719 chore: bump actions/setup-python to v4
  .github/workflows/export-github-repo.yml
Labels: automerge

#28720 Fix clippy warnings on Windows
  clap-utils/src/keypair.rs
  clap-v3-utils/src/keypair.rs
Labels: automerge, community

#28738 Refactor upgradeable loader test utility function
  programs/bpf-loader-tests/tests/common.rs
  programs/bpf-loader-tests/tests/extend_program_ix.rs
Labels: automerge

#28742 Add to cargo-test-sbf an option to test specific packages
  Cargo.lock
  sdk/cargo-build-sbf/src/main.rs
  sdk/cargo-test-sbf/Cargo.toml
  sdk/cargo-test-sbf/src/main.rs
Labels: automerge

#28758 Remove unnecessary clone of a String
  sdk/src/signer/keypair.rs
Labels: automerge, community

#28776 Refactors snapshot_archive_info in bank_from_snapshot_archives()
  runtime/src/snapshot_utils.rs
Labels: automerge

#28770 Add missing solana-program docs
  sdk/program/src/serde_varint.rs
  sdk/program/src/syscalls/mod.rs
Labels: community

#28159 check is_forwarded packet earlier
  core/src/unprocessed_transaction_storage.rs
Labels: automerge

#27840 Cap accounts data a transaction can load by its requested limit
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  programs/bpf-loader-tests/tests/common.rs
  programs/bpf-loader-tests/tests/extend_program_ix.rs
  programs/sbf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/transaction_error_metrics.rs
  runtime/src/transaction_priority_details.rs
  sdk/src/compute_budget.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/error.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: feature-gate, v1.13, v1.14

#28781 Fix typo in cost_tracker.rs
  runtime/src/cost_tracker.rs
Labels: community

#28728 bigtable: add timeout to token refresh
  storage-bigtable/src/access_token.rs
Labels: community, v1.13, v1.14

#28814 Lowers test's account data size to avoid hitting MaxLoadedAccountsDataSizeExceed
  runtime/src/bank.rs
Labels: automerge

#28691 signed repair request test fixes/cleanup
  core/src/ancestor_hashes_service.rs
  core/src/serve_repair.rs
Labels: v1.13, v1.14

#28772 Fix client get_program_accounts_with_config calls with context
  rpc-client-api/src/response.rs
  rpc-client/src/nonblocking/rpc_client.rs
  rpc-client/src/rpc_client.rs
  rpc/src/rpc.rs
Labels: v1.13, v1.14

#28854 Docs: Removed Serum RPC mention
  docs/src/cluster/rpc-endpoints.md
Labels: v1.13, v1.14

#28852 ci: refactor docs pipeline
  .github/workflows/docs.yml
Labels: automerge, v1.13, v1.14

#28860 chore: remove rbpf-cli/Cargo.lock
  rbpf-cli/Cargo.lock
Labels: automerge

#28867 explorer: OpenBook ix details using Serum code
  explorer/src/components/instruction/SerumDetailsCard.tsx
  explorer/src/components/instruction/serum/CancelOrderByClientIdDetails.tsx
  explorer/src/components/instruction/serum/CancelOrderByClientIdV2Details.tsx
  explorer/src/components/instruction/serum/CancelOrderDetails.tsx
  explorer/src/components/instruction/serum/CancelOrderV2Details.tsx
  explorer/src/components/instruction/serum/CloseOpenOrdersDetails.tsx
  explorer/src/components/instruction/serum/ConsumeEventsDetails.tsx
  explorer/src/components/instruction/serum/ConsumeEventsPermissionedDetails.tsx
  explorer/src/components/instruction/serum/DisableMarketDetails.tsx
  explorer/src/components/instruction/serum/InitOpenOrdersDetails.tsx
  explorer/src/components/instruction/serum/InitializeMarketDetailsCard.tsx
  explorer/src/components/instruction/serum/MatchOrdersDetailsCard.tsx
  explorer/src/components/instruction/serum/NewOrderDetailsCard.tsx
  explorer/src/components/instruction/serum/NewOrderV3DetailsCard.tsx
  explorer/src/components/instruction/serum/PruneDetails.tsx
  explorer/src/components/instruction/serum/SettleFundsDetailsCard.tsx
  explorer/src/components/instruction/serum/SweepFeesDetails.tsx
  explorer/src/components/instruction/serum/types.ts
  explorer/src/utils/tx.ts
Labels: community

#28872 Sort offline/wrong-shred nodes by stake weight while waiting for supermajority
  core/src/validator.rs
Labels: v1.14

#28548 Refactor, move solana-validator CLI related configs to its own module
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
  validator/src/lib.rs
  validator/src/main.rs
Labels: community

#28378 Fixed warnings caused by redefined macros. Also fixed sol_memcpy to …
  sdk/bpf/c/inc/sol/constants.h
  sdk/bpf/c/inc/sol/entrypoint.h
  sdk/bpf/c/inc/sol/string.h
  sdk/sbf/c/inc/sol/constants.h
  sdk/sbf/c/inc/sol/entrypoint.h
  sdk/sbf/c/inc/sol/string.h
Labels: automerge, community

#28904 ci: rewrite Github Actions slack error reporting
  .github/workflows/client-targets.yml
  .github/workflows/docs.yml
  .github/workflows/export-github-repo.yml
  .github/workflows/release-artifacts-auto.yml
Labels: automerge

#27961 added alt_bn syscalls
  Cargo.lock
  ci/test-stable.sh
  program-runtime/src/compute_budget.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  programs/sbf/build.rs
  programs/sbf/rust/alt_bn128/Cargo.toml
  programs/sbf/rust/alt_bn128/src/lib.rs
  sdk/bpf/c/inc/sol/alt_bn128.h
  sdk/bpf/c/inc/sol/inc/alt_bn128.inc
  sdk/bpf/c/inc/solana_sdk.h
  sdk/program/Cargo.toml
  sdk/program/src/alt_bn128.rs
  sdk/program/src/lib.rs
  sdk/program/src/syscalls/definitions.rs
  sdk/sbf/c/inc/sol/alt_bn128.h
  sdk/sbf/c/inc/sol/inc/alt_bn128.inc
  sdk/src/feature_set.rs
  sdk/src/lib.rs
Labels: community

#28281 Update cost model to use requested_cu instead of estimated cu #27608
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/cost_update_service.rs
  core/src/qos_service.rs
  core/src/replay_stage.rs
  core/src/tpu.rs
  core/src/tvu.rs
  core/src/validator.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore_processor.rs
  runtime/src/cost_model.rs
  runtime/src/execute_cost_table.rs
  runtime/src/lib.rs
  sdk/src/compute_budget.rs
Labels: community

#28939 Renames EAH test fn
  core/tests/epoch_accounts_hash.rs
Labels: automerge

#28327 reduce memory usage report freq to 1 per 5s
  core/src/system_monitor_service.rs
Labels: automerge

#28290 web3.js: add getSignatureStatuses to confirm transaction
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
  web3.js/test/mocks/rpc-websockets.ts
Labels: community

#28952 explorer: fix blockhash into hash for Slot Hashes
  explorer/src/components/account/SlotHashesCard.tsx
Labels: community

#28935 feature: on accounts hash calculation, do not try to rehash accounts
  accounts-bench/src/main.rs
  core/src/accounts_hash_verifier.rs
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_background_service.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_hash.rs
  runtime/src/bank.rs
  runtime/src/expected_rent_collection.rs
  runtime/src/lib.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_utils.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#28936 add feature #28934 (no-op in master)
  sdk/src/feature_set.rs
Labels: feature-gate

#27868 web3.js: remove Buffer from signature verification
  web3.js/src/transaction/legacy.ts
Labels: community

#25839 feat: a nonce-based transaction confirmation strategy for web3.js
  web3.js/src/connection.ts
  web3.js/src/nonce-account.ts
  web3.js/src/transaction/expiry-custom-errors.ts
  web3.js/src/transaction/legacy.ts
  web3.js/src/utils/send-and-confirm-raw-transaction.ts
  web3.js/src/utils/send-and-confirm-transaction.ts
  web3.js/test/connection.test.ts
  web3.js/test/mocks/rpc-http.ts
  web3.js/test/transaction.test.ts
Labels: enhancement, javascript

#27884 web3.js: fix typo in PublicKey.unique
  web3.js/src/publickey.ts
Labels: community

#27883 web3.js: replace casts with not-null assertions
  web3.js/src/message/legacy.ts
Labels: community

#27882 web3.js: deprecate PublicKey.findProgramAddress
  web3.js/src/publickey.ts
Labels: community

#27879 web3.js: add deprecation notice for createProgramAddress
  web3.js/src/publickey.ts
Labels: community

#27876 web3.js: use constant for PUBLIC_KEY_LENGTH for checking length of input
  web3.js/src/publickey.ts
Labels: community

#27865 web3.js: remove redundant 'Buffer' from 'Account' class
  web3.js/src/account.ts
Labels: community

#28971 chore: remove unused http-server dependency from web3.js
  web3.js/package.json
  web3.js/yarn.lock
Labels: automerge, javascript

#28972 chore: remove @babel/register dependency from web3.js
  web3.js/package.json
  web3.js/yarn.lock
Labels: automerge, javascript

#28979 Bump spl-ata to v1.1.2
  Cargo.lock
  fetch-spl.sh
  programs/sbf/Cargo.lock
  tokens/Cargo.toml
  transaction-status/Cargo.toml
Labels: automerge, v1.14

#28990 fix: TransactionMessage.decompile() now counts the correct number of unsigned, writable accounts
  web3.js/src/transaction/message.ts
  web3.js/test/transaction-tests/message.test.ts
Labels: web3.js

#28996 fix: support `VersionedMessage` in `getFeeForMessage`
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: web3.js
