Repository solana-labs/solana, pull requests merged in 2023-03, with the labels that each got.

#30498 Feature - `switch_to_new_elf_parser`
  programs/bpf_loader/src/syscalls/mod.rs
  sdk/src/feature_set.rs
Labels: feature-gate, runtime

#30584 AHV uses metrics names like SPS's
  core/src/accounts_hash_verifier.rs
Labels: automerge

#30585 AHV logs when stopped
  core/src/accounts_hash_verifier.rs
Labels: automerge

#30583 AHV loop uses let-else
  core/src/accounts_hash_verifier.rs
Labels: automerge

#30599 Fix typo: where -> were
  sdk/program/src/program_error.rs
Labels: community, need:merge-assist

#30582 AccountsHashVerifier remembers last full snapshot info
  core/src/accounts_hash_verifier.rs
Labels: automerge

#30640 [docs] Fix typos
  docs/src/index.mdx
Labels: community, need:merge-assist

#30351 docs: fix order of positional `start_slot` and `end_slot` in `getBlocks` API docs
  docs/src/api/methods/_getBlocks.mdx
Labels: stale, RPC

#30649 Fix repair_weight test bad merge failure
  core/src/repair_weight.rs
Labels: automerge

#30670 Update discord link in docs
  docs/src/running-validator/validator-troubleshoot.md
Labels: v1.14

#30671 Improves logs in bank verification at startup
  runtime/src/bank.rs
Labels: automerge

#30684 v1.13: stops nodes from broadcasting slots twice (backport of #30681)
  core/src/progress_map.rs
  core/src/replay_stage.rs
  ledger/src/blockstore.rs
Labels: automerge

#30686 patches flaky test_retransmit_latest_unpropagated_leader_slot
  core/src/replay_stage.rs
Labels: automerge

#30688 Link needs updating
  runtime/src/block_cost_limits.rs
Labels: community, need:merge-assist

#30658 AccountsHashVerifier updates AccountsDb after calculating accounts hash
  core/src/accounts_hash_verifier.rs
  runtime/src/accounts_db.rs
Labels: automerge

#30694 rpc_service: Rename variable for consistency with the rest of the code base
  rpc/src/rpc_service.rs
Labels: automerge

#30701 mem idx tracks duplicates better
  runtime/src/accounts_index.rs
Labels: v1.14

#30138 docs: prioritization fees
  docs/src/api/methods/_getRecentPrioritizationFees.mdx
  docs/src/developing/intro/transaction_fees.md
  docs/src/developing/programming-model/runtime.md
  docs/src/terminology.md
  docs/src/transaction_fees.md
Labels: community, need:merge-assist

#30710 validators always skip clean/shrink on startup
  validator/src/cli.rs
  validator/src/main.rs
Labels: v1.14

#30673 fix heap cost calculation rounding error
  programs/bpf_loader/src/lib.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#30727 updates tempfile to 3.4.0
  Cargo.lock
  Cargo.toml
  bench-tps/Cargo.toml
  ci/test-stable.sh
  programs/sbf/Cargo.lock
Labels: automerge

#30734 Make redelegate signer more optional
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: v1.14

#30352 Geyser Runtime Reload
  Cargo.lock
  core/src/validator.rs
  geyser-plugin-manager/Cargo.toml
  geyser-plugin-manager/src/geyser_plugin_manager.rs
  geyser-plugin-manager/src/geyser_plugin_service.rs
  geyser-plugin-manager/src/lib.rs
  ledger-tool/src/main.rs
  local-cluster/src/local_cluster.rs
  local-cluster/src/validator_configs.rs
  programs/sbf/Cargo.lock
  test-validator/Cargo.toml
  test-validator/src/lib.rs
  validator/Cargo.toml
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: community, need:merge-assist

#30772 Do not use ancestors in get_snapshot_storages
  runtime/benches/accounts.rs
  runtime/src/accounts_db.rs
Labels: automerge

#29524 Add new vote state version that replaces Lockout with LandedVote to a…
  cli-output/src/cli_output.rs
  core/src/consensus.rs
  core/src/lib.rs
  core/src/tower1_14_11.rs
  core/src/tower1_7_14.rs
  core/src/tower_storage.rs
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  sdk/program/src/vote/state/mod.rs
  sdk/program/src/vote/state/vote_state_1_14_11.rs
  sdk/program/src/vote/state/vote_state_versions.rs
  sdk/src/feature_set.rs
  sdk/src/transaction_context.rs
Labels: community, need:merge-assist

#30748 Fix - Revert and feature gate incorrect error message in BPF loader
  programs/bpf_loader/src/lib.rs
  programs/sbf/tests/programs.rs
  sdk/src/feature_set.rs
Labels: bug, feature-gate, runtime

#30818 Cleans *up to* the last full snapshot slot in verify_snapshot_bank()
  runtime/src/bank.rs
Labels: automerge

#30804 Makes snapshot_utils aware of Incremental Accounts Hash
  core/tests/snapshots.rs
  local-cluster/src/local_cluster.rs
  runtime/src/snapshot_utils.rs
Labels: automerge, feature-gate

#30826 v1.13: dedups packets using an atomic bloom filter (backport of #30726)
  Cargo.lock
  core/src/sigverify_stage.rs
  perf/Cargo.toml
  perf/benches/dedup.rs
  perf/src/sigverify.rs
Labels: automerge

#30835 v1.13: increases shred-fetch-stage deduper capacity and reset-cycle (backport of #30690)
  core/src/packet_hasher.rs
  core/src/shred_fetch_stage.rs
  core/src/validator.rs
  perf/src/sigverify.rs
Labels: automerge

#30659 include loaded accounts data size limit in transaction fee calculation
  programs/sbf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#30839 v1.13: removes the false_positive_rate field from the Deduper (backport of #30788)
  core/src/shred_fetch_stage.rs
  core/src/sigverify_stage.rs
  perf/benches/dedup.rs
  perf/src/sigverify.rs
Labels: automerge

#30847 v1.13: adds metrics tracking deduper saturations (backport of #30779)
  core/src/shred_fetch_stage.rs
  core/src/sigverify_stage.rs
  ledger/src/shred_stats.rs
Labels: automerge

#30857 V1.13: increases retransmit-stage deduper capacity and reset-cycle (backport of #30758)
  core/src/lib.rs
  core/src/packet_hasher.rs
  core/src/retransmit_stage.rs
  ledger/src/blockstore.rs
  ledger/src/shred.rs
Labels: automerge

#30863 cli: require one or more authority params in `stake-authorized-checked`
  cli/src/stake.rs
Labels: automerge, v1.14

#30464 Feature - Loader built-in program v3
  Cargo.lock
  Cargo.toml
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/lib.rs
  programs/loader-v3/Cargo.toml
  programs/loader-v3/src/lib.rs
  programs/loader-v3/test_elfs/out/invalid.so
  programs/loader-v3/test_elfs/out/noop.so
  programs/loader-v3/test_elfs/out/rodata.so
  sdk/program/src/lib.rs
  sdk/program/src/loader_v3.rs
  sdk/program/src/loader_v3_instruction.rs
  sdk/src/lib.rs
Labels: runtime

#30878 removes hash-map lookups when sorting vote-account keys
  core/src/verified_vote_packets.rs
Labels: automerge

#30853 Allow banking_stage to update prioritization_fee_cache
  banking-bench/src/main.rs
  core/benches/banking_stage.rs
  core/src/banking_stage.rs
  core/src/banking_stage/committer.rs
  core/src/banking_stage/consumer.rs
  core/src/tpu.rs
  core/src/validator.rs
Labels: automerge

#30864 [clap-utils] Remove `--blockhash` arg as a strict requirement when passing `--nonce`
  clap-v3-utils/src/nonce.rs
Labels: v1.14

#30881 Remove unused dependency
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  zk-token-sdk/Cargo.toml
Labels: automerge

#30894 Add units to incremental accounts hash datapoint
  core/src/accounts_hash_verifier.rs
Labels: automerge

#30897 Revert Rust 1.68.0 upgrade
  ci/docker-rust-nightly/Dockerfile
  ci/docker-rust/Dockerfile
  ci/rust-version.sh
  rust-toolchain.toml
Labels: automerge

#30468 reworks gossip crds timeouts
  gossip/benches/crds.rs
  gossip/src/cluster_info.rs
  gossip/src/crds.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_pull.rs
  gossip/tests/crds_gossip.rs
Labels: do-not-close

#30904 Make BanksClient timeout after 10 seconds instead of 60
  Cargo.lock
  banks-client/src/lib.rs
  program-test/Cargo.toml
  program-test/tests/timeout.rs
Labels: community, need:merge-assist

#30939 chore: workspace inheritance
  client/Cargo.toml
  connection-cache/Cargo.toml
  dos/Cargo.toml
  entry/Cargo.toml
  perf/Cargo.toml
  program-runtime/Cargo.toml
  program-test/Cargo.toml
  programs/address-lookup-table/Cargo.toml
  programs/loader-v3/Cargo.toml
  programs/sbf/rust/big_mod_exp/Cargo.toml
  programs/zk-token-proof-tests/Cargo.toml
  quic-client/Cargo.toml
  storage-proto/Cargo.toml
  thin-client/Cargo.toml
  tpu-client/Cargo.toml
  udp-client/Cargo.toml
Labels: automerge

#30360 tpu-client: Fix counter for expired blockhash retries
  tpu-client/src/nonblocking/tpu_client.rs
Labels: community, need:merge-assist

#30909 Update discord invite links
  docs/docusaurus.config.js
  geyser-plugin-interface/README.md
  sdk/README.md
  sdk/program/README.md
Labels: v1.14

#30946 Sub function getting vetted RPC nodes
  validator/src/bootstrap.rs
Labels: automerge

#30958 Add missing versioned tx support to BanksClient
  banks-client/src/lib.rs
Labels: automerge, community, need:merge-assist

#30969 simplifies streamer::nonblocking::quic::get_connection_stake
  streamer/src/nonblocking/quic.rs
Labels: automerge

#30937 v1.14: Admin RPC Service: move post-init activation to before wait-for-supermajority (backport of #30544)
  core/src/admin_rpc_post_init.rs
  core/src/lib.rs
  core/src/validator.rs
  local-cluster/src/local_cluster.rs
  test-validator/src/lib.rs
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: community, need:merge-assist

#30790 Linking the simd
  docs/src/proposals/bankless-leader.md
Labels: community, need:merge-assist
