Repository solana-labs/solana, pull requests merged in 2023-02, with the labels that each got.

#29743 Limit loaded data per transaction to a fixed cap
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/transaction_error_metrics.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/error.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: v1.14, v1.15

#30033 [explorer] Add Account Compression Program to searchable programs on explorer
  explorer/src/utils/tx.ts
Labels: explorer

#29981 Extends `enable_program_redeployment_cooldown` to closing programs
  programs/bpf_loader/src/lib.rs
Labels: runtime

#30095 Use Ipv4Addr constants in socketaddr!
  faucet/src/bin/faucet.rs
  faucet/src/faucet.rs
  gossip/src/cluster_info.rs
  gossip/src/crds.rs
  gossip/src/legacy_contact_info.rs
  rpc/src/rpc.rs
  test-validator/src/lib.rs
Labels: community

#30086 ci: cancel previous Windows build when start a new one
  .github/workflows/release-artifacts-auto.yml
Labels: v1.14, v1.15

#30105 Use TPU IP instead of gossip for QUIC client certificate info
  core/src/validator.rs
Labels: automerge, v1.14, v1.15

#30113 chore: bump bzip2 from 0.4.3 to 0.4.4
  Cargo.lock
  install/Cargo.toml
  programs/bpf/Cargo.lock
  runtime/Cargo.toml
  sdk/cargo-build-sbf/Cargo.toml
  storage-bigtable/Cargo.toml
Labels: automerge

#30077 feature gate to enable compute_budget::request_heap_frame on mainnetBeta
  program-runtime/src/compute_budget.rs
  programs/sbf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  runtime/src/cost_model.rs
  runtime/src/transaction_priority_details.rs
  sdk/src/feature_set.rs
Labels: v1.14, v1.15

#30141 Fix: typos
  docs/src/developing/intro/rent.md
  docs/src/developing/lookup-tables.md
  docs/src/developing/test-validator.md
  docs/src/proposals/ledger-replication-to-implement.md
  docs/src/running-validator/vote-accounts.md
Labels: community, need:merge-assist

#30136 Refactor client::nonblocking::tpu_client to use tpu_client::nonblocki…
  client/src/nonblocking/tpu_client.rs
Labels: v1.15

#30130 Prevent Rent-reward recipients from ending up RentPaying
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/feature_set.rs
Labels: v1.15

#30162 Fix camelCase response for RpcPrioritizationFee
  rpc-client-api/src/response.rs
Labels: community, v1.14, v1.15, need:merge-assist

#30173 ci: update openssl-src to 111.25 as per RUSTSEC-2023-0007
  Cargo.lock
  programs/sbf/Cargo.lock
Labels: v1.14, v1.15

#30184 Append integer to solBigTGetBlk threads to uniquify them
  ledger/src/bigtable_upload.rs
Labels: automerge

#30128 removes dynamic cast and dynamic dispatch from connection-cache
  Cargo.lock
  bench-tps/Cargo.toml
  bench-tps/src/bench_tps_client/tpu_client.rs
  bench-tps/src/main.rs
  bench-tps/tests/bench_tps.rs
  cli/src/program.rs
  client/src/connection_cache.rs
  client/src/nonblocking/tpu_client.rs
  client/src/thin_client.rs
  client/src/tpu_client.rs
  connection-cache/src/connection_cache.rs
  core/src/banking_stage/forwarder.rs
  core/src/warm_quic_cache_service.rs
  dos/src/main.rs
  quic-client/src/lib.rs
  rpc-test/tests/rpc.rs
  send-transaction-service/src/send_transaction_service.rs
  thin-client/src/thin_client.rs
  tpu-client/src/nonblocking/tpu_client.rs
  tpu-client/src/tpu_client.rs
  udp-client/src/lib.rs
Labels: v1.15

#30206 chore: Use `i` over `ix` variable name when naming worker threads
  core/src/replay_stage.rs
  core/src/validator.rs
  entry/src/entry.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_processor.rs
  ledger/src/shredder.rs
  ledger/src/sigverify_shreds.rs
  perf/src/sigverify.rs
Labels: automerge

#30212 [docs] fix: rpc api redirect
  docs/publish-docs.sh
Labels: community, need:merge-assist

#30133 [docs] style: prettier force line length to 80 chars
  docs/.prettierrc.json
Labels: automerge, community, need:merge-assist

#30189 Replace txn_signature in ReplicaAccountInfo with transaction
  geyser-plugin-interface/src/geyser_plugin_interface.rs
  geyser-plugin-manager/src/accounts_update_notifier.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_db/geyser_plugin_utils.rs
  runtime/src/accounts_update_notifier_interface.rs
Labels: community, need:merge-assist

#29933 ledger-tool: Notify geyser of transactions
  Cargo.lock
  ledger-tool/Cargo.toml
  ledger-tool/src/main.rs
Labels: community, need:merge-assist

#30232 Fill in feature issue number in feature_set
  sdk/src/feature_set.rs
Labels: automerge, v1.15

#30158 Add address lookup tables to minimized snapshot
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  runtime/src/bank.rs
Labels: v1.15

#30042 Added support of consumed BPF units tracing
  program-runtime/src/invoke_context.rs
  programs/sbf/tests/programs.rs
  rbpf-cli/src/main.rs
Labels: community, need:merge-assist

#30229 Refactor thin client
  bench-tps/src/main.rs
  cli/src/program.rs
  client/src/connection_cache.rs
  client/src/nonblocking/tpu_client.rs
  client/src/thin_client.rs
  client/src/tpu_client.rs
  rpc-test/tests/rpc.rs
Labels: v1.15

#30262 chore: remove Explorer build scripts from the Monorepo
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/explorer.yml
  .github/workflows/explorer_production.yml
  .github/workflows/labeler.yml
  .mergify.yml
  .travis.yml
  SECURITY.md
  ci/buildkite-pipeline-in-disk.sh
  ci/buildkite-pipeline.sh
  ci/buildkite-solana-private.sh
Labels: automerge

#30256 Replace magic numbers and update comments
  validator/src/bootstrap.rs
Labels: automerge

#30250 remove recommendations to skip validator startup tests on failure
  core/src/validator.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: v1.15

#30268 Cleanup tempoary pub modules
  client/src/nonblocking/tpu_client.rs
  client/src/tpu_client.rs
  thin-client/src/thin_client.rs
  tpu-client/src/nonblocking/tpu_client.rs
  tpu-client/src/tpu_client.rs
Labels: v1.15

#29654 Refactor - Delay visibility of program un-/re-/deployment
  program-runtime/src/executor_cache.rs
  programs/bpf_loader/src/lib.rs
  programs/sbf/tests/programs.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#30035 add cost tracking for each bank during replay
  ledger/src/blockstore_processor.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#30274 chore: fix broken docs link
  core/src/lib.rs
Labels: community, need:merge-assist

#30280 Fix transactions counts stored by SamplePerformanceService
  core/src/sample_performance_service.rs
Labels: automerge, v1.15

#29793 docs - new homepage
  docs/components/Card.jsx
  docs/components/HomeCtaLinks.jsx
  docs/src/css/custom.css
  docs/src/index.mdx
  docs/src/pages/index.js
Labels: community, need:merge-assist

#29775 docs - smaller logo image
  docs/static/img/logo-horizontal-dark.svg
  docs/static/img/logo-horizontal.svg
Labels: community, need:merge-assist

#30303 validator: let `clap` double-dash prefix long args
  validator/src/cli.rs
Labels: v1.14, v1.15

#30316 Scope SamplePerformanceService Bank only for initial sample snapshot
  core/src/sample_performance_service.rs
Labels: automerge

#30321 Simplify some comparisons using (a1, a2).cmp(&(b1, b2))
  cli-output/src/cli_output.rs
  cli/src/feature.rs
Labels: automerge, community, need:merge-assist

#30296 Add clarifying comments to SamplePerformanceService
  core/src/sample_performance_service.rs
  docs/src/api/methods/_getRecentPerformanceSamples.mdx
Labels: v1.15

#30337 Return index of matching owner for a program account
  runtime/src/accounts_db.rs
  runtime/src/append_vec.rs
Labels: automerge

#30340 Fixes race in local cluster incremental snapshot test
  local-cluster/tests/local_cluster.rs
Labels: automerge

#29427 removes the merkle root from shreds binary
  ledger/src/shred.rs
  ledger/src/shred/merkle.rs
  ledger/src/shred/shred_data.rs
  ledger/src/sigverify_shreds.rs
Labels: do-not-close

#29339 adds hash domain to merkle shreds
  ledger/src/shred/merkle.rs
  ledger/src/shredder.rs
Labels: do-not-close

#30334 removes redundant CrdsGossipPull.msg_timeout
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip_pull.rs
Labels: automerge

#30301 TPU and TVU docs changes
  docs/src/terminology.md
  docs/src/validator/tvu.md
Labels: community, need:merge-assist

#30354 Fix the return type of AccountsFile::account_matches_owners()
  runtime/src/accounts_file.rs
Labels: automerge

#30363 Apply clippy fixes for future rust upgrade
  core/src/serve_repair.rs
  gossip/src/crds_gossip_pull.rs
  rpc-client-api/src/response.rs
  runtime/src/ancient_append_vecs.rs
  sdk/program/src/alt_bn128.rs
Labels: automerge

#30364 Inline format args
  core/src/serve_repair.rs
  ledger-tool/src/main.rs
Labels: automerge

#30306 hide commonly misused `--no-port-check` validator arg
  docs/src/running-validator/validator-start.md
  validator/src/cli.rs
Labels: v1.14, v1.15

#30372 Cli: expose until param in solana transaction-history
  cli/src/cluster_query.rs
Labels: automerge

#30361 ci: don't print 'Checking PACKAGE_NAME...' when do cargo sorting check
  ci/test-checks.sh
Labels: automerge

#30389 local-cluster test: Do not delete files that are in use by node
  local-cluster/tests/local_cluster.rs
Labels: automerge

#29969 improve pubsub error handling
  pubsub-client/src/pubsub_client.rs
Labels: community, need:merge-assist

#30380 Update geyser interface to not require write locks
  geyser-plugin-interface/src/geyser_plugin_interface.rs
  geyser-plugin-manager/src/accounts_update_notifier.rs
  geyser-plugin-manager/src/block_metadata_notifier.rs
  geyser-plugin-manager/src/slot_status_notifier.rs
  geyser-plugin-manager/src/transaction_notifier.rs
Labels: community, need:merge-assist

#30409 Revert "change test validator from non upgradable bpf loader to upgra…
  validator/src/bin/solana-test-validator.rs
Labels: v1.15

#30398 Bump solana_rbpf to v0.2.39
  Cargo.lock
  cli/Cargo.toml
  program-runtime/Cargo.toml
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/syscalls/mod.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  rbpf-cli/Cargo.toml
Labels: v1.15

#30424 Revert "Add test for executor cache runtime feature upgrades. (#30382)"
  programs/bpf_loader/test_elfs/out/callx-r10-sbfv1.so
  programs/bpf_loader/test_elfs/out/callx-r10-sbfv2.so
  runtime/src/bank/tests.rs
Labels: automerge

#30406 Uses a channel for AHV -> SPS
  core/src/accounts_hash_verifier.rs
  core/src/snapshot_packager_service.rs
  core/src/validator.rs
  core/tests/epoch_accounts_hash.rs
  core/tests/snapshots.rs
  runtime/src/snapshot_package.rs
  runtime/src/snapshot_package/compare.rs
Labels: automerge

#30430 Update documentation to reflect changes in solana-installer
  install/solana-install-init.sh
Labels: automerge, community, need:merge-assist

#30432 Cli: expose tx slot in json output for confirm or transaction-history
  cli-output/src/cli_output.rs
Labels: automerge

#30412 Add solana-test-validator --upgradeable-program
  Cargo.lock
  programs/sbf/Cargo.lock
  test-validator/Cargo.toml
  test-validator/src/lib.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
Labels: automerge

#30377 add compute budget instruction to set loaded accounts data size limit
  docs/src/developing/programming-model/runtime.md
  program-runtime/src/compute_budget.rs
  programs/sbf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  runtime/src/cost_model.rs
  runtime/src/transaction_priority_details.rs
  sdk/src/compute_budget.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#30519 Disambiguate tx = transaction, tx = sender in `pubsub-client`
  pubsub-client/src/nonblocking/pubsub_client.rs
Labels: community, need:merge-assist

#30517 Not to tag versioned transaction as simple_vote_tx
  perf/src/sigverify.rs
Labels: v1.14, v1.15

#30507 Not allow transactions request zero CU to update prioritization fee cache
  runtime/src/prioritization_fee_cache.rs
Labels: v1.14, v1.15

#30515 remove VoteState::deserialize() from sbf builds
  sdk/program/src/vote/state/mod.rs
Labels: v1.15

#30537 Fix typo in ledger.md
  docs/src/wallet-guide/hardware-wallets/ledger.md
Labels: community, need:merge-assist

#30535 install: support config upgrade from serde_yaml v0.8
  Cargo.lock
  install/Cargo.toml
  install/src/config.rs
Labels: v1.15
