Repository solana-labs/solana, pull requests merged in 2023-11, with the labels that each got.

#33937 solana-tokens: unpub/remove some helpers
  tokens/src/spl_token.rs
Labels: automerge

#33582 check plugin name on plugin_reload rpc call
  geyser-plugin-manager/src/geyser_plugin_manager.rs
Labels: community, need:merge-assist

#33926 cli: solana-tokens, validate inputs gracefully
  tokens/src/commands.rs
  tokens/src/spl_token.rs
Labels: community, need:merge-assist

#33887 Burn fees collected into invalid accounts
  runtime/benches/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank/fee_distribution.rs
  runtime/src/bank/serde_snapshot.rs
  runtime/src/bank/tests.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#33797 Remove RWLock from EntryNotifier because it causes perf degradation
  core/src/validator.rs
  geyser-plugin-manager/src/geyser_plugin_service.rs
  ledger/src/entry_notifier_interface.rs
  ledger/src/entry_notifier_service.rs
Labels: community, need:merge-assist

#33632 chore: impl decode for UiAccountData
  account-decoder/src/lib.rs
Labels: community, need:merge-assist

#33920 docs: updating apt install to apt upgrade
  docs/src/validator/get-started/setup-a-validator.md
Labels: community, need:merge-assist

#33957 rekey stake redelegate feature
  sdk/src/feature_set.rs
Labels: automerge, v1.17

#33949 Fix `solana-install init` making unnecessary API requests
  install/src/command.rs
Labels: community, need:merge-assist

#33990 Display error message while laoding geyser plugins
  geyser-plugin-manager/src/geyser_plugin_manager.rs
Labels: automerge, need:merge-assist

#33477 Feature - Epoch boundary recompilation phase
  ledger-tool/src/program.rs
  program-runtime/src/loaded_programs.rs
  runtime/src/bank.rs
  runtime/src/bank/metrics.rs
  runtime/src/bank/tests.rs
Labels: v1.17

#33923 chore: Update light-poseidon to 0.2.0
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  sdk/program/src/poseidon.rs
Labels: community, need:merge-assist

#34020 Adds documentation to verify_and_unarchive_snapshots()
  runtime/src/snapshot_utils.rs
Labels: automerge

#34022 Puts create_tmp_accounts_dir_for_tests() behind DCOU
  runtime/src/snapshot_utils.rs
Labels: automerge

#33979 add merkle root meta column to blockstore
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_meta.rs
Labels: v1.17

#34019 Use AtomicAppendVecId type alias in verify_and_unarchive_snapshot()
  runtime/src/snapshot_utils.rs
Labels: automerge

#34058 Fix some typo in the documentation
  docs/src/cli/deploy-a-program.md
  docs/src/implemented-proposals/reliable-vote-transmission.md
  docs/src/proposals/accounts-db-replication.md
  docs/src/proposals/handle-duplicate-block.md
  docs/src/proposals/timely-vote-credits.md
Labels: community, need:merge-assist

#33850 validator: deprecates `--disable-accounts-disk-index`
  validator/src/cli.rs
Labels: v1.16, v1.17

#33674 geyser: add `is_reload` argument to `on_load`
  geyser-plugin-interface/src/geyser_plugin_interface.rs
  geyser-plugin-manager/src/geyser_plugin_manager.rs
Labels: community, need:merge-assist

#34064 cpi: fix capacity check in update_caller_account
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/sbf/rust/invoke/src/processor.rs
  programs/sbf/tests/programs.rs
Labels: v1.17

#34063 shred: expose merkle root for use in blockstore
  ledger/src/blockstore_meta.rs
  ledger/src/shred.rs
  ledger/src/shred/merkle.rs
  ledger/src/shred/shred_code.rs
  ledger/src/shred/shred_data.rs
Labels: automerge

#34098 storage-bigtable: Return error if attempting to write to table NotFound
  storage-bigtable/src/bigtable.rs
Labels: automerge

#33945 Add a feature to disable rent collection
  accounts-db/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank/fee_distribution.rs
  runtime/src/bank/tests.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#34109 grammar correction
  runtime/src/bank/fee_distribution.rs
Labels: automerge

#34034 [zk-token-sdk] Re-organize error types
  zk-token-sdk/src/encryption/auth_encryption.rs
  zk-token-sdk/src/encryption/elgamal.rs
  zk-token-sdk/src/errors.rs
  zk-token-sdk/src/instruction/batched_grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u128.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u256.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u64.rs
  zk-token-sdk/src/instruction/batched_range_proof/mod.rs
  zk-token-sdk/src/instruction/ciphertext_ciphertext_equality.rs
  zk-token-sdk/src/instruction/ciphertext_commitment_equality.rs
  zk-token-sdk/src/instruction/errors.rs
  zk-token-sdk/src/instruction/fee_sigma.rs
  zk-token-sdk/src/instruction/grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/mod.rs
  zk-token-sdk/src/instruction/pubkey_validity.rs
  zk-token-sdk/src/instruction/range_proof.rs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/instruction/withdraw.rs
  zk-token-sdk/src/instruction/zero_balance.rs
  zk-token-sdk/src/macros.rs
  zk-token-sdk/src/range_proof/errors.rs
  zk-token-sdk/src/range_proof/inner_product.rs
  zk-token-sdk/src/range_proof/mod.rs
  zk-token-sdk/src/sigma_proofs/batched_grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_ciphertext_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_commitment_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/errors.rs
  zk-token-sdk/src/sigma_proofs/fee_proof.rs
  zk-token-sdk/src/sigma_proofs/grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/mod.rs
  zk-token-sdk/src/sigma_proofs/pubkey_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod/auth_encryption.rs
  zk-token-sdk/src/zk_token_elgamal/pod/elgamal.rs
  zk-token-sdk/src/zk_token_elgamal/pod/grouped_elgamal.rs
  zk-token-sdk/src/zk_token_elgamal/pod/instruction.rs
  zk-token-sdk/src/zk_token_elgamal/pod/pedersen.rs
  zk-token-sdk/src/zk_token_elgamal/pod/range_proof.rs
  zk-token-sdk/src/zk_token_elgamal/pod/sigma_proofs.rs
Labels: v1.17

#34127 Uses `mmap` for names in tiered storage
  accounts-db/src/tiered_storage/footer.rs
  accounts-db/src/tiered_storage/index.rs
  accounts-db/src/tiered_storage/mmap_utils.rs
Labels: automerge

#34103 [zk-token-proof] Feature gate transfer with fee related proofs
  programs/zk-token-proof/src/lib.rs
  sdk/src/feature_set.rs
Labels: v1.17

#34124 Fix - `Bank::compute_active_feature_set()` and `Bank::apply_feature_activations()`
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
Labels: v1.17

#34100 Do not prune cache entry if the runtime environment is different
  program-runtime/src/loaded_programs.rs
Labels: v1.17

#34141 cpi: direct_mapping: always zero spare capacity if account alloc changes
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/sbf/rust/invoke/src/processor.rs
Labels: v1.17

#34165 [zk-token-sdk] Add a length check on range proof commitment length
  zk-token-sdk/src/errors.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u128.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u256.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u64.rs
Labels: v1.17

#34166 [zk-token-sdk] Restrict range proof generator length and prevent 0-bit range proof
  zk-token-sdk/src/range_proof/errors.rs
  zk-token-sdk/src/range_proof/generators.rs
  zk-token-sdk/src/range_proof/inner_product.rs
  zk-token-sdk/src/range_proof/mod.rs
Labels: v1.17

#34195 fix merge error
  sdk/src/account.rs
Labels: automerge

#34207 check vote costs against block limits in would_fit
  cost-model/src/cost_tracker.rs
Labels: v1.17

#34215 Fix typo in multi_iterator_scanner.rs
  core/src/banking_stage/multi_iterator_scanner.rs
Labels: community, need:merge-assist

#34074 clean feature: no_overflow_rent_distribution
  runtime/src/bank.rs
  runtime/src/bank/fee_distribution.rs
Labels: automerge

#34204 direct_mapping: fix iter_memory_pair_chunks in reverse mode
  Cargo.lock
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/syscalls/mem_ops.rs
Labels: v1.17

#34181 Update CHANGELOG for new scheduler support
  CHANGELOG.md
Labels: automerge

#34254 direct_mapping: disable stack frame gaps
  programs/bpf_loader/src/syscalls/mod.rs
Labels: v1.17

#34259 Tag InterestingLimit enum with target_os
  core/src/system_monitor_service.rs
Labels: automerge

#34264 Fix mac build
  core/src/system_monitor_service.rs
Labels: automerge

#34267 local-cluster: ignore test_duplicate_shreds_switch_failure
  local-cluster/tests/local_cluster.rs
Labels: automerge
