Repository solana-labs/solana, pull requests merged in 2023-08, with the labels that each got.

#32689 ci: fix cc only support unix and window since 1.0.80
  frozen-abi/Cargo.toml
  sdk/program/Cargo.toml
Labels: automerge

#32695 Fix - Adds missing "Executable account not owned by the BPF loader" error to `remove_bpf_loader_incorrect_program_id`
  programs/bpf_loader/src/lib.rs
Labels: bug, feature-gate, v1.16

#32703 Fix - Adds missing feature pubkeys to the `FEATURES_AFFECTING_RBPF` list
  programs/bpf_loader/src/syscalls/mod.rs
  runtime/src/bank.rs
Labels: bug, v1.16

#32678 rolls out merkle shreds to ~50% of mainnet slots
  turbine/src/broadcast_stage/standard_broadcast_run.rs
Labels: automerge, v1.14, v1.16

#32692 improve prioritization fee cache accuracy
  core/src/replay_stage.rs
  core/src/validator.rs
  rpc/src/optimistically_confirmed_bank_tracker.rs
  rpc/src/rpc.rs
  rpc/src/rpc_subscriptions.rs
Labels: v1.14, v1.16

#32745 upgrades serial_test to 2.0.0
  Cargo.lock
  Cargo.toml
Labels: automerge

#32758 Fix typo in off-chain-message-signing.md
  docs/src/proposals/off-chain-message-signing.md
Labels: community, need:merge-assist

#32760 bumps criterion to 0.5.1
  Cargo.lock
  Cargo.toml
Labels: automerge

#32309 adds extensions to contact-info
  gossip/src/cluster_info.rs
  gossip/src/contact_info.rs
Labels: do-not-close

#32769 stake: pub use config constants for api backwards compatibility
  sdk/program/src/stake/config.rs
Labels: v1.16

#32778 rpc: get_feature_activation_slot should not error for inactive features
  rpc-client/src/rpc_client.rs
Labels: v1.16

#31291 Implement timely vote credits feature
  cli-output/src/cli_output.rs
  cli/src/vote.rs
  programs/vote/benches/process_vote.rs
  programs/vote/src/vote_state/mod.rs
  rpc/src/rpc.rs
  sdk/program/src/vote/state/mod.rs
  sdk/src/feature_set.rs
Labels: need:merge-assist

#32807 program-test: Prohibit setting the compute unit limit past `i64::MAX`
  program-test/src/lib.rs
  program-test/tests/compute_units.rs
Labels: v1.16

#32812 Initialize and store PRv2 environment in cache
  cli/src/program.rs
  ledger-tool/src/program.rs
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/loader-v4/src/lib.rs
  programs/sbf/benches/bpf_loader.rs
  runtime/src/bank.rs
Labels: automerge

#32787 cli: skip delegate-stake current voter check for unstaked voters
  cli/src/stake.rs
  cli/tests/stake.rs
Labels: v1.16

#32747 JSON RPC API docs updates
  docs/src/api/methods/_getBlocksWithLimit.mdx
  docs/src/api/methods/_getHighestSnapshotSlot.mdx
  docs/src/api/methods/_getSignatureStatuses.mdx
  docs/src/api/methods/_getVersion.mdx
Labels: community, need:merge-assist

#32838 dcou: Update qualifier_attr to 0.2.2
  Cargo.lock
  Cargo.toml
  accounts-db/src/accounts_db.rs
  programs/sbf/Cargo.lock
Labels: automerge

#32677 ci: re-enable SPL downstream project test on Github Action
  .github/scripts/downstream-project-spl-common.sh
  .github/scripts/purge-ubuntu-runner.sh
  .github/workflows/downstream-project-spl-nightly.yml
  .github/workflows/downstream-project-spl.yml
  ci/downstream-projects/func-spl.sh
Labels: automerge, v1.14, v1.16

#32856 patches set_serve_repair instead of set_serve_repair_quic
  gossip/src/cluster_info.rs
Labels: automerge

#32638 Using new method to deploy the programs
  cli/src/program.rs
  client/src/send_and_confirm_transactions_in_parallel.rs
Labels: need:merge-assist

#32872 Refactor - `Bank::compute_active_feature_set()`
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
Labels: runtime

#32874 Refactor - `LoadedPrograms::get_entries_sorted_by_tx_usage()`
  program-runtime/src/loaded_programs.rs
Labels: runtime

#32886 Adds docs to non_vote_transaction_count_since_restart()
  runtime/src/bank.rs
Labels: automerge

#32888 Adds docs to scan_all_accounts()
  ledger-tool/src/main.rs
  runtime/src/bank.rs
Labels: automerge

#32887 Adds docs to get_all_accounts()
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
Labels: automerge

#32890 Revert "Implement timely vote credits feature (#31291)"
  cli-output/src/cli_output.rs
  cli/src/vote.rs
  programs/vote/benches/process_vote.rs
  programs/vote/src/vote_state/mod.rs
  rpc/src/rpc.rs
  sdk/program/src/vote/state/mod.rs
  sdk/src/feature_set.rs
Labels: automerge

#32823 feat(solana-install): subcommand to list installed versions
  install/src/command.rs
  install/src/lib.rs
Labels: community, need:merge-assist

#32899 ci: allow retrying mac publishing steps
  ci/buildkite-secondary.yml
Labels: v1.14, v1.16

#32910 ci: update aws cli image
  ci/upload-ci-artifact.sh
Labels: v1.14, v1.16

#32905 Renames CalcAccountsHashFlavor to CalcAccountsHashKind
  accounts-db/src/accounts_db.rs
  core/src/accounts_hash_verifier.rs
Labels: automerge

#32941 rpc-client: Encapsulate `set_message_for_confirmed_transactions`
  client/src/send_and_confirm_transactions_in_parallel.rs
  rpc-client/src/spinner.rs
  tpu-client/src/nonblocking/tpu_client.rs
Labels: v1.16

#32944 tower: when syncing from vote state, update last_vote
  core/src/consensus.rs
  core/src/replay_stage.rs
  programs/vote/src/vote_state/mod.rs
Labels: v1.14, v1.16

#32973 Fix - Reordering in second level index of LoadedPrograms
  program-runtime/src/loaded_programs.rs
Labels: bug, runtime, v1.16

#32974 Fix - missing delay visibility feature triggering cache flush
  runtime/src/bank.rs
Labels: bug, runtime, v1.16

#32975 Update Solang Solidity compiler to v0.3.2
  scripts/cargo-install-all.sh
Labels: v1.16

#32999 Prune programs deployed in duplicate unconfirmed slot
  core/src/replay_stage.rs
  program-runtime/src/loaded_programs.rs
Labels: v1.16

#33018 fix cargo lock
  Cargo.lock
  programs/sbf/Cargo.lock
Labels: automerge

#33025 Handle closing of the program in the same slot as deployment
  program-runtime/src/loaded_programs.rs
Labels: v1.16

#33005 banks-server: Support versioned transactions
  banks-server/src/banks_server.rs
  program-test/tests/builtins.rs
Labels: v1.16

#32743 revises turbine epoch stakes for shreds propagation
  sdk/src/feature_set.rs
  turbine/src/cluster_nodes.rs
Labels: automerge

#32976 feature_set: rekey direct_mapping
  sdk/src/feature_set.rs
Labels: feature-gate

#33019 ci: remove --ignore RUSTSEC-2022-0093
  ci/do-audit.sh
Labels: automerge

#33039 get unique keys while finding dups
  accounts-db/src/accounts_db.rs
Labels: automerge

#33056 rekey stake_redelegate_instruction feature
  sdk/src/feature_set.rs
Labels: v1.16

#33047 preliminaries for bumping nightly to 2023-08-25
  accounts-db/src/accounts.rs
  accounts-db/src/accounts_db.rs
  accounts-db/src/accounts_index.rs
  accounts-db/src/ancient_append_vecs.rs
  accounts-db/src/append_vec.rs
  accounts-db/src/storable_accounts.rs
  cli-output/src/display.rs
  cli/src/cli.rs
  core/benches/banking_stage.rs
  core/src/banking_stage/consumer.rs
  core/src/banking_stage/forwarder.rs
  core/src/banking_stage/immutable_deserialized_packet.rs
  core/src/banking_stage/unprocessed_transaction_storage.rs
  core/src/cluster_info_vote_listener.rs
  core/src/commitment_service.rs
  core/src/consensus.rs
  core/src/consensus/heaviest_subtree_fork_choice.rs
  core/src/consensus/latest_validator_votes_for_frozen_banks.rs
  core/src/optimistic_confirmation_verifier.rs
  core/src/poh_timing_reporter.rs
  core/src/repair/cluster_slot_state_verifier.rs
  core/src/replay_stage.rs
  core/src/verified_vote_packets.rs
  core/tests/snapshots.rs
  dos/src/main.rs
  faucet/src/faucet.rs
  gossip/src/cluster_info.rs
  gossip/tests/crds_gossip.rs
  keygen/src/keygen.rs
  ledger/benches/blockstore.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
  ledger/src/blockstore_db.rs
  ledger/src/blockstore_processor.rs
  ledger/src/rooted_slot_iterator.rs
  ledger/tests/shred.rs
  local-cluster/tests/local_cluster.rs
  programs/address-lookup-table-tests/tests/close_lookup_table_ix.rs
  programs/address-lookup-table-tests/tests/common.rs
  programs/address-lookup-table-tests/tests/create_lookup_table_ix.rs
  programs/address-lookup-table/src/state.rs
  programs/sbf/rust/call_depth/src/lib.rs
  programs/sbf/tests/programs.rs
  rpc/src/rpc.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  runtime/src/prioritization_fee_cache.rs
  runtime/src/status_cache.rs
  send-transaction-service/src/send_transaction_service.rs
  streamer/src/nonblocking/quic.rs
  tokens/src/db.rs
  transaction-status/src/parse_token/extension/interest_bearing_mint.rs
Labels: automerge

#33045 [zk-token-proof] Enable proof program to be invoked as an inner call
  programs/zk-token-proof/src/lib.rs
Labels: v1.16

#32680 feat(sbf): Add Poseidon syscall
  Cargo.lock
  Cargo.toml
  program-runtime/src/compute_budget.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  programs/sbf/build.rs
  programs/sbf/c/src/poseidon/poseidon.c
  programs/sbf/rust/poseidon/Cargo.toml
  programs/sbf/rust/poseidon/src/lib.rs
  programs/sbf/tests/programs.rs
  sdk/program/Cargo.toml
  sdk/program/src/lib.rs
  sdk/program/src/poseidon.rs
  sdk/program/src/syscalls/definitions.rs
  sdk/sbf/c/inc/sol/inc/poseidon.inc
  sdk/sbf/c/inc/sol/poseidon.h
  sdk/src/feature_set.rs
  sdk/src/lib.rs
Labels: community, need:merge-assist

#33042 [zk-token-proof] Add CUs to close account instruction
  programs/zk-token-proof/src/lib.rs
Labels: v1.16

#33074 ci: allocate more threads for gossip tests
  nextest.toml
Labels: automerge

#33081 Bump version to v1.16.12
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge
