Repository solana-labs/solana, pull requests merged in 2023-09, with the labels that each got.

#33099 Make should_panic tests compatible with 1.73+ panic format
  accounts-db/src/account_storage.rs
  accounts-db/src/accounts_db.rs
  accounts-db/src/ancient_append_vecs.rs
  accounts-db/src/append_vec.rs
  accounts-db/src/rolling_bit_field.rs
  entry/src/poh.rs
  runtime/src/bank/tests.rs
  sdk/program/src/epoch_rewards.rs
Labels: automerge

#33101 ci: add a common script for installing dependencies
  .github/scripts/downstream-project-spl-install-deps.sh
  .github/workflows/downstream-project-spl.yml
Labels: automerge

#32979 rolls out merkle shreds to 100% of mainnet slots
  turbine/src/broadcast_stage/standard_broadcast_run.rs
Labels: automerge, v1.14, v1.16

#33106 [zk-token-sdk] Allow all zero auditor pubkey in proofs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/sigma_proofs/grouped_ciphertext_validity_proof.rs
Labels: v1.16

#33121 Revert "Add an RPC API that can query the list of Top N secondary index keys and their sizes (#28887)"
  accounts-db/src/accounts_db.rs
  accounts-db/src/accounts_index.rs
  accounts-db/src/secondary_index.rs
  validator/src/admin_rpc_service.rs
Labels: v1.16

#33124 Bump version to v1.16.13
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#33138 Fix - Superfluous `if` condition for overwriting `environments` in feature activation code
  runtime/src/bank.rs
Labels: runtime, v1.16

#32684 Correct docs for getMultipleAccounts RPC
  docs/src/api/methods/_getMultipleAccounts.mdx
Labels: automerge, do-not-close

#33141 Fix a typo & phrasing of `bpf_loader_upgadeable` docs
  sdk/program/src/bpf_loader_upgradeable.rs
Labels: community, need:merge-assist

#33104 Bump solana_rbpf to v0.7.0
  Cargo.lock
  Cargo.toml
  cli/src/program.rs
  ledger-tool/src/program.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/Cargo.toml
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/loader-v4/Cargo.toml
  programs/loader-v4/src/lib.rs
  programs/loader-v4/test_elfs/out/noop.so
  programs/loader-v4/test_elfs/out/relative_call.so
  programs/loader-v4/test_elfs/out/rodata.so
  programs/loader-v4/test_elfs/out/rodata_section.so
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  programs/sbf/benches/bpf_loader.rs
Labels: runtime

#32928 docs(contributing): fix syntax highlighting
  CONTRIBUTING.md
Labels: community, need:merge-assist

#33155 PrunedBanksRequestHandler::handle_request() is only pub with dcou
  Cargo.lock
  programs/sbf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/accounts_background_service.rs
Labels: automerge

#33169 Takes inner HashSet when dropping CacheHashData
  accounts-db/src/cache_hash_data.rs
Labels: automerge

#33168 Bump solana_rbpf to v0.7.1
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
Labels: automerge

#33188 Check lamports balance before and after tx execution
  runtime/src/bank.rs
Labels: automerge

#33193 Bump version to v1.16.14
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#33195 rework accounts hash calc dedup to avoid kernel file error
  accounts-db/src/accounts_hash.rs
Labels: v1.16

#33209 Removes `pub` from accounts_hash.rs items
  accounts-db/src/accounts_hash.rs
Labels: automerge

#33213 remove unused stats
  accounts-db/src/cache_hash_data_stats.rs
Labels: automerge

#33211 Removes `new()` from POD CalculateHashIntermediate and CumulativeOffset
  accounts-db/src/accounts_db.rs
  accounts-db/src/accounts_hash.rs
  accounts-db/src/cache_hash_data.rs
Labels: automerge

#32957 Implement timely vote credits feature.
  cli-output/src/cli_output.rs
  cli/src/vote.rs
  programs/vote/benches/process_vote.rs
  programs/vote/src/vote_state/mod.rs
  rpc/src/rpc.rs
  sdk/program/src/vote/state/mod.rs
  sdk/src/feature_set.rs
Labels: need:merge-assist

#31640 sdk, programs/bpf_loader: add sol_remaining_compute_units syscall
  docs/src/developing/on-chain-programs/developing-c.md
  docs/src/developing/on-chain-programs/developing-rust.md
  program-runtime/src/compute_budget.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  programs/sbf/build.rs
  programs/sbf/c/src/remaining_compute_units/remaining_compute_units.c
  programs/sbf/rust/remaining_compute_units/Cargo.toml
  programs/sbf/rust/remaining_compute_units/src/lib.rs
  programs/sbf/rust/remaining_compute_units/tests/lib.rs
  runtime/src/bank.rs
  sdk/program/src/compute_units.rs
  sdk/program/src/lib.rs
  sdk/program/src/program_stubs.rs
  sdk/program/src/syscalls/definitions.rs
  sdk/sbf/c/inc/sol/compute_units.h
  sdk/sbf/c/inc/sol/inc/compute_units.inc
  sdk/sbf/c/inc/solana_sdk.h
  sdk/src/feature_set.rs
Labels: community, need:merge-assist

#33255 check source_path before delete it
  sdk/cargo-build-sbf/src/main.rs
Labels: automerge

#33235 loaded accounts data size cost does not apply to vote transaction
  cost-model/src/cost_tracker.rs
  cost-model/src/transaction_cost.rs
Labels: v1.14, v1.16

#33257 ci: move solana-cargo-build-sbf to nextest
  .buildkite/scripts/build-stable.sh
  ci/stable/run-partition.sh
  nextest.toml
Labels: automerge

#33266 Refactors out `unsafe` from MmapAccountHashesFile::read()
  accounts-db/src/accounts_hash.rs
Labels: automerge

#33270 Refactors `unsafe` out of CacheHashDataFile's header
  accounts-db/src/cache_hash_data.rs
Labels: automerge

#33280 docs: add solana stack exchange site
  docs/src/developing/on-chain-programs/faq.md
Labels: community, need:merge-assist

#33277 program: move array-bytes to dev-dependencies
  programs/sbf/Cargo.lock
  sdk/program/Cargo.toml
Labels: community, need:merge-assist

#33295 Make active stake consistent in split
  .github/workflows/downstream-project-spl.yml
  cli/src/cli.rs
  cli/src/stake.rs
  cli/tests/stake.rs
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  runtime/tests/stake.rs
  sdk/src/feature_set.rs
  tokens/src/arg_parser.rs
  tokens/src/args.rs
  tokens/src/commands.rs
  tokens/src/lib.rs
  tokens/src/main.rs
  tokens/src/stake.rs
Labels: automerge, v1.16

#33321 Update compressed-nfts.md typo single single token
  docs/src/developing/guides/compressed-nfts.md
Labels: community, need:merge-assist

#33350 bump quinn to 0.9.5
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
Labels: automerge

#33358 Bump version to v1.16.15
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#33343 Feature - better error codes for tx lamport check
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/error.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: automerge

#33341 Update is_locked_out cache when adopting on chain vote state
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: v1.14, v1.16

#33393 docs: updating systemd command
  docs/src/running-validator/validator-start.md
Labels: community, need:merge-assist

#33417 Code clean up
  accounts-db/src/accounts_hash.rs
  bucket_map/src/bucket.rs
Labels: automerge

#33420 chore(solana-accounts-db): remove unused deps
  Cargo.lock
  accounts-db/Cargo.toml
  programs/sbf/Cargo.lock
Labels: automerge

#33425 ci: Re-enable spl-stake-pool downstream job
  .github/workflows/downstream-project-spl.yml
Labels: v1.16

#33429 chore(solana-accounts-db): remove unused deps
  Cargo.lock
  accounts-db/Cargo.toml
  programs/sbf/Cargo.lock
Labels: automerge

#32937 docs: add direct link to StackExchange from the On-Chain Programs docs
  docs/src/developing/on-chain-programs/faq.md
Labels: automerge

#33303 Mark *.sh files with `#!` as executable
  ci/buildkite-pipeline-in-disk.sh
  ci/buildkite-solana-private.sh
  ci/publish-installer.sh
  ci/stable/common.sh
  ci/stable/run-all.sh
  install/solana-install-init.sh
  net/scripts/colo-node-onacquire.sh
  net/scripts/colo-node-onfree.sh
  net/scripts/colo-utils.sh
  net/scripts/gce-self-destruct.sh
  run.sh
  scripts/coverage-in-disk.sh
Labels: community, need:merge-assist

#33438 ci: fix cargo files changes doens't trigger doc tests
  ci/buildkite-pipeline.sh
Labels: automerge

#33435 chore(bpf): remove unused deps
  Cargo.lock
  sdk/cargo-build-bpf/Cargo.toml
  sdk/cargo-test-bpf/Cargo.toml
Labels: automerge

#33408 reduce WARN logging to only necessary scenario
  runtime/src/prioritization_fee_cache.rs
Labels: v1.14, v1.16

#33458 Fixup the metrics for remove_dead_accounts_shrink_us
  accounts-db/src/accounts_db.rs
Labels: automerge

#33459 Drops the shrink_candidate_slots lock after done inserting
  accounts-db/src/accounts_db.rs
Labels: automerge

#33453 spl: Bump token-2022 and friends
  Cargo.lock
  Cargo.toml
  account-decoder/Cargo.toml
  account-decoder/src/parse_token.rs
  account-decoder/src/parse_token_extension.rs
  fetch-spl.sh
  ledger/Cargo.toml
  ledger/src/token_balances.rs
  program-test/src/programs.rs
  program-test/src/programs/spl_token_2022-0.6.0.so
  program-test/src/programs/spl_token_2022-0.9.0.so
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  rpc/Cargo.toml
  rpc/src/rpc.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_associated_token.rs
  transaction-status/src/parse_token.rs
  transaction-status/src/parse_token/extension/confidential_transfer.rs
  transaction-status/src/parse_token/extension/confidential_transfer_fee.rs
  transaction-status/src/parse_token/extension/metadata_pointer.rs
  transaction-status/src/parse_token/extension/mod.rs
  transaction-status/src/parse_token/extension/transfer_hook.rs
Labels: v1.16

#33467 ci: fix Windows build
  .github/workflows/release-artifacts.yml
Labels: automerge, v1.14, v1.16

#33470 v1.14: ci: fix audit
  ci/do-audit.sh
Labels: automerge

#33473 Typo fix in instruction.rs
  sdk/program/src/instruction.rs
Labels: automerge, community, need:merge-assist
