Repository solana-labs/solana, pull requests merged in 2023-07, with the labels that each got.

#32315 Don't attempt to refresh votes on non voting validators
  core/src/consensus.rs
  core/src/consensus/tower1_14_11.rs
  core/src/consensus/tower1_7_14.rs
  core/src/consensus/tower_storage.rs
  core/src/replay_stage.rs
Labels: v1.14, v1.16

#32294 adds QUIC endpoint specific for turbine connections
  Cargo.lock
  programs/sbf/Cargo.lock
  quic-client/src/nonblocking/quic_client.rs
  streamer/src/nonblocking/quic.rs
  streamer/src/quic.rs
  turbine/Cargo.toml
  turbine/src/lib.rs
  turbine/src/quic_endpoint.rs
Labels: automerge

#32374 Fix typo in simple-payment-and-state-verification.md
  docs/src/proposals/simple-payment-and-state-verification.md
Labels: community, need:merge-assist

#32313 Bump solana_rbpf to v0.6.0
  Cargo.lock
  Cargo.toml
  ledger-tool/src/program.rs
  program-runtime/src/invoke_context.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/bpf_loader/src/syscalls/mem_ops.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/loader-v4/src/lib.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  programs/sbf/benches/bpf_loader.rs
Labels: feature-gate, runtime, v1.16

#32382 program: Explicitly pull in `getrandom` with `custom` feature
  sdk/program/Cargo.toml
Labels: v1.16

#32387 removes redundant Mutex wrappers around Receiver channels
  turbine/src/broadcast_stage.rs
  turbine/src/broadcast_stage/broadcast_duplicates_run.rs
  turbine/src/broadcast_stage/broadcast_fake_shreds_run.rs
  turbine/src/broadcast_stage/fail_entry_verification_broadcast_run.rs
  turbine/src/broadcast_stage/standard_broadcast_run.rs
Labels: automerge

#32401 removes redundant recycler clones
  core/src/repair/serve_repair.rs
  entry/src/entry.rs
  gossip/src/cluster_info.rs
  perf/src/packet.rs
  streamer/src/streamer.rs
Labels: automerge

#32420 Fix typos
  runtime/src/bank/tests.rs
Labels: automerge

#32442 ci: update rules for triggering all_test_steps
  ci/buildkite-pipeline.sh
  ci/buildkite-solana-private.sh
Labels: automerge, v1.16

#32441 ci: allow retrying publish-crate although passed
  ci/buildkite-secondary.yml
Labels: v1.14, v1.16

#32448 cli: fix program deployment elf verification issue
  cli/src/program.rs
Labels: community, need:merge-assist, v1.16

#32471 ci: fix spl test
  ci/downstream-projects/func-spl.sh
Labels: automerge

#32494 Add --fail to curl for more robust retries
  ci/docker-run.sh
  ci/test-coverage.sh
Labels: automerge, v1.14, v1.16

#32422 cost model could double count builtin instruction cost
  cost-model/src/cost_model.rs
  program-runtime/src/compute_budget.rs
Labels: v1.14, v1.16

#32520 big_mod_exp syscall: exclude inputs of numbers larger than 4096-bits
  programs/bpf_loader/src/syscalls/mod.rs
Labels: v1.16

#32553 allow shrinking to be in progress during `scan_account_storage`
  runtime/src/accounts_db.rs
Labels: v1.16

#32539 Remove inappropriate use of usize. Refactor upcast.
  program-runtime/src/compute_budget.rs
Labels: v1.16

#32548 Re-enable periodic compaction on several columns
  ledger/src/blockstore_db.rs
Labels: v1.16

#32567 Priority queue supports deprecated compute budget ix
  runtime/src/transaction_priority_details.rs
Labels: v1.16

#32568 ci: harden buildkite `group` generator
  .buildkite/scripts/common.sh
Labels: automerge, v1.16

#32532 rolls out merkle shreds to ~20% of mainnet slots
  turbine/src/broadcast_stage/standard_broadcast_run.rs
Labels: automerge

#32583 ci: only upload the test result when the token is present
  .buildkite/hooks/post-command
Labels: automerge

#32586 v1.16: ci: don't upload test result
  .buildkite/hooks/post-command
Labels: automerge

#32587 ci: fix post-command logic
  .buildkite/hooks/post-command
Labels: automerge

#32585 v1.14: ci: don't upload test result
  .buildkite/hooks/post-command
Labels: automerge

#32610 ci: stop spl downstream project test temporarily
  .buildkite/scripts/build-downstream-projects.sh
Labels: automerge

#32388 New method to send large number of transactions to the cluster
  Cargo.lock
  client-test/Cargo.toml
  client-test/tests/send_and_confrim_transactions_in_parallel.rs
  client/Cargo.toml
  client/src/lib.rs
  client/src/send_and_confirm_transactions_in_parallel.rs
  programs/sbf/Cargo.lock
  tpu-client/src/nonblocking/tpu_client.rs
Labels: need:merge-assist

#32645 Cleanups metrics in add_bank_snapshot()
  runtime/src/snapshot_bank_utils.rs
Labels: automerge

#32654 Simplifies if-let when rebuilding bank
  runtime/src/snapshot_bank_utils.rs
Labels: automerge

#32667 Uses Mutex::into_inner() at end of de_dup_accounts()
  runtime/src/accounts_hash.rs
Labels: automerge
