Repository solana-labs/solana, pull requests merged in 2023-10, with the labels that each got.

#33479 ci: remove stable-perf from PR and push CI
  ci/buildkite-pipeline-in-disk.sh
  ci/buildkite-pipeline.sh
  ci/buildkite-solana-private.sh
Labels: v1.16, v1.17

#33497 Enable the banking trace by default
  core/src/validator.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: v1.17

#33498 Blockstore special columns: minimize deletes in PurgeType::Exact
  ledger/src/blockstore/blockstore_purge.rs
Labels: automerge

#33521 Adds solana-nohash-hasher
  Cargo.lock
  Cargo.toml
  accounts-db/Cargo.toml
  programs/sbf/Cargo.lock
Labels: automerge

#32783 Bank: Add function to replace empty account with upgradeable program on feature activation
  runtime/src/bank.rs
  runtime/src/bank/replace_account.rs
  runtime/src/bank/tests.rs
  runtime/src/inline_feature_gate_program.rs
  runtime/src/lib.rs
  sdk/src/feature_set.rs
Labels: community, do-not-close, need:merge-assist, v1.17

#33535 update feature gate no-op program id
  runtime/src/inline_feature_gate_program.rs
Labels: v1.17

#33387 Fix CLI help text for `solana stake-account`
  cli/src/stake.rs
Labels: automerge, v1.17

#33545 Add early return to Blockstore::find_address_signatures methods
  ledger/src/blockstore.rs
Labels: automerge

#33555 Fix: handle `-- --target-dir` arg in `cargo build-sbf`
  sdk/cargo-build-sbf/src/main.rs
  sdk/cargo-build-sbf/tests/crates.rs
Labels: community, need:merge-assist

#33571 Bump version to v1.16.17
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#33585 fix typo in latest_validator_votes_for_frozen_banks.rs
  core/src/consensus/latest_validator_votes_for_frozen_banks.rs
Labels: automerge, community, need:merge-assist

#33568 validator: skip health check
  validator/src/cli.rs
  validator/src/main.rs
Labels: need:merge-assist

#33593 removes unused legacy-snapshot-hashes api in gossip
  gossip/src/cluster_info.rs
  gossip/src/crds.rs
  gossip/src/crds_entry.rs
  gossip/src/crds_value.rs
Labels: automerge

#33598 Removes hash param from AccountsCache::store()
  accounts-db/src/accounts_cache.rs
  accounts-db/src/accounts_db.rs
Labels: automerge

#33606 bank: remove ambiguating "helper" method
  runtime/src/bank.rs
Labels: automerge

#33623 Fix - CPI interface `bool` masking
  programs/bpf_loader/src/syscalls/cpi.rs
Labels: v1.17

#33580 Allow to create HTTP Sender with custom Client
  rpc-client/src/http_sender.rs
Labels: automerge, community, need:merge-assist

#33629 Enable running remote cargo registry server
  cargo-registry/src/client.rs
  cargo-registry/src/dummy_git_index.rs
  cargo-registry/src/main.rs
Labels: automerge

#33652 chore: remove unused deps
  Cargo.toml
Labels: automerge

#33600 Update hashes per tick with feature gates
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/program/src/clock.rs
  sdk/src/feature_set.rs
Labels: v1.17

#33668 Blockstore: track when all primary-index data has been purged
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
Labels: automerge

#33639 bank: do not remove trailing 0 bytes from return data
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
Labels: v1.17

#33694 Refactor - LoadedPrograms part 2
  program-runtime/src/loaded_programs.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
Labels: v1.17

#33128 updated inner_call for hashing fn to follow generic approach
  programs/bpf_loader/src/syscalls/mod.rs
Labels: community, need:merge-assist

#33687 storage-proto: change rerun line format
  storage-proto/build.rs
Labels: community, need:merge-assist

#33701 sdk: fix broken C examples
  programs/sbf/c/src/move_funds/move_funds.c
  sdk/bpf/c/README.md
  sdk/sbf/c/README.md
Labels: community, need:merge-assist

#33722 remove redundant pubkey update record
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_pull.rs
  gossip/tests/crds_gossip.rs
Labels: v1.17

#33723 docs: move rpc info to rpc docs
  docs/src/running-validator/validator-start.md
  docs/src/validator/get-started/setup-an-rpc-node.md
Labels: v1.16, v1.17

#33747 token-2022: Update to use program build with zk-ops enabled
  program-test/src/programs/spl_token_2022-0.9.0.so
Labels: v1.17

#33771 docs: fix typo in watchtower/README.md
  watchtower/README.md
Labels: community, need:merge-assist

#33766 program error: add `InvalidAccountOwner`
  sdk/program/src/program_error.rs
Labels: v1.17

#33774 zk-token-sdk: Fix incorrect mention of OsRng in docs
  zk-token-sdk/src/sigma_proofs/batched_grouped_ciphertext_validity_proof.rs
Labels: community, need:merge-assist

#33767 program error: add `ArithmeticOverflow`
  sdk/program/src/program_error.rs
Labels: v1.17

#33750 SDK: update error variants in `Feature::from_account_info`
  sdk/program/src/feature.rs
Labels: v1.17

#33777 Fix typo in feature_set.rs
  sdk/src/feature_set.rs
Labels: community, need:merge-assist

#33778 Fixed typing errors
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
Labels: community, need:merge-assist

#33675 Add check for CHANGELOG.md change when changelog label applied to PR
  .github/scripts/check-changelog.sh
  .github/workflows/changelog-label.yml
  CHANGELOG.md
Labels: changelog

#33709 Docker images > 1.17.0 are broken because of wrong baseimage
  ci/docker-rust/Dockerfile
Labels: community, need:merge-assist

#33679 Bump solana_rbpf to v0.8.0
  Cargo.lock
  Cargo.toml
  ledger/src/blockstore_processor.rs
  program-runtime/src/invoke_context.rs
  program-runtime/src/loaded_programs.rs
  program-runtime/src/message_processor.rs
  program-runtime/src/stable_log.rs
  program-test/Cargo.toml
  program-test/src/lib.rs
  programs/address-lookup-table-tests/tests/common.rs
  programs/address-lookup-table-tests/tests/create_lookup_table_ix.rs
  programs/address-lookup-table/src/processor.rs
  programs/bpf-loader-tests/tests/common.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/bpf_loader/src/syscalls/logging.rs
  programs/bpf_loader/src/syscalls/mem_ops.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/bpf_loader/src/syscalls/sysvar.rs
  programs/compute-budget/src/lib.rs
  programs/config/src/config_processor.rs
  programs/loader-v4/src/lib.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  programs/sbf/tests/programs.rs
  programs/stake/src/stake_instruction.rs
  programs/system/src/system_processor.rs
  programs/vote/benches/process_vote.rs
  programs/vote/src/vote_processor.rs
  programs/zk-token-proof/src/lib.rs
  runtime/benches/bank.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  runtime/src/builtins.rs
Labels: v1.17

#33700 [zk-token-sdk] Limit max seed length for key derivations
  zk-token-sdk/src/encryption/auth_encryption.rs
  zk-token-sdk/src/encryption/elgamal.rs
Labels: v1.17

#33798 Update version to v1.16.19
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#33799 Update version to v1.17.4
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#33796 Fix typos in documentation for Secp256k1 native program
  docs/src/developing/runtime-facilities/programs.md
Labels: community, need:merge-assist

#33819 adds metrics to turbine QUIC endpoint
  turbine/src/quic_endpoint.rs
Labels: automerge

#33699 [zk-token-sdk] Check that discrete log compression batch size is greater than 0
  zk-token-sdk/src/encryption/discrete_log.rs
Labels: v1.17

#33839 Optimize account hash CumulativeOffset index from vec to 2-element array
  accounts-db/src/accounts_hash.rs
Labels: automerge

#33821 Removes `#[allow(dead_code)]` in StorableAccounts impl
  accounts-db/src/storable_accounts.rs
Labels: automerge

#33840 Removes Default and pub from CumulativeOffset
  accounts-db/src/accounts_hash.rs
Labels: automerge

#33842 docs: outline requirement of stake in order to vote
  docs/src/running-validator/validator-stake.md
  docs/src/running-validator/validator-start.md
Labels: v1.17

#33833 chore: fix some typos
  accounts-db/src/accounts_db.rs
  accounts-db/src/accounts_hash.rs
  ci/semver_bash/semver_test.sh
  cost-model/src/cost_tracker.rs
  docs/static/katex/katex.js
  docs/static/katex/katex.mjs
  sdk/program/src/system_instruction.rs
Labels: community, need:merge-assist

#33902 Fix typo in versioned-transactions.md
  docs/src/developing/versioned-transactions.md
Labels: community, need:merge-assist

#33897 revert programify feature gate
  runtime/src/bank.rs
  runtime/src/bank/replace_account.rs
  runtime/src/bank/tests.rs
  runtime/src/inline_feature_gate_program.rs
  runtime/src/lib.rs
  sdk/src/feature_set.rs
Labels: v1.17

#33904 ci: fixed sccache version for sccache-action
  .github/workflows/downstream-project-spl.yml
Labels: automerge, v1.16, v1.17

#33910 [zk-token-proof] Round compute units to nice numbers
  programs/zk-token-proof/src/lib.rs
Labels: v1.17
