Repository solana-labs/solana, pull requests merged in 2023-06, with the labels that each got.

#31894 ci: fix publish crate version checking
  ci/publish-crate.sh
Labels: v1.16

#31816 [zk-token-sdk] Add `VerifyGroupedCiphertext2HandlesValidity` and `VerifyBatchedGroupedCiphertext2HandlesValidity` proof instructions
  programs/zk-token-proof-tests/tests/process_transaction.rs
  programs/zk-token-proof/src/lib.rs
  zk-token-sdk/src/instruction/batched_grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/mod.rs
  zk-token-sdk/src/transcript.rs
  zk-token-sdk/src/zk_token_proof_instruction.rs
Labels: v1.16

#31886 Reverify programs that are extended using ExtendProgram
  programs/bpf-loader-tests/noop.so
  programs/bpf-loader-tests/tests/extend_program_ix.rs
  programs/bpf_loader/src/lib.rs
Labels: v1.16

#31910 [zk-token-sdk] Rename `RangeProof{64,128,256}` to `RangeProofU{64,128,256}`
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u128.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u256.rs
  zk-token-sdk/src/instruction/batched_range_proof/batched_range_proof_u64.rs
  zk-token-sdk/src/instruction/range_proof.rs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/instruction/withdraw.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod/mod.rs
  zk-token-sdk/src/zk_token_elgamal/pod/range_proof.rs
Labels: v1.16

#31932 ci: make loader v4 program publish = true
  programs/loader-v4/Cargo.toml
Labels: automerge, v1.16

#31741 chore: Removes InstructionContext::get_instruction_accounts_lamport_sum()
  sdk/src/transaction_context.rs
Labels: community, need:merge-assist

#31929 Reset program cache stats after submit
  program-runtime/src/loaded_programs.rs
  runtime/src/bank.rs
Labels: v1.16

#31943 Bump solana_rbpf to v0.5.0
  Cargo.lock
  Cargo.toml
  program-runtime/src/invoke_context.rs
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/loader-v4/src/lib.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
Labels: v1.16

#31940 chore: bump zeroize_derive to 1.4.2
  Cargo.lock
  programs/sbf/Cargo.lock
Labels: automerge, v1.16

#31899 Fixing send-transaction-service using quic, tpu address is wrong
  rpc/src/cluster_tpu_info.rs
  send-transaction-service/src/send_transaction_service.rs
  send-transaction-service/src/tpu_info.rs
Labels: v1.16

#31927 Evict program cache using transaction usage counter
  program-runtime/src/invoke_context.rs
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/lib.rs
  programs/loader-v4/src/lib.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: v1.16

#31953 Retain runtime environment config for unloaded programs
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/lib.rs
Labels: v1.16

#31963 Shift crossbeam comment for upcoming 2nd patch...
  Cargo.toml
Labels: automerge

#31841 [docs] `signatureSubscribe` websocket
  docs/src/api/websocket/_signatureSubscribe.mdx
Labels: automerge, need:merge-assist

#31962 Send messages to EntryNotifierService in Tpu, simpler
  core/src/lib.rs
  core/src/tpu.rs
  core/src/tpu_entry_notifier.rs
Labels: automerge, v1.16

#31985 ci: fix env name
  metrics/metrics-main/kapacitor.sh
Labels: automerge

#31945 Feature - Prune on feature set transition
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/syscalls/mod.rs
  runtime/src/bank.rs
Labels: v1.16

#31991 Add runtime environment to FailedVerification tombstones
  ledger-tool/src/program.rs
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/lib.rs
  programs/loader-v4/src/lib.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: automerge, v1.16

#32003 fix prometheus path reference
  metrics/metrics-main/kapacitor.conf
  metrics/metrics-main/prometheus.yml
  metrics/metrics-main/start.sh
Labels: automerge

#31767 Cleanup - require_static_program_ids_in_transaction
  banks-server/src/banks_server.rs
  core/src/banking_stage/consumer.rs
  core/src/read_write_account_set.rs
  entry/benches/entry_sigverify.rs
  entry/src/entry.rs
  ledger-tool/src/main.rs
  ledger/src/blockstore.rs
  rpc/src/rpc.rs
  rpc/src/transaction_status_service.rs
  runtime/src/bank.rs
  runtime/src/cost_tracker.rs
  sdk/program/src/message/versions/mod.rs
  sdk/program/src/message/versions/sanitized.rs
  sdk/program/src/message/versions/v0/mod.rs
  sdk/src/transaction/sanitized.rs
  sdk/src/transaction/versioned/mod.rs
  transaction-status/src/lib.rs
Labels: stale

#32016 Fix typo in repair_generic_traversal.rs
  core/src/repair_generic_traversal.rs
Labels: community, need:merge-assist

#31905 include cost of transaction's requested loaded accounts size in cost model
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  runtime/src/cost_model.rs
  runtime/src/transaction_cost.rs
Labels: feature-gate

#32047 Removes #[allow(dead_code)] from ancient_append_vecs.rs
  runtime/src/ancient_append_vecs.rs
Labels: automerge

#32037 create and canonicalize account_paths
  runtime/src/snapshot_utils.rs
  validator/src/main.rs
Labels: v1.16

#32057 Docs/fix/transaction confirmation
  docs/src/developing/transaction_confirmation.md
Labels: community, need:merge-assist

#32083 Fix - `enable_alt_bn128_syscall`
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
Labels: v1.16

#32088 Bugfix: Account Shrink Paths must conform to account directory structure
  validator/src/main.rs
Labels: v1.16

#31888 require repair request signature
  core/src/serve_repair.rs
Labels: v1.16

#32026 [zk-token-sdk] rename `TransferAmountEncryption` to `TransferAmountCiphertext` and define it as a wrapper around `GroupedElGamalCiphertext`
  zk-token-sdk/src/instruction/transfer/encryption.rs
  zk-token-sdk/src/instruction/transfer/mod.rs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod/grouped_elgamal.rs
  zk-token-sdk/src/zk_token_elgamal/pod/instruction.rs
  zk-token-sdk/src/zk_token_elgamal/pod/mod.rs
Labels: v1.16

#32040 [zk-token-sdk] Refactor ciphertext validity sigma proof and rename `ValidityProof` to `GroupedCiphertextValidityProof`
  zk-token-sdk/src/instruction/batched_grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/sigma_proofs/batched_grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/mod.rs
  zk-token-sdk/src/transcript.rs
  zk-token-sdk/src/zk_token_elgamal/pod/mod.rs
  zk-token-sdk/src/zk_token_elgamal/pod/sigma_proofs.rs
Labels: v1.16

#32095 [zk-token-sdk] Update transcript functions to use full names
  zk-token-sdk/src/range_proof/inner_product.rs
  zk-token-sdk/src/sigma_proofs/batched_grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_ciphertext_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_commitment_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/pubkey_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
  zk-token-sdk/src/transcript.rs
Labels: v1.16

#31996 [docs] signatureSubscribe wording tweaks
  docs/src/api/websocket/_signatureSubscribe.mdx
Labels: automerge, need:merge-assist

#31954 bank_send_loop: Get feature flag from root bank
  core/src/cluster_info_vote_listener.rs
  core/src/verified_vote_packets.rs
Labels: v1.14, v1.16

#32129 Fix minimum balance when deploying program
  cli/src/program.rs
Labels: automerge, community, need:merge-assist, v1.16

#32147 v1.16: Revert "v1.16: Bump borsh from 0.10.3 to 0.11.0 (backport of #31964) …
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  sdk/src/compute_budget.rs
Labels: automerge

#31861 [docs] Add beginner-friendly intro to Solana guide
  docs/art/transaction.bob
  docs/sidebars.js
  docs/src/getstarted/overview.md
  docs/src/pages/getstarted.jsx
  docs/static/img/quickstarts/solana-overview-client-program.png
Labels: community, need:merge-assist

#31908 Increment timestamp on refreshed votes
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: v1.14, v1.16

#32142 bench-tps tests use bank w/ all features enabled
  bench-tps/src/bench.rs
Labels: automerge

#32131 Funding transactions must specify data limit
  bench-tps/src/bench.rs
  bench-tps/src/send_batch.rs
Labels: automerge

#32144 [zk-token-sdk] Define `FeeEncryption` as a wrapper around `GroupedElGamalCiphertext`
  zk-token-sdk/src/instruction/transfer/encryption.rs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod/instruction.rs
Labels: v1.16

#32051 Add epoch reward feature id
  sdk/src/feature_set.rs
Labels: feature-gate

#32165 rename to stake_rewards_by_partition for clarity
  runtime/src/bank.rs
  runtime/src/serde_snapshot/tests.rs
Labels: automerge

#31957 Simd 47 syscall sysvar last restart slot
  account-decoder/src/parse_sysvar.rs
  docs/src/developing/runtime-facilities/sysvars.md
  program-runtime/src/sysvar_cache.rs
  program-test/src/lib.rs
  program-test/tests/sysvar_last_restart_slot.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/bpf_loader/src/syscalls/sysvar.rs
  runtime/src/bank.rs
  sdk/program/src/last_restart_slot.rs
  sdk/program/src/lib.rs
  sdk/program/src/program_stubs.rs
  sdk/program/src/syscalls/definitions.rs
  sdk/program/src/sysvar/last_restart_slot.rs
  sdk/program/src/sysvar/mod.rs
  sdk/sbf/c/inc/sol/inc/last_restart_slot.inc
  sdk/sbf/c/inc/sol/last_restart_slot.h
  sdk/src/feature_set.rs
Labels: automerge, community, need:merge-assist

#32149 [zk-token-sdk] Refactor pod `FeeParameters` conversion and remove manual byte conversion for the type
  zk-token-sdk/src/instruction/transfer/mod.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod/instruction.rs
Labels: v1.16

#32196 Use workspace serde dependency in program-runtime
  program-runtime/Cargo.toml
Labels: automerge

#32042 [zk-token-sdk] remove non-pod structs `TransferPubkeys` and `TransferWithFeePubkeys`
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod/instruction.rs
  zk-token-sdk/src/zk_token_elgamal/pod/mod.rs
Labels: v1.16

#32055 fix errors in lookup tables code example
  docs/src/developing/lookup-tables.md
Labels: automerge, community, need:merge-assist

#32206 Add metrics for invalid vote timestamps
  core/src/consensus.rs
Labels: automerge, v1.14, v1.16

#32187 [zk-token-sdk] Make inner scalar and ristretto point of `PedersenOpening` and `PedersenCommitment` private
  zk-token-sdk/src/encryption/elgamal.rs
  zk-token-sdk/src/encryption/pedersen.rs
Labels: v1.16

#32188 [zk-token-sdk] Make `AeCiphertext` inner fields be private
  zk-token-sdk/src/encryption/auth_encryption.rs
Labels: v1.16

#31959 [zk-token-sdk] Use `TryFrom<&[T]>` for `&[T]` instead of `arrayref`
  Cargo.lock
  programs/sbf/Cargo.lock
  zk-token-sdk/Cargo.toml
  zk-token-sdk/src/encryption/auth_encryption.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_ciphertext_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_commitment_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/fee_proof.rs
  zk-token-sdk/src/sigma_proofs/grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/mod.rs
  zk-token-sdk/src/sigma_proofs/pubkey_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
Labels: v1.16

#32186 [zk-token-proof] Update docs for the ZK Token proof program in `zk-token-sdk`
  zk-token-sdk/src/instruction/mod.rs
  zk-token-sdk/src/zk_token_proof_instruction.rs
  zk-token-sdk/src/zk_token_proof_program.rs
Labels: v1.16

#32229 vote_processor: Add tests for CompactVoteStateUpdate
  programs/vote/src/vote_processor.rs
Labels: automerge

#32230 Add skip rate to docs and adjust block-production to use the term ski…
  cli-output/src/cli_output.rs
  docs/src/terminology.md
Labels: need:merge-assist

#32190 [zk-token-sdk] Make `ElGamalKeypair` fields private
  programs/zk-token-proof-tests/tests/process_transaction.rs
  programs/zk-token-proof/benches/verify_proofs.rs
  zk-keygen/src/main.rs
  zk-token-sdk/src/encryption/elgamal.rs
  zk-token-sdk/src/encryption/grouped_elgamal.rs
  zk-token-sdk/src/instruction/batched_grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/ciphertext_ciphertext_equality.rs
  zk-token-sdk/src/instruction/ciphertext_commitment_equality.rs
  zk-token-sdk/src/instruction/grouped_ciphertext_validity.rs
  zk-token-sdk/src/instruction/pubkey_validity.rs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/instruction/withdraw.rs
  zk-token-sdk/src/instruction/zero_balance.rs
  zk-token-sdk/src/sigma_proofs/batched_grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_ciphertext_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_commitment_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/pubkey_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
  zk-token-sdk/src/zk_token_elgamal/decryption.rs
  zk-token-sdk/src/zk_token_elgamal/ops.rs
Labels: v1.16

#32232 Add rust-version field to solana-program to prevent the accidental use of unsupported platform-tools versions
  ci/test-stable.sh
  sdk/program/Cargo.toml
Labels: v1.16

#31699 Use bank status instead of default hash in state machine
  core/src/cluster_slot_state_verifier.rs
Labels: automerge

#32258 report last slot vote send metrics
  core/src/cluster_info_vote_listener.rs
Labels: automerge

#32291 [zk-token-sdk] Add fee sigma proof verification instruction
  Cargo.lock
  programs/zk-token-proof-tests/Cargo.toml
  programs/zk-token-proof-tests/tests/process_transaction.rs
  programs/zk-token-proof/Cargo.toml
  programs/zk-token-proof/benches/verify_proofs.rs
  programs/zk-token-proof/src/lib.rs
  zk-token-sdk/src/instruction/fee_sigma.rs
  zk-token-sdk/src/instruction/mod.rs
  zk-token-sdk/src/zk_token_proof_instruction.rs
Labels: v1.16

#32288 [zk-token-sdk](docs) Update docs to include a brief description of how fee sigma proof is computed
  zk-token-sdk/src/sigma_proofs/batched_grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_ciphertext_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_commitment_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/fee_proof.rs
  zk-token-sdk/src/sigma_proofs/mod.rs
  zk-token-sdk/src/sigma_proofs/pubkey_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
Labels: v1.16

#32307 ci: remove wasm-pack version lock
  ci/docker-rust/Dockerfile
Labels: automerge

#32285 Ensure that uncommitted transactions are always removed from QoS
  core/benches/consumer.rs
  core/src/banking_stage/consumer.rs
  core/src/banking_stage/qos_service.rs
Labels: community, need:merge-assist

#32274 [zk-token-sdk] replace hard-coded constants with constant variables
  zk-token-sdk/src/encryption/auth_encryption.rs
  zk-token-sdk/src/encryption/discrete_log.rs
  zk-token-sdk/src/encryption/elgamal.rs
  zk-token-sdk/src/encryption/grouped_elgamal.rs
  zk-token-sdk/src/encryption/pedersen.rs
  zk-token-sdk/src/lib.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_ciphertext_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/ciphertext_commitment_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/fee_proof.rs
  zk-token-sdk/src/sigma_proofs/grouped_ciphertext_validity_proof.rs
  zk-token-sdk/src/sigma_proofs/mod.rs
  zk-token-sdk/src/sigma_proofs/pubkey_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
  zk-token-sdk/src/zk_token_elgamal/pod/auth_encryption.rs
  zk-token-sdk/src/zk_token_elgamal/pod/elgamal.rs
  zk-token-sdk/src/zk_token_elgamal/pod/grouped_elgamal.rs
  zk-token-sdk/src/zk_token_elgamal/pod/pedersen.rs
  zk-token-sdk/src/zk_token_elgamal/pod/range_proof.rs
  zk-token-sdk/src/zk_token_elgamal/pod/sigma_proofs.rs
Labels: v1.16

#32333 Removes unnecessary casts calling datapoint!
  runtime/src/accounts_hash.rs
Labels: automerge

#32350 fix: check if platform-tool/rust/bin/rustc exists
  sdk/cargo-build-sbf/src/main.rs
Labels: automerge, v1.16
