Repository solana-labs/solana, pull requests merged in 2023-01, with the labels that each got.

#29476 Cli: the authority passed to `solana program write-buffer` must be a proper signer
  cli/src/program.rs
  cli/tests/program.rs
Labels: automerge

#29503 Fix typo in blockstore_metrics.rs
  ledger/src/blockstore_metrics.rs
Labels: community

#29351 require repair request signature, ping/pong for Testnet, Development clusters
  core/src/ancestor_hashes_service.rs
  core/src/serve_repair.rs
Labels: v1.14

#29243 Update CI pipeline to only run `checks` step on version bump PRs
  ci/buildkite-pipeline.sh
Labels: v1.14

#27322 ledger-tool: fix double-readlock in main
  ledger-tool/src/main.rs
Labels: automerge, stale, community

#29558 Add rust client support for getRecentPrioritizationFees
  rpc-client-api/src/request.rs
  rpc-client/src/mock_sender.rs
  rpc-client/src/nonblocking/rpc_client.rs
  rpc-client/src/rpc_client.rs
Labels: v1.14

#29109 Fix deprecated warning on solana-sdk
  sdk/src/genesis_config.rs
Labels: automerge, stale, community

#29537 Fix doc warnings
  core/src/multi_iterator_scanner.rs
  ledger/src/blockstore_db.rs
Labels: automerge, community

#29165 Add pubsub address to RpcContactInfo
  cli-output/src/cli_output.rs
  rpc-client-api/src/response.rs
  rpc-client/src/mock_sender.rs
  rpc/src/rpc.rs
  validator/src/dashboard.rs
Labels: community

#26491 feature: don't do rewrites in rent collection
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#29593 Fix - #26737
  programs/bpf_loader/src/syscalls/cpi.rs
  sdk/src/feature_set.rs
Labels: bug, feature-gate

#28562 Don't try to deserialize WebSocket ping messages
  pubsub-client/src/pubsub_client.rs
Labels: community

#29618 Feature: filter stake by min delegation for rewards
  Cargo.lock
  program-test/Cargo.toml
  program-test/tests/warp.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#29666 Update getRecentPrioritizationFees json-rpc docs
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.14

#29669 add note about discrepancy between accounts load and sanitize caps
  sdk/program/src/message/versions/v0/mod.rs
Labels: automerge

#28956 disable rustls tls12 feature
  quic-client/Cargo.toml
  streamer/Cargo.toml
Labels: community

#29681 Restrict QUIC to use single self signed client cert
  streamer/src/tls_certificates.rs
Labels: v1.13, v1.14

#28410 Add output in JSON for `solana-ledger-tool bounds` subcommand
  ledger-tool/src/main.rs
  ledger-tool/src/output.rs
Labels: automerge, community

#29702 getRecentPrioritizationFees docs: make clear that fee is per compute-unit
  docs/src/developing/clients/jsonrpc-api.md
Labels: v1.14

#29704 quic-server: demote and annotate noisy, ambiguous log message
  streamer/src/nonblocking/quic.rs
Labels: v1.14

#29711 adds feature to (temporarily) drop merkle shreds from testnet
  core/src/cluster_nodes.rs
  core/src/shred_fetch_stage.rs
  ledger/src/shred.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#29725 Adds symmetric tests for all cases of un-/re-/deployment inside the same transaction
  programs/sbf/tests/programs.rs
  runtime/src/loader_utils.rs
Labels: runtime

#29735 Explorer: Fix misleading success log in explorer program instruction logs
  explorer/src/utils/program-logs.ts
Labels: community, explorer

#29738 Explorer: Fix explorer formatting
  explorer/src/utils/program-logs.ts
Labels: explorer

#29563 docs: update Docusaurus to v2.2
  docs/.gitignore
  docs/docusaurus.config.js
  docs/layouts/CardLayout.js
  docs/package-lock.json
  docs/package.json
  docs/src/cluster/commitments.md
  docs/src/developing/intro/programs.md
  docs/src/developing/intro/rent.md
  docs/src/developing/intro/transaction_fees.md
  docs/src/developing/lookup-tables.md
  docs/src/developing/versioned-transactions.md
  docs/src/getstarted/hello-world.md
  docs/src/getstarted/local.md
  docs/src/getstarted/rust.md
  docs/src/pages/developers.js
  docs/src/pages/getstarted.jsx
  docs/src/terminology.md
  docs/src/transaction_fees.md
Labels: community, v1.14

#29561 docs: updated readme
  docs/README.md
Labels: community

#29760 Explorer: Fix crash on failed anchor account parsing
  explorer/src/components/account/AnchorAccountCard.tsx
Labels: community, explorer

#29745 Revert "Do not exclude failed simple vote transactions from consensus"
  ledger/src/blockstore_processor.rs
  runtime/src/bank_utils.rs
Labels: v1.14

#29765 Explorer: Add toggle for raw tx logs
  explorer/src/components/transaction/ProgramLogSection.tsx
Labels: community, explorer

#29755 ci: fix commit range in push event
  .github/workflows/crate-check.yml
  .github/workflows/docs.yml
Labels: automerge

#29785 validator: remove `--no-duplicate-instance-check`
  validator/src/cli.rs
  validator/src/main.rs
Labels: v1.14

#28503 Big integer modular exponentiation (EIP-198)
  Cargo.lock
  program-runtime/src/compute_budget.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  programs/sbf/build.rs
  programs/sbf/c/src/big_mod_exp/big_mod_exp.c
  programs/sbf/rust/big_mod_exp/Cargo.toml
  programs/sbf/rust/big_mod_exp/src/lib.rs
  sdk/bpf/c/inc/sol/big_mod_exp.h
  sdk/bpf/c/inc/sol/inc/big_mod_exp.inc
  sdk/bpf/c/inc/solana_sdk.h
  sdk/program/Cargo.toml
  sdk/program/src/big_mod_exp.rs
  sdk/program/src/lib.rs
  sdk/program/src/syscalls/definitions.rs
  sdk/sbf/c/inc/sol/big_mod_exp.h
  sdk/sbf/c/inc/sol/inc/big_mod_exp.inc
  sdk/sbf/c/inc/solana_sdk.h
  sdk/src/feature_set.rs
  sdk/src/lib.rs
Labels: community

#29812 faucet: Expose time-slice, per-time-cap, and per-request-cap in test validator
  faucet/src/faucet.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
Labels: automerge, community

#29813 Use Ipv4Addr::{LOCALHOST, UNSPECIFIED} constants
  accounts-cluster-bench/src/main.rs
  banks-server/src/banks_server.rs
  bench-streamer/src/main.rs
  bench-tps/src/cli.rs
  client-test/tests/client.rs
  client/src/connection_cache.rs
  core/src/repair_response.rs
  core/src/serve_repair.rs
  core/src/window_service.rs
  faucet/src/faucet.rs
  frozen-abi/src/abi_example.rs
  gossip/src/cluster_info.rs
  gossip/src/main.rs
  local-cluster/src/cluster_tests.rs
  net-utils/src/bin/ip_address_server.rs
  net-utils/src/lib.rs
  quic-client/src/lib.rs
  quic-client/src/nonblocking/quic_client.rs
  quic-client/tests/quic_client.rs
  rpc-client/src/nonblocking/rpc_client.rs
  rpc-client/src/rpc_client.rs
  rpc/src/cluster_tpu_info.rs
  rpc/src/rpc_pubsub_service.rs
  rpc/src/rpc_service.rs
  streamer/src/nonblocking/quic.rs
  streamer/src/tls_certificates.rs
  test-validator/src/lib.rs
  tpu-client/src/tpu_connection_cache.rs
  transaction-dos/src/main.rs
  udp-client/src/lib.rs
  udp-client/src/nonblocking/udp_client.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/main.rs
Labels: community

#29731 Remove lamports-per-byte-year and lamports-per-epoch from rent as all…
  cli/src/cluster_query.rs
Labels: community

#29849 Reduce cpuid reporting frequency to once an hour
  core/src/system_monitor_service.rs
Labels: v1.14

#29862 Manual backport of #29599 for consistent metric name
  runtime/src/bank.rs
Labels: automerge

#29900 sdk: Expose `CompileError` to the outside
  sdk/program/src/message/legacy.rs
  sdk/program/src/message/mod.rs
  sdk/program/src/message/versions/v0/mod.rs
Labels: v1.14

#29903 solana-genesis: fix bpf-program value_name
  genesis/src/main.rs
Labels: automerge

#29855 geyser: add parent slot/blockhash to block
  core/src/replay_stage.rs
  geyser-plugin-interface/src/geyser_plugin_interface.rs
  geyser-plugin-manager/src/block_metadata_notifier.rs
  geyser-plugin-manager/src/block_metadata_notifier_interface.rs
Labels: community

#29919 make `scripts/cargo-fmt.sh` $PWD agnostic
  scripts/cargo-fmt.sh
Labels: automerge

#29945 Inlines variables into format strings
  gossip/src/crds_gossip_pull.rs
  ledger-tool/src/output.rs
  sdk/cargo-build-sbf/src/main.rs
  validator/src/dashboard.rs
Labels: automerge

#29795 add cost to additional built-in programs
  runtime/src/block_cost_limits.rs
  runtime/src/cost_model.rs
Labels: v1.13, v1.14

#29955 Refactor: remove unused variable
  ledger/src/blockstore_processor.rs
Labels: automerge

#29940 track repair handle_requests time
  core/src/serve_repair.rs
Labels: v1.14

#29605 Fixed bug with mishmash of traces from different programs in single log
  program-runtime/src/invoke_context.rs
  programs/sbf/tests/programs.rs
  rbpf-cli/src/main.rs
Labels: community

#29959 Feature - Disable builtin loader ownership chains
  runtime/src/accounts.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#29975 ledger-tool: Move AccountsDbConfig building to common helper function
  ledger-tool/src/main.rs
Labels: automerge

#29943 [explorer] Fix parsing of some Pyth transactions.
  explorer/src/components/instruction/pyth/PythDetailsCard.tsx
  explorer/src/components/instruction/pyth/program.ts
Labels: community, explorer

#29999 test: fix rentEpoch value
  web3.js/test/connection.test.ts
Labels: web3.js

#30004 fix: correct return type of getFeeForMessage
  web3.js/src/connection.ts
  web3.js/src/transaction/legacy.ts
Labels: automerge, web3.js

#29195 fix: [web3] only ever send RPC socket messages when the socket is open
  web3.js/rollup.config.js
  web3.js/src/__forks__/browser/rpc-websocket-factory.ts
  web3.js/src/__forks__/react-native/rpc-websocket-factory.ts
  web3.js/src/connection.ts
  web3.js/src/rpc-websocket-factory.ts
  web3.js/src/rpc-websocket.ts
  web3.js/test/connection-subscriptions.test.ts
  web3.js/test/connection.test.ts
  web3.js/test/mocks/rpc-http.ts
  web3.js/test/mocks/rpc-websocket.ts
  web3.js/test/nonce.test.ts
  web3.js/test/transaction-payer.test.ts
  web3.js/test/websocket.test.ts
Labels: web3.js
