Repository solana-labs/solana, pull requests merged in 2023-12, with the labels that each got.

#34288 solana-cli: format strings
  cli/src/address_lookup_table.rs
  cli/src/clap_app.rs
  cli/src/cluster_query.rs
  cli/src/feature.rs
  cli/src/main.rs
  cli/src/nonce.rs
  cli/src/program.rs
  cli/src/program_v4.rs
  cli/src/stake.rs
  cli/src/validator_info.rs
  cli/src/vote.rs
  cli/src/wallet.rs
Labels: automerge

#34316 cli: (program) enhance test_cli_program_set_buffer_authority
  cli/tests/program.rs
Labels: community, need:merge-assist

#34321 Removes unnecessary #[allow(dead_code)] in partitioned rewards
  accounts-db/src/partitioned_rewards.rs
  runtime/src/bank/metrics.rs
Labels: automerge

#34322 Removes unnecessary #[allow(dead_code)] in stake flags
  sdk/program/src/stake/stake_flags.rs
Labels: automerge

#34323 Removes unnecessary #[allow(dead_code)] in bucket map
  bucket_map/src/bucket.rs
  bucket_map/src/bucket_api.rs
  bucket_map/src/bucket_storage.rs
Labels: automerge

#33550 geyser: allow custom name in config file
  geyser-plugin-manager/src/geyser_plugin_manager.rs
Labels: community, need:merge-assist

#34329 Link to latest version of the off-chain message signing proposal in the docs
  docs/src/cli/sign-offchain-message.md
Labels: automerge

#34320 Removes unnecessary #[allow(dead_code)] in tiered storage
  accounts-db/src/tiered_storage/hot.rs
  accounts-db/src/tiered_storage/meta.rs
Labels: automerge

#34338 patches slots_per_epoch vs last_slot ordering in shred_fetch_stage
  core/src/shred_fetch_stage.rs
Labels: v1.16, v1.17

#34353 Fix `solana-address-lookup-table-program` compilation
  programs/address-lookup-table/src/lib.rs
Labels: community, need:merge-assist, v1.17

#34341 cli: (program/buffer deploy) introduce --fee-payer argument
  cli/src/program.rs
  cli/tests/program.rs
  transaction-dos/src/main.rs
Labels: community, need:merge-assist

#34365 Comment sysvar and builtin lists as deprecated and remove new keys
  sdk/program/src/message/legacy.rs
  sdk/program/src/sysvar/mod.rs
Labels: v1.17

#33847 Add allow_commission_decrease_at_any_time feature which will allow
  CHANGELOG.md
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  sdk/src/feature_set.rs
Labels: stale, need:merge-assist

#34371 tokens: fix url clap arg name
  tokens/src/arg_parser.rs
Labels: v1.16, v1.17

#34380 update pubsub docs link
  pubsub-client/src/nonblocking/pubsub_client.rs
  pubsub-client/src/pubsub_client.rs
Labels: automerge, community, need:merge-assist

#34377 Update version to v1.16.23
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34378 Update version to v1.17.9
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34393 Update version to v1.16.24
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34394 Update version to v1.17.10
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34366 docs: write-buffer clarifications
  docs/src/cli/deploy-a-program.md
Labels: community, need:merge-assist

#34402 comments: fix typos
  cli/src/cli.rs
  sdk/program/src/loader_v4.rs
  sdk/src/signer/mod.rs
Labels: community, need:merge-assist

#34067 tune ancient append vec size to 128M
  accounts-db/src/ancient_append_vecs.rs
Labels: stale

#34410 Fix pubkey-macro args
  cli/src/cluster_query.rs
  cli/src/inflation.rs
  cli/src/lib.rs
  cli/src/nonce.rs
  cli/src/program.rs
  cli/src/program_v4.rs
  cli/src/stake.rs
  cli/src/vote.rs
  cli/src/wallet.rs
Labels: automerge

#34386 Enhancements to Solana's Documentations for Better Clarity
  SECURITY.md
  ci/README.md
  docs/src/validator/gossip.md
  docs/src/validator/runtime.md
  geyser-plugin-interface/README.md
  metrics/README.md
  net/README.md
Labels: community, need:merge-assist

#34385 Fix a number of typos
  docs/src/cli/examples/deploy-a-program.md
  docs/src/cli/wallets/hardware/ledger.md
  docs/src/implemented-proposals/abi-management.md
  docs/src/implemented-proposals/reliable-vote-transmission.md
  docs/src/implemented-proposals/repair-service.md
  docs/src/implemented-proposals/staking-rewards.md
  docs/src/implemented-proposals/testing-programs.md
  docs/src/operations/guides/vote-accounts.md
  docs/src/proposals/accounts-db-replication.md
  docs/src/proposals/blockstore-rocksdb-compaction.md
  docs/src/proposals/handle-duplicate-block.md
  docs/src/proposals/ledger-replication-to-implement.md
  docs/src/proposals/off-chain-message-signing.md
  docs/src/proposals/optimistic-transaction-propagation-signal.md
  docs/src/proposals/optimistic_confirmation.md
  docs/src/proposals/return-data.md
  docs/src/proposals/rip-curl.md
  docs/src/proposals/simple-payment-and-state-verification.md
  docs/src/proposals/timely-vote-credits.md
  docs/src/what-is-a-validator.md
  zk-token-sdk/src/encryption/elgamal.rs
  zk-token-sdk/src/instruction/transfer/mod.rs
Labels: community, need:merge-assist

#34420 Sets EpochAccountsHash to Valid in accounts bench
  runtime/benches/accounts.rs
Labels: automerge

#34240 Patch tokio to vendored version
  Cargo.lock
  Cargo.toml
Labels: v1.17

#33860 cli: program upgrade with offline signing (--sign-only mode)
  Cargo.lock
  cli/Cargo.toml
  cli/src/program.rs
  cli/tests/program.rs
  docs/src/cli/examples/deploy-a-program.md
Labels: community, need:merge-assist

#34461 Documentation Improvements: Typos and Grammar Fixes
  ci/docker-rust/README.md
  docs/src/implemented-proposals/tower-bft.md
  tokens/README.md
Labels: automerge, community, need:merge-assist

#34430 CI: add check for explicit spl-token-cli version
  RELEASE.md
  ci/check-install-all.sh
  ci/test-checks.sh
  scripts/cargo-install-all.sh
  scripts/spl-token-cli-version.sh
Labels: v1.16, v1.17

#34468 [zk-token-sdk] Fix range proof transcript seed typo
  zk-token-sdk/src/instruction/batched_range_proof/mod.rs
Labels: v1.17

#34491 Update version to v1.16.25
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34492 Update version to v1.17.12
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34313 RPC: Add inner instructions to simulate transaction response
  accounts-db/src/transaction_results.rs
  banks-interface/src/lib.rs
  banks-server/src/banks_server.rs
  programs/sbf/tests/programs.rs
  rpc-client-api/src/config.rs
  rpc-client-api/src/response.rs
  rpc-client/src/mock_sender.rs
  rpc/src/rpc.rs
  rpc/src/transaction_status_service.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/inner_instruction.rs
  sdk/src/lib.rs
  transaction-status/src/lib.rs
Labels: automerge, do-not-close

#34496 Update version to v1.17.13
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34503 rekey stake limit feature
  sdk/src/feature_set.rs
Labels: feature-gate, v1.16, v1.17

#34372 replay: feature flag consumption of duplicate proofs from blockstore
  core/src/replay_stage.rs
  sdk/src/feature_set.rs
Labels: feature-gate, v1.17

#34523 disables turbine and repair QUIC endpoints on mainnet-beta
  core/src/validator.rs
Labels: v1.17

#34441 Update build by source docs to add pre-requisites
  docs/src/cli/install.md
Labels: community, need:merge-assist

#34525 cargo-install-all: use full path for sourcing
  scripts/cargo-install-all.sh
Labels: v1.16, v1.17

#34360 Add feature flag for LastIndex and Erasure duplicate proofs
  core/src/window_service.rs
  sdk/src/feature_set.rs
  turbine/src/cluster_nodes.rs
Labels: feature-gate, v1.17

#34548 V1.16: Cargo needs version arg after subcommand
  scripts/cargo-install-all.sh
  scripts/spl-token-cli-version.sh
Labels: automerge

#34544 ledger-tool: support v0 transactions in blocks from bigtable
  ledger-tool/src/bigtable.rs
Labels: automerge, v1.17

#34547 Cargo needs version arg after subcommand
  scripts/cargo-install-all.sh
Labels: automerge, v1.17

#34552 v1.16: Hardcode rust version for publish-crate
  ci/publish-crate.sh
Labels: automerge

#34239 bigtable: remove extra clones
  storage-bigtable/src/access_token.rs
Labels: automerge, community, need:merge-assist

#34566 ci: split cargo-clippy into stable and nightly
  .github/workflows/cargo.yml
  .mergify.yml
  scripts/cargo-clippy-nightly.sh
  scripts/cargo-clippy-stable.sh
  scripts/cargo-clippy.sh
Labels: v1.16, v1.17

#34459 Fix typos
  accounts-db/src/account_info.rs
  accounts-db/src/accounts.rs
  accounts-db/src/accounts_hash.rs
  accounts-db/src/tiered_storage/byte_block.rs
  bench-tps/src/bench.rs
  bucket_map/src/restart.rs
  ci/buildkite-pipeline-in-disk.sh
  ci/buildkite-pipeline.sh
  ci/buildkite-solana-private.sh
  ci/test-stable.sh
  cli/src/cluster_query.rs
  cli/src/spend_utils.rs
  client/src/connection_cache.rs
  core/src/banking_stage/latest_unprocessed_votes.rs
  core/src/banking_stage/leader_slot_metrics.rs
  core/src/consensus/heaviest_subtree_fork_choice.rs
  core/src/repair/duplicate_repair_status.rs
  core/src/repair/repair_weight.rs
  core/src/repair/serve_repair.rs
  core/tests/snapshots.rs
  gossip/src/cluster_info.rs
  gossip/src/contact_info.rs
  gossip/src/crds_value.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_cleanup_service.rs
  local-cluster/tests/local_cluster.rs
  perf/src/recycler.rs
  poh/src/poh_recorder.rs
  pubsub-client/src/nonblocking/pubsub_client.rs
  pubsub-client/src/pubsub_client.rs
  quic-client/src/quic_client.rs
  quic-client/tests/quic_client.rs
  rpc-client/src/mock_sender.rs
  rpc-client/src/nonblocking/rpc_client.rs
  rpc-client/src/rpc_client.rs
  runtime/src/accounts/mod.rs
  runtime/src/bank.rs
  runtime/src/snapshot_bank_utils.rs
  runtime/src/snapshot_minimizer.rs
  runtime/src/snapshot_utils.rs
  scripts/coverage-in-disk.sh
  scripts/coverage.sh
  scripts/sed-i-all-rs-files-for-rust-analyzer.sh
  scripts/system-stats.sh
  sdk/program/src/instruction.rs
  sdk/program/src/loader_v4_instruction.rs
  sdk/program/src/secp256k1_recover.rs
  sdk/src/transaction/mod.rs
  sdk/src/transaction_context.rs
  storage-bigtable/src/lib.rs
  system-test/testnet-automation.sh
  transaction-dos/src/main.rs
  transaction-status/src/parse_address_lookup_table.rs
  turbine/src/cluster_nodes.rs
  zk-token-sdk/src/zk_token_elgamal/ops.rs
Labels: community, need:merge-assist

#34286 Add ContactInfo handling for shred versioning
  gossip/src/cluster_info.rs
Labels: v1.17

#34502 rekey partitioned epoch rewards
  sdk/src/feature_set.rs
Labels: feature-gate, v1.17

#34412 spl: Bump token-2022 to v1
  Cargo.lock
  Cargo.toml
  account-decoder/Cargo.toml
  account-decoder/src/parse_token_extension.rs
  program-test/src/programs.rs
  program-test/src/programs/spl_token_2022-0.9.0.so
  program-test/src/programs/spl_token_2022-1.0.0.so
  programs/sbf/Cargo.lock
  transaction-status/src/parse_token.rs
  transaction-status/src/parse_token/extension/group_member_pointer.rs
  transaction-status/src/parse_token/extension/group_pointer.rs
  transaction-status/src/parse_token/extension/mod.rs
Labels: v1.17

#34562 Throttle unstaked quic streams for a given connection
  bench-tps/src/send_batch.rs
  local-cluster/tests/local_cluster.rs
  quic-client/tests/quic_client.rs
  streamer/src/nonblocking/quic.rs
Labels: v1.16, v1.17

#34567 Add entries table to bigtable docs
  CHANGELOG.md
  docs/src/implemented-proposals/rpc-transaction-history.md
Labels: changelog

#34579 add metrics on throttled streams
  streamer/src/nonblocking/quic.rs
  streamer/src/quic.rs
Labels: v1.16, v1.17

#34594 Fix typo in comments in core
  core/src/cluster_info_vote_listener.rs
  core/src/consensus/heaviest_subtree_fork_choice.rs
  core/src/replay_stage.rs
  core/tests/snapshots.rs
Labels: community, need:merge-assist

#34607 Upgrades Rust to 1.75.0
  ci/docker-rust-nightly/Dockerfile
  ci/docker-rust/Dockerfile
  rust-toolchain.toml
Labels: automerge
