Repository solana-labs/solana, pull requests merged in 2023-04, with the labels that each got.

#30298 Improve poh.rs readability
  entry/src/poh.rs
  poh/src/poh_service.rs
  sdk/src/poh_config.rs
Labels: community, need:merge-assist

#31030 Feature - Stop truncating strings in syscalls
  programs/bpf_loader/src/syscalls/logging.rs
  programs/bpf_loader/src/syscalls/mod.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#31050 Rename DeadSlotAncestorRequestStatus -> AncestorRequestStatus
  core/src/ancestor_hashes_service.rs
  core/src/duplicate_repair_status.rs
Labels: automerge

#30536 bump arkworks deps to version 0.4.0
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  sdk/program/Cargo.toml
  sdk/program/src/alt_bn128.rs
Labels: community, need:merge-assist

#31061 ci: improve uploading test results
  .buildkite/hooks/post-command
Labels: automerge

#30947 [clap-v3-utils] Define `EncodableKey` and make `keypair_from_path` and `keypair_from_seed` generic functions
  clap-v3-utils/src/keypair.rs
  sdk/src/signer/keypair.rs
  sdk/src/signer/mod.rs
Labels: v1.14

#30365 Improve keygen grind algo by 10%
  keygen/src/keygen.rs
Labels: community, need:merge-assist

#31027 [docs] state compression and compressed nfts
  docs/sidebars.js
  docs/src/developing/guides/compressed-nfts.md
  docs/src/learn/state-compression.md
Labels: need:merge-assist

#31126 Documentation typo in on-chain-programs/deploying.md
  docs/src/developing/on-chain-programs/deploying.md
Labels: community, need:merge-assist

#31125 doc: typo in geyser plugin doc
  docs/src/developing/plugins/geyser-plugins.md
Labels: v1.14, need:merge-assist

#31145 Renames SnapshotHashes in cluster info metrics
  gossip/src/cluster_info_metrics.rs
Labels: automerge

#31141 [docs] added google analytics to docs
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: need:merge-assist

#31169 Removes unused arg from SnapshotGossipManager::new()
  core/src/snapshot_packager_service.rs
  core/src/snapshot_packager_service/snapshot_gossip_manager.rs
Labels: automerge

#31171 Add comment in SolanaGossipMananger::update_latest_full_snapshot_hash()
  core/src/snapshot_packager_service/snapshot_gossip_manager.rs
Labels: automerge

#31176 Cleans up imports in bootstrap.rs
  validator/src/bootstrap.rs
Labels: automerge

#31177 Inlines variables into logging format strings
  validator/src/bootstrap.rs
Labels: automerge

#31179 Prevent process_blockstore_from_root() from holding Bank for too long
  ledger/src/blockstore_processor.rs
Labels: automerge

#31107 ci: use preinstalled openssl
  .github/workflows/release-artifacts.yml
Labels: automerge, v1.14

#31185 Removes `base` from `IncrementalSnapshotHash`
  core/src/snapshot_packager_service/snapshot_gossip_manager.rs
  ledger/src/bank_forks_utils.rs
  runtime/src/snapshot_hash.rs
Labels: automerge

#31063 [docs][ci] skip usage doc build for non-deploys
  docs/build-cli-usage.sh
Labels: need:merge-assist

#31194 Fix keygen usb panic (debug only)
  Cargo.lock
  clap-v3-utils/Cargo.toml
  clap-v3-utils/src/keypair.rs
Labels: automerge, v1.14

#31105 fix docs blockstore formatting
  docs/src/validator/blockstore.md
Labels: automerge

#31204 Move rent debit out of bank
  ledger/src/blockstore_processor.rs
  rpc/src/transaction_status_service.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  runtime/src/lib.rs
  runtime/src/rent_debit.rs
  runtime/src/rent_debits.rs
Labels: automerge

#31196 ci: cleanup
  ci/common/limit-threads.sh
  ci/common/shared-functions.sh
  ci/test-stable.sh
  scripts/coverage-in-disk.sh
  scripts/coverage.sh
Labels: automerge

#31202 clean up delegation errors
  programs/stake/src/stake_instruction.rs
  programs/stake/src/stake_state.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#31178 ledger-tool: Add deprecation warning for --no-compaction
  ledger-tool/src/main.rs
Labels: v1.14

#31167 Fix incorrect ExecuteAccessoryTimings
  program-runtime/src/timings.rs
Labels: community, need:merge-assist

#30370 Cli: add `find-program-derived-address` command
  Cargo.lock
  clap-utils/src/input_validators.rs
  clap-v3-utils/src/input_validators.rs
  cli-output/src/cli_output.rs
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/wallet.rs
Labels: community, need:merge-assist

#31225 [docs] clarify logsSubscribe `mentions` param
  docs/src/api/websocket/_logsSubscribe.mdx
Labels: automerge, v1.14, need:merge-assist

#30831 Add new vote state version that replaces Lockout with LandedVote to a…
  cli-output/src/cli_output.rs
  core/src/consensus.rs
  core/src/lib.rs
  core/src/tower1_14_11.rs
  core/src/tower1_7_14.rs
  core/src/tower_storage.rs
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  runtime/src/stakes.rs
  sdk/program/src/vote/state/mod.rs
  sdk/program/src/vote/state/vote_state_1_14_11.rs
  sdk/program/src/vote/state/vote_state_versions.rs
  sdk/src/feature_set.rs
  sdk/src/transaction_context.rs
Labels: need:merge-assist

#31267 Fix bug where ReplayStage holds an Arc<Bank> for process lifetime
  core/src/replay_stage.rs
Labels: automerge

#31281 Suppress warning for unused_mut in rbpf-cli
  rbpf-cli/src/main.rs
Labels: automerge

#31261 Register SendTransactionService exit
  banks-server/src/banks_server.rs
  banks-server/src/rpc_banks_service.rs
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
  send-transaction-service/src/send_transaction_service.rs
Labels: v1.14

#31259 use checked arithmetic
  runtime/src/accounts.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#31201 Add ability to manage public TPU Forwards address
  gossip/src/cluster_info.rs
  validator/src/admin_rpc_service.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: need:merge-assist

#31298 ci: update buildkite's hook
  .buildkite/hooks/post-checkout
  .buildkite/hooks/post-checkout.sh
  .buildkite/hooks/post-command
  .buildkite/hooks/post-command.sh
  .buildkite/hooks/pre-command.sh
  ci/shellcheck.sh
Labels: automerge

#31348 ci: use crates api to get owner list
  ci/check-crates.sh
Labels: automerge

#31353 ci: stop windows building on master temporarily
  .github/workflows/release-artifacts-auto.yml
Labels: automerge

#31372 remove unused solana-net-utils dep from solana-client
  Cargo.lock
  client/Cargo.toml
  programs/sbf/Cargo.lock
Labels: automerge, community, need:merge-assist

#31393 Cleanup usage of AsRef<Path> in snapshot_utils
  runtime/src/snapshot_utils.rs
Labels: automerge

#31362 Fix lockup docs
  docs/src/staking/stake-accounts.md
Labels: v1.14

#31407 ci: fix private pipeline agents
  ci/buildkite-solana-private.sh
Labels: automerge

#28053 Account data direct mapping
  program-test/src/lib.rs
  programs/bpf_loader/benches/serialization.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/bpf_loader/src/syscalls/cpi.rs
  programs/bpf_loader/src/syscalls/mem_ops.rs
  programs/bpf_loader/src/syscalls/mod.rs
  programs/loader-v3/src/lib.rs
  programs/sbf/benches/bpf_loader.rs
  programs/sbf/rust/realloc/src/instructions.rs
  programs/sbf/rust/realloc/src/processor.rs
  programs/sbf/tests/programs.rs
  rbpf-cli/src/main.rs
  runtime/src/bank/tests.rs
  sdk/src/account.rs
  sdk/src/feature_set.rs
  sdk/src/transaction_context.rs
Labels: enhancement, feature-gate, runtime
