Repository solana-labs/solana, pull requests merged in 2023-05, with the labels that each got.

#31432 Fixes name of snapshot_utils::get_bank_snapshot_dir()
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#31434 Uses get_bank_snapshot_dir() in `core/tests/snapshot.rs`
  core/tests/snapshots.rs
Labels: automerge

#31443 bucket_map: Moves get_from_bytes() to index_entry.rs
  bucket_map/src/bucket_storage.rs
  bucket_map/src/index_entry.rs
Labels: automerge

#31474 Remove metric counters from blockstore_processor
  ledger/src/blockstore_processor.rs
Labels: automerge

#31489 Removes needless borrows
  core/src/serve_repair.rs
Labels: automerge

#31399 `borrow_mut` -> `borrow` in two places
  programs/sbf/rust/invoke/src/processor.rs
Labels: community, need:merge-assist

#31529 removes feature gate code sending votes to tpu-vote-port
  core/src/next_leader.rs
  core/src/replay_stage.rs
  core/src/tvu.rs
  core/src/voting_service.rs
  runtime/src/bank.rs
Labels: automerge

#31544 add block-sub argument to solana-test-validator
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
Labels: automerge, community, need:merge-assist

#31419 Batch rpc calls in `solana-tokens distribute-spl-tokens`
  tokens/src/commands.rs
  tokens/src/spl_token.rs
Labels: community, need:merge-assist

#31574 ci: make mergify only remove automerge when PR hasn't been merged
  .mergify.yml
Labels: automerge

#31580 Bump librocksdb-sys to 0.8.3 and bindgen to 0.64.0
  Cargo.lock
Labels: community, need:merge-assist

#31603 Revert "Update CI pipeline to only run `checks` step on version bump …
  ci/buildkite-pipeline.sh
Labels: v1.14

#31628 [docs] Add note about txids to signature status RPC method docs
  docs/src/api/methods/_getSignatureStatuses.mdx
  docs/src/api/websocket/_signatureSubscribe.mdx
Labels: v1.14

#31645 ci: install lld to docker images
  ci/docker-rust/Dockerfile
Labels: automerge

#31637 race condition when running solana-program-test
  banks-server/src/banks_server.rs
  runtime/src/bank.rs
Labels: need:merge-assist

#31655 ledger-tool: Move ELF magic numbers into constant with comment
  ledger-tool/src/program.rs
Labels: automerge

#31538 Allow leader schedule up to one epoch in the future to be fetched, to…
  cli/src/cluster_query.rs
Labels: need:merge-assist

#31334 Remove unneccessary Arc clones
  send-transaction-service/src/send_transaction_service.rs
Labels: stale

#31651 [docs] remove incorrect pubkey param from getEpochInfo
  docs/src/api/methods/_getEpochInfo.mdx
Labels: automerge, v1.14

#31653 [docs] add error response for getBlockTime RPC call
  docs/src/api/methods/_getBlockTime.mdx
Labels: automerge, v1.14

#31686 Fix warning about unused mut in ledger-tool
  ledger-tool/src/program.rs
Labels: automerge

#31688 Eradicate zombie RPC threads
  core/src/validator.rs
  rpc/src/rpc_service.rs
Labels: automerge, v1.14

#31692 Temporarily use stable clippy for redundant_clone
  ci/test-checks.sh
Labels: automerge

#31608 [zk-token-sdk] rename and restructure `CloseAccount` and `WithdrawWithheld` proof instructions
  programs/zk-token-proof-tests/tests/process_transaction.rs
  programs/zk-token-proof/src/lib.rs
  zk-token-sdk/src/instruction/close_account.rs
  zk-token-sdk/src/instruction/ctxt_ctxt_equality.rs
  zk-token-sdk/src/instruction/mod.rs
  zk-token-sdk/src/instruction/pubkey_validity.rs
  zk-token-sdk/src/instruction/transfer.rs
  zk-token-sdk/src/instruction/transfer_with_fee.rs
  zk-token-sdk/src/instruction/withdraw.rs
  zk-token-sdk/src/instruction/withdraw_withheld.rs
  zk-token-sdk/src/instruction/zero_balance.rs
  zk-token-sdk/src/sigma_proofs/ctxt_comm_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/ctxt_ctxt_equality_proof.rs
  zk-token-sdk/src/sigma_proofs/mod.rs
  zk-token-sdk/src/sigma_proofs/pubkey_proof.rs
  zk-token-sdk/src/sigma_proofs/zero_balance_proof.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod.rs
  zk-token-sdk/src/zk_token_proof_instruction.rs
Labels: v1.14

#31716 runtime: rename executor cache datapoint
  program-runtime/src/loaded_programs.rs
Labels: automerge

#31712 process_get_epoch_info resulting in duration value underflow
  cli/src/cluster_query.rs
Labels: automerge, community, need:merge-assist

#31669 improve pubsub error handling
  pubsub-client/src/nonblocking/pubsub_client.rs
  pubsub-client/src/pubsub_client.rs
Labels: automerge, community, need:merge-assist

#31728 Adjust mmap and FD count for net scripts
  net/scripts/network-config.sh
Labels: automerge

#31743 rbpf-cli: fix deprecation notice
  rbpf-cli/src/main.rs
Labels: community, need:merge-assist

#31729 fix: `addressTableLookups` no longer serialized unless version set
  transaction-status/src/lib.rs
Labels: RPC

#31436 Add alt_bn128 syscall tests (and fix related issues)
  programs/sbf/Cargo.lock
  programs/sbf/c/src/alt_bn128/alt_bn128.c
  programs/sbf/rust/alt_bn128/Cargo.toml
  programs/sbf/rust/alt_bn128/src/lib.rs
  programs/sbf/tests/programs.rs
  sdk/bpf/c/inc/sol/inc/alt_bn128.inc
  sdk/program/src/alt_bn128.rs
  sdk/sbf/c/inc/sol/alt_bn128.h
  sdk/sbf/c/inc/sol/inc/alt_bn128.inc
Labels: community, need:merge-assist

#31778 Moves transient accounts hash cache files into their own dir
  runtime/src/accounts_db.rs
Labels: automerge

#31790 Fixed typo: worskapce ==> workspace
  zk-keygen/Cargo.toml
Labels: automerge

#31774 Add Windows installation instructions
  docs/src/getstarted/local.md
Labels: community, need:merge-assist

#31829 remove inaccurate comment about system instructions
  sdk/program/src/lib.rs
Labels: automerge, community, need:merge-assist

#31847 Add snapshots arguments to the ledger tool command because numerous o…
  docs/src/running-validator/restart-cluster.md
Labels: automerge, need:merge-assist

#31858 Add --active-stake-alert-threshold to watchtower
  watchtower/src/main.rs
Labels: automerge, community, need:merge-assist

#31845 Clean up Spl type conversions
  account-decoder/src/parse_account_data.rs
  account-decoder/src/parse_token.rs
  accounts-cluster-bench/src/main.rs
  ledger/src/token_balances.rs
  rpc/src/parsed_token_accounts.rs
  tokens/src/commands.rs
  tokens/src/spl_token.rs
  transaction-status/src/parse_associated_token.rs
  transaction-status/src/parse_token.rs
  transaction-status/src/parse_token/extension/cpi_guard.rs
  transaction-status/src/parse_token/extension/default_account_state.rs
  transaction-status/src/parse_token/extension/memo_transfer.rs
  transaction-status/src/parse_token/extension/mint_close_authority.rs
  transaction-status/src/parse_token/extension/permanent_delegate.rs
  transaction-status/src/parse_token/extension/reallocate.rs
  transaction-status/src/parse_token/extension/transfer_fee.rs
  validator/src/admin_rpc_service.rs
Labels: v1.16

#30975 Bump borsh to 0.10.3
  .buildkite/scripts/build-downstream-projects.sh
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  sdk/program/Cargo.toml
  sdk/program/src/stake/state.rs
  sdk/program/src/system_instruction.rs
  transaction-status/Cargo.toml
  transaction-status/src/parse_associated_token.rs
Labels: community, do-not-close, need:merge-assist, v1.16

#31855 [zk-token-sdk] Refactor `zk-token-elgamal` conversion code for authenticated encryption, range proof, and sigma proof types
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/pod/auth_encryption.rs
  zk-token-sdk/src/zk_token_elgamal/pod/range_proof.rs
  zk-token-sdk/src/zk_token_elgamal/pod/sigma_proofs.rs
Labels: v1.16

#31849 [zk-token-sdk] Add `GroupedElGamalCiphertext` type
  zk-token-sdk/src/encryption/grouped_elgamal.rs
  zk-token-sdk/src/encryption/mod.rs
  zk-token-sdk/src/zk_token_elgamal/pod/grouped_elgamal.rs
  zk-token-sdk/src/zk_token_elgamal/pod/mod.rs
Labels: v1.16

#31860 Correct LICENSE to conform with https://apache.org/licenses/LICENSE-2.0
  LICENSE
Labels: automerge, community, need:merge-assist

#31895 chore: use workspace's tempfile
  bench-tps/Cargo.toml
Labels: automerge

#31848 [zk-token-sdk] Refactor transfer instruction
  zk-token-sdk/src/instruction/mod.rs
  zk-token-sdk/src/instruction/transfer/encryption.rs
  zk-token-sdk/src/instruction/transfer/mod.rs
  zk-token-sdk/src/instruction/transfer/with_fee.rs
  zk-token-sdk/src/instruction/transfer/without_fee.rs
  zk-token-sdk/src/zk_token_elgamal/convert.rs
  zk-token-sdk/src/zk_token_elgamal/ops.rs
Labels: v1.16

#31879 Relax gossip to banking stage filtering to allow refreshed votes
  core/src/verified_vote_packets.rs
Labels: automerge, v1.14
