Repository solana-labs/solana, pull requests merged in 2024-03, with the labels that each got.

#34984 SDK: refactor `Signer` and `Signers` traits
  cli/src/cli.rs
  cli/src/cluster_query.rs
  cli/src/nonce.rs
  cli/src/program.rs
  cli/src/program_v4.rs
  cli/src/stake.rs
  cli/src/vote.rs
  sdk/src/signer/mod.rs
  sdk/src/signer/signers.rs
  tokens/src/commands.rs
Labels: community, need:merge-assist

#35299 Fix - `test_feature_activation_loaded_programs_recompilation_phase()`
  program-runtime/src/loaded_programs.rs
  runtime/src/bank/tests.rs
Labels: v1.18

#35124 blockstore: atomize slot clearing, relax parent slot meta check
  ledger/src/blockstore.rs
  ledger/src/blockstore/blockstore_purge.rs
Labels: v1.17, v1.18

#35151 Add GHA to close new issues with a comment
  .github/workflows/close-new-issues.yml
Labels: stale

#35434 remove repetitive words
  core/src/consensus/heaviest_subtree_fork_choice.rs
  core/src/replay_stage.rs
  docs/static/katex/katex.js
  docs/static/katex/katex.mjs
  dos/src/main.rs
  download-utils/src/lib.rs
  local-cluster/tests/local_cluster.rs
  sdk/program/src/secp256k1_recover.rs
  sdk/src/secp256k1_instruction.rs
  send-transaction-service/src/tpu_info.rs
Labels: community, need:merge-assist
