Repository solana-labs/solana, pull requests merged in 2024-02, with the labels that each got.

#35038 sdk: Do not derive AbiEnum on InstructionError for Solana builds
  sdk/program/src/instruction.rs
Labels: v1.18

#35054 Fix: decayed_counter can overflow if shifted more than 63
  program-runtime/src/loaded_programs.rs
Labels: v1.18

#35069 Removes redundant check on STORE_META_OVERHEAD
  accounts-db/src/append_vec.rs
Labels: automerge

#35010 Avoid account index entry Arc clone in shrinking
  accounts-db/src/accounts_db.rs
  accounts-db/src/accounts_index.rs
Labels: automerge

#35048 Update SECURITY.md
  SECURITY.md
Labels: community, need:merge-assist

#35072 Show error instead of panic on passphrase mismatch during solana-keygen
  keygen/src/keygen.rs
Labels: community, need:merge-assist

#35023 Cleanup - Removes `LoadedProgram::maybe_expiration_slot`
  program-runtime/src/loaded_programs.rs
  programs/bpf_loader/src/lib.rs
  programs/loader-v4/src/lib.rs
  svm/src/transaction_processor.rs
Labels: automerge

#35126 chore: bump toml from 0.8.8 to 0.8.10
  Cargo.lock
  Cargo.toml
Labels: automerge

#35113 sdk: add `Immutable` and `IncorrectAuthority` to `ProgramError`
  sdk/program/src/program_error.rs
Labels: v1.18

#35148 Upgrades Rust to 1.76.0
  rust-toolchain.toml
Labels: automerge

#35172 chore(docs): proofreading
  docs/README.md
  docs/src/proposals/comprehensive-compute-fees.md
  docs/src/proposals/simple-payment-and-state-verification.md
  metrics/README.md
Labels: community, need:merge-assist

#35159 chore: bump toml for programs/sbf from 0.5.8 to 0.5.11
  programs/sbf/Cargo.lock
Labels: automerge

#35191 Report lost_insertions metrics correctly
  program-runtime/src/loaded_programs.rs
Labels: v1.17, v1.18

#35200 Fix: add missing required attribute to LOOKUP_TABLE_ADDRESS arg for get subcommand
  cli/src/address_lookup_table.rs
Labels: community, need:merge-assist

#35206 Bump version to v1.18.3
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#35210 fix: correct typo in alt_bn128 function names.
  sdk/program/src/alt_bn128/mod.rs
Labels: community, need:merge-assist

#35202 Update README.md
  docs/README.md
Labels: community, need:merge-assist

#35173 replay: reload tower if set-identity during startup
  core/src/consensus.rs
  core/src/replay_stage.rs
  sdk/program/src/vote/state/mod.rs
Labels: v1.17, v1.18

#35255 Makes help's default for `--accounts-index-path` consistent
  ledger-tool/src/main.rs
  validator/src/cli.rs
Labels: automerge

#35229 validator: ignore too old tower error
  core/src/consensus.rs
  core/src/replay_stage.rs
Labels: need:merge-assist

#35203 cli: program set-upgrade-authority sign-only
  cli/src/program.rs
  cli/tests/program.rs
Labels: community, need:merge-assist

#35283 Fix - program loading with effective slot at epoch boundary
  runtime/src/bank/tests.rs
  svm/src/transaction_processor.rs
Labels: v1.17, v1.18

#35217 move changelog note of default central-scheduler
  CHANGELOG.md
Labels: changelog

#35298 fix: cleanup
  core/src/banking_stage/forwarder.rs
  core/src/banking_stage/qos_service.rs
  core/src/banking_stage/unprocessed_transaction_storage.rs
Labels: automerge, community, need:merge-assist

#35308 Replaces ReadAccountMapEntry in more tests
  accounts-db/src/accounts_db.rs
  accounts-db/src/accounts_index.rs
Labels: automerge

#35309 Removes get_account_read_entry()
  accounts-db/src/accounts_index.rs
Labels: automerge

#35300 hash: Use `finalize().into()` instead of `try_into()` for hash results
  Cargo.lock
  Cargo.toml
  frozen-abi/src/hash.rs
  programs/sbf/Cargo.lock
  sdk/program/src/keccak.rs
  sdk/program/src/message/legacy.rs
  sdk/program/src/message/versions/mod.rs
Labels: community, need:merge-assist

#35313 Update version to v1.17.24
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#35315 rpc: optimize `getTokenLargestAccounts`
  rpc/src/rpc.rs
Labels: community, need:merge-assist

#35342 Add limit to looping in banking-stage
  core/src/banking_stage/consumer.rs
  program-runtime/src/loaded_programs.rs
  runtime/src/bank.rs
  svm/src/transaction_processor.rs
Labels: v1.18
