Repository solana-labs/solana, pull requests merged in 2024-01, with the labels that each got.

#34604 Bump prio-graph version to 0.2.1
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
Labels: automerge

#34636 v1.17: pin ahash to 0.8.4
  Cargo.toml
  programs/sbf/Cargo.lock
Labels: automerge

#34631 clippy: validator lints
  validator/src/dashboard.rs
Labels: automerge

#34628 clippy: accounts-db lints
  accounts-db/src/rolling_bit_field/iterators.rs
Labels: automerge

#34270 blockstore: populate duplicate shred proofs for merkle root conflicts
  core/src/window_service.rs
  ledger/src/blockstore.rs
  ledger/src/blockstore_meta.rs
  sdk/src/feature_set.rs
Labels: feature-gate

#34620 [program-test] adding method warp_to_epoch
  program-test/src/lib.rs
  program-test/tests/warp.rs
Labels: community, need:merge-assist

#34194 Deprecate account meta executable read/update in bpf loaders
  cli/src/program.rs
  cli/tests/program.rs
  program-runtime/src/invoke_context.rs
  programs/bpf_loader/src/lib.rs
  programs/bpf_loader/src/serialization.rs
  programs/loader-v4/src/lib.rs
  programs/sbf/benches/bpf_loader.rs
  programs/sbf/tests/programs.rs
  runtime/src/accounts/mod.rs
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/account.rs
  sdk/src/feature_set.rs
  sdk/src/transaction_context.rs
Labels: feature-gate

#34629 clippy: core lints
  core/src/banking_stage/consumer.rs
  core/tests/fork-selection.rs
Labels: automerge

#34621 Solana program deployment failed because blockhash was expired during…
  client/src/send_and_confirm_transactions_in_parallel.rs
Labels: need:merge-assist

#34652 Unlock only if lock_result was Ok
  accounts-db/src/accounts.rs
Labels: v1.16, v1.17

#34733 ci: cancel the previous build when a new commit lands
  .github/workflows/downstream-project-anchor.yml
  .github/workflows/downstream-project-spl.yml
Labels: automerge

#34730 cli: Use program length for deployments instead of 2x length
  CHANGELOG.md
  cli/src/program.rs
  cli/tests/program.rs
  docs/src/cli/examples/deploy-a-program.md
Labels: automerge

#34740 Bigtable: update google proto files and allow configuration of max_message_size
  ledger-tool/src/bigtable.rs
  rpc/src/rpc.rs
  rpc/src/rpc_service.rs
  storage-bigtable/proto/google.api.rs
  storage-bigtable/proto/google.bigtable.v2.rs
  storage-bigtable/proto/google.rpc.rs
  storage-bigtable/src/bigtable.rs
  storage-bigtable/src/lib.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: v1.17

#34747 [zk-token-proof] include `VerifyBatchRangeProofU256` in the `enable_zk_transfer_with_fee` feature gate
  programs/zk-token-proof/src/lib.rs
Labels: v1.17

#34795 ci: use openssl 3.1.1 for Windows build
  .github/workflows/release-artifacts.yml
Labels: automerge, v1.16, v1.17

#34800 Update SECURITY.md
  SECURITY.md
Labels: community, need:merge-assist

#34817 sdk: add bounds check when instantiating `Keypair` from byte array
  sdk/src/signer/keypair.rs
Labels: v1.17

#34808 Fix versioned message json deserialization
  sdk/program/src/message/versions/mod.rs
Labels: v1.17

#34823 v1.17: Bump h2 to v0.3.24
  Cargo.lock
  programs/sbf/Cargo.lock
Labels: automerge

#34763 [zk-token-sdk] Restrict Edwards and Ristretto multiscalar multiplication vector length to at most 512
  programs/bpf_loader/src/syscalls/mod.rs
  sdk/src/feature_set.rs
Labels: v1.17

#34619 rpc: parse token accounts in simulate_transaction
  rpc/src/parsed_token_accounts.rs
  rpc/src/rpc.rs
  rpc/src/rpc/account_resolver.rs
  rpc/src/rpc_subscriptions.rs
Labels: v1.17

#34794 ci: publish crates directly
  ci/publish-crate.sh
Labels: v1.17

#34883 Replaces fs-err in snapshot_utils fns
  runtime/src/snapshot_utils.rs
Labels: automerge

#34495 rpc: add tests for simulate transaction inner instructions
  rpc/src/rpc.rs
Labels: do-not-close

#34906 Replaces fs-err in purge_bank_snapshot()
  runtime/src/snapshot_utils.rs
Labels: automerge

#34865 Remove congestion multiplier from calculate fee
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/fee.rs
Labels: community, need:merge-assist

#34902 Replaces fs-err in clean_orphaned_account_snapshot_dirs()
  core/src/validator.rs
  ledger-tool/src/ledger_utils.rs
  runtime/src/snapshot_utils.rs
Labels: automerge

#34914 Support json parsing of epoch-rewards partition data sysvar accounts
  account-decoder/src/parse_sysvar.rs
Labels: v1.18

#34934 Move EpochRewardsHasher to solana-sdk
  Cargo.lock
  programs/sbf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/epoch_rewards_hasher.rs
  sdk/Cargo.toml
  sdk/src/epoch_rewards_hasher.rs
  sdk/src/lib.rs
Labels: v1.18

#34947 Use ThreadLocalMultiIterator for tests
  core/src/validator.rs
  local-cluster/tests/local_cluster.rs
Labels: automerge

#34922 accounts-cluster-bench: Break early when a max-accounts limit is reached
  accounts-cluster-bench/src/main.rs
Labels: automerge

#34773 Add rpc support for partitioned rewards
  rpc/src/rpc.rs
  validator/src/bin/solana-test-validator.rs
Labels: v1.18

#34931 Cli: Return final transaction signature in solana program deploy
  cli-output/src/cli_output.rs
  cli/src/program.rs
  cli/src/program_v4.rs
Labels: automerge, community, need:merge-assist

#34946 Skip creating reward partition account for `--partitioned-epoch-rewards-force-enable-single-slot`
  runtime/src/bank.rs
Labels: automerge

#34949 Remove unused get_append_vec_id function
  accounts-db/src/accounts_db.rs
Labels: automerge

#34976 Removes unused parameters from AccountsHashVerifier::new()
  core/src/accounts_hash_verifier.rs
  core/src/validator.rs
  core/tests/epoch_accounts_hash.rs
  core/tests/snapshots.rs
  ledger-tool/src/ledger_utils.rs
Labels: automerge

#34986 Update version to v1.17.19
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34985 Update version to v1.18.1
  Cargo.lock
  Cargo.toml
  programs/sbf/Cargo.lock
  programs/sbf/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/fail/Cargo.toml
  sdk/cargo-build-sbf/tests/crates/noop/Cargo.toml
Labels: automerge

#34992 Fix bank new_from_field for epoch reward status
  runtime/src/bank.rs
  runtime/src/bank/serde_snapshot.rs
Labels: v1.18

#35018 Revert PRs caused hash mismatch
  runtime/src/bank.rs
  runtime/src/bank/tests.rs
  sdk/src/fee.rs
Labels: v1.18
